<html ap:decorate="~{layout/layout-contents}">
<body>
	<!-- #ap_container -->
	<div ap:fragment="layout-contents">
		<!-- 01-24 html 수정 -->
		<div class="ap_contents customer_center">
			<div class="panel">
				<form class="validate" action="/cs/doInquiry" method="post" enctype="multipart/form-data">
					<fieldset class="form inquiry">
						<legend class="sr_only">문의 정보 입력</legend>
						<div class="input_group">
							<div>
								<select name="foReceivedInquiryTypeSn" title="문의 유형 선택">
									<option value="all">전체</option>
									<option th:each=" i : ${inquiryType}" th:value="${i.inquiryTypeSn}" th:text="${i.inquiryTypeName}">매장픽업</option>
								</select>
						  </div>
						</div>
						<button type="button" class="btn_lg_neutral w100p mgt10" id="b_inqOrd">문의할 주문/제품 선택</button>
						<input type="hidden" name="ordHistNo" id="ordHistNo">
						<div class="attached mgt10"></div>
						<div class="input_group">
							<div>
								<input type="text" name="inquiryTitle" placeholder="제목" required="required" data-msg="제목을 입력해 주세요." maxlength="200">
							</div>
						</div>
						<div class="input_group">
							<div>
								<textarea name="inquiryBodyText" placeholder="내용" required="required" data-msg="내용을 입력해 주세요."></textarea>
							</div>
						</div>
						<div class="ui_input_images">
							<input type="file" id="i_picture" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="multiple" style="display:none" />
							<label for="i_picture" class="btn_md_neutral w100p mgt10">사진첨부</label>
							<ul class="attach"></ul>
							<p class="text_notice">첨부파일은 이미지 파일만 가능하며, 최대 10개까지 등록 하실 수 있습니다. (최대 파일 용량 10MB)</p>
						</div>
						<div class="input_group">
							<div>
								<input type="text" title="이메일 입력" name="customerEmailAddress" placeholder="이메일 입력" email="email"
								 th:value="${session.LOGIN_USER.member.emailAddress}" required="required" data-msg-required="이메일을 입력해 주세요.">
							</div>
						</div>
						<div class="input_group">
							<div>
								<input type="tel" placeholder="휴대폰번호(선택)" id="phoneNo" name="customerPhoneNo1.phoneNo" mobile-number="mobile-number"
								 th:value="${session.LOGIN_USER.member.phoneNo1.phoneNo}">
							</div>
						</div>
						<div class="check_wrap mgt10">
							<input type="checkbox" id="sms_check" name="smsResponseNotifyYn" value="Y" th:checked="${session.LOGIN_USER.member.phoneNo1.phoneNo} == null ? false : true">
							<label for="sms_check">SMS 답변 알림 </label>
						</div>
						<div class="form_btns">
							<button type="button" id="confirm" class="btn_lg_primary w100p">등록</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--/* 하단 js등을 실행하는 마지막 영역 */-->
	<th:block ap:fragment="layout-endpoint">
		<script ap:src="@{/handlebars-templates/compiled/cs/order-list.js}"></script>
		<script ap:src="@{/handlebars-templates/compiled/cs/layer-inquiry.js}"></script>
		<script th:inline="javascript">
			var limit = 10, totalCount, c_offset;
			var temp = "";
			var $el;

			$( '.ui_input_images' ).inputImages();

			//문의 등록
			$('#confirm').off('click').on('click',function(e) {
				var $form = $('form.validate');
				if($('[name=foReceivedInquiryTypeSn]').val() == 'all') {
					AP.modal.alert('문의 유형을 선택해주세요.');
					return;
				}

				if ($form.valid()) {
					var formData = AP.common.getFormData($form);
					$( '.ui_input_images' ).inputImages( 'extendFormData', formData );

					$(this).attr('disabled', true);
					AP.api.inquiry({}, formData ).done(function ( data ) {
						if (data) {
							if(data.registYn) {
								AP.modal.alert("등록되었습니다.").addListener('modal-close', function(e) {
									location.href="/my/page/myInquiryList";
								});
							} else {
								AP.modal.alert("등록에 실패했습니다. 잠시후 다시 시도해 주시기 바랍니다.").addListener('modal-close', function(e) {
									$('#confirm').attr('disabled', false);
								});
							}
						}
					}).fail(function ( e ) {
						AP.modal.alert(e.responseJSON.errorData.message).addListener('modal-close', function(e) {
							$('#confirm').attr('disabled', false);
						});
					}).always(function () {
						//성공, 실패
					});
				}
			});

			//sms 답변알림 체크
			$('#phoneNo').on('blur', function(e){
				if ($('#phoneNo').val() == null || $('#phoneNo').val() == "") {
					$('#sms_check').prop('checked', false);
				} else {
					$('#sms_check').prop('checked', true);
				}
			});

			//문의할 제품/주문 선택
			$('#b_inqOrd').on('click', function(e){
				var modal = AP.modal.open({
					templateKey : 'cs.layer-inquiry'
				});

				getOrderPage(0, true);
				$el = modal.getElement();

				//더보기 버튼 클릭
				$('#b_more').off('click').on('click', function(e) {
					if (c_offset + limit <= totalCount) {
						getOrderPage(c_offset + limit, false);
					}
				});

				//적용 버튼 클릭
				$('#b_apply').off('click').on('click', function(e) {
					var ordInfo = JSON.parse($('[name=order]:checked').val());
					var str = "<p class='bullet_dot ellipsis'>" + ordInfo.ordName + "</p>" +
								"<button class='ui_close' type='button' onclick='deleteOrd()'>" +
								"<span class='sr_only'>선택상품 삭제</span></button>";

					$('#ordHistNo').attr('value', ordInfo.ordHistNo);
					$('.attached').html(str);

					temp = ordInfo.ordSn;

					modal.close();
				});
			});

			function getOrderPage(offset, restart) {

				$('.loading').show();
				$('#b_more').hide();

				if (restart == true) {
					$('table').hide();
					$('#more').empty();
				}

				c_offset = offset;

				AP.api.getOrderPage({}, {
					offset : offset,
					limit : limit
				}).done(function(data) {
					if (data) {
						totalCount = data.totalCount;

						var count = (offset + limit) > totalCount ? totalCount : (offset + limit);
						var htmlStr = AP.common.getTemplate('cs.order-list', {
							list : data.data
						});

						$('#more').append(htmlStr);

						if(totalCount > 0) {
							if ($('[name=order]:checked').val() == null){
								$('#o_' + temp).prop('checked', true);
								$el.find( '.ui_table_striped' ).tableStriped();
							}

							  $("#b_more").html("더보기(<em> " + count + "</em> / " + totalCount + ")");

							$('.table_striped').on('click', function(e){
								$el.find( '.ui_table_striped' ).tableStriped();
								$el.find( '.ui_table_striped' ).tableStriped('updated');
								$('#b_apply').attr('disabled', false);
							});

							$('.loading').hide();
							$('table').show();
							$('#b_more').show();
						} else {
							$('.loading').hide();
							$('table').show();
							$('#b_more').hide();
						}
					}
				}).fail(function(e) {
					AP.modal.alert(e.responseJSON.errorData.message).addListener('modal-close', function(e) {
						$('.layer_close').click();
					});
				}).always(function() {
				});
			}

			function deleteOrd() {
				$('.attached').empty();
				$('#ordHistNo').attr('value', null);
				temp = null;
			}

			$('[name=inquiryBodyText]').on('keyup', function(e){
				var str = $(this).val();
				var enterCount = AP.common.getEnterCount(str);

				if(str.length + enterCount > 2000){
					$(this).val(str.substring(0,(2000 - enterCount)));
					AP.modal.alert('내용은 최대 2000자까지 입력 가능합니다.');
				}
			});
		</script>
	</th:block>
	<body>
</html>
