<!-- 이벤트 배너 영역 -->
<div class="m_evt_area">
	{{#each this.planDisplayList }}
		<div>
			{{#xif this.planDisplayTypeCode '==' 'Link'}}
				<a href="{{this.linkNoticeUrl}}"{{#xif this.newWindowYn '==' 'Y'}}target="_blank"{{/xif}} >
			{{else}}
				<a href="/display/event_detail?planDisplaySn={{ this.planDisplaySn }}">
			{{/xif}}
				<img src="{{ absolutePath this.bannerImgM1 }}" alt="" />
			</a>
		</div>
	{{/each}}
</div>
<!-- // 이벤트 배너 영역 -->

