{{#each this.planDisplayList}}
<li>
	<img alt="" src="{{ absolutePath this.bannerImgP1 }}">
	<dl class="sr_only">
		<dt>
			{{ this.planDisplayTitle }}
		</dt>
		<dd>{{ dateFormat this.eventStartDt }}~{{ dateFormat this.eventEndDt }}</dd>
	</dl>
</li>
{{/each}}