<li class="product_item" data-prod-sn="{{this.prodSn}}">
	<div class="option_info">
		<div class="option_name">
			{{this.prodName}}
			<em class="additional" style="display: none;"></em>
			<em class="num" style="display: none;"></em>
		</div>
		<div class="price"><span><strong class="num">{{numberFormat this.prodPriceSummaryStp.finalOnlinePriceStp}}</strong>원</span></div>
		<div class="btn btn_del">
			<button type="button"><span class="sr_only">상품 삭제</span></button>
		</div>
	</div>
</li>