<div class="sample_apply order">
	<form class="validate whole" method="post" enctype="multipart/form-data">
		<input type="hidden" name="eventParticipantSn" value="{{ this.eventParticipantSn }}">
		<input type="hidden" name="memberSn" value="{{ this.memberSn }}">

		<div class="delivery_info">
			<div class="title_area clear">
				<h4 class="h_title sub">당첨내역</h4>
			</div>
			<div class="panel bordered gray mgt40">
				<div class="panel_cont ui_table">
					<dl>
						<dt><b>당첨자</b></dt>
						<dd class="name">{{ this.member.name }}</dd>
					</dl>
					<dl>
						<dt><b>사은품</b></dt>
						<dd class="prd_name">{{ this.productName }}</dd>
					</dl>
				</div>
			</div>
			<br>

			<fieldset class="form">
				<legend class="sr_only">배송 정보 입력</legend>
				<div class="title_area clear">
					<h4 class="h_title sub">배송정보</h4>
					<span class="check_wrap">
						<input type="checkbox" id="check01" class="load_info">
						<label for="check01">회원정보 불러오기</label>
					</span>
				</div>

				<div class="ui_table">
					<dl>
						<dt><label for="user_name2"><b>이름</b></label></dt>
						<dd>
							<div class="input_wrap w100p">
								<input type="text" name="name" id="name" placeholder="이름을 입력하세요." required="required" name="name" data-msg-required="이름을 입력해 주세요.">
							</div>
						</dd>
					</dl>
					<dl>
						<dt><label for="telNo1"><b>휴대폰번호</b></label></dt>
						<dd>
							<div class="input_wrap w100p">
								<input type="text" name="telNo1" id="telNo1" placeholder="‘-’없이 숫자만 입력" required="required" data-msg-required="휴대폰번호를 입력해 주세요." mobile-number="mobile-number" data-msg-mobile-number="휴대폰 번호를 정확히 입력하세요.">
							</div>
						</dd>
					</dl>
					<dl>
						<dt><b>주소</b></dt>
						<dd class="ui_find_addresses">
							<div class="w100p input_btn_wrap">
								<div class="input_wrap">
									<input type="text" name="address_keyword" class="address_keyword" title="지역명 입력" placeholder="지역명">
								</div>
								<button type="button" class="btn_md_form btn_address_find">찾기</button>
							</div>
							<div class="input_group w100p">
								<span class="input_wrap w25p">
									<input type="text" name="post_code" class="post_code" title="우편번호 입력" placeholder="우편번호" readonly="" required="required" data-msg-required="주소를 입력해 주세요.">
								</span>
								<span class="gap">&nbsp;</span>
								<span class="input_wrap">
									<input type="text" name="address_first" class="address_first" title="기본주소 입력" placeholder="기본주소" readonly="" required="required" data-msg-required="주소를 입력해 주세요.">
								</span>
							</div>
							<div class="input_wrap w100p"><input type="text" name="address_last" class="address_last" title="상세주소 입력" placeholder="상세주소"></div>
							<p class="text_notice light w100p">찾으시는 주소지 또는 건물명을 입력해주세요. <br>(예:강남대로, 한강로2가, 한강대로 100)</p>
						</dd>
					</dl>
					<input type="hidden" name="address">
				</div>

				<dl class="dl_cont mgt40">
					<dt class="h_title font_lg">
						<b>개인정보 수집 및 이용 동의 (필수)</b>
						<span class="check_wrap float_right">
							<input type="checkbox" name="termsAgreeYn" id="termsAgreeYn" value="Y" required="required" data-msg-required="개인정보 수집 및 이용 동의가 필요합니다.">
							<label for="termsAgreeYn">동의합니다.</label>
						</span>
					</dt>
					<dd class="light mgt20">
						<div class="panel bordered padding15">
							<div class="panel_cont pd_sm">
								<ul class="list_bullet_dot">
									<li>수집 및 이용 항목 : 배송 정보</li>
									<li>수집 및 이용 목적 : 경품 배송</li>
									<li>이용·보유 및 이용 기간 : 발송후 3개월뒤 삭제</li>
								</ul>
							</div>
						</div>
						<ul class="text_notice mgt20">
							<li>신청자는 개인정보 수집 및 이용 동의에 거부할 수 있습니다. 다만, 거부할 경우 경품 발송이 불가능 합니다.</li>
						</ul>
					</dd>
				</dl>
			</fieldset>
		</div>

		<div class="form_btns mgt40">
			<button class="btn_lg_secondary reset" type="button">다시작성</button>
			<button class="btn_lg_neutral regist" type="button">등록</button>
		</div>
		<dl class="dl_cont notice mgt40">
			<dt class="h_title cont"><i class="ico_notice"></i> 사은품 배송 관련</dt>
			<dd>
				<ul class="list_bullet_dot">
					<li>배송이 필요한 시간은 주간 단위로 매주 0요일에 일괄 배송업체로 전달됩니다.</li>
					<li>회원정보가 잘못되어 반품되거나 연락이 불가능할 경우 재배송이 되지 않으며, 신청 후 탈퇴한 경우 신청이 취소됩니다.</li>
					<li>사은품 신청 후 주소 변경 긴급 문의 및 사은품 파손 교체 문의는 고객센터로 문의해 주시기 바랍니다.</li>
				</ul>
			</dd>
		</dl>
	</form>
</div>