<div class="align_center">
	{{#each this.awards}}
		<img src="{{ this.prodImg }}" alt="{{ this.prodName }}">
	{{/each}}
</div>
<p class="h_title cont text_center">축하드립니다.</p>
<p class="text_center mgt15 line_h_25">
	{{#each this.awards}}
	<em>[{{ this.prodName }}]</em>{{#xif ../awards.length '>' 1}}<br>{{/xif}}
	{{/each}}
	에 당첨되셨습니다.<br>
	배송지 정보를 입력하셔야 당첨이 완료됩니다.
</p>
<div class="page_btns mgt40">
	<button class="btn_lg_primary" type="button">배송지 정보 입력하기</button>
</div>