<h2 class="title"><b>베스트포트리뷰</b></h2>
<div class="slide" data-ix-options="view-length:2; move-length:1">
	<div class="ix-list-viewport list_product cell04 wide144">
		<ul class="ix-list-items">
			<li class="ix-list-item product_box">
				<a href="#none">
					<div class="visual_section gradient">
						<img ap:src="@{/images/dummy/IMG1521TdB505709594.jpg}" alt="{제품명}">
					</div>
					<div class="info_section">
						<p class="txt_summary ellipsis line2">아이오페<br>[NEW] 베이비 선쿠션</p>
						<div class="price_atc">
							<span class="txt_sale">30%</span>
							<span class="txt_price"><em>100,000</em>원</span>
						</div>
					</div>
					<div class="photo_review">
						<div class="photo">
							<img ap:src="@{/images/dummy/img_theme_02.jpg}" alt="">
						</div>
						<div class="text">
							아이오페 에이지 코렉터 2500 눈밑, 팔자주름관리하기
						</div>
					</div>
				</a>
			</li>
			<li class="ix-list-item product_box">
				<a href="#none">
					<div class="visual_section gradient">
						<img ap:src="@{/images/dummy/img_product_thumb_08.jpg}" alt="{제품명}">
					</div>
					<div class="info_section">
						<p class="txt_summary ellipsis line2">아이오페<br>[리필미 에디션] 워터 슬리핑 마스크</p>
						<div class="price_atc">
							<span class="txt_sale">1+1</span>
							<span class="txt_price"><em>100,000</em>원</span>
						</div>
					</div>
					<div class="photo_review">
						<div class="photo">
							<img ap:src="@{/images/dummy/img_theme_03.jpg}" alt="">
						</div>
						<div class="text">
							아이오페 에이지 코렉터 2500 눈밑, 팔자주름관리하기
						</div>
					</div>
				</a>
			</li>
			<li class="ix-list-item product_box">
				<a href="#none">
					<div class="visual_section gradient">
						<img ap:src="@{/images/dummy/IMG1521TdB505709594.jpg}" alt="{제품명}">
					</div>
					<div class="info_section">
						<p class="txt_summary ellipsis line2">아이오페<br>[NEW] 베이비 선쿠션</p>
						<div class="price_atc">
							<span class="txt_sale">30%</span>
							<span class="txt_price"><em>100,000</em>원</span>
						</div>
					</div>
					<div class="photo_review">
						<div class="photo">
							<img ap:src="@{/images/dummy/img_theme_02.jpg}" alt="">
						</div>
						<div class="text">
							아이오페 에이지 코렉터 2500 눈밑, 팔자주름관리하기
						</div>
					</div>
				</a>
			</li>
			<li class="ix-list-item product_box">
				<a href="#none">
					<div class="visual_section gradient">
						<img ap:src="@{/images/dummy/img_product_thumb_08.jpg}" alt="{제품명}">
					</div>
					<div class="info_section">
						<p class="txt_summary ellipsis line2">아이오페<br>[리필미 에디션] 워터 슬리핑 마스크</p>
						<div class="price_atc">
							<span class="txt_sale">1+1</span>
							<span class="txt_price"><em>100,000</em>원</span>
						</div>
					</div>
					<div class="photo_review">
						<div class="photo">
							<img ap:src="@{/images/dummy/img_theme_03.jpg}" alt="">
						</div>
						<div class="text">
							아이오페 에이지 코렉터 2500 눈밑, 팔자주름관리하기
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="ix-controller round_box">
		<div class="slide_direction">
			<a class="ix-btn-prev" href="#none"><span class="sr_only">Prev</span></a>
			<a class="ix-btn-next" href="#none"><span class="sr_only">Next</span></a>
		</div>
	</div>
</div>
<a href="#none" class="more">더보기</a>