<div class="ui_accordion ＠accordion-apply">
	<dl>
		<dt class="on"><b class="title">결제 상세 내역</b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="false" style="display: block;">

			<div class="product_price">
				<dl>
					<dt>주문금액</dt>
					<dd class="price"><b>153,000</b>원</dd>
					<dd class="details">
						<dl>
							<dt>Apmall 상품 9개</dt>
							<dd>153,000원</dd>
						</dl>
						<!-- 주문금액 입점몰별로 구분 (180823) -->
						<dl>
							<dt>이니스프리 상품 2개</dt>
							<dd>23,000원</dd>
						</dl>
						<dl>
							<dt>데싱디바, 머지 상품 4개</dt>
							<dd>23,000원</dd>
						</dl>
						<!--// 주문금액 입점몰별로 구분 (180823) -->
					</dd>
				</dl>
				<dl>
					<dt>뷰티포인트 상품</dt>
					<dd class="price"><b>13,000</b>P</dd>
				</dl>
				<dl>
					<dt>배송비</dt>
					<dd class="price"><b>2,500</b>원</dd>
					<dd class="details">
						<dl>
							<dt>Apmall 배송비</dt>
							<dd>0원</dd>
						</dl>
						<!-- 배송비 입점몰별로 구분 (180823) -->
						<dl>
							<dt>이니스프리 배송비</dt>
							<dd>2,500원</dd>
						</dl>
						<dl>
							<dt>데싱디바, 머지 배송비</dt>
							<dd>2,500원</dd>
						</dl>
						<!--// 배송비 입점몰별로 구분 (180823) -->
					</dd>
				</dl>
				<dl>
					<dt>총 할인</dt>
					<dd class="price"><b>-20,000</b>원</dd>
					<dd class="details">
						<dl>
							<dt>쿠폰할인</dt>
							<dd><span>-12,000</span>원</dd>
						</dl>
						<dl>
							<dt>키프트카드 사용</dt>
							<dd><span>-12,000</span>원</dd>
						</dl>
						<dl>
							<dt>예치금 사용</dt>
							<dd><span>-12,000</span>원</dd>
						</dl>
						<dl>
							<dt>뷰티포인트 사용</dt>
							<dd><span>-12,000</span> P </dd>
						</dl>
					</dd>
				</dl>

				<div class="ui_tooltip ＠tooltip-apply">
					<dl class="add_point">
						<dt>적립예정 뷰티포인트<button type="button" class="btn_tooltip"><span>자세히</span></button> </dt>
						<dd class="price"><b>2,000</b> P </dd>
					</dl>
					<div class="layer_tooltip">
						<dl>
							<dt>뷰티포인트 적립안내</dt>
							<!-- 레이아웃 변경 (180824) -->
							<dd>
								<p class="text"></p><p class="text">고객님의 아모레퍼시픽 뷰티포인트 통합회원 등급에 따라 결제금액의 기본 1%+우대 최대 4%가 적립됩니다. (고객별 상이)</p>
								<p class="text">뷰티포인트 적립 기준금액은 [최종결제금액-뷰티포인트 적립 제외상품 금액-배송비]로 계산된 금액입니다.</p>
								<p class="text">특가상품(투데이핫딜), 프로모션 상품(상품할인, M+N, 즉시할인, 동시구매 등)은 뷰티포인트 적립대상에서 제외됩니다.</p>
								<p class="text">플러스멤버십 할인(10%)이 적용된 상품은 뷰티포인트 적립대상에 포함됩니다.</p>
								<p class="text">적립 예정 뷰티포인트는 주문상품의 구매확정 시점에 자동으로 적립되며, 사용기한은 적립일로부터 1년입니다.</p>
								<p class="text">주문 제품의 취소/환불/반품시 적립된 뷰티포인트도 자동 회수 처리됩니다.</p>
								<p class="text">보다 자세한 뷰티포인트 이용 안내는 뷰티포인트 웹사이트(www.beautypoint.co.kr)에서 확인하실 수 있습니다.</p>
								<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
							</dd>
							<!--// 레이아웃 변경 (180824) -->
						</dl>
					</div>
				</div>

				<dl class="total">
					<dt><em><b>최종 결제 금액</b></em></dt>
					<dd class="price"><em><b>20,000</b>원</em></dd>
				</dl>
			</div>
		</dd>
	</dl>
</div>