<div class="layer_popup fullpage non_member btn_y bg_w">
	<div class="layer_wrap">
		<dl class="layer">
			<dt class="layer_title">비회원 구매동의</dt>
			<dd class="layer_cont"> <!--클래스 수정 (180823)-->
				<div class="section">
					<span class="chk_h28 label_col01 agree_all"><input type="checkbox" name="chk03" id="check_all"><label for="check_all">모든 약관 동의</label></span>
					<dl class="mgt20">
						<dt>
							<span class="chk_h28 label_col01 agree1"><input type="checkbox" name="chk03" id="agree1"><label for="agree1">비회원 구매 이용 약관 동의</label></span>
							<a href="#none" class="btn_view_policy"><i class="ico_navi next"></i><span class="sr_only">자세히보기</span></a>
						</dt>
						<dd>
							<p class="text">이 약관은 (주)아모레퍼시픽에서 운영하는 아모레퍼시픽몰에서 제공	하는 인터넷 관련 서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임 사항을 규정함을 목적으로 합니다</p>
						</dd>
					</dl>
					<dl class="mgt35">
						<dt class="h_title d4"><b>비회원 구매 개인정보 수집</b></dt>
						<dd>
							<p class="text font_sm color_light_gray">(주)아모레퍼시픽은 다음과 같이 서비스 제공을 위한 이용자의 개인	정보를 수집, 취급위탁하고 있습니다</p>
							<div class="ui_accordion mgt10">
								<dl>
									<dt>
										<span class="chk_h28 label_col01 agree2"><input type="checkbox" name="" id="agree2"><label for="agree2">개인정보 수집에 대한 동의</label></span>
										<button type="button"><i class="ico_navi"><span class="sr_only">더보기</span></i></button>
									</dt>
									<dd>
										<ul class="list_bullet_dot font_sm">
											<li>주문자 및 물품수령인의 성명, 주문비밀번호 수집
												<p class="color_light_gray">수집과 이용목적 : 서비스 이용에 따른 본인 식별절차에 이용, 불량	회원의 부정한 이용 재발 방지<br>
													이용과 보유기간 : 물품 또는 서비스가 인도되거나 제공된 때까지</p>
											</li>
											<li>주문자 및 물품수령인의 전화번호, 전자우편주소, 배송주소, 기타요구사항 수집
												<p class="color_light_gray">수집과 이용목적 : 공지사항 전달, 본인의사 확인, 불만처리 등을 위한 의사소통 경로 확보, 물품배송<br>
													이용과 보유기간 : 물품 또는 서비스가 인도되거나 제공된 때까지</p></li>
											<li>IP주소, 방문일시 수집
												<p class="color_light_gray">수집과 이용목적 : 주문정보 확인
													이용과 보유기간 : 물품 또는 서비스가 인도되거나 제공된 때까지</p></li>
											<li>신용카드 종류, 카드번호, 유효기간 수집
												<p class="color_light_gray">수집과 이용목적 : 대금결제<br>
													이용과 보유기간 : 대금의 완제일 또는 채권소멸 시효기간이 만료된 때까지</p> </li>
											<li>
												거래 은행명, 계좌번호, 거래자 성명 수집
												<p class="color_light_gray">수집과 이용목적 : 대금결제<br>
													이용과 보유기간 : 대금의 완제일 또는 채권소멸 시효기간이 만료된 때까지</p>
											</li>
										</ul>
									</dd>
								</dl>
								<dl>
									<dt>
										<span class="chk_h28 label_col01 agree3"><input type="checkbox" name="" id="agree3"><label for="agree3">개인정보 취급위탁에 대한 동의</label></span>
										<button type="button"><i class="ico_navi"><span class="sr_only">더보기</span></i></button>
									</dt>
									<dd>
										<ul class="list_bullet_dot font_sm color_light_gray">
											<li> 취급위탁 받는자 : 한국아이비엠 주식회사<br>
												취급위탁 업무내용 : 개인정보의 전산처리 및 관리, 이메일 발송</li>
											<li>취급위탁 받는자 : (주)아이시프트<br>
												취급위탁 업무내용 : 인터넷 쇼핑몰, 커뮤니티 운영 업무</li>
											<li>취급위탁 받는자 : (주)케이지 이니시스, LG U+, (주)엘지씨엔에스,(주)케이알파트너스<br>
												취급위탁 업무내용 : 결제대행 업무</li>
											<li>취급위탁 받는자 : 세르파<br>
												취급위탁 업무내용 : 물류 관리 및 고객 상담 업무</li>
											<li>취급위탁 받는자 : CJ GLS<br>
												취급위탁 업무내용 : 제품 및 경품 배송</li>
											<li>취급위탁 받는자 : LG U+<br>
												취급위탁 업무내용 : SMS, MMS 등 문자메세지 발송</li>
										</ul>
									</dd>
								</dl>
							</div>
						</dd>
					</dl>
				</div>
			</dd>
		</dl>
		<div class="layer_btns">
			<button type="button" id="btnAgreeNext" class="btn_h50_pp">동의하고 진행</button> <!--disabled 빼주시면 됩니다 활성화 버튼스타일 됩니다-->
		</div>
		<button class="layer_close" type="button"><i class="ico_close"></i><span class="sr_only">레이어 닫기</span></button>
	</div>
</div>

<script>
	$( document ).ready(function() {
		$('.ui_accordion').accordion();
	});
</script>
