<dl class="layer">
	<dt class="layer_title">정보변경</dt>
	<dd class="layer_cont info_change">
		<form class="change-validate">
			<fieldset class="form">
				<legend class="sr_only">정보변경</legend>
				<div class="input_group">
					<div class="label">
						<label for="changeName1">이름</label>
					</div>
					<div>
						<input type="text" id="changeName1" name="changeName1" value="{{ name1 }}" placeholder="이름을 입력해주세요." required="required" data-msg-required="이름을 입력해주세요.">
					</div>
				</div>
				<div class="input_group">
					<div class="label">
						<label for="changePhoneNo">휴대폰번호</label>
					</div>
					<div>
						<input type="text" id="changePhoneNo" name="changePhoneNo"" value="{{ phoneNo }}" placeholder="-없이 숫자만 입력해주세요." required="required" data-msg-required="휴대폰번호를 입력해주세요.">
					</div>
				</div>
				<div class="input_group">
					<div class="label">
						<label for="changePurchaserEmailAddress">이메일</label>
					</div>
					<div>
						<input type="text" id="changePurchaserEmailAddress" name="changePurchaserEmailAddress" value="{{ purchaserEmailAddress }}" placeholder="이메일을 입력해주세요." required="required" data-msg-required="이메일을 입력해주세요.">
					</div>
				</div>
				<div class="check_wrap mgt10"><input type="checkbox" id="memberChageCheck" name="memberChageCheck"><label for="memberChageCheck">회원정보도 동일하게 변경</label></div>
				<div class="form_btns">
					<button class="btn_md_secondary" type="button">취소</button>
					<button class="btn_md_neutral" type="button">변경하기</button>
				</div>
			</fieldset>
		</form>
	</dd>
</dl>
<button class="layer_close" type="button">레이어 닫기</button>
