<th:block layout:fragment="beauty-point-body">
	

	<div class="pbody panel bg_white board_list2">
		<div class="board_list type02">
			<table>
				<caption class="sr_only">뷰티포인트 목록</caption>
				<colgroup>
					<col width="110">
					<col width="80">
					<col width="*">
					<col width="130">
					<col width="130">
					<col width="120">
				</colgroup>
				<thead>
				<tr>
					<th scope="col">적립일</th>
					<th scope="col">유형</th>
					<th scope="col">내용</th>
					<th scope="col">적립 뷰티포인트</th>
					<th scope="col">사용 뷰티포인트</th>
					<th scope="col">만료 예정일</th>
				</tr>
				</thead>
				<tbody>
      			<tr th:each="item : ${#IntegUtil.subList(ptBrkd.ptTrBrkdInqVo, 10)}">
					<td th:text="${#IntegUtil.dateformat(item.trApvlDt, 'yyyy.MM.dd')}">2018.01.05</td>
					<td th:text="${item.xtclNm}">적립</td>
					<td th:text="${item.xttpNm}" class="align_left">포인트 선물 적립</td>
					<td th:if="${item.tlmcCd == '10'}">( <em> + </em> ) <th:block th:text="${#IntegUtil.toCommaNumber(item.aplyPt)}">100,000</th:block>P</td>
					<td th:if="${item.tlmcCd == '10'}">( - ) 0P</td>
					<td th:if="${item.tlmcCd == '20'}">( + ) 0P</td>
					<td th:if="${item.tlmcCd == '20'}">( - ) <th:block th:text="${#IntegUtil.toCommaNumber(item.aplyPt)}">100,000</th:block>P</td>
					<td th:if="${item.extcSchdDt != ''}" th:text="${#IntegUtil.dateformat(item.extcSchdDt, 'yyyy.MM.dd')}">2018.10.31</td>
       			</tr>

				<tr>
					<td colspan="6" th:if="${ptBrkd.pageVo.totalRowCount == '0'}">
						<div class="no_data">
							<p>내역이 없습니다.</p>
						</div>
					</td>
				</tr>
				
				</tbody>
			</table>
		</div>
	</div>
		
	<div class="pbody pagination bg_gray" th:with="pageVo=${#IntegUtil.initPageInfo(ptBrkd.pageVo, 10)}">
		<a href="javascript:;" th:onclick="'more(' + ${pageVo.prePage} + ')'" class="navi prev" th:classappend="${!pageVo.hasPrePage}? disabled : null" th:disabled="${!pageVo.hasPrePage}? 'disabled' : null">이전</a>
		<th:block th:each="page : ${pageVo.pageList}">
			<a href="javascript:;" th:onclick="'more(' + ${page} + ')'" th:text="${page}" th:classappend="${pageVo.curPage == page}? 'current' : null">2</a>
		</th:block>
		<a href="javascript:;" th:onclick="'more(' + ${pageVo.nextPage} + ')'" class="navi next" th:classappend="${!pageVo.hasNextPage}? disabled : null" th:disabled="${!pageVo.hasNextPage}? 'disabled' : null">다음</a>
	</div>
</th:block>