<th:block layout:fragment="deposit-history-list">


	<div class="pbody panel bg_white board_list2">
		<div class="board_list type02">
			<table>
				<caption class="sr_only">예치금 목록</caption>
				<colgroup>
					<col width="130">
					<col width="130">
					<col width="">
					<col width="130">
					<col width="130">
				</colgroup>
				<thead>
				<tr>
					<th scope="col">날짜</th>
					<th scope="col">주문번호</th>
					<th scope="col">환불계좌</th>
					<th scope="col">구분</th>
					<th scope="col">결제금액</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="item : ${depositHostory.depositHistories}">
					<td th:text="${#IntegUtil.dateformat(item.depositHistOccurDt, 'yyyy.MM.dd')}">0000.00.00</td>
					<td><a th:href="'/my/page/order/detail/' + ${item.ordNo}" th:text="${item.ordNo}">201703291064376</a></td>
					
					<td>
						<th:block th:if="${item.acHolderName}" th:text="${item.acHolderName.name1}"></th:block>/
						<th:block th:if="${item.bankName}" th:text="${item.bankName}"></th:block>/
						<th:block th:if="${item.bankAcNo}" th:text="${item.bankAcNo}"></th:block>/
					</td>
					<td th:text="${#IntegUtil.currencyTypeConverter(item.depositHistTypeCode)}">예치금 적립</td>
					<td th:utext="${#IntegUtil.currencyConverter(item.deposit)}">(+) 999,999원</td>
				</tr>
				<tr>
					<td colspan="5" th:if="${pageVo.totalRowCount == '0'}">
						<div class="no_data">
							<p>내역이 없습니다.</p>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="pbody pagination bg_gray" th:with="pageVo=${#IntegUtil.initPageInfo(pageVo, 10)}">
		<a href="#none" th:onclick="'more(' + ${pageVo.prePage} + ')'" class="navi prev" th:classappend="${!pageVo.hasPrePage}? disabled : null" th:disabled="${!pageVo.hasPrePage}? 'disabled' : null">이전</a>
		<th:block th:each="page : ${pageVo.pageList}">
			<a href="#none" th:onclick="'more(' + ${page} + ')'" th:text="${page}" th:classappend="${pageVo.curPage == page}? 'current' : null">2</a>
		</th:block>
		<a href="#none" th:onclick="'more(' + ${pageVo.nextPage} + ')'" class="navi next" th:classappend="${!pageVo.hasNextPage}? disabled : null" th:disabled="${!pageVo.hasNextPage}? 'disabled' : null">다음</a>
	</div>
	
	
</th:block>