<th:block layout:fragment="gift-card-body">
	

	<div class="panel bg_white">
		<div class="board_list type02 gift_card">
			<table>
				<caption class="sr_only">기프트카드 적립/사용 목록</caption>
				<colgroup>
					<col width="100">
					<col width="70">
					<col width="168">
					<col width="120">
					<col width="120">
					<col width="100">
					<col width="100">
					<col width="120">
				</colgroup>
				<thead>
				<tr>
					<th scope="col">발급일</th>
					<th scope="col">카드번호</th>
					<th scope="col">보낸사람</th>
					<th scope="col">발행금액</th>
					<th scope="col">사용금액</th>
					<th scope="col">상태</th>
					<th scope="col">잔액</th>
					<th scope="col">유효기간</th>
				</tr>
				</thead>
				<tbody th:unless="${pageVo.totalRowCount == '0'}">
					<tr th:each="item : ${giftcardList}">
						<td th:text="${#IntegUtil.dateformat(item.issueDate, 'yyyy.MM.dd')}">0000.00.00</td>
						<td th:text="${item.barcode}">7246010001140958</td>
						<td class="align_left"><p th:text="${item.from}">내용은 여기까지</p></td>
						<td>(+) <th:block th:text="${#IntegUtil.toCommaNumber(item.faceprice)}">999,99</th:block>P</td>
						<td>(-) <th:block th:text="${#IntegUtil.toCommaNumber(item.amount)}">999,99</th:block>P</td>
						<td th:text="${#IntegUtil.getGiftCardStatusName(item.status)}">사용가능</td>
						<td><th:block th:text="${#IntegUtil.toCommaNumber(item.balance)}">999,999</th:block>원</td>
						<td><th:block th:text="${#IntegUtil.dateformat(item.issueDate, 'yyyy.MM.dd')}">0000.00.00</th:block> - <th:block th:text="${#IntegUtil.dateformat(item.expirationDate, 'yyyy.MM.dd')}">0000.00.00</th:block></td>
					</tr>
				</tbody>
				<tbody th:if="${pageVo.totalRowCount == '0'}">
				<tr>
					<td colspan="8">
						<div class="no_data">
							<p>내역이 없습니다.</p>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
		
	<div class="pbody pagination bg_gray" th:with="pageVo=${#IntegUtil.initPageInfo(pageVo, 10)}">
		<a href="javascript:;" th:onclick="'more(' + ${pageVo.prePage} + ')'" class="navi prev" th:classappend="${!pageVo.hasPrePage}? disabled : null" th:disabled="${!pageVo.hasPrePage}? 'disabled' : null">이전</a>
		<th:block th:each="page : ${pageVo.pageList}">
			<a href="javascript:;" th:onclick="'more(' + ${page} + ')'" th:text="${page}" th:classappend="${pageVo.curPage == page}? 'current' : null">2</a>
		</th:block>
		<a href="javascript:;" th:onclick="'more(' + ${pageVo.nextPage} + ')'" class="navi next" th:classappend="${!pageVo.hasNextPage}? disabled : null" th:disabled="${!pageVo.hasNextPage}? 'disabled' : null">다음</a>
	</div>
</th:block>