<!--/* 고객센터 왼쪽 공통영역 */-->
<div class="aside_area">
	<ul>
		<li><a href="/my/page/onlineOrderShipping"><i class="ico_order_inquiry"></i>주문/배송조회</a></li>
		<li><a href="/my/page/myCouponList"><i class="ico_coupon"></i>쿠폰</a></li>
		<li><a href="/my/page/info/beautyPoint"><i class="ico_btp"></i>뷰티포인트</a></li>
		<li><a href="/my/page/myGiftCardList"><i class="ico_giftcard"></i>기프트카드</a></li>
		<li><a href="/my/page/ship/address"><i class="ico_delivery_location"></i>배송지관리</a></li>
		<li><a href="#"><i class="ico_onepay"></i>One pay 카드관리</a></li>
		<li><a href="/my/page/myDepositList"><i class="ico_pay"></i>예치금/계좌관리</a></li>
		<li><a href="/my/page/myLike"><i class="ico_like2"></i>좋아요</a></li>
		<li><a href="/my/page/myReviewList"><i class="ico_review"></i>구매 리뷰</a></li>
		<li><a href="/my/page/myInquiryList"><i class="ico_inquiry"></i>1:1 상담</a></li>
		<li><a href="/my/page/info/changeUserInfo"><i class="ico_info_modify"></i>회원정보 수정</a></li>

	</ul>
</div>