총 <strong class="num" id="totalPrdCnt">0</strong>개 <span class="vline"></span>
<strong class="num">{{ numberFormat cartEx.calculationResult.productOrderTotalAmountInfo.standardCurrency.amount }}</strong>원
