  <!--쿠폰/포인트 혜택사용-->
<dl class="coupon_benefit_use" th:if="${memberSn > 0}">
	<dt>
		<div class="title clear">
			<b>쿠폰/포인트 혜택사용</b>
			<span class="thumbnail" id="checkedCoupon"></span><!--0326 : 추가-->
		</div>
		<button type="button"><span class="sr_only">더보기</span></button>
	</dt>
	<dd class="panel">
	<fieldset class="form">
		<legend class="sr_only">쿠폰/포인트 혜택사용 선택</legend>
			<div class="coupon">
				<div class="clear">
					<div>
						<span class="title">사용쿠폰</span>
						<div class="ui_tooltip take_out">
							<button type="button" class="btn_tooltip">툴팁보기</button>
							<span class="arr"></span>
							<div class="layer_tooltip">
								<dl>
									<dt>쿠폰 안내</dt>
									<dd>
										<p class="h_title"><b>온라인 쿠폰(온라인전용쿠폰)</b></p>
										<ul class="mgt10 list_bullet_dot">
											<li>온라인쇼핑몰에서만 사용 가능한 쿠폰입니다.</li>
											<li>온라인에서 발행한 오프라인 쿠폰의 경우, 쿠폰확인 버튼 탭 후 팝업에서 쿠폰번호를 입력하세요.</li>
										</ul>
										<p class="h_title mgt15"><b>통합쿠폰(온오프통합쿠폰)</b></p>
										<ul class="mgt10 list_bullet_dot">
											<li>온라인쇼핑몰과 매장에서 동시에 사용 가능한 쿠폰입니다.</li>
											<li>통합쿠폰을 온라인쇼핑몰에서 사용하시면 매장에서는 사용 할 수 없습니다.</li>
										</ul>
										<p class="h_title mgt15"><b>유의사항</b></p>
										<ul class="mgt10 list_bullet_dot">
											<li>쿠폰은 온라인쿠폰과 통합쿠폰 중 하나만 사용하셔야 됩니다.</li>
											<li>쿠폰사용시 할인포인트를 적용 받을 수 없습니다.</li>
											<li>쿠폰 별로 최대 구매금액이 다를 수 있습니다.</li>
										</ul>
										<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
									</dd>
								</dl>
							</div>
			  			</div>
					</div>
					<div>
						<span class="price"><strong class="eng" id="useCouponAmt">0</strong> 원</span>
						<button type="button" class="btn_sm_neutral_round" id="b_coupon">쿠폰조회</button>
					</div>
				</div>
				<div id="add">
				<!--<div class="usage_details">
					<p class="title"><span class="flag coupon">쿠폰</span> 20,000원 할인 <button type="button"><em>취소</em></button></p>
					<p class="desc">회원등급별 발급쿠폰 No.2018 Happy</p>
				</div>-->
				</div>
			</div>

			<!--<div class="coupon">
				<div class="clear">
					<div>
						<span class="title">뷰티포인트</span>
						<div class="ui_tooltip take_out">
							<button type="button" class="btn_tooltip">툴팁보기</button>
							<span class="arr"></span>
							<div class="layer_tooltip">
								<dl>
									<dt>뷰티포인트 사용 안내</dt>
									<dd>
										<ul class="list_bullet_dot">
											<li>보유 뷰티포인트내에서 일부 또는 전액을 결제금액으로 차감하여 사용이 가능합니다.</li>
											<li>1+1 이벤트 등 일부 행사상품은 뷰티포인트를 적용할 수 없습니다.</li>
											<li>상품 할인과 중복 적용되지 않습니다. (원판매가 기준 사용)</li>
											<li>할인 쿠폰과 중복 사용할 수 없습니다.</li>
										</ul>
										<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div>
						<span class="price"><strong class="num">0P /</strong><span> 보유 <strong class="num">0P</strong></span></span>
					</div>
				</div>
				<p class="text_notice">뷰티포인트 전용 제품구매시 자동으로 보유 포인트 중 사용액이 설정됩니다.</p>
			</div>

			<div class="coupon">
				<div class="clear">
					<div>
						<span class="check_wrap pd0"><input type="checkbox" id="check04_1"><label for="check04_1" class="title">쿠션포인트</label></span>
						<div class="ui_tooltip take_out">
							<button type="button" class="btn_tooltip">툴팁보기</button>
							<span class="arr"></span>
							<div class="layer_tooltip">
								<dl>
									<dt>뷰티포인트 사용 안내</dt>
									<dd>
										<ul class="list_bullet_dot">
											<li>보유 뷰티포인트내에서 일부 또는 전액을 결제금액으로 차감하여 사용이 가능합니다.</li>
											<li>1+1 이벤트 등 일부 행사상품은 뷰티포인트를 적용할 수 없습니다.</li>
											<li>상품 할인과 중복 적용되지 않습니다. (원판매가 기준 사용)</li>
											<li>할인 쿠폰과 중복 사용할 수 없습니다.</li>
										</ul>
										<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div>
						<span class="price"><strong class="num">0P /</strong><span> 보유 <strong class="num">0P</strong></span></span>
					</div>
				</div>
				<p class="text_notice">쿠션포인트는 쿠션상품 구매 시만 사용이 가능합니다.</p>
			</div>

			<div class="coupon">
				<div class="clear">
					<div>
						<span class="check_wrap pd0"><input type="checkbox" id="check04_2"><label for="check04_2" class="title">OK캐쉬백 포인트</label></span>
						<div class="ui_tooltip take_out">
							<button type="button" class="btn_tooltip">툴팁보기</button>
							<span class="arr"></span>
							<div class="layer_tooltip">
								<dl>
									<dt>OK캐쉬백 사용 안내</dt>
									<dd>
										<ul class="list_bullet_dot">
											<li>OK캐쉬백 부분 사용 가능</li>
											<li>쿠폰 및 뷰티포인트 사용후 OK캐쉬백 적용 가능</li>
											<li>OK캐쉬백 사용 시 최초1회만 OK캐쉬백 APP 설치 후 인증 필요합니다.</li>
											<li>온라인상품에만 적용 가능</li>
										</ul>
										<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<div class="input_group">
				<div>
					<input type="text" value="0">
				</div>
				<div class="btn">
					<button type="button">포인트조회</button>
				</div>
			</div>
			<p class="text_notice">OK캐쉬백 사용은 상단 제품(온라인 주문만 가능)에만 적용됩니다. </p>
			<p class="text_notice">OK캐쉬백 최소 사용 금액은 000점 이상 사용해 주세요. 100P 단위로사용 가능합니다.</p>
			</div>-->
	</fieldset>
</dd>
<!--스크립트 정의-->
<script th:inline="javascript">

	/* 사용가능한 쿠폰목록 */
	$('#b_coupon').on('click', function() {
		var ordSn = /*[[${ordEx.ordSn}]]*/ 'default';
		AP.api.getCouponList({}, {
			ordSn : ordSn
		}).done(function(data) {
			if (data.result = "success") {
				// 사용가능 쿠폰수
				var couponCnt = data.availCouponCnt;
				// 사용가능 쿠폰목록
				var couponExList = data.availCouponExList;
				var modal = AP.modal.full({
					title: '쿠폰조회',
					contents: {
						templateKey: 'order.fullpage-coupon-use',
						templateModel: {
							couponCnt : couponCnt,
							list : couponExList
						}
					},
					containerClass: 'coupon_use'
				});

				// 탭상위(tab)
				modal.getElement().find( '.ui_tab' ).tabs();
				// 쿠폰목록(accordion)
				modal.getElement().find( '.ui_accordion' ).accordion();

				// 입력쿠폰 검색
				$('#search').on('click', function(e) {
					var search = $('#searchText').val();
					if (search != null || search.length() != 0) {
						getCouponSearch(search);
					}
				});

				// 쿠폰검색 엔터키 설정
				$('#searchText').keydown(function(e){
					if(e.keyCode == 13){
						var search = $('#searchText').val();
						if (search != null || search.length() != 0) {
							getCouponSearch(search);
						}
					}
				});

				// 체크박스 제어
				$('#couponAll').off('click').on('click', function(e) {
					if($(this).is(":checked")){
						$('[name="couponSn"]').prop('checked', true);
					} else {
						$('[name="couponSn"]').prop('checked', false);
					}
				});
				$('[name=couponSn]:checked').off('click').on('click', function(e) {
					if(!$(this).prop('checked')) {
						$('[name="couponSn"]').prop('checked', false);
					}else{
						$('[name="couponSn"]').prop('checked', true);
					}
				});

				// 적용
				$('#b_save').off('click').on('click', function(e) {
					if($("input[name=couponSn]").is(':checked') == false){
						AP.modal.alert("선택하신 쿠폰이 없습니다.");
					}else{
						var couponSnArr = [];
						$("input[name=couponSn]:checked").each(function() {
							var rowChkVal = $(this).val();
							couponSnArr.push(rowChkVal);
						});
						jQuery.ajaxSettings.traditional = true;
						AP.api.ordReceptChangeCoupon({}, {
							ordSn : ordSn,
							couponSnArr: couponSnArr
						}).done(function (data) {
							if (data.result = "success") {
								$.each(data.param, function(idx, obj){
									if(obj.ordHistCouponSn.length > 0) {
										var str = "\
											<div class=\"usage_details\">\n\
											<p class=\"title\"><span class=\"flag coupon\">쿠폰</span>" + obj.dcAmt + "원 할인 <button type=\"button\" id=\"b_couponClose\"><em>취소</em></button></p>\n\
											<p class=\"desc\">" + obj.dcAmt + "</p>\n\
											</div>";
										$('#add').html(str);		// 쿠폰대상
									}
								});
								//$('#useCouponAmt').html(couponSn);				// 사용쿠폰 금액
								//$('#checkedCoupon').html(couponSn + '원 할인');	// 쿠폰/포인트 혜택사용
								//AP.modal.alert("결제금액이 변경되었습니다. 쿠폰 혜택을 다시 확인해보세요.");
								/*최종결제금액*/
								//$('#totalFinalPamtPcur').html(parseInt(data.param.finalPamtPcur));
								/*쿠폰할인*/
								/*결제예정금액*/
								//$('#orderPayment').html(parseInt(data.param.finalPamtPcur) + "원 결제하기");
							}
						}).fail(function (e) {
							AP.modal.alert("fail");
						}).always(function () {

						});
						modal.close();
					}
				});

				// 취소
				$('#b_close').off('click').on('click', function(e) {
					modal.close();
				});
			}
		}).fail(function(e) {
			AP.modal.alert(e.responseJSON.errorData.message);
		}).always(function() {
		});
	});

	/* 입력쿠폰 조회*/
	function getCouponSearch(search) {
		AP.api.couponSearch({}, {
			searchText : search
		}).done(function (data) {
			if (data.result = "success") {
				//리스트 다시 호출
			}
		}).fail(function (e) {
			AP.modal.alert("fail");
		}).always(function () {

		});
	}
</script>
</dl>
<!--쿠폰/포인트 혜택사용-->
