<th:block th:each="ordOtfEx : ${ordOtfExList}">
	<dl class="package" id="box" th:if="${#lists.size(ordOtfEx.possibleGiftPackingExList) > 0}">
		<dt>
			<div class="title clear">
				<b>포장/쇼핑백 추가신청</b>
				<span class="thumbnail" id="mBoxTitle"></span>
			</div>
			<button type="button"><span class="sr_only">더보기</span></button>
		</dt>

		<dd class="panel" id="boxArea">
		</dd>

		<script th:inline="javascript">
			$( document ).ready(function() {
				boxInit();
				$( '.ui_spinner' ).spinner();
				$( '.ui_tooltip' ).tooltip();

				$('.spinner_increase').attr('disabled', true);
			});

			//포장/쇼핑백 화면 그리기
			function boxInit() {
				var ordOtfExList = /*[[${ordOtfExList}]]*/ null;	// 주문배송지시
				var finalPamtPcur = /*[[${ordEx.ordHistEx.finalPamtPcur}]]*/ '0'; // 최종결제금액
				if (ordOtfExList != null && ordOtfExList.length > 0) {
					var html = AP.common.getTemplate( 'order.gift-packing-qty-info', {
						list: ordOtfExList
						, finalPamtPcur: finalPamtPcur
					});
					$('#boxArea').append(html);
				} else {
					$('#box').remove();
				}
			}

			/* 포장/쇼핑백 체크시 */
			function boxFlserview(obj, coSn, giftPackingSn, giftPackingFee){
				var id = obj.id;
				if(obj.checked == true) {
					$('[data-flag=' + id + ']').prop('disabled', false);
				}else{
					$('[data-flag=' + id + ']').prop('disabled', true);
					$('#' + id + '_cnt').val(0);
					$('#' + id + '_sum').text('0원');
					//makeBoxInfoTitle();
					boxBagQtyChange(coSn, giftPackingSn, 0);
				}
			}

			/* 포장/쇼핑백 수량변경 */
			function boxQtyOperate(obj, coSn, giftPackingSn, giftPackingFee, giftPackingName, operator) {
				var id = obj.dataset.flag;
				if ($('#' + id).prop('checked') == false) {
					AP.modal.alert(giftPackingName + "추가 체크박스를 체크해 주세요.");
				} else {
					var totSum = 0,
						cnt = 0;
					if ("+" == operator) {
						cnt = (parseInt($('#' + id + '_cnt').val()) + 1);
						totSum = cnt * parseInt(giftPackingFee);
					} else {
						cnt = (parseInt($('#' + id + '_cnt').val()) - 1);
						totSum = cnt * parseInt(giftPackingFee);
					}
					$('#' + id + '_sum').text($B.string.numberFormat(totSum) + '원');
					//makeBoxInfoTitle();
					boxBagQtyChange(coSn, giftPackingSn, cnt);
				}

			}

			/* 포장/쇼핑백 금액 계산 */
			var ordSn = /*[[${ordEx.ordSn}]]*/ '0';
			var p_xhr;
			function boxBagQtyChange(coSn, giftPackingSn, cnt) {

				if (p_xhr != null) {
					p_xhr.abort();
				}

				p_xhr = AP.api.ordReceptChangeBag({}, {
					ordSn: ordSn,
					coSn : coSn,
					giftPackingSn : giftPackingSn,
					giftPackingQty : cnt,
					membershipSn : $('[name=beauty_point]').length > 0 ? $('[name=beauty_point]').data().membershipsn : null
				}).done(function (data) {
					if (data.ordHistEx != null){
						amtPcurInitAjax(data);

						if ($('[name="depositPrice"]').length > 0 && $('[name="depositPrice"]').val() != ""
							|| $('[name="beauty_point"]').length > 0 && $('[name="beauty_point"]').val() != "") {
							AP.modal.alert('포장/쇼핑백 추가로 인해 포인트 및 예치금 사용이 초기화됩니다.');
							$('[name="depositPrice"]').val('');
							$('[name="beauty_point"]').val('');
						}
					}
				}).fail(function (xhr) {
					//실패
					console.log(xhr.errorMessage);
				}).always(function () {
				});
			}

			/* mobile title */
			function makeBoxInfoTitle(cnt){
				var mBoxTitle = "";
				$('.spinner_input').each(function(i, selected){
					var name = this.dataset.name;
					mBoxTitle += name + " " + cnt +" / ";
				});
				$('#mBoxTitle').html(mBoxTitle.substring(0, mBoxTitle.length-3));
			}
		</script>
	</dl>
</th:block>
