@charset 'utf-8';

/* board list */
.board_list table{width:100%; line-height:1.3; border-top:2px solid #f7a2ba;}
.board_list th{padding:10px 0; border-bottom:1px solid #ccc;}
.board_list td{padding:10px; border-bottom:1px solid #e8e8e8;}

.board_list2{border-top:1px solid #333;}
.board_list2 table{width:100%; line-height:1.3;}
.board_list2 th{padding:17px 10px; border-bottom:1px solid #d2d2d2;background-color: #f5f5f5;color: #333;font-size: 16px;font-weight: 500;}
.board_list2 td{padding:18px 10px; border-bottom:1px solid #d2d2d2;color: #666;font-size: 16px;}
.board_list2 .subj a{color:#333;}
table tbody tr.notice{background-color: #f2f2f2;}
table tbody tr.notice .cate{color: #666;}

table td.num,
table td.date{color: #999;font-family: 'Arial';font-size: 14px;}
table td.cate{color: #999;}

/* board view */
.board_view{border-top:2px solid #333;}
.board_view dl{display:table; width:100%; border-bottom:1px solid #e8e8e8;}
.board_view dl>*{display:table-cell; padding:10px; line-height:1.3em;}
.board_view dl>dt{width:20%;}
.board_view .state{display:inline-block; height:20px; padding:0 5px; background:#adadad; color:#fff; font-size:13px;}
.board_view .state:before{content:''; display: inline-block; width:0; height:100%; vertical-align: middle;}
.board_view .state.done{background-color:#f7a1ba;}

/* board view */
.board_view2{border-top:1px solid #333;}
.board_view2 dl{display:table; width:100%; border-bottom:1px solid #d2d2d2;}
.board_view2 dl>dt{width:150px;text-align: center;vertical-align: middle;}
.board_view2 dl.subj{background-color: #f2f2f2;position:relative;}
.board_view2 dl.subj>*{display:table-cell; padding:21px 0; line-height:1.3em;}
.board_view2 dl.subj dd{font-size: 16px;font-weight: 500;color:#333}
.board_view2 dl.cont{}
.board_view2 dl.cont>*{display:table-cell; padding:50px 0; line-height:1.3em;}
.board_view2 dl.cont dd{padding-left: 150px;line-height: 1.5em;}
.board_view2 dl.subj dd.date {position:absolute;top:0;right:0;padding-right:30px;font-weight:normal;color:#999;font-size: 14px;font-family: 'Arial';}

/* board write */
.form .board_write{border-top:1px solid #333;padding: 0;}
.form .board_write dl{display:table; width:100%;margin-top: 0; border-bottom:1px solid #e8e8e8;}
.form .board_write dl>*{display:table-cell; padding:10px 30px; line-height:1.3em;vertical-align: middle;}
.form .board_write dl>dt{font-size: 16px;vertical-align: middle;}
/*.form .board_write .text{padding-left: 150px;color: #999999;}*/
.form .board_write .textarea{height:150px;}
.form .attach{width:100%; margin-left: -10px !important;}
.form .attach:after{content:''; display:block; clear:both;}
.form .attach>*{float:left; position:relative; width: 120px; margin:10px 0 0 10px;}
.form .attach .btn_del{position:absolute; top:10px; right:10px; width:12px;min-width: auto; height:12px; padding:0;}
.form .attach .btn_del:after{content:''; position:absolute; top:0; left:0; width:12px; height:12px;background:url('/pc/ko/images/common/ico.png') 0 -17px no-repeat;}

