@charset "UTF-8";
.brand .inner_contents{padding: 0 100px;}

.brand .h_title.lare{font-size:28px; font-weight:300; color:#333;}
.brand .h_title.lare + .text{font-size:16px;  font-weight:300; color:#333;}

/* brand overview */
.brand_overview .visual{width:600px; font-weight:300; color:#333;}
.brand_overview .visual a{display:block; padding-top:50px; text-align:center;}
.brand_overview .visual .h_title{font-size:36px;}
.brand_overview .visual .text{font-size:20px;}
.brand_overview .etude_story .visual{height:500px; background:url(/pc/ko/images/brand/bg_brand_visual_01.jpg) no-repeat;}
.brand_overview .etude_community{margin-top:80px;}
.brand_overview .etude_community .visual{height:750px; background:url(/pc/ko/images/brand/bg_brand_visual_02.jpg) no-repeat;}
.brand_overview .img_cont_box{position:relative; width:600px; height:250px; padding:65px 40px 0 340px;}
.brand_overview .img_cont_box dt{padding-bottom:15px; font-size:20px; color:#333;}
.brand_overview .img_cont_box dd{font-size:16px; font-weight:300; color:#333;}


.brand_overview .img_cont_box .img{position:absolute; top:0; left:0;}
.brand_overview .img_cont_box .more{display:inline-block; width:50px; padding:0 15px 6px 0; margin-top:10px; background:url(/pc/ko/images/brand/bg_more.png) no-repeat 100% 100%; color:#333;}
.brand_overview .img_cont_box:nth-child(even){padding:65px 340px 0 40px;}
.brand_overview .img_cont_box:nth-child(even) .img{left:auto; right:0;}
.brand_overview .etc .img_cont_box{padding:65px 340px 0 40px;}
.brand_overview .etc .img_cont_box.v2 {padding-top:78px}
.brand_overview .etc .img_cont_box .img{left:auto; right:0;}
.brand_overview .etc .img_cont_box .cont{padding-top:10px; margin-top:10px; border-top:1px solid #d2d2d2;}
.brand_overview .etc .img_cont_box .cont.v2 {padding-top:15px;margin-top:20px}

/*color factory*/
.factory_info{padding: 50px 0;font-size: 16px;text-align: center;font-weight: 300;line-height: 1.8;}
.my_color_step{margin: 50px -20px 0;}
.my_color_step h4{position: relative;padding: 70px 0 30px;font-size: 28px;font-weight: 300;text-align: center;color: #333;}
.my_color_step h4:after{content:'';position: absolute;top: 0;left: 50%;margin-left: -25px;width: 50px;height: 55px;background:url('/pc/ko/images/brand/img_color_factory_03.png') 0 0 no-repeat;}
.my_color_step ul{overflow: hidden;}
.my_color_step li{float: left;width: 50%;padding: 20px;}
.my_color_step dl{position: relative;height: 180px;padding:50px 0 0 263px;background-color: #fff;-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);color: #333;}
.my_color_step dl:after{content: '';position: absolute;top: 0;left: 0;width: 243px;height: 180px;background:url('/pc/ko/images/brand/img_my_color_01.png') 0 0 no-repeat;}
.my_color_step dl dt{font-size: 20px;padding-bottom: 15px;}
.my_color_step dl dd{font-size: 16px;font-weight: 300;line-height: 1.3;}
.my_color_step li + li dl:after{background-image: url('/pc/ko/images/brand/img_my_color_02.png');}
.my_color_step li + li + li dl:after{background-image: url('/pc/ko/images/brand/img_my_color_03.png');}
.my_color_step li + li + li + li dl:after{background-image: url('/pc/ko/images/brand/img_my_color_04.png');}
.my_color_step li + li + li + li + li dl:after{background-image: url('/pc/ko/images/brand/img_my_color_05.png');}
.my_color_step li + li + li + li + li + li dl:after{background-image: url('/pc/ko/images/brand/img_my_color_06.png');}

.factory_store{margin-top: 50px;}
.factory_store h4{position: relative;padding: 70px 0 30px;font-size: 28px;font-weight: 300;text-align: center;color: #333;}
.factory_store h4:after{content:'';position: absolute;top: 0;left: 50%;margin-left: -25px;width: 50px;height: 42px;background:url('/pc/ko/images/brand/img_color_factory_03.png') 0 100% no-repeat;}
.factory_store ul{overflow: hidden;}
.factory_store li p{margin-top: 20px;color: #333;font-size: 16px;}
.factory_store li .img{width: 235px;height: 150px;}
.factory_store .slide .ix-list-item{margin-left: 20px;width: 235px;}
.factory_store .slide [class*='_direction'] [class^="ix-btn"]{margin-top: -35px;}

.factory_service{overflow: hidden;margin-top: 50px;background: url('/pc/ko/images/brand/img_color_factory_02.jpg') 0 0 no-repeat;}
.factory_service .service_info{display: inline-block;float: right;margin-top: 60px;padding: 50px;width: 540px;background-color: #fff;}
.factory_service .service_info h4{padding-bottom: 20px;font-size: 28px;font-weight: 300;color: #333;border-bottom: 1px solid #333;}
.factory_service .service_info dl{padding: 20px 0;border-bottom: 1px solid #d2d2d2;}
.factory_service .service_info dl dt{padding-bottom: 15px;font-size: 20px;color: #333;}
.factory_service .service_info dl dd{font-size: 16px;font-weight: 300;line-height: 21px;}

/*필수항목*/
.title_wrap{position: relative;}
.title_wrap .required{position: absolute;top: 0;right: 0;}
.required{position: relative;display: inline-block;height: 18px;margin: 0 0 0 3px;padding-left: 7px;color: #f54a7e;font-size: 14px;}
.required:before{content: '';position: absolute;top: 3px;left: 0;width: 3px;height: 3px;background: url('/pc/ko/images/common/ico_required.png');-webkit-background-size: 100%;background-size: 100%;}
.title_wrap .agree_wrap{position: absolute;top: 0;right: 0;margin-top: -5px;}

.color_factory .ui_table .input_phone>*:first-child{width: 130px;}
.color_factory .ui_table>dl>dd>*:not(.check_wrap):first-child{width: 627px;}
.color_factory .ui_table .check_set{margin-top: 10px;}
.color_factory .ui_table div.check_wrap + .check_wrap{margin-top: 20px;}
.color_factory .panel + .panel{margin-top: 30px;}

.factory_reservation{margin-top: 30px;border-top: 1px solid #333;}
.factory_reservation li{clear: both;padding: 20px 30px;border-bottom: 1px solid #d2d2d2;font-size: 16px;}
.factory_reservation li:after{content:''; display: block; clear:both;}
.factory_reservation li > *{float: right;}
.factory_reservation li > *:first-child{float: left;}

.reservation_list{width: 100%;border-top: 1px solid #333;}
.reservation_list th,
.reservation_list td{padding: 15px 10px;border-bottom: 1px solid #d2d2d2;line-height: 1.3;text-align: center;font-size: 16px;}
.reservation_list th{font-weight: 500;color: #333;}

.store_map .info{position: relative;margin-top: 20px;padding: 30px;background-color: #f2f2f2;vertical-align: middle;}
.store_map .info dt{color: #333;font-size: 16px;}
.store_map .info dd span:first-child{color: #666;}
.store_map .info *{line-height: 1.5;}
.store_map .info button{position: absolute;top: 50%;right: 30px;margin-top: -20px;}
[class^="ico_"][class*="_print"]{margin-right: 8px;width:20px; height:20px; background:url(/pc/ko/images/common/ico.png) 0 -115px no-repeat}
.store_map .flag_global{display: inline-block;height: 20px;line-height: 18px;margin-left: 7px;padding: 0 5px;background-color: #f54a7e;font-size: 12px;color: #fff;}
.store_map .clear{margin-top: 20px;}
.store_map .clear > *{width: 585px;}
.store_map .clear .slide{margin-right: 30px;}
.store_map .clear .slide + .map_area{width: 585px;height: 380px !important;}
.store_map .clear .map_area{width: 100%;height: 330px;}
.store_map .ix-controller.round_box{bottom: 20px;}

.layer_cont .store_map{border-top: 0;}
.layer_cont .store_map .map_area{height: 300px;}
.layer_cont .store_map .slide{height: auto;}
.layer_cont .store_map .info{margin-top: 0;}
.layer_cont .store_map .slide .ix-thumbs{bottom:10px;}
.layer_cont .store_map .slide img{width: 100%;}

/*에뛰드 모델*/
.etude_model{width: 1000px;margin: 0 auto;border-left: 1px solid #e2e2e2;}
.etude_model .table_layout{width: 100%;}
.etude_model h3{padding-left: 30px;width: 200px;font-size: 30px;font-weight: 700;font-family: 'Arial';vertical-align: top;}
.etude_model .model_info{width: 800px;}
.etude_model .model_info dl{width: 340px;}
.etude_model .model_info dl dt{padding-bottom: 15px;font-size: 20px;font-weight: 700;color: #333;}
.etude_model .model_info dl dd{font-weight: 300;font-size: 16px;line-height: 24px;}
.etude_model .model_info + .model_info{margin-top: 40px;}

.inner_contents .title_wrap{margin: 50px 0;text-align: center;}
.inner_contents .title_wrap .title{font-size: 28px;font-weight: 300;color: #000;line-height: 40px;}
.inner_contents .title_wrap .s_title{padding-top: 30px;font-size: 16px;font-weight: 300;color: #333;line-height: 24px;}
.inner_contents .title_wrap .ico_tv{margin-right: 10px;vertical-align: initial;}
[class^="ico_"][class*="_tv"]{width: 31px;height: 27px;background: url('/pc/ko/images/brand/ico_tv.png') 0 0 no-repeat;}

/*청춘강연*/
.makeup_dream .youth_slogan{background-color: #ffbace;text-align: center;}
.makeup_dream .youth_title{margin: 50px 0;text-align: center;}
.makeup_dream .youth_title .title{margin-bottom: 20px;font-size: 40px;font-weight: 700;color: #000;}
.makeup_dream .youth_title .text{font-size: 20px;color: #333;font-weight: 300;}

.makeup_dream .youth_title .share{margin-top: 30px;}
.makeup_dream .youth_title .share > *{height: 30px;font-family:'Arial';font-size: 16px;}
.makeup_dream .youth_title .share .like{padding: 0 10px;border:1px solid #888;border-radius: 30px;}
.makeup_dream .youth_title .share .ico_like{margin-right: 10px;}
.makeup_dream .youth_title .share .btn_share{margin-left: 10px;padding: 0;}
[class^="ico_"][class*="_share"]{width: 30px;height: 30px;background-position: 0 -135px;}
[class^="ico_"][class*="_like"]{width: 20px;height: 16px;background-position: 0 -166px;}

.makeup_dream .youth_cont{}
.makeup_dream .youth_cont .title{padding: 60px 0;text-align: center;letter-spacing: -1px}
.makeup_dream .youth_cont .text.sm{color: #333;font-size: 20px;font-weight: 300;}
.makeup_dream .youth_cont .text.lg{color: #000;font-size: 40px;font-weight: 700;}
.makeup_dream .youth_cont .img_list li + li{margin-top: 10px;}

.makeup_dream .youth_list{margin-top: 100px;}
.makeup_dream .youth_list .h_title{padding-bottom: 20px;font-size: 28px;color: #333;font-weight: 300;border-bottom: 1px solid #d2d2d2;}
.makeup_dream .youth_list ul{overflow: hidden;}
.makeup_dream .youth_list ul li{float: left;margin-top: 40px;width: 500px;}
.makeup_dream .youth_list ul li > *{float: left;}
.makeup_dream .youth_list ul li .info{padding: 0 30px;width: 250px;}
.makeup_dream .youth_list ul li .info .title{padding-bottom: 10px;font-size: 20px;color: #333;line-height: 30px;font-weight: 500;}
.makeup_dream .youth_list ul li .info .text{font-size: 16px;line-height: 21px;font-weight: 300;}
.makeup_dream .youth_list ul li .info .etc{padding-top: 15px;}
.makeup_dream .youth_list ul li .info .etc > *{font-family: 'Arial';color: #999;}
.makeup_dream .youth_list ul li .info .etc .date{font-size: 16px;}
.makeup_dream .youth_list ul li .info .etc .like{position: relative;margin-left: 10px;padding-left:10px;color: #888;}
.makeup_dream .youth_list ul li .info .etc .like .ico_like{margin-right: 7px;}
.makeup_dream .youth_list ul li .info .etc .like:before{content: '';position: absolute;top: 3px;left: 0;width: 1px;height: 10px;background-color: #d2d2d2;}

.youth_event_info ul{border-top: 2px solid #333333;}
.youth_event_info li{overflow: hidden;padding: 20px 0;border-bottom: 1px solid #d2d2d2;}
.youth_event_info li > *{float: left;}
.youth_event_info li > *:first-child{padding-left: 70px;width: 260px;}

.makeup_dream .ui_table .etc > *{float: none;margin-left:0!important;width: 70%;}
.makeup_dream .ui_table .textarea{background-color: #fff;height: 200px;}
.makeup_join_info ul{margin-top: 30px!important;border-top: 1px solid #333;}
.makeup_join_info ul li{padding: 20px 30px;border-bottom: 1px solid #d2d2d2;font-size: 16px;}
.makeup_join_info ul li:last-child dd{padding-top: 10px;line-height: 1.3;}
.makeup_join_info .prize_msg{margin: 50px 0 30px;text-align: center;}
.makeup_join_info .prize_msg .img{padding: 0 50px;}
.makeup_join_info .prize_msg p{margin-top: 30px;font-size: 24px;line-height: 28px;color: #000;}
.makeup_join_info .panel.gray{padding: 40px;}
.makeup_join_info .panel.gray dl{margin: 0 auto;width: 750px;font-size: 16px;}

	/*뷰티즌*/
.beautizen .tab_cont .hd_img{position: relative;height: 340px;background:#f9cccf url('/pc/ko/images/brand/img_beautizen_01.jpg') 100% 0 no-repeat;}
.beautizen .tab_cont .hd_img .title_wrap{position: absolute;top: 50%;left: 100px;margin-top: -95px;height: 190px;letter-spacing: 0;}
.beautizen .tab_cont .hd_img .title_wrap p:first-child{padding-bottom: 10px;font-family: 'Arial';font-size: 20px;color: #ec839f;}
.beautizen .tab_cont .hd_img .title_wrap h3{color: #412511;font-weight: 300;font-size: 48px;}
.beautizen .tab_cont .hd_img .title_wrap p:last-child{padding-top: 10px;color: #412511;font-size: 18px;line-height: 26px;}

.creator_msg dl{position: relative;width: 250px;padding: 200px 25px 0;text-align: center;}
.creator_msg dl:before{content: '';position: absolute;top: 0;left: 35px;width: 180px;height: 180px;background:url('/pc/ko/images/brand/img_beautizen_03.png') 0 0 no-repeat;}
.creator_msg dl:nth-child(2):before{background-position: -180px 0;}
.creator_msg dl:nth-child(3):before{background-position: -360px 0;}
.creator_msg dl:nth-child(4):before{background-position: -540px 0;}
.creator_msg dl + dl{border-left: 1px solid #ebebeb;}
.creator_msg dl dt{padding-bottom: 15px;font-size: 20px;color: #333;font-weight: 700;}
.creator_msg dl dd{line-height: 21px;font-weight: 300;}

/*뷰티즌 지원서 작성*/
.beautizen .attach_photo{position:relative;width: 310px;padding-right: 60px;text-align: center;}
.attach_photo{position:relative;}
.attach_photo .img{overflow:hidden; display:block;margin-left: 0!important; width:250px; height:230px; border:1px solid #d2d2d2;background:url('/pc/ko/images/brand/bg_photo.gif') no-repeat;}
.attach_photo .img img{margin: 0;width: 100%;height: 100%;}
.attach_photo input[type="file"]{position: absolute; z-index: -1; visibility: hidden;}
.attach_photo label{margin-top: 20px;}

.beautizen .attach_photo + div{width: 890px;}
.beautizen .attach_photo + div .panel{padding: 30px 40px;}
.beautizen .attach_photo + div .panel .h_title{padding-bottom: 20px;border-bottom: 1px solid #d2d2d2;}
.beautizen .ui_table{padding-top: 30px;}
.beautizen .ui_table>dl>*{vertical-align: middle;}
.beautizen .ui_table>dl>dt{width: 150px;padding-right: 10px;}
.beautizen .ui_table>dl>dd>*:not(.check_wrap):first-child{width: 530px;}
.beautizen .input_phone>*:first-child{width: 130px;}
.beautizen .textarea{background-color: #fff;}
.beautizen .form .ui_table>dl>dd>* + .w100p{width: 530px!important;}
.beautizen .etc{margin-top: 15px;}
[class^="ico_"][class*="_refresh"]{margin-right: 5px;width: 20px;height: 20px;background-position: 0 -186px;}
.beautizen_facebook dt{font-size: 20px;font-weight: 500;color: #333;}
.beautizen_facebook dd{padding: 15px 0 30px;line-height: 21px;}

.beautizen_select{width: 100%;height: 340px;padding-top: 120px;background: url('/pc/ko/images/brand/img_beautizen_04.jpg') 0 0 no-repeat;vertical-align: middle;text-align: center;}
.beautizen_select h4{font-family: 'Arial';font-size: 48px;color: #fff;font-weight: 700;}
.beautizen_select p{padding-top: 20px;font-size: 18px;color: #fff;}
.beautizen_select .input_group{margin-top: 40px;padding: 0 55px;}
.beautizen_select .input_group > span:first-child{width: 300px;}
.profile_list ul{overflow: hidden;margin:50px 0 0 -50px;}
.profile_list li{float: left;width: 200px;margin:0 0 80px 100px;}
.profile_list li *{display: block;}
.profile_list li a{position: relative;}
.profile_list .link{display: none;}
.profile_list li a:hover .link{display: block;position: absolute;top: 0;left: 0;width: 200px;height: 200px;background: url('/pc/ko/images/brand/bg_hover.png') 0 0 no-repeat;}
.profile_list li img{width: 200px;}
.profile_list li .name{margin-top: 20px;font-size: 20px;color: #333;text-align: center;}
.profile_list li .text{height: 85px;margin-top: 10px;text-align: center;}
.profile_list li a:hover .name{color: #f54a7e;}
.profile_list li .link{display: none;}
.profile_list li:last-child{margin-bottom: 0;}

/*스윗캠페인*/
.campaign .hd_img{position: relative;height: 340px;background:url('/pc/ko/images/brand/img_campaign_01.jpg') 100% 0 no-repeat;}
.campaign .hd_img .title_wrap{position: absolute;top: 50%;left: 100px;margin-top: -95px;height: 190px;letter-spacing: 0;}
.campaign .hd_img .title_wrap p:first-child{padding-bottom: 10px;font-size: 20px;color: #fff;font-weight: 300;}
.campaign .hd_img .title_wrap h3{font-weight: 100;font-size: 40px;color: #fff;line-height: 50px;}
.campaign .hd_img .title_wrap b,
.campaign .hd_img .title_wrap strong{color: #fff;}
.campaign .hd_img .title_wrap a{display: inline-block;margin-top: 20px;padding: 0 20px;height: 40px;line-height: 38px;background-color: #360a17;color: #fff;font-weight: 500;font-size: 16px;}
.campaign .inner_contents .title_wrap .s_title{padding-top: 10px;}
.campaign .hash_tag{margin-top: 20px;}
.campaign .hash_tag p{font-size: 16px;color: #333;}
.campaign .hash_tag div{margin-top: 20px;}
.campaign .hash_tag div span{display: inline-block;margin-right: 7px;padding: 0 15px;height: 30px;line-height: 26px;border:1px solid #b4b4b4;border-radius: 30px;letter-spacing: 0;}

.insta_area {position: relative;}
.insta_area .insta_vsl a {display: block;}
.insta_area .btn_listMore {margin: 0; width: 898px; background: #fff;}
.insta_area .inner {margin: 0 auto; width: 909px;}
.insta-wrap {overflow: hidden; margin: 0 auto; width:909px; position: relative; padding:10px 0 0 0;}
.insta-wrap .insta {float: left; margin:0 10px 10px 0;}
.insta-wrap .insta a {display: block;position: relative;}
/*.insta-wrap .insta a:before{content:''; position: absolute; top:15px; right:15px;z-index: 2; width:28px; height:28px; background:url(/pc/ko/images/beautylife/ico_beautylife.png) no-repeat 0 -30px; vertical-align: middle;}*/
.insta-wrap .insta .instagram-media {position: relative; width:100%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px); padding:0; background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px;}

/*히스토리*/
.etude_history_wrap{padding:45px 100px !important;}
.etude_history{position:relative;}
.etude_history:before{content:''; position:absolute; top:0; left:50%; width:1px; height:100%; background:#ebebeb;}
.etude_history:after{content:''; display: block; clear: both;}
.etude_history>dl{position:relative; float:left; width:50%; padding-top:300px; padding-bottom:70px;}
.etude_history>dl:nth-child(even){float:right;}
.etude_history>dl>dt{font-family:Arial; font-size:30px; color:#333; padding:20px 0;}
.etude_history>dl .img{position:absolute; top:0; left:0; padding-right:39px;}
.etude_history>dl .img:after{content:''; position:absolute; top:50%; right:-1px; width:20px; height:1px; background:#ebebeb;}
.etude_history>dl:nth-child(even){padding-left:39px;}
.etude_history>dl:nth-child(even) .img{padding-right:0; padding-left:39px;}
.etude_history>dl:nth-child(even) .img:after{right:auto; left:0;}
.etude_history>dl:nth-child(2){margin-top:150px;}
.etude_history li{line-height:1.5; font-size:16px;}
.etude_history li:after{content:''; display: block; clear: both;}
.etude_history li .num{float:left; line-height:1.8;}
.etude_history li .cont{float:right; width:390px; font-weight:300;}
.etude_history li .cont b{font-weight:300;}
.etude_history li + li{margin-top:15px;}



/* 에뛰드하우스 */
.etude_house{padding:0 !important; font-size:16px; font-weight:300; color:#000;}
.etude_house .section{position:relative; width:1000px; margin:0 auto;}
.etude_house .section + .section{margin-top:100px;}
.etude_house .visual{position:relative; margin-bottom:50px; background:url(/pc/ko/images/brand/img_visual_etude_house.jpg) no-repeat 50% 0;}
.etude_house .visual .section{height:800px;}
.etude_house .visual .section .copy{position:absolute; top:186px; left:232px;}
.etude_house .h_title{font-weight:700; font-size:34px;}
.etude_house>dl{min-height:500px;}
.etude_house>dl>dt{width:430px; padding-top:40px;}
.etude_house>dl>dd:after{content:''; display: block; clear: both;}
.etude_house>dl:nth-of-type(odd)>dt{float:right;}
.etude_house>dl:nth-of-type(odd) .img_lg{float:left;}
.etude_house>dl:nth-of-type(even)>dt{float:left;}
.etude_house>dl:nth-of-type(even) .img_lg{float:right;}
.etude_house>dl .img_sm{position:absolute; bottom:50px; left:45%; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.etude_house>dl:nth-of-type(1) .img_sm{bottom:0;}
.etude_house>dl:nth-of-type(even) .img_sm{left:20%;}
.etude_house>dl pre{position:absolute; top:90px; width:430px;}
.etude_house>dl:nth-of-type(odd) pre{right:0;}
.etude_house>dl:nth-of-type(even) pre{left:0;}

.etude_house>dl.global{padding:0 !important;}
.etude_house .global>dt{float:none !important; width:100%; padding:0 0 25px;}
.etude_house .global>dd{position:relative; height:530px; background:url(/pc/ko/images/brand/bg_global.jpg) no-repeat;}
.etude_house .global dl{position:absolute; font-family:Arial;}
.etude_house .global dl>dt{padding-bottom:2px; color:#f54a7e; font-weight:bold; font-size:26px;}
.etude_house .global dl>dd>a{display:inline-block; padding:0 5px; color:#fff; font-size:20px; background:#f54a7e; letter-spacing: 0; line-height:24px;}
.etude_house .global .img_store{display:none; position:absolute; top:40px; right:50px;}
.etude_house .global .on + .img_store{display:block;}
.etude_house .global dl.on:after{content:''; position:absolute; width:9px; height:9px; border-radius: 50%; background:#f54a7e;}
.global .china{top:60px; left:122px;}
.global .china:after{bottom: -20px;left:64px;}
.global .korea{top: 95px;left:304px;}
.global .korea:after{bottom:-22px; left:63px;}
.global .japan{top: 145px;left:415px;}
.global .japan:after{bottom:3px; left:-22px;}
.global .hongkong{top: 205px;left:337px;}
.global .hongkong:after{bottom:27px; left:-22px;}
.global .myanmar{top: 211px;left:110px;}
.global .myanmar:after{bottom:-15px; left:63px;}
.global .thailand{top: 248px;left:195px;}
.global .thailand:after{bottom:-15px; left:56px;}
.global .vietnam{bottom: 209px;left:190px;}
.global .vietnam:after{top:-10px; left:99px;}
.global .taiwan{bottom:209px; left:376px;}
.global .taiwan:after{bottom:25px; left:-22px;}
.global .philippines{bottom: 141px;left:415px;}
.global .philippines:after{bottom:25px; left:-22px;}
.global .brunei{bottom:159px; left:298px;}
.global .brunei:after{bottom:-6px; left:57px;}
.global .malaysia{bottom:151px;left: 161px;}
.global .malaysia:after{bottom: 14px; right: -24px;}
.global .singapore{bottom:66px;left: 192px;}
.global .singapore:after{bottom: 25px; right: -14px;}
.global .indonesia{bottom:66px;left: 400px;}
.global .indonesia:after{bottom: 25px; left: -21px;}

/*뷰티즌 프로필*/
.btz_profile{margin-top: 40px;}
.btz_profile .tab_menu{width: 560px;margin: 0 auto;}
.btz_profile .tab_menu>ul>li>*{height: 40px;font-size: 14px;}
.btz_profile.type2 .tab_contents{margin: 50px auto 0;padding-top: 187px;width: 650px;background: url('/pc/ko/images/brand/btzP_top.jpg') 0 0 no-repeat;}
.btz_profile.type2 .tab_contents .tab_cont{padding: 0 57px;background: url('/pc/ko/images/brand/btzP_mid.jpg') 50% 0;}
.btz_profile.type2 .tab_contents .tab_cont .cnt_body{background: url('/pc/ko/images/brand/btzP_picbot2.jpg') 3px 0 repeat-y;text-align: center;}
.btz_profile.type2 .tab_contents .tab_cont .cnt_body span{display: inline-block;padding: 31px;background: url('/pc/ko/images/brand/btzP_picbot.jpg') 0 100% no-repeat;}

/*팝업 매장 찾기*/
.color_finder_tooltip_wrap>span {vertical-align:middle;line-height:16px}
.color_finder_tooltip_wrap button {margin-top:0 !important;}
.color_finder_tooltip_wrap>span:nth-of-type(1) {margin-right:10px}
.color_finder_tooltip_wrap .btn_tooltip {width:18px;height:18px;background: url(/pc/ko/images/common/ico_question_2.png) no-repeat;}
.color_finder_tooltip_wrap .layer_tooltip {width:400px;margin-left:-345px}
.color_finder_tooltip_wrap .layer_tooltip dt {font-size:14px;background:url(/pc/ko/images/common/ico_star_01.png) no-repeat;padding-left:17px}
.color_finder_tooltip_wrap .layer_tooltip dd {font-size:14px;line-height:18px;font-weight:400;padding-top:11px}
.color_finder_tooltip_wrap .layer_tooltip .ui_close {top:11px;right:11px}
.my_color_finder_flag {display:inline-block;width:100px;line-height:20px;padding:0 6px 0 5px;border:1px solid #f54a7e;color:#f54a7e;font-size:12px;margin-left:6px;background-color:#fff;}
/*팝업 매장 찾기*/


/*180430 추가*/
.beautizen_chk_wrap {position:absolute;top:31px;right:39px}
.beautizen_agree_panel dt {font-weight:500;color:#333;font-size:16px;}
.beautizen_agree_panel dt .check_wrap {position:absolute;top:7px;right:0}
.beautizen_agree_panel dd .agree_list_wrap {border:1px solid #d9d9d9;background:#fff;padding:25px;margin-top:15px}
.beautizen_agree_panel dd .agree_list_wrap li {line-height:20px}
.beautizen_agree_panel .result_age_chk .check_wrap {position:absolute;top:-6px;right:0}

/*매장안내*/
.find_store .form {background:#f5f5f5;padding:30px 0 30px 131px;}
.find_store .form  dt label {display:inline-block;color:#333;vertical-align:middle;margin-right:31px}
.find_store .form .input_wrap {display:inline-block;width:580px;height:60px;vertical-align:middle}
.find_store .form .input_wrap .placeholder,
.find_store .form .input_wrap>input{height:60px}
.find_store .form .input_wrap>.btn_search {top:11px;right:9px}
.find_store .form .input_wrap .btn_search + .input_del {right:55px;z-index:2}
.find_store .form .txt_search_tit_01 {font-size:20px;color:#333;margin-right:31px}
.find_store .ui_tab .tab_cont {padding-top:50px !important;}
.find_store .map_store_list_wrap {margin-top:50px}
.find_store .map_store_list_wrap:after {content:'';display:block;clear:both;}
.find_store .map_store_list_wrap .map_area {width:590px;height:580px}
.find_store .map_left_wrap {float:left;position:relative}
.find_store .map_left_wrap .map_store_dim {position:absolute;top:0;right:0;left:0;bottom:0;background:#000;opacity:0.4;z-index:5}
.find_store .store_right_wrap {float:right;width:590px}
.find_store .store_right_wrap .favorite_store_sort_button {display:inline-block;position:relative;color:#666;position:relative;top:-3px}
.find_store .store_right_wrap .favorite_store_sort_button:disabled {background-color:transparent}
.find_store .store_right_wrap .favorite_store_sort_button span {display:inline-block;}
.find_store .store_right_wrap .favorite_store_sort_button .ico_check_3 {width:13px;height:10px;background:url(/pc/ko/images/common/bg_check_3.png) no-repeat 0 -13px;margin-right:5px}
.find_store .store_right_wrap .favorite_store_sort_button.on span {color:#f54a7e}
.find_store .store_right_wrap .favorite_store_sort_button.on .ico_check_3 {background-position-y:0;position:relative;top:-2px;}

.find_store .store_right_top:after {content:'';display:block;clear:both;}
.find_store .store_right_top>span {display:block;float:left;color:#333;margin-right:10px;padding-right:10px;/*border-right:1px solid #ebebeb*/}
.find_store .store_right_top>span em {display:inline-block;margin-left:5px}
.find_store .store_right_top>div {float:right;color:#333}
.find_store .btn_tooltip {left:-159px;background:url(/pc/ko/images/common/ico_question_2.png) no-repeat;width:18px;padding:9px !important;margin-top:-4px;margin-left:5px}
.find_store .layer_tooltip {left:-318px;width:400px;color:#666;}
.find_store .layer_tooltip h4 {height: 20px;padding-left:30px;line-height: 20px;font-size:14px;font-weight:500;color:#333;background:url(/pc/ko/images/common/ico_favorite_flag_03.png) no-repeat;}
.find_store .layer_tooltip p {font-size:14px;line-height:20px;font-weight:300;padding-top:10px}
.find_store .layer_tooltip .ui_close {top:10px;right:10px}
.find_store .ui_tooltip .arr {margin-left:4px}
.find_store .store_item {border:1px solid #ebebeb;padding:15px;margin-top:10px;position:relative}
.find_store .store_item + .store_item {margin-top:14px}
.find_store .store_title {font-size:20px;font-weight:bold;color:#333;padding:2px 40px 20px 0;border-bottom:1px solid #ebebeb}
.find_store .store_info {padding-top:10px}
.find_store .store_addr {color:#333;font-size:16px}
.find_store .store_phone {display:block;color:#999;padding-top:10px}
.find_store .store_btn_wrap {text-align:right}
.find_store .store_btn_wrap button {color:#333;min-width:80px;padding:0}
.find_store .store_btn_wrap button + button {margin-left:20px}
.find_store .store_btn_wrap .favorite:before {content:'';width:20px;height:17px;background:url(/pc/ko/images/common/bg_rating_md.png) no-repeat;background-size:100%;margin-right:5px}
.find_store .store_btn_wrap .favorite.on:before {content:'';width:20px;height:17px;background:url(/pc/ko/images/common/bg_rating_md.png) no-repeat 0 -20px;background-size:100%;margin-right:5px}
.find_store .store_btn_wrap .map_print:before {content:'';width:20px;height:19px;background:url(/pc/ko/images/common/ico_print_01.png) no-repeat;background-size:100%;margin-right:5px}
.find_store .store_btn_wrap .map_call:before {content:'';width:16px;height:22px;background:url(/pc/ko/images/common/ico_map_view.png) no-repeat;background-size:100%;margin-right:5px;position:relative;top:-2px}
.find_store .ico_favolite_flag_store {position:absolute; top:12px; right:15px; width:30px; height:30px; display:block; background:url(/pc/ko/images/common/ico_favorite_flag_02.png) no-repeat;}
.find_store .layer_wrap {z-index:5}
.find_store .layer_title {background:#f54a7e;margin:0;color:#fff;font-size:20px;letter-spacing:0;border-bottom:0}
.find_store .etu_find_store_layer>p {color:#333}
.find_store .etu_find_store_layer>div {text-align:center}
.find_store .etu_find_store_layer>div p {font-size:16px;font-weight:500;color:#333;margin-top:15px;margin-bottom:15px}
.find_store .etu_find_store_layer>div button {display:inline-block;border:1px solid #b4b4b4;border-radius:20px;padding:7px 15px}
.find_store .etu_find_store_layer>div button + button {margin-left:7px}
.etu_find_store_none .tit_1 {display:block;font-size:18px;color:#999;font-weight:500}
.etu_find_store_none .tit_2 {display:block;font-size:16px;color:#999;padding-top:10px}
.find_store_open_wrap {white-space:nowrap;margin-top:50px}
.find_store_open_wrap>dl {display:inline-block;width:309px;height:215px;padding:75px 63px 0 37px;vertical-align:top}
.find_store_open_wrap>dl + dl {border-left:1px solid #ebebeb}
.find_store_open_wrap>dl:nth-of-type(1) {background:url(/pc/ko/images/common/ico_paper_01.png) no-repeat 37px 0;}
.find_store_open_wrap>dl:nth-of-type(2) {background:url(/pc/ko/images/common/ico_location_02.png) no-repeat 37px 0;}
.find_store_open_wrap>dl:nth-of-type(3) {background:url(/pc/ko/images/common/ico_store_01.png) no-repeat 37px 0;}
.find_store_open_wrap>dl:nth-of-type(4) {background:url(/pc/ko/images/common/ico_paper_02.png) no-repeat 37px 0;}
.find_store_open_wrap>dl>dt {font-weight:600;color:#333;font-size:20px;margin-bottom:10px}
.find_store_open_wrap>dl>dd>dl {display:table}
.find_store_open_wrap>dl>dd>dl dt,
.find_store_open_wrap>dl>dd>dl dd {display:table-cell;position:relative;font-size:14px;}
.find_store_open_wrap>dl>dd>dl dt {width:72px;color:#333;padding-left:8px}
.find_store_open_wrap>dl>dd>dl dt:before {content:'';position:absolute;top:9px;left:0;display:inline-block;width:2px;height:2px;background:#8a8a8a;vertical-align:middle;}
.find_store_open_wrap>dl>dd>dl dd {color:#888}
.find_store_open_wrap + .text_sub_info{font-size:16px;color:#000;margin-top:75px;}
.text_sub_info span {font-size:14px;color:#888;display:block;line-height:14px}
.find_store .form {margin-top:8px}
.find_store_open_wrap .list_bullet_dot li + li {margin-top:2px}
.find_store_open_wrap>dl:nth-of-type(3)>dd>dl dt {width:46px}
.find_store_open_wrap>dl:nth-of-type(3)>dd>dl dd {width:100px}
.find_store .form.frm_find_store {padding-left:0;padding-bottom:50px}
.find_store .form.frm_find_store .ui_table {padding-top:30px}
.find_store .form.frm_find_store .ui_table>dl>dd .check_wrap {margin-left:0;margin-top:20px}
.find_store .form.frm_find_store .ui_table>dl>dd .check_wrap:nth-of-type(1) {display:block}
.find_store .form.frm_find_store .ui_table>dl>dd .check_set .check_wrap {display:inline-block;margin-top:0;min-width:80px}
.find_store .form.frm_find_store .ui_table>dl>dd>* {float:none;}
.find_store .form.frm_find_store .ui_table>dl>dd> input{border:0;background:#f5f5f5;width:500px}
.find_store .form.frm_find_store .input_wrap>input,
.find_store .form.frm_find_store .input_wrap .placeholder,
.find_store .form.frm_find_store .input_wrap {height:40px}
.find_store .form.frm_find_store .input_store_money {position:relative;}
.find_store .form.frm_find_store .input_store_money .absolute_txt {font-size:16px;position:absolute;top:12px;right:21px;color:#666}
.find_store .form.frm_find_store .textarea {background:#fff;width:627px}
.find_store .form.frm_find_store .textarea textarea {resize:none;color:#888}
.find_store .form.frm_find_store .textarea_typ2_wrap {position:relative;width:627px}
.find_store .form.frm_find_store .textarea_typ2_wrap .textarea {height:200px}
.find_store .form.frm_find_store .ui_input_images {margin-top:-15px;}
.find_store .form.frm_find_store .ui_input_images .input_btn_wrap {width:70%;}
.find_store .form.frm_find_store .ui_input_images .input_btn_wrap .input_wrap {width:509px;}
.find_store .form.frm_find_store .text_right {position:absolute;bottom:10px;right:29px;font-size:16px}
.find_store .form.frm_find_store .text_right small {font-size:16px}
.find_store .form.frm_find_store .text_right small .current {color:#f54a7e}
.find_store .form.frm_find_store .text_right * {vertical-align:top}
.find_store .form.frm_find_store .text_right .current{margin-right:5px}
.find_store .form.frm_find_store .text_right .limits {margin-left:5px}
.find_store .form.frm_find_store .store_clause_wrap {border:1px solid #d9d9d9;background:#fff;width:627px;padding:13px 20px}
.find_store .form.frm_find_store .ui_table>dl+dl {margin-top:30px}
.find_store .form.frm_find_store .store_clause_wrap li {letter-spacing:-1px}
.find_store .form.frm_find_store .check_set_store_tit {font-size:16px;color:#666}
.find_store .form.frm_find_store .check_set_store_tit + .check_set {margin-left:0;margin-top:20px}
.find_store .form.frm_find_store .check_set_store_tit + .check_set .check_wrap {display:block !important;}
.find_store .form.frm_find_store .check_set_store_tit + .check_set .check_wrap + .check_wrap {margin-top:10px}
.find_store .text_sub_info {font-size:28px;color:#000;font-weight:300}
.find_store_btns_wrap {text-align:center;background:#fff;padding-top:50px}
.find_store_bottom_wrap {min-height:245px; border:1px solid #d2d2d2;margin-top:80px;white-space:nowrap;padding:45px 30px}
.find_store_bottom_wrap .find_store_bottom_left {width:570px}
.find_store_bottom_wrap .find_store_bottom_left,
.find_store_bottom_wrap .find_store_bottom_right {display:inline-block;vertical-align:top;}
.find_store_bottom_wrap .find_store_bottom_right {/*height:111px;*/ border-left:1px solid #ebebeb}
.find_store_bottom_wrap p {margin:0}
.find_store_bottom_wrap .find_store_bottom_left>div {overflow:hidden;margin-top:10px}
.find_store_bottom_wrap .find_store_bottom_left>div>div {float:left;}
.find_store_bottom_wrap .find_store_bottom_left>div>div:nth-of-type(2) {margin-left:40px}
.find_store_bottom_wrap .h_title {margin-bottom:20px}
.find_store_bottom_wrap .list_bullet_dot {margin-top:10px}
.find_store_bottom_wrap .list_bullet_dot li + li {margin-top:2px}
.find_store_bottom_wrap .find_store_bottom_right {padding-left:50px}
.find_store_bottom_wrap .find_store_bottom_right p {margin-top:15px; color:#888;line-height:18px;}
.find_store_bottom_wrap .find_store_bottom_right p:nth-of-type(1) {margin-top:0;}
/*.find_store_bottom_wrap .find_store_bottom_right p:nth-of-type(1) {line-height:18px}
.find_store_bottom_wrap .find_store_bottom_right p:nth-of-type(2) {margin-top:15px}*/
.find_store_bottom_wrap span.bullet_dot {display:inline-block;position:relative;padding-left:7px;margin-left:6px}
.find_store_bottom_wrap span.bullet_dot:before {content: '';position:absolute;top:7px;left:0;display:inline-block;width:2px;height:2px;background:#8a8a8a;vertical-align:middle;}
.find_store_info_list_wrap {margin-top:20px}
.find_store_praise {border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2}
.find_store_praise .review{padding:30px 0; text-align:left; font-weight:300; font-size:14px;}
.find_store_praise .review:after{content:''; display: block; clear: both;}
.find_store_praise .review>dt{float:left; width:170px;}
.find_store_praise .review>dt>*{display:block; padding-left:40px; text-align:left;}
.find_store_praise .review>dd{float:right; width:1019px;}
.find_store_praise .review .ui_rating>*{width:16px; height:14px; background: url(/pc/ko/images/common/bg_rating_16.png) no-repeat;}
.find_store_praise .review .ui_rating>*.on{background-position:0 -16px;}
.find_store_praise .review .user_id{display:block; margin:0 0 5px; color:#333; font-size:16px;}
.find_store_praise .review .opt{display:block; margin-bottom:10px; font-size:14px; font-weight:400;}
.find_store_praise .review .flag{display:inline-block; width:45px; height:21px; margin:-3px 2px 0 0; font-size:12px; font-weight:300; text-align:center; color:#fff; line-height:21px; background:#f7a2ba; vertical-align: middle;}
.find_store_praise .review .title{font-size:20px; color:#333; font-weight:300;}
.find_store_praise .review dd dd{padding-top:5px;}
.find_store_praise .review .attach_photo{padding:20px 0 10px}
.find_store_praise .review .attach_photo>* +*{margin-left:3px;}
.find_store_praise .review .attach_photo img {width:98px;height:98px}
.find_store_praise .review + .review {border-top:1px solid #d2d2d2;}
.find_store_praise .review .flag2 {display:block;padding-top:13px}
.find_store_praise .review .flag2 span {display:inline-block;border:1px solid #b4b4b4;border-radius:20px;padding:4px 15px;}
.find_store_praise .review dd dd .text {padding-top:10px}
.praise_text_search_wrap {background:#f5f5f5;text-align:center;padding:30px 0;margin-top:25px}
.praise_text_search_wrap .input_wrap {display:inline-block;width:400px;}
.praise_text_search_wrap .input_wrap + button {margin-left:7px}
.praise_text_search_wrap .input_wrap .input_del {z-index:5}

.find_store_praise {margin-top:20px}
.praise_sort_wrap {text-align:right;margin-top:30px}
.praise_sort_wrap button {display:inline-block;vertical-align:middle}
.praise_sort_wrap .vline {display:inline-block;width:1px;height:14px;background:#ebebeb;vertical-align:middle;margin:0 10px}
.praise_sort_wrap button.on {font-weight:500;color:#f54a7e}

.praise_header{text-align:center;}
.praise_header>*{display:block; font-weight:300;}
.praise_header .item_name{padding:0 80px; font-size:20px; line-height:26px; color:#333;}
.praise_header .opt{margin-top:5px;}
.praise_header .date{display:inline-block; padding-left:5px; margin-left:5px; font-family:Arial; border-left:1px solid #d2d2d2;}
.praise_header .clear{margin-top:20px;}
.praise_header .clear .ui_rating .heart>span{position:relative; margin-right:3px; width:20px; height:16px; background:url(/pc/ko/images/common/bg_rating.png) no-repeat; background-size:99%;}
.praise_header .clear .ui_rating .heart>span.on{background-position:0 -30px;}
.praise_cont{padding-top:35px;}
.praise_cont .h_title{padding:0 30px 25px; text-align:center; line-height: 32px;}
.praise_cont .attach_img{padding-bottom:25px;}
.praise_cont .attach_img img + img{margin-top:20px;}
.praise_cont .cont{font-size:16px; font-weight:300; line-height:1.5;}
.praise_layer .flag {display:inline-block;width:45px;height:21px;margin:-3px 2px 0 0;font-size:12px;font-weight:300;text-align:center;color:#fff;line-height:21px;background:#f7a2ba;vertical-align:middle;}
.praise_layer .h_title {font-weight:500;line-height:32px;padding-top:15px}
.praise_layer .layer_flag_praise {margin-top:15px}
.praise_layer .layer_flag_praise span {display:inline-block;border:1px solid #999;border-radius:10px;padding:4px 16px;margin:3px 0;font-size:14px;}

.praise_layer .posts_info {padding-top:25px}
.praise_layer .posts_info * {display:inline-block;line-height:13px;height:13px;font-size:16px}
.praise_layer .posts_info .store_name {border-right:1px solid #888;padding-right:14px}
.praise_layer .posts_info .posts_id {margin:0 10px;color:#333}
.praise_layer .posts_info .posts_date {border-left:1px solid #888;padding-left:14px}
.praise_layer .praise_button {text-align:center;padding-top:45px}
/*매장안내*/