@charset 'utf-8';

.cart .ui_step,
.order .ui_step{margin-top:-50px;}

/* 장바구니 */
.cart_list{margin-top:60px; font-size:16px;}
.cart_list.ui_accordion>dl>dt{border-bottom-color: #000;}
.cart_list>dl>dt:after{content:''; display: block; clear: both;}
.cart_list>dl>dt.on{border-bottom:1px solid #000;}
.cart_list>dl>dt>*:first-child{float:left; width:auto;}
.cart_list>dl>dt>span{height:60px;}
.cart_list>dl>dt>span:before{content:''; display: inline-block; width:0; height:100%; vertical-align: middle;}
.cart_list>dl>dt>.check_wrap{padding-top:15px; padding-bottom:17px;}
.cart_list>dl>dt>button{float:right; width:60px; height:60px;}
.cart_list>dl>dd{border-color:#000;}
.cart_list .cont{padding:40px;}
.cart_list .h_title{margin-bottom:20px;}
.cart_list .item_wrap,
.cart_list .item_wrap_header{padding:20px 0; border-bottom:1px solid #d2d2d2;}
.cart_list .item_wrap:first-child{border-top:1px solid #d2d2d2;}

/* 0810장바구니수정 */
.cart_list .promotion .item_wrap:first-child,
.cart_list .promotion .item_wrap_header:first-child{border-top:none;}
.cart_list .promotion.type2 .item_wrap .item_thumb{padding-left:35px;}
.cart_list .promotion.type2 .item_wrap .count{width:110px; text-align:center;}
.cart_list .promotion.type2 .item_wrap .price{padding-right:120px;}
.cart_list .promotion.type2 .item_name{width:480px; padding-right:40px; }
.cart_list .promotion.type2 .item_name2{width:640px; padding-right:40px; }
.cart_list .promotion.type2 .item_name2 a strong{font-size:20px;}

.cart_list .item_wrap .item_info,
.cart_list .item_wrap_header .item_info{display:table; width:100%; table-layout:fixed; min-height:100px;}
.cart_list .item_wrap_header .item_info>*,
.cart_list .item_wrap .item_info>*{display:table-cell; vertical-align: middle;}
.cart_list .item_thumb{width:160px;}
.cart_list .item_thumb img{width:100px; height:100px;}
.cart_list .item_thumb .check_wrap>input[type="checkbox"] + label:before,
.cart_list .item_thumb .check_wrap>input:focus + label:after{top:50%; margin-top:-13px;}
.cart_list .plus .item_thumb{}
.cart_list .item_name{width:480px; padding-right:40px; font-weight: 300; }
.cart_list .item_name .title{display:block; font-size: 20px; color:#000; line-height: 1.3;}
.cart_list .item_name .opt{display:block; margin-top:10px;}
.cart_list .count{width:160px;}
.cart_list .count>*:first-child{display:inline-block; width:110px; margin-right:7px; vertical-align: middle;}
.cart_list .count .ui_spinner>*{width:36px; border:0;}
.cart_list .price{text-align:right; padding-right:40px; letter-spacing: 0; color:#000;}
.cart_list .price b{font-family:Arial; color:#999999;}
.cart_list .price .strong + *{margin-left:5px;}
.cart_list .price .strong b{color:#000; font-size:20px; font-weight:bold;}
.cart_list .price .strong b.own{color:#999;}
.cart_list .price del{font-size:14px; color:#999;}
.cart_list .price del b{font-size:16px;}
.cart_list .btns{width:80px; text-align:center;}
.cart_list .btns>*{width:100%; padding:0; margin:0;}
.cart_list .btns>* + *{margin-top:8px;}
.cart_list .btns .emp{border-color:#f54a7e; color:#f54a7e;}
.cart_list .flag{display:inline-block; min-width:48px; margin-bottom:10px; padding:4px 7px 3px; font-family:'돋움', Dotum; font-size:11px; border:1px solid #b4b4b4; border-radius: 10px; text-align:center; letter-spacing: 0;}
.cart_list .flag + .flag{margin-left:3px;}
.cart_list .item_option{position:static; width:auto; margin-top:10px; padding:0 40px; background:#f5f5f5;}
.cart_list .item_option.type2{position:static; margin-top:10px; padding:0; background:none;}
.cart_list .item_option.type2 .option_price{width:200px;}
.cart_list .item_option.type2 .delete{width:80px;}
.cart_list .item_option>li{display:table; width:100%; height:80px; table-layout:fixed; }
.cart_list .item_option>li + li{border-top:1px dashed #d6d6d6;}
.cart_list .item_option>li>*{display:table-cell; vertical-align: middle;}
.cart_list .option_name{width:601px; font-size:18px; color:#000; font-weight:300; line-height:1.3;}
.cart_list .option_name img{width:40px; height:40px; margin-right:5px;}
.cart_list .item_option .option_price{text-align:right;}
.cart_list .item_option .option_price button{margin-left:17px;}
.cart_list .item_option .option_price span{color:#333;}
.cart_list .item_option .delete{width:80px; text-align:right;}
.cart_list .item_option .delete button{position:relative; width:30px; height:30px;}
.cart_list .item_option .delete button:after{content:''; position:absolute; top:50%; right:0; width:12px; height:12px; margin-top:-6px; background:url(/pc/ko/images/common/ico.png) no-repeat 0 -18px;}
.cart_list .takeout_info>dl{display:table; width:100%;}
.cart_list .takeout_info>dl>*{display:table-cell; vertical-align: top;}
.cart_list .takeout_info>dl>dt{width:225px;}
.cart_list .takeout_info>dl>dt>b{font-size:16px; color:#333; font-weight:500; line-height:40px;}
.cart_list .takeout_info>dl>dt .ico{display:inline-block; width:20px; height:17px; margin-right:6px; background:url(/pc/ko/images/common/bg_rating_typ2.png) no-repeat 0 -29px; vertical-align: middle;}
.cart_list .takeout_info>dl:first-child>dd{position:relative; padding-right:290px;}
.cart_list .store_wrap{height:40px; padding:10px 20px; border:1px solid #d2d2d2; position:relative;}
.cart_list .store_wrap em.instock {color:#37c3cd;}
.cart_list .store_wrap .seller{position:absolute; right:20px; top:10px;}
.cart_list .store_wrap + button{position:absolute; top:0; right:0;}
.cart_list .store_wrap .layer_tooltip{margin-left:-300px;}
.cart_list .takeout_info>dl + dl{margin-top:30px;}
.cart_list .favorite_store{margin-left:-2px;}
.cart_list .favorite_store>button{height:40px; margin:5px 2px; padding:0 20px; border:1px solid #d2d2d2; border-radius:20px; color:#999; background:#fff;}
.cart_list .favorite_store>button:not(:disabled) em{color:#37c3cd;}
.cart_list .takeout_info + .item_wrap{margin-top:35px; border-top:1px solid #d2d2d2;}
.cart_list .promotion_header{margin-top:50px; padding-bottom:20px; border-bottom:1px solid #d2d2d2; overflow:hidden;}
.cart_list .promotion_header a strong{font-size:20px; float:left; width:870px;}
.cart_list .promotion_header .price{float:right; width:250px; padding-right:0;}
.cart_list .promotion_header .benefit{display:block; margin:0 0 10px 0; font-size: 14px; font-size: 14px;}
.cart_list .promotion_header .benefit.ty2 *{color:#37c3cd !important;}
.cart_list .promotion_header .benefit.ty3 *{color:#999 !important;}
.cart_list .promotion_header .price + .benefit{position:absolute; top:9px; right:0; margin-top: -7px;}
.cart_list .promotion .plus{position:relative;}
.cart_list .promotion .plus:before{content:''; position:absolute; top:-20px; left:50%; width:40px; height:40px; margin-left:-20px; border-radius:50%; border:1px solid #d2d2d2; background:#fff url(/pc/ko/images/cart/ico_cart.png) no-repeat;}
.cart_list .item_wrap .freebies{padding:0 40px; margin-bottom:-21px;}
.cart_list .item_wrap .item_option + .freebies{background-color:#f5f5f5;}
.cart_list .item_wrap .freebies>li{display:table; width:100%; border-top:1px dashed #d2d2d2; padding:10px 0; line-height: 1.3; background:url('/pc/ko/images/my/ico_freebies_line.png') 0 45% no-repeat;}
.cart_list .item_wrap .freebies>li>.option_name{padding-left:20px;}
.cart_list .item_wrap .freebies>li>*{display:table-cell; height: 40px; vertical-align: middle; font-weight: 300; font-size: 16px;}
.cart_list .item_wrap .freebies .term{text-align:right; letter-spacing: 0; font-size: 15px;}
.cart_list .item_wrap + .text_notice{margin-top: 5px;}
.cart_list .promotion{position:relative; padding-bottom:30px;}
.cart_list .promotion .text_notice{position:absolute; bottom:0;}

.total_money_list{overflow:hidden; margin-top:50px; width:100%; height:60px; border-bottom:1px solid #000; border-top:1px solid #000; padding:0 18px; color:#333;  line-height:60px;}
.total_money_list >dt>*:first-child{float:left; width:auto; font-size:16px;}
.total_money_list .total_price{float:right; width:auto; font-weight:500;}
.total_money_list .total_price em{font-size:24px; font-weight:700;}
.cart .total_money .summary{height:143px; margin-top:50px; border-top:2px solid #f54a7e; border-bottom:1px solid #d2d2d2; text-align:center;}
.cart .total_money .summary>*{position:relative; vertical-align: middle;}
.cart .total_money .summary>* + *:not(span){border-left:1px solid #d2d2d2;}
.cart .total_money .summary>* + *:not(span):before{content:''; position:absolute; top:50%; left:-20px; width:40px; height:40px; margin-top:-20px; border-radius:50%; border:1px solid #d2d2d2; background:#fff url(/pc/ko/images/cart/ico_cart.png) no-repeat;}
.cart .total_money .plus:before{}
.cart .total_money .minus:before{background-position:0 -40px;}
.cart .total_money .equal:before{background-position:0 -80px;}
.cart .total_money .summary>span{width:50px;}
.cart .total_money .btn_details{position:relative; width:50px; height:140px; padding:0;}
.cart .total_money .btn_details:after{content: ''; position: absolute; top: 50%; left:0; width: 40px; height: 40px; margin-top: -20px; background: url(/pc/ko/images/common/bg_btn_select.png) no-repeat;}
.cart .total_money .btn_details.on:after{background-position: 100% -40px;}
.cart .total_money .summary dt{padding-bottom:20px; font-size: 16px; font-weight:500; color:999;}
.cart .total_money .price{font-size:20px; color:#000;}
.cart .total_money .price strong{font-size:28px; font-family:Arial}
.cart .total_money .equal .price,
.cart .total_money .equal .price strong{color:#f54a7e;}
	.total_money .details{display:none; background:#f7f7f7; font-size:16px;}
	.total_money .details>div{padding:10px 40px;}
	.total_money .details dl:after{content:''; display: block; clear: both;}
	.total_money .details>div>dl{padding:10px 0;}
	.total_money .details>div>dl>*{padding:10px 0;}
	.total_money .details dt{float:left;}
	.total_money .details dd{float:right;}
	.total_money .details dd + dd{width:100%; padding-top:0;}
	.total_money .details>div>dl + dl{border-top:1px dashed #dbdbdb;}
	.total_money .details dd>dl{padding:5px 0 5px 10px;}
	.total_money .details .price{font-size:16px; padding-right:0;}
	.total_money .details .price strong{font-size:18px;}
.cart .ui_tooltip,
.order .ui_tooltip{margin-left:5px; margin-top:-6px; vertical-align: middle;}
.order .check_wrap + .ui_tooltip{margin-top:3px;}
.cart .layer_tooltip,
.order .layer_tooltip{width:530px; padding:30px; margin-left:-110px; font-size:16px;}
.cart .layer_tooltip .title,
.order .layer_tooltip .title{width:100%; padding-bottom:17px; margin-bottom:20px; font-size:22px; color:#333; font-weight:300; border-bottom:1px solid #d2d2d2;}

/* 주문 */
.order .cart_list{}
.order .cart_list .item_name{width:780px; }
.order .cart_list .h_title + .item_wrap{border-top:1px solid #d2d2d2;}
.order .cart_list .item_thumb{width:125px;}
.order .cart_list .item_thumb .img{display:block; width:100px; height:100px; background: url(/pc/ko/images/common/img_loading_small.png) no-repeat 50% 50%; background-color:#f5f5f5;}
.order .cart_list .item_name .opt{margin-top:5px; font-weight:300; line-height:1.2;}
.order .cart_list .btns{width:120px;}
.order .cart_list * + .h_title{margin-top:60px;}
.order .cart_list .price{padding-right:0; color:#000;}
.order .cart_list .promotion .promotion_header .flag_wrap{display:block;}
.order .cart_list .promotion .item_wrap.order_type{padding:50px 0;}
.order .cart_list .promotion .item_wrap.order_type .item_name2 strong{font-size:20px;}
.order .item_wrap + .promotion .item_wrap:first-child{border-top:0;}
.order .title_area{position:relative; margin-bottom:40px; padding-bottom:14px; border-bottom:1px solid #d2d2d2;}
.order .title_area .h_title{margin-bottom:0;}
.order .title_area .more{position:absolute; top:5px; right:0; color:#000; font-size:16px;}
.order .title_area .more:after{content:''; display:inline-block; width:8px; height:15px; margin:-3px 0 0 9px; background:url(/pc/ko/images/common/ico.png) no-repeat -65px -55px; vertical-align: middle;}
.order * + .title_area{margin-top:40px;}
.order .title_area .date_btn_set{position:absolute; top:-5px; right:0; width:241px;}
.order .title_area .date_btn_set label{font-size:14px;}
.order .delivery_info{}
.order .delivery_info .ui_table{position:relative;}
.order .delivery_info .panel .ui_table>dl + dl{margin-top:30px;}
.order .delivery_info .panel_cont{position:relative;}
.order .delivery_info .basic{position:absolute; top:0; right:30px;}
.order .delivery_info .form .basic{position:absolute; top:15px; right:30px;}
.order .panel_cont.ui_table>dl>dt{width:230px;}
.order .form .ui_table>dl>dd>div{max-width:580px;}
.order .form .ui_table>dl>dd>div.full{max-width:850px; margin-left:0;}
.order .form .ui_table>dl>dd>div.full .input_wrap{width:280px;}
.order .form .ui_table>dl>dd>div.full .text_notice{margin-top:15px;}
.order .delivery_info .title_area .relative .date_btn_set{top:1px; width:361px;}
.order .convenience_store{width:680px; margin:0 auto;}
.order .convenience_store div:nth-child(2){border-left:1px solid #d2d2d2;}
.order .convenience_store button{width:100%; height:160px; padding-top:120px; background:url(/pc/ko/images/cart/ico_convenience.png) no-repeat; font-weight:500; color:#333;}
.order .convenience_store div:nth-child(2) button{background-position:100% 0;}
.order .wrapper_price{vertical-align:middle; padding:0 0 0 10px; }
.order .wrapper_price > span{font-size:18px; font-weight:500; color:#333;}
.order span.ui_spinner.small{margin-left:30px;}
.order .benefit_list .panel{padding:10px 0 15px;}
.order .benefit_list>dl{}
.order .benefit_list>dl:after{content:''; display: block; clear: both;}
.order .benefit_list>dl>dt{float:left; padding:10px 0;}
.order .benefit_list>dl>dd{float:right; padding-top:10px;}
.order .benefit_list>dl>dd + dd{width:100%;}
.order .benefit_list>dl + dl{padding-top:20px; margin-top:20px;border-top:1px dashed #dbdbdb;}
.order .benefit_list .price{padding:0;}
.order .benefit_list  strong{font-size:18px;}
.order .benefit_list .input_wrap{width:80px; margin-right:10px; font-size:14px; text-align: right}
.order .benefit_list .btn_sm_neutral{margin-left:30px;}
.order .benefit_list p + p{margin-top:5px;}
.order .coupon_list>li{padding-bottom:7px;}
.order .coupon_list>li .flag{margin:0 10px 0 0;}
.order .coupon_list>li .title{vertical-align:middle;}
.order .coupon_list>li:after{content:''; display: block; clear: both;}
.order .coupon_list>li>*{float:right;}
.order .coupon_list>li>*:first-child{float:left;}
.order .benefit_list>dl.beauty{padding:20px 0 0 0;border-top:1px dashed #dbdbdb;}
.order .benefit_list>dl.beauty dt{}
.order .benefit_list>dl.beauty dd{}
.order .benefit_list>dl.beauty .bpoint {margin-right:5px;}
.order .freebies .date_btn_set{width:241px;}
.order .freebies_wrap{overflow:hidden; overflow-y:auto; max-height:790px;}
.order .freebies_list{margin:-50px 0 0 -20px;}
.order .freebies_list:after{content:''; display: block; clear: both;}
.order .freebies_list>li{float:left; width:265px; height:370px; margin:50px 0 0 20px;}
.order .freebies_list .check_wrap,
.order .freebies_list .check_wrap>label{width:100%; padding-left:0;}
.order .freebies_list .check_wrap>input[type="checkbox"] + label:before,
.order .freebies_list .check_wrap>input[type="radio"] + label:before,
.order .freebies_list .check_wrap>input:focus + label:after{top:20px; left:20px;}
.order .freebies_list .title,
.order .freebies_list .price,
.order .freebies_list .tag{display:block; padding:10px 10px 0;}
.order .freebies_list .img{display:block; width:265px; height:265px; text-align:center; background: url(/pc/ko/images/common/img_loading.png) no-repeat 50% 50%; background-color:#f5f5f5;}
.order .freebies_list .title{height:60px; font-weight:300; color:#000; line-height:1.5}
.order .freebies_list .price{text-align:left;}
.order .freebies_list .price em b{color:#f54a7e;}
.order .title_payments{position:absolute; right:60px; text-align:right; color:#666;}
.order .other_payments{padding:0;}
.order .other_payments dl{padding:22px 0;}
.order .other_payments dl:after{content:''; display: block; clear: both;}
.order .other_payments dt{float:left; padding-top:5px;}
.order .other_payments dd{float:right;}
.order .other_payments dl + dl{border-top:1px dashed #dbdbdb;}
.order .other_payments .price{padding:0;}
.order .other_payments  strong{font-size:18px;}
.order .other_payments .input_wrap{width:80px; margin:-5px 0; font-size:14px; text-align: right}
.order .other_payments .btn_sm_neutral{margin-left:30px;}
.order .payment_method{text-align:center;}
.order .payment_method button{position:relative; width:131px; height:131px; border:1px solid #ebebeb; border-radius:5px; vertical-align: top; font-size:16px; color:#000;}
.order .payment_method button:before{content:''; display:block; height:80px; background:url(/pc/ko/images/cart/ico_payment.png) no-repeat 0 -10px;}
.order .payment_method .credit_card:before{background-position:-139px -10px;}
.order .payment_method .cellphone:before{background-position:-278px -10px;}
.order .payment_method .naver_pay:before{background-position:-417px -10px;}
.order .payment_method .payco:before{background-position:-556px -10px;}
.order .payment_method .cacao_pay:before{background-position:-695px -10px;}
.order .payment_method .account_transfer:before{background-position:-834px -10px;}
.order .payment_method .deposit:before{background-position:-973px -10px;}
.order .payment_method button.on{background:#ebebeb;}
.order .payment .date_btn_set{width:361px;}
.order .cart_list>dl>dt{position:relative;}
.order .total_price{position:absolute; top:0; right:60px; width:auto; font-weight:500;}
.order .total_price em{font-size:24px; font-weight:700;}
.order .total_money .details{display:block;}
.order .total_money .details + .details{margin-top:20px;}
.order .done{padding: 40px 0;}
.order .ui_tooltip.take_out .layer_tooltip dl {background:url('/pc/ko/images/cart/bg_wrapper.jpg') right bottom no-repeat; padding-bottom:150px;}
.order .ui_tooltip.take_out02 .layer_tooltip dl {background:url('/pc/ko/images/cart/bg_wrapper02.jpg') right bottom no-repeat; padding-bottom:170px;}


/* 쿠폰 조회 */
.coupon_layer .tab_cont{padding:30px 0 0;}
.coupon_layer .coupon_list{border-top-color:#e5e5e5; font-size:16px; font-weight:300;}
.coupon_layer .coupon_list>dl>dt{position:relative; padding-right:60px;}
.coupon_layer .coupon_list>dl>dt>button{position:absolute; top:0; right:0;width:60px; height:100%;}
.coupon_layer .coupon_list>dl>dt label{padding-left:46px; color:#333;}
.coupon_layer .coupon_list>dl>dt label>span{display:block;}
.coupon_layer .coupon_list .coupon_order{padding:20px; display:table; border-bottom:1px dotted #ebebeb;}
.coupon_layer .coupon_list .coupon_order:nth-of-type(1){border-top:1px dotted #ebebeb;}
.coupon_layer .coupon_list .coupon_order .check_wrap{display:table-cell; vertical-align:middle; width:475px;}
.coupon_layer .coupon_list .coupon_order label{padding-left:46px; color:#333;}
.coupon_layer .coupon_list .coupon_order label>span{display:block;}
.coupon_layer .coupon_list .coupon_order .title{overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient: vertical;word-wrap:break-word;}
.coupon_layer .coupon_list .coupon_order label em{overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient: vertical;word-wrap:break-word;}
.coupon_layer .coupon_list .coupon_order .ui_tooltip {display:table-cell; vertical-align:middle;}
.coupon_layer .coupon_list .coupon_order .ui_tooltip .arr{right:0;}
.coupon_layer .coupon_list .coupon_order .ui_tooltip .layer_tooltip{left:-30px;}
.coupon_layer .coupon_list .coupon_order .btn_tooltip{width:125px; height:24px; color:#666; border-radius:0; padding:0 5px 0 0 !important; overflow:visible; background:url(/pc/ko/images/common/ico_question.png) no-repeat right 5px;}
.coupon_layer .coupon_list .d_day{display:inline-block; margin-right:5px; padding:0 7px; font-family:Arial; font-size:12px; border:1px solid #f54a7e; line-height:18px; vertical-align: middle;}
.coupon_layer .coupon_list .flag{min-width:48px; margin-bottom:10px; padding:4px 7px 3px; font-family:'돋움', Dotum; font-size:11px; border:1px solid #b4b4b4; border-radius: 10px; text-align:center; letter-spacing: 0;}
.coupon_layer .coupon_list>dl>dt small{font-size:16px;}
.coupon_layer .coupon_list .check_wrap>input[type="checkbox"] + label:before,
.coupon_layer .coupon_list .check_wrap>input:focus + label:after{top:50%; margin-top:-13px;}
.coupon_layer .coupon_list .freebies{position:relative; padding:0 0 18px 22px; margin-left:46px; }
.coupon_layer .coupon_list .freebies:before{content:'└ '; position:absolute; top:50%; left:5px;}
.coupon_layer .coupon_list .freebies b{display:block;}
.coupon_layer .coupon_list .freebies .table_layout>*{vertical-align: middle;}
.coupon_layer .coupon_list .thumb{width:100px; height:100px; margin-right:10px;}
.coupon_layer .available_coupon_list{font-size:16px; font-weight:300; border-bottom:1px solid #e5e5e5;}
.coupon_layer .available_coupon_list>li{display:table; width:100%; height:85px; border-top:1px solid #e5e5e5;}
.coupon_layer .available_coupon_list>li>*{display:table-cell; vertical-align: middle;}
.coupon_layer .available_coupon_list>li>.text{padding-right:20px; color:#333;}
.coupon_layer .available_coupon_list>li>.text + span{width:80px;}

.mobile_voucher_layer .tab_cont{padding:30px 0 0 0;}
.mobile_voucher{font-size:16px; font-weight:300;}
.mobile_voucher ul{margin:10px 0 20px 0; border-bottom:1px solid #e5e5e5;}
.mobile_voucher li{display:table; width:100%; height:85px; padding:0 20px; border-top:1px solid #e5e5e5;}
.mobile_voucher li>*{display:table-cell; vertical-align: middle;}
.mobile_voucher li .check_wrap .num{display:block;}
.mobile_voucher li .check_wrap>input[type="checkbox"] + label:before,
.mobile_voucher li .check_wrap>input:focus + label:after{top:50%; margin-top:-13px;}
.mobile_voucher .price{text-align:right;}
.mobile_voucher .price .input_wrap input{width:80px; margin-right:5px;}
.mobile_voucher .price b{font-size:20px;}
.mobile_voucher .total{display:table; width:100%; height:85px; padding:0 20px; background:#f5f5f5; font-size:18px; font-weight:400;}
.mobile_voucher .total>*{display:table-cell; vertical-align: middle;}
.mobile_voucher .total .price b{color:#f54a7e; font-size:22px;}

.non_member_btn{margin-top: 40px;padding: 0 45px;}
.non_member_btn .btn_lg_primary{width: 100%;}
.non_member_btn .page_btns{margin-top: 10px;}