@charset 'utf-8';

/* 고객센터 */

/* 멤버십 혜택 */
.cs .membership .tab_cont{padding:40px 0 0 0 !important;}
.cs .membership .visual{margin-bottom:40px}

/* 핑크 멤버십 */
.pink_membership .ico{display:inline-block; width:50px; height:50px; background:url(/pc/ko/images/cs/ico_membership.jpg) no-repeat;}
.pink_membership .ico.pink{}
.pink_membership .ico.mint{background-position:0 -50px}
.pink_membership .ico.blue{background-position:0 -100px}
.pink_membership .ico.yellow{background-position:0 -150px}
.pink_membership .data_table{margin-bottom:60px;}
.pink_membership .data_table tbody th{font-size:16px;}


/* 뷰티포인트 */
.membership .beauty_point .percent{font-size:26px; color:#f7a1ba;}
.membership .beauty_point .percent b{font-size:34px;  color:#f7a1ba;}
.membership .beauty_point .percent.mint,
.membership .beauty_point .percent.mint>*{color:#b3e1e1;}
.membership .beauty_point .percent.blue,
.membership .beauty_point .percent.blue>*{color:#bcd3f3;}

.membership .beauty_point .table_layout{margin-top:60px; border:1px solid #d2d2d2;}
.membership .beauty_point .table_layout>*{padding:40px; text-align:center;}
.membership .beauty_point .table_layout>* + *{border-left:1px solid #d2d2d2;}
.membership .beauty_point .table_layout [class^="btn_"]{width:270px; margin-top:20px; font-size:16px;}

.membership .beauty_point .text_quotes{font-size:20px; font-weight:300; color:#333;}

.cs .membership .benefit_list:after{content:''; display:block; clear:both}
.cs .membership .benefit_list>li{position:relative; float:left; display:table; width:50%; min-height:115px; margin-top:30px;}

.firefox .cs .membership .benefit_list>li {margin-top:60px}

.cs .membership .benefit_list>li>*{display:table-cell; vertical-align:middle;}
.cs .membership .benefit_list>li>*:first-child{width:155px;}
.cs .membership .benefit_list .ico{position:absolute; top:50%; left:0; width:140px; height:140px; margin-top:-70px;}
.cs .membership .benefit_list>li:nth-child(1) .ico {background:url(/pc/ko/images/cs/ico_benefit_list_1.png) no-repeat}
.cs .membership .benefit_list>li:nth-child(2) .ico {background:url(/pc/ko/images/cs/ico_benefit_list_2.png) no-repeat}
.cs .membership .benefit_list>li:nth-child(3) .ico {background:url(/pc/ko/images/cs/ico_benefit_list_3.png) no-repeat}
.cs .membership .benefit_list>li:nth-child(4) .ico {background:url(/pc/ko/images/cs/ico_benefit_list_4.png) no-repeat}
.cs .membership .benefit_list>li:nth-child(5) .ico {background:url(/pc/ko/images/cs/ico_benefit_list_5.png) no-repeat}
.cs .membership .data_table + .dl_cont{margin-top:50px;}

.cs .campaign .ico{display:inline-block; width:140px; height:120px; margin-bottom:20px;}
.cs .campaign .table_layout>div:nth-of-type(1) .ico {background:url(/pc/ko/images/cs/ico_campaign_list_1.png) no-repeat}
.cs .campaign .table_layout>div:nth-of-type(2) .ico {background:url(/pc/ko/images/cs/ico_campaign_list_2.png) no-repeat}
.cs .campaign .table_layout>div:nth-of-type(3) .ico {background:url(/pc/ko/images/cs/ico_campaign_list_3.png) no-repeat}


/* live talk */
.live_talk{overflow-y:auto; position:absolute; top:0; left:0; right:0; bottom:0; padding:0 15px 60px; background:#fbf7ee;}
.live_talk.closed>div{position:absolute; top:50%; left:0; width:100%; margin-top:-133px; text-align:center;}
.live_talk .connect,
.live_talk .disconnect{padding:20px 0; text-align:center;}
.live_talk .connect b{display:block; font-weight:500;}
.live_talk .disconnect{border-top:1px dashed #e2dfd7;}
.live_talk ul{padding:20px 0; border-top:1px dashed #e2dfd7;}
.live_talk ul:after{content:''; display:block; clear:both;}
.live_talk ul>li{position:relative; float:right; width:100%; font-size:12px; line-height:1.5; text-align:right;}
.live_talk ul>li>*:not(img){display:inline-block; vertical-align:bottom; margin-bottom:10px;}
.live_talk ul>li.cs{float:left; padding-left:50px;  text-align:left;}
.live_talk ul>li.cs:before{content:''; position:absolute; top:0; left:0; width:40px; height:40px; background:url(/mo/ko/images/cs/ico_live_talk.png) no-repeat; background-size:100%;}
.live_talk .bubble{display:inline-block; max-width:calc(100% - 65px); padding:10px 15px; border:1px solid #f54a7e; background:#fff; border-radius:17px 0 17px 17px; text-align:left;color: #333;}
.live_talk .cs .bubble{background:#ebebeb; border-color:#ebebeb; border-radius:0 17px 17px 17px}
.live_talk .bubble img{margin:5px 0;}
.live_talk ul>li small{width:60px; text-align:center; font-size:11px; font-weight:normal;}
.live_talk .form{position:fixed; bottom:0; left:0; right:0; z-index:2; height:60px; padding:10px 15px; background:#fbf7ee; }
.live_talk .form>div{padding:0 5px; background:#fff; border:1px solid #d2d2d2; border-radius:20px;}
.live_talk .form.disabled>div{background:#d9d9d9; }
.live_talk .form>div:after{content:''; display:block; clear:both;}
.live_talk .form button{float:right; width:30px; height:30px; margin-top:5px; border-radius:50%;}
.live_talk .form button:first-child{float:left; position:relative; margin-right:10px; }
.live_talk .form button:first-child:before{content:''; position:absolute; top:10px; bottom:10px; right:-5px; width:1px; background:#d2d2d2;}
.live_talk .form .input_wrap{float:left; width:calc(100% - 70px); padding:0 5px; border:0; height:40px; background:transparent;}
.live_talk .form .input_wrap input{border:0;}


/* 고객센터 */
.cs.overview {max-width:none;width:1200px;}
.cs.overview .panel {padding:0;}
.cs.overview .panel + .panel {margin-top:40px;}
.cs.overview .float_left,
.cs.overview .float_right {position:relative; width:580px;height:296px;}
.cs.overview .list_title {padding-bottom:16px;position:relative;}
.cs.overview .list_title .btn_more {position:absolute;top:2px;right:0;color:#999;font-weight:500;padding-right:0}
.cs.overview .list_title .btn_more [class^="ico_"] {width:6px;height:11px;background:url(/pc/ko/images/common/arr_right9.png) no-repeat;}
.cs.overview .list_title .btn_more:hover [class^="ico_"] {background:url(/pc/ko/images/common/arr_right10.png) no-repeat;}
.cs.overview .list.notice {padding:30px 0;border-width:1px 0 1px 0;border-color:#ddd;border-style:solid;}
.msie .cs.overview .list.notice {padding:29px 0 28px;}
.cs.overview .list.notice .list_item {position:relative;}
.cs.overview .list.notice .list_item:not(:first-child) {margin-top:20px;}
.cs.overview .list.notice .list_item .item_head {display:inline-block;text-align:center;border:1px solid #f54a7e;color:#f54a7e;line-height:22px;padding:0 6px;vertical-align:middle;}
.cs.overview .list.notice .list_item .item_link {display:inline-block;padding-left:12px;line-height:22px;max-width:390px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;}
.cs.overview .list.notice .list_item .item_date {position:absolute;top:2px;right:1px;color:#666;font-size:13px;}
.cs.overview .list.notice .list_item.none {text-align:center;line-height:200px;}
/* 수정됨
.cs.overview .float_right .contact {border:1px solid #000033;position:relative;height:inherit;}
.cs.overview .float_right .contact:before {content:'';width:1px;height:170px;background:#f2f2f2;position:absolute;top:39px;left:50%;margin-left:-1px;}
.cs.overview .float_right .contact .contact_item {padding-top:45px;}
.cs.overview .float_right .contact .title,.cs.overview .float_right .contact .phone {display:block;}
.cs.overview .float_right .contact .title {margin-top:25px;font-size:14px;color:#666;}
.cs.overview .float_right .contact .phone {margin-top:15px;font-size:22px;color:#333;}
.cs.overview .float_right .contact .text_center {margin-top:30px;font-size:14px;color:#666;}
*/
/* 02-23 new :  cs overview quick menu */
.cs.overview .quick_menu{height:100%; padding:30px; border:1px solid #d2d2d2;}
.cs.overview .quick_menu>* + *{margin-top:24px;}
.cs.overview .quick_menu .clear dl{position:relative; width:220px; min-height:60px; padding-left: 80px;}
.cs.overview .quick_menu .clear dt{padding:12px 0 5px; font-size:16px; color:#333;}
.cs.overview .quick_menu .ico{position:absolute; top:0; left:0; width:60px; height:60px; background: url(/pc/ko/images/cs/ico_cs_quickmenu.png) no-repeat;}
.cs.overview .quick_menu .ico2{background-position: 0 -60px;}
.cs.overview .quick_menu .ico3{background-position: 0 -120px;}
.cs.overview .quick_menu .ico4{background-position: 0 -180px;}
.cs.overview .quick_menu .contact{width:100%; height:60px; border-radius:30px; background:#f2f2f2; text-align:center;}
.cs.overview .quick_menu .contact *{display:inline-block; height:100%; padding:0 2px;}
.cs.overview .quick_menu .contact *:before{content:''; display:inline-block; width:0; height:100%; vertical-align: middle;}
.cs.overview .quick_menu .contact .num{font-size:20px; color:#000;}
.cs.overview .quick_menu .contact dd + dt{margin-left:10px;}
/* 삭제
.cs.overview .panel.cs_menu .cs_menu_item {float:left;margin-top:0;}
.cs.overview .panel.cs_menu .cs_menu_item:not(:first-child) {margin-left:40px;}
.cs.overview .panel.cs_menu .cs_menu_item .item_link {display:block;width:270px;height:270px;background:#f5f5f5;text-align:center;position:relative;}
.cs.overview .panel.cs_menu .cs_menu_item .item_link .item_title,
.cs.overview .cs_menu .cs_menu_item .item_link .item_text {display:block;text-align:center;position:absolute;width:100%;}
.cs.overview .panel.cs_menu .cs_menu_item .item_link .item_title {top:143px;left:0;font-size:28px;color:#333; font-weight:300;}
.cs.overview .panel.cs_menu .cs_menu_item .item_link .item_text {top:174px;left:0;font-size:14px;line-height:24px;}
*/
.cs .panel.faq_search {padding:30px 0; background:#f5f5f5;}
.cs .panel.faq_search .form{width:690px; margin:0 auto;}
.cs .panel.faq_search .ui_table>dl>dt {font-size:20px;width:124px;padding-top:18px; }
.cs .panel.faq_search .ui_table>dl>dd>*:not(.check_wrap):first-child {background:#fff;width:580px}
.cs .panel.faq_search .input_wrap>input {height:60px; padding-right:70px; border-color:#333;}
.cs .panel.faq_search .input_wrap .placeholder {height:60px;}
.cs .panel.faq_search .btn_search {width: 58px;height:58px; right:12px; min-width:inherit; background-color: #fff; background:url(/pc/ko/images/common/bg_btn_search.png) no-repeat 50% 50%;}
.cs .panel.faq_search .btn_search + .input_del {z-index:4;right: 60px;}
/* 삭제
.cs .panel.faq_search .form .recommend_keyword {display:block;margin-top:12px;margin-left:124px;}
.cs .panel.faq_search .form .recommend_keyword * {float:left;position:relative;display:block;font-size:12px;line-height:24px;}
.cs .panel.faq_search .form .recommend_keyword .title {background:#9adada;width:65px;text-align:center;color:#fff;margin-right:20px;}
.cs .panel.faq_search .form .recommend_keyword .title:before {content:'';width: 0;height: 0;border-top: 12px solid transparent;border-bottom: 12px solid transparent;border-left: 10px solid #9adada;position:absolute;top:0;right:-10px;}
.cs .panel.faq_search .form .recommend_keyword .keyowrd_text:not(:first-of-type) {margin-left:23px;}
.cs .panel.faq_search .form .recommend_keyword .keyowrd_text:not(:first-of-type):before {content:'';width:1px;height:10px;background:#b4b4b4;position:absolute;top:50%;left:-12px;margin-top:-5px;}
*/
.cs .faq_top_list {position:relative;}
.cs .faq_top_list .list_title .btn_more {color:#333;}
.cs .faq_top_list .ui_accordion>dl>dt {position:relative;height:60px;}
.cs .faq_top_list .ui_accordion>dl>dt:after {content: '';display: block;clear: both;}
.cs .faq_top_list .ui_accordion>dl>dt * {height:inherit;background-position:100% 11px;}
.cs .faq_top_list .ui_accordion>dl>dt.on>* {background-position:100% -33px;}
.cs .faq_top_list .ui_accordion>dl>dt .accordion_head {display:block;width:auto;padding:0;text-align:left;background:none;background-position:0 0;position:absolute;top:0;left:0;line-height:60px;color:#999;padding-left:121px;white-space: nowrap}
.cs .faq_top_list .ui_accordion>dl>dt .accordion_head span {display:block;width:95px;text-align:center}
.cs .faq_top_list .ui_accordion>dl>dt .accordion_head:before {content:'';width:26px;height:26px;background:url(/pc/ko/images/common/ico_q.png) no-repeat;position:absolute;top:17px;left:30px;}
.cs .faq_top_list .ui_accordion>dl>dt button {padding-left:309px;}
.cs .faq_top_list .ui_accordion>dl>dd {background:#f2f2f2;position:relative;padding:0}
.cs .faq_top_list .ui_accordion>dl>dd:before {content:'';width:26px;height:26px;background:url(/pc/ko/images/common/ico_a.png) no-repeat;position:absolute;top:40px;left:30px;}
.cs .faq_top_list .ui_accordion>dl>dd .cont {padding:40px 30px 40px 87px; line-height:1.5;}
.cs .faq_top_list .none_data {display:none;}
.cs .faq_top_list .none_data .panel.notice {border-top:1px solid #333; border-bottom: 1px solid #e5e5e5;}
.cs .faq_top_list .none_data.on {display:block;}
.cs .faq_top_list .btn_list_more {background:#fff;border:1px solid #333;margin-top:10px;}
.cs .faq_top_list .btn_list_more button {height:58px;}
.cs .panel .cs_list_category {display:block;margin-bottom:30px;}
.cs .panel .cs_list_category li {float:left;}
.cs .panel .cs_list_category li:not(:first-child) {margin-left:20px;}
.cs .panel .cs_list_category li .category_item {font-size:16px;color:#999;}
.cs .panel .cs_list_category li.on .category_item {color:#f54a7e;}
.cs .panel .faq_search_result_total {display:none;margin-bottom:10px;font-size:16px;}
.cs .faq_top_list .faq_search_result_total .num {color:#f54a7e;}
.cs .faq_top_list .faq_search_result_total.on {display:block;}
.cs .btn_more{position:absolute; top:0; right:0;}

.cs.board_notice .top_wrap {margin-bottom:10px;}
.cs.board_notice .top_wrap .cs_list_category {margin-top:16px;margin-bottom:0;}
.cs.board_notice .input_wrap {width:270px;}

/* 레이어 팝업 */
.layer_popup_artist_talk {overflow:auto;display:none;z-index:100;border:1px solid #333;}
.layer_popup_artist_talk {position:fixed;bottom:0;right:0;width:380px;}
.layer_popup_artist_talk .layer_cont_artist_talk {width:100%;background:#fff;padding:30px;position:relative;}
.layer_popup_artist_talk .layer_close_artist_talk {overflow:hidden;position:absolute;top:19px;right:19px;width:18px;height:18px;background:#fff url(/pc/ko/images/common/btn_layer_close2.png) no-repeat 0 0;background-size:18px 18px;font-size:0;transform:rotate(0);transition:.5s;}
.layer_popup_artist_talk .layer_close_artist_talk:hover {transform:rotate(180deg);transition:.3s;}
.layer_popup_artist_talk .layer_cont_artist_talk .banner {margin:0 -30px -30px;}
.layer_popup_artist_talk .layer_cont_artist_talk .text_quotes {margin-top:30px;font-size: 16px;}
.layer_popup_artist_talk .layer_cont_artist_talk .text_quotes:before,
.layer_popup_artist_talk .layer_cont_artist_talk .text_quotes:after {position:absolute;top:-7px;}
.layer_popup_artist_talk .layer_cont_artist_talk .text_quotes:after {right:0;}
.layer_popup_artist_talk .layer_cont_artist_talk .text_quotes:before {left:0;}
.layer_popup_artist_talk .layer_cont_artist_talk .page_btns {margin-top:20px;}
.layer_popup_artist_talk .layer_cont_artist_talk .banner {position:relative;margin-top:32px;}
.layer_popup_artist_talk .layer_cont_artist_talk .text_notice {color:#666;margin:25px 0 0;font-size:12px;text-align:center;white-space:nowrap;padding-left:0}
.layer_popup_artist_talk .layer_cont_artist_talk .text_notice:before {display:none}
.layer_popup_artist_talk .layer_cont_artist_talk .text_notice .ico_notice {margin-right:5px;margin-top:-2px;}
.layer_popup_artist_talk .layer_cont_artist_talk hr.div.m20 {background-color:transparent;border-bottom:1px dotted #e6e6e6;}
.layer_popup_artist_talk .layer_cont_artist_talk .text_quotes + .text_center{padding-top: 20px;color: #333;}
.layer_popup_artist_talk .layer_cont_artist_talk .text_quotes + .text_center span{color: #666;}

/* 매장특화서비스 */
.store_specialized.tab_cont{padding: 0;}
.store_specialized .visual{padding: 40px 0;}

.store_specialized .process{margin: 40px 0 55px;padding-top: 135px;}
.store_specialized .process{display: table; width:100%;text-align: center;}
.store_specialized .process > dl{display: table-cell;width: 310px;}
.store_specialized .process > dl:first-child{}
.store_specialized .process > dl dt{padding-bottom: 20px;line-height: 1.3em;}
.store_specialized .process > dl dd{font-size: 16px;line-height: 1.3em;}
.store_specialized .takeout{background: url('/pc/ko/images/cs/bg_process_takeout.jpg') no-repeat;}
.store_specialized .delivery{background: url('/pc/ko/images/cs/bg_process_delivery.jpg') no-repeat;}
.store_specialized .return{background: url('/pc/ko/images/cs/bg_process_return.jpg') no-repeat;}

/*통합회원안내*/
.integrated_member .h_title{font-size: 32px;font-weight: 200;text-align: center;line-height: 38px;}
.integrated_member .info{overflow: hidden;padding: 410px 0 50px;background:url('/pc/ko/images/cs/bg_integrated_member.jpg') 50% 70px no-repeat;}
.integrated_member .info > *{float: left;width: 270px;}
.integrated_member .info dl + dl{margin-left: 40px;}
.integrated_member .info dt .num{position: relative;display: inline-block;margin-bottom: 20px;width: 70px;height: 70px;border-radius: 100%;background-color: #fe95b4;font-size: 26px;color: #fff;text-align: center;line-height: 70px;}
.integrated_member .info dt .num:after{content: '';position: absolute;bottom: -20px;left: 0;width: 100%;height: 1px;background-color: #000;}
.integrated_member .info dl:nth-child(2) dt .num{background-color: #b3e1e1;}
.integrated_member .info dl:nth-child(3) dt .num{background-color: #bcd3f3;}
.integrated_member .info dl:nth-child(4) dt .num{background-color: #fad988;}
.integrated_member .info dt p{padding: 20px 0;font-size: 20px;font-weight: 200;color: #333;}
.integrated_member .info dd{font-size: 16px;color: #333;line-height: 26px;font-weight: 300;}