@charset 'utf-8';

.ap_wrapper{background:#fbf7ee;}
.error_contents{padding:70px 0; text-align:center;}
.browser_notice .panel{position:relative;  max-width:700px; margin:40px auto 0; padding:40px; background:transparent; border:1px solid #333; border-radius:5px;}
.browser_notice .panel .title{position:absolute; top:-1em; left:0; width:100%; font-size:18px;}
.browser_notice .panel .title span{display:inline-block; padding:10px; background:#fbf7ee;}
.browser_notice .copy{margin-top:50px;}
.error_contents .page_btns{margin-top:40px;}
.error_contents .panel{background:transparent; width:220px; margin:0 auto; padding:20px; border-radius:5px; border-color:#333; text-align:left;}
.browser_notice .font_lg,
.error_contents .font_lg{font-size:24px;}

.connection_disorder{position: absolute;top: 50%;transform: translateY(-50%);width: 100%;text-align: center;}
.connection_disorder p{font-size: 24px;font-weight: 500;color: #333;}
.connection_disorder p + p{margin-top: 15px;}
.connection_disorder p + p + p{margin-top: 20px;font-size: 14px;line-height: 21px;}

