@charset 'utf-8';
/* 이벤트 overview */
.event_main .event_menu_wrap{position:relative; padding-top:1px;}
.event_main .event_menu_wrap + *{margin-top:40px;}
.event_main .event_menu_wrap:after{content:''; display: block; clear: both;}
.event_main .event_menu_wrap button{position:absolute; top:-32px; right:0; height:31px;}
.event_main .event_menu_wrap .open,
.event_main .event_menu_wrap.on .close{display:block;}
.event_main .event_menu_wrap .close,
.event_main .event_menu_wrap.on .open{display:none;}
.event_main .event_menu_wrap button:after{content:''; display:inline-block; width:12px; height:7px; margin:-4px 0 0 5px; background:url(/pc/ko/images/common/ico.png) no-repeat -160px 0; vertical-align:middle;}
.event_main .event_menu_wrap .open:after{background-position:-160px -10px;}
.event_main .event_menu_wrap .open{height:33px;border-bottom:2px solid #ebebeb;}
.event_menu{display:table; width:100%; height:100px; table-layout: fixed; border-top:2px solid #000; border-bottom:1px solid #ebebeb;}
.event_menu>li{display:table-cell; width:20%; text-align:center; vertical-align: middle;}
.event_menu li a{position:relative; display:block; color:#000; line-height: 17px}
.event_menu li a:before{content:''; display:block; width:36px; height:38px; margin:0 auto 10px; background:url(/pc/ko/images/event/ico_event_menu.png) no-repeat;}
.event_menu li + li a:after{content:''; position:absolute; top:50%; left:0; width:1px; height:20px; margin-top:-10px; background:#ebebeb;}
.event_menu a.roulette:before{background-position:0 -38px;}
.event_menu a.sweet_letter:before{background-position:0 -76px;}
.event_menu a.beauty_tester:before{background-position:0 -114px;}
.event_menu a.free_sample:before{background-position:0 -152px;}
.event_menu a.makeup:before{background-position:0 -190px;}
.event_main .d_day{position:absolute; background:#f54a7e; color:#fff; padding:0 7px; font-size:12px; font-family: Arial; line-height:18px; border-radius: 10px;}
.event_main .event_menu .d_day{top:0; right:50px;}
.event_main .event_list{margin:-40px 0 0 -40px;}
.event_main .event_list:after{content:''; display: block; clear: both;}
.event_main .event_list>li{ position: relative;float:left; width:580px; margin:40px 0 0 40px;}
.event_main .event_list>li>a{display:block;}
.event_main .event_list .d_day{bottom:30px; left:40px; padding:0 10px; font-size:14px; font-weight:bold; line-height:26px; border-radius: 18px;}

/*이벤트 템플릿*/
.event.detail{text-align:center;}
.event_title_wrap{height:163px; padding-top:45px;}
.event_title_wrap .h_title{margin-bottom:20px; font-size:34px; font-weight:300;}
.event_title_wrap .btn_share {position:relative;  height:20px; margin-left:20px; padding-top:1px; border-left:1px solid #d2d2d2}
.event_title_wrap .btn_share:before {content:'';width:19px;height:20px;background:url(/pc/ko/images/common/ico_sns_01.png) no-repeat;display:inline-block;vertical-align:middle;margin:-2px 7px 0 0}
.event.detail .tab_cont{padding:0 !important;}
.event_image{position:relative;}
.event_image button{position:absolute; bottom:60px; left:50%; margin-left:-80px;}
dl[class^="event_"]{padding:80px; font-size:16px;}
dl[class^="event_"]>dt{padding-bottom:15px; font-size:30px; font-weight:700; color:#333;}
dl[class^="event_"] .text_notice{display:inline-block;}
.event.detail .coupon_list{width:970px; margin:0 auto;}
.event.detail .coupon_list:after{content:''; display: block; clear: both;}
.event.detail .coupon_list>li{float:left; width:464px; margin:20px 0;}
.event.detail .coupon_list>li:nth-child(even){float:right;}
.event.detail .coupon_list>li:only-child{width:100%;}
.event.detail .coupon_list .check_wrap>label{padding-left:0;}
.event.detail .coupon_list .check_wrap>label:before,
.event.detail .coupon_list .check_wrap>input:focus + label:after{top:10px; left:10px;}
.event_notice .step{margin-top:30px;}
.event_notice .step>li{height:80px; padding-left:25px; text-align:left; font-size:20px; color:#333;background:#fff; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.event_notice .step>li:before{content:''; display: inline-block; width:0; height:110%; vertical-align: middle;}
.event_notice .step>li .num{display:inline-block; width:110px; vertical-align: middle; font-weight:bold;}
.event_notice .step>li + li{margin-top:2px;}

.event_input .form{width:580px; margin:40px auto 20px;}
.event_input .input_wrap{height:80px; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.event_input .input_wrap>input{height:80px; border:2px solid #ebebeb;}
.event_input .input_wrap>input,
.event_input .placeholder{font-size:20px; padding-left:25px;}

.event.detail .review_list{margin-top:10px; border-top:1px solid #d2d2d2;}
.event.detail .review_list>dl>dd{width:1025px;}
.event.detail .review_list .user_id{margin-top: 0;padding-top: 0;}
.event.detail .review_list .attach_photo>* +*{margin-left:15px;}
.event.detail .comment_area{text-align:left}

.event.detail .event_product{position: relative;margin-top: 30px; text-align: left;}
	.event_product .h_title{font-weight: 500;}
	.event_product .tab_menu{border-bottom:1px solid #f54a7e}
	.event_product .tab_menu>ul{border-bottom:0;}
	.event_product .tab_menu li:only-child{width:890px}
	.event_product .tab_menu button span{display:inline-block; padding: 0 10px; vertical-align: middle; line-height: 1.2}
	.event_product>div{position:relative;}
	.event_product .event_order_wrap{overflow:hidden; overflow-y: auto; min-height:630px;  padding:20px 19px 20px;}
	.event_product .event_order_wrap>dl{width: 230px;}
	.event_product .event_order_wrap>dl>dt{padding-bottom: 10px; border-bottom: 1px solid #d2d2d2; color: #333;}
	.event_product .event_order_wrap>dl + dl{margin-top: 50px;}
	.event_product .event_order_wrap .benefit{display: block; padding: 15px 0 5px; color:#666;}
	.event_product .product_option_select{padding-left:0 !important; overflow:visible !important;}
	.event_product .event_order_wrap .total{position:relative; display:table; width:100%; padding: 10px; background: #fff; border-radius: 5px; color:#333;}
	.event_product .event_order_wrap .total:after{content:''; position:absolute; top:-16px; left:50%; width:0; height:0; margin-left: -8px; border:8px solid transparent; border-bottom-color: #fff;}
	.event_product .event_order_wrap .total>dt{display: table-cell; vertical-align:middle;}
	.event_product .event_order_wrap .total>dd{display: table-cell; vertical-align:middle; font-size: 16px; text-align: right; font-weight: 300;}
	.event_product .event_order_wrap .total>dd b{font-size: 20px; font-weight: bold;}
	.event_product .order_button_wrap button + button{min-width: inherit; width:150px;}
	.event_product .plus_one>li + li{position:relative;}
	.event_product .plus_one>li + li:before{content:''; position: absolute; top:-7px; left:50%; width:15px; height:15px; margin-left: -7px; background: url(/pc/ko/images/common/ico.png) no-repeat -125px -60px;}
	.event_product .product_option_select .empty{position:relative; padding:10px 0 10px 70px;}
	.event_product .product_option_select .empty>span{position:absolute; top:50%; left:0; width:60px; height:60px; margin-top: -30px; line-height: 60px;border:1px dashed #b4b4b4; background: #fff; text-align: center; font-size:12px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
	.event_product .product_option_select .empty>span.img {line-height:normal;}
	.event_product .product_option_select .empty>span.img img{width:100%;}
	.event_product .h_title.lare{margin-top: 30px; font-weight: 300;}
	.item .option_select{position:relative; margin-top: 18px;}
	.option_select>button{width: 100%; height:40px; border:1px solid #d9d9d9;}
	.option_select>.ui_select{width: 220px;}
	.option_select>.ui_select+button{position:absolute; top:0; right:0; width: 50px; border-left: 0;}
	.option_select>.ui_select .select_options{max-height: 300px;}
	.option_select>.ui_select .select_options li>*:after{display:none;}
	.option_select>.ui_select li + li{border-top:1px solid #d9d9d9;}
	.option_select>.ui_select a{position:relative; height: auto; padding:10px;}
	.option_select>.ui_select .color_chip{position:absolute; top:15px; left:15px; width:30px; height:30px;}
	.option_select>.ui_select .color_chip>img{width:30px; height:30px;}
	.option_select>.ui_select .color_chip + .color_name{margin-left:40px}
	.option_select>.ui_select .color_name{display:block; min-height: 40px;font-size: 14px; color:#666; line-height: 20px;}
	.option_select>.ui_select .price{display:block; padding: 5px 5px 0 0; text-align: right;}
	.option_select>.ui_select:only-child{width:100%;}

.event.detail .event_product .tab_contents{padding-right: 300px;min-height: 580px;}
.event.detail .event_product .tab_contents.general_tab{padding-right: 0px;min-height: 580px;}
.event.detail .event_product .order_layer{position: absolute!important;top: 90px;height: auto;}
.event_product .order_button_wrap button + button + button{width: 100%;}
.event.detail .event_product .order_bottom{position: initial;bottom: initial;left: initial;}

/*event*/
/*event - 출첵*/
.attendance{}
.attendance .calendar{position: relative;padding: 120px 155px 80px;background-color: #fabf3a;}
.attendance .calendar table{width: 100%;font-family: 'Arial';font-size: 22px;color: #999;letter-spacing: 0;}
.attendance .calendar th{padding: 30px 2px 20px;font-weight: 400;}
.attendance .calendar th span{display: inline-block;width: 100%;height: 100%;padding-bottom: 20px;border-bottom: 2px solid #000;}
.attendance .calendar th.sun span{border-color: #f54a7e;}
.attendance .calendar th.sun,
.attendance .calendar td.sun .date{color: #f54a7e;}
.attendance .calendar td{position: relative;height: 120px;vertical-align: top;padding: 2px;}
.attendance .calendar td.today{}
.attendance .calendar td.disabled{color: #d2d2d2;background-color: transparent;border-color: transparent}
.attendance .calendar td .date{position: relative;display: inline-block;width: 100%;height: 100%;padding: 5px;background-color: #f2f2f2;border-radius: 10px;color: #888;}
.attendance .calendar td.day10 .date{background-color: #fbd16d!important;}
.attendance .calendar td.day30 .date{background-color: #f7a2ba!important;}
.attendance .calendar td.check .date:after{content:'';position: absolute;bottom: 15px;right: 15px;width: 60px;height: 60px;background: url('/pc/ko/images/event/attendance_check.png') 0 0 no-repeat;}
.attendance .calendar td.day10 .date:after,
.attendance .calendar td.day30 .date:after{content:'';position: absolute;bottom: 15px;right: 15px;width: 60px;height: 60px;background: url('/pc/ko/images/event/attendance_check.png') 0 100% no-repeat;}
.attendance .calendar td.check .mark{overflow:hidden; width:0 !important; height:0 !important; padding:0 !important; margin:0 !important; font-size:0 !important; line-height:0 !important;}
.attendance .calendar .mark{position: absolute;top: 50%;left: 50%;z-index: 1;margin:-5px 0 0 -30px;width: 60px;height: 32px;text-align: center;color: #f54a7e;font-size: 30px;font-family: 'Noto Sans Korean';font-weight: 500;}
.attendance .calendar td.disabled .date,
.attendance .calendar td.other .date{background-color: #e6e6e6;color: #888;}
.attendance .calendar .calendar_area{padding: 30px 20px 20px;border-radius:20px 20px 0 0;background-color: #fff;}
.attendance .calendar .current_day{position: absolute;top: 0;left: 50%;margin-left: -140px;width: 280px;text-align: center;}
.attendance .calendar .current_day .eng{padding-left: 10px;font-size: 26px;color: #fff;}
.attendance .calendar .current_day span{padding-left: 10px;font-size: 24px;color: #fff;}

.attendance .calendar .month_select{position: absolute;top: 60px;left: 50%;margin-left: -445px;width: 890px;height: 80px;background-color: #000;border-radius: 80px;-webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2); box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);}
.attendance .calendar .month_select .current_month{display: inline-block;width: 725px;color: #fff;font-size: 30px;font-weight: 500;line-height: 80px;text-align: center;}
.attendance .calendar .month_select .btn{position: relative;margin-top: -16px;width: 80px;height: 80px;}
.attendance .calendar .month_select .btn:after{content: '';position: absolute;top: 50%;left: 50%;margin: -14px 0 0 -14px;width: 16px;height: 28px;background: url('/pc/ko/images/common/ico.png') 0 0 no-repeat;}
.attendance .calendar .month_select .btn.prev:after{background-position: -110px 0;}
.attendance .calendar .month_select .btn.next:after{background-position: -130px 0;}
.attendance .calendar .month_select .btn:disabled{background-color: transparent;border-color: transparent}
.attendance .calendar .month_select .btn:disabled.prev:after{background-position: -110px -30px;}
.attendance .calendar .month_select .btn:disabled.next:after{background-position: -130px -30px;}
.attendance .calendar .loading{position: absolute;top: 50%;left: 50%;margin: -63px 0 0 -80px;width: 160px;}

.attendance .legal{margin-bottom:40px;padding: 0 20px 50px;background-color: #fff;border-radius:0 0 20px 20px;}
.attendance .legal > *{position: relative;display: inline-block;padding-left: 40px;font-size: 26px;color: #000;}
.attendance .legal > *:after{content: '';position: absolute;top: 0;left: 0;width: 30px;height: 30px;border-radius: 30px;}
.attendance .legal > * + *{margin-left: 25px;}
.attendance .legal > .day10:after{background-color: #fbd16d;}
.attendance .legal > .day30:after{background-color: #f7a2ba;}

.attendance .btn_attendance_check{width: 580px;height: 100px;border-radius: 100px;font-weight: 300;font-size: 40px;background-color: #f54a7e;color: #fff;}
.ico_stamp{margin-right: 10px;width:60px; height:55px; background:url('/pc/ko/images/event/attendance_stamp.png') 0 0 no-repeat;}

/*뷰티테스터*/
.sub_title{padding-bottom: 40px;text-align: center;}
.sub_title .h_title{font-size: 34px;font-weight: 300;color: #333;}
.event_cont{position: relative;}
.event_cont .page_btns{position: absolute;bottom: 60px;left: 0;width: 100%;}
.event_noti{padding: 30px;background-color: #fbf7ee;}

.reply.ui_accordion{margin-top: 30px;border-top:1px solid #000;}
.reply.ui_accordion dt{position: relative;padding: 30px 0;}
.reply.ui_accordion dt button{position: absolute;right: 0;top: 50px;margin-top: -20px;width: 40px;height: 40px;}
.reply.ui_accordion dt .user_id{position: relative; padding-right: 10px;margin-right: 7px;font-weight: 300;font-size: 16px;font-family: 'Arial';letter-spacing: 0;}
.reply.ui_accordion dt .user_id:after{content: '';position: absolute;top: 9px;right: 0;width: 1px;height: 10px;background-color: #ebebeb;}
.reply.ui_accordion dt small{padding-right:5px;font-family: 'Arial';font-size: 14px;color: #888;letter-spacing: 0;}
.reply.ui_accordion dt .btn_delete{padding:0; line-height:1;}
.reply.ui_accordion [class^="ico_"]{width:20px; height:20px; margin-left:2px;background-position:-80px -60px}
.reply.ui_accordion .ico_del{background-position:-100px -60px;}
.reply.ui_accordion dt .title{display: block;margin-top:15px; font-weight:300 !important;font-size: 14px;color: #666;}
.reply.ui_accordion dd{padding: 30px;background-color: #f5f5f5;}
.reply.ui_accordion>dl>dt>*{display: initial;width: auto;padding: 0;line-height: 1;font-size: 14px;}
.reply.ui_accordion>dl>dt>button:after{right: 0;background-position-x: -3px;}

.event_apply .text_notice:before{top: 15px;}
.event_apply.form .ui_table>dl>dd * + p{margin-top: 0!important;}

/*무료샘플*/
.sample_apply .form .ui_table{padding: 0;}
.sample_apply .form .ui_table>dl>dd>div{max-width:480px;}
.sample_apply .panel_cont.ui_table>dl>dt{width: 20%;}
.sample_apply .delivery_info .title_area .relative .date_btn_set{top:1px; width:200px;}
.sample_apply .delivery_info .title_area .relative .date_btn_set.ea03{width:300px;}
.sample_apply .convenience_store{width: 100%;}
.sample_apply .panel.bordered.gray{position: relative;}
.sample_apply .panel.bordered.gray .check_wrap.basic{right: 25px;top: 25px;}
.sample_apply .delivery_info .panel_cont{padding: 0 40px;}
.sample_apply .convenience_store button{height: 200px;border:1px solid #ddd;border-radius: 10px;background-position: -25px 20px;font-size: 16px;font-weight: 500;}
.sample_apply .convenience_store button.on{border-color:#f54a7e}
.sample_apply .convenience_store div:nth-child(1){padding-right: 10px;}
.sample_apply .convenience_store div:nth-child(2){padding-left: 10px;border-left: 0;}
.sample_apply .convenience_store div:nth-child(2) button{background-position: -335px 20px;}
.free_sample .event_noti{padding: 30px;margin-top:50px ;background-color: #fbf7ee;} /* 무료샘플 하단 버튼 밑에 공지 top 여백 */

.play_makeup .clear > div{width: 50%;}
.play_makeup dl{margin-top: 60px;}
.play_makeup dd{margin-top: 15px;font-size: 16px;line-height: 28px;}
.play_makeup .play_step li{margin-top: 8px;}
.play_makeup .play_step li:first-child{margin-top:-3px;}
.play_makeup .play_step li > span{display: inline-block;vertical-align: middle;}
.play_makeup .play_step li > span:first-child{margin-right: 5px;padding: 0 8px;width: 50px;height: 20px;line-height: 20px;border-radius:20px;background-color: #f54a7e;font-family: 'Arial';color: #fff;font-size: 12px;}
.play_makeup .div{margin: 60px 0;}
.play_makeup .class_theme .h_title + p{margin-bottom: 0;}
.play_makeup .class_theme dt{font-size: 16px;}
.play_makeup .class_theme dl{margin-top: 40px;width: 580px;padding: 40px 30px;background-color: #fff;-webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1); box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);}
.play_makeup_apply dt{vertical-align: middle;}

/*스윗레터*/
.sweet_letter.form{padding-top: 460px;height: 955px;background:url('/pc/ko/images/event/img_sweet_letter.jpg') 0 0 no-repeat;}
.sweet_letter.form > div:not(.sr_only){margin: 0 auto;width: 500px;}
.sweet_letter.form .h_title{font-size: 30px;font-weight: 700;text-align: center;color: #000;line-height: 42px;}
.sweet_letter.form .input_area{margin: 34px 0 13px;}
.sweet_letter.form .input_wrap{width: 110px;height: 80px;}
.sweet_letter.form .input_wrap input{height: 100%;text-align: center;font-size: 30px;color: #000;font-weight: 700;}
.sweet_letter.form .input_wrap + .input_wrap{margin-left: 17px;}
.sweet_letter.form .text_notice{font-size: 24px!important;color: #333;}
.sweet_letter.form .text_notice:before{top: 19px;}
.sweet_letter.form .form_btns{margin-top: 30px;}
.sweet_letter.form .form_btns button{width: 240px;height: 80px;}

/*룰렛*/
.pear_roulette{position: relative;padding-top: 460px;height: 1180px;background:url('/pc/ko/images/event/img_roulette_bg.jpg') 0 0 no-repeat;}
.pear_roulette .text{position: absolute;bottom: 75px;width: 100%;font-size: 26px;line-height: 32px;color: #666;text-align: center;}
.pear_roulette .top{position: absolute;top: 417px;left: 572px;z-index: 1;}
.pear_roulette .circle{position: absolute;top: 431px;left: 363px;border-radius: 460px;-webkit-box-shadow: 0 10px 80px 0 rgba(0,0,0,0.3); box-shadow: 0 10px 80px 0 rgba(0,0,0,0.3);}
.pear_roulette .btn_start{position: absolute;top: 579px;left: 518px;z-index: 1;width: 150px;height: 150px;background:url('/pc/ko/images/event/btn_roulette.png') 0 0 no-repeat;}
.pear_roulette .btn_start:disabled{background-color: transparent;}

.event_benefit_info{}
.event_benefit_info dl{margin-top: 60px;}
.event_benefit_info dl dt{padding-bottom: 15px;font-size: 20px;color: #333;font-weight: 700;}
.event_benefit_info dl dd{font-size: 16px;line-height: 21px;}
.event_benefit_info dl.box{padding: 30px 40px;border:1px solid #d2d2d2}
.event_benefit_info dl.box dd{line-height: 28px;}
.event_benefit_info .other_benefit ul{overflow: hidden;margin-top: 10px;}
.event_benefit_info .other_benefit li{float: left;padding: 0 120px;}
.event_benefit_info .other_benefit a{display: inline-block;position: relative;padding-top: 135px;width: 160px;font-size: 18px;font-weight: 500;color: #333;text-align: center;}
.event_benefit_info .other_benefit a:before{content: '';position: absolute;top: 0;left: 50%;margin-left: -57px;width: 115px;height: 115px;background-color: #f5f5f5;border-radius: 100%;}
.event_benefit_info .other_benefit a:after{content: '';position: absolute;top: 50%;left: 50%;margin:-50px 0 0 -25px;width: 50px;height: 55px;background:url('/pc/ko/images/event/ico_event_menu2.png') no-repeat;}
.event_benefit_info .other_benefit a.roulette:after{background-position: 0 0;}
.event_benefit_info .other_benefit a.beauty_tester:after{background-position: 0 -55px;}
.event_benefit_info .other_benefit a.attendance:after{background-position: 0 -110px;}
.event_benefit_info .other_benefit a.letter:after{background-position: 0 -165px;}

/*당첨자발표*/
.event .board_view2 .cont dd{padding-left:0;}
.event_table{margin-top: 30px;text-align: center;}
.event_table table{margin: 0 auto;width: 500px;border:1px solid #000}
.event_table table th{padding:10px 5px; border-bottom:1px solid #000;border-left: 1px solid #000; background:#fff; line-height:1.4;background:#fbf7ee;font-weight: 500;}
.event_table table td{padding:10px 5px; border-bottom:1px solid #000;border-left: 1px solid #000; background:#fff; line-height:1.4;}
.event_table table thead th{border-top:1px solid #000; }
.event_table table tbody{border-top:1px solid #000;}
.event_table table tbody th{font-weight:normal;}
