@charset 'utf-8';

/* 메인 전용 */
.main_contents{width:auto; padding-bottom:100px;}
.main_contents>div:not(.main_visual){width:1200px; margin:80px auto 0;}
.main_contents .section{position:relative;}
.main_contents .section>.title{position:relative; margin-bottom:30px; font-size:26px; font-weight:300; color:#000;}
.main_contents .section>.title:before{content:''; display:inline-block; height:25px; margin-right:10px; margin-top:-4px; background:url(/pc/ko/images/main/ico_main_title.png) no-repeat; vertical-align: middle;}
.main_contents .section>.more{position:absolute; top:5px; right:0; color:#000; font-size:16px;}
.main_contents .section>.more:after{content:''; display:inline-block; width:8px; height:15px; margin:-3px 0 0 9px; background:url(/pc/ko/images/common/ico.png) no-repeat -65px -55px; vertical-align: middle;}

/* 메인 비주얼 슬라이드 */
.main_visual{min-width:1200px; margin-bottom:-30px;}
.main_visual .slide .ix-list-viewport{height:500px;}
.main_visual .slide .ix-list-item{position:relative; width:100%;}
.main_visual .slide .ix-list-item a{overflow:hidden; position:relative; width:100%; height:500px;}
.main_visual .slide .ix-list-item img{max-width:inherit;}
.main_visual .slide .ix-controller{bottom:-18px;}

	/* 신제품 */
.new_item .title:before{width:40px;}
.new_item .recommend_items{margin:0;}
.new_item .recommend_items ul li{width:270px;}
/*.new_item .recommend_items ul li + li{margin-left:40px;}*/
.new_item .recommend_items .item .item_images{width:270px; height:270px;} /* 20170715:썸네일크기수정 */
.new_item .recommend_items .item .item_images img{width:100%;} /* 20170715:썸네일크기수정 */
.new_item .recommend_items .ix-list-item{width:270px;}
/* 추천 태그 외 */
.recommend_tag{width:50%; height:500px; padding:60px 40px; background:url(/pc/ko/images/main/bg_recommend_01.jpg) no-repeat;}
.recommend_tag .title:before{width:25px; background-position:0 -30px !important;}
.recommend_tag .tag{margin:-10px -15px 0;}
.recommend_tag .tag>a{display:inline-block; padding:0 30px; margin:10px 15px; font-size:18px; font-weight:300; color:#000; background:#fff; line-height:45px; border-radius:23px; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.recommend_tag .go{position:absolute; bottom:40px; left:40px; right:40px; font-size:18px; font-weight:300; color:#000;}
.recommend_tag .go:after{content:''; position:absolute; top:5px; right:0; width:30px; height:17px; background:url(/pc/ko/images/main/ico_main_title.png) no-repeat 0 -240px;}
.recommend_tag + .section{width:50%; font-size:18px; color:#000; font-weight:300;}
.recommend_tag + .section>a{position:relative; display:block; height:250px; background:#000;}
.recommend_tag + .section>a img{opacity:.7; transition: .5s;}
.recommend_tag + .section>a:hover img{opacity:.8;}
.recommend_tag + .section>a span{position:absolute; top:50%; left:0; width:100%; margin-top:-13px; text-align: center; font-size:26px; color:#fff; }

/* 에뛰드 픽 */
.section.etude_pick .title:before{width:25px; background-position:0 -60px !important;}
.section.etude_pick .ix-list-item{width:208px; margin-right: 40px;}
.section.etude_pick .ix-list-item .lazy_load_wrap{overflow:hidden; width:208px; height:208px; border-radius:50%;}
.section.etude_pick .ix-list-item span{display:block; line-height:40px; font-size:16px;}
.section.etude_pick .slide [class*='_direction'] [class^="ix-btn"]{margin-top: -38px;}

/* 배너 */
.section.banner .lazy_load_wrap{height:200px;}

/* ch 에뛰드 */
.section.ch_etude>.title:before{width:21px; background-position:0 -90px !important;}
.section.ch_etude .video_wrap .thumbnail{width: 100%;height: 100%;}
.section.ch_etude .video_wrap .thumbnail img{width: 100%;height: 100%;}
.section.ch_etude .video_wrap{width:735px;}
.section.ch_etude .clear>dl{width: 425px;}
.section.ch_etude li{padding-top:8px; margin-top:8px;}
.section.ch_etude li + li{border-top:1px solid #ebebeb;}
.section.ch_etude li a{display:table; width:100%;}
.section.ch_etude li a>*{display:table-cell; vertical-align: middle;}
.section.ch_etude li .img{width:115px; height:115px; background-color:#f5f5f5; background-size:50px;}
.section.ch_etude li span + span{padding-left:40px;}
.section.ch_etude li .title{display:block; color:#000; font-size:18px; font-weight:300; line-height:1.3;}
.section.ch_etude li .price{display:block; margin-top:10px; padding-left:0; font-size:16px;}
.section.ch_etude li .price b{font-size:20px; font-family:Arial; font-weight:bold;}

/* color pick */
.section.color_pick>.title:before{width:19px; background-position:0 -120px !important;}
.section.color_pick .recommend_items{margin:0;}
.section.color_pick .recommend_items .item .info_box{height:130px;}

/* best */
.section.best>.title:before{width:19px; background-position:0 -150px !important;}
.section.best .slide .ix-list-item{width:25%; margin:0;}
.section.best .recommend_items{margin:0;}
.section.best .recommend_items ul{margin:0;}
.section.best .recommend_items .item>*{float:none;}
.section.best .recommend_items .item .item_images{width:270px; height:270px; margin:0 auto; background:#fff; text-align:center;}
.section.best .recommend_items .item .item_images a{display:block;}
.section.best .recommend_items .item .info_box{width:100%; height:157px; padding:0;}
.section.best .recommend_items .item .info_box .title_area{padding:0 10px;}
.section.best .recommend_items span.num{display:block; padding:18px 0 10px; font-size:26px; color:#000; border-top:1px solid #ebebeb;}
.section.best .recommend_items .item .info_box .price_area{width:100%;text-align: center;}
.section.best .recommend_items .item .info_box .price_area > *:first-child{width: 100%;text-align: center;}

/* 핫딜 9 looks*/
.section.hot_deal,
.section.nine_looks{width:580px;}
.section.hot_deal>.title:before{width:42px; background-position:0 -180px !important;}
.section.hot_deal .recommend_items{margin:0;}
.section.hot_deal .ix-list-item{width:270px;}
.section.hot_deal .item_images{position:relative; width:270px; height:300px; padding-top:45px;}
.section.hot_deal .item_images .lazy_load_wrap{width:240px; height:240px; margin:0 15px;}
.section.hot_deal .item_state{top:15px; bottom:auto; margin-top:0;}
.section.hot_deal .item_state>*,
.section.hot_deal .item_state .ui_remain_timer{line-height:28px; font-size:14px; padding-right:5px;}
.section.hot_deal .item_state>*>span:first-child{padding:0 5px; background:#fff;}
.section.hot_deal .item_state .ico_hot{width:18px; height:18px; margin:-4px 0 0; background:url(/pc/ko/images/common/ico.png) no-repeat 0 -90px;}
.section.hot_deal .info_box{width:100%; padding:15px 0; height:120px;}
.section.hot_deal .num{display:block; padding:10px 0 ; font-size:26px;}
.section.hot_deal .title_area{padding:10px 0 5px; border-bottom:1px solid #f5f5f5 !important;}
.section.hot_deal .title_area>*{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.section.hot_deal .cart{width:20px; height:20px; background:url(/pc/ko/images/common/ico.png) no-repeat -20px -90px;}
.section.hot_deal .slide [class*='_direction'] [class^="ix-btn"]{top:38%;}

.section.hot_deal .price_area{position: relative;margin-top: 10px;}
.section.hot_deal .info_box .to{font-size: 26px;color: #f54a7e;font-family: 'Arial';font-weight: 700;}
.section.hot_deal .info_box .to em{font-size: 26px;color: #f54a7e;font-family: 'Arial';font-weight: 400;}


.section.nine_looks>.title:before{width:29px; background-position:0 -210px !important;}
.section.nine_looks .lazy_load_wrap{height:420px;}
.section.nine_looks .cont{position:absolute; top:100px; left:45px; bottom:0; z-index: 1; width:260px; text-align:left;}
.section.nine_looks .cont b.eng{display:block; padding-left:5px; margin-bottom:30px; color:#fff; font-size:48px; font-weight:bold;}
.section.nine_looks .cont .tag{display:inline-block; margin:5px; padding:0 15px; font-size:16px; color:#fff; line-height:35px; border-radius: 16px; background:rgba(255,0,0,0.5)}
.section.nine_looks .ix-controller.round_box{bottom:50px; left:50px; margin-left:0;}