@charset 'utf-8';
/* 회원가입, 로그인, 회원정보 */

/* 회원가입 */
.member_join .member_join_inner {padding:0 155px;}
.member_choice .panel{width:360px; text-align:center;}
.member_choice .panel:first-child{margin-left:60px;}
.member_choice .panel + .panel{margin-right:60px;}
.member_choice [class^="btn_"]{min-width:190px; height:46px;}
.member_join .ui_table>dl>dt{width:119px;}
.member_join .ui_table>dl>dt.line_height {line-height:20px;padding-top:0}
.member_join .ui_table>dl>dd>*:not(.check_wrap):first-child{width:540px;}
.certification_method{padding:40px 0 50px;text-align:center}
.certification_method:after{content:''; display:block; clear:both;}
.certification_method>li{display:inline-block;width:180px;height:145px;vertical-align: top;position:relative}
.certification_method>li:only-child{float:none; margin: 0 auto;}
.certification_method>li+li{margin-left:60px; font-size:16px; font-weight:500;}
.certification_method>li a{display:block; padding:40px 0; text-align:center;}
.membership_benefit{margin:40px 0;}
.membership_benefit>dt{padding-bottom:1em;}
.membership_benefit>dd+dt{margin-top:60px;}
.membership_benefit li span{display:block; margin-top:1em;}
.membership_benefit li [class^="text"]{padding-left:20px; margin-top:1em;}
.member_join .policy_form .form:not(:first-child){margin-top:25px;}
.member_join .policy_form .form.type2{padding-bottom:50px;}
	.policy_form .form>div{position:relative;}
	.policy_form .dl_cont>dd,
	.policy_form .form .list>li{position:relative;}
	.policy_form .form .list>li + li{margin-top:22px;}
	.policy_form .form .btn_view{position:absolute; top:50%; right:0; height:26px; min-width:80px; margin-top:-13px;}
    .policy_form .form .text_notice.member_join {margin-left:19px;}
    .policy_form .form .text_notice.member_join:before {z-index:2}
    .policy_form .form .text_notice.member_join:after {content:'';position:absolute;top:50%;left:0;width:16px;height:16px;margin-top:-8px;border-radius:100%;background:#fff;z-index:1}
    .policy_form .dl_cont{margin-top:1em;}
    .policy_form .dl_cont + .dl_cont{margin-top:3em;}
    .policy_form .dl_cont.type2{margin-top:0;}
    
.member_join .dl_cont + .dl_cont{margin-top:40px !important;}
.dl_cont>dd{position:relative;}
.dl_cont [class^="btn_"].vertical{position:absolute; top:0; right:0;}
.certification .input_phone>*:first-child{width:130px;}
.member_join .h_title.sub:nth-of-type(1) {border-bottom:1px solid #d2d2d2;padding-top:30px;padding-bottom:20px;}
.member_join .h_title.sub.none_bdr {border-bottom:0;font-weight:500}
.member_join .panel_footer .list_bullet_dash li {color:#666;}
.member_join .panel_footer .list_bullet_dash li + li {margin-top:18px;}
.member_join .welcome {text-align:center}
.member_join .welcome .h_title.lare {font-weight:500;margin-top:30px}
.member_join .welcome .text.type2 {font-size:16px;padding-bottom:0}
.member_join .panel_footer.welcome {margin-top:45px;}
.member_join .panel_footer.welcome .page_btns {margin-top:0}
.member_join .text.type2.member_join {margin:0;font-size:16px;}
.member_join .member_join_input_tit {font-size:16px;color:#333}

/* 로그인 */
.login{padding: 0 270px 90px;}
.login .panel:first-child{border:1px solid #ebebeb;border-top: 1px solid #333;}
.login .check_wrap{min-width:100px;}
.login .radio_set + .login_area{margin-top:15px;}
.login .login_area{position:relative; padding-right:165px;font-size: 16px;}
.login .login_area>div + div{margin-top:10px;}
.login .login_area .clear{margin-top:15px;}
.login [class^="btn_"][class*="login"]{position:absolute; top:0; right:0; width:155px; height:90px;font-size: 18px;}
.login [class^="btn_"][class*="vertical"]{width:155px;}
.login .panel:nth-of-type(2){padding:25px 0;}
.login .panel:nth-of-type(2) .panel_cont{position:relative;}
.login .sns{position:absolute; top:-4.5px; right:40px;}
    .sns:after{content:''; display: block; clear: both;}
    .sns li{float:left; width:32px}
    .sns li + li{margin-left:8px;}
    .sns li>*{overflow:hidden; display:block; width:32px; height:0; padding-top:32px; background:url(/pc/ko/images/member/ico_sns_cir.png) no-repeat;line-height:1.5;}
    .sns li:nth-child(2)>*{background-position:-40px 0;}
    .sns li:nth-child(3)>*{background-position:-80px 0;}
.login .banner_area{height:150px;}
.layer .login .btns>*{width:49%;}
.layer .login .vertical{margin-top:-25px;}
.layer .layer_cont .login{padding: 0;border: 0; width:100%;}
.login .login_area .check_wrap>label{font-size: 16px;}
.login .login_area .check_wrap + div{padding-top: 5px;font-size: 16px;color: #666;}
.login .dl_cont dt{font-size: 18px;}
.layer .layer_cont .login .dl_cont dt{margin-bottom: 5px;}

    /* 비밀번호 찾기 */
.find_id_pwd{padding: 0 155px 90px;}
.find_id_pwd .panel:first-child{border-top: 1px solid #333;}
.find_id_pwd .method{display: table;width: 100%;position:relative; padding: 0 40px;}
.find_id_pwd .method > div{display: table-cell;vertical-align: top;}
.find_id_pwd .method .h_title{padding-bottom: 15px;}
.find_id_pwd .method .btns{padding:40px 0;box-sizing: border-box;}
.find_id_pwd .method div + div .h_title{padding-left: 25px;}
.find_id_pwd .method div:first-child .btns{border-right: 1px solid #dedede}
.find_id_pwd .method button.ico{position: relative;padding-top: 84px;width: 160px;height: 110px;color: #333;font-size: 16px;}
.find_id_pwd .method button.ico:before{content: '';position: absolute;top: 0;left: 50%;margin-left: -32px;width: 64px;height: 64px;background:url('/pc/ko/images/member/ico_find_idpw.png') 0 0 no-repeat;}
.find_id_pwd .method button.ico.hp:before{background-position: 0 0;}
.find_id_pwd .method button.ico.email:before{background-position: 0 -64px;}
.find_id_pwd .method button.ico.hp2:before{background-position: 0 -128px;}
.find_id_pwd .method button.ico.ipin:before{background-position: 0 -192px;}
.find_id_pwd .method button.ico.foreigner:before{background-position: 0 -256px;}
.find_id_pwd .form .ui_table>dl>dd>*:not(.check_wrap):first-child{width: 78%;}
.find_id_pwd .form .ui_table>dl>dd>*:not(.check_wrap):first-child.text{font-size: 16px;}

.find_id_pwd .certification .check_wrap label{font-size: 16px;}
/*아이디 찾기*/
.find_id_pwd .method .form{width: 300px;padding-right: 30px;border-right: 1px solid #e6e6e6}
.find_id_pwd .method .form > *{width: 100%;}
.find_id_pwd .method .form .input_wrap{margin-bottom: 10px;}

.find_id_pwd .ui_table>dl>dt{width:135px;}
/*.find_id_pwd .ui_table>dl>dd>*:not(.check_wrap):first-child{width:320px;}*/
.find_id_pwd .input_id {text-align:center;}
.find_id_pwd .input_id label{margin-right:20px;color: #333;font-size: 16px;}

/* 캡차 */
.captcha .img{height:54px; width:163px; border:1px solid #333;}
.captcha .img img {width:100%;height:100%;}
.captcha .btns{width:90px;float:left;margin-left:4px}
.captcha button{width:100%; height:25px; background:#f2f2f2; border:1px solid #ddd; text-align:center;}
.captcha button + button{margin-top:4px;}
.captcha .input_wrap{margin-top:10px;}

.certification_method>li .certification {position:absolute;bottom:0;left:0;width:100%}
.certification_method>li:nth-child(3) {padding-top:3px;}
.member_join_inner .ui_step + .panel {padding-top:40px}
.h_title.cont.policy {font-weight:500}
.member_join_inner .align_center {text-align:center}

/* SNS 계정 연동 관리 */
.sns_box {text-align:center;}
.sns_box>div {float:left; width:380px; padding:30px; border:1px solid #d2d2d2;}
.sns_box>div + div {margin-left:30px;}
.sns_box .info_box {margin-top:25px; padding-top:25px; border-top:1px solid #d2d2d2;}
.sns_box .txt_info {margin-bottom:25px; color:#999;}

/* 로그인 : new */
.member_login{width:480px; margin:0 auto; padding-bottom:50px; color:#666; font-family:'맑은 고딕', 'Malgun Gothic'; letter-spacing: 0;}
.member_login b{font-weight: bold;}
.member_login .tab_menu{height: 50px;}
.member_login .tab_menu>ul{border-bottom-color:#000;}
.member_login .tab_menu>ul>li>*{height: 50px; padding: 0; font-size: 16px; background: #f2f2f2; border-top-color:#999; border-right-color:#999; border-left:0 !important; border-bottom:0;}
.member_login .tab_menu>ul>li>*:before{content:''; position:absolute; top:0; left:-1px; bottom:0; width: 1px; background: #999;}
.member_login .tab_menu>ul>li:first-child>*:before{left:0;}
.member_login .tab_menu>ul>li.on{z-index: 2;}
.member_login .tab_menu>ul>li.on>*{font-weight: bold;}
.member_login .tab_menu>ul>li.on>*:before{background: #000;}
.member_login .tab_menu .on>*{background-color: #fff;}
.member_login .tab_menu .on>*:not(span){border-color:#000; border-bottom-color:#fff;}
.member_login .tab_cont{padding:24px 0 16px;}
.member_login .form>*:not(legend) + *{margin-top:13px;}
.member_login .btn_lg_bordered{font-size:16px; color:#888;}
.member_login .btn_login{width: 100%; height: 50px; color:#fff; background-color: #88a2c3; font-size: 16px;}
.member_login .input_wrap>input,
.member_login .select_wrap>button{height:50px; font-size: 16px; background:none;}
.member_login .select_wrap>button:after{content:''; position:absolute; top:50%; right:10px; width: 0;height: 0; border:5px solid transparent; border-top-color:#000;}
.member_login .placeholder{font-size: 16px; color:#bbb;}
.member_login .check_wrap.large>label{color:#666; font-size: 14px;}
.member_login .check_wrap.large>label:before{border:1px solid #ccc;}
.member_login .check_wrap.large>input[type="checkbox"]:checked + label:before{background-color:#88a2c3; background-position: 0 47%; border-color: #88a2c3;}
.member_login .check_wrap.large>input[type="checkbox"] + label:after{top:10px; left:6px;}
.member_login .check_wrap.large>input:focus + label:after{top:0; left:0; width:35px; height:35px;}
.member_login .link>*{margin-top: -4px;}
.member_login .link .ico_arr{width: 8px; height: 13px; background:url(/pc/ko/images/member/ico_member.png) -140px -50px;}
.member_login .sns_log>*{position:relative; width: 100%; height: 50px; margin-left: 0 !important; padding-left:45px !important; text-align:left; font-size:16px !important; color:#888 !important; border-color:#d7d7db !important;}
.member_login .sns_log>*>*{vertical-align: top;}
.member_login .sns_log>*+*{margin-top:8px;}
.member_login .sns_log .ico_navi{position:absolute; top:50%; right:10px; margin-top: -13px; width:15px; height:23px; background: url(/pc/ko/images/member/ico_member.png) no-repeat -120px -80px;}
.member_login .sns_log [class*="ico_"]:first-child{position:absolute; top:50%; left:15px; margin-top: -13px; background:url(/pc/ko/images/member/ico_member.png) no-repeat; -webkit-background-size: 100px;background-size: 100px;}
.member_login .ico_naver{width:20px; height:27px; background-position:0 -75px !important;}
.member_login .ico_facebook{width:20px; height:27px; background-position:-20px -75px !important;}
.member_login .ico_kakao{width:24px; height:27px; background-position:-40px -75px !important;}
.member_login .member_menu{height: 42px; padding-top: 8px; text-align:center;}
.member_login .member_menu>a{position:relative; display:inline-block; padding:0 12px; font-size: 13px;}
.member_login .member_menu>a + a:before{content:''; position:absolute; top:3px; left:0; width:1px; height:12px; background:#d1d1d6}
.member_login .input_wrap button{position:absolute; top:50%; right:10px; z-index: 3; width:28px; height:28px; margin-top:-14px; padding:0; background:url(/pc/ko/images/member/ico_member.png) no-repeat -90px -110px;}
.member_login .input_wrap .btn_password{background-position: -90px -80px;}
.member_login .gap{width: 10px;}
.member_login .btn_lg_primary{background-color: #88a2c3;}