@charset 'utf-8';

/*공통푸터*/
.common_policy .pdf_down {display:inline-block;text-align:center}
.common_policy .pdf_down:after {content:'';display:inline-block;width:15px;height:15px;background:url(/pc/ko/images/common/ico_file_down.png) no-repeat;margin-left:11px}
.common_policy .map_area {height:559px}
/*공통푸터*/

.common_policy .panel{line-height: 1.5;}
.h2_title{padding: 15px 0;font-size:20px;font-weight: 700;}
.terms_area .h5_title{padding: 10px 0;}

/* 약관 - 테이블 */
.agree-txt{white-space:initial}
.agree-txt table caption{overflow:hidden; width:0 !important; height:0 !important; padding:0 !important; margin:0 !important; font-size:0 !important; line-height:0 !important;}
.agree-txt table {width:100%; }
.agree-txt table [class^="btn_"] {min-width:inherit; padding-left:1em; padding-right:1em;}
.agree-txt table th{padding:10px 5px; border-bottom:1px solid #ebebeb; background:#fff; line-height:1.4;background:#fbf7ee;font-weight: 500;}
.agree-txt table td{padding:10px 5px; border-bottom:1px solid #ebebeb; background:#fff; line-height:1.4;}
.agree-txt table thead th{border-top:1px solid #ebebeb; }
.agree-txt table tbody{border-top:1px solid #ebebeb;}
.agree-txt table tbody th{font-weight:normal;}
.agree-txt table tr.selected>*{background:#f2f2f2;}
.agree-txt table tr>* + *{border-left:1px solid #ebebeb;}

/* 약관 - 테이블 */
.tblType1{margin: 10px 0;}
.tblType1 table caption{overflow:hidden; width:0 !important; height:0 !important; padding:0 !important; margin:0 !important; font-size:0 !important; line-height:0 !important;}
.tblType1 table {width:100%;}
.tblType1 table [class^="btn_"] {min-width:inherit; padding-left:1em; padding-right:1em;}
.tblType1 table th{padding:10px 5px; border-bottom:1px solid #ebebeb; background:#fff; line-height:1.4;background:#fbf7ee;font-weight: 500;}
.tblType1 table td{padding:10px 5px; border-bottom:1px solid #ebebeb; background:#fff; line-height:1.4;}
.tblType1 table thead th{border-top:1px solid #ebebeb; }
.tblType1 table tbody{border-top:1px solid #ebebeb;}
.tblType1 table tbody th{font-weight:normal;}
.tblType1 table tr.selected>*{background:#f2f2f2;}
.tblType1 table tr>* + *{border-left:1px solid #ebebeb;}
