@charset 'utf-8';

.product {position:relative}
.product.detail {padding-top:67px}
.product.detail .ui_select + .ui_select {margin-top:10px}
.product .social_wrap {padding-left:8px; margin-bottom:18px}
.product .prd_img_big {width:540px;height:540px;position:relative;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden;}
.product .prd_img_big img {max-width:inherit}
.product .prd_detail_default:after {content:'';display:block;clear:both;}
.product .prd_img_wrap,
.product .prd_info_wrap {float:left}
.product .prd_img_wrap {width:540px;position:relative}
.product .ui_rating .heart>span label {width:20px;height:17px;background:url(/pc/ko/images/common/bg_rating_typ2.png) no-repeat; /*background-size:99%*/}
.product .ui_rating .heart>span label.checked,
.product .ui_rating .heart>span input:checked + label {background-position: 0 -29px;}
.product .ui_rating .heart>span {margin-right:4px}
.product .ui_rating .count {color:#333}
.product .social_wrap .btn_share {position:relative; margin-left:20px; padding:2px 0 0 0; color:#333;}
.product .social_wrap .btn_share:before {content:'';width:19px;height:20px;background:url(/pc/ko/images/common/ico_sns_01.png) no-repeat;display:inline-block;vertical-align:middle;margin:-2px 7px 0 0}
.product .social_wrap .ui_rating {width:120px}
.product .social_wrap .ui_rating>*.on {background-position: 0 -29px;}
.product .social_wrap .ui_rating>* {display:inline-block;vertical-align:middle;width:20px;height:17px;background:url(/pc/ko/images/common/bg_rating_typ2.png) no-repeat;}
.product .social_wrap .ui_rating + .count {font-weight:400;color:#333}

.product .prd_thm_wrap {text-align:center;margin-top:10px}
.product .prd_thm_wrap .prd_btn_thm {width:60px; height:60px; border:1px solid #e5e5e5; position:relative}
.product .prd_thm_wrap .prd_btn_thm.on{border:0}
.product .prd_thm_wrap .prd_btn_thm.on:before {content:''; border:3px solid #333;position:absolute;top:0;left:0;right:0;bottom:0}
.item_state {position:absolute;bottom:142px;left:0;width:100%;margin-top:-15px;text-align:center;font-weight:300;z-index:3;}
.item_state>*{display:inline-block;padding-right: 20px;border:1px solid #f54a7e;background:rgba(255, 255, 255, 0.7);line-height: 48px;font-size: 16px;color:#000;border-radius: 25px; vertical-align:top;}
.item_state>*>span:first-child {float:left;display:inline-block;background:#f54a7e;color:#fff;padding: 0 20px;margin-right:5px;border-radius: 24px;}
.item_state>*.off {border-color:#666;}
.item_state>*.off>span {background-color:#666;}
.item_state .ico_hot {width:28px;height:28px; margin:-5px -9px 0 -10px; background: url(/pc/ko/images/product/ico_product.png) no-repeat 0 94%;background-size: 100%;}
.item_state .ui_remain_timer{display:inline-block; font-family:Arial; font-size:24px; color:#000; font-weight:bold; line-height:48px; vertical-align: top;}
.product .prd_category_wrap {white-space:nowrap;}
.product .prd_category_wrap .prd_cate_item {display:inline-block; height:21px; padding:4px 10px; border-radius:20px;text-align:center;color:#fff; /*line-height:21px;*/ font-size:12px;}
.product .prd_category_wrap .prd_cate_item.typ1 {background:#9adada;}
.product .prd_category_wrap .prd_cate_item.typ2 {background:#f7a2ba;}
.product .prd_category_wrap .prd_cate_item.typ3 {background:#fabf3a;}
.product .prd_category_wrap .prd_cate_item.typ4 {padding:3px 10px; border:1px solid #b4b4b4;color:#999;}
.product .prd_detail_name {margin-top:15px; line-height:1.3; padding-bottom:30px; border-bottom:1px solid #000;}
.product .prd_detail_name small{word-break: keep-all; font-size:16px;}
.product .prd_detail_name small span b{color:inherit; font-weight:600;}
.product .prd_detail_name .h_title {font-size:34px;font-weight:300;margin-top:4px; word-break: keep-all;}
.product .prd_info_wrap {float:right; width:580px; font-weight:300;}
.product .prd_opt_name {margin-top:20px;position:relative;line-height:28px}
.product .new_text {font-size:16px;color:#9adada;}
.product .color_group {/margin-top:10px;padding-bottom:10px;height:46px;border-bottom:1px dotted #d2d2d2;}
.product .color_group .scroll_area {white-space:nowrap}
.product .color_group>div>* {display:inline-block;vertical-align:top;width:30px;height:30px;color:#fff;text-align:center;border-radius:10px;margin-right:0;}
.product .color_group>div>*:first-child {margin-right:1px;}
.product .color_chips>div {overflow:hidden;height:auto;}
.product .color_group>div>*.all {background:#999;font-size:11px}
.product .color_group .color_white {border:1px solid #d2d2d2;font-size:0}
.product .prd_make_up {margin-top:10px;}
.product .prd_make_up ul:after {content:'';display:block;clear:both;}
.product .prd_make_up li {float:left;margin-top:5px}
.product .prd_make_up li + li {margin-left:4px}
.product .prd_make_up li:nth-child(14) {margin-left:0}
.product .prd_make_up.color_chips_area li {position:relative; width:40px; height:40px;}
.product .prd_make_up.color_chips_area li a {display:block}
.product .prd_make_up.color_chips_area li a img{width:40px;}
.product .prd_make_up.color_chips_area li.on a{border:1px solid #000;}
.product .prd_make_up.color_chips_area li.on a:before{content:''; position:absolute; top:1px; left:1px; bottom:1px; right:1px; z-index: 1; border:2px solid #fff;}
.product .prd_make_up.color_chips_area .sold_out{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5);}
.product .prd_make_up.color_chips_area .sold_out>span{position:absolute; top:50%; left:0; width:100%; margin-top: -0.5em; text-align: center; color:#fff;}

.product .prd_detail_banner a {display:block}
.product .prd_detail_banner a + a {margin-top:10px}
.product .prd_detail_tap {margin-top:30px;overflow:hidden}
.product .prd_detail_tap .tab_menu.fixed{height:61px;}
.product .prd_detail_tap .tab_menu.fixed>ul{position: fixed; top: 0; width: 1200px;	background: #fff; z-index: 10;}
.product .prd_detail_wrap {text-align:center;position:relative;  margin-bottom:70px;}
.product .ingredients{border-bottom:1px solid #d2d2d2; padding-bottom:15px; margin-bottom:20px;}
.product .ui_tab .tab_cont {padding:50px 0 0 0;}
.product .item_state.out_of_stock {z-index:3;top:50%;left:50%;width:70px;height:70px;margin:-35px 0 0 -35px;background:rgba(246, 73, 126, 0.5);color:#fff;border-radius:50%;line-height:70px;}
.product .product_detail_quick {position:absolute;top:0;right:0;width:270px;border:1px solid #d2d2d2}
	.prd_info_wrap .price_area{display:table; width:100%; height:100px;}
	.prd_info_wrap .price_area>*{display:table-cell; vertical-align: middle; }
	.prd_info_wrap .price_area .discount,
	.prd_info_wrap .price_area .price{display:inline-block;}
	.prd_info_wrap .price_area strong{font-family:Arial;}
	.prd_info_wrap .price_area .discount{font-size:32px; padding-right:20px;}
	.prd_info_wrap .price_area .discount *{color:#f54a7e;}
	.prd_info_wrap .price_area .discount strong{color:#f54a7e;}
	.prd_info_wrap .price_area .discount .from{font-weight:bold; vertical-align: top;}
	.prd_info_wrap .price_area .discount .from small{font-weight:normal; font-size:20px;}
	.prd_info_wrap .price_area .discount .to{font-size:30px;}
	.prd_info_wrap .price_area .discount .to strong{font-size:62px;}
	.prd_info_wrap .price_area .price{font-size:20px; color:#000; font-weight:400;}
	.prd_info_wrap .price_area .price strong{font-size:32px;}
	.prd_info_wrap .price_area .price del{display:block; padding-bottom:5px; font-size:16px; color:#888; font-weight:300; letter-spacing: 0;}
	.prd_info_wrap .price_area .price .text{font-size: 14px;font-weight: 300;color: #333;}
	.prd_info_wrap .price_area .member_discount{padding-bottom:25px; text-align:right; font-size:20px; color:#000; font-weight:400;}
	.prd_info_wrap .price_area .member_discount strong{color:#37c3cd; font-size:32px;}
	.prd_info_wrap .price_area .member_discount sup{padding-right:5px; font-size:14px; font-weight:300;}
.product.detail .instant_discount {border-top:1px dotted #d9d9d9;padding-top:17px;padding-left:4px;display:block;}
.product.detail .instant_discount .instant_discount_text {margin-right:5px;color: #333;}
.product.detail .instant_discount .instant_discount_num {color:#37c3cd;font-size:16px}
.product.detail .beautypoint{display:table; width:100%; height:70px; border-bottom:1px solid #d9d9d9;}
.product.detail .beautypoint>*{display:table-cell; vertical-align: middle;}
.product.detail .beautypoint>dt{font-size:16px; width:80px;}

.prd_detail_hr_01 {background:#333 !important;}
.prd_detail_hr_02 {background:#d9d9d9 !important;}
.product.detail .color_chip {position:relative;padding-bottom:14px;border-bottom:1px dotted #d9d9d9}
.prd_etc_info:after {content:'';display:block;clear:both;}
.prd_etc_info_left,
.prd_etc_info_right {float:left}
.prd_etc_info_right {float:right;padding-right:48px}
.prd_etc_info_right dt {width:91px !important;}
.prd_etc_info dl {display:table;font-size:16px}
.prd_etc_info dl + dl {margin-top:10px}
.prd_etc_info dl dt {display:table-cell;width:60px;line-height:30px}
.prd_etc_info dl dd {display:table-cell;color:#333;line-height:30px}
.product.detail .btn_request {border:1px solid #f54a7e !important;text-align:center;color:#f54a7e !important;font-size:14px;min-width:90px;height:30px;padding:0 12px;margin-left:5px;position:relative;top:-2px;}
.product.detail .btn_tooltip {left:-159px;background: url(/pc/ko/images/common/ico_question.png) no-repeat 1px 0;width:18px;padding:18px 0 0 0 !important;margin-top:-7px}
.product.detail .ui_tooltip {margin-left:7px}
.product.detail .layer_tooltip {left:-318px;width:400px;color:#666}
.product.detail .layer_tooltip .ui_close {top:14px;right:10px}

.product.detail .quantity_area {padding-left:4px}
.product.detail .quantity_area:after {content:'';display:block;clear:both;}
.product.detail .quantity_area .qty_left {float:left;line-height:32px;}
.product.detail .quantity_area .qty_left dl {display:table;}
.product.detail .quantity_area .qty_left dt {display:table-cell;width:67px;color:#333}
.product.detail .quantity_area .qty_left dd {display:table-cell;}
.product.detail .quantity_area .ui_spinner {float:right}
.prd_info_wrap .price_area {padding-left:13px}
.prd_info_wrap .price_area:after {content:'';display:block;clear:both;}
.product.detail .prd_etc_info {padding-left:4px}
.product.detail .color_chip:after {content:'';display:block;clear:both;}
.product.detail .color_chip ul {float:left}
.product.detail .color_chip ul li {display:inline-block;vertical-align:middle;position:relative}
.product.detail .color_chip .opt_count {display:block;font-size:14px;color:#888;text-align:center;border-radius:20px;padding:4px 10px;position:absolute;top:50%;right:0;border:1px solid #ccc;margin-top:-15px}
.product.detail .color_chip label {display:block;width:30px;height:30px;border-radius:10px;font-size:0;border:1px solid #ebebeb}
.product.detail .color_chip ul li:first-child label {font-size:11px;color:#fff;text-align:center;padding-top:8px;letter-spacing:0;}
.product.detail .color_chip input[type="radio"]:checked + label {border:2px solid #666}
.product.detail .color_chip input[type="radio"] {position:absolute;top:0;left:0;z-index:-1;}

.product.detail .prd_total {margin-top:20px}
.product.detail .prd_info_bdr {border:1px solid #d9d9d9; border-top: 0; margin-top:10px;}

.product_option_select>ul{border-top: 1px solid #d9d9d9;}
.product_option_select .select_options{max-height: 500px;}
.product_option_select .select_options li>*:after{display:none;}
.product_option_select .select_options li>*{height:auto !important; padding:0;}
.product_option_select li{border-bottom: 1px solid #d9d9d9;}
.product_option_select .select_options>li:last-child{border-bottom: 0;}
.product_option_select>button em{margin-left: 10px;}
.product_option_select .option_info{position:static; display: table; width:100%; padding:19px; table-layout:fixed;}
.product_option_select .option_info + *{border-top: 1px solid #d9d9d9;}
.product_option_select .option_info>*{display:table-cell; vertical-align: middle;}
.product_option_select .option_info .thumb{width:60px; height:60px !important;}
.product_option_select .option_info .thumb>img{width:100%; height: 100%; border: 1px solid #d9d9d9;}
.product_option_select .option_info .option_name{padding: 0 13px; font-size: 16px; line-height: 1.3; font-weight: 300;}
.product_option_select .option_info .option_name em{font-size: 14px;}
.product_option_select .option_info .additional,
.product_option_select .option_info .set_option{display:block; margin-top: 3px;}
.product_option_select .option_info .additional{padding-left: 21px; background: url(/pc/ko/images/common/ico_inner_opt_01.png) no-repeat 5px 5px;}
.product_option_select .option_info .count{width:93px;}
.product_option_select .option_info>.price{position:static !important; margin-top: 0 !important; width: 100px; text-align: right; font-size: 16px;font-weight: 300; color:#000}
.product_option_select .option_info>.price .num{font-size: 20px;}
.product_option_select .option_info>.price del{display: block; color: #888;	font-size: 14px; letter-spacing: 0;}
.product_option_select .option_info>.price del + span{display: block; margin-top: 5px;}
.product_option_select .option_info .btn{width:20px;}
.product_option_select .option_info .btn button{width: 20px;height: 20px; background: url(/pc/ko/images/product/bg_btn_del.png) no-repeat 100% 50%;}

.product.detail .prd_total_num {padding:0 25px}
.product.detail .prd_total_num:after {content:'';display:block;clear:both;}
.product.detail .prd_total_num .prd_total_left {float:left;font-size:18px;margin-top:32px;color:#333}
.product.detail .prd_total_num .prd_total_right {float:right;padding:25px 0}
.product.detail .prd_total_num .prd_total_right * {display:inline-block}
.product.detail .prd_total_num .prd_total_right em{font-size:20px; font-weight:400;}
.product.detail .prd_total_num .prd_total_right strong {font-size:28px;color:#f54a7e;}
.product.detail .prd_total_num .prd_total_right>span {margin-left:9px;color:#333;margin-top: -7px; vertical-align: middle;}
.product.detail .purchase_button_set{margin-top:20px; display:table; width:590px; margin-left: -10px; table-layout: fixed;}
.purchase_button_set>*{display:table-cell; padding-left:10px}
.purchase_button_set [class^="btn_"]{width: 100%; min-width: inherit; padding: 0; font-weight: 300;}
.purchase_button_set .btn_lg_bordered{border-color:#d9d9d9;}
.purchase_button_set .btn_lg_bordered.emp{color:#f54a7e; border-color:#f54a7e;}
.purchase_button_set .takeout{width: 100px;}
.purchase_button_set .takeout button{font-size: 15px; color:#999}
.product.detail .tab_detail_info {position:relative}
.purchase_notice {border:1px solid #d9d9d9; padding:30px; margin-top:-1px; text-align:center; color:#888; line-height:22px;}
.purchase_notice .tit{font-size:16px; color:#333; font-weight:500; margin-bottom:10px;}

    /*주문레이어*/
.product.detail .order_layer{top:70px;}
	.order_layer {position:absolute; right:0; z-index:2; width:270px; height:550px; border:1px solid #d2d2d2; background:#f5f5f5;}
	.order_layer.fixed {position:fixed; left:50%; right:auto; margin-left: 330px;}
	.order_layer .order_top {padding:15px 20px;border-bottom:1px solid #d2d2d2}
	.order_layer .order_prd_name {color:#333;line-height:20px;font-size:16px}
	.order_layer .txt_max_num {display:block;margin:13px 0 15px 0;}
	.order_layer .order_prd_price {float:right;font-size:20px;margin-top:9px;margin-right:21px}
	.order_layer .order_prd_price em {font-size:16px;font-weight:400;color:#333}
	.order_layer .order_control_wrap:after {content:'';display:block;clear:both;}
	.order_layer .order_prd_list {padding:20px 19px}
	.order_layer .order_prd_list .product_option_select .select_options{}
	.order_layer .order_prd_list .ui_select + .ui_select{margin-top: 10px;}
	.order_layer .order_prd_list + .product_option_select li:first-child .option_info{padding-top: 0;}
	.order_layer .product_option_select .option_info{position:relative; display:block; padding:15px 0;}
	.order_layer .ui_select .option_info{padding:15px;}
	.order_layer .product_option_select .option_info>*{display:block; padding: 0;}
	.order_layer .ui_select .option_info .option_name{font-size: 14px;}
	.order_layer .product_option_select .option_info>.price{width:100%; padding-top: 10px;}
	.order_layer .product_option_select:not(.ui_select){overflow:hidden; overflow-y:auto; padding-left:19px; padding-bottom: 20px;}
	.order_layer .product_option_select:not(.ui_select)>ul{width:230px; border-top:0;}
	.order_layer .product_option_select:not(.ui_select) .price{padding-right:20px;}
	.order_layer .product_option_select:not(.ui_select) .count + .price{height:45px; padding-right:20px;}
	.order_layer .product_option_select:not(.ui_select) .price span{display:block; margin-top: 8px;}
	.order_layer .product_option_select:not(.ui_select) .price del{line-height: 13px;}
	.order_layer .product_option_select:not(.ui_select) .price del + span{margin-top: 0px;}
	.order_layer .ui_spinner{position:absolute; bottom:15px; left:0; width:60px;height:35px;background:#dadada}
	.order_layer .ui_spinner>*{float:none; overflow:hidden; width:21px; height:16px; text-align: center; border:0;}
	.order_layer .ui_spinner .spinner_decrease {position:absolute;bottom:0;right:0;z-index:1}
	.order_layer .ui_spinner .spinner_increase {position:absolute;top:0;right:0;}
	.order_layer .ui_spinner .spinner_input {width:36px;height:33px;}
	.order_layer .ui_spinner img{margin-top: -2px;}
	.order_layer .option_info .btn{position:absolute; bottom:15px; right:0;}
	.order_layer .option_info .count + .price + .btn{bottom:22px;}
	.order_layer .order_bottom {position:absolute; bottom:0; left:0; z-index: 1; width:100%; padding: 0 19px;background:#fff; border-top:1px solid #d2d2d2;padding-bottom:18px}
	.order_layer .chk_beauty_wrap {position:relative;border-bottom:1px solid #d2d2d2; line-height:48px}
	.order_layer .order_total_price {text-align:right;padding:20px 4px}
	.order_layer .order_total_price:after {content:'';display:block;clear:both;}
	.order_layer .order_total_price>span {display:block;float:left;margin-top:9px}
	.order_layer .order_total_price em {font-size:20px; font-weight:400;}
	.order_layer .order_total_price strong {font-size:28px; color:#f54a7e}
	.order_layer .order_button_wrap {text-align:center}
	.order_layer .order_button_wrap button {width:100%; margin-left: 0; font-weight:400; font-size:18px}
	.order_layer .order_button_wrap .takeout {padding:0 10px;color:#999;border:1px solid #999}
	.order_layer .order_button_wrap .purchase {border:1px solid #f54a7e;color:#f54a7e;vertical-align:top;}
	.order_layer .order_button_wrap .basket {margin-top:6px}
	.order_layer .order_button_wrap.full_type .takeout {min-width:auto;width:72px;font-size:14px;padding:0 10px;color:#999;border:1px solid #999}
	.order_layer .order_button_wrap.full_type .takeout:before {display:none}
	.order_layer .order_button_wrap.full_type .purchase{min-width:auto;width:150px;margin-left:5px}
	.order_layer .order_button_wrap .reservation {height:124px;font-size:20px;line-height:22px;display:table-cell;text-align:center;vertical-align:middle;width:268px;padding-top:6px;}
	.order_layer .order_bottom .order_text {text-align:center;font-size:20px;font-weight:300;line-height:22px;padding:20px 0 0}
	.order_layer .order_bottom .order_text span:nth-of-type(1) {color:#f54a7e}

@media screen and (max-width:1200px){
	.order_layer.fixed{left: 930px; margin-left:0; right:auto;}
}

.prd_detail_bottom{position:relative;}
.prd_detail_bottom .tab_menu>ul>li{width:300px}
.prd_detail_bottom .tab_contents{padding-right:300px;}
.prd_detail_bottom .data_table{table-layout: fixed;}

/*리뷰*/
.product_review{}
.product_review .ui_rating{display:block;}
.product_review .ui_rating>*{display:inline-block;}
.review_summary{display:table; width:100%; padding-bottom:40px;}
.review_summary>*{display:table-cell; vertical-align: middle;}
.review_summary dt{width:365px; text-align:center; font-size:28px; color:#000; font-weight:300;}
.review_summary dt .ui_rating{margin:17px 0 15px;}
.review_summary dt .ui_rating>*{width:32px; height:28px; background: url(/pc/ko/images/common/bg_rating_32.png) no-repeat;}
.review_summary dt .ui_rating>*.on{background-position:0 -32px;}
.review_summary dt .ui_rating>* + *{margin-left:-2px;}
.review_summary dt small {color:#888; font-size:16px; vertical-align:top;}
.review_summary dd .ui_rating>*{width:21px; height:19px; background: url(/pc/ko/images/common/bg_rating_21.png) no-repeat;}
.review_summary dd .ui_rating>*.on{background-position:0 -21px;}
.review_summary dd .ui_rating>* + *{margin-left:1px;}
.review_summary .rating_list li:after{content:''; display: block; clear: both;}
.review_summary .rating_list li>*{float:left; line-height:19px;}
.review_summary .rating_list li + li{margin-top:12px;}
.review_summary .rating_list .ui_rating{width:135px;}
.review_summary .rating_list .ui_rating + span{width:65px; color:#888;}
.review_summary .rating_list .graph{position:relative; width:200px; height:19px;}
.review_summary .rating_list .graph:before{content:''; position:absolute; top:50%; left:0; width:100%; height:6px; margin-top:-3px; background:#ebebeb; border-radius:3px;}
.review_summary .rating_list .graph span{position:absolute; z-index:1; top:50%; left:0; width:100%; height:6px; margin-top:-3px; background:#666666; border-radius:3px;}
.review_summary .rating_list .graph + span{width:65px; text-align:right; color:#000;}

.best_review{background:#f5f5f5; border:1px solid #d2d2d2;}
.best_review [class*='_direction'] [class^="ix-btn"]{overflow:hidden; width:25px; height:0; margin-top:-13px !important; padding-top:25px; background:url(/pc/ko/images/common/ico.png) no-repeat 0 -55px;border:0}
.best_review .ix-btn-prev {left:13px !important;}
.best_review [class*='_direction'] .ix-btn-next {right:13px !important; background-position:-25px -55px !important;}
.best_review .review {position:relative; padding:33px 0 40px;}
.best_review .review > dt {margin-left:10px;}
.best_review .review > dd {float:left; width:660px;}
.best_review .review > dd>dd img {display:none !important;} /* 20180806:베스트리뷰 이미지태그 제거*/
.best_review .ix-thumbs {padding-bottom:20px;}
.best_review .ico_best{position:absolute; top:0; right:30px; width:70px; height:80px; z-index: 1; background:url(/pc/ko/images/product/ico_best.png) no-repeat;}
.best_review.slide [class*='direction'] [class*="ix-btn"].disabled{opacity:.1; background-color: transparent;}

.review_filter{margin-top:40px; padding:10px 0; border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;}
.review_filter .select_wrap{display: inline-block;width:170px; margin-bottom:0 !important;}
.review_filter .select_wrap + *{margin-left:3px;}

.review_list>dl,
dl.review{padding:30px 0; text-align:left; font-weight:300; font-size:14px;}
.review_list>dl:after,
dl.review:after{content:''; display: block; clear: both;}
.review_list>dl>dt,
dl.review>dt{float:left; width:170px;}
.review_list>dl>dt>*,
dl.review>dt>*{display:block; padding:3px 0 0 40px; text-align:left;}
.review_list>dl>dd,
dl.review>dd{float:right; width:710px;}
.review_list>dl .ui_rating>*,
dl.review .ui_rating>*{width:16px; height:14px; background: url(/pc/ko/images/common/bg_rating_16.png) no-repeat;}
.review_list>dl .ui_rating>*.on,
dl.review .ui_rating>*.on{background-position:0 -16px;}
.review_list .user_id,
dl.review .user_id{display:block; margin:10px 0 5px; color:#333; font-size:16px;}
.review_list .opt,
dl.review .opt{display:block; margin-bottom:15px; font-size:14px; font-weight:400;}
.review_list .flag,
dl.review .flag{display:inline-block; width:71px; height:21px; margin:-3px 2px 0 0; font-size:12px; font-weight:300; text-align:center; color:#fff; line-height:21px; background:#9adada; vertical-align: middle;}
.review_list .title,
dl.review .title{font-size:20px; color:#333; font-weight:300;}
.review_list dd dd,
dl.review dd dd{padding-top:5px;}
.review_list .attach_photo,
dl.review .attach_photo{padding-top:20px}
.review_list .attach_photo>* +*,
dl.review .attach_photo>* +*{margin-left:3px;}
.review_list>dl{border-bottom:1px solid #d2d2d2}
.review_list dd dd a, dl.review dd dd a{display:inline-block; margin-top: 10px;text-align: left;padding: 0;}
.review p.text{word-break:normal;} /* 20180731:상품평추가*/
.review_list>dd>dd img,
dl.review>dd>dd img{display:none !important;} /* 20180806:리뷰 이미지태그 제거*/

/*ch 에뛰드*/
.ch_etude_list{margin: 80px 0 0;border-top:1px solid #d2d2d2;padding-top:30px}
.ch_etude_list > .h_title{margin-bottom: 30px;padding-bottom: 15px;border-bottom: 1px solid #d2d2d2;}
.ch_etude_list ul{overflow: hidden;margin-left: -40px;}
.ch_etude_list ul li{float: left;margin-left:40px;width: 270px;margin-bottom:50px}
.ch_etude_list ul li span,
.ch_etude_list ul li a {display:block}
.ch_etude_list .ch_etude_item .info_box{padding:0 10px 10px 10px;width:100%;height: auto;}
.ch_etude_list .ch_etude_item .info_box .price_area{width: 240px;padding: 0;border-top: 0;}
.ch_etude_list .ch_etude_item .info_box .title_area .ch_etude_item_title{overflow:hidden; height: 40px; font-size:16px;line-height:20px;color:#333}
.ch_etude_list .item_option{position: static;margin-top: 10px;font-size: 16px;letter-spacing: 0;}
.ch_etude_list .item_option .color_chips .btn_more{position: static;}
.ch_etude_list .item_option .color_name{display: block;}
.ch_etude_list .img_ch_etude {position: relative;overflow: hidden;width:100%;height:145px;margin-bottom:10px}
/*.ch_etude_list .img_ch_etude:before {*/
	/*content:"";width:40px;height:40px;*/
	/*background:url(/mo/ko/images/common/btn_play_sm.png) no-repeat;*/
	/*position:absolute;top:50%;left:50%;right:0;bottom:0;*/
	/*margin-left:-20px;*/
	/*margin-top:-20px;*/
/*}*/
.ch_etude_list .img_ch_etude img {width:100%;}
.ch_etude_list .ch_etude_date {display:block;margin-top:10px;letter-spacing:0}
.ch_etude_list + .pagination {margin-top:0}
.prd_list.ch_etude .big_video {width:1200px;height:675px;margin-top:40px;margin-bottom:0}
.prd_list.ch_etude .big_video iframe {height:675px !important;}
.ch_etude_bottom_wrap {position:relative; padding-right:310px;}
.ch_etude_bottom_wrap .order_layer {top:30px;}

.ch_etude_bottom_wrap .ui_spinner.typ2 .spinner_increase img,
.ch_etude_bottom_wrap .ui_spinner.typ2 .spinner_decrease img {vertical-align:top}
.ch_etude_bottom_wrap .write_input_wrap {padding:0 19px}
.ch_etude_bottom_wrap .write_input_wrap input {width:708px;border:1px solid #d9d9d9}
.ch_etude_bottom_wrap .write_input_wrap input + .btn_comment_reg {margin-left:-3px}
.ch_etude_list .btn_more {float:right;font-size:16px;font-weight:400;color:#666}
.ch_etude_list.typ2 {border-top:0;margin-top:75px;padding-top:0}
.ch_etude_list.typ2 .recommend_items{margin-top:0}
.ch_etude_top_wrap {display: table;margin-top:39px;width: 100%; table-layout: fixed;}
.ch_etude_top_wrap .etude_left_wrap {display: table-cell; width:910px; padding-right: 20px;}
.ch_etude_top_wrap .etude_right_wrap {display: table-cell; border:1px solid #d2d2d2;position:relative;vertical-align: top;}

.ch_etude_top_wrap .coupon_layout_left {float:left;}
.ch_etude_top_wrap .coupon_layout_right {float:right;padding-top:20px}
.ch_etude_top_wrap .etude_left_wrap .video_wrap {width:890px;height:501px;margin-bottom:0}
.ch_etude_top_wrap .etude_left_wrap .video_wrap iframe {height:501px}
.ch_etude_top_wrap .coupon_down_wrap:after {content:'';display:block;clear:both;}
.ch_etude_top_wrap .coupon_down_wrap {border:1px solid #d2d2d2;padding:20px;padding-right:30px}
.ch_etude_top_wrap .coupon_layout_left ul {display:block;padding-top:15px}
.ch_etude_top_wrap .coupon_layout_left ul li + li {margin-top:7px}
.ch_etude_top_wrap .btn_coupon_down {width:270px;height:50px;background:url(/pc/ko/images/product/bg_download_1.png) 0 0 no-repeat;font-size:18px;text-align:left;color:#fff;padding-left:96px}
.ch_etude_top_wrap .btn_coupon_down:disabled {background-image:url(/pc/ko/images/product/bg_download_2.png)}

.ch_etude_top_wrap .etude_right_wrap .scroll_area{position:absolute; top:0; left:0;width: 100%; height:100%; padding-bottom:130px;}
.ch_etude_top_wrap .etude_right_wrap .scroll_area>ul{height:100%; overflow: hidden;overflow-y: auto;padding: 20px;}
.ch_etude_top_wrap .etude_right_wrap .comment_list small,
.ch_etude_top_wrap .etude_right_wrap .comment_list .ico_new{display: none;}
.ch_etude_top_wrap .etude_right_wrap .comment_list{border-top: 0;}
.ch_etude_top_wrap .etude_right_wrap .comment_list li:first-child{padding-top: 0;}
.ch_etude_top_wrap .etude_right_wrap .comment_list li{padding: 20px 0;}
.ch_etude_top_wrap .etude_right_wrap .comment_list li.inner_loading{padding: 0;border-bottom: 0;}
.ch_etude_top_wrap .etude_right_wrap .comment_list li.inner_loading .loading span{padding: 0;}
.ch_etude_top_wrap .etude_right_wrap .comment_list b{padding-right: 0;font-size: 14px;font-family: 'Arial';letter-spacing: 0;color: #666;}
.ch_etude_top_wrap .etude_right_wrap .comment_list b:after{width: 0;}

.ch_etude_top_wrap .etude_right_wrap .item_list_comment_tit {float:left}
.ch_etude_top_wrap .etude_right_wrap .write_input_wrap {position:absolute;left: 0; bottom:0; width:100%;border-top:1px solid #d2d2d2;}
.ch_etude_top_wrap .etude_right_wrap .write_input_wrap input {width:226px;border-left:0;border-bottom:0}
.ch_etude_top_wrap .etude_right_wrap .write_input_wrap .text_notice{height:90px; padding:17px 20px 0 40px; font-size:12px !important; color:#888;background: #fff}
.ch_etude_top_wrap .etude_right_wrap .write_input_wrap .text_notice:before{top:25px; left:20px;}
.ch_etude_top_wrap .etude_right_wrap .btn_comment_reg {min-width:64px;width:64px;padding:0;margin-left:-3px;margin-top:1px}
.ch_etude_top_wrap .etude_right_wrap .input_wrap {white-space:nowrap}
.etu_top_flag_wrap {text-align:center;padding-top:30px}
.etu_top_flag_wrap span {display:inline-block;border-radius:25px;text-align:center;border:1px solid #f54a7e;color:#f54a7e;font-size:16px;padding:0 20px;line-height:25px}
.etu_top_flag_wrap span.pink {background:#f54a7e;color:#fff}
.etu_top_flag_wrap span + span {margin-left:5px}
.title_top_01 {font-weight:300 !important;margin-top:30px;font-size:34px !important;text-align:center}
.etu_top_sub_wrap {text-align:center;margin-top:30px}
.etu_top_sub_wrap .etu_date_range {color:#888;letter-spacing:0}
.etu_top_sub_wrap >* {display:inline-block;vertical-align:middle}
.etu_top_sub_wrap .btn_share {position:relative;margin-left:10px;padding:1px 0 0 0;} /* ie 수정 : bg 여백 수정 */
.etu_top_sub_wrap .btn_share:before {content:'';width:19px; height:20px; background:url(/pc/ko/images/common/ico_sns_01.png) no-repeat;display:inline-block;vertical-align:middle;margin:-2px 7px 0 0;}
.etu_top_sub_wrap .vline {width:1px;height:20px;background:#d2d2d2;margin-left:10px}
.layer .layer_etu_coupon_tit_01 {display:block;font-size:24px;text-align:center;color:#333}
.layer .layer_etu_coupon_tit_01 em {color:#f54a7e}
.layer .down_load_list {margin-top:30px;border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9}
.layer .down_load_list li {overflow:hidden;padding:10px 0}
.layer .down_load_list li span {display:block;float:left;font-size:16px;color:#666;margin-top:7px}
.layer .down_load_list li .btn_coupon {font-size:14px;color:#fff;width:80px;height:30px;text-align:center;background:#333;display:block;float:right}
.layer .down_load_list li .btn_coupon.complete {background:#d9d9d9}
.layer .down_load_list li + li {border-top:1px solid #d9d9d9}
.layer .all_coupon_down {display:block;margin:30px auto 0}


/* 댓글 */
.event .comment_area .form{position: relative;height: 80px;margin-bottom:20px;}
.event .comment_area .form .text_right{position: absolute;bottom: -30px;right: 0;}
.event .comment_area .form .text_notice{position: absolute;bottom: 0;margin-bottom:10px; font-size:16px; font-weight:300;}

.comment_list.live{overflow-y:auto; max-height:250px;}
.comment_list{border-top:1px solid #000;}
.comment_list>li{position:relative; padding:30px 0; border-bottom:1px solid #ebebeb;}
.comment_list dt{padding-bottom:10px;}
.comment_list b{position: relative; padding-right: 10px; margin-right: 7px; font-size:16px; font-weight:300;}
.comment_list small{padding-right:5px; font-size:14px;}
.comment_list b:after{content: '';position: absolute;top: 8px;right: 0;width: 1px;height: 10px;background-color: #ebebeb;}
.comment_list .btn_delete{padding:0;}
.comment_list [class^="ico_"]{width:20px; height:20px; margin-left:2px; background-position:-80px -60px}
.comment_list .ico_del{background-position:-100px -60px;}
.comment_list .text{font-weight:300;}


/* 전시 */
.prd_list {}
.prd_category{padding: 30px 0;border-top: 2px solid #000000;border-bottom: 1px solid #ebebeb;}
.prd_category ul{display: table;width: 100%;table-layout: fixed}
.prd_category ul li{position: relative;display: table-cell;text-align: center;}
.prd_category ul li + li:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 20px;background-color: #ebebeb;}
.prd_category input {position: absolute; top: 0; left: 0; z-index: -1;}
.prd_category label {position: relative;display: block;padding: 0 15px;font-size: 16px;color: #666;}
.prd_category + label:before {content: '';position: absolute;top: 50%;left: 0;margin-top: -6px;width: 1px;height: 12px;background-color: #d2d2d2;}
.prd_category input:checked + label {color: #000;font-weight: 500;}
/*.msie .prd_category + label:before {margin-top:-3px;} !* ie 수정 : bg 위치 수정 *!*/
.prd_category a {font-size: 16px;color: #666;}
.prd_category a.on {color: #000;font-weight: 500;}
.prd_category.type2 {overflow: hidden;}
.prd_category.type2 ul {display: block;margin-left: -1px;}
.prd_category.type2 ul li {display: block;float: left;width: 171px;}
.prd_category.type2 ul li + li:before {height: 100%;}
.prd_category.type2 label {position: relative;display: block;padding: 10px 15px;}
.prd_category.type2 ul li a {display: block;padding: 10px 0;}
.prd_category.type2 ul li a:hover {color: #000;}

/*slide*/
.prd_list .slide .ix-btn {width: 6px;height: 6px;border: 1px solid #000;background-color: transparent;}

.prd_list .slide .active .ix-btn {border-color: #000;background-color: #000;}
/*slide banner*/
.prd_banner.slide .ix-list-viewport{height: 200px;}

.prd_banner.slide .ix-thumbs {bottom: 0;}

.prd_banner.slide [class*='_direction'] [class^="ix-btn"] {border: 0;background: url(/pc/ko/images/common/btn_slide_navi.png) 0 100% no-repeat;}

.prd_banner.slide [class*='_direction'] .ix-btn-next {background-position: 100% 100% !important;}

/*추천템*/
.recommend_items{margin: 80px 0 50px;}
.recommend_items > .h_title{margin-bottom: 30px;padding-bottom: 15px;border-bottom: 1px solid #d2d2d2;}
.recommend_items ul{overflow: hidden;margin-right: -40px;}
.recommend_items ul li{float: left;margin-right:40px;width: 208px;}
.recommend_items .item .item_images{width: 208px;height: 208px;}
.recommend_items .item .item_images .lazy_load_wrap{width:100%; height:100%;}
.recommend_items .item .info_box{padding: 10px;width: 208px;height: 140px;}

.recommend_items .item .info_box .price_area {width: 100%;padding: 0;border-top: 0;}
.recommend_items .item .info_box .title_area .h_title{font-size: 18px;line-height: 26px; height:52px;}
.recommend_items .item_option{position: static;margin: 16px 0 20px 0;font-size: 16px;letter-spacing: 0;}
.recommend_items .item_option .color_chips .btn_more{position: static;}
.recommend_items .item_option .color_name{display: block;}

/* video_wrap */
.prd_list .video_wrap{margin-bottom: 70px;}
.prd_list .prd_banner + .video_wrap{margin-top: 80px;}
.prd_list .video_wrap + .prd_category{margin-top: -20px;}

/* item sorting */
.sorting_group{margin-top: 15px;padding-bottom: 10px;}
.sorting_group.brd_b{border-bottom: 1px solid #d2d2d2;}
.sorting_group .total_count{margin-right: 15px;font-size: 16px;line-height: 28px;}
.sorting_group .btn{position: relative;}
.sorting_group .btn>input{position:absolute; top:0; left:0; z-index: -1;}
.sorting_group .btn.evt{position: relative;height: 30px;}
.sorting_group .btn.evt>label{position:relative;display:inline-block;padding-left:20px; font-size:14px; color:#666;line-height: 28px;}
.sorting_group .btn.evt>label:before{
	content:'';display:inline-block;position:absolute;top:50%;left:0;margin-top: -6px; width:16px; height:12px;
	background: url('/pc/ko/images/product/ico_sorting.png') no-repeat 0 0;
}
.sorting_group .btn.evt>input:checked + label:before{background-position:0 -17px;border:0;border-right: inherit;}

.sorting_group div + div .check_set + .check_set{margin: 0 0 0 5px;}
.sorting_group .btn.sort{font-size: 14px;color: #888;}
.sorting_group .btn.sort label{position: relative;padding: 0 15px;}
.sorting_group .btn.sort + .btn.sort label:before{content: '';position: absolute;top: 50%;left: 0;margin-top: -6px;width: 1px;height: 12px;background-color: #d2d2d2;}
.msie .sorting_group .btn.sort + .btn.sort label:before {margin-top:-3px;} /* ie 수정 : bg 위치 수정 */
.sorting_group .btn.sort>input:checked + label{color: #333;font-weight: 700;}

.sorting_group .btn.view label{position: relative;display: inline-block;width: 30px;height: 30px;border:1px solid #d2d2d2;border-radius: 5px 0 0 5px }
.sorting_group .btn.view label:before{content: '';position: absolute;top: 50%;left: 50%;margin: -7px 0 0 -7px;width: 14px;height: 14px;background: url('/pc/ko/images/product/ico_sorting.png') 100% 0 no-repeat;}
.sorting_group .btn.view input:checked + label:before{background-position: 100% -15px;}
.sorting_group .btn.view + .btn.view{margin-left: -3px;}
.sorting_group .btn.view + .btn.view label{border-radius: 0 5px 5px 0}
.sorting_group .btn.view + .btn.view label:before{margin: -7px 0 0 -10px;width: 20px;height: 14px;background-position: 100% -30px;}
.sorting_group .btn.view + .btn.view input:checked + label:before{background-position: 100% 100%;}
.sorting_group .btn.view{}

.sorting_group .btn.filter {margin-left: 10px;width: 86px;height: 30px;line-height: 28px;background-color: #333;color: #fff;}
/*필터*/
.sorting_group .search_table{display: none;clear:both;margin-top: 10px;background-color: #fff;}
.sorting_group .search_table.open{display: block;margin-bottom: -11px;}

/*item list*/
.item_list{}
.item_list > ul{clear: both;margin-left: -40px;}
.item_list > ul:after{content: '';clear: both;display: block;}
.item_list > ul > li{float: left;position: relative;margin-left: 40px;}
.item_list.column2 > ul > li{width: 580px;margin-top: 30px;margin-bottom: 30px;}
.item_list.column4 > ul > li{width: 270px;margin-top: 30px;margin-bottom: 30px;}

/*item*/
.item{position: relative;}
.item:after{content: '';clear: both;display: block;}
.item > *{float: left;}
.item .item_images{position: relative; width: 270px;height: 270px;background-color: #f5f5f5;} /* 20170715:썸네일크기수정 */
.item .item_images .slide{display: none;}
.item .item_images .slide .ix-list-viewport{height: 270px;} /* 20170715:썸네일크기수정 */
.item .item_images .slide .ix-list-item>a{width: 270px;height: 270px;} /* 20170715:썸네일크기수정 */
.item .item_images .slide .ix-list-item>a img{width:100%;}
.item .item_images .item_state.out_of_stock{z-index: 3;top: 50%;left:50%;bottom: initial; width:70px; height:70px; margin:-35px 0 0 -35px; background:rgba(102, 102, 102, 0.6); color:#fff; border-radius: 50%; line-height: 70px}
.hot_deal .item .item_images .slide .ix-list-item>a{width: 240px;height: 240px;} /* 20170715:썸네일크기수정 */

.item .info_box{position: relative;padding-left: 24px;width: 310px;height: 270px;}
.item .info_box_freebie{position: relative;padding-left: 24px;width: 310px;height: 215px;}

.item .info_box .flag_set{margin-bottom: 10px; height:20px;}
.item .info_box .flag_set span{display: inline-block; /*padding:0 9px;*/ padding:1px 9px 0; height: 20px; /*line-height:19px;*/ line-height:18px;border:1px solid #b4b4b4;border-radius:20px;font-size: 11px;color: #999;font-family: 'Dotum';}
.firefox .item .info_box .flag_set span {padding:0 9px;}
.item .info_box .flag_set .new{background-color: #9adada;border-color: #9adada;color: #fff;}
.item .info_box .flag_set .best{background-color: #f7a2ba;border-color: #f7a2ba;color: #fff;}
.item .info_box .flag_set .event{background-color: #fabf3a;border-color: #fabf3a;color: #fff;}

.item .info_box .title_area{}
.item .info_box .title_area .s_title{padding-bottom: 10px;color: #999; height:20px;}
.item .info_box .title_area .s_title .tag{padding-right: 5px;color: #f54a7e;}
.item .info_box .title_area .h_title{font-size: 20px;color: #000;font-weight: 300;line-height: 28px;}
.item .info_box_freebie .title_area .h_title{font-size: 20px;color: #000;font-weight: 300;line-height: 28px;}

.item_option{position: absolute;bottom: 60px;z-index: 1;width: 286px;background-color: #fff;}
.item_option .color_name{display: none;}
.item_option .option_name{margin-bottom: 8px;}
.item_option .option_name > *{color: #999;}
.item_option .option_name span{display:inline-block;}
.item_option .option_name span + span{padding-left:3px; margin-left:3px; border-left:1px solid #ddd;}
.item_option .option_name em{color:#9adada;}
.item_option .option_name_noti {color:#888}

.item_option .color_chips{position: relative;}
.item_option .color_chips .btn_more{position: absolute;top: -6px;right: 0;}
.item_option .color_chips .btn_more .btn_color_more{position: relative;font-size: 12px;color: #999;}
.item_option .color_chips .btn_more .btn_color_more span{padding-right: 10px;}
.item_option .color_chips .btn_more .btn_color_more:after{content: '';position: absolute;right: 0;top:5px;width: 12px;height: 7px;background:url('/pc/ko/images/product/ico_item_opt.png') -88px 0 no-repeat;}

.item_option .color_chips{overflow: hidden;height: 60px;margin-top: -20px;padding-top: 20px;}
.item_option .color_chips .colors{font-size: 0;margin-left: -1px;}
.item_option .color_chips .colors > li{display:inline-block; width:40px;height: 40px;margin-left: 1px;vertical-align: top;}
.item_option .color_chips .colors > li a{position: relative;display:block; width:100%; height:100%;position: relative;margin-bottom: 1px;border:1px solid #ebebeb}
/*.item_option .color_chips .colors > li a img{border:1px solid #ebebeb}*/
.item_option .color_chips .colors > li a.check{border:1px solid #000}
/*.item_option .color_chips .colors > li a.check img{border:2px solid #fff}*/
.item_option .color_chips .colors > li a.check:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;border:2px solid #fff}
.item_option .color_chips .colors .sold_out{position:absolute; top:0; left:0; bottom:0; margin:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5);color: #fff;font-size: 12px;text-align: center;vertical-align: middle;}
.item_option .color_chips .colors .sold_out span{position:absolute; top:50%; left:0; width:100%; margin-top:-0.5em; text-align:center;}
.item_option .option_close{display: none;}

.item_option.open{bottom: -25px;width: 286px;}
.item_option.open .color_chips{overflow: visible;width: 286px;height: 145px;}
.item_option.open .color_chips .btn_more{display: none;}
.item_option.open .option_close{display: block;position: absolute;top:-4px;right: 0;}
.item_option.open .option_close button{position: relative;padding-right: 17px;height: 15px;font-size: 12px;color: #999;}
.item_option.open .option_close button:after{content: '';position: absolute;top: 0;right: 0;width: 12px;height: 15px;background:url('/pc/ko/images/product/ico_item_opt.png') 100% -20px no-repeat;}

.item_option .color_chips .chips.slide{overflow: hidden;width: 286px;}
.item_option .color_chips .chips.slide .ix-list-viewport{height: 82px;}
.item_option.open .color_chips .chips.slide{overflow: visible;}

/*컬러콜렉션*/
.item_option.type2{display: table;width: 285px;}
.item_option.type2 > *{display: table-cell;vertical-align: middle;}
.item_option.type2 .img {display: inline-block;width: 40px;height: 40px;}
.item_option.type2 .name {display: inline-block;width: 245px;padding-left: 10px;font-size: 14px;color: #999;vertical-align: middle;}

.color_chips .ix-list-item{width: 286px;text-align: left;}
.color_chips [class*='_direction'] [class^="ix-btn"]{display: inline-block;margin-top: -12px;width: 24px;height: 24px;background: none;border:0}
.color_chips [class*='_direction'] [class^="ix-btn"]:after{content: '';position: absolute;top: 0;left: 0;width: 24px;height: 24px;background:url('/pc/ko/images/product/ico_item_opt.png') -34px 5px no-repeat; }
.color_chips [class*='_direction'] [class^="ix-btn"].ix-btn-prev{left: -15px;}
.color_chips [class*='_direction'] [class^="ix-btn"].ix-btn-next{right: -15px;}
.color_chips [class*='_direction'] [class^="ix-btn"].ix-btn-next:after{background-position: -57px 5px;}

.option_select>.color_group.ui_select{width:236px;}
.color_group{margin-top: 3px;}
.color_group > button{padding-left: 10px;}
.color_group > button,
.color_group .select_options li a{position: relative;}
.color_group > button span,
.color_group .select_options li a span{display: inline-block; width: 30px;height: 30px;border-radius: 5px;vertical-align: middle;line-height: 30px;}
.color_group > button span,
.color_group .select_options li a span:first-child{margin-right: 8px;}
.color_group .select_options li a span[data-color]{border:1px solid #ebebeb;color: #fff;font-family: 'Arial';font-size: 11px;letter-spacing: 0;text-align: center;}
.color_group .select_options li a span:last-child{width: 150px;}
.color_group>.select_options {max-height:180px !important;}

.item .info_box .price_area {overflow: hidden;position: absolute;bottom: 0;padding: 12px 0;width: 286px;border-top: 1px dashed #d6d6d6;}
.item .info_box_freebie .price_area {overflow: hidden;position: absolute;bottom: 0;padding: 12px 0;width: 286px;border-top: 1px dashed #d6d6d6;}

/*.item .info_box .price_area > *{display: inline-block;font-family: 'Arial';padding-right: 5px;}*/
.item .info_box .price_area > * {float: left;}
.item .info_box .price_area > *:first-child {width: 200px;text-align: left;}
.item .info_box .price_area > *:first-child > * {display: inline-block;padding-right: 5px;}
.item .info_box .price_area > *:nth-child(2) {float: right;margin-right:10px}

.item .info_box_freebie .price_area > * {float: left;}
.item .info_box_freebie .price_area > *:first-child {width: 200px;text-align: left;}
.item .info_box_freebie .price_area > *:first-child > * {display: inline-block;padding-right: 5px;}
.item .info_box_freebie .price_area > *:nth-child(2) {float: right;margin-right:10px}

.item .info_box .price_area .btn_cart {width: 26px;height: 26px;background: url('/pc/ko/images/common/ico.png') -18px -90px no-repeat;}
.item .info_box .price_area .btn_review {position: relative;padding: 0;width: 26px;height: 26px;background: url('/pc/ko/images/common/ico.png') 6px -204px no-repeat;}
.item .info_box .price_area .btn_review .bubble {position: absolute;top: -5px;right: 45%;background: #f54a7e;color: #fff;font-size: 11px;padding: 3px 5px;border-radius: 17px;white-space: nowrap; letter-spacing:0;}
.item .info_box .price_area .discount *{color: #f54a7e;}
.item .info_box_freebie .price_area .discount *{color: #f54a7e;}
.item .info_box .price_area .discount .from{font-size: 18px;vertical-align: top;}
.item .info_box .price_area .discount .from em{font-size: 14px;font-weight: 400;vertical-align: top;}
.item .info_box .price_area .discount .to{font-size: 20px;}
.item .info_box .price_area .discount .to em{font-size: 16px;font-weight: 400;}
.item .info_box_freebie .price_area .discount .to{font-size: 20px;}
.item .info_box_freebie .price_area .discount .to em{font-size: 16px;font-weight: 400;}

.item .info_box .price_area .price strong {font-size: 20px;color: #333;}
.item .info_box .price_area .price strong em{font-size: 16px;font-weight: 400;color: #333;font-family: 'Noto Sans Korean';}
.item .info_box_freebie .price_area .price strong {font-size: 20px;color: #333;}
.item .info_box_freebie .price_area .price strong em{font-size: 16px;font-weight: 400;color: #333;font-family: 'Noto Sans Korean';}


.item .info_box .price_area .price del {color: #999;font-size: 16px;padding-right: 5px;}
.item .info_box .price_area .price del em{color: #999;font-size: 14px;font-family: 'Noto Sans Korean';}
.item .info_box_freebie .price_area .price del {color: #999;font-size: 16px;padding-right: 5px;}
.item .info_box_freebie .price_area .price del em{color: #999;font-size: 14px;font-family: 'Noto Sans Korean';}

/* item - column4 */
.item_list.column4 .item > *{float: none;}
.item_list.column4 .item .info_box{padding:10px;width: 270px;height: 160px;}
.item_list.column4 .item .info_box .price_area{width: 240px;padding: 0;border-top: 0;}
.item_list.column4 .item .info_box .flag_set span:nth-child(5){display: none;}
.item_list.column4 .item .info_box .title_area .h_title{font-size: 18px;line-height: 26px; height:52px;}

.item_list.column4 .item .info_box_freebie{padding: 10px;width: 270px;height: 100px;}
.item_list.column4 .item .info_box_freebie .price_area{width: 240px;padding: 0;border-top: 0;}
.item_list.column4 .item .info_box_freebie .title_area .h_title{font-size: 18px;line-height: 26px;}

.item_list.column4 .item_option{position: static;margin: 16px 0 20px 0;font-size: 16px;letter-spacing: 0;}
.item_list.column4 .item_option .color_chips .btn_more{position: static;}
.item_list.column4 .item_option .color_name{display: block;}

.item_list.column4 .option_wrap,
.item_list.column4 .option_name,
.item_list.column4 .color_chips,
.item_list.column4 .price_area .btn_cart,
.item_list.column4 .s_title,
.item_list.column4 .price_area .btn_review {display: none;}


/*item_list banner*/
.item_list .banner{margin: 30px 0;}

/*item_list list_more*/
.item_list .btn_list_more{margin-top: 30px;}

/* outlet*/
.item_list li > .sale_count {position: absolute;bottom: 30px;left: 0;z-index: 1;width: 445px;color: #000;text-align: center;}
.time_count{position: relative;margin: -20px 0 60px;text-align: center;}
.time_count:after{content: '';position: absolute;bottom: -55px;left: 50%;width: 1px;height: 40px;background-color: #d2d2d2;}
.time_count .title{padding-bottom: 15px;font-size: 16px;font-weight: 500;color: #999;letter-spacing: 0;}
.time_count .ui_remain_timer{color: #f54a7e;font-size: 36px;font-weight: 700;font-family: 'Arial';}

/*beauty select shop*/
.select_shop.slide{margin-bottom: 30px;}
.select_shop.slide .ix-thumbs{bottom: -40px;}

/*my beauty point*/
.prd_list .point_status {display: table;width: 100%;height: 200px;background: url('/pc/ko/images/product/bg_btp.jpg') no-repeat;}
.prd_list .point_status > * {display: table-cell;vertical-align: middle;}
.prd_list .point_status > *:first-child {padding-left: 70px;width: 590px;}
.prd_list .point_status > *:first-child p {position: relative;font-size: 40px;color: #fff;font-weight: 200;}
.prd_list .point_status > *:first-child p span {position: relative;z-index: 2;}
.prd_list .point_status > *:first-child p:first-child:after {content: '';position: absolute;top: 50%;left: 83px;margin-top: 2px;width: 220px;height: 4px;background-color: #f7a1ba;z-index: 0;}
.prd_list .point_status > *:first-child p + p {padding-top: 20px;font-size: 18px;font-weight: 500;}
.prd_list .point_status > *:last-child {position: relative;padding-left: 180px;color: #fff;}
.prd_list .point_status > *:last-child dt {font-size: 16px;}
.prd_list .point_status > *:last-child dd {padding-top: 15px;font-size: 40px;}
.prd_list .point_status > *:last-child dd strong {font-size: 50px;color: #fff;}
.prd_list .point_status a {display: inline-block;position: absolute;top: 87px;right: 70px;padding-right: 34px;}
.prd_list .point_status a:after {content: '';position: absolute;top: -5px;right: 0;width: 24px;height: 24px;background: url('/pc/ko/images/common/ico.png') -43px -115px no-repeat;}
.prd_list .point_status.pearl {background: url('/pc/ko/images/product/bg_pearl.jpg') no-repeat;}
.prd_list .point_status.pearl > *:first-child p {color: #000;}
.prd_list .point_status.pearl > *:first-child p:first-child:after {left: 225px;}
.prd_list .point_status.pearl > *:first-child p:first-child:after {content: '';position: absolute;top: 50%;left: 83px;margin-top: 2px;width: 140px;height: 4px;background-color: #b3e1e1;z-index: 0;}
.prd_list .point_status.pearl > *:last-child,
.prd_list .point_status.pearl > *:last-child dd strong {color: #333;}
.pearl_list{position:relative;} /* 180719:진주알스토어 주문레이어 수정 */
.pearl_list > *:first-child {width: 890px;margin-right: 40px;}
.pearl_list > *:last-child:not(.order_layer){position: relative; width: 270px;} /* 180719:진주알스토어 주문레이어 수정 */
.pearl_list .slide .ix-list-item{width: 270px;text-align: left;}
.pearl_list .h_title.sub{margin-top: 50px;padding-bottom: 15px;border-bottom: 1px solid #d2d2d2;}

/* hot deal */
.hot_deal .tab_menu > ul {border-bottom: 0;}
.hot_deal .tab_menu > ul > li:first-child:after {content: '';position: absolute;top: 50%;right: 0;margin-top: -14px;width: 2px;height: 20px;background-color: #e8e8e8;}
.hot_deal .tab_menu .on a {border: 0; color: #f54a7e;}
.hot_deal .tab_menu .on a:after {left: 50%;bottom: -10px;margin-left: -10px;width: 20px;height: 10px;background: url('/pc/ko/images/common/ico.png') -96px -90px no-repeat;}
.hot_deal .ui_tab .tab_cont {padding: 50px 155px;}
.hot_deal .ui_tab.today .tab_cont {background-color: #f54a7e;}
.hot_deal .ui_tab .tab_cont .title {text-align: center;font-size: 40px;font-weight: 300;color: #fff;}
.hot_deal .ui_tab .tab_cont .title + .item_list {margin-top: 50px;}
.hot_deal .time_count{margin-top: 50px;}
.hot_deal .item_list .item_state {top: 30px;left: 173px;bottom: inherit;width: 100px;margin: 0;}
.hot_deal .item_list .item_state .ui_remain_timer{line-height: 30px;font-size: 14px;font-weight: 400;letter-spacing: 0;}
.hot_deal .item_list .item_state>*{line-height: 30px;padding-right:10px;}
.hot_deal .item_list .item_state>*>span:first-child{padding: 0 15px;margin: 0;background-color:transparent;}
.hot_deal .item_list .item_state .ico_hot{width: 18px;height: 18px;background: url('/pc/ko/images/product/ico_product2.png') no-repeat 0 0;}
.item_list.column1 > ul > li {float: none;margin-bottom: 30px;}
.item_list.column1 .item {background-color: #fff;-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);}
.item_list.column1 .item > * {width: 445px;height: 425px;}
.item_list.column1 .item .item_images {padding: 90px 100px;}
.item_list.column1 .item .info_box {padding: 70px 40px;}
.item_list.column1 .item .item_option.type2 {bottom: 135px;}
.item_list.column1 .item .info_box .price_area {bottom: 70px;width: 360px;}
.hot_deal .item_list.column1 .slide .ix-thumbs{bottom: -20px;}
.hot_deal .ui_tab.limited .tab_cont {background-color: #9adada;}
.hot_deal .ui_tab.limited .on a {border: 0; color: #95d1d1 !important;}

/*best*/
.item_list li > .ranking{position: absolute;top: 15px;left: 15px;z-index: 1;}
.item_list li > .ranking span{position: relative;display: inline-block;width: 30px;font-size: 20px;color: #000;font-family: 'Arial';text-align: center;}
.item_list li > .ranking span:after{content: ''; position: absolute;bottom:-5px;left: 0;width: 30px;height: 2px;background-color: #f54a7e;}
.item_list li > .ranking.large{left: 15px;z-index: 2;}
.item_list li > .ranking.large span{font-size: 26px;}

/*good detail*/
.slide.goods_slide .ix-list-viewport{height: 540px;}
.slide.goods_slide .ix-list-viewport .video_wrap .thumbnail{height: 100%;}
.slide.goods_slide .ix-list-viewport .video_wrap .thumbnail img{width: 100%;height: 100%;}
.slide.goods_slide [class*='_direction'] .ix-btn-prev{margin-top:-50px}
.slide.goods_slide [class*='_direction'] .ix-btn-next{margin-top:-50px}
.slide.goods_slide .ix-controller{opacity: 0;transition: .3s;}
.slide.goods_slide:hover .ix-controller{opacity: 1;transition: .3s;}
.msie .slide.goods_slide .ix-controller{display: none;}
.msie .slide.goods_slide:hover .ix-controller{display: block;}

/* 전시 카테고리 */
/*.recommend_items .slide .ix-list-items{left: -40px;}*/
.recommend_items .slide .ix-list-item{text-align: left;width: 208px;}
/*.recommend_items .slide .ix-list-item ul{margin-left: -80px;}*/
.recommend_items .slide [class*='_direction'] .ix-btn-prev{left: -50px;}
.recommend_items .slide [class*='_direction'] .ix-btn-next{right: -50px;}