@charset 'utf-8';
.ap_contents.ap_search{background-color: #fff;}
.search_table {}
.search_table table{width:1200px;border:1px solid #999;font-size:16px;}
.search_table table tbody th,
.search_table table td {padding:15px 30px;line-height:1.5em;border-bottom:1px solid #ebebeb;color:#666;vertical-align:middle}
.search_table table tbody th {background-color:#333;color:#fff;text-align:left;}
.search_table table th {border-bottom:1px solid #000 !important;}
.search_table table td {border-bottom:1px solid #d2d2d2 !important;}
.search_table table tr:last-child th,
.search_table table tr:last-child td {border-bottom-color:#999 !important;}
.search_table table th {vertical-align:top;font-weight: 500;}

/*컬러*/
.search_table .color_chip.circle{height: 85px;}
.search_table .color_chip.circle>*{position:relative;display:inline-block; vertical-align:middle;}
.search_table .color_chip.circle input{position:absolute; z-index:-1;}
.search_table .color_chip.circle label,
.search_table .color_chip.circle a,
.search_table .color_chip.circle button{display:inline-block; width:60px; height:60px; border-radius:10px;border:1px solid #ebebeb}
.search_table .color_chip.circle label span{display: block;position: absolute;bottom: -28px;left: 50%;margin-left: -40px;width: 80px;font-size: 14px;color: #888;text-align: center;white-space: nowrap}
.search_table .color_chip.circle input:checked + label{background-image:url(/mo/ko/images/search/bg_color_check.png); background-repeat:no-repeat; background-size:100%;}
.search_table .color_chip.circle>* + *{margin-left:27px;}
.search_table .color_chip + .color_chip{margin-top:10px;}
.search_table .color_chip.circle label.white{border:1px solid #ebebeb}
/* 필터 */
.search_table .search_filter .panel{margin-top:-25px;}
.search_table .search_filter .cont{background:#f5f5f5;}
.search_table .search_filter .color_chip{overflow:visible; display:table; width:100%; white-space:normal;}
.search_table .search_filter .color_chip.circle>*{display:table-cell; text-align:center;}
.search_table .search_filter .color_chip.circle>* + *{margin-left:0;}
.search_table .filter_set{margin: -5px 0;}
.search_table .filter_set>*{position:relative; display:inline-block; text-align:center; margin-right:7px;}
.search_table .filter_set>*:nth-child(3n+1){margin-left:0;}
.search_table .filter_set input{position:absolute; z-index:-1;}
.search_table .filter_set label{display:inline-block; min-width:100px; height:40px;margin: 5px 0;padding: 0 20px; border:1px solid #ebebeb; background:#fff; border-radius:40px; line-height:38px; font-size:16px; white-space:nowrap;color: #333;}
.search_table .filter_set input:checked + label{background:#fff; border-color:#f54a7e;}
.search_table .page_btns{margin-top: 30px;}

.search.result .search_title{margin:50px 0 30px;}
.search.result .search_title>*:not(hr){padding-left:20px; padding-right:20px;}
.search.result .search_keyword:after{content:''; display: block; clear: both;}
.search.result .search_keyword li {float:left;color:#333;}
.search.result .search_keyword li + li {margin-left:9px}
.search.result .search_tap {border-bottom:1px solid #d2d2d2;margin-bottom: 30px;padding-bottom:15px}
.search.result .search_tap strong {font-size:20px}
.search.result .search_tap:after {display:block;clear:both;content:'';}
.search.result .search_tap ul {display:block;float:right}
.search.result .search_tap li {float:left;position:relative;padding-left:10px}
.search.result .search_tap li:before {content:'';display:inline-block;width:1px;height:12px;position:absolute;top:2px;left:0;background-color:#d2d2d2}
.search.result .search_tap li:not(:first-child) {margin-left:10px}
.search.result .search_tap li:first-child:before,
.search.result .search_tap li:last-child:before{display:none}
.search.result .search_tap li:last-child {margin-top:-7px;margin-left:5px}
.search.result .search_tap li a.on {color:#333}
.search.result .result_list {margin-top:30px}
.search.result .result_list + .result_list {margin-top:90px}
.search.result .result_list .prd_in_img:after {display:block;clear:both;content:'';}
.search.result .result_list .prd_in_img li {float:left}
.search.result .result_list .prd_in_img li a {position: relative;display: block;}
.search.result .result_list .prd_in_img li a:before{content:''; position: absolute; top:15px; right:15px;z-index: 2; width:28px; height:28px; background:url(/pc/ko/images/beautylife/ico_beautylife.png) no-repeat 0 -30px; vertical-align: middle;}
.search.result .result_list .prd_in_img li:not(:first-child) {margin-left:20px}
.search.result .result_list .prd_in_img li span {display:block;text-align:left;padding-top:20px;padding-left:9px;font-size: 18px;font-weight: 300;color: #000;background-color: #fff;}
.search.result .result_list>.h_title {margin-bottom:20px}
.search.result .result_list .slide,
.search.result .result_list .slide .ix-list-viewport{height:325px}
.search.result .ix-controller {margin-top: 30px;}
.search.result .slide .ix-thumbs {position:static;}
.search.result .slide .ix-thumb {margin:0 5px}
.search.result .slide .ix-thumb button {border-color:#d4d4d4;background:#f5f5f5}
.search.result .slide .ix-thumb.active button {border:1px solid #f55384;background:#fff}

.search.result .result_list .prd_nav_left,
.search.result .result_list .prd_nav_right {display:block;width:40px;height:40px;position:absolute;top:0;text-indent:-9999px;z-index:1;top:50%;margin-top:-40px}
.search.result .result_list .prd_nav_left {background:url(/pc/ko/images/common/btn_arr_left.png) no-repeat;left:0}
.search.result .result_list .prd_nav_right {background:url(/pc/ko/images/common/btn_arr_right.png) no-repeat;right:0}
.search.result .result_list .text {color:#000;width:285px;text-align:left;font-size: 18px;font-weight: 300;}
.search.result .result_list .prd_in_img li span.ch_etude_date {color:#666;letter-spacing:0;font-size: 16px;}

.search.result .result_list.typ2 .slide,
.search.result .result_list.typ2 .slide .ix-list-viewport{height:380px}
.search.result .result_list.typ2 .slide .text {padding-left:10px;padding-top:19px}
.search.result .result_list.typ2 .ix-controller {margin-top:10px}
.search.result .result_list.typ2 .prd_nav_left,
.search.result .result_list.typ2 .prd_nav_right {margin-top:-134px}

.search.result .result_list.typ3 .slide,
.search.result .result_list.typ3 .slide .ix-list-viewport{height:260px}
.search.result .result_list.typ3 .slide .text {padding-left:10px;padding-top:19px}
.search.result .result_list.typ3 .ix-controller {margin-top:10px}
.search.result .result_list.typ3 .prd_nav_left,
.search.result .result_list.typ3 .prd_nav_right {margin-top:-68px}
.search.result .result_list.typ3 .prd_in_img li a{display: inline;}
.search.result .result_list.typ3 .prd_in_img li a:before{background: none;}

.search.result .total_count{font-size: 20px;}

.search.result .review_filter{margin-top:0; border-top:0;}
.search.result .review_list>dl>dd{width:1025px;}
.search.result .review_list .attach_photo>* +*{margin-left:15px;}