<html ap:decorate="~{layout/layout-contents}">

<body>
        <!-- #ap_container -->
        <div ap:fragment="layout-contents">
            <!-- page contents -->
            <div class="ap_contents mypage">
				<div class="color_finder_link">
					<a href="#" th:href="@{/display/color_finder_detail(displayMenuId=color_finder_detail,type=spring)}">
						<div>
							<img ap:src="@{/images/my/app_tone_spring.jpg}" alt="spring"></div>
						<div>
							<h3>웜톤 - 봄</h3>
							<p>노란색을 지닌 따뜻한 유형</p>
							<p>선명하고 밝은 톤 등이 잘<br>어울린다고 해요</p>
						</div>
					</a>
					<a href="#" th:href="@{/display/color_finder_detail(displayMenuId=color_finder_detail,type=summer)}">
						<div>
							<img ap:src="@{/images/my/app_tone_summer.jpg}" alt="summer"></div>
						<div>
							<h3>쿨톤 – 여름</h3>
							<p>흰색과 파랑을 지닌 차가운<br>유형</p>
							<p>화사하고 부드럽고, 여성<br>스러운 느낌을 준다고 해요</p>
						</div>
					</a>
					<a href="#" th:href="@{/display/color_finder_detail(displayMenuId=color_finder_detail,type=fall)}">
						<div>
							<img ap:src="@{/images/my/app_tone_fall.jpg}" alt="autumn"></div>
						<div>
							<h3>웜톤 – 가을</h3>
							<p>황색을 지닌 따뜻한 유형</p>
							<p>우리나라 여성들이<br>대체적으로 어울리는<br>타입으로 차분하고 편안한<br>느낌을 준다고 해요</p>
						</div>
					</a>
					<a href="#" th:href="@{/display/color_finder_detail(displayMenuId=color_finder_detail,type=winter)}">
						<div>
							<img ap:src="@{/images/my/app_tone_winter.jpg}" alt="winter">
						</div>
						<div>
							<h3>쿨톤 – 겨울</h3>
							<p>파랑과 흰색, 검정을 지닌<br>차가운 유형</p>
							<p>선명하고 시적인 강렬함을<br>느낀다고 해요</p>
						</div>
					</a>
				</div>
			</div>
            <!-- // page contents -->

        </div>
        <!-- // #ap_container -->

        <!--/* 하단 js등을 실행하는 마지막 영역 */-->
        <th:block ap:fragment="layout-endpoint"></th:block>
</body>
</html>