<!-- AP.modal.info() 의 contents 영역 -->
<div class="ly_content">

	<div class="search_wrap">
		<div class="input_wrap">
			<input type="text" placeholder="기프트카드 번호 입력" class="input_coupon">
		</div>
		<a href="#none" class="btn_fix_neutral">확인</a>
	</div>		<!-- // search_wrap -->

	<div class="con_wrap">
		<div class="con_top_box">
			<span class="title">쿠폰사용 합계</span><span class="total_num_purple"></span>
		</div>		<!-- // con_top_box -->
		<div class="con_bottom_box">
			<div class="coupon_ck_list_line">
				<div class="scroll">
					<ul class="coupon_ck_list">
						<li>
							<span class="check_wrap">
								<input type="checkbox" id="check0_1">
								<label for="check0_1">
									<span class="ellipsis">김이름의 기프트카드</span>
									<span class="txt_small_gray">2018년 12월 31일까지</span>
								</label>
							</span>
							<p class="txt_price">15,000,000원</p>
							<div class="gift_price_used">
								<span class="input_wrap ">
									<input type="text" placeholder="사용할 금액을 입력해주세요" />
								</span>
								<a href="#1" class="txt_small_purple">모두사용</a>
							</div>
						</li>
						<li>
							<span class="check_wrap">
								<input type="checkbox" id="check0_2" checked="checked" />
								<label for="check0_2">
									<span class="ellipsis">김이름의 기프트카드 김이름의 기프트카드</span>
									<span class="txt_small_gray">2018년 12월 31일까지</span>
								</label>
							</span>
							<p class="txt_price">15,000원</p>
							<div class="gift_price_used" style="display:block;">
								<span class="input_wrap ">
									<input type="text" placeholder="사용할 금액을 입력해주세요" />
								</span>
								<a href="#1" class="txt_small_purple">모두사용</a>
							</div>
						</li>
						<li>
							<span class="check_wrap">
								<input type="checkbox" id="check0_3"  />
								<label for="check0_3">
									<span class="ellipsis">PC쿠폰명 말줄임표 말줄임표</span>
									<span class="txt_small_gray">2018년 12월 31일까지</span>
								</label>
							</span>
							<p class="txt_price">15,000원</p>
							<div class="gift_price_used">
								<span class="input_wrap">
									<input type="text" placeholder="사용할 금액을 입력해주세요" value="5000" />
								</span>
								<a href="#1" class="txt_small_purple">모두사용</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<p class="sub_txt txt_small_gray">기프트카드 번호는 상단에 입력후 결제시 사용 가능합니다</p>
			<div class="mg_side">
				<a href="#1" class="btn_full disabled">확인</a>
				<a href="#1" class="btn_full">확인</a>			<!-- 선택시 class disabled 삭제 -->
			</div>
		</div>		<!-- con_bottom_box -->
	</div>		<!-- // con_wrap -->