<dd class="layer_cont">
	<!-- AP.modal.info() 의 contents 영역 -->
	<div class="ly_content ui_find_addresses">
		<!-- 결과 템플레이트 화면 변경 -->
		<span id="find-address-result-template" style="display: none;">order.layer-find-address-result-template</span>
		<div class="address_search_wrap ">
			<div class="input_wrap">
				<input type="text" class="address_keyword" placeholder="도로명, 건물명, 번지로 검색해주세요" class="input_coupon" />
				<a href="#1" title="검색" class="ico_search btn_address_find"><img src="/pc/ko/images/order/ico_search_purple.png" alt="검색"></a>
			</div>
		</div>		<!-- // address_search_wrap -->

		<div class="con_wrap address_list">
			<dl class="tip">
				<dt>우편번호 통합검색 <strong>Tip</strong></dt>
				<dd>
					도로명 + <strong>건물번호</strong> (예 : 송파대로 570)<br>
					동/읍/면/리 + <strong>번지</strong> (예 : 신천동 7-30)<br>
					건물명, 아파트명 (예 : 반포자이아파트)
				</dd>
			</dl>
		</div>	<!-- // con_wrap -->
	</div>
</dd>


<script>
	var findAddrObj = {};

	$( document ).ready(function() {

		// 주소 찾기 초기화
		$( '.ui_find_addresses' ).findAddresses();
		//주소입력창 포커스
		setTimeout(function() {
			$( '.find_addresses_input' ).focus();
		}, 500);

	});

	/** 주소 선택시 결과 이벤트 */
	$('.ui_find_addresses').on('change-address', function (e) {
		console.log( e.selIndex, e.postCode, e.address, e.detailAddress );

		findAddrObj.selIndex = e.selIndex;
		findAddrObj.postCode = e.postCode;
		findAddrObj.address = e.address;
		findAddrObj.detailAddress = e.detailAddress;

		//등록하기 버튼 활성화
		$("#btnFindAddrReg").removeProp("disabled");

		//열렸던 모든 상세주소 입력창 숨기기
		$(".add_input").hide();
		//선택된 상세주소 입력창 보이기
		$("#addInput" + e.selIndex).show();

	});
</script>