<p class="text">고객님 환영해요<br>즐겁고 행복한 쇼핑되세요</p>
<ul class="product_list">
	<li class="product ui_table">
		<div class="product_visual">
			<img ap:src="@{/images/dummy/img_item_04.jpg}" alt="">
			<span class="discount">50%</span>
		</div>
		<div class="product_info">
			<strong class="brand">06월 15일 TODAY 핫딜</strong>
			<div class="product_name">스킨베일 커버 파운데이션 EX SPF25 PA++ 30ml스킨베일 커버 파운데이션 EX SPF25 PA++ 30ml</div>
			<div class="product_area"><span class="price"><strong>34,000</strong>원</span><span class="dis_price"><del>20,300</del>원</span></div>
			<div><strong>27</strong>개 남음<a href="#none" class="link"><em>더보기</em></a></div>
		</div>
	</li>
</ul>