{{#each this.planDisplayList }}
	{{#xif this.planDisplaySn '!=' planDisplaySn}}
	<li>
		<a href="/display/event_detail?planDisplaySn={{ this.planDisplaySn }}">
			<img src="{{ absolutePath this.bannerImgM1 }}" alt="">
		</a>
	</li>
	{{/xif}}
{{/each}}
