
							<div class="section">
								<img src="/mo/ko/images/display/img_attendance_01.jpg" alt="benefit 01 뷰티포인트 증정 메일 출석할때마다 뷰티포인트 5P를 드려요">
							</div>
							<div class="section">
								<img src="/mo/ko/images/display/img_attendance_02.jpg" alt="benefit 02 개근고객 혜택 출석률에 따라 뷰티포인트 최대 2000p 추가 증정(다음달 2일 일괄증정) 출석률 50% +200P 출석률 70% +500P 출석률 90% +1000P 출석률 100% +2000P">
							</div>
							<div class="section">
								<img src="/mo/ko/images/display/img_attendance_03.jpg" alt="benefit 03 브랜드 할인쿠폰 출석체크하고 today 브랜드쿠폰을 뽑으면 해당 브랜드 3,000원 할인쿠폰 증정(당일사용가능)">
							</div>
							<!--<div class="section">-->
								<!--<img ap:src="@{/images/display/img_attendance_04.jpg}" alt="benefit 04 행운의 선물 15일 이상 출석체크하고 동일한 브랜드 쿠폰 뽑으면 혜택 추가 증정">-->
							<!--</div>-->

