{{#each this.data}}
	<a href="#none" class="lazy_load_wrap">
		<img class="lazy_load" src="" data-src="{{ this.pixlee_cdn_photos.square_medium_url }}" alt="{{ decodeURIComponent this.alt_text }}" data-idx="{{ calc ../startIdx '+' @index }}" />
	</a>
{{/each}}