<div class="layer_popup" style="display: block;">
    <div class="layer_dimmed"></div>
    <div class="layer_wrap" style="top:10%;">
        <dl class="layer">
            <dt class="layer_title">페이스북 등록 방법</dt>
            <dd class="layer_cont">
				<ul class="list">
					<li><b class="block">1. 페이스북 담벼락 올리기</b>
						뷰티즌 이미지를 다운받아 나의 뷰티즌
						지원을 알리는 담벼락을 알린다.
					</li>
					<li><b class="block">2. 친구들에게 알리기</b>
						나의 페이스북 친구들이 담벼락을 보고
						좋아요를 누르거나 댓글을 달아주면 나의
						페이스북 활동 지수는 UP!UP!
					</li>
					<li><b class="block">3. 담벼락 주소 입력하기</b>
						<div class="input_group mgt10">
							<div><input type="text" title="담벼락 주소 입력" placeholder="http://" data-snsUrl=this.value></div>
						</div>
					</li>
				</ul>
				<div class="page_btns">
					<button class="btn_md_secondary" type="button">취소</button>
					<button class="btn_md_neutral" type="button">확인</button>
				</div>
            </dd>
        </dl>
        <button class="layer_close" type="button">레이어 닫기</button>
    </div>
</div>