<p class="text">예약 확인을 위해 예약 시 발급된 예약 번호를 입력하세요.</p>
<form class="validate">
	<fieldset class="form mgt20">
		<legend class="sr_only">예약번호 입력</legend>
		<dl class="dl_cont">
			<dt><b><label for="reserveNo">예약번호</label></b></dt>
			<dd>
				<div class="input_group">
					<div>
						<input type="text" name="reserveNo" id="reserveNo" required="required" number="number" data-msg-required="예약번호를 입력해 주세요.">
					</div>
				</div>
			</dd>
		</dl>
	</fieldset>
	<div class="page_btns">
		<button class="btn_md_neutral submit" type="button">확인</button>
	</div>
</form>