<div>
	<img alt="{{ this.national }}" src="{{ absolutePath imgSrc }}">
</div>
{{#xif link '!=' undefined}}
	<div class="page_btns">
		<a href="{{ link }}" target="_blank" title="새창" class="btn_lg_neutral">Visit Site</a>
	</div>
{{/xif}}