{{#each this.list}}
<div class="instar" style="opacity: 0;">
	<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7">
		<a href="{{ this.link }}"></a>
	</blockquote>
</div>
{{/each}}