{{#each list}}
<li>
	<div class="product_one_view">
		<a href="javascript:;">
			<span class="rank_num">{{ calc @index '+' 1 }}</span>
			<span class="rank_down">234</span>
			<span class="product_visual_new">
				<span class="lazy_load_wrap loaded">
					<img src="" data-src="/mo/ko/images/dummy/img_oneView_01.jpg" alt="" class="lazy_load loaded">
				</span>
			</span>

			<span class="product_info_new">
				<span class="prd_name">Apmall x HERA 블랙쿠션 시크릿박스_17호</span>
				<span class="price_wrap">
					<strong class="discount">5%</strong>
					<strong class="price">129,600<em>원</em></strong>
				</span>
				<span class="product_rating">
					<span class="mark_star_sm star3"><span class="sr_only">구매 평점 별 5개 중 3개</span></span>
					<span class="prd_review">리뷰 828</span>
				</span>
				<span class="tags">
					<em class="badge special">스페셜기프트</em>
					<em class="badge gift">기프트카드</em>
				</span>

				<button type="button" class="btn_toggle"><i class="ico_heart_s"></i><span class="sr_only">좋아요</span></button>
			</span>
		</a><a href="javascript:;" class="direct_brand">리리코스 마린에너지</a>
	</div>
</li>
{{/each}}