<fieldset class="form">
	<div class="panel gray store">
		<div class="panel_cont">
			<p class="text"><span class="color_point">찾고자 하는 매장명 또는 지역명을 입력하신 후 검색을 누르세요.</span> &nbsp;&nbsp;&nbsp;(예 : 명동1호점, 강남)</p>
			<div class="input_wrap mgt20">
				<input type="text" placeholder="매장명 또는 지역명">
				<button type="button" class="btn_search"><span class="sr_only">검색</span></button>
				<button class="input_del"><i class="ico_close_w"></i><span class="sr_only">검색어 삭제</span></button>
			</div>
		</div>
	</div>

	<div class="store_list mgt20">
		<div class="clear">
			<div>
				<p class="text font_lg"><b>검색 결과<em class="result_num"></em>개</b></p>
			</div>
			<div class="right_text color_finder_tooltip_wrap">
				<span>마이 컬러 파인더 서비스</span>
				<span class="ui_tooltip">
					<button type="button" class="btn_tooltip">툴팁보기</button>
					<span class="arr"></span>
					<span class="layer_tooltip">
						<dl>
							<dt><strong>마이컬러파인더 서비스는?</strong></dt>
							<dd>
								에뛰드하우스의  전국의 매장에서 뷰티아티스트가 고객님께 맞는
								컬러를 찾아 제품을 추천해 드리는 서비스입니다. 매장 찾기에서
								마이컬러파인더 매장이 표시된 매장을 방문하시면 서비스를
								이용하실 수 있습니다.
							</dd>
						</dl>
						<button type="button" class="ui_close"><span class="sr_only">툴팁 닫기</span></button>
					</span>
				</span>
			</div>
		</div>

		<table class="ui_table_striped data_table thead_colored align_center mgt20">
			<caption class="sr_only">매장찾기 검색결과 목록으로 매장, 주소로 구성</caption>
			<colgroup>
				<col style="width:195px"/>
				<col/>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">매장</th>
					<th scope="col">주소</th>
				</tr>
			</thead>
			<tbody class="list">
			</tbody>
		</table>

		<ul class="loading" style="min-height: 300px">
			<li></li>
			<li></li>
			<li></li>
		</ul>

		<div class="pagination"></div>

		<div class="panel notice store result_none" style="display: none">
			<i class="ico"></i>
			<p class="font_df color_dark_gray"></p>
			<p class="text font_lg">등록된 매장이 없습니다.</p>
		</div>
	</div>
</fieldset>