{{#each this.brandMenus}}
	<li>
		<a href="{{ this.clickUrl }}" data-brand-sn="{{ this.brandSn }}">
			{{#each this.logos}}
				{{#xif this.logoType '==' 'BrandLogo01'}}
					<img alt="{{ ../brandName }}" src="{{ absolutePath this.fileUrl }}">
				{{/xif}}
			{{/each}}
		</a>
	</li>
{{/each}}