<html ap:decorate="~{layout/default}">
<body>
<!-- #ap_container -->
<div ap:fragment="layout-contents">
	<!-- page title -->
	<div class="page_title">
		<h2 class="h_title page">장바구니</h2>
		<p class="text font_lg"></p>
	</div>
	<!-- // page title -->
	<!-- page contents -->
	<div class="ap_contents cart">
		<!--/* 결제 step */-->

		<!--공통 진행사항-->
		<th:block ap:replace="~{cart/fragment/current :: tab (state = 1)}"/>

		<form id="order-info" class="validate" method="post" action="/order/reception">
		<!--주문접수 데이터-->
		<input type="hidden" name="memberSn" th:value="${memberSn}"/>
		<input type="hidden" name="cartSn" th:value="${cartEx.cartSn}"/>
		<input type="hidden" name="orderFlag" value="cart"/>
		<input type="hidden" name="onlineProdSnArr"/>													<!--온라인쇼핑 상품-->
		<th:block th:if="${memberSn > 0}"><input type="hidden" name="takeoutProdSnArr"/></th:block>		<!--테이크아웃 상품-->
		<th:block th:unless="${memberSn > 0}"><input type="hidden" name="NonMember" value="NonMember"/></th:block>
		<!--//주문접수 데이터-->

		<!--/* 장바구니 목록 */-->
		<div class="ui_accordion cart_list">
			<th:block th:if="${ #lists.size(cartEx.cartDeliveryOnlineProdExList) > 0 ||
								#lists.size(cartEx.cartDeliveryMembershipPointExchOnlineProdExList) > 0 ||
								#lists.size(cartEx.cartDeliveryActivityPointExchOnlineProdExList) > 0 ||
								#lists.size(cartEx.cartDeliveryMNPromoExList) > 0 ||
					  			#lists.size(cartEx.cartDeliverySameTimePurPromoExList) > 0 }">
				<!--온라인쇼핑 상품-->
				<th:block ap:replace="~{cart/fragment/cart-01-online-product}"/>
			</th:block>
			<th:block th:if="${ #lists.size(cartEx.cartStorePickupOnlineProdExList) > 0 ||
								#lists.size(cartEx.cartStorePickupMembershipPointExchOnlineProdExList) > 0 ||
								#lists.size(cartEx.cartStorePickupActivityPointExchOnlineProdExList) > 0 ||
								#lists.size(cartEx.cartStorePickupMNPromoExList) > 0 ||
					  			#lists.size(cartEx.cartStorePickupSameTimePurPromoExList) > 0 }">
				<!--테이크아웃 상품-->
				<th:block th:if="${memberSn > 0}" ap:replace="~{cart/fragment/cart-02-takeout-product}"/>
			</th:block>
		</div>
		</form>

		<div class="panel notice"
			 th:if="${#lists.size(cartEx.cartDeliveryOnlineProdExList) == 0 &&
					  #lists.size(cartEx.cartDeliveryMembershipPointExchOnlineProdExList) == 0 &&
					  #lists.size(cartEx.cartDeliveryActivityPointExchOnlineProdExList) == 0 &&
					  #lists.size(cartEx.cartDeliveryMNPromoExList) == 0 &&
					  #lists.size(cartEx.cartDeliverySameTimePurPromoExList) == 0 &&

					  #lists.size(cartEx.cartStorePickupOnlineProdExList) == 0 &&
					  #lists.size(cartEx.cartStorePickupMembershipPointExchOnlineProdExList) == 0 &&
					  #lists.size(cartEx.cartStorePickupActivityPointExchOnlineProdExList) == 0  &&
			 		  #lists.size(cartEx.cartStorePickupMNPromoExList) == 0 &&
					  #lists.size(cartEx.cartStorePickupSameTimePurPromoExList) == 0 }">
			<i class="ico"></i>
			<p class="text color_gray">장바구니에 담긴 상품이 없습니다.</p>
		</div>
		<th:block th:if="${ #lists.size(cartEx.cartDeliveryOnlineProdExList) > 0 ||
							#lists.size(cartEx.cartDeliveryMembershipPointExchOnlineProdExList) > 0 ||
							#lists.size(cartEx.cartDeliveryActivityPointExchOnlineProdExList) > 0 ||
							#lists.size(cartEx.cartDeliveryMNPromoExList) > 0 ||
					  		#lists.size(cartEx.cartDeliverySameTimePurPromoExList) > 0 ||

							#lists.size(cartEx.cartStorePickupOnlineProdExList) > 0 ||
							#lists.size(cartEx.cartStorePickupMembershipPointExchOnlineProdExList) > 0 ||
							#lists.size(cartEx.cartStorePickupActivityPointExchOnlineProdExList) > 0 ||
							#lists.size(cartEx.cartStorePickupMNPromoExList) > 0 ||
					  		#lists.size(cartEx.cartStorePickupSameTimePurPromoExList) > 0 }" >
		<div class="align_right mgt20">
			<button type="button" class="btn_md_form" onclick="selectRemoveCartProd()">선택 삭제</button>
		</div>

		<!--/* 결제 금액 내역 */-->
		<div class="total_money" id="calculationResult">
		</div>

		<!--/* 주문결제 */-->
		<div class="page_btns">
			<button type="button" class="btn_lg_bordered" onclick="javascript:location.href='/main'">계속 쇼핑하기</button>
			<button type="button" class="btn_lg_primary" onclick="fnCheckOrder()">주문결제하기</button>
		</div>
		</th:block>
	</div>
	<!-- // page contents -->
</div><!-- // #ap_container -->

<th:block ap:fragment="layout-endpoint">

	<script ap:src="@{/handlebars-templates/compiled/cart/online/prod.js}"></script>					<!-- 온라인상품 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/online/membership-point-prod.js}"></script>	<!-- 뷰티포인트상품 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/online/activity-point-prod.js}"></script>		<!-- 진주알상품 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/online/mn-promo-list.js}"></script>			<!-- 프로모션 상품목록 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/online/same-time-promo-list.js}"></script>	<!-- 동시구매 상품목록 -->

	<script ap:src="@{/handlebars-templates/compiled/cart/takeout/prod.js}"></script>					<!-- 테이크아웃상품 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/takeout/membership-point-prod.js}"></script>	<!-- 뷰티포인트상품 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/takeout/activity-point-prod.js}"></script>		<!-- 진주알상품 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/takeout/mn-promo-list.js}"></script>			<!-- 테이크아웃 프로모션 상품목록 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/takeout/same-time-promo-list.js}"></script>	<!-- 테이크아웃 동시구매 상품목록 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/takeout/store-select-info.js}"></script>		<!-- 테이크아웃 선택매장목록 -->

	<script ap:src="@{/handlebars-templates/compiled/cart/calculation-result.js}"></script>					<!-- 결제목록 -->

	<script ap:src="@{/handlebars-templates/compiled/cart/layer-cart-03.js}"></script>						<!--옵션변경 -->
	<script ap:src="@{/handlebars-templates/compiled/cart/layer-cart-02.js}"></script>						<!--테이크아웃 Layer-->
	<script ap:src="@{/handlebars-templates/compiled/cart/layer-cart-02-list.js}"></script>					<!--테이크아웃 Layer-->
	<script ap:src="@{/handlebars-templates/compiled/cart/layer-cart-01.js}"></script>						<!--위치기반동의 -->
	<script ap:src="@{/handlebars-templates/compiled/products/none-member-order-info-modal.js}"></script> 	<!--비회원 동의 -->

	<script th:inline="javascript">
	$( document ).ready(function() {
	});

	/* spinner 적용 */
	//$( '.ui_spinner' ).spinner();

	/* 회원일련 번호*/
	var memberSn = /*[[${memberSn}]]*/;

	/* 카트 정보 */
	var cartEx = /*[[${cartEx}]]*/;

	/* 뷰티포인트 정보 */
	var bpMembershipEx = /*[[${bpCartMemberMembershipEx}]]*/;

	/* 선택매장 정보 */
	var storeSelect = /*[[${storeSelect}]]*/;

	/* 단골매장매장 정보 */
	var storeRegularList = /*[[${storeRegularList}]]*/;

	/* 장바구니 번호 */
	var cartSn = cartEx.cartSn;

	/* 온라인 체크시 */
	$('#onlinePrdCheck').on('click', function(e) {
		if($(this).is(":checked")){
			$('[name="chkBox"]').prop('checked', true);
		} else {
			$('[name="chkBox"]').prop('checked', false);
		}
		calculateSelectCartProds();
	});

	/* 테이크아웃 체크시 */
	$("#takeoutPrdCheck").on('click', function(e){
		if($(this).is(":checked")){
			$('[name="takeoutChkBox"]').prop('checked', true);
		}else{
			$('[name="takeoutChkBox"]').prop('checked', false);
		}
		calculateSelectCartProds();
	});

	/* 온라인 상품 */
	setOnlineProd();

	/* 테이크아웃 상품 */
	setStoreProd();

	/* 상품가격 정보 */
	setCalculationResult();

	/* 상품목록 카운트 */
	setProdCnt();

	/* 테이크아웃 선택매장정보 */
	setStoreSelect();

	/* 온라인상품 */
	function setOnlineProd() {
		$( '.ui_spinner' ).spinner();
		$('#allOnlineProd').empty();
		if (cartEx.cartDeliveryOnlineProdExList.length > 0) {
			var onlineHtml = AP.common.getTemplate('cart.online.prod', {
				cartSn : cartEx.cartSn,
				list : cartEx.cartDeliveryOnlineProdExList
			});
			$('#allOnlineProd').append(onlineHtml);
		}
		if (cartEx.cartDeliveryMNPromoExList.length > 0) {
			var onlineHtml = AP.common.getTemplate('cart.online.mn-promo-list', {
				cartSn : cartEx.cartSn,
				list : cartEx.cartDeliveryMNPromoExList
			});
			$('#allOnlineProd').append(onlineHtml);
		}
		if (cartEx.cartDeliverySameTimePurPromoExList.length > 0) {
			var onlineHtml = AP.common.getTemplate('cart.online.same-time-promo-list', {
				cartSn : cartEx.cartSn,
				list : cartEx.cartDeliverySameTimePurPromoExList
			});
			$('#allOnlineProd').append(onlineHtml);
		}
		if (cartEx.cartDeliveryMembershipPointExchOnlineProdExList.length > 0) {
			var onlineHtml = AP.common.getTemplate('cart.online.membership-point-prod', {
				cartSn : cartEx.cartSn,
				bpMembershipEx : bpMembershipEx,
				pointSum : cartEx.cartDeliveryExchMembershipPointSum,
				list : cartEx.cartDeliveryMembershipPointExchOnlineProdExList
			});
			$('#allOnlineProd').append(onlineHtml);
		}
		if (cartEx.cartDeliveryActivityPointExchOnlineProdExList.length > 0) {
			var onlineHtml = AP.common.getTemplate('cart.online.activity-point-prod', {
				cartSn : cartEx.cartSn,
				bpMembershipEx : bpMembershipEx,
				pointSum : cartEx.cartDeliveryExchActivityPointSum,
				list : cartEx.cartDeliveryActivityPointExchOnlineProdExList
			});
			console.log("bpMembershipEx" + bpMembershipEx.membershipPoints);
			$('#allOnlineProd').append(onlineHtml);
		}

		$('[name=chkBox]').on('click', function(e) {
			$('[name="onlinePrdCheck"]').prop('checked', $( '[name=chkBox]' ).length == $( '[name=chkBox]:checked' ).length);
			calculateSelectCartProds();
		});
	}

	/* 테이크아웃 상품 */
	function setStoreProd() {
		$( '.ui_spinner' ).spinner();
		$('#allStoreProd').empty();
		if (cartEx.cartStorePickupOnlineProdExList.length > 0) {
			var storeHtml = AP.common.getTemplate('cart.takeout.prod', {
				cartSn : cartEx.cartSn,
				list : cartEx.cartStorePickupOnlineProdExList
			});
			$('#allStoreProd').append(storeHtml);
		}
		if (cartEx.cartStorePickupMNPromoExList.length > 0) {
			var storeHtml = AP.common.getTemplate('cart.takeout.mn-promo-list', {
				cartSn : cartEx.cartSn,
				list : cartEx.cartStorePickupMNPromoExList
			});
			$('#allStoreProd').append(storeHtml);
		}
		if (cartEx.cartStorePickupSameTimePurPromoExList.length > 0) {
			var storeHtml = AP.common.getTemplate('cart.takeout.same-time-promo-list', {
				cartSn : cartEx.cartSn,
				list : cartEx.cartStorePickupSameTimePurPromoExList
			});
			$('#allStoreProd').append(storeHtml);
		}
		if (cartEx.cartStorePickupMembershipPointExchOnlineProdExList.length > 0) {
			var storeHtml = AP.common.getTemplate('cart.takeout.membership-point-prod', {
				cartSn : cartEx.cartSn,
				bpMembershipEx : bpMembershipEx,
				pointSum : cartEx.cartStorePickupExchMembershipPointSum,
				list : cartEx.cartStorePickupMembershipPointExchOnlineProdExList
			});
			$('#allStoreProd').append(storeHtml);
		}
		if (cartEx.cartStorePickupActivityPointExchOnlineProdExList.length > 0) {
			var storeHtml = AP.common.getTemplate('cart.takeout.activity-point-prod', {
				cartSn : cartEx.cartSn,
				bpMembershipEx : bpMembershipEx,
				pointSum : cartEx.cartStorePickupExchActivityPointSum,
				list : cartEx.cartStorePickupActivityPointExchOnlineProdExList
			});
			$('#allStoreProd').append(storeHtml);
		}
		$('[name=takeoutChkBox]').on('click', function(e) {
			$('[name="takeoutPrdCheck"]').prop('checked', $( '[name=takeoutChkBox]' ).length == $( '[name=takeoutChkBox]:checked' ).length);
			calculateSelectCartProds();
		});
	}

	/* 테이크아웃 선택매장 정보 */
	function setStoreSelect() {
		$('#storeSelectInfo').empty();
		var storeSelectInfoHtml = AP.common.getTemplate('cart.takeout.store-select-info', {
			storeSelect : storeSelect,
			storeRegularList : storeRegularList
		});
		$('#storeSelectInfo').append(storeSelectInfoHtml);
		$( '.ui_tooltip' ).tooltip();
	}

	/* 최종결제 금액 계산 */
	function setCalculationResult() {
		/*var statusName = $('[name=calculationDetail]');
		var calculationDetailStatus = statusName.attr('class');
		if(calculationDetailStatus != 'btn_details'){
			statusName.addClass(' on');
		}else{
			statusName.removeClass(' on');
		}*/
		$('#calculationResult').empty();
		if (cartEx.calculationResult != null) {
			var calculationHtml = AP.common.getTemplate('cart.calculation-result', {
				cartEx : cartEx
			});
			$('#calculationResult').append(calculationHtml);
		}
	}

	function setProdCnt() {
		/* 온라인상품 수량 */
		var onlineCnt			= $("input[name=onlinePrdSn]").length;							// 온라인상품 수량
		var onlineMembershipCnt = $("input[name=onlineMembershipPrdSn]").length;		// 온라인맴버쉽포인트상품 수량
		var onlineActivityCnt	= $("input[name=onlineActivityPrdSn]").length;			// 온라인활동포인트상품 수량
		var onlineTotalCnt		= onlineCnt + onlineMembershipCnt + onlineActivityCnt;  		// 온라인 총 수량
		var onlineChkCnt		=  $( "input[name=chkBox]:checked" ).length;					// 상품 체크수량

		/* 테이크아웃상품 수량*/
		var takeoutCnt			= $("input[name=takeoutPrdSn]").length;							// 테이크아웃상품 수량
		var takeoutMembershipCnt= $("input[name=takeoutMembershipPrdSn]").length;		// 테이크아웃맴버쉽포인트상품 수량
		var takeoutActivityCnt	= $("input[name=takeoutActivityPrdSn]").length;			// 테이크아웃활동포인트상품 수량
		var takeoutTotalCnt		= takeoutCnt + takeoutMembershipCnt + takeoutActivityCnt;	// 테이크아웃 총 수량
		var takeoutChkCnt		=  $( "input[name=takeoutChkBox]:checked" ).length;			// 상품 체크수량

		/* 최상단 카운트 표기 */
		$("#totalOnlinePrdCnt").html(onlineTotalCnt);
		$("#totalTakeoutPrdCnt").html(takeoutTotalCnt);

		/* 온라인 쇼핑 상품 갯수 */
		$("#onlinePrdCnt").html(onlineTotalCnt);
		/* 테이크아웃 상품 갯수 */
		$("#takeoutPrdCnt").html(takeoutTotalCnt);

		/* 온라인 총 수량 */
		$("#calOnlinePrdCnt").html(onlineCnt);
		/* 테이크아웃 총 수량 */
		$("#calTakeoutPrdCnt").html(takeoutCnt);
		/* 맴버쉽포인트 총 수량 */
		$("#calMemberPrdCnt").html(onlineMembershipCnt + takeoutMembershipCnt);
		/* 활동포인트 총 수량 */
		$("#calActivityPrdCnt").html(onlineActivityCnt + takeoutActivityCnt);
		//뷰티포인트 상품 수량 및 금액 표기할것

		/* 총주문 갯수 */
		$("#totalPrdCnt").html(onlineChkCnt + takeoutChkCnt);
	}

	// 테이크아웃 매장변경 레이어
	/*$("#b_storeChange").on('click', function(e){
		$("#storeChangeLayer").show();
		getTakeoutStore(null, 0, false, 0, 0);
	});*/

	var ret = false;
	var pageLimit = 10;
	var currentKeyword;

	/* 테이크아웃 매장레이어 */
	var takeoutModal;
	function fnLayerOpenStore() {
		/*if ($('.storeRow').length >= 10) {
			AP.modal.alert('단골매장은 최대 10개 까지만 추가가 가능합니다.');
			return;
		}*/
		takeoutModal = AP.modal.open({
			templateKey: 'cart.layer-cart-02',
			sizeType: "L"
		}).addListener( 'modal-close', function (e) {
			if ('close' === e.closeType) {
				getFavoriteStore();
			}
		});
		var $modalEl = takeoutModal.getElement();
		$('#addSearch').on('click', function (e) {
			var search = $('#addSearchText').val();
			if (search != null && search.length > 0) {
				ret = false;
				getAddTakeoutStore(search, 0)
			}
			else {
				AP.modal.alert('매장명 또는 지역명을 선택해 주세요.');
			}
		});
		$('#addSearchText').keydown(function(e){
			if(e.keyCode == 13){
				var addressDiv = $('#addressDiv').val();
				var addressDetailDivs = $('#addressDetailDivs').val();
				var search = $('#addSearchText').val();
				if(addressDiv != "" && addressDetailDivs != "") {
					ret = false;
					getAddTakeoutStore(addressDiv + ' ' + addressDetailDivs, 0);
				}else{
					ret = false;
					getAddTakeoutStore(search, 0);
				}
			}
		});
		/*$modalEl.find( '[name=searchStore]' ).on( 'click', function (e) {
			var agree = $(this).val();
			console.log("agree : " + agree);
			if(agree == "02"){
				getAddFavoriteStore(search, 0);
			}else{

			}
		});*/
	}

	/* 지역선택 검색*/
	function getAddressDetailDivs(){
		var addressDiv = $('#addressDiv').val();
		if(addressDiv != '' ){
			AP.api.storeAddressDivs({}, {
				addressDiv : addressDiv
			}).done(function(data) {
				if (data.result == 'success') {
					$('[name=addressDetailDivs]').empty();
					if(data.param.length > 0){
						/*if(addressDiv != '서울특별시') {
                            $('[name=addressDetailDivs]').append('<option value="">전체</option>');
                        }*/
						for(var i=0; i < data.param.length; i++) {
							$('[name=addressDetailDivs]').append("<option value='" + data.param[i] + "'>" + data.param[i] + "</option>");
						};
					}
				}
			}).fail(function(e) {
				AP.modal.alert("실패!");
			}).always(function() {
			});
		}else{
			$('[name=addressDetailDivs]').empty();
			$('[name=addressDetailDivs]').append('<option value="">시/구/군</option>');
		}
	}

	/* 매장조회 */
	function getFavoriteStore() {
		AP.api.takeoutStore({}, {
			regularStoreSearchYn : "Y"
		}).done(function (data) {
			if (data) {
				showPage(data.param);
			}
			//성공
		}).fail(function (e) {
			//실패
		}).always(function () {
			//성공, 실패
		});
	}

	/* 매장목록 */
	function showPage(data) {
		var resultHtml = AP.common.getTemplate('cart.layer-cart-02-list', {
			totalLength: data.totalCount,
			totalLengthLabel: $B.string.numberFormat(data.totalCount),
			list: data.storeExList
		});
		$('#storeCnt').text(data.regularStoreTotalCount);
		$('#paging').empty();
		$('#paging').append(resultHtml);

		$('.ui_table_striped').tableStriped('clear');
		$('.ui_table_striped').tableStriped();

		actionStore();
	}

	/* 위치보기 */
	function actionStore() {
		$('.ui_table_striped').tableStriped();
		// map api
		$('.store_list .ui_table_striped tbody tr:not(.tr_map)').each(function (index) {
			var $store = $(this).not('.js-apply'), $trMap = $store.next('.tr_map');
			// 위치보기 버튼
			$store.find('.btn_sm_bordered').on('click', function () {
				if ($trMap.hasClass('on')) {
					$trMap.removeClass('on');
				} else {
					$trMap.addClass('on');
					$trMap.find('.map_area').mapApi('resize');
					$trMap.find('.map_area').mapApi('setCenter', $(this).attr("latitude"), $(this).attr("longitude"));
					$trMap.find('.map_area').mapApi('addMarker', $(this).attr("latitude"), $(this).attr("longitude"), 1);
				}
			});
			//닫기 버튼
			$trMap.find('.btn_map_close').on('click', function () {
				$trMap.removeClass('on');
			});
			//지도 가이드 참고
			$trMap.find('.map_area').mapApi({
				ratio: [320, 180
				]
			});
			/* AP.common.mapApiReady.done(function () {
                if (location != null) {
                    alert("123");
                    $trMap.find( '.map_area' ).mapApi( 'addMarker', location.latitude, location.longitude, 1 );
                }
            }); */
			//중복적용 방지
			$store.addClass('js-apply');
		});
	}

	/* 단골매장 등록,해제 분기 */
	function setDel() {
		$('input[type=checkbox][name=layer]').on('click', function () {
			var element = $(this);
			if (element.prop('checked')) {
				addFavoriteStore(element.val(), element, element.attr('storeName'));
			}
			else {
				delFavoriteStore(element.val(), element, element.attr('storeName'));
			}
			return false;
		});
	}

	/* 페이징 표기*/
	function showAddPaging(totalCount) {
		$('#count').text(totalCount);
		$('.ui_paging').paging('clear');

		var totalPage = Math.ceil(totalCount / pageLimit);

		$('.ui_paging').paging({
			offset : 0,
			limit : 10,
			totalCount: totalCount,
			pagingLength : pageLimit
		}).on('paging-change', function (e) {
			// getAddTakeoutStore(currentKeyword, ((e.page - 1) * pageLimit));
			getAddTakeoutStore(currentKeyword, e.offset);
			// getFavoriteStore();
		});
	}

	/* 단골매장 등록 */
	function addFavoriteStore(storeSn, element, name) {
		AP.api.addTakeoutStore({}, {
			storeSn : storeSn
		}).done(function(data) {
			if (data && data.data.result) {
				AP.modal.alert(name + "이 단골 매장으로 설정 되었습니다.").addListener('modal-close', function(e) {
					element.prop("checked", true);
					$('.ui_table_striped').tableStriped('clear');
					$('.ui_table_striped').tableStriped();
				});
			}
			//성공
		}).fail(function(e) {
			AP.modal.alert(e.responseJSON.errorData.message);
			//실패
		}).always(function() {
			//성공, 실패
		});
	}

	/* 단골매장 취소 */
	function delFavoriteStore(storeSn, element, name) {
		AP.api.delTakeoutStore({}, {
			storeSn : storeSn
		}).done(function(data) {
			if (data && 'success' === data.data) {
				AP.modal.alert(name + "이 단골 매장에서 해제 되었습니다.").addListener('modal-close', function(e) {
					element.prop("checked", false);
					$('.ui_table_striped').tableStriped('clear');
					$('.ui_table_striped').tableStriped();
				});
			}
			//성공
		}).fail(function(e) {
			AP.modal.alert("fail");
			//실패
		}).always(function() {
			//성공, 실패
		});
	}

	/* 주소입력 매장 검색 */
	function getAddTakeoutStore(keyword, offset) {
		currentKeyword = keyword;
		AP.api.takeoutStore({}, {
			keyword: keyword,
			offSet: offset,
			limit: pageLimit,
			regularStoreSearchYn : "N"
		}).done(function (data) {
			if (data) {
				showAddPage(data.param, keyword);
				if (!ret) {
					ret = true;
					showAddPaging(data.param.totalCount);
				}
			}
			//성공
		}).fail(function (e) {
			//실패
			AP.modal.alert(e.responseJSON.errorData.message);
		}).always(function () {
			//성공, 실패
		});
	}

	// 매장검색여부
	function getAddFavoriteStore(keyword, offset) {
		currentKeyword = keyword;
		AP.api.takeoutStore({}, {
			keyword: keyword,
			offSet: offset,
			limit: pageLimit,
			regularStoreSearchYn : "Y"
		}).done(function (data) {
			if (data) {
				showAddPage(data.param, keyword);
				if (!ret) {
					ret = true;
					showAddPaging(data.param.totalCount);
				}
			}
			//성공
		}).fail(function (e) {
			//실패
			AP.modal.alert(e.responseJSON.errorData.message);
		}).always(function () {
			//성공, 실패
		});
	}

	/* 주소입력 매장목록 */
	function showAddPage(data, keyword) {
		var resultHtml = AP.common.getTemplate('cart.layer-cart-02-list', {
			totalLength: data.totalCount,
			totalLengthLabel: $B.string.numberFormat(data.totalCount),
			list: data.storeExList
		});
		$('#addPaging').empty();
		if (data.totalCount > 0) {
			$('#addPagination').show();
			$('#addNone').hide();
			$('#addPaging').append(resultHtml);
			$('.ui_table_striped').tableStriped('clear');
			$('.ui_table_striped').tableStriped();
			actionAddStore();
			setDel();
		}
		else {
			$('#searchText').text(keyword);
			$('#addPagination').hide();
			$('#addNone').show();
		}
		// actionCheckbox();
	}

	/* 주소입력 위치보기 */
	function actionAddStore() {
		// map api
		$('.store_list .ui_table_striped tbody tr:not(.tr_map)').each(function (index) {
			var $store = $(this).not('.js-apply'), $trMap = $store.next('.tr_map'), $btnWrap = $store.find('.table_striped');
			// 위치보기 버튼
			$store.find('.btn_sm_bordered').on('click', function () {
				if ($trMap.hasClass('on')) {
					$trMap.removeClass('on');
				} else {
					$trMap.addClass('on');
					$trMap.find('.map_area').mapApi('resize');
					$trMap.find('.map_area').mapApi('setCenter', $(this).attr("latitude"), $(this).attr("longitude"));
					$trMap.find('.map_area').mapApi('addMarker', $(this).attr("latitude"), $(this).attr("longitude"), 1);
				}
			});
			//닫기 버튼
			$trMap.find('.btn_map_close').on('click', function () {
				$trMap.removeClass('on');
			});
			//지도 가이드 참고
			$trMap.find('.map_area').mapApi({
				ratio: [320, 180
				]
			});
			/* AP.common.mapApiReady.done(function () {
                if (location != null) {
                    alert("123");
                    $trMap.find( '.map_area' ).mapApi( 'addMarker', location.latitude, location.longitude, 1 );
                }
            }); */
			//중복적용 방지
			$store.addClass('js-apply');
		});
	}

	/* 상품상세 이동 */
	function fnProdDetail(onlineProdSn) {
		location.href = '/product/detail?onlineProdSn=' + onlineProdSn;
	}

	/* 매장선택 변경 */
	function fnChangeStore(storeSn) {
		takeoutModal.close();
		AP.api.changeStore({}, {
			cartSn : cartSn,
			storeSn : storeSn
		}).done(function (data) {
			if (data.storeSelect && data.storeRegularList) {
				storeSelect = data.storeSelect;
				storeRegularList = data.storeRegularList;
				setStoreSelect();
				AP.modal.close();
			}
		}).fail(function (e) {
			AP.modal.alert("fail");
		}).always(function () {

		});

	}

	/* 주문결제하기 */
	function fnCheckOrder() {

		var chkCnt 			= $("[name=chkBox]:checked").length;			// 온라인상품 선택갯수
		var takeoutChkCnt	= $("[name=takeoutChkBox]:checked").length;		// 테이크아웃상품 선택갯수
		var totalChkCnt		= $("[name=chkBox]:checked").length + $("[name=takeoutChkBox]:checked").length; // 온라인상품 + 테이크아웃상품 선택갯수

		// 온라인+테이크아웃 상품이 체크되지 않았을때
		if (totalChkCnt == 0) {
			AP.modal.alert("선택된 상품이 없습니다.");
			return false;
		}

		// 테이크아웃 체크상품과 선택매장 확인
		if(takeoutChkCnt > 0 && storeSelect == null){
			AP.modal.alert('테이크아웃 매장을 선택해주세요.');
			return;
		}

		// 선택매장 정보 확인
		/*if(storeSelect == null){
			AP.modal.alert("선택된 매장정보가 존재하지 않습니다.");
			return false;
		}
		else{
			if(storeSelect.invtEnoughType == "No"){
				AP.modal.alert("테이크아웃 선택하신 매장에 재고가 없습니다.\n다른 테이크아웃 매장을 변경해주세요.");
				return false;
			}
			else if(storeSelect.invtEnoughType == "NotEnougho"){
				AP.modal.alert("테이크아웃 선택하신 매장에 재고가 부족합니다.\n다른 테이크아웃 매장을 변경해주세요.");
				return false;
			}
		}*/

		// 3. 상품 분기별 할당
		if(chkCnt > 0 && takeoutChkCnt > 0){
			fnOrderReception(chkCnt, takeoutChkCnt);
		}
		else if(chkCnt > 0){
			fnOrderProdReception(chkCnt, 0);
		}
		else if(takeoutChkCnt > 0){
			fnOrderProdReception(0, takeoutChkCnt);
		}
	}

	/* 주문결제하기(온라인상품 and 테이크아웃상품) */
	function fnOrderReception(chkCnt, takeoutChkCnt) {
		var prdCdArr = [];
		var takeoutCdArr = [];
		if(chkCnt > 0 && takeoutChkCnt > 0){
			$("input[name=chkBox]:checked").each(function() {
				var rowChkVal = $(this).val();
				$('.item_wrap').find("[name='prdInfo_" + rowChkVal + "']").each(function(){
					var prodSn = $(this).closest('div').find('[name=onlinePrdSn]').val();
					var rowSaleDisplayStatus = $('.item_wrap').find("[name='saleDisplayStatus_" + prodSn + "']").val();
					if(rowSaleDisplayStatus == 'OnSale'){
						var prdInfoVal = $(this).val();
						prdCdArr.push(prdInfoVal);
						$("[name='onlineProdSnArr']").attr("value",prdCdArr);
					}
				});
			});
			$("input[name=takeoutChkBox]:checked").each(function() {
				var rowChkVal = $(this).val();
				$('.item_wrap').find("[name='takeoutPrdInfo_" + rowChkVal + "']").each(function(){
					var takeProdSn = $(this).closest('div').find('[name=takeoutPrdSn]').val();
					var rowSaleDisplayStatus = $('.item_wrap').find("[name='saleDisplayStatus_" + takeProdSn + "']").val();
					if(rowSaleDisplayStatus == 'OnSale'){
						var prdInfoVal = $(this).val();
						takeoutCdArr.push(prdInfoVal);
						$("[name='takeoutProdSnArr']").attr("value",takeoutCdArr);
					}
				});
			});
			var $form = $('form.validate');
			$form.submit();
		}
	}

	/* 주문결제하기(온라인상품 or 테이크아웃상품) */
	function fnOrderProdReception(chkCnt, takeoutChkCnt) {
		var prdCdArr = [];
		var takeoutCdArr = [];
		if(chkCnt > 0){
			$("input[name=chkBox]:checked").each(function() {
				var rowChkVal = $(this).val();
				$('.item_wrap').find("[name='prdInfo_" + rowChkVal + "']").each(function(){
					var prodSn = $(this).closest('div').find('[name=onlinePrdSn]').val();
					var rowSaleDisplayStatus = $('.item_wrap').find("[name='saleDisplayStatus_" + prodSn + "']").val();
					if(rowSaleDisplayStatus == 'OnSale'){
						var prdInfoVal = $(this).val();
						prdCdArr.push(prdInfoVal);
						$("[name='onlineProdSnArr']").attr("value",prdCdArr);
					}
				});
			});
			var $form = $('form.validate');
			$form.submit();
		}
		if(takeoutChkCnt > 0) {
			$("input[name=takeoutChkBox]:checked").each(function () {
				var rowChkVal = $(this).val();
				$('.item_wrap').find("[name='takeoutPrdInfo_" + rowChkVal + "']").each(function () {
					var prodSn = $(this).closest('div').find('[name=takeoutPrdSn]').val();
					var rowSaleDisplayStatus = $('.item_wrap').find("[name='saleDisplayStatus_" + prodSn + "']").val();
					if (rowSaleDisplayStatus == 'OnSale') {
						var prdInfoVal = $(this).val();
						takeoutCdArr.push(prdInfoVal);
						$("[name='takeoutProdSnArr']").attr("value",takeoutCdArr);
					}
				});
			});
			var $form = $('form.validate');
			$form.submit();
		}
	}

	/* 옵션변경 Layer */
	function fnUnitVariationProds(cartSn, cartProdSn, prodSn, cartProdQty, storePickupYn) {
		AP.api.getLayerPage({}, {
			cartProdSn: cartProdSn
		}).done(function (data) {
			if (data.result == "success") {
				var modal = AP.modal.open({
					templateKey: 'cart.layer-cart-03',
					templateModel: { list : data.param, prodSn : prodSn }
				});
				// design select 적용
				$( '.ui_select' ).designSelectBox();
				// selectBox 적용
				modal.getElement().find( 'select' ).selectBox();
				$('#b_save').off('click').on('click', function (e) {
					var prodSnVal = $('[name=prodSn]').val();
					if(prodSnVal == ''){
						AP.modal.alert("변경하실 옵션을 선택하세요.");
					}else{
						AP.api.modifyCartProd({}, {
							cartSn : cartSn,
							cartProdSn : cartProdSn,
							prodSn : prodSnVal,
							cartProdQty : cartProdQty,
							storePickupYn : storePickupYn
						}).done(function (data) {
							if (data.data) {
								cartEx = data.data;
								setOnlineProd();
								setStoreProd();
								setCalculationResult();
								setProdCnt();
								modal.close();
							}
						}).fail(function (e) {
							AP.modal.alert("[ajax.fail]실패");
							modal.close();
						}).always(function () {
						});
					}
				});
				$('#b_close').off('click').on('click', function (e) {
					modal.close();
				});
			}
		}).fail(function (e) {
			AP.modal.alert("[ajax.fail]실패");
		}).always(function () {

		});
	}

	/* 선택 삭제 */
	function selectRemoveCartProd() {
		var chkCnt 			= $("[name=chkBox]:checked").length;			// 온라인상품 선택갯수
		var takeoutChkCnt	= $("[name=takeoutChkBox]:checked").length;		// 테이크아웃상품 선택갯수
		var totalChkCnt		= $("[name=chkBox]:checked").length + $("[name=takeoutChkBox]:checked").length; // 온라인상품 + 테이크아웃상품 선택갯수
		if (totalChkCnt == 0) {
			AP.modal.alert("선택된 상품이 없습니다.");
			return false;
		}
		AP.modal.confirm( '선택한 상품을 장바구니에서 삭제하시겠습니까? ' ).addListener( 'modal-close', function (e) {
			//console.log( e.closeType ); //close, confirm, cancel
			if(e.closeType == 'confirm'){
				var prdCdArr = [];
				var takeoutCdArr = [];
				if(chkCnt > 0 ){
					$("input[name=chkBox]:checked").each(function() {
						var rowChkVal = $(this).val();
						$('.item_wrap').find("[name='prdInfo_" + rowChkVal + "']").each(function(){
							var prdInfoVal = $(this).val();
							prdCdArr.push(prdInfoVal);
						});
					});
				}
				if(takeoutChkCnt > 0 ) {
					$("input[name=takeoutChkBox]:checked").each(function () {
						var rowChkVal = $(this).val();
						$('.item_wrap').find("[name='takeoutPrdInfo_" + rowChkVal + "']").each(function () {
							var prdInfoVal = $(this).val();
							takeoutCdArr.push(prdInfoVal);
						});
					});
				}
				jQuery.ajaxSettings.traditional = true;
				AP.api.removeSelectCartProd({}, {
					cartSn : cartSn,
					prdCdArr: prdCdArr,
					takeoutCdArr: takeoutCdArr
				}).done(function (data) {
					if (data.data) {
						AP.modal.alert("해당상품이 삭제되었습니다.").addListener( 'modal-close', function (e) {
							cartEx = data.data;
							setOnlineProd();
							setStoreProd();
							setCalculationResult();
							setProdCnt();
						});
					}
				}).fail(function (e) {
					AP.modal.alert("fail");
				}).always(function () {

				});
			}
		});
	}

	/* 선택상품재계산 */
	function calculateSelectCartProds() {
		var chkCnt = $("[name=chkBox]:checked").length;					// 온라인상품 선택갯수
		var takeoutChkCnt = $("[name=takeoutChkBox]:checked").length;	// 테이크아웃상품 선택갯수
		var prdCdArr = [];
		var takeoutCdArr = [];

		if(chkCnt > 0 ){
			$("input[name=chkBox]:checked").each(function() {
				var rowChkVal = $(this).val();
				$('.item_wrap').find("[name='prdInfo_" + rowChkVal + "']").each(function(){
					var prdInfoVal = $(this).val();
					prdCdArr.push(prdInfoVal);
				});
			});
		}
		if(takeoutChkCnt > 0 ) {
			$("input[name=takeoutChkBox]:checked").each(function () {
				var rowChkVal = $(this).val();
				$('.item_wrap').find("[name='takeoutPrdInfo_" + rowChkVal + "']").each(function () {
					var prdInfoVal = $(this).val();
					takeoutCdArr.push(prdInfoVal);
				});
			});
		}

		jQuery.ajaxSettings.traditional = true;
		AP.api.getCartBySelectCartProds({}, {
			cartSn : cartSn,
			prdCdArr: prdCdArr,
			takeoutCdArr: takeoutCdArr
		}).done(function (data) {
			if (data.data) {
				cartEx = data.data;
				setOnlineProd();
				setStoreProd();
				setCalculationResult();
				setProdCnt();
				$('[name=chkBox]').on('click', function(e) {
					$('[name="onlinePrdCheck"]').prop('checked', $( '[name=chkBox]' ).length == $( '[name=chkBox]:checked' ).length);
					calculateSelectCartProds();
				});
			}
		}).fail(function (e) {
			AP.modal.alert("fail");
		}).always(function () {

		});
	}

	/* 단일삭제(단위상품기준) */
	function removeCartProd(cartSn, cartProdSn) {
		AP.modal.confirm( '선택한 상품을 장바구니에서 삭제하시겠습니까? ' ).addListener( 'modal-close', function (e) {
			if(e.closeType == 'confirm'){
				jQuery.ajaxSettings.traditional = true;
				AP.api.removeCartProd({}, {
					cartSn: cartSn,
					cartProdSn : cartProdSn
				}).done(function (data) {
					if (data.data) {
						AP.modal.alert("해당상품이 삭제되었습니다.").addListener( 'modal-close', function (e) {
							cartEx = data.data;
							setOnlineProd();
							setStoreProd();
							setCalculationResult();
							setProdCnt();
						});
					}
				}).fail(function (e) {
					AP.modal.alert("fail");
				}).always(function () {
					// 성공, 실패
				});
			}
		});
	}

	/* 단일삭제(온라인상품기준) */
	function removeCartOnlineProd(cartSn, onlineProdSn, method) {
		AP.modal.confirm( '선택한 상품을 장바구니에서 삭제하시겠습니까? ' ).addListener( 'modal-close', function (e) {
			if(e.closeType == 'confirm'){
				var prdCdArr = [];
				var takeoutCdArr = [];

				if(method == 'online') {
					$('.item_wrap').find("[name='prdInfo_" + onlineProdSn + "']").each(function () {
						var prdInfoVal = $(this).val();
						prdCdArr.push(prdInfoVal);
					})
				}
				if(method == 'takeout') {
					$('.item_wrap').find("[name='takeoutPrdInfo_" + onlineProdSn + "']").each(function () {
						var prdInfoVal = $(this).val();
						takeoutCdArr.push(prdInfoVal);
					})
				}
				jQuery.ajaxSettings.traditional = true;
				AP.api.removeSelectCartProd({}, {
					cartSn : cartSn,
					prdCdArr: prdCdArr,
					takeoutCdArr: takeoutCdArr
				}).done(function (data) {
					if (data.data) {
						AP.modal.alert("해당상품이 삭제되었습니다.").addListener( 'modal-close', function (e) {
							cartEx = data.data;
							setOnlineProd();
							setStoreProd();
							setCalculationResult();
							setProdCnt();
						});
					}
				}).fail(function (e) {
					AP.modal.alert("fail");
				}).always(function () {
					// 성공, 실패
				});
			}
		});
	}

	/* 주문수량 수정 */
	function prodQtyOperate(num, cartSn, cartProdSn, prodSn, storePickupYn, operate) {
		var ordQty = parseInt($(num).closest("div").find("input[name=cartProdQty]").val());
		if(operate == '+'){
			ordQty++;
		}else if(operate == '-'){
			ordQty--;
		}
		AP.api.modifyCartProd({}, {
			cartSn : cartSn,
			cartProdSn : cartProdSn,
			prodSn : prodSn,
			cartProdQty: ordQty,
			storePickupYn : storePickupYn
		}).done(function (data) {
			if (data.data) {
				cartEx = data.data;
				setOnlineProd();
				setStoreProd();
				setCalculationResult();
				setProdCnt();
			}
		}).fail(function (e) {
			AP.modal.alert("fail");
		}).always(function () {
		});
	}
	</script>
</th:block>
</body>
</html>