 <html ap:decorate="~{layout/default}">

<body>
        <!-- #ap_container -->
        <div ap:fragment="layout-contents">
        	<!-- mypage sitemap -->
            <th:block ap:replace="~{my/fragment/mypage-sitemap}"/>
            <!-- //  mypage sitemap -->
            
        	<!-- page title -->
            <th:block ap:replace="~{common/fragment/contents-page-title}"/>
            <!-- // page title -->
            
            <!-- page contents -->
            <div class="ap_contents mypage">
            	<div class="btp_card">
					<form>
						<fieldset class="form panel bordered">
							<legend class="sr_only">발급 유형 선택</legend>
							<div class="panel_cont">
								<h4 class="form_title">모바일 카드 발급 선택</h4>
								<div class="check_set align_center">
									<span class="check_wrap issue"><input type="radio" name="radio" id="radio1" value="new" th:checked="${#strings.isEmpty(session.LOGIN_USER.user_incsCardNoEc)}"><label for="radio1">모바일 카드 신규 발급</label></span>
									<span class="check_wrap reissue"><input type="radio" name="radio" id="radio2" value="re" th:checked="${not #strings.isEmpty(session.LOGIN_USER.user_incsCardNoEc)}"><label for="radio2">기존 모바일 카드 재발급</label></span>
								</div>
								<div class="send_btp_text" th:if="${not #strings.isEmpty(session.LOGIN_USER.user_incsCardNoEc)}">
									<p class="text_center">현재 발급받은 뷰티 포인트 카드번호 <em th:text="${#IntegUtil.btCardNumber(session.LOGIN_USER)}">0000-1111-3333-****</em></p>
									<p class="bullet_dot">기존 카드번호로 모바일 카드가 발급됩니다.</p>
								</div>
							</div>
						</fieldset>
						<fieldset class="form panel gray">
							<legend class="sr_only">고객 정보 확인</legend>
							<div class="panel_cont">
								<h4 class="form_title">고객 정보 확인</h4>
								<div class="clear">
									<div class="ui_table">
										<dl>
											<dt><label for="name">고객명</label></dt>
											<dd>
												<div class="w90p input_wrap">
													<input type="text" placeholder="이름 입력" title="이름 입력" th:value="${session.LOGIN_USER.member.name.name1}" id="custNm" name="custNm" required="required" data-msg-required="이름을 입력해 주세요." user-name="user-name"/>
												</div>
											</dd>
										</dl>
									</div>
									<div class="ui_table">
										<dl>
											<dt><label for="phone">휴대폰 번호</label></dt>
											<dd>
												<div class="w100p input_wrap">
													<input type="tel" placeholder="휴대폰 번호 ‘-’없이 입력" th:value="${session.LOGIN_USER.member.phoneNo1.phoneNo}" title="휴대폰 번호 입력" name="cellNum" required="required" data-msg-required="휴대폰번호를 입력해 주세요."
						   									mobile-number="mobile-number" data-msg-mobile-number="휴대폰 번호를 정확히 입력하세요."/>
												</div>
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
					<ul class="list_bullet_dot mgt30">
						<li>휴대폰번호 수정은 <b class="">마이에뛰드 > 개인정보수정</b>에서 수정해 주세요.</li>
						<li>일부 스마트폰에서는 MMS수신이 불가능하오니, 아모레퍼시픽 어플리케이션을 다운로드 하시어 이용하시기 바랍니다.</li>
					</ul>
					<div class="page_btns">
						<button type="button" onclick="location.href='/my/page/info/beautyPoint'" class="btn_lg_secondary">취소</button>
						<button type="button" onclick="send()" class="btn_lg_primary">모바일 카드 신청</button>
					</div>
            	</div>
            </div>
        	<!-- // page contents -->
        </div><!-- // #ap_container -->

        <!--/* 하단 js등을 실행하는 마지막 영역 */-->
        <th:block ap:fragment="layout-endpoint">
			<script>
				function send() {
					var $form = $('form');
					if($form.valid()) {
			            AP.api.issuingPointCard({}, AP.common.getFormData($form)).done(function(data) {
		                    AP.modal.alert("모바일 카드가 정상적으로 발급 되었습니다.").addListener('modal-close', function(e) {
		                    	location.href="/my/page/info/beautyPoint";
		                    });
			            }).fail(function(xhr, textStatus, errorThrown) {
			                if (xhr.errorCode == 0) {
			                    AP.modal.alert("인터넷이 연결되지 않습니다. 연결 상태를 확인해주세요.");
			                } else {
			                    AP.modal.alert("뷰티포인트 카드 발급에 실패했습니다.")
			                }
			            }).always(function() {
			            });
					}
				}
			
			</script>
        </th:block>
</body>
</html>