<!--/*
	이벤트 콘텐츠 : 공통
	page title + html contents + products + comment
*/-->
<div class="ap_contents ap_event_detail">

		<!--/* html 영역 */-->
		<div class="event_visual" th:utext="${planDisplay.detailHtml}"></div>
		
		<div class="event_visual">		<!-- 참여 및 쿠폰 다운로드 -->
			<button type="button"><img src="/mo/ko/images/dummy/event_coupon_test.png" alt="쿠폰"></button>
		</div>
		<!--/* 상품이 있을때만 */-->
		<th:block th:if="${planDisplay.planDisplayTypeCode == 'General'}">
			<th:block th:if="${planDisplay.prodGrpDisplayMethodCode == 'List'}">
				<!--/* 이벤트 select 영역 */-->
				<div class="ui_select_box_wrap">
					<div class="ui_select_box">		<!-- 스크롤시 fixed 영역 -->
						<div class="ui_select type2" data-not-label-change="false">
							<input type="hidden" name="">
							<button type="button">전체보기</button>
							<ul class="select_options">
								<!-- data-selected="true" 속성을 a 태그에 설정하면 해당 옵션이 기본 선택된다. -->
								<!-- data-disabled="true" 속성을 a 태그에 설정하면 해당 옵션을 선택할수 없다. -->
								<!-- data-value="value" 선택시 value로 리턴되는 값 -->
								<li class="select_option"><code class="label_markup" style="display:none">전체보기</code><a data-value="01" data-selected="true">전체보기</a></li>
								<li th:each="prodGroup, iterStat : ${planDisplay.prodGroupList}" class="select_option">
									<code class="label_markup" style="display:none" th:text="${prodGroup.planDisplayProdGrpSn}">선택 3</code><a th:data-value="${prodGroup.planDisplayProdGrpSn}" th:text="${prodGroup.prodGrpTitle}">선택 3</a>
								</li>
								<!-- <li class="select_option"><code class="label_markup" style="display:none">전체보기</code><a data-value="01">전체보기</a></li>
								<li class="select_option"><code class="label_markup" style="display:none">선택 2</code><a data-value="02" data-selected="true">선택 2</a></li>
								<li class="select_option"><code class="label_markup" style="display:none">선택 3</code><a data-value="03">선택 3</a></li>
								<li class="select_option"><code class="label_markup" style="display:none">선택 4</code><a data-value="04">선택 4</a></li>
								<li class="select_option"><code class="label_markup" style="display:none">선택 5</code><a data-value="05">선택 5</a></li>
								<li class="select_option"><code class="label_markup" style="display:none">선택 6</code><a data-value="06">선택 6</a></li> -->
							</ul>
						</div>
					</div>
				</div>

				<th:block th:each="prodGroup, iterStat : ${planDisplay.prodGroupList}">
				<div class="tit_f_20" th:id="|tit_${prodGroup.planDisplayProdGrpSn}|"><b th:text="${prodGroup.prodGrpTitle}">귀한 분을 위한 품격있는 선물</b></div>
				<div class="rank_list generalProdListWrap">
					<ul class="product_list_new gallery" th:data-plan-display-prod-grp-sn="${prodGroup.planDisplayProdGrpSn}">
					
					</ul>
				</div>
				<ul class="loading" style="height:150px;">
					<li></li>
					<li></li>
					<li></li>
				</ul>
				</th:block>
			</th:block>
			<th:block th:unless="${planDisplay.prodGrpDisplayMethodCode == 'List'}">
			<!--/* tab menu wrap (3개 이상 나오지 않는다고 함) */-->
			<div class="ui_tab">
				<!--/* tab menu */-->
				<div class="tab_menu equally">
					<ul th:if="${planDisplay.planDisplayTypeCode == 'General'}">
						<li th:each="prodGroup, iterStat : ${planDisplay.prodGroupList}" th:class="${iterStat.index == 0 ? 'on' : ''}">
							<button type="button" th:text="${prodGroup.prodGrpTitle}">그룹 타이틀</button>
						</li>
					</ul>
				</div>

				<!--/* tab content */-->
				<div class="tab_contents">
				<div class="tab_cont" th:each="prodGroup : ${planDisplay.prodGroupList}">
					<h3 class="tit_f_20" th:text="${prodGroup.prodGrpTitle}">그룹 타이틀</h3>

					<div class="rank_list generalProdListWrap"><!-- 랭크 상품 유닛 -->
						<!-- 상품 유닛 : 02 갤러리형 : class="gallery" 추가 -->
						<ul class="product_list_new gallery" th:data-plan-display-prod-grp-sn="${prodGroup.planDisplayProdGrpSn}">
							<!--/* 상품 리스트 영역 */-->
						</ul>
					</div>
					<ul class="loading" style="height:150px;">
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			</th:block>
		</th:block>

		<!--/* 댓글 영역 */-->
		<div class="section comment_area">
			<div class="pd_md">
				<div class="comment_input">
					<!--<span class="photo"></span>-->
					<div class="input_wrap">
						<input type="text" placeholder="댓글 입력하기" class="text">
						<!-- <div class="text" contenteditable="true" placeholder="댓글 입력하기"></div> -->
						<!--/* 버튼 */-->
						<button type="button" style="display:none;" id="btn_save">올리기</button>
					</div>
				</div>
				<div class="sort_box">
					<p class="comment_total">댓글 <span class="num">121</span>개</p>
					<!-- <ul class="sort_util">
						<li class="on" id="sort_new"><span class="icon_check_comment"></span><a href="#none">최신순</a></li>
						<li id="sort_recommend"><span class="icon_check_comment"></span><a href="#none">도움순</a></li>
					</ul> -->
				</div>
				<ul class="comment_list">
					<li>
						<dl>
							<dt class="comment_title"><span>푸르딩딩이</span><small class="num">2018.02.16</small></dt>
							<dd class="comment_cont">
								<!--/* 375 해상도 기준 4줄에 절삭 : 더읽기 클릭시 전체 보임 */-->
								<div class="cont">
									<p class="text">첨에 향이 느끼할 수도 있는데 쓰다보면 오히려 다른 쿠션과는 차별화된 좋은 향이란 걸 알 수 있고요. 매트하다고 나온 만큼 들뜨지 않고 차분하게 잘 가라앉습니다. 17호는 조금 밝게 나온거같아요 는데 쓰다보면 오히려 다른 쿠션과는 차별화된 좋은 향이란 걸 알 수 있고요. 매트하다고 나온 만큼 들뜨지 않고 차분하게 잘 가라앉습니다. 17호는 조금 밝게 나온거같아요 웜톤피부
									</p>
									<a href="#none" class="read_more">더읽기 <i class="ico_down"></i></a>
									<a href="#none" class="more_view close">닫기 <i class="ico_up"></i></a>
								</div>
								<div class="clear btns">
									<button type="button" class="btn_good on" onclick="$(this).toggleClass('on');"><i class="ico_thumb animated500ms rotate"></i><span>도움이 되요 <span class="num">58</span></span></button>
									<button type="button" class="btn_report"><i class="ico_report"></i><span class="sr_only">신고하기</span></button>
									<!--<a href="#none" class="btn_report"><i class="ico_report"></i><span class="sr_only">신고하기</span></a>-->
								</div>
								<div class="comment_btns">
									<button type="button">수정</button>
									<button type="button">삭제</button>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="comment_title"><span>푸르딩딩이</span><small class="num">2018.02.16</small></dt>
							<dd class="comment_cont">
								<!--/* 375 해상도 기준 4줄에 절삭 : 더읽기 클릭시 전체 보임 */-->
								<div class="cont">
									<p class="text">첨에 향이 느끼할 수도 있는데 쓰다보면 오히려 다른 쿠션과는 차별화된 좋은 향이란 걸 알 수 있고요. 매트하다고 나온 만큼 들뜨지 
									</p>
				<!-- 4줄 이하시 display:none
									<a href="#none" class="read_more">더읽기 <i class="ico_down"></i></a>
									<a href="#none" class="more_view close">닫기 <i class="ico_up"></i></a>
				 -->
								</div>
								<div class="clear btns">
									<button type="button" class="btn_good on" onclick="$(this).toggleClass('on');"><i class="ico_thumb animated500ms rotate"></i><span>도움이 되요 <span class="num">58</span></span></button>
									<button type="button" class="btn_report"><i class="ico_report"></i><span class="sr_only">신고하기</span></button>
									<!--<a href="#none" class="btn_report"><i class="ico_report"></i><span class="sr_only">신고하기</span></a>-->
								</div>
								<div class="comment_btns">
									<button type="button">수정</button>
									<button type="button">삭제</button>
								</div>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
			<button type="button" class="btn_lg_more w100p"><span>더보기</span><i class="ico_down"></i></button>
		</div>

		<div class="section pd_md">
			<h3 class="h_title fz19"><b>진행중인 이벤트</b></h3>
			<th:block th:if="${otherList != null}">
			<ul class="event_list">
				<li th:each="planDisplay : ${otherList}">
					<a href="#none" th:if="${planDisplay.planDisplayTypeCode == 'Link'}" th:href="${planDisplay.linkNoticeUrl}">
						<img th:src="${planDisplay.bannerImgM1}" th:alt="${planDisplay.planDisplayTitle}">
					</a>
					<a href="#none" th:if="${planDisplay.planDisplayTypeCode != 'Link'}" th:href="@{'/display/event_detail'(planDisplaySn=${planDisplay.planDisplaySn})}">
						<img th:src="${planDisplay.bannerImgM1}" th:alt="${planDisplay.planDisplayTitle}">
					</a>
				</li>
			</ul>
			</th:block>
			<th:block th:if="${otherList == null}">
				<li><span>현재 진행중인 이벤트가 없습니다.</span></li>
			</th:block>
			<a href="/display/event?displayMenuId=event" class="btn_lg_more w100p">이벤트 전체 보기 <i class="ico_navi next"></i></a>
		</div>
</div>