{{#each this.menus}}
	{{#xif this.prodCount '>' 0}}
		<li>
			<a href="javascript:;" data-display-menu-id="{{ this.displayMenuId }}">
				<img src="{{ this.menuTitleImgUrl }}" alt="{{ this.menuTitle }}">
				<span class="b_name">{{ this.menuTitle }}</span>
			</a>
		</li>
	{{/xif}}
{{/each}}