{{#each this.menus}}
	{{#xif this.prodCount '>' 0}}
		<li>
			<a href="javascript:;" data-display-menu-id="{{ this.displayMenuId }}">
				<img alt="{{ this.menuTitle }}" src="{{this.fileUrl}}">
				<span class="b_name">{{ this.menuTitle }}</span>
			</a>
		</li>
	{{/xif}}
{{/each}}