<dt>
	<span>총 상품 금액 (<em id="totalPrdCnt">00</em>개)</span>
	<span class="total_price">
	<!--/* 총 결제예정금액 + 진주알 + 뷰티포인트 합산 = 원으로 표기 */-->
	<em>{{numberFormat (calc cartEx.calculationResult.prodSaleTotalAmountInfo.standardCurrency.amount '+' cartEx.calculationResult.exchIPointSum '+' cartEx.calculationResult.exchAPointSum ) }}</em> 원</span>
	<button type="button"><span class="sr_only">닫기</span></button>
</dt>
<dd></dd>