<dt>
	<span>총 상품 금액 (<em id="totalPrdCnt">00</em>개)</span>
	<span class="total_price">
	<em>{{numberFormat (calc cartEx.calculationResult.finalOnlineSalesTotalAmountInfo.standardCurrency.amount '+' cartEx.calculationResult.exchIPointSum '+' cartEx.calculationResult.exchAPointSum ) }}</em> 원</span>
	<button type="button"><span class="sr_only">닫기</span></button>
</dt>
<dd></dd>