<dl class="layer">
	<dt class="layer_title">테이크아웃 매장 찾기</dt>
	<dd class="layer_cont store">
		<fieldset class="form">
			<div class="panel gray store">
				<div class="panel_cont">
					<p class="text"><span class="color_point">찾고자 하는 매장명 또는 지역명을 입력하신 후 검색을 누르세요.</span> &nbsp;&nbsp;&nbsp;(예 : 명동1호점, 강남)</p>
					<div class="input_group ea_02 mgt10">
						<div>
							<div class="select_wrap">
								<select name="addressDiv" id="addressDiv" title="지역 선택">
									<option value="">지역선택</option>
									{{#each addressDivInfoList}}
										<option value="{{ addressDiv }}">{{ addressDiv }}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<span class="gap"></span>
						<div>
							<div class="select_wrap">
								<select name="addressDetailDivs" id="addressDetailDivs" title="시/구/군 선택">
									<option value="">시/구/군</option>
									{{#each addressDivInfoList}}
										{{#each addressDetailDivs}}
											<option value="{{ addressDetail }}">{{ addressDetail }}</option>
										{{/each}}
									{{/each}}
								</select>
							</div>
						</div>
					</div>
					<div class="input_wrap mgt10">
						<input type="text" id="searchText" name="searchText" title="검색어 입력" placeholder="매장명을 검색하세요.">
						<button type="button" class="btn_search" id="search"><span class="sr_only">검색</span></button>
					</div>
				</div>
			</div>
		</fieldset>
        <div class="store_list mgt20" id="addStore">
        </div>
	</dd>
</dl>
<button class="layer_close" type="button">레이어 닫기</button>