<dl class="layer">
	<dt class="layer_title">테이크아웃 매장 찾기</dt>
	<dd class="layer_cont store">
		<fieldset class="form">
			<div class="panel gray store">
				<div class="panel_cont">
					<p class="text"><span class="color_point">찾고자 하는 매장명 또는 지역명을 입력하신 후 검색을 누르세요.</span> &nbsp;&nbsp;&nbsp;(예 : 명동1호점, 강남)</p>
					<div class="input_group ea_02 mgt10">
						<div>
							<div class="select_wrap">
								<select name="addressDiv" id="addressDiv" title="지역 선택">
									<option value="">지역선택</option>
									{{#each this.addressDivInfoList }}
										<option value="{{ this.addressDiv }}">{{ this.addressDiv }}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<span class="gap"></span>
						<div>
							<div class="select_wrap">
								<select name="addressDetailDivs" id="addressDetailDivs" title="시/구/군 선택">
									<option value="">시/구/군</option>
									{{#each this.addressDivInfoList }}
										{{#each this.addressDetailDivs }}
											<option value="{{ addressDetail }}">{{ addressDetail }}</option>
										{{/each}}
									{{/each}}
								</select>
							</div>
						</div>
					</div>
					<div class="input_wrap mgt10">
						<input type="text" id="addSearchText" name="addSearchText" placeholder="매장명을 검색하세요." title="검색어 입력">
						<button type="button" class="btn_search" id="addSearch" name="addSearch"><span class="sr_only">검색</span></button>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="store_list mgt20">
			<div class="clear">
				<p class="text font_lg"><b>검색된 매장<em id="count">0</em>개</b></p>
				<div>
					<span class="check_wrap"><input type="radio" name="searchStore" id="sort1" value="01"><label for="sort1">거리순</label></span>
					<span class="check_wrap"><input type="radio" name="searchStore" id="sort2" value="02"><label for="sort2">단골매장</label></span>
				</div>
			</div>
			<table class="ui_table_striped data_table thead_colored align_center mgt20">
				<caption class="sr_only">테이크아웃매장 목록으로 단골등록, 매장, 전화번호, 주소, 매장위치로 구성</caption>
				<colgroup>
					<col style="width:67px"/> <!-- /* 20180725:테이블 너비 수정*/ -->
					<col style="width:137px"/>
					<col style="width:116px"/>
					<col style="width:189px"/>
					<col />
				</colgroup>
				<thead>
				<tr>
					<th scope="col">단골매장</th>
					<th scope="col">매장</th>
					<th scope="col">전화번호</th>
					<th scope="col">주소</th>
					<th scope="col">매장위치</th>
				</tr>
				</thead>
				<tbody id="addPaging">
					{{!--
					<tr>
						<td><span class="check_wrap check_only"><input type="checkbox" class="table_striped" id="store1" /><label for="store1"><span class="sr_only">{단골매장}선택</span></label></span></td>
						<td>
							HDC신라면세점<span class="store_default">기본</span>
							<em class="color_light_blue">[재고있음]</em> <!-- /* 20180725:재고유무 표시*/ -->
							<!-- <em>[재고없음]</em>  -->
						</td>
						<td>02-554-3494</td>
						<td class="align_left">서울 강서구 하늘길 251,(공항동, 화물청사)</td>
						<td><button class="btn_sm_bordered">위치보기</button></td>
					</tr>
					--}}
				</tbody>
			</table>
			<div class="panel notice store" id="addNone" style="display: none;">
				<i class="ico"></i>
				<p class="text font_lg">매장명 또는 지역으로 검색하세요.</p>
			</div>
			{{!-- <div class="pagination"> --}}
			<div class="ui_paging pagination" id="addPagination">
				{{!--
				<a href="#none" class="navi first">처음</a>
				<a href="#none" class="navi prev">이전</a>
				 --}}
			</div>
		</div>
	</dd>
</dl>
<button class="layer_close" type="button">레이어 닫기</button>
