*{margin:0; padding:0;}
::-webkit-scrollbar { width: 0;}
body{width:100%;}
img{max-width:100%; vertical-align: top;}
.wrapper{max-width:640px; margin:0 auto;}

.header .home{position:absolute; top:0; left:10px; width:60px; height:60px;}
.header .left_menu_btn{position:absolute; top:0; right:35px; height:50px; width:50px;}

.fixed_menu{position:relative;}
.fixed_menu .on{display:none;}
.fixed_menu.fixed{position:fixed; top:0; left:0; right:0; z-index: 1;}
.fixed_menu.fixed + div{padding-top:49.08px;}
.fixed_menu.fixed .off{display:none;}
.fixed_menu.fixed .on{display:block;}

.aside{
            overflow:hidden; display:none; position:fixed; top:0; left:0; right:0; bottom:0;  z-index: 3;
            background-color: rgba(0, 0, 0, 0);
            -webkit-transition: background-color 0.4s ease;
            -moz-transition: background-color 0.4s ease;
            -o-transition: background-color 0.4s ease;
            transition: background-color 0.4s ease;
        }
        .aside>div{overflow:auto; position:relative; top:0; left:-100%; width:100%; height:100%;}
        .aside a{position:fixed; top:0; right:0; display:block; width:40px;}

        .aside.open {
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-transition: background-color 0.4s ease;
            -moz-transition: background-color 0.4s ease;
            -o-transition: background-color 0.4s ease;
            transition: background-color 0.4s ease;
        }
        

.cart{position:relative;}
.cart a{position:absolute; top:9%; width:10%; height:2em;}
.cart a:nth-child(1){left:30%;}
.cart a:nth-child(2){left:71%;}
.img_cart{display:none;position: fixed;top: 50%;left: 50%;width: 80px;margin: -40px 0 0 -40px;}
.dimmed{display:none; position:fixed; top:0; left:0; bottom:0; right:0; z-index:10; background:rgba(0, 0, 0, 0.5);}
.option{position:fixed; bottom:-100%; left:0; z-index:11; width:100%; transition:.5s;}
.option.on{bottom:0; transition:.5s;}
.floating_menu{position:fixed; bottom:-25%; left:0; right:0; transition:0.3s}
.floating_menu.open{bottom:0; transition:0.3s}
.floating_menu>a.left_menu_btn{position:absolute; bottom:0; left:10px; width:50px; height:50px;}
.floating_menu>a.btn_top{position:absolute; top:0; right:0; width:50px; height:50px;}