			<dl class="layer">
				<dt class="layer_title line">사은품 안내</dt>
				<dd class="layer_cont">
					<div class="coupon_items" th:if="${not #lists.isEmpty(giftList)}">
						<div class="item" th:each="item : ${giftList}">
							<div class="thumb"><img th:src="${item.repImage.imgUrl}" alt=""></div>
							<div class="info">
								<p class="ellipsis line2" th:src="${item.prodName}">[NEW] 베이비 선쿠션리미티드 SPF32 PA++</p>
							</div>
						</div>
					</div>
					<div class="layer_btns_center">
						<a href="javascript:;" class="btn_fix_neutral">확인</a>
					</div>
				</dd>
			</dl>
			<button class="layer_close" type="button"><span class="sr_only">레이어 닫기</span></button>


