<html ap:decorate="~{layout/layout-sub}" th:with="_jsfile='my-writable-reivew'">
 
<body>
	<!-- #ap_container -->
	<div ap:fragment="layout-contents">
		<!-- page contents -->
		<div class="ap_contents">

			<!-- pbreadcrumbe -->
			<th:block ap:replace="~{common/fragment/breadcrumb-only}"/>
			<!-- // pbreadcrumbe -->

			<!-- com_cont -->
			<div class="ap_com_cont mypage">
				<!-- aside_area -->
				<th:block ap:replace="~{html/page/my/fragment/my-menu}"/>
				<!-- aside_area -->

				<!-- cont_area -->
				<div class="cont_area my_review">
					<div class="sub_title">
						<!-- page title -->
						<th:block ap:replace="~{common/fragment/page-title}"/>
						<!-- // page title -->
					</div>
					<div class="panel table_layout">
						<div>
							<p class="h_title d3">구매리뷰 작성하시면 뷰티포인트 최대 1,000P 지급해드려요</p>
							<p>구매리뷰 작성시, 자동 구매확정이 됩니다.</p>
							<p>구매확정이 완료된 상품은 교환, 반품이 불가합니다.</p>
						</div>
					</div>

					<!-- tab menu wrap -->
					<div class="ui_tab">
						<!-- tab menu -->
						<div class="tab_menu brd equally">
							<ul>
								<li class="on"><button type="button"><span>미작성 리뷰 <em th:text="${reviewCnt}">0</em></span></button></li>
								<li><button type="button"><span>작성한 리뷰 <em th:text="${writedCnt}">0</em></span></button></li>
							</ul>
						</div>
						<!-- tab content -->
						<div class="tab_contents">
							<div class="tab_cont">
								<h3 class="sr_only">미작성 리뷰</h3>
								<div class="panel bg_white review_list">
									<ul class="noneWriteReview">
										<th:block th:each="order : ${prodReviewWritableOrderInfo.orders}">
											<li class="review" th:each="prod : ${order.orderProds}">
												<div class="thumb"><img th:src="${prod.repProdImage}" alt=""></div>
												<div class="info">
													<p class="brand_name" th:text="${prod.onlineProdName}"></p>
													<p class="name prodName" th:text="${prod.prodName}"></p>
													<div class="date">구매일 <span th:text="${#dates.format(order.orderCompleteDate, 'yyyy.MM.dd')}"></span></div>
												</div>
												<div class="btns">
													<button type="button" class="btn_lg_gradient" 
															data:ord-no="${order.ordNo}" 
															data:ord-prod-sn="${prod.ordProdSn}" 
															data:online-prod-sn="${prod.onlineProdSn}"
															data:prod-sn="${prod.prodSn}">리뷰작성</button>
												</div>
											</li>
										</th:block>
									</ul>
								</div>
							</div>
							<div class="tab_cont">
							<h3 class="sr_only">작성한 리뷰</h3>
							<div class="panel bg_white review_complete">
								<ul class="wroteReview">
									<th:block th:each="prodReviewList : ${prodReviewListInfo.prodReviewList}">
									<li>
										<div class="review_product">
											<div class="thumb"><img th:src="${prodReviewList.repProdImage}" alt=""></div>
											<div class="info">
												<p class="brand_name" th:text="${prodReviewList.onlineProdName}">리리코스 마린에너지</p>
												<p class="name" th:text="${prodReviewList.prodName}">인텐시브 오일 20ml 제품명 제품명 인텐시브 오일 20ml 제품명</p>
											</div>
											<div class="btns">
												<button type="button" class="btn_smx_bggray modifyReview" data:review-sn="${prodReviewList.prodReviewSn}" data:typecode="${prodReviewList.prodReviewTypeCode}">수정</button>
												<button type="button" class="btn_smx_bggray deleteReview" data:review-sn="${prodReviewList.prodReviewSn}" data:typecode="${prodReviewList.prodReviewTypeCode}">삭제</button>
											</div>
										</div>
										<div class="review_cnt">
											<div class="score">
												<span th:if="${prodReviewList.scope == 0}"><i class="mark_star_sm star0"></i></span>
												<span th:if="${prodReviewList.scope == 1}"><i class="mark_star_sm star1"></i></span>
												<span th:if="${prodReviewList.scope == 2}"><i class="mark_star_sm star2"></i></span>
												<span th:if="${prodReviewList.scope == 3}"><i class="mark_star_sm star3"></i></span>
												<span th:if="${prodReviewList.scope == 4}"><i class="mark_star_sm star4"></i></span>
												<span th:if="${prodReviewList.scope == 5}"><i class="mark_star_sm star5"></i></span>
												<span th:text="${prodReviewList.scope}">4</span>
											</div>
											
											<div class="photo" th:if="${#lists.size(prodReviewList.imgList) > 0}">
												<ul>
													<li th:each="img : ${prodReviewList.imgList}">
														<img th:src="${img.imageFileUrl}" alt="${img.imgDesc}">
													</li>
												</ul>
											</div>
											
											<div class="comment">
												<span class="flag" th:if="${prodReviewList.prodReviewTypeCode == 'ExperienceGrp'}">뷰티테스터</span>
												<span th:text="${prodReviewList.prodReviewBodyText}"></span>
											</div>
											<div class="date">리뷰작성일 <span th:text="${#dates.format(prodReviewList.prodReviewRegistDt, 'yyyy.MM.dd')}">2018.05.16</span></div>
										</div>
									</li>
									</th:block>
									
								</ul>
							</div>
						</div>
						</div>
					</div>
				</div>
				<!-- // cont_area -->

			</div>
			<!-- // com_cont -->

		</div>
		<!-- // page contents -->
	</div><!-- // #ap_container -->

	<!--/* 하단 js등을 실행하는 마지막 영역 */-->
	<th:block ap:fragment="layout-endpoint">
		<script type="text/javascript" th:inline="javascript">
			 AP.myReviewList.setDefaultData( $('.tab_contents') );
			 $( '.ui_tab' ).tabs( 'change', 1 );
			 $('.wroteReview li:first').find('.modifyReview').click();
		</script>
	</th:block>
</body>
</html>