            <!-- 묶음판매상품 -->
			<div class="cart_item_box">
				<div class="cart_name_wrap">
					<img alt="" class="thm_cart_item" th:src="${bulkDcOnlineProd.bulkDcOnlineProdImgUrl}">
					<div class="cart_table_cell">
						<div class="cart_item_name" th:text="${bulkDcOnlineProd.bulkDcOnlineProdName}">디어 마이 블루밍 립스 톡 쉬폰</div>
						<div class="price">
							<span class="quantity"><th:block th:text="${bulkDcOnlineProd.ordQtySum > 0 ? bulkDcOnlineProd.ordQtySum + '개' : '0개'}">1개</th:block></span> /
							<strong class="eng"><th:block th:text="${#IntegUtil.toCommaNumber(bulkDcOnlineProd.totalBulkDcProductSaleAmount)}">2,600</th:block><em>원</em></strong>
						</div>
					</div>
				</div>
				<div class="cart_item_scroll type3">
					<!--/* 상품들 */-->
					<th:block th:if="${#lists.size(bulkDcOnlineProd.ordOnlineProdFoList) > 0}" th:each="ordOnlineProd, iter : ${bulkDcOnlineProd.ordOnlineProdFoList}">
						<!--결제 히든값-->
						<input type="hidden" name="onlinePordSn" th:value="${ordOnlineProd.onlineProdCode}"/>
						<input type="hidden" name="prodName" th:value="${ordOnlineProd.onlineProdName}"/>
						<input type="hidden" name="prodQty" th:value="${ordOnlineProd.ordQtySum}"/>
						<!--//결제 히든값-->
						<input type="hidden" id="ordHistProdCnt" name="ordHistProdCnt" th:value="${#lists.size(ordOnlineProd.ordHistProdList)}"/>

						<!--구성상품-->
						<th:block th:if="${#lists.size(ordOnlineProd.ordHistProdList) > 0}">
							<th:block th:each="ordHistProd, iterStat : ${ordOnlineProd.ordHistProdList}">
								<div class="cart_item_info">
									<span class="cart_option_name">
										<th:block th:if="${ordHistProd.ordProdEx.prodImgUrl != null}"><img class="cart_option_name_thm" th:src="${ordHistProd.ordProdEx.prodImgUrl}"></th:block>
										<th:block th:unless="${ordHistProd.ordProdEx.prodImgUrl != null}"><img class="cart_option_name_thm" th:src="${ordHistProd.ordProdEx.onlineProdImgUrl}"></th:block>
										<span><th:block th:text="${ordHistProd.ordProdEx.prodNameBlang}">RD302 말린딸기시럽</th:block></span>
									</span>
								</div>
							</th:block>
						</th:block>
						<!--구성상품-->

						<!--사은품-->
						<th:block th:if="${#lists.size(ordOnlineProd.ordHistProdPromoAwardExList) > 0 or #lists.size(ordOnlineProd.ordHistProdAwardExList) > 0}">
							<th:block th:each="ordHistProdPromoAwardEx, iterStat : ${ordOnlineProd.ordHistProdPromoAwardExList}"
									  th:with="ordOnlineProd=${ordHistProdPromoAwardEx.awardOrdHistProdEx.ordProdEx}">
								<div class="freebies table_layout">
									<div>
										<th:block th:if="${ordOnlineProd.prodImgUrl != null}"><img th:src="${ordOnlineProd.prodImgUrl}"></th:block>
										<th:block th:unless="${ordOnlineProd.prodImgUrl != null}"><img th:src="${ordOnlineProd.onlineProdImgUrl}"></th:block>
									</div>
									<div>
										<p class="name"><th:block th:text="${ordOnlineProd.prodNameBlang}">사은품 : 컬러풀 드로잉 디어 마이 블루밍 립스톡 쉬폰</th:block></p>
									</div>
								</div>
							</th:block>
							<th:block th:each="ordHistProdAwardEx, iterStat : ${ordOnlineProd.ordHistProdAwardExList}"
									  th:with="ordOnlineProd=${ordHistProdAwardEx.awardOrdHistProdEx.ordProdEx}">
								<div class="freebies table_layout">
									<div>
										<th:block th:if="${ordOnlineProd.prodImgUrl != null}"><img th:src="${ordOnlineProd.prodImgUrl}"></th:block>
										<th:block th:unless="${ordOnlineProd.prodImgUrl != null}"><img th:src="${ordOnlineProd.onlineProdImgUrl}"></th:block>
									</div>
									<div>
										<p class="name"><th:block th:text="${ordOnlineProd.prodNameBlang}">사은품 : 컬러풀 드로잉 디어 마이 블루밍 립스톡 쉬폰</th:block></p>
									</div>
								</div>
							</th:block>
						</th:block>
						<!--사은품-->
					</th:block>
				</div>
			</div>