				<div class="cart_name_wrap">
					<!--결제 히든값-->
					<input type="hidden" name="onlinePordSn" th:value="${ordOnlineProd.onlineProdCode}"/>
					<input type="hidden" name="prodName" th:value="${ordOnlineProd.onlineProdName}"/>
					<input type="hidden" name="prodQty" th:value="${ordOnlineProd.ordQtySum}"/>
					<!--//결제 히든값-->
					<input type="hidden" id="ordHistProdCnt" name="ordHistProdCnt" th:value="${#lists.size(ordOnlineProd.ordHistProdList)}"/>
					<!--/* 상품 이미지 */-->
					<th:block th:switch="${memberShip}">
						<th:block th:case="'P'"><th:block th:if="${ordOnlineProd.prodImgUrl != null}"><span class="thm_cart_item"><img th:src="${ordOnlineProd.prodImgUrl}"></span></th:block></th:block>
						<th:block th:case="'A'"><th:block th:if="${ordOnlineProd.prodImgUrl != null}"><span class="thm_cart_item"><img th:src="${ordOnlineProd.prodImgUrl}"></span></th:block></th:block>
						<th:block th:case="*"><th:block th:if="${ordOnlineProd.onlineProdImgUrl != null}"><span class="thm_cart_item"><img th:src="${ordOnlineProd.onlineProdImgUrl}"></span></th:block></th:block>
					</th:block>
					<div class="cart_table_cell" >
						<!--온라인상품-->
						<th:block th:switch="${memberShip}">
							<div class="cart_item_exclusive_wrap">
								<th:block th:case="'P'"><span class="cart_item_exclusive">뷰티포인트 전용</span></th:block>
								<th:block th:case="'A'"><span class="cart_item_exclusive">진주알 전용</span></th:block>
							</div>
						</th:block>
						<div class="cart_item_name"><span th:text="${ordOnlineProd.onlineProdName}">디어 마이 블루밍 립스 톡 쉬폰</span></div>
						<div class="price">
							<span class="quantity" th:text="${ordOnlineProd.ordQtySum > 0 ? ordOnlineProd.ordQtySum + '개' : '0개'}">0개</span>
							<th:block th:switch="${memberShip}">
								<th:block th:case="'P'"><strong class="eng" th:text="${#IntegUtil.toCommaNumber(ordOnlineProd.finalOnlineSaleAmtPcurSumExchMembership)}">0</strong><em>P</em></th:block>
								<th:block th:case="'A'"><strong class="eng" th:text="${#IntegUtil.toCommaNumber(ordOnlineProd.finalOnlineSaleAmtPcurSumExchActivity)}">0</strong><em>알</em></th:block>
								<th:block th:case="*"><strong class="eng" th:text="${#IntegUtil.toCommaNumber(ordOnlineProd.finalOnlineSaleAmtPcurSum)}">0</strong><em>원</em></th:block>
							</th:block>
						</div>
						<!--//온라인상품-->
					</div>
				</div>

				<th:block th:switch="${memberShip}">
					<th:block th:case="'P'"></th:block>
					<th:block th:case="'A'"></th:block>
					<th:block th:case="*">
						<!--단위상품-->
						<th:block th:if="${#lists.size(ordOnlineProd.ordHistProdList) > 0}">
							<th:block th:if="${ordOnlineProd.singleProdYn != 'Y'}">
								<div class="cart_item_scroll type3">
									<th:block th:each="ordHistProd, iterStat : ${ordOnlineProd.ordHistProdList}">
										<div class="cart_item_info">
											<span class="cart_option_name">
												<th:block th:if="${ordHistProd.ordProdEx.prodImgUrl != null}"><img class="cart_option_name_thm" th:src="${ordHistProd.ordProdEx.prodImgUrl}"></th:block>
												<th:block th:unless="${ordHistProd.ordProdEx.prodImgUrl != null}"><img class="cart_option_name_thm" th:src="${ordHistProd.ordProdEx.prodImgUrl}"></th:block>
												<span><th:block th:text="${ordHistProd.ordProdEx.prodNameBlang}">01 바닐라</th:block></span>
											</span>
											<span class="prd_num"><th:block th:text="${ordHistProd.ordQty} + 개">1개</th:block></span>
										</div>
									</th:block>
								</div>
							</th:block>
						</th:block>
						<!--단위상품-->

						<!--사은품-->
						<th:block th:if="${#lists.size(ordOnlineProd.ordHistProdPromoAwardExList) > 0 or #lists.size(ordOnlineProd.ordHistProdAwardExList) > 0}">
							<th:block th:each="ordHistProdPromoAwardEx, iterStat : ${ordOnlineProd.ordHistProdPromoAwardExList}"
									  th:with="ordOnlineProd=${ordHistProdPromoAwardEx.awardOrdHistProdEx.ordProdEx}">
								<div class="freebies table_layout">
									<div>
										<img th:src="${ordOnlineProd.prodImgUrl}">
									</div>
									<div>
										<p class="name">
											<th:block th:text="${ordOnlineProd.prodNameBlang}">사은품 : 컬러풀 드로잉 디어 마이 블루밍 립스톡 쉬폰</th:block>
										</p>
									</div>
								</div>
							</th:block>
							<th:block th:each="ordHistProdAwardEx, iterStat : ${ordOnlineProd.ordHistProdAwardExList}"
									  th:with="ordOnlineProd=${ordHistProdAwardEx.awardOrdHistProdEx.ordProdEx}">
								<div class="freebies table_layout">
									<div>
										<img th:src="${ordOnlineProd.prodImgUrl}">
									</div>
									<div>
										<p class="name">
											<th:block th:text="${ordOnlineProd.prodNameBlang}">사은품 : 컬러풀 드로잉 디어 마이 블루밍 립스톡 쉬폰</th:block>
										</p>
									</div>
								</div>
							</th:block>
						</th:block>
						<!--사은품-->

					</th:block>
				</th:block>