            <!-- M+N프로모션 -->
			<div class="cart_item_box_wrap type4 ">
				<!--/* Title */-->
				<div class="cart_item_box">
					<div class="top_tit_wrap order_type">
						<div class="cart_item_exclusive_wrap">
							<span class="cart_item_exclusive"><th:block th:text="${mPlusNPromo.baseQty + ' + ' + mPlusNPromo.awardQty}">2 + 1</th:block></span>
						</div>
						<h3><th:block th:text="${mPlusNPromo.promoName}">[2월의 얼리버드] 피치팜 얼리버드 PINK LOVE</th:block></h3>
						<div class="price">
							<th:block th:if="${#lists.size(mPlusNPromo.ordOnlineProdFoList) > 0}">
								<strong class="eng"><th:block th:text="${#IntegUtil.toCommaNumber(#aggregates.sum(mPlusNPromo.ordOnlineProdFoList.![finalOnlineSaleAmtPcurSum]))}">2,600</th:block><em>원</em></strong>
							</th:block>
						</div>
					</div>
				</div>

				<!--/* 상품들 */-->
				<th:block th:if="${#lists.size(mPlusNPromo.ordOnlineProdFoList) > 0}">
					<th:block th:if="${mPlusNPromo.singleProdYn != 'Y'}">
						<th:block th:each="ordOnlineProd, iter : ${mPlusNPromo.ordOnlineProdFoList}" >
							<div class="cart_item_box" th:classappend="${!iter.first} ? 'ico_plus' : ''">
								<div class="cart_name_wrap order_type">
									<!--결제 히든값-->
									<input type="hidden" name="onlinePordSn" th:value="${ordOnlineProd.onlineProdCode}"/>
									<input type="hidden" name="prodName" th:value="${ordOnlineProd.onlineProdName}"/>
									<input type="hidden" name="prodQty" th:value="${ordOnlineProd.ordQtySum}"/>
									<!--//결제 히든값-->
									<input type="hidden" id="ordHistProdCnt" name="ordHistProdCnt" th:value="${#lists.size(ordOnlineProd.ordHistProdList)}"/>

									<!--/* 상품 이미지 */-->
									<div class="thumb">
										<th:block th:if="${ordOnlineProd.prodImgUrl != null}"><img th:src="${ordOnlineProd.prodImgUrl}"></th:block>
										<th:block th:unless="${ordOnlineProd.prodImgUrl != null}"><img th:src="${ordOnlineProd.onlineProdImgUrl}"></th:block>
									</div>
									<!--/* 상품명 */-->
									<div class="cart_table_cell"><!--// 20180904:변경  -->
										<div class="cart_item_name"><th:block th:text="${ordOnlineProd.onlineProdName}">디어 마이 블루밍 립스 톡 쉬폰</th:block></div>
										<th:block th:if="${ordOnlineProd.singleProdYn != 'Y'}">
											<p class="cart_item_opt">
												<th:block th:each="ordHistProd, iterStat : ${ordOnlineProd.ordHistProdList}"
														  th:text="!${iterStat.last} ? ${ordHistProd.ordProdEx.prodNameBlang} + ' / ' : ${ordHistProd.ordProdEx.prodNameBlang} "
												></th:block>
											</p>
										</th:block>
										<div class="price">
											<span class="quantity"><th:block th:text="${ordOnlineProd.ordQtySum > 0 ? ordOnlineProd.ordQtySum : '0'}">0</th:block>개</span>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</th:block>
				</th:block>
			</div>