<html ap:decorate="~{layout/layout-contents}" th:with="_jsfile='cushion-zone'">
<body>
<!-- #ap_container -->
<div ap:fragment="layout-contents">
	<div class="ap_contents cushion">
		<div>
			<th:block th:if="${not #lists.isEmpty(cornersMap.get('M01_cusionZone_m.1'))}">
				<th:block th:each="corner : ${cornersMap.get('M01_cusionZone_m.1')}">
					<th:block th:each="contents : ${corner.contents}">
						<th:block th:if="${contents.contentsTypeCode == 'Img'}">
							<th:block th:if="${contents.imgUrl}" th:href="${contents.linkUrl}">
								<a href="javascript:;">
									<img th:src="${contents.imgUrl}" th:alt="${contents.text}">
								</a>
							</th:block>
							<th:block th:unless="${contents.imgUrl}">
								<a href="javascript:;">
									<img ap:src="@{/images/dummy/img_banner_07.jpg}" alt="봄꽃같은 피부를 부탁해">
								</a>
							</th:block>
						</th:block>
					</th:block>
				</th:block>
			</th:block>
		</div>

		<h3 class="tit_f_20"><strong>실시간 인기쿠션</strong><span class="update">업데이트 2018.00.00</span></h3>
		<div class="swipe_wrap">
			<div class="loading" data-loading-first="300" data-loading-more="90" style="height:330px">
				<img ap:src="@{/images/common/loading_sm.gif}" alt="로딩중">
			</div>
			<ul class="product_list_new wide_swipe" style="display: none">
			</ul>
		</div>

		<div class="cate_prd_wrap01">
			<div class="sort_filter_wrap">
				<div class="sort_inner">
					<div class="sort_filter_top">
						<span class="tot_result_num">총 <em class="f_prd_num">0</em> 개의 상품</span>
						<span class="select_type01_new">
							<select name="type01">
								<option value="Bestselling">판매순</option>
								<option value="NewProd">신상품순</option>
								<option value="MostProdReview">평점순</option>
								<option value="HighestPrice">높은 가격순</option>
								<option value="LowestPrice">낮은 가격순</option>
							</select>
						</span>
						<a href="javascript:;" class="btn_align">상품 정렬 선택</a>
						<a href="javascript:;" class="btn_filter">필터</a>
					</div>

					<div class="filter_sel_area" style="display: none"></div>
				</div>
			</div>

			<ul class="product_list_new"></ul>

			<div class="loading" data-loading-first="300" data-loading-more="90" style="height: 300px">
				<img ap:src="@{/images/common/loading_sm.gif}" alt="로딩중">
			</div>

			<div class="section no_product" style="display: none">
				<p class="text_center">더 좋은 상품을 준비중입니다.</p>
			</div>
		</div>
	</div>
</div>

<!--/* 하단 js등을 실행하는 마지막 영역 */-->
<th:block ap:fragment="layout-endpoint">
	<script type="text/javascript" th:inline="javascript">
		var _corners = /*[[${cornersMap}]]*/
			console.log( _corners );

		AP.cushionZone.init({
			displayMenuId: AP.DISPLAY_MENU_ID,
			param: {
				includeFilters: true,
				prodSort: 'Bestselling1'
			}
		});
	</script>
</th:block>

</body>
</html>
