<html ap:decorate="~{layout/layout-main}" th:with="_jsfile='brand'">
<body>
<div ap:fragment="layout-contents">
	<div class="ap_contents brand_overview">
		<div class="section">
			<h2 class="h_tit01">관심 브랜드</h2>
			<!--/* 로그인 전 */-->
			<div class="login_before01" th:if="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}">
				<p class="login_before_txt">내 관심 브랜드의 새로운 소식이 궁금하세요?</p>
				<div class="btn_log_wrap">
					<a href="/login" class="btn_h50_login">로그인</a>
				</div>
			</div>

			<!--/* 로그인 후 */-->
			<div class="favorite_list" th:if="${session.LOGIN_USER != null && session.LOGIN_USER.member != null}">
				<div class="loading" style="height: 100px">
					<img ap:src="@{/images/common/loading_sm.gif}" alt="로딩중">
				</div>

				<!-- // 관심브랜드 없을때 -->
				<div class="login_after_no" style="display: none">
					<p class="login_after_txt01">아직 <span>관심 브랜드</span>가 없으세요?</p>
					<p class="login_after_txt02">마음에 드는 브랜드를 하트에 담아보세요</p>
				</div>

				<!-- // 관심 브랜드 있을때 -->
				<div class="login_after_yes" style="display: none">
					<ul>
						<!--<li><a href="javascript;"><img ap:src="@{/images/dummy/img_brand_01.png}" alt="" /><span class="b_name">헤라</span></a></li>-->
					</ul>
				</div>
			</div>
		</div>

		<!-- // 관심 브랜드 -->
		<div class="favorite_brand">
		</div>

		<!-- 브랜드관 바로가기 -->
		<div class="section c_brand brand_menu">
			<h2 class="h_tit01">브랜드관 바로가기</h2>
			<div class="loading" style="height: 80px">
				<img ap:src="@{/images/common/loading_sm.gif}" alt="로딩중">
			</div>

			<div class="ui_toggle_contents brand_toggle" style="display: none">
				<ul class="c_brand_list"></ul>
				<button type="button" class="toggle_btn view">브랜드 더보기 <i class="ico_down"></i></button>
				<button type="button" class="toggle_btn close">닫기 <i class="ico_up"></i></button>
			</div>
		</div>

		<!-- 리미티드 에디션: 상품 슬라이드 -->
		<th:block th:if="${not #lists.isEmpty(cornersMap.get('M01_brandMain_m.1'))}">
			<div class="section center_slide add_new_type" style="background-color:#e5ddf2; background-image:url(/mo/ko/images/dummy/bg_center_slide.png);"><!-- Background BO 등록 -->
				<dl class="display_prd_slide">
					<dt class="slide_title"><a href="#none" class="prd_h_tit"><strong>리미티드 에디션</strong></a></dt><!-- 2018-08-20 sub_txt01 삭제 -->
					<dd class="slide one_half" data-ix-options="view-length:2; move-length:1; datum-point:10%;">
						<div class="ix-list-viewport">
							<ul class="product_list_new prd_swipe_one ix-list-items">
								<th:block th:each="corner : ${cornersMap.get('M01_brandMain_m.1')}">
								<th:block th:each="contents : ${corner.contents}">

									<th:block th:if="${contents.menuPageCornerContentsId == 'M01_brandMain_m.1.1'}">
										<th:block th:each="product : ${contents.prodList}">
											<li class="item ix-list-item">
												<div class="product_one_view">
													<a th:href="'/product/detail?onlineProdSn=/' + ${product.onlineProdSn}">
														<span class="product_visual_new">
															<span class="lazy_load_wrap">
																<img th:data-src="${product.onlineProdImages[0].imgUrl}" alt="" class="lazy_load">
															</span>
														</span>
														<span class="product_info_new">
															<span class="prd_brand" th:text="${product.products[0].brandName}">헤라</span>
															<span class="prd_name" th:text="${product.onlineProdName}">VERITE 아이스 에멀전 팩트</span>
															<span class="price_wrap">
																<strong class="discount" th:if="${product.onlineProdPriceSummary.maxFinalDiscountRate > 0}" th:text="${product.onlineProdPriceSummary.maxFinalDiscountRate} + '%'"></strong>
																<strong class="price"><span th:text="${#numbers.formatInteger( product.onlineProdPriceSummary.maxFinalDiscountOnlinePrice, 0, 'COMMA' )}"></span><em>원</em></strong>
																<del th:if="${product.onlineProdPriceSummary.doublePriceDisplayYn == 'Y'}" th:text="${#numbers.formatInteger( product.onlineProdPriceSummary.maxFinalDiscountBeforeSalePrice, 0, 'COMMA' )} + '원'"></del>
															</span>
															<button type="button" class="btn_toggle like_btn"><i class="ico_heart_s" th:classappend="${product.shoppingMarkExistYn == 'Y' ? 'on' : ''}"></i><span class="sr_only">좋아요</span></button>
														</span>
													</a>
												</div>
											</li>
										</th:block>
									</th:block>

								</th:block>
								</th:block>
							</ul>
						</div>
					</dd>
				</dl>
			</div>
		</th:block>

		<!-- 새로운 신제품 -->
			<th:block th:if="${not #lists.isEmpty(cornersMap.get('M01_brandMain_m.2'))}">
				<div class="section center_slide add_new_type" style="background-color:#fbf1ca; background-image:url(/mo/ko/images/dummy/bg_center_slide_02.png);"><!-- Background BO 등록 -->
					<dl class="display_prd_slide">
						<dt class="slide_title"><a href="#none" class="prd_h_tit"><strong>리미티드 에디션</strong></a></dt>
						<dd class="slide one_half" data-ix-options="view-length:2; move-length:1; datum-point:10%;">
							<div class="ix-list-viewport">
								<ul class="product_list_new prd_swipe_one ix-list-items">
									<th:block th:each="corner : ${cornersMap.get('M01_brandMain_m.2')}">
									<th:block th:each="contents : ${corner.contents}">

										<th:block th:if="${contents.menuPageCornerContentsId == 'M01_brandMain_m.2.1'}">
											<th:block th:each="product : ${contents.prodList}">
												<li class="item ix-list-item">
													<div class="product_one_view">
														<a th:href="'/product/detail?onlineProdSn=/' + ${product.onlineProdSn}">
														<span class="product_visual_new">
															<span class="lazy_load_wrap">
																<img th:data-src="${product.onlineProdImages[0].imgUrl}" alt="" class="lazy_load">
															</span>
														</span>
															<span class="product_info_new">
															<span class="prd_brand" th:text="${product.products[0].brandName}"></span>
															<span class="prd_name" th:text="${product.onlineProdName}"></span>
															<span class="price_wrap">
																<strong class="discount" th:if="${product.onlineProdPriceSummary.maxFinalDiscountRate > 0}" th:text="${product.onlineProdPriceSummary.maxFinalDiscountRate} + '%'"></strong>
																<strong class="price"><span th:text="${#numbers.formatInteger( product.onlineProdPriceSummary.maxFinalDiscountOnlinePrice, 0, 'COMMA' )}"></span><em>원</em></strong>
																<del th:if="${product.onlineProdPriceSummary.doublePriceDisplayYn == 'Y'}" th:text="${#numbers.formatInteger( product.onlineProdPriceSummary.maxFinalDiscountBeforeSalePrice, 0, 'COMMA' )} + '원'"></del>
															</span>
															<button type="button" class="btn_toggle like_btn"><i class="ico_heart_s" th:classappend="${product.shoppingMarkExistYn == 'Y' ? 'on' : ''}"></i><span class="sr_only">좋아요</span></button>
														</span>
														</a>
													</div>
												</li>
											</th:block>
										</th:block>

									</th:block>
									</th:block>
								</ul>
							</div>
						</dd>
					</dl>
				</div>
			</th:block>

			<div class="brand_card">
			</div>

		</div>
	</div>
</div>

<!--/* 하단 js등을 실행하는 마지막 영역 */-->
<th:block ap:fragment="layout-endpoint">
	<script type="text/javascript" th:inline="javascript">
		var corners = /*[[${cornersMap}]]*/
			console.log( corners );

		AP.brand.init({
			corners: corners,
			displayMenuId: AP.DISPLAY_MENU_ID
		});
	</script>
</th:block>

</body>
</html>