{{#each this.foNoticeList }}
<li>
	<a href="/display/eventWinner_detail?foNoticeSn={{ this.foNoticeSn }}">
		<b class="title">{{ this.foNoticeTitle }}</b>
		<span>
			<small>{{ this.noticeTypeName }}</small><small class="date">{{ dateFormat this.noticeStartDt }}</small>
		</span>
	</a>
</li>
{{/each}}