{{!-- 동시구매 이벤트 상품을 주문레이어에 담을 경우의 Item --}}
<div class="goods_box refill" data-prod-sn="{{this.prodSn}}">
	<div class="table_layout">
		<div class="thumb"><img class="sameTime_lazy_load" src="" data-src="{{ this.prodImages.0.imgUrl }}" alt="" /></div>
		<div class="goods_info">
			<p class="name">{{this.prodName}}</p>
			<div class="table_layout">
				<span class="count">1개</span>
				<span class="num">
				<!-- <del><span>원</span></del> -->
					<strong>{{numberFormat this.prodPriceSummaryStp.finalOnlinePriceStp}}</strong><span>원</span>
				</span>
			</div>
		</div>
	</div>
	<button type="button" class="btn_del"><span class="sr_only">없애기</span></button>
</div>