<!--<div class="layer_dimmed"></div>-->
<div class="layer_popup system_alert round" style="display:block; margin-top:-516px;">
	<div class="layer_wrap layer_sm">
		<dl class="layer">

			<!-- AP.modal.open() 의 contents 영역 -->
			<dt class="layer_title">구매 안내</dt>
			<dd class="layer_cont">
				<div class="ly_info">
					<p class="color_black font_sl">로그인 구매로 뷰티포인트 적립하시고 알뜰한 쇼핑하세요</p>
					<div class="layer_btns">
						<a href="javascript:;" class="btn_fix_bordered" id="loginPurchase">로그인 구매</a>
						<a href="javascript:;" class="btn_fix_neutral btn_default_modal_confirm" id="nonSignInPurchase">비로그인 구매</a>
					</div>
				</div>
			</dd>
			<!-- //AP.modal.open() 의 contents 영역 -->
		</dl>
		<button class="layer_close" type="button">레이어 닫기</button>
	</div>
</div>
