{{!--
    beauty-tester 당첨자 확인 에서 사용
--}}

				<dt class="layer_title"><span class="sr_only">{{this.title}}</span></dt>
				<dd class="layer_cont">
					<!--/* 리뷰 : 동영상 슬라이드 case */-->
					<div class="review_title">
						<h2 class="h_title">{{this.title}}</h2>
					</div>
					<ul class="prize_list">
						{{#each this.contents.regularEventRequesters}}
						<li><span class="id">{{this.memberId}}</span>{{this.memberLevel}}</li>
						{{/each}}
					</ul>
				</dd>