<!--/* 검색 필터영역 (대카테고리) */-->
<div class="aside_area filter product">
	<h2 class="h_title"><a href="#">스킨케어 (<span class="">805</span>)</a></h2>
	<div class="category">
		<p><a href="#">클렌징 (00)</a></p>
		<ul>
			<li><a href="#">메이크업 리무버 (00)</a></li>
			<li><a href="#">페이스 워시 (00)</a></li>
			<li><a href="#">필링 & 스크럽 (00)</a></li>
		</ul>
		<p><a href="#">모이스처라이징 (00)</a></p>
		<ul>
			<li><a href="#">스킨 & 토너 (105)</a></li>
			<li><a href="#">로션 & 에멀젼 (70)</a></li>
			<li><a href="#">에센스 & 세럼 (120)</a></li>
			<li><a href="#">크림 (149)</a></li>
			<li><a href="#">아이 & 넥 (45)</a></li>
			<li><a href="#">미스트 (29)</a></li>
		</ul>
		<p><a href="#">스페셜 케어 (00)</a></p>
		<ul>
			<li><a href="#">마스크 & 팩 (167)</a></li>
			<li><a href="#">페이스 오일 (15)</a></li>
			<li><a href="#">앰플 (23)</a></li>
		</ul>
		<p><a href="#">선케어 (00)</a></p>
		<p><a href="#">세트 (00)</a></p>
	</div>

<!--/* 검색 필터영역 (중카테고리) */-->
	<fieldset class="form">
		<legend class="sr_only">선택 옵션 선택</legend>
		<button type="button" class="btn_lg_gradient init">선택 옵션 초기화</button>
		<div class="filter_option">
			<dl>
				<dt>브랜드</dt>
				<dd>
					<ul class="leg_tgArea"><!-- 토글영역 클래스 : leg_tgArea -->
						<li><span class="check_wrap"><input type="checkbox" id="brand_1"><label for="brand_1">라네즈</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_2"><label for="brand_2">리리코스</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_3"><label for="brand_3">설화수</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_4"><label for="brand_4">아모레퍼시픽</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_5"><label for="brand_5">프리메라</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_6"><label for="brand_6">라네즈</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_7"><label for="brand_7">리리코스</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_8"><label for="brand_8">설화수</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_9"><label for="brand_9">아모레퍼시픽</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_10"><label for="brand_10">프리메라</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_11"><label for="brand_11">라네즈</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_12"><label for="brand_12">리리코스</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_13"><label for="brand_13">설화수</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_14"><label for="brand_14">아모레퍼시픽</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="brand_15"><label for="brand_15">프리메라</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button><!-- 토글 버튼 클래스 : leg_btn -->
				</dd>
			</dl>

			<dl>
				<dt>상품특징</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="product_1"><label for="product_1">홋수있어요</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="product_2"><label for="product_2">스페셜기프트</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>
			
			<dl>
				<dt>쇼핑찬스</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="shopping_1"><label for="shopping_1">On Sale</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>인기</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="popular_1"><label for="popular_1">매진임박</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>판매상태</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="salesStatus_1"><label for="salesStatus_1">일시품절</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>기능성</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="func_1"><label for="func_1">자외선차단</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="func_2"><label for="func_2">주름개선</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>PA</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="pa_1"><label for="pa_1">PA++</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="pa_2"><label for="pa_2">PA+++</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>피부타입</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="skinType_1"><label for="skinType_1">모든피부</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="skinType_2"><label for="skinType_2">지성</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="skinType_3"><label for="skinType_3">건성</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="skinType_4"><label for="skinType_4">중성</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="skinType_5"><label for="skinType_5">복합성</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="skinType_6"><label for="skinType_6">민감성</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>피부고민</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="skinTrouble_1"><label for="skinTrouble_1">건조</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="skinTrouble_2"><label for="skinTrouble_2">미맥</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="skinTrouble_3"><label for="skinTrouble_3">탄력</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>텍스쳐</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="texture_1"><label for="texture_1">리퀴드</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>메이크업효과</dt>
				<dd>
					<ul class="leg_tgArea">
						<li><span class="check_wrap"><input type="checkbox" id="makeup_1"><label for="makeup_1">듀이(촉촉)</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="makeup_2"><label for="makeup_2">하이라이트</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="makeup_3"><label for="makeup_3">샤이니</label></span></li>
					</ul>
					<button type="button" class="btn_src_more leg_btn">더보기</button>
				</dd>
			</dl>

			<dl>
				<dt>가격</dt>
				<dd>
					<ul>
						<li><span><input type="radio" name="price" id="price_1" checked=""><label for="price_1">3만원미만</label></span></li>
						<li><span><input type="radio" name="price" id="price_2"><label for="price_2">3~5만원</label></span></li>
						<li><span><input type="radio" name="price" id="price_3"><label for="price_3">5~7만원</label></span></li>
						<li><span><input type="radio" name="price" id="price_4"><label for="price_4">7만원이상</label></span></li>
						<li><span><input type="radio" name="price" id="price_5"><label for="price_5">직접입력</label></span></li>
					</ul>
					<div class="direct_entry">
						<span class="input_wrap"><input type="text" placeholder="최소금액"></span>
						<span class="input_wrap"><input type="text" placeholder="최대금액"></span>
						<span>
							<button class="btn_fix_gradient2" type="button">검색</button>
						</span>
					</div>
				</dd>
			</dl>

			<dl>
				<dt>SALE</dt>
				<dd>
					<ul>
						<li><span><input type="radio" name="sale" id="sale_1" checked=""><label for="sale_1">10%이하</label></span></li>
						<li><span><input type="radio" name="sale" id="sale_2"><label for="sale_2">10~30%</label></span></li>
						<li><span><input type="radio" name="sale" id="sale_3"><label for="sale_3">30~50%</label></span></li>
						<li><span><input type="radio" name="sale" id="sale_3"><label for="sale_3">50%이상</label></span></li>
					</ul>
				</dd>
			</dl>

			<dl>
				<dt>SPF수치</dt>
				<dd>
					<ul>
						<li><span><input type="radio" name="spf" id="spf_1" checked=""><label for="spf_1">SPF 25 이하</label></span></li>
						<li><span><input type="radio" name="spf" id="spf_2"><label for="spf_2">SPF 25~35</label></span></li>
						<li><span><input type="radio" name="spf" id="spf_3"><label for="spf_3">SPF 35~50</label></span></li>
						<li><span><input type="radio" name="spf" id="spf_3"><label for="spf_3">SPF 50이상</label></span></li>
					</ul>
				</dd>
			</dl>

			<!--/* 쇼핑찬스 - 중, 소카테고리 일때는 복수선택 가능한 체크박스 형태  */-->
			<dl>
				<dt>쇼핑찬스</dt>
				<dd>
					<ul>
						<li><span class="check_wrap"><input type="checkbox" id="chance_1"><label for="chance_1">On Sale</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="chance_2"><label for="chance_2">M + N 행사</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="chance_3"><label for="chance_3">기프트카드</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="chance_4"><label for="chance_4">스페셜기프트</label></span></li>
						<li><span class="check_wrap"><input type="checkbox" id="chance_5"><label for="chance_5">투데이핫딜</label></span></li>
					</ul>
				</dd>
			</dl>

			<dl>
				<dt>색상</dt>
				<dd>
					<ul class="colors">
						<li><span><input type="checkbox" id="color_1" checked=""><label for="color_1" style="background-color:#f06da1">핑크</label></span></li>
						<li><span><input type="checkbox" id="color_2"><label for="color_2"><img ap:src="@{/images/dummy/IMG1424Fif683185312.jpg}" alt="색상명"></label></span></li>
						<li><span><input type="checkbox" id="color_3"><label for="color_3"><img ap:src="@{/images/dummy/IMG1431eOG413828508.jpg}" alt="생상명"></label></span></li>
						<li><span><input type="checkbox" id="color_4"><label for="color_4" style="background-color:#f06da1">핑크</label></span></li>
						<li><span><input type="checkbox" id="color_5"><label for="color_5"><img ap:src="@{/images/dummy/IMG1424Fif683185312.jpg}" alt="색상명"></label></span></li>
						<li><span><input type="checkbox" id="color_6"><label for="color_6"><img ap:src="@{/images/dummy/IMG1431eOG413828508.jpg}" alt="생상명"></label></span></li>
						<li><span><input type="checkbox" id="color_7" checked=""><label for="color_7" style="background-color:#f06da1">핑크</label></span></li>
						<li><span><input type="checkbox" id="color_8"><label for="color_8"><img ap:src="@{/images/dummy/IMG1424Fif683185312.jpg}" alt="색상명"></label></span></li>
						<li><span><input type="checkbox" id="color_9"><label for="color_9"><img ap:src="@{/images/dummy/IMG1431eOG413828508.jpg}" alt="생상명"></label></span></li>
						<li><span><input type="checkbox" id="color_10"><label for="color_10" style="background-color:#f06da1">핑크</label></span></li>
						<li><span><input type="checkbox" id="color_11"><label for="color_11"><img ap:src="@{/images/dummy/IMG1424Fif683185312.jpg}" alt="색상명"></label></span></li>
						<li><span><input type="checkbox" id="color_12"><label for="color_12"><img ap:src="@{/images/dummy/IMG1431eOG413828508.jpg}" alt="생상명"></label></span></li>
					</ul>
				</dd>
			</dl>

		</div>
	</fieldset>

</div>


<script language="javascript" type="text/javascript">
	// 갯수에 따른 더보기 토글 모션 관련 js
	$('.leg_tgArea').each(function(){
		var $legArea = $(this),
			$legIp = $legArea.find('> li'),
			$totalLeng = $legIp.length,
			$showLeng = 5, // 노출 할 li 갯수
			$showH = $legIp.height() * $showLeng,
			$legMore = $legArea.parent().find('.leg_btn');

		if ($totalLeng > $showLeng){
			$legMore.show();
			$legArea.css('height',$showH);
			$legMore.on('click', function(){
				var $moreThis = $(this);
				$moreThis.toggleClass('on');
				if ($moreThis.hasClass('on')){
					$legArea.css('height','auto');
				} else {
					$legArea.css('height',$showH);
				}
			});
		} else {
			$legMore.hide();
		}
	}); 
</script>