<!--/* 검색 필터영역 (대카테고리) */-->
<div class="aside_area filter product">
	<h2 class="h_title"><a href="#">스킨케어</a></h2>
	<div class="category">
		<p><a href="#">클렌징 (00)</a></p>
		<ul>
			<li><a href="#">메이크업 리무버 (00)</a></li>
			<li><a href="#">페이스 워시 (00)</a></li>
			<li><a href="#">필링 & 스크럽 (00)</a></li>
		</ul>
		<p><a href="#">모이스처라이징 (00)</a></p>
		<ul>
			<li><a href="#">스킨 & 토너 (105)</a></li>
			<li><a href="#">로션 & 에멀젼 (70)</a></li>
			<li><a href="#">에센스 & 세럼 (120)</a></li>
			<li><a href="#">크림 (149)</a></li>
			<li><a href="#">아이 & 넥 (45)</a></li>
			<li><a href="#">미스트 (29)</a></li>
		</ul>
		<p><a href="#">스페셜 케어 (00)</a></p>
		<ul>
			<li><a href="#">마스크 & 팩 (167)</a></li>
			<li><a href="#">페이스 오일 (15)</a></li>
			<li><a href="#">앰플 (23)</a></li>
		</ul>
		<p><a href="#">선케어 (00)</a></p>
		<p><a href="#">세트 (00)</a></p>
	</div>
	<div class="filter_option">
		<!--/* 쇼핑찬스 - 대카테고리 일때는 링크형태  */-->
		<dl>
			<dt>더 큰 할인 혜택</dt>
			<dd>
				<ul>
					<li><a href="#">M+N 행사</a></li>
					<li><a href="#">Sale</a></li>
					<li><a href="#">투데이 핫딜</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</div>