<!--사은품 확인-->
<dl th:if="${ordHistPromoExList != null and #lists.size(ordHistPromoExList) > 0 }">
	<dt>
		<span>보너스 혜택</span>
		<button type="button"><span class="sr_only">닫기</span></button>
	</dt>
	<dd>
		<div class="cont">
			<ul class="freebies_list">
				<th:block th:each="ordHistPromoEx : ${ordHistPromoExList}">
					<th:block th:if="${ordHistPromoEx.awardTgtCode == 'Prod' or ordHistPromoEx.awardTgtCode == 'SpPrice'}">
						<li>
							<span class="img"><img th:src="${ordHistPromoEx.ordPromoOrdUnitAwardEx.ordProdEx.prodImgUrl}" alt=""></span>
							<span class="tag" th:text="'['+${ordHistPromoEx.promoNameBlang}+']'">[사은품]</span>
							<span class="title" th:text="${ordHistPromoEx.ordPromoOrdUnitAwardEx.ordProdEx.prodNameBlang} + ${ordHistPromoEx.ordPromoOrdUnitAwardEx.awardUnitQty} + '개'">몬스터 미셀라 클렌징워커 25ml 1개</span>
						</li>
					</th:block>
					<th:block th:if="${ordHistPromoEx.awardTgtCode == 'Point'}">
						<li>
							<th:block th:if="${ordHistPromoEx.pointTypeCode == 'MembershipPoint'}">
								<span class="img"><img ap:src="@{/images/cart/ico_beautypoint.png}" alt=""></span>
							</th:block>
							<th:block th:if="${ordHistPromoEx.pointTypeCode == 'ActivityPoint'}">
								<span class="img"><img ap:src="@{/images/cart/ico_beautypoint.png}" alt=""></span>
							</th:block>
							<span class="tag" th:text="'['+${ordHistPromoEx.promoNameBlang}+']'"></span>
							<th:block th:if="${ordHistPromoEx.pointTypeCode == 'MembershipPoint'}">
								<span class="title">뷰티포인트 <th:block th:text="${ordHistPromoEx.savingPoint}">2000</th:block>P</span>
							</th:block>
							<th:block th:if="${ordHistPromoEx.pointTypeCode == 'ActivityPoint'}">
								<span class="title">진주알 <th:block th:text="${ordHistPromoEx.savingPoint}">2000</th:block>알</span>
							</th:block>
						</li>
					</th:block>
					<th:block th:if="${ordHistPromoEx.awardTgtCode == 'Coupon'}">
						<span class="tag" th:text="'['+${ordHistPromoEx.promoNameBlang}+']'"></span>
						<span class="title" th:text="${ordHistPromoEx.couponSn}">쿠폰</span>
					</th:block>
					<th:block th:if="${ordHistPromoEx.awardTgtCode == 'Giftcard'}">
						<span class="tag" th:text="'['+${ordHistPromoEx.promoNameBlang}+']'"></span>
						<span class="title">Giftcard</span>
					</th:block>
				</th:block>
			</ul>
		</div>
	</dd>
</dl>
<!--사은품 확인-->
