			<div class="ix-list-viewport">
                <ul class="ix-list-items">
                {{#each this.list}}
                  <li class="ix-list-item">
                  <a href="/display/event_detail?planDisplaySn={{this.planDisplaySn}}"><img src="{{this.bannerImgP1}}" alt="{{this.planDisplayTitle}}"></a>                    
                  </li>
                 {{/each}}
                </ul>
              </div>
              <div class="ix-controller">
                <div class="slide_direction">
                  <!-- "ix-btn-prev", "ix-btn-next" 는 "ix-controller" 안에 존재해야 한다.-->
                  <a class="ix-btn-prev" href="#"><span class="sr_only">Prev</span></a>
                  <a class="ix-btn-next" href="#"><span class="sr_only">Next</span></a>
                </div>
              </div>