@charset "UTF-8";

/* box */
.board_box .board_search, .board_box .tab_menu.bar, .board_box .board_menu_area {margin-bottom:10px;}

/* tab + board */
.ui_tab .board_box {margin-top:20px;}
.ui_tab .board_box .tab_cont {padding:0;}

/* search */
.board_search {padding:13px; background:#f7f7f7; text-align:center;}
.board_search .select_wrap {width:130px;}
.board_search .select_wrap, .board_search .input_wrap {display:inline-block; vertical-align:top; background:#fff;}
.board_search .input_wrap {width:360px; margin:0 -5px;}
.board_search .input_wrap>input {border-left:0 none; border-right:0 none;}
.board_search .input_wrap>input:focus {border:1px solid #d1d1d6; border-left:0 none; border-right:0 none; outline:0;}
.board_search .btn_md_form {}

/* btn */
.board_btns {margin-top:10px; text-align:center;}
.board_btns:after {content:''; display: block; clear: both;}
.board_btns .lside {float:left;}
.board_btns .rside {float:right;}

/* board list */
.board_list table {width:100%; line-height:1.3; border-top:2px solid #e1e1e1;}
.board_list table thead th {padding:13px 0 15px; border-bottom:2px solid #e1e1e1; font-weight:normal;}
.board_list table tbody td {padding:10px 10px 12px; color:#666; text-align:center;}
.board_list table tbody tr + tr td{border-top:1px solid #e1e1e1;}
.board_list .type {color:#888;}
.board_list .ico_new, .board_list .ico_file {margin-top:-1px;}

/* board view */
.board_view {}
.board_view .line {border-top:1px solid #ececec;}
.board_view .view_tit {padding-bottom:20px;}
.board_view .view_tit:after {content:''; display: block; clear: both;}
.board_view .data_tit {float:left; margin-top:5px; color:#333; font-size:18px; font-weight:700;}
.board_view .data_tit .type {color:#888;}
.board_view .data_info {float:right; margin-top:10px; color:#888; font-size:12px;}
.board_view .data_info span {position:relative; padding-left:16px;}
.board_view .data_info span:after {position:absolute; top:2px; left:6px; content:''; display:block; width:1px; height:12px; background:#888; clear:both;}
.board_view .data_info span:first-child {padding-left:0;}
.board_view .data_info span:first-child:after {display:none;}
.board_view .view_file {padding:10px 0 19px;}
.board_view .link_down {display:inline-block; margin:10px 25px 0 0; color:#888; font-size:12px;}
.board_view .link_down .ico_file {margin-top:-2px;}
.board_view .view_cont {min-height:270px; padding:20px 20px 30px; border-top:1px solid #666; border-bottom:1px solid #ececec; color:#666;}

/* board write */
.form .board_write {padding:0; border-top:1px solid #333;}
.form .board_write dl {display:table; width:100%; border-bottom:1px solid #ebebeb;}
.form .board_write dl>* {display:table-cell; padding:10px 0; /*line-height:1.3em;*/ vertical-align: middle;}
.form .board_write dl>dt {padding:9px 5px 11px; color:#000; font-weight:normal;}
.msie .form .board_write dl>dt {padding:8px 5px 12px;}
.form .board_write.s120 dl>dt {width:16%;}
.form .board_write .textarea {height:150px;}
.form .attach {width:100%; margin-left: -10px;}
.form .attach:after {content:''; display:block; clear:both;}
.form .attach>* {float:left; position:relative; width:120px; margin:10px 0 0 10px;}
.form .attach .btn_del {position:absolute; top:10px; right:10px; width:12px; min-width:auto; height:12px; padding:0;}
.form .attach .btn_del:after {content:''; position:absolute; top:0; left:0; width:12px; height:12px; background:url('/pc/ko/images/common/ico.png') 0 -17px no-repeat;}

/* board toggle */
.board_toggle table {width:100%;}
.board_toggle table thead th {padding:15px 0; border-top:2px solid #e1e1e1; border-bottom:2px solid #e1e1e1;}
.board_toggle table tbody td {padding:15px 0; border-bottom:1px solid #ececec; text-align:center; color:#666; vertical-align:top;}
.board_toggle .cont {text-align:left;}
.board_toggle .cont * {text-align:left;}
.board_toggle .cont button, .board_toggle .cont a {display:block; margin:0 22px;}
.board_toggle .cont button, .board_toggle .cont button:focus, .board_toggle .cont button:active {padding:0;}
.board_toggle .cont button>span {position:relative;}
.board_toggle .type {color:#888;}
.board_toggle .txt_question, .board_toggle .txt_answer {display:inline-block; margin-top:-1px; color:#333; font-size:16px; font-weight:700;}
.board_toggle .txt_question {float:left;}
.board_toggle .question.on * {color:#000; font-weight:700;}
.board_toggle .answer {padding:30px 0 15px; line-height:25px;}
.board_toggle .answer .txt_answer {display:block; margin-bottom:4px;}

/* 댓글 */
.comment_box {padding:50px; background:#fff;}
.comment_box .comment_tit {margin-bottom:20px; font-size:18px;}
.comment_write {position:relative; padding-right:170px;}
.comment_write>* {font-size:18px;}
.comment_write .textarea_box {position:relative; border:1px solid #d4d4d4; background:#fff;}
.comment_write .textarea {border:0 none; overflow:hidden;}
.comment_write .textarea > textarea {height:107px; padding:20px; resize:none;}
.comment_write .textarea_box .placeholder {/*top:13px;*/ top:40px; left:7px; color:#888;}
.msie .comment_write .textarea_box .placeholder {top:-27px;}
.comment_write .byte {position:absolute; bottom:20px; right:13px; z-index:1;}
.comment_write .byte small {font-size:18px; color:#666;}
.comment_write .byte small .current {font-weight:700;}
.comment_write .user_name {margin:13px 22px 0; font-weight:700;}
.comment_write .textarea .user_name + textarea {height:;}
.comment_write .rside {position:absolute; top:0; right:0;}
.comment_write .rside button {width:150px; height:148px; color:#fff; font-size:20px; background:#782fff;}
.comment_write.before .textarea_box .placeholder {top:13px;} /* 로그인 전 */
.msie .comment_write.before .textarea_box .placeholder {top:-81px;}
.comment_write.before .rside button {height:109px;}

/* 댓글 첨부파일 */
.add_file {position:relative; padding:13px 14px; border-top:1px solid #e2e2e2; overflow:hidden;}
.add_file>* {font-size:15px;}
.add_file > .fileInput {width:147px; height:40px; position:absolute; top:13px; left:0; z-index:1; opacity:0;}
.add_file > label {width:113px; display:inline-block; height:40px; border:1px solid #e2e2e2; border-radius:20px; color:#999; font-size:15px; background:#fff; text-align:center; line-height:40px; font-weight:600; float:left; cursor:pointer;}
.add_file > .fileName {width:685px; height:39px; margin-right:78px; float:right;}
.add_file > .fileName > span {height:40px; line-height:40px; padding-right:40px; position:relative; font-size:12px; color:#666; display:inline-block;}
.add_file > .fileName > span > .fileDel {width:40px; height:40px; font-size:0; background:url(/pc/ko/images/common/btn_close_file.png) 50% 50% no-repeat; display:inline-block; position:absolute; top:0; right:0;}
.add_file_wrap {position:relative;}
.add_file_wrap > .add_file > .fileName {width:576px; margin-right:168px;}
.add_file_wrap>button {position:absolute; top:0; right:0; width:89px; height:71px; border-left:1px solid #e2e2e2;}
.add_file_wrap>button>* {color:#782fff; font-size:18px;}
/*
.add_file_wrap .add_file .input_btn_wrap {margin-right:170px;}
.add_file .input_btn_wrap {margin-right:80px;}
.add_file .input_wrap {width:100%; margin-left:130px;}
.add_file .input_wrap> input {width:100%; padding:0 25px; border:0 none; font-size:15px;}
.add_file .input_del {display:inline-block; position:absolute; top:7px; right:0; z-index:1; font-size:11px;}
.add_file label {position:absolute; top:0; left:0; z-index:1; display:inline-block; height:40px; padding:0 22px; border:1px solid #e2e2e2; border-radius:20px; color:#999; font-size:15px; background:#fff; text-align:center; line-height:40px; font-weight:600;}
*/

/* 댓글 목록 */
.comment_list>li {padding:18px 0 17px; border-bottom:1px solid #e9e9e9;}
.comment_list>li>* {color:#666; font-size:16px;}
.comment_list>li> div {position:relative;}
.comment_list .user_area {position:relative;}
.comment_list .user {margin:0 100px 30px 0; color:#333; font-weight:700;}
.comment_list .user>span {position:relative; padding-left:28px; color:#888; font-weight:normal;}
.comment_list .user>span:after {content:''; display:block; clear:both; position:absolute; top:1px; left:12px; width:1px; height:14px; background:#cdcdcd;}
.comment_list .control {position:absolute; top:0; right:0; color:#888; font-size:14px;}
.comment_list .control>button + button {position:relative; padding-left:20px;}
.comment_list .control>button + button:after {content:''; display:block; clear:both; position:absolute; top:1px; left:9px; width:1px; height:14px; background:#cdcdcd;}
.comment_list .cont {padding-right:50px; color:#666; font-size:18px;}
.comment_list .cont img {max-width: 690px; max-height:500px; margin-bottom:10px;}
.comment_list .date {margin-top:12px; color:#a3a3a3;}
.comment_list .report {position:absolute; bottom:0; right:0;}
.comment_list .reply_area {margin-top:20px;}
.comment_list .comment_write {margin:35px 150px 0 0; padding:20px; background:#f9f9f9;}
.comment_list .comment_write .byte {right:102px;}