@charset "UTF-8";

.cart .page_title {padding:46px 0 23px;}
.cart .page_title .h_title {color:#333; font-size:42px; font-weight:normal;}

.cart .cont_area {width:825px;}
.cart .rside_area {width:335px; margin-left:38px; padding:0; background:0 none;}
.cart .rside_area .boxing {padding:20px; background:#fff; border-bottom: 1px solid #c2c1c2;}
.cart .panel .inner{padding:20px 20px 30px 20px;}

/* 주문결제 */
.cart_toggle {}
.cart_toggle>dt {padding:10px 0 20px; border-bottom:1px solid #e5e5e5;}
.cart_toggle>dt>* {font-size: 18px; font-weight:700;}
.cart_toggle>dt>button {display:block; width:100%; text-align:left;}
.cart_toggle>dt>button span {display:block;}
.cart_toggle>dt>button i {position:absolute; top:6px; right:0;}
.cart_toggle>dd {}
.cart_toggle .data_cont {margin-top:32px;}

.payform_box:after {content:''; clear:both; display:block;}
.payform_box .panel {background:#fff;}
.payform_box .panel .title_area {margin-bottom:0; padding:20px 0; border-bottom:1px solid #e5e5e5; font-weight:700;}
.payform_box .board_write {padding-top:0; border-top:none;}
.payform_box .board_write dl {margin-top:0;}
.payform_box .board_write dl:last-child {margin-bottom:-20px; border-bottom:0 none;}
.payform_box .board_write dt {padding-top:25px; vertical-align:top;}
.payform_box .board_write dd {padding:12px 0; /*padding:12px 20px;*/}
.payform_box .board_write .text {margin-left:0; color:#8f8f8f; font-size:13px;}
.payform_box .board_write.w105 dt {width:105px;}
.payform_box .board_write .input_group_point .text {margin:0 15px;}
.payform_box .board_write .link_point_more {position:relative; margin-left:15px; padding-right:23px; color:#8f8f8f; font-size:13px;}
.payform_box .board_write .link_point_more:after {position:absolute; top:5px; right:0; content:''; clear:both; display:block; width:13px; height:8px; background:url(/pc/ko/images/cart/bg_down.png) no-repeat;}
.payform_box .board_write .link_point_more.on:after {background:url(/pc/ko/images/cart/bg_up.png) no-repeat;}
.payform_box .board_write .point_sell {float:right;}
.payform_box .board_write .point_sell .input_wrap {width:159px;}
.payform_box .board_write .point_sell .point {margin:12px 0 0 10px; color:#000; font-size:16px; font-weight:700;}
.payform_box .board_write .point_sell .group .point {margin-top:0;}
.payform_box .board_write .user_point {width:100%; text-align:right; color:#000; font-size:13px;}
.payform_box .ui_table {/*padding:27px 0 7px;*/}
.payform_box .ui_table.size100 dt {width:100px;}
.payform_box .txt_data {margin:27px 0 8px; color:#000; font-size:16px;}

/* 배송지 */
.payform_box .base_address_info {margin:30px 0 10px;}
.payform_box .base_address_info>* {color:#000; font-size:16px; font-weight:700;}
.payform_box .base_address_info>p + p {margin-top:15px;}
.payform_box .shipping_location .ui_table {padding-top:0;}
.payform_box .shipping_location .ui_tab .tab_cont {margin-top:27px;}
.ui_find_addresses .input_group.ea_03 {width:521px;}
.ui_find_addresses .input_btn_wrap>*:first-child {width: calc(100% - 90px);}
.ui_find_addresses .input_btn_wrap .btn_address_find {min-width:80px; font-size:14px;}
.msie .ui_find_addresses .input_btn_wrap .btn_address_find {top:0; color:#000;}

/* 배송요청사항 */
.list_delivery>li + li {margin-top:18px;}
.list_delivery>li>* {color:#000;}
.list_delivery .inbox {margin:12px 35px 0 47px;}

/* 쿠폰할인 */
.payform_box .ui_table.ui_coupon_dis dt {width:105px;}
.payform_box .ui_table.ui_coupon_dis dd {padding:13px 0;}
.payform_box .ui_table.ui_coupon_dis .text {color:#000;}
.payform_box .ui_table.ui_coupon_dis .sell {float:right; text-align:right;}
.payform_box .ui_table.ui_coupon_dis .sell p {margin-top:0;}
.payform_box .ui_table.ui_coupon_dis .discount {margin-bottom:-4px; color:#ff0000; font-size:13px;}
.payform_box .ui_coupon_dis .discount_price {margin-top:8px; color:#000; font-size:16px; font-weight:700;}
.payform_box .discount_box {float:none; margin-left:-105px; padding:23px 0 0 0; clear:both;}

.discount_box {}
.discount_box .boxing + .boxing {margin-top:30px;}
.discount_box .tit {margin-bottom:12px; color:#888; font-size:13px;}
.discount_box .tit img {margin-right:8px;}

.discount_total {padding:23px 0 22px 0; background:#333;}
.discount_total>ul {text-align:center;}
.discount_total>ul>li {display:inline-block;}
.discount_total>ul>li>* {color:#fff; font-size:16px;}
.discount_total>ul>li>strong {font-weight:normal;}
.discount_total .unit {margin:0 68px;}
.discount_total .unit>img {margin-top:-25px;}
.discount_total .purple {color:#d6cbff;}
.discount_total.double .unit>img {margin-top:-90px;}

.coupon_area {padding:23px 33px; background:#f6f6f6;}
.coupon_area .subtit {margin-bottom:30px; color:#000; font-size:13px; font-weight:700;}
.coupon_area .inbox + .inbox {margin-top:38px; padding-top:23px; border-top:1px solid #e5e5e5;}
.list_coupon>li {margin-left:-7px;}
.list_coupon>li + li {margin-top:30px;}
.list_coupon>li p {margin-top:0; padding-top:0;}
.list_coupon .check_wrap label {color:#888; font-size:13px; line-height:18px;}
.msie .list_coupon .check_wrap label {line-height:18px;}
.list_coupon .check_wrap label>span {display:block; font-size:16px;}
.list_coupon .check_wrap label .num {font-weight:700;}
.list_coupon .check_wrap>label:before {top:1px;}
.list_coupon .check_wrap>label:after {top:18px;}
.list_coupon .check_wrap>input:checked + label {color:#000;}
.list_coupon .check_wrap>input:checked + label>span {color:#782fff;}
.list_coupon .spc_benefit_slide {width:715px; margin-top:10px;}
.list_coupon .spc_benefit_slide .ix-list-item + li {margin-top:0;}
.list_coupon .spc_benefit_slide .ix-list-items .ix-list-item {width:155px;}
.list_coupon .spc_benefit_slide .product_box {border:1px solid #f6f6f6; background:#f6f6f6;}
.list_coupon .spc_benefit_slide .product_box .info_section>* {margin-top:0; font-size:14px; color:#333; font-weight:normal; line-height:16px;}
.list_coupon .spc_benefit_slide .product_box .txt_name {margin-top:10px;}
.list_coupon .spc_benefit_slide .product_box .txt_amount {margin-top:6px; color:#888;}
.list_coupon .spc_benefit_slide .visual_section {width:130px; margin:0 auto;}
.list_coupon .spc_benefit_slide .visual_section:before {content: ''; position:absolute; top:0; right:0; bottom:0; left:0; z-index:1; background-color:rgba(0,0,0,.03);}
.discount_complete {padding:38px 0 47px; text-align:center;}
.discount_complete>* {color:#333; font-size:12px;}
.discount_complete>p {margin-bottom:13px;}
.discount_complete>button {min-width:190px;}
/* 쿠폰조회 팝업_2018-08-23 */
.layer_wrap.coupon_wrap .coupon_ck_list li.freebie .check_wrap {width:85%;}

/* 사은품 증정 */
.spc_benefit_slide {width:785px; margin:0 auto;}
.spc_benefit_slide .ix-list-items .ix-list-item {width:170px;}
.spc_benefit_slide .slide [class*='_direction'] [class^="ix-btn"]{width:34px; height:34px; background:url(/pc/ko/images/common/ico.png) no-repeat; background-position:0 -304px; border:none; opacity:.2}
.spc_benefit_slide .slide [class*='_direction'] .ix-btn-prev {left:0;}
.spc_benefit_slide .slide [class*='_direction'] .ix-btn-next {right:0; background-position:-34px -304px;}
.spc_benefit_slide .slide .slide_direction a:hover{opacity:.5;}
.spc_benefit_slide .product_box .visual_section {padding-top:0;}
.spc_benefit_slide .product_box .visual_section img {width:130px; height:130px;}
.spc_benefit_slide .product_box .info_section>* {text-align:left;}
.spc_benefit_slide .product_box .txt_amount {margin-top:7px; color:#888;}
.spc_benefit_slide .product_box:hover {border:1px solid #fff;}
.spc_benefit_slide .product_box:hover .txt_summary {text-decoration:none;}
.spc_benefit {color:#888; font-size:13px;}
.spc_benefit .color_red {color:#ff0000;}

.spc_benefit_box {margin-bottom:-20px; border-top:none;}
.spc_benefit_box>dl {}
.spc_benefit_box>dl>dt {}
.spc_benefit_box>dl>dt {position:relative;}
.spc_benefit_box>dl>dt:after {content:''; clear:both; display:block; position:absolute; top:50%; right:0; width:17px; height:10px; margin-top:-5px; background:url(/pc/ko/images/common/ico.png) no-repeat -15px -267px;}
.spc_benefit_box>dl>dt.on {border-bottom:0 none;}
.spc_benefit_box>dl>dt.on:after {background-position:-33px -267px;}
.spc_benefit_box>dl>dt>button {z-index:1; padding:20px 0 17px; color:#000; font-size:16px;}
.spc_benefit_box>dl>dd {padding:0 0 30px 0;}
.spc_benefit_box>dl:last-child dt, .spc_benefit_box>dl:last-child dd {border-bottom:0 none;}
.spc_benefit_box .txt_data {margin:0; color:#888; font-size:13px;}

.spc_benefit_box .list_gift_packing {margin-top:14px;}
.spc_benefit_box .list_gift_packing>ul>li {height:244px;}
.spc_benefit_box .list_gift_packing .link_more {display:inline-block; margin-top:10px; color:#000; text-decoration:underline;}

/* 선물포장 */
.gift_packing {}
.info_gift_packing {color:#888; font-size:13px;}
.info_gift_packing>.link_more {margin-left:10px; color:#000; font-size:14px; text-decoration:underline;}
.list_gift_packing {margin-top:11px;}
.list_gift_packing>ul {margin-top:-15px;}
.list_gift_packing>ul:after {content:''; clear:both; display:block;}
.list_gift_packing>ul>li {float:left; width:176px; height:217px; margin:15px 10px 0;}
.gift_packing_box {position:relative;}
.gift_packing_box>* {font-size:14px;}
.gift_packing_box .visual_section {width:176px; height:140px; text-align:center;}
.gift_packing_box .visual_section img {width:140px; height:140px;}
.gift_packing_box .check_wrap>label {height:217px; padding:0; font-size:14px;}
.gift_packing_box .check_wrap>label:after {top:12px;}
.gift_packing_box .name {padding-top:14px; color:#000;}
.gift_packing_box .summary {margin-top:6px; height:34px; line-height:17px;}


/* 최종 결제 금액 */
.order_totalbox {}
.order_totalbox .title_area {}
.order_totalbox>* {font-size:15px;}
.order_totalbox table {width:100%;}
.order_totalbox table th, .order_totalbox table td {padding:10px 0; color:#000; font-weight:normal;}
.order_totalbox table tr:last-child th, .order_totalbox table tr:last-child td {padding-bottom:25px;}
.order_totalbox table th {text-align:left;}
.order_totalbox table td {text-align:right;}
.order_totalbox table tfoot th, .order_totalbox table tfoot td {padding:28px 0 10px; color:#782fff; font-weight:700; border-top:1px solid #000;}
.order_totalbox .total em {font-size:28px; font-weight:700;}
.order_totalbox .point_save {overflow:hidden; margin-top:5px;}
.order_totalbox .point_save>dt, .order_totalbox .point_save>dd {float:left; width:50%; color:#5779a6; font-weight:700;}
.order_totalbox .point_save>dd {text-align:right;}
.cart_total_agree {margin-top:20px; padding:20px; background:#fff; border-bottom:1px solid #c2c1c2;}
.cart_total_agree label {color:#000; font-size:18px; font-weight:700;}
.cart_total_agree .list_bullet_dot li {color:#888;}
.cart_total_order {margin-top:20px;}
.cart_total_order a {width:100%; min-width:none; height:70px; font-size:23px;}

/* 주문정보 */
.order_info_box {margin-top:20px; padding:20px; background:#fff; border-bottom:1px solid #c2c1c2;}
.order_information {margin:-20px 0;}
.order_information li {padding:19px 0;}
.order_information li + li {border-top:1px solid #e5e5e5;}

.order_item {min-height:65px;}
.order_item .thumb {float:left;}
.order_item .thumb, .order_item .thumb img {width:65px; height:65px;}
.order_item .info {margin-left:77px;}
.order_item .info>* {font-size:13px;}
.order_item .info>.box {min-height:62px;}
.order_item .summary {margin-top:7px; color:#666;}
.order_item .price {}

/***** 장바구니 : 여기서 부터 새로 작업됨 ******/
.cart .ui_step{overflow:hidden;position:absolute;top:-65px;right:0;width:202px;background:url(/pc/ko/images/cart/bg_ui_step_line.gif) repeat-x center center}
.cart .ui_step li{float:left;width:30px;height:30px;margin-left:50px;border-radius:17px;border:2px solid #ccc;text-align:center;line-height:32px;color:#888;font-size:16px;background:#e9edf0;}
.cart .ui_step li:first-child{margin:0;}
.cart .ui_step li em{display:block;}
.cart .ui_step li.current{border-color:#782fff;text-indent:-9999em;background:#e9edf0 url(/pc/ko/images/cart/bg_ui_step_arr.png) no-repeat center center;}

.cart .cart_list{margin-top:20px;border:none;background:#fff;}
.cart .cart_list.first{margin-top:0;}
.cart .cart_list dt{position:relative;padding:17px 20px 16px;border-bottom:none;}
.cart .cart_list dt .tit{padding:0;color:#000;font-size:18px;letter-spacing:-0.25px;}
.cart .cart_list dt button{position:absolute;right:10px;top:12px;width:40px;height:40px;}
.cart .cart_list dt button:after{right:0;top:0;margin:0;width:40px;height:40px;background:url(/pc/ko/images/cart/bg_cart_arr_down.png) no-repeat center center;}
.cart .cart_list dt.on button:after{background:url(/pc/ko/images/cart/bg_cart_arr_up.png) no-repeat center center;}
.cart .cart_list dd{border-top:1px solid #e5e5e5;border-bottom:none;margin:0 20px;padding:30px 0 50px;}
.cart .cart_list dd.single{padding:0;}
.cart .cart_list dd.fin{color:#000;font-size:16px;line-height:32px;}
.cart .cart_list dd.pdt0{padding-top:0;}

.cart .item_list li{margin-top:50px;}
.cart .item_list li:first-child{margin-top:30px;}
.cart .item_list li.first{margin-top:0;}
.cart .item_list .item_info{position:relative;display:table;width:785px;}
.cart .item_list .item_info .thumb{display:table-cell;position:relative;width:155px;vertical-align:middle;}
.cart .item_list .item_info .thumb img{width:155px;height:155px;}
.cart .item_list .item_info .thumb .check_wrap{position:absolute;left:0;top:0;}
.cart .item_list .item_info .name{display:table-cell;padding:0 20px;vertical-align:middle;}
.cart .item_list .item_info .name .txt{margin-top:10px;color:#000;font-size:18px;}
.cart .item_list .item_info .name .reservation {margin-top:10px;color:#782fff;font-size:16px;}
.cart .item_list .item_info .name .reservation span {font-size:14px;padding-left:13px;vertical-align: -1px;}
.cart .item_list .item_info .delete{position:absolute;right:-5px;top:4px;}
.cart .item_list .item_info .delete .btn_delete{width:24px;height:24px;padding:0;background:url(/pc/ko/images/cart/bg_cart_close.png) no-repeat center center;}

.cart .benefit{display:inline-block;margin-top:-4px;padding:4px 7px;color:#fff;font-size:13px;box-sizing:border-box;text-align:center;vertical-align:middle;}
.cart .benefit.special{background:#782fff;}
.cart .benefit.gift{background:#222;}
.cart .benefit.soldout{background:#222;font-size:12px;min-width:72px;padding:7px 5px;}
.cart .benefit.delivery{border:1px solid #782fff;background:#fff;font-size:14px;color:#782fff;font-weight:bold;}
.cart .benefit.office{border:1px solid #2f5bff;background:#fff;font-size:14px;color:#2f5bff;font-weight:bold;}

.cart .item_list .item_option{display:table;width:783px;margin-top:20px;border:1px solid #e5e5e5;}
.cart .item_list .item_option .inner{margin:0 20px;border-top:1px solid #e5e5e5;padding:19px 0px 15px;}
.cart .item_list .item_option .inner:first-child{border-top:none;}
.cart .item_list .item_option .name{display:table-cell;width:280px;padding:0;vertical-align:middle;}
.cart .item_list .item_option .ellipsis{width:260px;margin-top:-3px;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis;line-height:22px;color:#333;font-size:16px;}
.cart .item_list .item_option .ellipsis.disabled{color:#999;background:#fff;}
.cart .item_list .item_option .count{display:table-cell;width:250px;vertical-align:middle;text-align:center;color:#999;font-size:16px;}
.cart .item_list .item_option .count .ui_spinner button{height:42px;}
.cart .item_list .item_option .count .ui_spinner input{height:42px;font-size:16px;}
.cart .item_list .item_option .count .ui_spinner .ico_oper_p{background:#fff;}
.cart .item_list .item_option .count .ui_spinner .ico_oper_p:before,
.cart .item_list .item_option .count .ui_spinner .ico_oper_p:after{background:#484848;}
.cart .item_list .item_option .count .ui_spinner .ico_oper_p.disabled:before,
.cart .item_list .item_option .count .ui_spinner .ico_oper_p.disabled:after{background:#eee;border:none;}
.cart .item_list .item_option .count .btn_fix_gradient{margin-left:8px;padding:13px;font-size:14px;}
.cart .item_list .item_option .price{display:table-cell;width:234px;text-align:right;vertical-align:middle;}
.cart .item_list .item_option .price strong{display:inline-block;margin-top:-3px; color:#333;font-size:24px;/*letter-spacing:-1px*/}
.cart .item_list .item_option .price del{margin-left:10px;font-size:20px;/*letter-spacing:-1px;*/}
.cart .item_list .item_option .delete{display:table-cell;padding-left:8px;vertical-align:middle;text-align:right;}
.cart .item_list .item_option .delete .btn_delete{width:24px;height:24px;padding:0;background:url(/pc/ko/images/cart/bg_cart_close.png) no-repeat right 3px;}

/* 상품명 및 수량_2018-08-22 */
.cart .item_list .pack_prd {margin: 10px 0 50px;padding:11px 20px;background: #f8f8f8;}
.cart .item_list .pack_prd li {margin:0;padding:5px 0;color:#666;padding-left: 20px;background: url(/pc/ko/images/cart/bg_special_gift.png) no-repeat left 3px;}
.cart .item_list .pack_prd li span {padding-left:10px;}

/* 기프트카드 증정_2018-08-22 */
.cart .special_gift + .gift_card {margin-top:-40px;}
.cart .gift_card {margin:10px 0 50px;padding:11px 20px;background: #f8f8f8;}
.cart .gift_card > p {margin:0;padding:5px 0;color: #333;font-size: 16px;padding-left: 20px;background: url(/pc/ko/images/cart/bg_special_gift.png) no-repeat left 3px;}
/*.cart .gift_card > p:before {content:'';display:inline-block;width:45px;height: 27px;padding-right:10px;vertical-align: middle;background: url(/pc/ko/images/cart/ico_gift.png) no-repeat left 0;background-size:45px auto;}*/

.cart .item_list .item_change{display:none;margin-top:18px;}
.cart .item_list .item_change .select_wrap button,
.cart .item_list .item_change .ui_select button{height:58px;color:#888;font-size:18px;}
.cart .item_list .item_change .select_wrap button:after,
.cart .item_list .item_change .ui_select button:after{width:40px;height:40px;top:6px;right:10px;margin:0;border:none !important;background:url(/pc/ko/images/cart/bg_ui_select_down.png) no-repeat center center;}
.cart .item_list .item_change .select_wrap .ui_select.open button:after{background-image:url(/pc/ko/images/cart/bg_ui_select_up.png);}
.cart .item_list .item_change .select_wrap .ui_select button:hover,
.cart .item_list .item_change .select_wrap .ui_select.open button{border-color:#782fff;}
.cart .item_list .item_change .select_wrap .select_options{max-height:335px;margin-top:0;border-color:#782fff;border-top:none;}
.cart .item_list .item_change .select_wrap .select_options li{margin:0;padding:0;border-top:1px solid #ebebeb;}
.cart .item_list .item_change .select_wrap .select_options li:first-child{border-top:none;}
.cart .item_list .item_change .select_wrap .select_options li a{width:100%;height:auto;padding:20px;color:#333;font-size:18px;line-height:normal;}
.cart .item_list .item_change .select_wrap .select_options li .op_name{display:table-cell;width:400px;vertical-align:middle;}
.cart .item_list .item_change .select_wrap .select_options li .op_price{display:table-cell;width:301px;text-align:right;font-weight:bold;vertical-align:middle;}
.cart .item_list .item_change .select_wrap .select_options li .op_price del{margin-left:5px;font-weight:normal;font-size:14px;}

.cart .special_gift{margin:10px 0 50px;padding:0;border-top:none;}
.cart .special_gift dt{position:relative;padding:16px 20px;background:#f8f8f8;}
.cart .special_gift dt:hover{cursor:pointer;}
.cart .special_gift dt .tit{padding-left:20px;color:#333;font-size:16px;background:url(/pc/ko/images/cart/bg_special_gift.png) no-repeat left center;}
.cart .special_gift dt button{top:5px;background:url(/pc/ko/images/cart/bg_gift_arr_down.png) no-repeat center center;}
.cart .special_gift dt.on button{background-image:url(/pc/ko/images/cart/bg_gift_arr_up.png);}
.cart .special_gift dd{border-top:none;margin:0;padding:0;background:#f8f8f8;}

/*장바구니, 주문결제 공통 슬라이드*/
.cart .cart_list .sprd_list li{position:relative;width:109px;text-align:center;padding:0;margin:0 0 0 60px;}
.cart .cart_list .special_gift .sprd_list li{margin-left:50px;}
.cart .cart_list .sprd_list li img{width:109px;height:109px;}
.cart .cart_list .sprd_list li .tit{display:block;margin-top:10px;color:#333;font-size:14px;}
.cart .cart_list .sprd_list li .ellipsis{width:109px;margin-top:5px;overflow:hidden;display:-webkit-box;word-wrap:break-word;text-overflow:ellipsis;line-height:17px;color:#333;font-size:14px;-webkit-line-clamp:2;-web-box-orient:vertical;}
.cart .cart_list .sprd_list li .num{display:block;margin-top:5px;font-family:"Roboto", "Nanum Barun Gothic", "나눔 바른 고딕","맑은 고딕", "Malgun Gothic"}
.cart .cart_list .sprd_list [class*='_direction'] .ix-btn-prev{width:34px;height:34px;background:url(/pc/ko/images/cart/bg_special_gift_prev.png) no-repeat left top; left:0;}
.cart .cart_list .sprd_list [class*='_direction'] .ix-btn-next{width:34px;height:34px;background:url(/pc/ko/images/cart/bg_special_gift_next.png) no-repeat left top; right:0;}
.cart .cart_list .sprd_list li .check_wrap{position:absolute;left:0;top:0;}
.cart .cart_list .sprd_list li .check_wrap > input{width:34px;height:34px;}

.cart .promotion_bar{position:relative;margin:50px -20px 30px;}
.cart .promotion_bar.beauty{padding:15px 20px 14px;background:#d1eef7;}
.cart .promotion_bar .tit{color:#000;font-size:18px;font-weight:normal;}
.cart .promotion_bar .tit em{display:inline-block;min-width:98px;margin-right:10px;border-radius:17px;border:1px solid #b3b397;padding:6px 0px 7px;vertical-align:middle;text-align:center;color:#222;font-size:16px;font-weight:normal;}
.cart .promotion_bar .tit .no{border-color:#f8d2b2;color:#ff0000;}
.cart .promotion_bar .point{position:absolute;right:20px;top:6px;}
.cart .promotion_bar .point .hold{display:inline-block;border:1px solid #97adb3;border-radius:18px;padding:6px 6px 6px 16px;vertical-align:middle;text-align:right;font-size:16px;}
.cart .promotion_bar .point .hold em{vertical-align:middle;color:#333;font-weight:bold;}
.cart .promotion_bar .point .hold span{display:inline-block;width:21px;height:21px;margin-left:6px;line-height:21px;text-align:center;border-radius:11px;border:1px solid #373738;color:#222;font-size:13px;}
.cart .promotion_bar .point .price{margin-left:10px;color:#333;font-size:16px;font-weight:bold;vertical-align:middle;letter-spacing:-0.25px;}
.cart .promotion_bar.event{padding:8px 20px;background:#f7f7d1;}
.cart .promotion_bar.event .txt{width:550px;display:inline-block;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis;line-height:22px;color:#000;font-size:18px;white-space:nowrap;vertical-align:middle;}
.cart .promotion_bar.event .point{top:17px;}
.cart .caution{padding:0 20px 0 0;color:#ff0000;font-size:14px;}
.cart .promotion_bar+.caution{margin-top:-10px;}

/*주문결제*/
.cart .cart_list .receive{position:relative;margin-top:0;}
.cart .cart_list .receive.line{border-top:1px solid #e5e5e5;margin-top:30px;padding-top:30px;}
.cart .cart_list .receive .tit{color:#000;font-size:18px;}
.cart .cart_list .receive .new{position:absolute;right:0;top:30px;background:url(/pc/ko/images/order/bg_arr01.gif) no-repeat right center;}
.cart .cart_list .receive .new a{padding-right:10px;}
.cart .cart_list .receive .ui_list{margin-top:15px;}
.cart .cart_list .receive .ui_list li{margin-top:8px;font-size:16px;}
.cart .cart_list .receive .ui_list li:first-child{margin-top:0;}
.cart .cart_list .receive .ui_list.txt li{margin-top:20px;} /*인풋 안들어가고 내용만*/
.cart .cart_list .receive .ui_list.txt li:first-child{margin-top:0;}
.cart .cart_list .receive .ui_list li .stit{display:table-cell;width:95px;vertical-align:middle;color:#000;font-size:16px;}
.cart .cart_list .receive .ui_list li .name{display:table-cell;color:#000;}
.cart .cart_list .receive .ui_list li .name input[type="text"]{width:330px;}
.cart .cart_list .receive .ui_list li .name{display:table-cell;}
.cart .cart_list .receive .ui_list li .tel{display:table-cell;}
.cart .cart_list .receive .ui_list li .tel .select_wrap,
.cart .cart_list .receive .ui_list li .tel .select_wrap button,
.cart .cart_list .receive .ui_list li .tel .select_wrap .ui_select>button{width:105px;}
.cart .cart_list .receive .ui_list li .tel input[type="text"]{width:215px;}
.cart .cart_list .receive .ui_list li .tel .first input[type="text"]{width:105px;}
.cart .cart_list .receive .ui_list li .email{display:table-cell;}
.cart .cart_list .receive .ui_list li .email input[type="text"]{width:330px;}
.cart .cart_list .receive .ui_list li  .address{display:table-cell;}
.cart .cart_list .receive .ui_list li .address input[type="text"]{width:653px;}
.cart .cart_list .receive .ui_list li .address .zip input[type="text"]{width:158px;}
.cart .cart_list .receive .ui_list li .address .zip a{margin-left:4px;}
.cart .cart_list .receive .ui_list li .address .etc input[type="text"]{margin-top:8px;}
/*.cart .cart_list .receive .ui_list li .address .check_wrap{margin-top:12px;}*/
.cart .cart_list .receive .ui_list li .bank{display:table-cell;}
.cart .cart_list .receive .ui_list li .radio{display:table-cell;}
.cart .cart_list .receive .ui_list li .top{vertical-align:top;padding-top:10px;}
.cart .cart_list .receive .ui_list li *{font-size:16px;}
.cart .cart_list .receive .ui_list li .mgt_15{margin-top:15px;}
.cart .cart_list .receive .delivery_list{max-height:355px;overflow:hidden;}
.cart .cart_list .receive .delivery_list.on{max-height:none;overflow:visible;}
.cart .cart_list .receive .delivery_list li{position:relative;margin-top:14px;padding:20px;border:1px solid #eaeaea;border-radius:10px;color:#000;font-size:16px;}
.cart .cart_list .receive .delivery_list li:first-child{margin-top:14px;}
.cart .cart_list .receive .delivery_list li.on{border-color:#782fff;}
.cart .cart_list .receive .delivery_list li .name{display:table-cell;width:575px;padding:0 30px 0 0;vertical-align:middle;}
.cart .cart_list .receive .delivery_list li .name .inner em{display:inline-block;margin:0 9px;padding-right:11px;color:#000;background:url(/pc/ko/images/order/bg_bar.gif) no-repeat right center;}
.cart .cart_list .receive .delivery_list li .name .inner em:first-child{margin-left:0;}
.cart .cart_list .receive .delivery_list li .name .txt{margin-top:8px;line-height:24px;}
.cart .cart_list .receive .delivery_list li .check{display:table-cell;text-align:left;vertical-align:middle;}
.cart .cart_list .receive .delivery_list li .check .check_wrap{margin:12px 0 0 0;}
.cart .cart_list .receive .btn_more{position:relative;display:block;margin-top:10px;text-align:center;background:#dcdddd;}
.cart .cart_list .receive .btn_more a{display:block;width:100%;padding:15px 0;color:#000;font-size:16px;}
.cart .cart_list .receive .btn_more a span{display:inline-block;padding-right:45px;background:url(/pc/ko/images/order/bg_more_arr.gif) no-repeat right center;}
.cart .cart_list .receive .btn_more .count{position:absolute;right:20px;top:18px;color:#888;font-size:14px;}

.cart .cart_list .delivery_order span.check_wrap{display:block;margin:15px 0 0 0;}
.cart .cart_list .delivery_order span.check_wrap:first-child{margin-top:0;}
.cart .cart_list .delivery_order span.check_wrap label{color:#000;font-size:18px;}
.cart .cart_list .delivery_order span.check_wrap em {color:#ff0000;font-size:14px;padding-left:10px;vertical-align: -1px;}
.cart .cart_list .delivery_order+.input_wrap{display:none;width:100%;font-size:16px;margin-top:15px;}

.cart .cart_list .use_list li{/*margin-top:20px;*/border-top:1px solid #e5e5e5;}
.cart .cart_list .use_list li:first-child{border-top:none;margin-top:0;}
.cart .cart_list .use_list li .inquiry{position:relative;margin-top:30px;}
.cart .cart_list .use_list li .inquiry .tit{display:block;margin-top:10px;color:#000;font-size:16px;font-weight:normal;}
.cart .cart_list .use_list li:first-child .inquiry,
.cart .cart_list .use_list li:first-child .inquiry .tit{margin-top:0;}
.cart .cart_list .use_list li .inquiry .sell{position:absolute;right:0;top:-10px;}
.cart .cart_list .use_list li .inquiry .sell .price{display:inline-block;margin-right:15px;vertical-align:middle;font-size:18px;font-weight:bold;color:#000;}
.cart .cart_list .use_list li .inquiry .sell .price em{color:#bbb;}
.cart .cart_list .use_list li .inquiry .sell .price em.on{color:#000;}
.cart .cart_list .use_list li .inquiry .sell a{padding:13px; vertical-align:middle;color:#222;font-size:14px;}
.cart .cart_list .use_list li .inquiry .sell input[type="text"]{width:100px;text-align:right;}
.cart .cart_list .use_list li .inquiry .sell .input_wrap .placeholder{width:100%;box-sizing:border-box;padding:0 11px;text-align:right;}
.cart .cart_list .use_list li .inquiry .sell .own{margin-right:16px;color:#999;font-size:16px;font-weight:normal;}
.cart .cart_list .use_list li .coupon_list{margin-top:15px;}
.cart .cart_list .use_list li .coupon_list li{position:relative;width:100%;margin:10px 0 0;border-top:none;}
.cart .cart_list .use_list li .coupon_list li:first-child{margin-top:0;}
.cart .cart_list .use_list li .coupon_list li p{display:table-cell;width:530px;padding-left:25px;color:#999;font-size:16px;background:url(/pc/ko/images/order/bg_arr02.gif) no-repeat left top;}
.cart .cart_list .use_list li .coupon_list li .price{display:table-cell;width:133px;text-align:right;font-size:16px;color:#999;}
.cart .cart_list .use_list li .coupon_list li .blank{display:table-cell;}
.cart .cart_list .use_list li .coupon_list+.txt{margin-top:15px;}

.cart .cart_list .guide_list{border-top:none;padding:0 20px 50px;}
.cart .cart_list.ui_accordion .guide_list{padding:0;}
.cart .cart_list .guide_list dt.txt{margin:0;padding:0;}
.cart .cart_list .guide_list dt.txt button:after{background:url(/pc/ko/images/order/bg_use_arr_down.gif) no-repeat center center;}
.cart .cart_list .guide_list dt.txt.on button:after{background-image:url(/pc/ko/images/order/bg_use_arr_up.gif);}
.cart .cart_list .guide_list dt.txt p{padding:20px 0;color:#484848;font-size:14px;}
.cart .cart_list .guide_list dt.txt button{position:absolute;right:-10px;top:11px;width:40px;height:40px;background:url(/pc/ko/images/order/bg_use_arr_down.gif) no-repeat center center;}
.cart .cart_list .guide_list dt.txt button.on{background-image:url(/pc/ko/images/order/bg_use_arr_up.gif);}

.cart .cart_list .guide_list .expl{margin:0;padding:20px;background:#f2f2f2;}
.cart .cart_list .guide_list .expl .tit{display:block;margin-top:20px;color:#484848;font-weight:normal;}
.cart .cart_list .guide_list .expl .tit:first-child{margin-top:0;}
.cart .cart_list .guide_list .expl ul li{margin-top:10px;color:#999;border-top:none;}

.cart .cart_list .use_list li:last-child .guide_list dt.txt p{padding-bottom:0;}
.cart .cart_list .use_list li:last-child .guide_list dt.txt.on p{padding-bottom:20px;}

/*툴팁*/
.cart .ui_tooltip{vertical-align:middle;}
.cart .ui_tooltip.detail{position:absolute;right:20px;top:14px;vertical-align: middle;}
.cart .ui_tooltip.detail>button{display:block;padding:4px 10px;position:relative;right:0;top:0;width:auto;height:auto;color:#333;font-size:14px;border:1px solid #d9d9d9;border-radius:14px;text-align:center;}
.cart .ui_tooltip.detail>button:after{width:auto;height:auto;background:none;}
.cart .ui_tooltip.detail .layer_tooltip{width:400px;margin-top:0;right:0;top:40px;}
.cart .ui_tooltip .layer_tooltip dt{padding:0 0 15px 0;margin:0 0 15px;border-bottom:1px solid #e5e5e5;color:#484848;}
.cart .ui_tooltip .layer_tooltip dd{padding:0;margin:0;border:none;color:#484848;font-size:14px;line-height:20px;font-weight:normal;}
.cart .ui_tooltip .ui_close{right:20px;top:15px;width:19px;height:19px;background:url(/pc/ko/images/order/bg_tooltip_close.gif) no-repeat left top;}
.cart .ui_tooltip .ui_close:before,
.cart .ui_tooltip .ui_close:after{display:none;}

.cart .cart_list .freegift{border-top:none;}
.cart .cart_list .freegift dl dt{padding:20px 0;margin:0;}
/*.cart .cart_list .freegift:last-child dl dt,
.cart .cart_list .freegift:last-child dl dd{padding-bottom:0;}*/
.cart .cart_list .freegift dl dt .tit{display:block;color:#000;font-size:18px;font-weight:normal;}
.cart .cart_list .freegift dl dt button{right:-1px;}
.cart .cart_list .freegift dl dd{padding:0;border:none;margin:0;}
.cart .cart_list .freegift dl dd .caution{margin:-10px 0 20px 0;padding:0;color:#ff0000;font-size:16px;}
.cart .cart_list .freegift.line{border-top:1px solid #e5e5e5;}
.cart .cart_list .freegift .giftcard li{}
.cart .cart_list .freegift .giftcard .txt .ellipsis{display:table-cell;width:590px;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis;line-height:32px;color:#000;font-size:16px;}
.cart .cart_list .freegift .giftcard .txt .price{display:table-cell;width:195px;text-align:right;color:#333;font-weight:bold;font-size:18px;}
.cart .cart_list .freegift .guide_list{margin-top:-20px;padding:0 0 50px;}

.cart .cart_list .credit_list {margin-right:-6px;}
.cart .cart_list .credit_list ul {}
.cart .cart_list .credit_list ul:after {content:''; clear:both; display:block;}
.cart .cart_list .credit_list ul>li {float:left; width:129px; height:98px; margin:1px;}
.cart .cart_list .credit_list .card_info {position:relative; height:56px; text-align:center;}
.cart .cart_list .credit_list .card_info>span {vertical-align:middle;}
.cart .cart_list .credit_list .name {display:block; font-weight:normal; font-size:14px; line-height:17px;}

.cart .cart_list .payway {margin-bottom:-20px; border-top:none;}
.cart .cart_list .payway dl {}
.cart .cart_list .payway dl.line{border-top:1px solid #e5e5e5;}
.cart .cart_list .payway dl dt {}
.cart .cart_list .payway dl dt {position:relative;padding:0;}
/*.cart .cart_list .payway dl dt:after {content:''; clear:both; display:block; position:absolute; top:50%; left:0; width:34px; height:34px; margin-top:-17px;}*/
.cart .cart_list .payway dl dt button{position:relative;width:100%;height:100%;color:#000; font-size:18px;box-sizing:border-box;right:0;top:0;padding:18px 18px 18px 48px;}
.cart .cart_list .payway dl dt button:after{left:0;top:10px;background:url(/pc/ko/images/order/ico_order_check_off.gif) no-repeat left center;}
.cart .cart_list .payway dl dt.on button:after{background:url(/pc/ko/images/order/ico_order_check_on.gif) no-repeat left center;}
.cart .cart_list .payway dl dt .check_wrap{display:none;position:absolute;right:0;top:0;width:auto;padding-right:0;}
.cart .cart_list .payway dl dt.on .check_wrap{display:block;}
.cart .cart_list .payway dl dd{border:none;padding:0;margin:0;}
.cart .cart_list .payway dl:last-child dt,
.cart .cart_list .payway dl:last-child dd {border-bottom:0 none;}

/* 신용카드 결제 */
.cart .cart_list .payway .onepay em{margin-left:10px;color:#7052ce;font-size:15px;}
.cart .cart_list .payway .credit_list{margin-right:-6px;padding-bottom:50px;}
.cart .cart_list .payway .credit_list:after {content:''; clear:both; display:block;}
.cart .cart_list .payway .credit_list li{float:left;width:129px;height:100px;}
.cart .cart_list .payway .credit_list li a{display:block;width:129px;height:100px;box-sizing:border-box;text-align:center;}
.cart .cart_list .payway .credit_list li.on a{border:1px solid #782fff;}
.cart .cart_list .payway .credit_list li .thumb{display:table-cell;width:129px;height:56px;vertical-align:middle;}
.cart .cart_list .payway .credit_list li .thumb img{vertical-align:middle}
.cart .cart_list .payway .credit_list li .name {display:block; font-weight:normal; font-size:14px; line-height:17px;color:#333;}

.cart .cart_list .payway .receive{padding:30px 0;background:url(/pc/ko/images/order/bg_dash.gif) repeat-x left top;}
.cart .cart_list .payway .receive>.ui_list{margin-top:0;}
.cart .cart_list .payway .receive .select_wrap,
.cart .cart_list .payway .receive .select_wrap button{width:330px;font-size:16px;}
.cart .cart_list .payway .receive .select_wrap li{margin-top:0;}
.cart .cart_list .payway .receive input[type="text"]{width:330px;}
.cart .cart_list .payway .receive input[type="radio"]{margin-left:30px;}
.cart .cart_list .payway .receive .space{margin-top:20px;}
.cart .cart_list .payway .receive .txt_tel{line-height:24px;color:#484848;font-size:14px;}
.cart .cart_list .payway .receive .txt_tel em{color:#0000ff;}
.cart .cart_list .payway .receive .txt_tel.mgt10 {margin-top:10px;}
.cart .cart_list .payway .receive.cont_naver{display:none;}
.cart .cart_list .payway .receive.cont_bankbook{display:none;}
.cart .cart_list .payway .receive.cont_realtime{display:none;}
.cart .cart_list .payway .receive.cont_phone{display:none;}

/*주문결제 완료*/
.order_fin{margin-bottom:20px;padding:50px 0;background:#fff;text-align:center;}
.order_fin dt{color:#333;font-size:26px;}
.order_fin dt em{display:block;margin-bottom:15px;font-size:18px;color:#782fff;}
.order_fin dd{margin-top:25px;color:#999;font-size:14px;line-height:20px;}

.btn_area_order{display:block;text-align:center;margin-top:50px;}

/*결제상세내역 : 오른쪽 사이드 바*/
.cart .pay_list dl{padding:0 20px;background:#fff;letter-spacing:-0.25px;}
.cart .pay_list dl dt{padding:20px 0;color:#000;font-size:18px;font-weight:bold;}
.cart .pay_list dl .result{padding:25px 0 18px;border-top:1px solid #e5e5e5;font-size:15px;}
.cart .pay_list dl .result .tit{margin-top:16px;}
.cart .pay_list dl .result .tit:first-child{margin-top:0;}
.cart .pay_list dl .result strong{display:table-cell;width:140px;color:#000;}
.cart .pay_list dl .result .price{display:table-cell;width:155px;text-align:right;font-weight:bold;}
.cart .pay_list dl .result ul li{margin-top:13px;font-size:15px;}
.cart .pay_list dl .result ul li:first-child{margin-top:14px;}
.cart .pay_list dl .result ul li em{display:table-cell;width:350px;padding-left:22px;color:#999;background:url(/pc/ko/images/cart/bg_payment_arr.png) no-repeat left top;}/* 2018-08-22 */
.cart .pay_list dl .result ul li .price{font-weight:normal;}
.cart .pay_list dl .total{padding:11px 0 28px;border-top:2px solid #f2f2f2;font-weight:bold;}
.cart .pay_list dl .total .set strong{display:table-cell;width:130px;color:#782fff;font-size:18px;}
.cart .pay_list dl .total .set .price{display:table-cell;width:165px;text-align:right;color:#782fff;font-size:28px;}
.cart .pay_list dl .total .set .price .small{font-size:15px;}
.cart .pay_list dl .total .beauty{margin-top:15px;}
.cart .pay_list dl .total .beauty strong{display:table-cell;width:165px;color:#4f94c0;font-size:15px;}
.cart .pay_list dl .total .beauty .point{display:table-cell;width:150px;text-align:right;color:#4f94c0;font-size:15px;}
.cart .pay_list dl .total .beauty .ui_tooltip button{width:25px;height:20px;padding-top:1px;}
.cart .pay_list dl .total .beauty .ui_tooltip button:after{top:0;}
.cart .pay_list dl .total .beauty .ui_tooltip .layer_tooltip{width:293px;right:-172px;}
	.msie .cart .pay_list dl .total .beauty .ui_tooltip .layer_tooltip{width:295px;}
.cart .pay_list dl .total .beauty .ui_tooltip .layer_tooltip dl{padding:0;}

.cart .pay_list .btn_area{margin-top:20px;padding:0;}
.cart .pay_list .btn_area .btn_xlg_primary{width:293px;}
.cart .pay_list .buy_agree{margin-top:20px;padding:20px;background:#fff;}
.cart .pay_list .buy_agree .check_wrap label{font-weight:bold;color:#333;font-size:18px;}
.cart .pay_list .buy_agree .txt{margin-top:10px;font-size:13px;color:#888;line-height:20px;}
.cart .pay_list .buy_agree .txt em{display:block;margin-top:5px;color:#888;}

/*아코디언 속 슬라이드 */
.cart .cart_list.tgArea dt{background:url(/pc/ko/images/cart/bg_cart_arr_down.png) no-repeat 788px center;}
.cart .cart_list.tgArea dt.on{background:url(/pc/ko/images/cart/bg_cart_arr_up.png) no-repeat 788px center;}
.tgArea.freegift dt{background:url(/pc/ko/images/cart/bg_cart_arr_down.png) no-repeat right center;}
.tgArea.freegift dt:hover{cursor:pointer;}
.tgArea.freegift dt.on{background:url(/pc/ko/images/cart/bg_cart_arr_up.png) no-repeat right center;}
.cart .cart_list.tgArea dd{border-top:1px solid #e5e5e5;border-bottom:none;margin:0;padding:0;}
.tgArea.special_gift dd .cart_cont,
.cart .cart_list.tgArea dd .cart_cont {margin:0 20px;padding:30px 0 50px;}
.tgArea.freegift dd .cart_cont{margin:0;padding:10px 0 50px;}
.tgArea > dl > dd {visibility: hidden; height:0; margin:0; opacity:0; z-index:0;}
.tgArea > dl > dt.on + dd {visibility:inherit; height:auto; opacity:1; z-index:-1;}

/* 주문결재 슬라이드 유닛 관련 */
.cart .product_box .benefit {width:100%; padding:0 15px; text-align:left;}
.cart .cart_list.tgArea dd .cart_cont_slide {margin: 0 20px; padding: 30px 0;}

/*비회원 구매 이용약관*/
.cart .cont_terms .h_title.d3{margin-top:50px;font-weight:bold;}
.cart .cont_terms .h_title.d3:first-child{margin-top:0;}
.cart .cont_terms .box_terms{width:100%;height:480px;margin-top:20px;box-sizing:border-box;border:1px solid #e5e5e5;background:#fff;/*overflow-y:scroll;*/}
.cart .cont_terms .agree{margin-top:15px;text-align:right;}
.cart .cont_terms .btn_area{margin-top:30px;padding:0;border-top:2px solid #000;text-align:center;display:block;}
.cart .cont_terms .btn_area .agree{margin-top:15px;text-align:left;}

/* 장바구니 목록 없을경우 */
.cart .basket_nodata{margin-bottom:10px;height:455px;background:#fff;}
.cart .basket_nodata p{opacity:1;font-size:18px;font-weight: bold;text-align: center;color:#fff;}
.cart .item_area{}
.cart .item_area .inner{position:relative;width:545px;height:106px;background:url(/pc/ko/images/cart/bg_item_area.png) no-repeat 0 0;margin:40px auto 0;}
.cart .item_area p{padding-top:180px;text-align:center;font-weight:bold;}
.cart .item_area .best_go{position:absolute;right:20px;top:50%;margin-top:-11px;}
.cart .item_area .best_go a{font-size:16px;color:#333;font-weight: bold;height:22px;line-height:22px;}
.cart .item_area .best_go a span{padding-right:18px;background:url(/pc/ko/images/cart/bg_best_more.png) no-repeat right center;}
.cart .item_area .tumb_slide{display:inline-block;}
.cart .item_area .tumb_slideBox{width:300px;height:106px;overflow:hidden;padding-left:44px}
.cart .item_area .tumb_slideBox ul{white-space:nowrap;}
.cart .item_area .tumb_slide li{position:relative;float:right;margin:20px 0 20px -20px;border-radius:50%;width:57px;height:57px;border:2px solid #fff;background-size:150% !important;background-repeat:no-repeat !important;background-position:center center !important;display:block;-webkit-transition: all .2s;-moz-transition: all .2s;-o-transition: all .2s;-ms-transition: all .2s;transition: all .2s;vertical-align:middle;line-height:82px;}
.cart .item_area .tumb_slide li.act{width:67px;height:67px;-webkit-transition: all .2s;-moz-transition: all .2s;-o-transition: all .2s;-ms-transition: all .2s;transition: all .2s;margin: 16px 0 10px -20px;}

