@charset "UTF-8";


.bg_fff{background:#fff !important;}

/* 고객 센터 */
.ap_com_cont.cs_wrap .aside_area {width: 245px;}
.ap_com_cont.cs_wrap .aside_area {padding: 0 20px; background-color: #fff; border-top: 2px solid #000;}
.ap_com_cont.cs_wrap .aside_area .tit {width: auto; padding: 26px 0; margin: 0;}
.ap_com_cont.cs_wrap .aside_area .boxing .btn_cs {margin: 2px 0 2px 35px;}

.tab_menu_02 ul {width: 100%;}
.tab_menu_02 ul:after {content: ""; display: block; clear: both;}
.tab_menu_02 ul li {float: left; width: 50%;}
.tab_menu_02 ul li a {display: block; height: 50px; line-height: 48px; font-size: 16px; color: #888; text-align: center; border: 1px solid #cfcfcf; border-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #fff;}
.tab_menu_02 ul li:first-child a {border-left: 1px solid #cfcfcf;}
.tab_menu_02 ul li.on a {color: #000; font-weight: bold;}

/*
.ap_com_cont.cs_wrap .board_search {padding: 0;}
.ap_com_cont.cs_wrap .board_search   {background:transparent;}
.ap_com_cont.cs_wrap .board_search .select_wrap {margin-right: 1px;width: 186px; height: 80px;}
.ap_com_cont.cs_wrap .board_search .select_wrap>button {height: 80px; border: 0;}
.ap_com_cont.cs_wrap .board_search .input_wrap>input {height: 80px; border: 0; font-size: 20px;}
.ap_com_cont.cs_wrap .board_search .input_wrap {width: 584px; margin: 0;}
*/

.ap_com_cont.cs_wrap .board_search {padding: 0; background:transparent;}
/*
.ap_com_cont.cs_wrap .board_search:after {content: ""; display: block; clear: both;}
.ap_com_cont.cs_wrap .board_search .select_wrap, 
.ap_com_cont.cs_wrap .board_search .input_wrap {display: block; float: left;}
.ap_com_cont.cs_wrap .board_search .select_wrap {margin-right: 1px; width: 186px;}
*/

.ap_com_cont.cs_wrap .board_search {position: relative;}
.ap_com_cont.cs_wrap .board_search .select_wrap {width: 186px; position: absolute; left: 0; top: 0;}
.ap_com_cont.cs_wrap .board_search .select_wrap>button {height: 80px; font-size: 20px; border: 0;}
.ap_com_cont.cs_wrap .board_search .input_wrap {margin: 0 0 0 187px; width: 708px; position: relative;}
.ap_com_cont.cs_wrap .board_search .input_wrap>input {padding: 0 130px 0 30px; height: 80px; font-size: 20px; border: 0;}
.ap_com_cont.cs_wrap .board_search .input_wrap .btn_search_img {position: absolute; right: 0; top: 0; width: 130px;} 
.ap_com_cont.cs_wrap .board_search .input_wrap .btn_search_img {display: block; width: 130px; height: 80px; background: url("/pc/ko/images/common/ico_seach_glass.png") center center no-repeat;}

.ap_com_cont.cs_wrap .select_options {margin-top: 0; border: 1px solid #cfcfcf;}


.ap_com_cont.cs_wrap .ui_tab .tab_cont{margin-top:20px;}

.ap_com_cont.cs_wrap .board_list table{border-top:1px solid #e1e1e1;}
.ap_com_cont.cs_wrap .board_list table thead th{border-bottom:1px solid #e1e1e1;}
.ap_com_cont.cs_wrap .align_left{text-align:left !important;}

.ap_com_cont.cs_wrap .select_wrap>button:before{display: block;content: "";position: absolute;top: 0;width: 0;height: 0;}
.ap_com_cont.cs_wrap .select_wrap>button:before {right:20px; top:40px;width: 14px; height: 3px;background: #000;transform: rotate(-45deg);}
.ap_com_cont.cs_wrap .select_wrap>button:after, .ap_com_cont.cs_wrap .ui_select>button:after{border:none;right:28px; margin-top:0px;width: 14px; height: 3px;background: #000;transform: rotate(45deg);}


/*고객센터 view*/
.ap_com_cont.cs_wrap .board_view{ position:relative; padding:20px;}
.ap_com_cont.cs_wrap .board_view .view_cont{min-height:300px; border-bottom:none; line-height:1.5; font-size:14px;}
.ap_com_cont.cs_wrap .board_btns{position:absolute; bottom:20px; right:20px;}
.ap_com_cont.cs_wrap .rside .btn_sm_neutral{line-height:30px; min-width:64px;}
.ap_com_cont.cs_wrap .paging {display:table; width:100%;}
.ap_com_cont.cs_wrap .paging li{padding:25px 0; border-top:1px solid #ececec;}
.ap_com_cont.cs_wrap .paging li span{display:table-cell;}
.ap_com_cont.cs_wrap .paging li .prev, .ap_com_cont.cs_wrap .paging li .next{padding:0 85px 0 50px;vertical-align: middle;}


/*고객센터 faq*/
.ap_com_cont.cs_wrap .board_menu_area{overflow:hidden; background:#fff; padding:30px 0 24px 0; border:1px solid #eded;}
.ap_com_cont.cs_wrap .board_menu_area li{font-size:17px;}
.ap_com_cont.cs_wrap .board_menu_area li.on button span:after{position: absolute;bottom: -5px;left: 0;content: '';display: block;clear: both;width:100%; height:3px; background:#333;}
.ap_com_cont.cs_wrap .board_menu_area>ul>li:after{content:none;}
.ap_com_cont.cs_wrap .board_toggle{background:#fff;s}
.ap_com_cont.cs_wrap .board_toggle table thead th{border-top:none; border-bottom:1px solid #e1e1e1;}
.ap_com_cont.cs_wrap .board_toggle table tbody td{padding:25px 0; color:#333;}
.ap_com_cont.cs_wrap .board_toggle .type{color:#333;}
.ap_com_cont.cs_wrap .board_toggle .answer{margin:0 75px; word-break:break-all;word-wrap:break-word; font-size:15px; line-height:23px;color: #333;}
.ap_com_cont.cs_wrap .board_toggle .answer .txt_answer{display:inline-block; color:#782fff; margin-bottom:0;}
.ap_com_cont.cs_wrap .board_toggle .question button span{font-size:15px;}

/*1:1 상담등록*/
.advice_board .layer{padding-bottom:30px;}
.advice_board .layer_title{text-align:center;padding:30px 0;line-height:19px;}
.advice_board .layer_cont{padding:0 30px;}
.advice_board .form .board_write{border-bottom:1px solid #ebebeb;}
.advice_board .form .board_write dl{border-bottom:none; padding-top:10px; margin-top:0;}
.advice_board .form .board_write dl:last-child{padding-bottom:10px;}
.advice_board .form .board_write dl >* {padding:0;}
.advice_board .form .board_write.s120 dl>dt{width:110px;}
.advice_board .select_wrap.w300px{width:300px;}
.advice_board .input_wrap.w300px{width:300px;}
.advice_board .input_wrap.w100p, .advice_board .textarea.w100p{width:100%;}
.advice_board .input_wrap .btn_del{right:7px;}

.advice_board .attach_wrap {width:100%; margin-top:10px; padding-top:59px; overflow:hidden; position:relative;}
.advice_board ul.attach > li {margin:0 10px 10px 0;}
.advice_board ul.attach > li.input_file_btn_area {width:99px; height:44px !important; margin:0; position:absolute; top:0px; left:0; z-index:1; overflow:hidden;}
.advice_board .ui_input_images .attach{}
.advice_board .ui_input_images .attach_file label {width:auto; height:auto; font-size: 14px; padding: 11px 13px 12px; border-radius: 3px; border:1px solid #999; color:#000; font-weight:600; background: linear-gradient(to bottom, #fefefe 0%,#eeedf2 100%); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#eeedf2')"; line-height:1.4;}
.advice_board .ui_input_images .attach>*{width:120px; height:120px;}
.advice_board .ui_input_images .attach>*>img{width:120px; height:120px; border-radius: 0px;}
.advice_board .text_notice {position: absolute;top: 0px;left: 120px;font-size: 16px;}

.advice_board .form .ui_table>dl>dd>* + .w100p{margin-top:0;}
.advice_board .form .ui_table>dl>dd * + p.text{display:inline-block; margin-left:20px; margin-top:8px; font-size:16px;}
.advice_board .btn_md_form{display: inline-block;vertical-align: top;text-align: center;line-height: 1.2;font-size: 14px;min-width: 54px;padding: 12px 13px 11px;border-radius: 3px;  border: 1px solid #999;color: #000;font-weight: 600;background: linear-gradient(to bottom, #fefefe 0%,#eeedf2 100%);}
.advice_board .input_wrap .btn_del_s{position: absolute;top: 50%;right: 16px;margin-top: -8px; padding:0;line-height:0;}
.advice_board .input_wrap .btn_del_s .ico_close_s{width:11px; height:11px;}

.advice_board .form .board_write dd .textarea{position:relative;}
.advice_board .form .board_write dd .chk-bite{position:absolute; right:12px; bottom:12px; margin:0;}
.advice_board .form .board_write dd .textarea .placeholder{font-size:16px;}

.advice_board .layer_btns{margin-top:20px;}
.advice_board .attach_img{overflow:hidden;margin-left:0;}
.advice_board .attach_img .img img{width:120px; height:120px;}
.advice_board .attach_img ul li{width: 120px;height: 120px;margin: 10px 0 0 10px;float: left; background:#d2d2d2; position:relative;}
.advice_board .attach_img ul li:nth-child(1){margin-left:0;}
.advice_board .attach_img ul li:nth-child(6){margin-left:0;}

/*주문상품 선택*/
.layer_select .layer{padding:0 40px 30px 40px;}
.layer_select .layer_title{text-align:center; border-bottom:1px solid #333333; padding:30px 0; line-height:19px;}
.layer_select .layer_cont{margin-top:30px;}
.layer_select .panel.notice .text {color:#999999; font-size:16px;}
.layer_select .btn_md_primary{height:44px;}
.layer_select .ico_date{background: url(/pc/ko/images/common/ico_calendar_02.png) no-repeat;}