@charset "UTF-8";

/* 고객 센터 */
.ap_com_cont.cs_wrap .aside_area {width: 245px;}
.ap_com_cont.cs_wrap .aside_area {padding: 0 20px; background-color: #fff; border-top: 2px solid #000;}
.ap_com_cont.cs_wrap .aside_area .tit {width: auto; padding: 26px 0; margin: 0;}
.ap_com_cont.cs_wrap .aside_area .boxing .btn_cs {margin: 2px 0 2px 35px;}

.tab_menu_02 ul {width: 100%;}
.tab_menu_02 ul:after {content: ""; display: block; clear: both;}
.tab_menu_02 ul li {float: left; width: 50%;}
.tab_menu_02 ul li a {display: block; height: 50px; line-height: 48px; font-size: 16px; color: #888; text-align: center; border: 1px solid #cfcfcf; border-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #fff;}
.tab_menu_02 ul li:first-child a {border-left: 1px solid #cfcfcf;}
.tab_menu_02 ul li.on a {color: #000; font-weight: bold;}

/*
.ap_com_cont.cs_wrap .board_search {padding: 0;}
.ap_com_cont.cs_wrap .board_search   {background:transparent;}
.ap_com_cont.cs_wrap .board_search .select_wrap {margin-right: 1px;width: 186px; height: 80px;}
.ap_com_cont.cs_wrap .board_search .select_wrap>button {height: 80px; border: 0;}
.ap_com_cont.cs_wrap .board_search .input_wrap>input {height: 80px; border: 0; font-size: 20px;}
.ap_com_cont.cs_wrap .board_search .input_wrap {width: 584px; margin: 0;}
*/

.ap_com_cont.cs_wrap .board_search {padding: 0; background:transparent;}
/*
.ap_com_cont.cs_wrap .board_search:after {content: ""; display: block; clear: both;}
.ap_com_cont.cs_wrap .board_search .select_wrap, 
.ap_com_cont.cs_wrap .board_search .input_wrap {display: block; float: left;}
.ap_com_cont.cs_wrap .board_search .select_wrap {margin-right: 1px; width: 186px;}
*/

.ap_com_cont.cs_wrap .board_search {position: relative;}
.ap_com_cont.cs_wrap .board_search .select_wrap {width: 186px; position: absolute; left: 0; top: 0;}
.ap_com_cont.cs_wrap .board_search .select_wrap>button {height: 80px; font-size: 20px; border: 0;}
.ap_com_cont.cs_wrap .board_search .input_wrap {margin: 0 0 0 187px; width: 708px; position: relative;}
.ap_com_cont.cs_wrap .board_search .input_wrap>input {padding: 0 130px 0 30px; height: 80px; font-size: 20px; border: 0;}
.ap_com_cont.cs_wrap .board_search .input_wrap .btn_search_img {position: absolute; right: 0; top: 0; width: 130px;} 
.ap_com_cont.cs_wrap .board_search .input_wrap .btn_search_img {display: block; width: 130px; height: 80px; background: url("/pc/ko/images/common/ico_seach_glass.png") center center no-repeat;}

.ap_com_cont.cs_wrap .select_options {margin-top: 0; border: 1px solid #cfcfcf;}

