@charset "UTF-8";

/*이벤트 - 스페셜기프트*/
.evt_special_gift .com_banner{padding-top: 35px;height: 150px;background-color: #c8abdc;text-align: center;}
.evt_one_plus .com_banner{padding-top: 35px;height: 150px;background-color: #c8abdc;text-align: center;}
.evt_sale .com_banner{padding-top: 35px;height: 150px;background-color: #c8abdc;text-align: center;}
.evt_hotdeal .com_banner{padding-top: 45px;height: 150px;text-align: center;background:url('/pc/ko/images/event/title_hotdeal_bg.png') 50% 0;}

.event.overview .title_wrap{padding: 25px 0;}
.event.overview .title_wrap .float_right > *{margin: 0;}
.event.overview .title_wrap .float_right .search_sort{margin-top: 3px;}
.event.overview .title_wrap .float_right .select_wrap{margin-left: 20px;}

.evt_special_gift .list_product > ul{margin:-20px 0 0 -20px;}
.evt_special_gift .list_product > ul > li{width: 386px;margin:20px 0 0 20px;}

.special_gift_list{}
.special_gift_list .product_box .visual_section{height:210px; margin-bottom: 89px; padding-top:10px;}
.special_gift_list .product_box .visual_section {}
.special_gift_list .product_box .visual_section img {width:200px; height:200px;}
.special_gift_list .product_box .visual_section img + img {top:10px; margin-left:-100px;}
.special_gift_list>ul {margin:-20px -20px 0 0;}
.special_gift_list>ul>li{width:386px; margin:20px 20px 0 0; position: relative;}
.special_gift_list>ul>li .slide{overflow:hidden; position: absolute;top: 225px;left: 1px;z-index: 1;width:calc(100% - 2px)}
.special_gift_list>ul>li .slide .ix-list-item{width: 84px;margin:0 0 0 30px;}
.special_gift_list>ul>li .slide .ix-list-item img{width: 84px;height: 84px;}
.special_gift_list>ul>li .slide .ix-list-viewport{width:312px; padding: 0 30px; margin:0 auto;}
.special_gift_list .product_box {width:386px; height:455px;}
.special_gift_list .slide [class*='_direction'] [class^="ix-btn"] {width:9px; height:15px; margin-top:-4.5px; background:url(/pc/ko/images/common/btn_unit_slide.png) 0 0 no-repeat;}
.special_gift_list .slide [class*='_direction'] .ix-btn-next {background-position:0 -17px;}

.hotdeal_overview .com_banner{position: relative;}
.hotdeal_overview .com_banner h2 img{margin-right: 100px;}
.hotdeal_overview .com_banner .ui_remain_timer{position: absolute;top: 65px;left: 50%;margin-left: 105px;width: 170px;font-size: 40px;font-weight: 700;color: #fff;}
.hotdeal_overview .title_wrap .h_title.hotdeal{padding-left: 30px;background:url('/pc/ko/images/event/ico_hotdeal.png') 0 0 no-repeat;}
.hotdeal_overview .title_wrap .h_title.hotdeal span{color: #666;}
.hotdeal_overview .hotdeal_list{}
.hotdeal_overview .hotdeal_list .deal_box{overflow: hidden;height: 402px;}
.hotdeal_overview .hotdeal_list .deal_box > *{float: left; background-color: #fff;}
.hotdeal_overview .hotdeal_list .deal_box > div {width:794px; height:100%; text-align:center; overflow:hidden;}
.hotdeal_overview .hotdeal_list .deal_box > div > a > img {width:auto; height:100%;}
.hotdeal_overview .hotdeal_list .deal_box .info{position: relative;padding: 40px;width: 326px;height: 323px; text-align:left;}
.hotdeal_overview .hotdeal_list .deal_box .info .brand_name{font-size: 20px;font-weight: 700;}
.hotdeal_overview .hotdeal_list .deal_box .info .name{font-size: 30px;}
.hotdeal_overview .hotdeal_list .deal_box .info .discount{padding: 25px 0;font-size: 43px;color: #782fff;font-weight: 700;}
.hotdeal_overview .hotdeal_list .deal_box .info .price{}
.hotdeal_overview .hotdeal_list .deal_box .info .price strong{font-size: 24px;}
.hotdeal_overview .hotdeal_list .deal_box .info .price del{font-size: 20px;color: #888; margin-left:7px;}
.hotdeal_overview .hotdeal_list .deal_box .info .amount{padding-bottom: 20px;color: #666;}
.hotdeal_overview .hotdeal_list .deal_box .info .btns{position: absolute;bottom: 40px;left: 40px;margin-top: 0;text-align: left;}
.hotdeal_overview .hotdeal_list .deal_box .info .btns button{position: relative;width: 160px;height: 44px; border-radius:3px; background-color:#7f7f7f;}
.hotdeal_overview .hotdeal_list .deal_box .info .btns button + button {margin-left:4px;}
.hotdeal_overview .hotdeal_list .deal_box .info .btns button.on {background-color:#782fff;}
.hotdeal_overview .hotdeal_list .deal_box .info .btns button:disabled {background-color:#dadada;}
.hotdeal_overview .hotdeal_list .deal_box .info .btns .like:before{content: '';position: absolute;top: 50%;left: 50%;margin: -11px 0 0 -13px;width: 26px;height: 23px;background:url('/pc/ko/images/common/ico.png') -130px -101px no-repeat;}
.hotdeal_overview .hotdeal_list .deal_box .info .btns .cart {background-color:#782fff;}
.hotdeal_overview .hotdeal_list .deal_box .info .btns .cart:before{content: '';position: absolute;top: 50%;left: 50%;margin: -13px 0 0 -13px;width: 26px;height: 25px;background:url('/pc/ko/images/common/ico.png') -189px -100px no-repeat;}
.hotdeal_overview .hotdeal_list .deal_box + .deal_box{margin-top: 20px;}
.hotdeal_overview .hotdeal_list .deal_box > div.soldout > a {width:100%; height:100%; position:relative;overflow:hidden; display:inline-block;}
.hotdeal_overview .hotdeal_list .deal_box > div.soldout > a:after {content:''; width:795px; height:402px; background:url(/pc/ko/images/event/hotdeal_soldout.png) 0 0 no-repeat; position:absolute; top:0; left:0; z-index:1;}
.hotdeal_overview .comming_soon .event_box{position: relative;}
.hotdeal_overview .comming_soon .event_box .visual_section {width:100%; height:196px; text-align:center;}
.hotdeal_overview .comming_soon .event_box .visual_section > img {width:155px; height:155px; margin:20px 0 21px; }
.hotdeal_overview .comming_soon .event_box .d_day{position: absolute;top: 20px;left: 20px;display: inline-block;padding: 4px 12px;width: 42px;border:1px solid #333;border-radius: 24px;font-size: 13px;text-align: center;}
.hotdeal_overview .comming_soon .event_box .info_section{height:80px; padding:20px; border-top:1px solid #ebebeb; border-bottom:1px solid #babbbd;}
.hotdeal_overview .comming_soon .event_box .info_section > *{font-size: 16px; color:#333;}
.hotdeal_overview .comming_soon .event_box .info_section .date{margin-top: 17px;font-size: 14px;color: #666;}
.hotdeal_overview .comming_soon .event_box .info_section .name {margin-top:5px;}

/*브랜드관*/
.overview .title_wrap{overflow:hidden; position:relative; padding:0 10px 20px;}
.overview .title_wrap .float_right {position:absolute; top:0; right:0; text-align:right;}
.overview .title_wrap .float_right > *{margin: 0;}
.overview .title_wrap .float_right .search_sort{margin-top: 3px;}
.overview .title_wrap .float_right .select_wrap{margin-left: 20px;}
.brand_hall .com_banner{height: 150px;background-color: #b5b5aa;text-align: center;}
.brand_list > ul{overflow: hidden;margin: 0 0 -20px -19px;}
.brand_list > ul > li{float: left;margin:0 0 20px 19px;width: 387px;}
.brand_hall .brand_menu{position: relative;height: 60px;background-color: #fdb836;}
.brand_hall .brand_menu button{position: absolute;top: 0;display: inline-block;width: 60px;height: 60px;background: url('/pc/ko/images/common/tab_navi_white.png') no-repeat;}
.brand_hall .brand_menu .prev{left: 50%;margin-left: -660px;background-position: 0 0;}
.brand_hall .brand_menu .prev:hover{background-position: 0 100%;}
.brand_hall .brand_menu .next{right: 50%;margin-right: -660px;background-position: 100% 0;}
.brand_hall .brand_menu .next:hover{background-position: 100% 100%;}
.brand_hall .brand_menu .menu{overflow: hidden;width: 1200px;margin: 0 auto;}
.brand_hall .brand_menu .menu .inbox {height: 60px; margin: 0 20px; width: 1160px; overflow:hidden;}
.brand_hall .brand_menu ul:after {content: ""; display: block; clear: both;}
.brand_hall .brand_menu ul{width: 2000px; margin-left: -20px;}
.brand_hall .brand_menu ul li{float: left; height: 60px; overflow: hidden;}
.brand_hall .brand_menu ul li a{display: block; padding:19px 25px 20px;font-size: 18px;color: #fff;opacity:0.6;}
.brand_hall .brand_menu ul li a:hover,
.brand_hall .brand_menu ul li a.on{opacity: 1;}

.brand_banner {border-bottom:1px solid #999;}
.brand_banner .boxing {overflow:hidden; position:relative; max-width:2250px; margin:auto 0; height:592px;}

.brand_banner_wrap {position:relative; width: 100%; overflow: hidden;}
.brand_banner_wrap ul {position: relative; width: 100%;}
.brand_banner_wrap li{position:relative;width: 1200px;margin: 0 auto;}
.brand_banner_wrap li.wing:after{content:""; position:absolute; left:0; top:0; right:0; bottom:0; background:url("/pc/ko/images/common/brandN_sl_bg.png") 0 0 repeat; z-index:10}
.brand_banner_wrap li.brand_banner_left {position: absolute; left: 50%; top: 0; margin-left: -1800px; z-index: 1;}
.brand_banner_wrap li.brand_banner_center {z-index: 2;}
.brand_banner_wrap li.brand_banner_rignt {position: absolute; left: 50%; top: 0; margin-left: 600px ;  z-index: 1;}
.brand_banner_wrap > ul > li .brand_visual {width:673px; height:592px;}

.brand_banner .inner_box{overflow: hidden;width: 1200px;margin: 0 auto;}
.brand_banner .inner_box > *{float: left;}
.brand_banner .inner_box .brand_box{width: 673px;height: 592px;}
.brand_banner .inner_box .brand_box .brand_visual .brand_logo {width:243px; height:127px; position:absolute; top:80px; left:49px; display:inline-block;}
.brand_banner .inner_box .brand_box .brand_visual .brand_logo > img {width:100%;}
.brand_banner .inner_box .right{width: 527px;}
.brand_banner .inner_box .right > div{height: 296px;}
.brand_banner .inner_box .right .story{position: relative;}
.brand_banner .inner_box .right .story .text{position: absolute;top: 155px;left: 0;right: 0;font-size: 30px;color: #fff;text-align: center;}
.brand_banner .tags_box{top: 227px;left: 50px;}
.brand_banner .tags_box .list_tags{overflow: hidden;width: 350px;margin: -7px 0 0 -7px;}
.brand_banner .tags_box .list_tags li{float: left;margin: 7px 0 0 7px; width: auto;}
.brand_banner .brand_box .like .score{display: inline-block;padding-top: 5px;width: 100%;color: #fff;text-align: center;font-size: 16px;}
.brand_banner .brand_box .brand_info{position: absolute;bottom: 36px;left: 50px;text-align: left;}
.brand_banner .brand_box .brand_info .info_box{padding: 0;}
.brand_banner .brand_box .txt_type{display: inline-block;min-width: 80px;height: auto;padding: 6px 10px;border-color:#fff;color: #fff;font-size: 16px;background-color: transparent;border-radius: 33px}
.brand_banner .brand_box .txt_summary{margin-top: 18px;color: #fff;font-size: 23px;}http://localhost:9090/html/page/brand/brand-main.html#none
.brand_banner .brand_box .txt_summary .flag{color: #ffea00;}
.brand_banner .brand_box .txt_day{margin-top: 13px;color: #fff;font-size: 20px;}

.brand_banner .slide .ix-thumbs .ix-thumb .ix-btn {width:10px; height:10px; background:#8EAEBA;  border-radius:100%;}
.brand_direction {}
.brand_direction a {position: absolute; left: 50%; top: 50%; margin-top: -42px; z-index: 5; display:inline-block; text-indent:-9999px; width: 45px; height: 84px; }
.brand_direction .btn-prev {margin-left: -734px; background: url("/pc/ko/images/event/ico_prev.png") 0 0 no-repeat;}
.brand_direction .btn-next {margin-left: 689px; background: url("/pc/ko/images/event/ico_next.png") 0 0 no-repeat;}

.brand .inner_wrap {margin-top: 20px; width: 1200px; overflow:hidden; position: relative;}
.brand .inner_wrap .cushion_unit {float: left; margin-left: 20px;}
.brand .inner_wrap .cushion_unit + .cushion_unit {margin-left: 19px;}

/* 브랜드 목록 */
.brand .prd_category .breadcrumb {margin-top: 20px;}
.brand .prd_category .breadcrumb .select_wrap {min-width: auto; margin-top: -1px; background-color: transparent; font-size: 18px;}
.brand .prd_category .breadcrumb a {font-size: 18px;}

.brand .title_none {padding: 20px 0;}
.brand .title_none .search_sort {margin: 0;}

/*브랜드 스토리 레이어*/
.brand_story{}
.brand_story .slide .ix-list-item{width: 448px;}

.layer_wrap.photo_type{}
.layer_wrap.photo_type .layer{background: transparent;}
.layer_wrap.photo_type .layer_close{width: 33px;height: 33px;background: url('/pc/ko/images/common/icon_layer_photo.png') 100% 0 no-repeat;}
.layer_wrap.photo_type .layer_title{margin-right: 0;text-align: center;color: #fff;font-size: 26px;font-weight: 400;}
.layer_wrap.photo_type .paging{font-size: 18px; color: #ffffff; text-align: center;}
.layer_wrap.photo_type .paging .current{font-weight: 700; color: #fff;}
.layer_wrap.photo_type .paging .total{opacity: 0.5;}
.layer_wrap.photo_type .slide {margin-top: 25px;}
.layer_wrap.photo_type .slide [class*='_direction'] [class^="ix-btn"]{width: 50px;height: 50px;background:url('/pc/ko/images/common/icon_layer_photo.png') 0 -50px no-repeat;}
.layer_wrap.photo_type .slide [class*='_direction'] [class^="ix-btn"].disabled{background-position-y: 0;}
.layer_wrap.photo_type .slide [class*='_direction'] .ix-btn-prev{left: -70px;}
.layer_wrap.photo_type .slide [class*='_direction'] .ix-btn-next{right: -70px;-ms-background-position-x: -50px;background-position-x: -50px;background-position-y:-50px}


/* 뷰티 테스터 */
.beauty_tester_recruit{width: 1200px; margin: 0 auto; padding-bottom: 50px;}
.beauty_tester_recruit h2.page_title{height: 60px; padding-top: 20px; padding-left: 20px; font-size: 23px; font-weight: bold;}
.beauty_tester_recruit .tab_menu.bar{margin-top:-55px;height: 10px;background: transparent; padding: 0; text-align: right;}
.beauty_tester_recruit .tab_menu>ul>li>button>span {font-size:16px;color:#888;}
.beauty_tester_recruit .tab_menu>ul>li.on>button>span {color:#000;}
.beauty_tester_recruit .ui_tab .tab_cont{margin-bottom: 20px;}
.beauty_tester_recruit .tab_menu.bar>ul>li:after{display:none;}
	.tester_recruitment_list{margin: 0 0 -20px -21px;}
	.tester_recruitment_list:after{content:''; display: block; clear: both;}
	.tester_recruitment_list>li{float:left; width: 386px !important;height: auto !important; margin:0 0 20px 21px; background: #fff;}
	.tester_recruitment_list>li>a{display:block; position:relative;}
	.tester_recruitment_list .selected:after{content:''; position:absolute; top:0; right:0; left: 0; bottom: 0; border:1px solid #782fff}
	.tester_recruitment_list dl{height: 142px; padding: 20px; line-height: 22px;box-sizing: border-box;}
	.tester_recruitment_list .status{display:inline-block; min-width: 74px; height: 25px; padding: 0 8px; margin-bottom: 8px; font-size: 13px; color:#fff; line-height: 25px; text-align: center; background-color: #1fb3f1;}
	.tester_recruitment_list .closing .status{background-color: #44cd29;} /* 테스터발표_2018-08-28 */
	.tester_recruitment_list .review .status{background-color: #f15a1f;} /* 후기등록중_2018-08-28 */
	.tester_recruitment_list .ellipsis{display:block; margin-bottom: 3px; white-space: nowrap; text-overflow: ellipsis;}
	.tester_recruitment_list dd{color:#999}

.beauty_tester_recruit .section{margin-bottom: 20px; background: #fff;}
	.tester_process{height: 300px; padding:37px 40px 0; font-size: 15px;}
	.tester_process>dt{padding-bottom: 10px; font-size: 20px;}
	.tester_process .step{position:relative; margin: 50px -40px 20px; font-size: 16px; color:#999; text-align: center;}
	.tester_process .step:before{content:''; position:absolute; top:50%; left:12.5%; right:12.5%; height: 3px; margin-top: -1px; background: #ececec;}
	.tester_process .step:after{content:''; display: block; clear: both;}
	.tester_process .step>li{float:left; width: 25%;}
	.tester_process .step>li>*{display:block;}
	.tester_process .step .on>span:first-child{font-weight: bold; color:#000}
	.tester_process .step .on .date{color:#782fff}
	.tester_process .step .ico{position: relative; z-index: 1; display:block; width: 41px; height: 41px; margin: 10px auto; background:url(/pc/ko/images/event/ico_step.png) no-repeat 0 -41px;}
	.tester_process .step .on .ico{background-position: 0 0;}
	.tester_process .step .done{position:relative;}
	.tester_process .step .done .ico{background-position: 0 -82px;}
	.tester_process .step .done:after{content:''; position:absolute; top:50%; left:50%; width: 100%; height: 3px; margin-top: -1px; background: #782fff;}

.beauty_tester_recruit .clear {clear: both;overflow:hidden;}
.beauty_tester_recruit .clear>*{width: 590px;}
.beauty_tester_recruit .product_visual{display: inline-block;box-sizing: border-box;width: 790px; height: 402px; border-right: 1px solid #ebebeb; background: #fff; text-align: center;}
.beauty_tester_recruit .product_visual>img{height: 100%;}
.beauty_tester_recruit .product_info{position: relative;display: inline-block;box-sizing: border-box;vertical-align: top;width: 405px; height: 402px; padding: 38px 36px; background: #fff;}
.beauty_tester_recruit .product_info .product_name{font-size: 20px; line-height: 28px;}
.beauty_tester_recruit .product_info .price .discount{display:block; margin: 17px 0 19px; font-size: 34px; font-weight: bold;}
.beauty_tester_recruit .product_info .price b{font-size: 24px;}
.beauty_tester_recruit .product_info .price del{font-size: 20px; margin-left: 10px;}
.beauty_tester_recruit .product_info .btns{position: absolute; bottom:40px; left:40px;}
.beauty_tester_recruit .product_info .btns button{position: relative;width: 160px;height: 44px; border-radius:3px; background-color:#7f7f7f;border: 0;}
.beauty_tester_recruit .product_info .btns button + button {margin-left:4px;}
.beauty_tester_recruit .product_info .btns button.on {background-color:#782fff;}
.beauty_tester_recruit .product_info .btns button:disabled {background-color:#dadada;}
.beauty_tester_recruit .product_info .btns .like:before{content: '';position: absolute;top: 50%;left: 50%;margin: -11px 0 0 -13px;width: 26px;height: 23px;background:url('/pc/ko/images/common/ico.png') -130px -101px no-repeat;}
.beauty_tester_recruit .product_info .btns .cart {background-color:#782fff;}
.beauty_tester_recruit .product_info .btns .cart:before{content: '';position: absolute;top: 50%;left: 50%;margin: -13px 0 0 -13px;width: 26px;height: 25px;background:url('/pc/ko/images/common/ico.png') -189px -100px no-repeat;}
.beauty_tester_recruit [class^="ico_"]{width: 25px; height: 21px; background:url(/pc/ko/images/event/ico_tester.png) no-repeat;}
.beauty_tester_recruit .ico_good{}
.beauty_tester_recruit .ico_cart{background-position: 0 -21px;}

.beauty_tester_recruit .clear .h_title{display:block; height: 50px; padding:16px 0 0 20px; font-size: 16px; border-bottom: 1px solid #e5e5e5;box-sizing: border-box;}
.beauty_tester_recruit .clear .tab_menu.underline>ul>li>*{width: 100%; font-size: 16px; color:#999;}
.beauty_tester_recruit .clear .tab_menu.underline>ul>li.on>*{color:#782fff; border-color:#782fff;}
.beauty_tester_recruit .clear .tab_menu.underline>ul>li>.sr_only {width: auto;} /* 2018-08-29 */
.beauty_tester_recruit .clear > .section {float:right;margin-top: 20px;}
.beauty_tester_recruit .clear > .section.product_detail {float: left;}
.beauty_tester_recruit .clear > .section.product_detail .h_title{margin-bottom: 9px;}
.beauty_tester_recruit .clear> .section.ui_tab {background:none;}
.beauty_tester_recruit .clear> .section.ui_tab .tab_cont{margin-top: 0;}
.beauty_tester_recruit .clear> .section.ui_tab .tab_menu  {background:#fff;}
.beauty_tester_recruit .applying .dl_cont{padding: 40px; font-size: 16px; /*letter-spacing: -1px;*/}
.beauty_tester_recruit .applying .dl_cont dd + dt{margin-top: 23px;}
.beauty_tester_recruit .applying .dl_cont.reverse{margin-top: 0; background: #5b5b5b; color:#fff;}
.beauty_tester_recruit .applying .dl_cont.reverse b{color:#fff;}
.beauty_tester_recruit .applying .dl_cont.reverse ul{font-size: 13px;}
.beauty_tester_recruit .applying .dl_cont.reverse [class*="bullet_dot"]>li:before{background: #fff;}
.beauty_tester_recruit .applying .app_download {text-align:center;padding-bottom:30px;}
.beauty_tester_recruit .applying .app_download .info_txt {padding: 40px 0 10px 0;}
.beauty_tester_recruit .applying .app_download .info_txt span {display:block;line-height:20px;}
.beauty_tester_recruit .applying .app_download .info_txt span:first-child {font-size:16px;margin-bottom:10px;}
.beauty_tester_recruit .applying .app_download .txt {margin:15px 0 10px;color:#999;}
.beauty_tester_recruit .applying .app_download strong {display:block;margin-bottom:5px;font-size:16px;}
.beauty_tester_recruit .applying .app_download .input_wrap {margin-right:4px;}
.beauty_tester_recruit .applying .app_download .input_wrap input[type="text"] {width:230px;border-radius:4px;border-color:#999;}
/*.beauty_tester_recruit .applying .form .textarea{height: 120px; margin-top: 10px;}
.beauty_tester_recruit .applying .order_detail_list.apply{padding: 40px 30px; margin-top: 0;}
.beauty_tester_recruit .applying .title{padding-bottom: 20px; color:#222; font-size: 19px;}
.beauty_tester_recruit .applying .title + .return_info{padding-top: 20px; border-top: 1px solid #e5e5e5;}
.beauty_tester_recruit .applying .form .ui_table>dl>dd>*:first-child{width: 330px;}
.beauty_tester_recruit .applying .btn_lg_primary{margin-top: 48px;}*/
.beauty_tester_recruit .comment_list{padding: 7px 30px 25px;background: #fff;}
.beauty_tester_recruit .comment_list>li{padding: 30px 0; border: 0;}
.beauty_tester_recruit .comment_list>li + li{border-top: 1px solid #e5e5e5;}
.beauty_tester_recruit .comment_list>li>*{font-size: 13px;}
.beauty_tester_recruit .comment_list .cont{font-size: 15px; line-height: 22px;}
.beauty_tester_recruit .comment_list .user{margin-bottom: 10px;}
.beauty_tester_recruit .comment_list .control{color:#999;}
.beauty_tester_recruit .comment_list .control>span{margin-left: 10px;}
.beauty_tester_recruit .comment_list .url{margin-top: 10px; color:#999;}
.beauty_tester_recruit .table_layout{min-height:210px;}
	.tester_announce{text-align: center; padding: 40px 30px 25px; vertical-align: middle;}
	.tester_announce .text{color:#484848;}
	.tester_announce .text + .text{margin-top: 5px;}
	.tester_announce button{display:block;width:100%;height: 50px; margin: 27px 0 0; font-size: 18px;}
	.tester_announce button:disabled,
	.tester_announce button:disabled:hover{background: #ececec; color:#bcbcbc;border:0;}
	.tester_announce a.btn_lg_primary {margin-top:20px;padding: 14px 35px 15px;}
	.tester_announce .link{display:inline-block; margin-top: 23px;}
.beauty_tester_review_ilst{position:relative;}
.beauty_tester_review_ilst > .tab_menu {position: absolute;right: 0;top: 0;}
.beauty_tester_review_ilst > .tab_menu, .beauty_tester_review_ilst > .tab_menu li, .beauty_tester_review_ilst > .tab_menu>ul>li:first-child {border:0;}
.beauty_tester_review_ilst > .tab_menu li button {width: auto;height:47px;padding:5px 12px 5px 0;font-size: 13px;color: #222;font-weight:normal;background: #fff;}
.beauty_tester_review_ilst > .tab_menu li.on button {font-weight:bold;}
.beauty_tester_review_ilst > .tab_menu li span {width:auto;}
.beauty_tester_review_ilst .no_review{padding: 120px 0; text-align: center; color:#999; font-size: 18px;}
.beauty_tester_review_ilst .radio_set{position:absolute; top:15px; right:20px;}
.beauty_tester_review_ilst .radio_set .label_only>label{font-size: 13px;}
.beauty_tester_review_ilst .detail_review .tester_review{padding: 30px 29px;}
.beauty_tester_review_ilst .detail_review .tester_review ul{margin-left:-9px;}
.beauty_tester_review_ilst .detail_review .tester_review ul li{width:calc(100%/3); margin:0;padding: 0 0 9px 9px;box-sizing: border-box;}
.beauty_tester_review_ilst .detail_review .tester_review li.no_photo > a {display: table;box-sizing:border-box;border:1px solid #eaeaea;border-radius:12px;}
.beauty_tester_review_ilst .detail_review .tester_review li.no_photo > a:before {content:none;}
.beauty_tester_review_ilst .detail_review .tester_review .reviews ul li.no_photo > a .best{border:1px solid #ececec;border-radius:100%;} /* 2018-08-28 */
.beauty_tester_review_ilst .detail_review .tester_review li.no_photo > a .info {overflow:hidden;position: static;display: table-cell;vertical-align: middle;}
.beauty_tester_review_ilst .detail_review .tester_review li.no_photo > a .info .grade b {color:#222;height: auto;}
.beauty_tester_review_ilst .detail_review .tester_review li.no_photo > a .info .grade:before {background-position: 100% -16px;}
.beauty_tester_review_ilst .detail_review .tester_review li.no_photo > a .info b {display:block;height:76px;overflow:hidden;white-space: normal;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;color:#646464;}
.beauty_tester_review_ilst .detail_review .tester_review ul li a{height: 237px;}
.beauty_tester_review_ilst .detail_review .tester_review .info>*{font-size: 15px; line-height: 20px;}
.beauty_tester_review_ilst .detail_review .tester_review .grade{font-size: 15px;}
.beauty_tester_review_ilst .detail_review .tester_review .best{position:absolute; top:9px; right:8px;}
/* 당첨자 명단 */
.layer_wrap .prize_list {padding: 25px 30px; height: 274px; overflow:hidden;}
.layer_wrap .prize_list_wrap.open .prize_list {height: auto;}
.layer_wrap .prize_list li {margin-top: 20px; font-size: 12px; color: #999999;}
.layer_wrap .prize_list li:first-child {margin-top: 0;}
.layer_wrap .prize_list li span {display: block; font-size: 15px; color: #222; margin-bottom: 2px;}
/* 뷰티테스터 리뷰 */
.layer_wrap .review, .layer_wrap .prize_list {overflow:auto;height:700px;box-sizing: border-box;}
.layer_wrap .review_cont .title_box {padding:0 30px;line-height: 1.2;border-top: 1px solid #f2f2f2;}
.layer_wrap .review_cont .title_box .title {margin-top: 30px; font-size: 18px; color: #222222; font-weight: bold;}
.layer_wrap .review_cont .product_name {position: relative;display: block;margin: 10px 0 30px 0;padding-right: 15px;height: 28px; line-height: 28px; font-size: 15px; color: #782fff;}
.layer_wrap .review_cont .product_name .ico_arr  {position: absolute;top:0;right: 0;display: inline-block; width: 10px; height: 28px; background: url("/mo/ko/images/common/ico_title_arrow.png") 0 center no-repeat; background-size: 10px 18px;}
.layer_wrap .review_cont .inbox_cont {padding:0 30px;}
.layer_wrap .review_cont .inbox_cont .inbox:first-child {margin-top: 0;}
.layer_wrap .review_cont .inbox_cont .inbox {margin-top: 50px;}
.layer_wrap .review_cont .inbox_cont .inbox p {margin-top: 8px; padding: 0 16px; line-height: 1.5;}
.layer_wrap .review_cont .inbox_cont .inbox p:last-child {padding-bottom: 25px;}
.layer_wrap .review_cont .inbox_cont .inbox img + p {padding-top: 25px; margin-top: 0;}
.layer_wrap .review_cont .inbox_cont .type_04 .img_fl:after {content: ""; display: block; clear: both;}
.layer_wrap .review_cont .inbox_cont .type_04 .img_fl li {float: left; display: block; width: 49.5%; margin-left: 1%;}
.layer_wrap .review_cont .inbox_cont .type_04 .img_fl li:first-child {margin-left: 0;}
.layer_wrap .review_cont .inbox_cont .type_04 .img_fl +p {padding-top: 25px; margin-top: 0;}
.layer_wrap .review_cont .inbox_cont .inbox {position: relative; z-index: 30;}
.layer_wrap .review_cont .inbox_cont .inbox:after {content: ""; display: block; clear: both;}
.layer_wrap .review_cont .inbox_cont .inbox a {display: inline-block; color: #fff;}
.layer_wrap .review_cont .inbox_cont .inbox .share_area {float: left; display: inline-block;}
.layer_wrap .review_cont .inbox_cont .inbox .share_area img {width: 20px; height: 20px;}
.layer_wrap .review_cont .inbox_cont .inbox .recommend_area {float: right; display: inline-block;}
.layer_wrap .review_cont .inbox_cont .inbox .recommend_area img {width: 19px; height: 17px; margin: -3px 8px 0 0;}
.layer_wrap .review_cont .inbox_cont .inbox .recommend_area .num {margin-left: 6px; color: #fff; font-weight: bold;}
.layer_wrap .fix_bottom_wrap {position: absolute;bottom: 0; width:526px; height: auto;z-index:999;}
.layer_wrap .fix_bottom_wrap .fix_bottom {padding: 0 16px; height: 47px; line-height: 47px; position: relative;}
.layer_wrap .fix_bottom_wrap .fix_bottom:after {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 47px; background-color: #000; opacity:0.2;}
.layer_wrap .fix_bottom_wrap .inbox {position: relative; z-index: 30;}
.layer_wrap .fix_bottom_wrap .inbox:after {content: ""; display: block; clear: both;}
.layer_wrap .fix_bottom_wrap .inbox a {display: inline-block; color: #fff;}
.layer_wrap .fix_bottom_wrap .inbox .share_area {float: left; display: inline-block;}
.layer_wrap .fix_bottom_wrap .inbox .share_area img {width: 20px; height: 20px;}
.layer_wrap .fix_bottom_wrap .inbox .recommend_area {float: right; display: inline-block;}
.layer_wrap .fix_bottom_wrap .inbox .recommend_area img {width: 19px; height: 17px; margin: -3px 8px 0 0;}
.layer_wrap .fix_bottom_wrap .inbox .recommend_area .num {margin-left: 6px; color: #fff; font-weight: bold;}
.layer_wrap .fix_bottom_wrap .inbox .recommend_area .btn_help{display:inline-block;padding-top:12px;}
.layer_wrap .fix_bottom_wrap .inbox .recommend_area .btn_help:before{content: '';display: inline-block;padding-right:7px;width: 19px;height: 19px;vertical-align: -2px;background:url(/pc/ko/images/event/ico_recommend.png) 0 2px no-repeat;background-size: 19px 17px;}
.layer_wrap .fix_bottom_wrap .inbox .recommend_area .btn_help.on:before{background-image:url(/pc/ko/images/event/ico_recommend_on.png)}



/* 퍼시픽샵 */
.pacificshop_list_wrap .main_visual{position:relative; overflow: hidden; width: 100%; height: 507px; margin-top: 10px; background-color:#fff;}
.pacificshop_list_wrap .main_visual:before,
.pacificshop_list_wrap .main_visual:after{content:''; position:absolute; top:0; bottom:0; z-index: 1; width: calc(50% - 500px); background:rgba(255,255,255,0.5);}
.pacificshop_list_wrap .main_visual:before{left:0;}
.pacificshop_list_wrap .main_visual:after{right:0;}
.pacificshop_list_wrap .main_visual .slide{width: 1000px; margin:0 auto;}
.pacificshop_list_wrap .main_visual .slide .ix-list-viewport{overflow:visible; height: 507px;}
.pacificshop_list_wrap .main_visual .slide .paging{top:0; left:30px; bottom:auto; right:30px; margin: 0; border: 0; line-height: 37px; color:#fff; font-weight:bold;}
.pacificshop_list_wrap .main_visual .slide [class*='_direction'] [class^="ix-btn"]{top:0; margin-top:0; height: 37px; background-image:url(/pc/ko/images/main/bg_btn_navi.png);}
.pacificshop_list_wrap .main_visual .ix-controller{position:absolute; bottom: 20px; right:-50px; z-index: 2; width:100px; height: 37px; background:rgba(0, 0, 0, 0.3); -webkit-border-radius: 19px;-moz-border-radius: 19px;border-radius: 19px; text-align: center;}
.pacificshop_list_wrap .main_visual .paging b{color:#fff}
.pacificshop_list_wrap .main_visual .slide [class*='_direction'] .ix-btn-prev{background-position: -5px 0;}
.pacificshop_list_wrap .main_visual .slide [class*='_direction'] .ix-btn-next{background-position: -61px 0;}
.pacificshop_list_wrap .aside_area {margin-top: 70px;}
.pacificshop_list_wrap .category_area {margin-top: 7px;}