@charset "UTF-8";

/*@font-face {*/
	/*font-family: 'Nanum Barun Gothic';*/
	/*font-style: normal;*/
	/*font-weight: 200;*/
	/*src: url(/pc/ko/fonts/eot/NanumBarunGothicUltraLight.eot);*/
	/*src: local('Nanum Barun Gothic UltraLight'),*/
	/*local('NanumBarunGothicUltraLight'),*/
	/*url(/pc/ko/fonts/eot/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),*/
	/*url(/pc/ko/fonts/woff/NanumBarunGothicUltraLight.woff) format('woff'),*/
	/*url(/pc/ko/fonts/otf/NanumBarunGothicUltraLight.otf) format('opentype');*/
/*}*/

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 300;
	src: url(/pc/ko/fonts/eot/NanumBarunGothicLight.eot);
	src: local('Nanum Barun Gothic Light'),
	local('NanumBarunGothicLight'),
	url(/pc/ko/fonts/eot/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
	url(/pc/ko/fonts/woff/NanumBarunGothicLight.woff) format('woff'),
	url(/pc/ko/fonts/otf/NanumBarunGothicLight.otf) format('opentype');
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(/pc/ko/fonts/eot/NanumBarunGothic.eot);
	src: local('Nanum Barun Gothic'),
	local('NanumBarunGothic'),
	url(/pc/ko/fonts/eot/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
	url(/pc/ko/fonts/woff/NanumBarunGothic.woff) format('woff'),
	url(/pc/ko/fonts/otf/NanumBarunGothic.otf) format('opentype');
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(/pc/ko/fonts/eot/NanumBarunGothicBold.eot);
	src: local('Nanum Barun Gothic Bold'),
	local('NanumBarunGothicBold'),
	url(/pc/ko/fonts/eot/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
	url(/pc/ko/fonts/woff/NanumBarunGothicBold.woff) format('woff'),
	url(/pc/ko/fonts/otf/NanumBarunGothicBold.otf) format('opentype');
}