@charset 'utf-8';

/* 레이어 팝업 */
.modal_dimmed, .layer_dimmed  {position:fixed; top:0; left:0; right:0; bottom:0; z-index: 100; background:rgba(0, 0, 0, 0.3);}
.modal_dimmed.dimmed_transparent {opacity:0;}
.layer_popup {display:none; position:absolute; top:0; left:0; height:100%; width:100%; z-index:100;}
.layer_wrap {position:absolute; top:50%; left:50%; width:550px; margin-left:-275px;}
.layer_lg {width:680px; margin-left:-350px;}
.layer_xxl {width:1000px; margin-left:-500px;}
.layer_xl {width:820px; margin-left:-410px;}
.layer_sm {width:370px; margin-left:-185px;}
.layer_ss {width:250px; margin-left:-125px;}
.layer {width:100%; background:#fff;}
.layer_title {padding:25px 60px 16px 30px; color:#000; font-size:20px; font-weight:800; line-height:1.2;}
.layer_title.line {border-bottom:1px solid #d3d3d3;}
.layer_title.sr_only {position:static; height:35px;}
.layer_cont [class^="text"] {font-size:13px;}
.layer_btns {margin-top:38px; text-align:center;}
.layer_btns [class^="btn_"]{vertical-align: top;}
.layer_btns>* + * {margin-left:2px;}
.layer_close {position:absolute; top:26px; right:20px; width:19px; height:19px; background:url(/pc/ko/images/common/ico.png) no-repeat -100px 0; font-size:0;}
/*.layer_close:hover {transform: rotate(180deg); transition:.3s;}*/
.spc_hide .layer_close {display:none;}

.ly_info {padding:15px 0 30px; text-align:center; font-size:13px; line-height:1.5;}
.ly_content {padding:30px;}

.ly_info p.ly_txtSt1 {font-size:16px; color:#000; font-weight:600;}
.ly_info p.ly_txtSt2 {font-size:13px; color:#888;}

/*사진첨부*/
.ui_input_images{width: 100%;}
.ui_input_images .attach{overflow: hidden;margin-left:-15px;}
.ui_input_images .attach>*{position: relative;float: left;width:100px; height:100px; margin:15px 0 0 15px;}
.ui_input_images .attach_file{position:relative;}
.ui_input_images .attach_file input{position:absolute; z-index: -1; visibility: hidden;}
.ui_input_images .attach_file label{display:block; width:100px; height:100px; padding-top:55px; background:url(/pc/ko/images/common/bg_attach.gif) no-repeat; text-align:center; font-size:16px; color:#fff; font-weight:300;}
.ui_input_images .attach .btn_del{position: absolute;top:0; right:0; width:30px; height:30px; background:#782fff;}
.ui_input_images .attach .btn_del:after{content:'';position: absolute;top:8px; left:8px; width:14px; height:14px;background:url(/pc/ko/images/common/ico.png) -150px -150px no-repeat;}
.ui_input_images p{margin-top:10px; font-weight:300;}

/*타이틀 라인*/
.layer_title.brd{position: relative;padding-bottom: 20px;}
.layer_title.brd:after{content: '';position: absolute;bottom: 0;left: 0;width: calc(100% + 60px);margin: 0 -30px;border-bottom: 1px solid #d3d3d3;}

/* tooltip */
.ui_tooltip {position:relative; display:inline-block;}
.btn_tooltip {position:relative; padding:0 25px 0 0; color:#979797; font-size:18px;}
.btn_tooltip:after {content:''; clear:both; display:block; position:absolute; top:-1px; right:0; width:20px; height:20px; background:url(/pc/ko/images/common/ico.png) no-repeat -236px -140px;}
.layer_tooltip {display:none; position:absolute; z-index:1; width:255px; padding:20px 20px 30px; margin-top:5px; background:#fff; border:1px solid #ccc;}
.layer_tooltip>* {color:#888;}
.layer_tooltip>dl>dt {margin-bottom:30px; color:#000; font-weight:700;}
.ui_tooltip .ui_close {position:absolute; top:15px; right:15px; width:14px; height:14px; padding:0;}

/* familyLayer */
.layer_fammily {width:1000px; overflow:hidden; margin-top: -392px; margin-left:-500px;}
.familyInner {padding:0 30px 25px; overflow:hidden;}
.familyInner ul{overflow:hidden;}
.familyInner ul > li{font-size:14px;text-align: left; margin-top:3px;}
.familyInner ul > li > a{font-size:12px;text-align: left;}
.familyInner ul > li.ap {width:650px;margin-right: 20px;}
.familyInner ul.fy1depth > li {float: left;}
.familyInner ul > li.ap_rel {width: 232px;}
.familyInner ul > li.ap_brand {clear: both;width: 100%;margin-top:20px;}
.familyInner ul > li.ap ul.fy2depth {width: 33%;float: left !important;}
.familyInner ul.fy1depth h5 {font-size: 12px;color: #4e4e4e;font-weight: bold;text-align: center;line-height: 16px;height: 22px;border-bottom: 1px solid #d7d7d7;margin-bottom: 10px;}
.familyInner ul.fy2depth > li {line-height: 16px;padding-left: 10px;}
.familyInner li {color: #414141;}
.familyInner ul.fy3depth li {line-height: 13px;}
.familyInner ul.fy3depth a {color: #838383;font-size: 11px;line-height: 14px;}
.familyInner ul > li.ap_brand ul.fy2depth.fy2depth_1st {width: 24%;}
.familyInner ul > li.ap_brand ul.fy2depth {width: 25%;float: left;}
.familyInner ul > li.ap_brand ul.fy2depth.fy2depth_2nd {width: 24%;}
.familyInner ul > li.ap_brand ul.fy2depth.fy2depth_3rd {width: 27%;}
.familyInner ul > li.ap_brand ul.fy2depth {width: 25%;float: left;}
.familyInner ul > li.ap_brand ul.fy2depth > li + li {margin-top: 8px;}

/* button */
.coupon_wrap .btn_full {display: block;width: 100%; padding: 0; margin-left: 0 !important; height: 44px; line-height: 44px; font-size: 16px; color: #fff; background-color: #782fff;}
.coupon_wrap .btn_full.disabled {background-color: #eee;}
.coupon_wrap .btn_fix_neutral,
.coupon_wrap .btn_fix_bordered{border-radius: 0;}

/* 쿠폰조회 */
.layer_sm.coupon_wrap {margin-top: -320px;}
.coupon_wrap .ly_content {padding: 30px 0;}
.coupon_wrap .ly_content .search_wrap,
.coupon_wrap .ly_content .con_top_box {padding: 0 30px;}

/* search */
.coupon_wrap .search_wrap {position: relative;}
.coupon_wrap .search_wrap .input_wrap {margin-right: 75px;}
.coupon_wrap .search_wrap .input_wrap input {height: 44px; border-color: #999;}
.coupon_wrap .search_wrap .btn_fix_neutral {position: absolute; top: 0; right: 30px;}

/* con */
.txt_small_gray {font-size: 14px; color: #999;}
.txt_small_purple {font-size: 14px; color: #782fff;}

.coupon_wrap .con_wrap {margin-top: 30px;}
.coupon_wrap .con_top_box {position: relative;}
.coupon_wrap .con_top_box .title {font-size: 16px; color: #000; font-weight: bold;}
.coupon_wrap .con_top_box .total_num_purple {position: absolute; right: 30px; top: 0; font-size: 16px; color: #782fff; font-weight: bold;}

.coupon_wrap .con_bottom_box {margin-top: 15px; overflow: auto;}
.coupon_wrap .con_bottom_box .scroll {height: 240px; padding: 0 30px; overflow: auto; width: 310px; position: relative; margin-left: -30px;}
.ie10 .coupon_wrap .con_bottom_box .scroll,
.ie11 .coupon_wrap .con_bottom_box .scroll {height: 243px;}

.coupon_wrap .con_bottom_box .coupon_ck_list_line {margin: 0 30px; border-top: 1px solid #c2c1c2; border-bottom: 1px solid #c2c1c2;}
.coupon_wrap .coupon_ck_list {width: 310px;}
.coupon_wrap .coupon_ck_list li {position: relative; padding: 19px 0; font-size: 16px; color: #000; background: url("/pc/ko/images/common/bg_dot_line_gray.png") 0 top  repeat-x; width: 100%;}
.coupon_wrap .coupon_ck_list li:first-child {background-image: none;}

.coupon_wrap .coupon_ck_list .check_wrap {width: 55%;}
.coupon_wrap .coupon_ck_list .check_wrap > label {padding-left: 35px; line-height: 1.2; width: 100%;}
.coupon_wrap .coupon_ck_list .check_wrap > label:before {top: 50%; margin-top: -12px;}
.coupon_wrap .coupon_ck_list .txt_small_gray {display: block; margin-top: 7px; letter-spacing: -1px;}
.coupon_wrap .coupon_ck_list li .txt_price {position: absolute; right: 0; top: 30px; font-weight: bold;}

.coupon_wrap .coupon_ck_list .ellipsis{word-wrap: normal;}

.coupon_wrap .sub_txt {margin: 30px; letter-spacing: -1px;}
.coupon_wrap .sub_txt li {margin-top: 10px;}
.coupon_wrap .sub_txt li:first-child {margin-top: 0;}

.coupon_wrap .box_center {text-align: center;}
.coupon_wrap .box_center .title {font-size: 16px; color: #000; font-weight: bold;}
.coupon_wrap .box_center .s_txt {margin: 5px 0 30px 0; font-size: 13px; color: #888; line-height: 1.7;}
.coupon_wrap .mg_side {margin: 0 30px;}

/* 기프트 카드 */
.gift_price_used {position: relative; padding: 15px 0 10px 0; border-bottom: 1px solid #782fff;}
.gift_price_used .input_wrap {width: 220px;}
.gift_price_used .input_wrap input {padding: 0; height: auto; font-size: 14px; font-weight: bold; border: 0;} 
.gift_price_used .input_wrap .placeholder {padding-left: 0; font-size: 14px;}
.gift_price_used .txt_small_purple {position: absolute; right: 0; top: 15px;}
.gift_price_used {display: none;}

/* 우편번호 검색 */
.layer_w510 {width: 510px;}
.layer_w510.coupon_wrap {margin-top: -320px; margin-left: -255px;}
.coupon_wrap .address_search_wrap {margin: 0 30px;}
.address_search_wrap .input_wrap {width: 100%;}
.address_search_wrap .input_wrap input {padding: 0 40px 0 18px; color: #782fff; height: 44px;}
.address_search_wrap .input_wrap input:focus {border-color: #782fff;}
.address_search_wrap .input_wrap .placeholder {padding-left: 18px;}
.address_search_wrap .ico_search {position: absolute; right: 18px; top: 12px; background: none; z-index: 2;}

.coupon_wrap .address_list .con_bottom_box .scroll {height: 240px; padding: 0 30px; overflow: auto; width: 450px; position: relative; margin-left: -30px;}
.ie10 .coupon_wrap .con_bottom_box .scroll,
.ie11 .coupon_wrap .con_bottom_box .scroll {height: 243px;}

.coupon_wrap .address_ck_list {width: 450px;}
.coupon_wrap .address_ck_list li {position: relative; padding: 19px 0; font-size: 16px; color: #000; background: url("/pc/ko/images/common/bg_dot_line_gray.png") 0 top  repeat-x; width: 100%;}
.coupon_wrap .address_ck_list li:first-child {background-image: none;}

.coupon_wrap .address_ck_list .rdo_type2.right label {padding-left: 0; width: 410px;}
.coupon_wrap .address_ck_list .rdo_type2.right label:before {left: 100%; top: 50%; margin-top: -17px;}
.coupon_wrap .address_ck_list .rdo_type2.right .txt {display: block; width: 384px;}

.coupon_wrap .address_ck_list .txt{display:block;line-height:normal;margin-top:10px;}
.coupon_wrap .address_ck_list .txt:after {content:''; clear:both; display:block;}
.coupon_wrap .address_ck_list .txt:first-child{margin-top:0;}
.coupon_wrap .address_ck_list .txt .name{display:table-cell;width:55px;}
.coupon_wrap .address_ck_list .txt .name span{display:inline-block;width:100%;box-sizing:border-box;padding:3px 0;border:1px solid #d1d1d6;color:#333;font-size:14px;text-align:center;}
.coupon_wrap .address_ck_list .txt em{display:table-cell;width:320px;padding-left:10px;color:#000;font-size:16px;letter-spacing:-0.25px;line-height:24px;}
.coupon_wrap .address_ck_list .txt .zip{display:block;margin-top:7px;font-weight:bold;color:#000;}
.coupon_wrap .address_ck_list input[type="radio"]{position:absolute;right:0;top:0;}
.coupon_wrap .address_ck_list li .detail{display:none}
.coupon_wrap .address_ck_list li .detail .input_wrap{width:100%;margin-top:15px;}
.coupon_wrap .address_ck_list li .detail input[type="text"]{width:100%;}
.coupon_wrap .address_ck_list li.on .detail{display:block;}
.coupon_wrap .address_ck_list li .mg_side{margin:10px 0 0;}

.coupon_wrap .address_list .tip{margin:0 30px;font-size:16px;color:#000;}
.coupon_wrap .address_list .tip dt{margin-bottom:15px;}
.coupon_wrap .address_list .tip dd{line-height:28px;}

/*공유하기*/
.layer_cont .sns_share{padding-bottom:30px;}

/*app 다운로드*/
.layer_cont .app_download{text-align:center;padding-bottom:30px;}
.layer_cont .app_download .txt{margin:15px 0 10px;font-size:14px;color:#999;}
.layer_cont .app_download strong{display:block;margin-bottom:5px;font-size:16px;}
.layer_cont .app_download .input_wrap{margin-right:4px;}
.layer_cont .app_download .input_wrap input[type="text"]{width:230px;}

/*전성분확인*/
.layer_cont .all_component{padding:15px 30px 30px 30px;font-size: 13px;line-height: 1.5;}
.layer_cont .all_component .list{max-height:290px;font-size:16px;overflow-y:scroll;}
.layer_cont .all_component .list li{margin-top:20px;padding-top:15px;border-top:1px solid #d9d9d9}
.layer_cont .all_component .list li:first-child{margin:0;padding:0;border:none;}
.layer_cont .all_component .list .tit{color:#222;font-weight:normal;}
.layer_cont .all_component .list .product{margin-top:5px;;color:#666;}
.layer_cont .all_component .list .option{margin-top:5px;color:#ec6386;}
.layer_cont .all_component .list .txt{margin-top:5px;color:#666;}

/*버튼정렬 센터*/
.layer_btns_center{padding:30px 0;text-align:center;}