@charset 'utf-8';

/* 레이어 팝업 */
.modal_dimmed, .layer_dimmed  {position:fixed; top:0; left:0; right:0; bottom:0; z-index: 100; background:rgba(0, 0, 0, 0.3);}
.modal_dimmed.dimmed_transparent {opacity:0;}
.layer_popup {display:none; position:absolute; top:0; left:0; height:100%; width:100%; z-index:100;}
.layer_wrap {position:absolute; top:50%; left:50%; width:550px; margin-left:-275px;}
.layer_lg {width:680px; margin-left:-350px;}
.layer_xxl {width:1000px; margin-left:-500px;}
.layer_xl {width:820px; margin-left:-410px;}
.layer_sm {width:370px; margin-left:-185px;}
.layer_mm {width:440px; margin-left:-220px;}
.layer_ml {width:460px; margin-left:-230px;}
.layer_ss {width:250px; margin-left:-125px;}
.layer {width:100%; background:#fff;}
.layer_title {padding:25px 60px 16px 30px; color:#000; font-size:20px; font-weight:800; line-height:1.2;}
.layer_title.line {border-bottom:1px solid #d3d3d3;}
.layer_title.sr_only {position:static; height:35px;}
.layer_cont {padding-top:15px; overflow:hidden;}
.layer_title + .layer_cont {padding-top:0;}
.layer_cont [class^="text"] {font-size:13px;}
.layer_btns {margin-top:38px; text-align:center;}
.layer_btns [class^="btn_"]{vertical-align: top;}
.layer_btns>* + * {margin-left:2px;}
.layer_close {position:absolute; top:26px; right:20px; width:19px; height:19px; background:url(/pc/ko/images/common/ico.png) no-repeat -100px 0; font-size:0;}
/*.layer_close:hover {transform: rotate(180deg); transition:.3s;}*/
.spc_hide .layer_close {display:none;}

.ly_info {padding:15px 0 30px; text-align:center; font-size:13px; line-height:1.5;}
.ly_content {padding:30px;}

.ly_info p.ly_txtSt1 {font-size:16px; color:#000; font-weight:600;}
.ly_info p.ly_txtSt2 {font-size:13px; color:#888;}

/*사진첨부*/
.layer_popup .ui_input_images{width: 100%;}
.layer_popup .ui_input_images .attach{overflow: hidden;margin-left:-15px;}
.layer_popup .ui_input_images .attach>*{position: relative;float: left;width:120px; height:120px; margin:0 0 15px 15px;}
.layer_popup .ui_input_images .attach > * > img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);height: 100%;border-radius:0;}
.layer_popup .ui_input_images .attach_file{position:relative;}
.layer_popup .ui_input_images .attach_file input{position:absolute; z-index: -1; visibility: hidden;}
.layer_popup .ui_input_images .attach_file label{display:block; width:100px; height:100px; padding-top:55px; background:url(/pc/ko/images/common/bg_attach.gif) no-repeat; text-align:center; font-size:16px; color:#fff; font-weight:300;}
.layer_popup .ui_input_images .attach .btn_del{position: absolute;top:0; right:0; width:30px; height:30px; background:#782fff; border-radius:0;}
.layer_popup .ui_input_images .attach .btn_del:after{content:'';position: absolute;top:8px; left:8px; width:14px; height:14px;background:url(/pc/ko/images/common/ico.png) -150px -150px no-repeat;}
.layer_popup .ui_input_images p{margin-top:10px; font-weight:300;}

/*타이틀 라인*/
.layer_title.brd{position: relative;padding-bottom: 20px;}
.layer_title.brd:after{content: '';position: absolute;bottom: 0;left: 0;width: calc(100% + 60px);margin: 0 -30px;border-bottom: 1px solid #d3d3d3;}

/* tooltip */
.ui_tooltip {position:relative; display:inline-block;}
.btn_tooltip {position:relative; padding:0 25px 0 0; color:#979797; font-size:18px;}
.btn_tooltip:after {content:''; clear:both; display:block; position:absolute; top:-1px; right:0; width:20px; height:20px; background:url(/pc/ko/images/common/ico.png) no-repeat -236px -140px;}
.layer_tooltip {display:none; position:absolute; z-index:1; width:255px; padding:20px 20px 30px; margin-top:5px; background:#fff; border:1px solid #ccc;}
.layer_tooltip>* {color:#888;}
.layer_tooltip>dl>dt {margin-bottom:30px; color:#000; font-weight:700;}
.ui_tooltip .ui_close {position:absolute; top:15px; right:15px; width:14px; height:14px; padding:0;}

/* familyLayer */
.layer_fammily {width:1000px; overflow:hidden; margin-top: -392px; margin-left:-500px;}
.familyInner {padding:0 30px 25px; overflow:hidden;}
.familyInner ul{overflow:hidden;}
.familyInner ul > li{font-size:14px;text-align: left; margin-top:3px;}
.familyInner ul > li > a{font-size:12px;text-align: left;}
.familyInner ul > li.ap {width:650px;margin-right: 20px;}
.familyInner ul.fy1depth > li {float: left;}
.familyInner ul > li.ap_rel {width: 232px;}
.familyInner ul > li.ap_brand {clear: both;width: 100%;margin-top:20px;}
.familyInner ul > li.ap ul.fy2depth {width: 33%;float: left !important;}
.familyInner ul.fy1depth h5 {font-size: 12px;color: #4e4e4e;font-weight: bold;text-align: center;line-height: 16px;height: 22px;border-bottom: 1px solid #d7d7d7;margin-bottom: 10px;}
.familyInner ul.fy2depth > li {line-height: 16px;padding-left: 10px;}
.familyInner li {color: #414141;}
.familyInner ul.fy3depth li {line-height: 13px;}
.familyInner ul.fy3depth a {color: #838383;font-size: 11px;line-height: 14px;}
.familyInner ul > li.ap_brand ul.fy2depth.fy2depth_1st {width: 24%;}
.familyInner ul > li.ap_brand ul.fy2depth {width: 25%;float: left;}
.familyInner ul > li.ap_brand ul.fy2depth.fy2depth_2nd {width: 24%;}
.familyInner ul > li.ap_brand ul.fy2depth.fy2depth_3rd {width: 27%;}
.familyInner ul > li.ap_brand ul.fy2depth {width: 25%;float: left;}
.familyInner ul > li.ap_brand ul.fy2depth > li + li {margin-top: 8px;}

/* button */
.coupon_wrap .btn_full {display: block;width: 100%; padding: 0; margin-left: 0 !important; height: 44px; line-height: 44px; font-size: 16px; color: #fff; background-color: #782fff;}
.coupon_wrap .btn_full.disabled {background-color: #eee;}

/* 쿠폰조회 */
.layer_sm.coupon_wrap {margin-top: -320px;}
.coupon_wrap .ly_content {padding: 30px 0;}
.coupon_wrap .ly_content .search_wrap,
.coupon_wrap .ly_content .con_top_box {padding: 0 30px;}

/* search */
.coupon_wrap .search_wrap {position: relative;}
.coupon_wrap .search_wrap .input_wrap {margin-right: 75px;}
.coupon_wrap .search_wrap .input_wrap input {height: 44px; border-color: #999;}
.coupon_wrap .search_wrap .btn_fix_neutral {position: absolute; top: 0; right: 30px;}

/* con */
.txt_small_gray {font-size: 14px; color: #999;}
.txt_small_purple {font-size: 14px; color: #782fff;}

.coupon_wrap .con_wrap {margin-top: 30px;}
.coupon_wrap .con_top_box {position: relative;}
.coupon_wrap .con_top_box .title {font-size: 16px; color: #000; font-weight: bold;}
.coupon_wrap .con_top_box .total_num_purple {position: absolute; right: 30px; top: 0; font-size: 16px; color: #782fff; font-weight: bold;}

.coupon_wrap .con_bottom_box {margin-top: 15px; overflow: auto;}
.coupon_wrap .con_bottom_box .scroll {height: 240px; padding: 0 30px; overflow: auto; width: 310px; position: relative; margin-left: -30px;}
.ie10 .coupon_wrap .con_bottom_box .scroll,
.ie11 .coupon_wrap .con_bottom_box .scroll {height: 243px;}

.coupon_wrap .con_bottom_box .coupon_ck_list_line {margin: 0 30px; border-top: 1px solid #c2c1c2; border-bottom: 1px solid #c2c1c2;}
.coupon_wrap .coupon_ck_list {width: 310px;}
.coupon_wrap .coupon_ck_list li {position: relative; padding: 19px 0; font-size: 16px; color: #000; background: url("/pc/ko/images/common/bg_dot_line_gray.png") 0 top  repeat-x; width: 100%;}
.coupon_wrap .coupon_ck_list li:first-child {background-image: none;}

.coupon_wrap .coupon_ck_list .check_wrap {width: 55%;}
.coupon_wrap .coupon_ck_list .check_wrap > label {padding-left: 35px; line-height: 1.2; width: 100%;}
.coupon_wrap .coupon_ck_list .check_wrap > label:before {top: 50%; margin-top: -12px;}
.coupon_wrap .coupon_ck_list .txt_small_gray {display: block; margin-top: 7px; /*letter-spacing: -1px;*/}
.coupon_wrap .coupon_ck_list li .txt_price {position: absolute; right: 0; top: 30px; font-weight: bold;}

.coupon_wrap .coupon_ck_list .ellipsis{word-wrap: normal;}

.coupon_wrap .sub_txt {margin: 30px; /*letter-spacing: -1px;*/}
.coupon_wrap .sub_txt li {margin-top: 10px;}
.coupon_wrap .sub_txt li:first-child {margin-top: 0;}

.coupon_wrap .box_center {text-align: center;}
.coupon_wrap .box_center .title {font-size: 16px; color: #000; font-weight: bold;}
.coupon_wrap .box_center .s_txt {margin: 5px 0 30px 0; font-size: 13px; color: #888; line-height: 1.7;}
.coupon_wrap .mg_side {margin: 0 30px;}

/* 기프트 카드 */
.gift_price_used {position: relative; padding: 15px 0 10px 0; border-bottom: 1px solid #782fff;}
.gift_price_used .input_wrap {width: 220px;}
.gift_price_used .input_wrap input {padding: 0; height: auto; font-size: 14px; font-weight: bold; border: 0; line-height:12px;} 
.gift_price_used .input_wrap .placeholder {padding-left: 0; font-size: 14px;}
.gift_price_used .txt_small_purple {position: absolute; right: 0; top: 15px;}
.gift_price_used {display: none;}

/* 우편번호 검색 */
.layer_w510 {width: 510px;}
.layer_w510.coupon_wrap {margin-top: -320px; margin-left: -255px;}
.coupon_wrap .address_search_wrap {margin: 0 30px;}
.address_search_wrap .input_wrap {width: 100%;}
.address_search_wrap .input_wrap input {padding: 0 40px 0 18px; color: #782fff; height: 44px;}
.address_search_wrap .input_wrap input:focus {border-color: #782fff;}
.address_search_wrap .input_wrap .placeholder {padding-left: 18px;}
.address_search_wrap .ico_search {position: absolute; right: 18px; top: 12px; background: none; z-index: 2;}

.coupon_wrap .address_list .con_bottom_box .scroll {height: 240px; padding: 0 30px; overflow: auto; width: 450px; position: relative; margin-left: -30px;}
.ie10 .coupon_wrap .con_bottom_box .scroll,
.ie11 .coupon_wrap .con_bottom_box .scroll {height: 243px;}

.coupon_wrap .address_ck_list {width: 450px;}
.coupon_wrap .address_ck_list li {position: relative; padding: 19px 0; font-size: 16px; color: #000; background: url("/pc/ko/images/common/bg_dot_line_gray.png") 0 top  repeat-x; width: 100%;}
.coupon_wrap .address_ck_list li:first-child {background-image: none;}

.coupon_wrap .address_ck_list .rdo_type2.right label {padding-left: 0; width: 410px;}
.coupon_wrap .address_ck_list .rdo_type2.right label:before {left: 100%; top: 50%; margin-top: -17px;}
.coupon_wrap .address_ck_list .rdo_type2.right .txt {display: block; width: 384px;}

.coupon_wrap .address_ck_list .txt{display:block;line-height:normal;margin-top:10px;}
.coupon_wrap .address_ck_list .txt:after {content:''; clear:both; display:block;}
.coupon_wrap .address_ck_list .txt:first-child{margin-top:0;}
.coupon_wrap .address_ck_list .txt .name{display:table-cell;width:55px;}
.coupon_wrap .address_ck_list .txt .name span{display:inline-block;width:100%;box-sizing:border-box;padding:3px 0;border:1px solid #d1d1d6;color:#333;font-size:14px;text-align:center;}
.coupon_wrap .address_ck_list .txt em{display:table-cell;width:320px;padding-left:10px;color:#000;font-size:16px;letter-spacing:-0.25px;line-height:24px;}
.coupon_wrap .address_ck_list .txt .zip{display:block;margin-top:7px;font-weight:bold;color:#000;}
.coupon_wrap .address_ck_list input[type="radio"]{position:absolute;right:0;top:0;}
.coupon_wrap .address_ck_list li .detail{display:none}
.coupon_wrap .address_ck_list li .detail .input_wrap{width:100%;margin-top:15px;}
.coupon_wrap .address_ck_list li .detail input[type="text"]{width:100%;}
.coupon_wrap .address_ck_list li.on .detail{display:block;}
.coupon_wrap .address_ck_list li .mg_side{margin:10px 0 0;}

.coupon_wrap .address_list .tip{margin:0 30px;font-size:16px;color:#000;}
.coupon_wrap .address_list .tip dt{margin-bottom:15px;}
.coupon_wrap .address_list .tip dd{line-height:28px;}

/*공유하기*/
.layer_cont .sns_share{padding-bottom:30px;}

/*app 다운로드*/
.layer_cont .app_download{text-align:center;padding-bottom:30px;}
.layer_cont .app_download .txt{margin:15px 0 10px;font-size:14px;color:#999;}
.layer_cont .app_download strong{display:block;margin-bottom:5px;font-size:16px;}
.layer_cont .app_download .input_wrap{margin-right:4px;}
.layer_cont .app_download .input_wrap input[type="text"]{width:230px;}

/*전성분확인*/
.layer_cont .all_component{padding:15px 30px 30px 30px;font-size: 13px;line-height: 1.5;}
.layer_cont .all_component .list{max-height:290px;font-size:16px;overflow-y:scroll;}
.layer_cont .all_component .list li{margin-top:20px;padding-top:15px;border-top:1px solid #d9d9d9}
.layer_cont .all_component .list li:first-child{margin:0;padding:0;border:none;}
.layer_cont .all_component .list .tit{color:#222;font-weight:normal;}
.layer_cont .all_component .list .product{margin-top:5px;;color:#666;}
.layer_cont .all_component .list .option{margin-top:5px;color:#ec6386;}
.layer_cont .all_component .list .txt{margin-top:5px;color:#666;}

/*버튼정렬 센터*/
.layer_btns_center{padding:30px 0;text-align:center;}


/* 고객 등급별 혜택 */ 
.custom_level_area {padding-left:44px; height:40px;} 
.custom_level_area.welcome {background:url("/pc/ko/images/coupon/ico_grade.png") no-repeat 0 0; background-size:40px 200px} 
.custom_level_area.vip {background:url("/pc/ko/images/coupon/ico_grade.png") no-repeat 0 -40px; background-size:40px 200px} 
.custom_level_area.vip_plus {background:url("/pc/ko/images/coupon/ico_grade.png") no-repeat 0 -120px; background-size:40px 200px} 
.custom_level_area.vvip {background:url("/pc/ko/images/coupon/ico_grade.png") no-repeat 0 -80px; background-size:40px 200px} 
.custom_level_area.vvip_plus {background:url("/pc/ko/images/coupon/ico_grade.png") no-repeat 0 -160px; background-size:40px 200px} 
.custom_level_area span {display:block; margin-left:3px; padding:5px 0; color:#000; font-size:24px; font-weight:normal;} 
.custom_level_area.welcome span strong {color:#34b4b9; font-weight:normal} 
.custom_level_area.vip span strong {color:#fd653c; font-weight:normal} 
.custom_level_area.vvip span strong {color:#b73aff; font-weight:normal} 
.custom_level_area.vip_plus span strong {color:#ffc000; font-weight:normal} 
.custom_level_area.vvip_plus span strong {color:#ffc000; font-weight:normal} 
.benefit_img_area {border-top:1px solid #e6e6e6} 
.benefit_img_area a {display:block}

/* 유투브 팝업 */
.yt_pop .layer_wrap {width:916px; height:581px; margin-left:-458px; overflow:hidden;}

/* 신고하기 팝업 */
.ly_report {padding:30px 30px; text-align:left;}
.ly_report .report_form + .layer_btns {margin-top:20px;}
.ly_report .report_form + .layer_btns > button {min-width:95px;}
.ly_report .report_form .textarea > textarea {resize:none;}

/* 시스템 오류신고 */
.error_report_area {padding:15px 30px 0; overflow:hidden; font-size:14px;}
.error_report_area .input_wrap {margin-top:20px; padding-right:109px;}
.error_report_area .attach_wrap {width:100%; margin-top:-44px; padding-top:59px; overflow:hidden; position:relative;}
.error_report_area ul.attach > li {margin:0 15px 15px;}
.error_report_area ul.attach > li.input_file_btn_area {width:99px; height:44px !important; margin:0; position:absolute; top:0; right:0; z-index:1; overflow:hidden;}
.error_report_area .ui_input_images .attach_file label {width:auto; height:auto; font-size: 14px; padding: 11px 13px 12px; border-radius: 3px; border:1px solid #999; color:#000; font-weight:600; background: linear-gradient(to bottom, #fefefe 0%,#eeedf2 100%); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#eeedf2')"; line-height:1.4;}
.error_report_area .check_area {width:100%; overflow:hidden;}
.error_report_area .check_area > .check_wrap {width:50%; float:left; margin-bottom:20px; text-align:left;}
.error_report_area .check_wrap > label {font-size:14px;}
.error_report_area .check_wrap +  .check_wrap {margin-left:0;}
.error_report_area + .layer_btns {margin-top:10px;}
.error_report_area .textarea .placeholder {font-size:14px;}

/* 쿠폰/혜택 vip 당첨 팝업 */
.vip_pop01 .layer {width:100%; min-height:100%; background:#fff}
.vip_pop01 .layer_title {padding:40px 20px 0 20px; color:#000;  font-size:34px; line-height:40px; text-align:center; font-weight:500}
.vip_pop01 .layer_cont {padding:0}
.vip_pop01 .layer_cont .text {margin-top:14px; padding:0 20px; color:#000; font-size:24px; text-align:center}
.vip_pop01 .layer_cont .text.bar {position:relative; padding-top:14px}
.vip_pop01 .layer_cont .text.bar:before {display:block; content:' '; position:absolute; top:0; left:50%; margin-left:-15px; width:30px; height:2px; background:#000}
.vip_pop01 .layer_cont .text > span {width:auto; max-width:100%; padding-right:55px; width:auto; position:relative; height:31px; display:inline-block; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; box-sizing:border-box;}
.vip_pop01 .layer_cont .text > span > em {width:48px; position:absolute; top:0; right:0; display:inline-block; color:#000;}

.vip_pop01 .layer_cont .coup_area {margin:29px auto 0 auto; text-align:center}
.vip_pop01 .layer_cont .coup_area.all_img {width:184px; height:108px}
.vip_pop01 .layer_cont .coup_area.point_price01 {margin-top:18px}
.vip_pop01 .layer_cont .coup_area.point_price01 p {height:108px; color:#782fff; font-size:54px; line-height:108px}
.vip_pop01 .layer_cont .coup_area.point_price01 p span {font-size:30px}
.vip_pop01 .layer_cont .vip_text {margin-top:18px; padding:0 10px; color:#808080; font-size:17px; text-align:center}
.vip_pop01 .layer_cont .p_btn_area {margin:17px 0}
.vip_pop01 .layer_cont .p_btn_area li a {display:block; width:100%; padding:26px 0; background:url(/pc/ko/images/coupon/bg_today_coupon.png) no-repeat 0 0; color:#782fff; font-size:15px; text-align:center}
.vip_pop01 .layer_btns {margin-top:18px; background:#000}
.vip_pop01 .layer_btns button {display:block; padding:18px 0; width:100%; color:#fff; text-align:center; font-size:24px; line-height:24px}

.vip_pop01 .coupon{width:184px; height:108px; padding: 16px 4px 0 16px; margin:0 auto 0; background:url(/pc/ko/images/coupon/bg_today_coupon.png) no-repeat 0 0; background-size:100% 100%;}
.vip_pop01 .coupon:before {width:6px}
.vip_pop01 .coupon>dt {font-size: 22px;}
.vip_pop01 .coupon .cont {margin-top:12px}
.vip_pop01 .coupon .cont strong{font-size: 44px; font-weight:normal }
.vip_pop01 .coupon .cont .unit {margin-top:0; font-size:24px}

/* 출석체크 달성 팝업 */
.layer_attendance_sec .layer_title {display:none}
.layer_attendance_sec .layer {background:0}
.layer_attendance_sec .layer_cont {padding:0}
.layer_attendance_sec .b_point_log01 {width:181px; height:181px; margin:0 auto 24px auto}
.layer_attendance_sec .text {color:#fff; font-size:20px; font-weight:600; text-align:center}
.layer_attendance_sec .text + .text {margin-top:12px; font-size:16px; font-weight:300;}
.layer_attendance_sec .layer_btns {display:none}