@charset 'utf-8';

.main_contents{padding-bottom: 50px;}
.main_contents .more{position:absolute; top:50px; right:0;}
.main_contents .banner{margin-top: 10px; text-align: center;}
.main_contents .main_visual{position:relative; overflow: hidden; width: 100%; height: 507px; margin-top: 10px;}
.main_contents .main_visual:before,
.main_contents .main_visual:after{content:''; position:absolute; top:0; bottom:0; z-index: 1; width: calc(50% - 500px); background:rgba(255,255,255,0.5);}
.main_contents .main_visual:before{left:0;}
.main_contents .main_visual:after{right:0;}
.main_contents .main_visual .slide{width: 1000px; margin:0 auto;}
.main_contents .main_visual .slide .ix-list-viewport{overflow:visible; height: 507px;}
.main_contents .main_visual .slide .paging{top:0; left:30px; bottom:auto; right:30px; margin: 0; border: 0; line-height: 37px; color:#fff; font-weight:bold;}
.main_contents .main_visual .slide [class*='_direction'] [class^="ix-btn"]{top:0; margin-top:0; height: 37px; background-image:url(/pc/ko/images/main/bg_btn_navi.png);}
.main_contents .main_visual .ix-controller{position:absolute; bottom: 20px; right:-50px; z-index: 2; width:100px; height: 37px; background:rgba(0, 0, 0, 0.3); -webkit-border-radius: 19px;-moz-border-radius: 19px;border-radius: 19px; text-align: center;}
.main_contents .main_visual .paging b{color:#fff}
.main_contents .main_visual .slide [class*='_direction'] .ix-btn-prev{background-position: -5px 0;}
.main_contents .main_visual .slide [class*='_direction'] .ix-btn-next{background-position: -61px 0;}

.main_contents .title{height:27px; padding: 47px 0 20px 10px; font-size: 23px; color:#333;}
/*.main_contents .ix-controller.round_box [class*='_direction'] [class^="ix-btn"]{z-index:1; width:34px; height:34px; background:url(/pc/ko/images/common/ico.png) no-repeat; background-position:0 -304px; border:none; opacity:.2}
.main_contents .ix-controller.round_box [class*='_direction'] [class^="ix-btn"]:hover{opacity:.5;}
.main_contents .ix-controller.round_box [class*='_direction'] .ix-btn-prev {left:10px;}
.main_contents .ix-controller.round_box [class*='_direction'] .ix-btn-next {right:10px; background-position:-34px -304px;}*/
.main_contents .wide144 .product_box .work_box{height: 144px;}
.main_contents .product_box .work_box .item_user{position:absolute; top:50%; left:0; width: 100%;}

.main_contents .tab_menu.bar{padding: 0; background:transparent; text-align: right;}
.main_contents .tab_menu.bar>ul>li{padding-left: 25px;}
.main_contents .tab_menu.bar>ul>li:after{display:none;}
.main_contents .ap_theme {width:100%; overflow:hidden;}
.main_contents .ap_theme .ui_tab {width:100%; height:350px; padding-top:47px; margin-top:-47px; position:relative; overflow:hidden;}
.main_contents .ap_theme .ui_tab .tab_cont {margin-top:0;}
.main_contents .ap_theme .tab_menu {position:absolute; top:11px; right:0;}
.main_contents .ap_theme .tab_contents {width:100%;  overflow:hidden;}
.main_contents .ap_theme .list_product {width:100%; height:350px; overflow:hidden; background:#fff;}
.main_contents .ap_theme .product_box > a {padding:20px 0; box-sizing:border-box;}
.main_contents .ap_theme .list_product.wide155> ul {margin-left:-14px;}
.main_contents .ap_theme .list_product.wide155> ul > li {height:350px; margin-left:16px;}
/*.main_contents .ap_theme .tab_cont{padding:18px; margin-top: 20px; background: #fff;}
.main_contents .ap_theme .list_product>ul>li{width:186px;}
.main_contents .ap_theme .product_box:hover {border-color:#fff}*/
/*.main_contents .ap_theme .product_box .visual_section{padding: 0;}
.main_contents .ap_theme .product_box .visual_section img{width: auto; height: auto;}
.main_contents .ap_theme .product_box .visual_section img + img{top:0; left:0; margin-left: 0;}
.main_contents .ap_theme .product_box .benefit{padding: 0;}
.main_contents .ap_theme .product_box .benefit>span{padding: 5px 6px 3px;}
.main_contents .ap_theme .list_product>ul>li + li{margin:0 0 0 24px;}
.main_contents .ap_theme .product_box .info_section{overflow:visible; height: auto; padding:0;}
.main_contents .ap_theme .product_box .info_section>*{margin-top: 10px;}
.main_contents .ap_theme .product_box .info_section,
.main_contents .ap_theme .product_box .txt_sale,
.main_contents .ap_theme .product_box .txt_price{font-size: 14px;}
.main_contents .ap_theme .product_box .user_atc{margin-top: 18px; white-space: nowrap;}*/

.main_contents .personal_area .list_product>ul{display:table; width: 100%; height: 300px;}
.main_contents .personal_area .list_product>ul>li{display:table-cell; height: 100%; margin-bottom: 0; background: #e6e6e6;}

.main_contents .event_card{margin-top: 50px;}
	.event_card .ix-list-item{width: 285px; margin-right: 20px;}
	.event_card dl{position:relative; height:195px; padding-top: 255px; text-align: left; background: #fff;}
	.event_card dt{position:relative; padding:28px 28px 26px; font-size: 22px;}
	.event_card dt .brand{position:absolute; top:-40px; left:30px; z-index: 1; width: 60px; height: 60px;}
	.event_card dd{padding:0 28px 28px;}
	.event_card .visual{position: absolute; top:0; left:0;}
	.event_card .visual.vod:after{content:''; position: absolute; bottom:10px; right:10px; width: 62px; height: 62px;background:url(/pc/ko/images/product/btn_vod.png) no-repeat;}
	.event_card .slide{width: auto; margin: -10px -28px 0; padding: 0 5px;}
	.event_card .slide .ix-list-item{width:84px; margin-left:7px; margin-right: 0;}
	.event_card .slide [class*='_direction'] [class^="ix-btn"]{}
	.event_card .product_box:hover{border-color:#fff;}
	.event_card .product_box .info_section{padding: 0; height: auto;}
	.event_card .color_white{color:#fff}
	.event_card .text{font-size: 13px;}
	.event_card .collection_slide [class*='_direction'] [class^="ix-btn"]{width:43px; height:77px; margin-top: -38.5px; background:url(/pc/ko/images/main/bg_btn_arrow.png) 0 0 no-repeat;}
	.event_card .collection_slide [class*='_direction'] [class^="ix-btn-prev"] {left:0;}
	.event_card .collection_slide [class*='_direction'] [class^="ix-btn-next"]{background-position:0 -79px; right:0;}
.event_card .ix-controller.round_box [class*='_direction'] [class^="ix-btn"]{top:110px; margin-top: 0; }

	.realtime_issue{}

.main_contents .ap_pop_item .list_product {width:100%; height:350px; overflow:hidden; background:#fff;}
.main_contents .ap_pop_item .list_product {width:100%; height:350px; overflow:hidden; background:#fff;}
.main_contents .ap_pop_item .product_box > a {padding:20px 0 10px; box-sizing:border-box;}
.main_contents .ap_pop_item .list_product.wide155 > div > ul {margin-left:-14px;}
.main_contents .ap_pop_item .list_product.wide155 > div > ul > li {width:186px; height:350px; margin: 0 0 0 16px;}
.main_contents .ap_pop_item .product_box .visual_section img{width: 155px; height: 155px;}
.main_contents .ap_pop_item .product_box .visual_section img + img{margin-left: -78px;}
.main_contents .ap_pop_item .product_box .benefit{padding-left: 15px;}
/*.ap_pop_item .slide{padding:18px; background: #fff;}
.ap_pop_item .list_product>ul>li{width:174px; margin-right:24px; text-align: left;}
.ap_pop_item .product_box{padding: 16px;}
.ap_pop_item .product_box:hover {border-color:#fff}
.ap_pop_item .product_box .visual_section{padding: 0;}
.ap_pop_item .product_box .benefit>span{padding: 5px 6px 3px;}
.ap_pop_item .product_box .info_section{overflow:visible; height: auto; padding:0;}
.ap_pop_item .product_box .info_section>*{margin-top: 10px;}
.ap_pop_item .product_box .info_section,
.ap_pop_item .product_box .txt_sale,
.ap_pop_item .product_box .txt_price{font-size: 14px;}
.ap_pop_item .product_box .user_atc{margin-top: 18px; white-space: nowrap;}
*/
.today_hotdeal,
.pop_brand{position: relative;}
.today_hotdeal .title{text-align: center;}
.today_hotdeal .title>b{position:relative; display:inline-block; padding-left: 40px;}
.today_hotdeal .title>b:before{content:url(/pc/ko/images/main/ico_hot_deal.png); position:absolute; top:-2px; left:0;}
.today_hotdeal .product_box .info_section{height:auto;}
.today_hotdeal .product_box .txt_summary{height:40px; font-size: 16px;}
.today_hotdeal .price_atc>*{font-size: 18px;}

.pop_brand .brand_list > ul > li.ix-list-item{width: 387px; margin: 0 20px 19px 0;}
.pop_brand .brand_list .brand_box .tags_box {text-align: left;}

.main_contents .main_bt_area {overflow:hidden;}
.main_contents .special_gift_item,
.main_contents .best_photo_review{position: relative; overflow:hidden; width: 590px;}
.main_contents .special_gift_item {float:left;}
.main_contents .best_photo_review {float:right;}
.main_contents .special_gift_item .list_product,
.main_contents .best_photo_review .list_product {margin-left:-20px;}
.main_contents .special_gift_item .ix-list-item,
.main_contents .best_photo_review .ix-list-item{width:285px; height: 507px; margin-left:20px; background: #fff; margin-bottom: 0;}
.main_contents .special_gift_item .special_gift_list{padding:27px 5px 0; overflow:hidden;}
.main_contents .special_gift_item .special_gift_list>li{display:inline-block; width:84px;}
.main_contents .special_gift_item .special_gift_list>li>span{display:block; margin-top: 20px; font-size: 12px; color:#898989;}
.main_contents .special_gift_item .visual_section{width:100%; height:219px; padding:0; text-align:center;}
.main_contents .special_gift_item .visual_section>img{width:219px; height:219px;}
.main_contents .special_gift_item .visual_section.gradient:before{content:''; position:absolute; top:0; left:0; right:0; bottom:0; z-index: 1; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.03) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.03) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.03) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );}
.main_contents .special_gift_item .product_box .info_section,
.main_contents .special_gift_item .product_box .price_atc>*{font-size: 18px;}
.main_contents .special_gift_item .product_box .txt_summary{height: 50px; margin-top:25px;}
.main_contents .special_gift_item .product_box .work_box{height: 219px;}

.main_contents .best_photo_review .ix-list-item{text-align: left;}
.main_contents .best_photo_review .product_box .info_section{height:auto; font-size: 16px; padding:0 20px;}
.main_contents .best_photo_review .product_box .txt_summary{height: 40px; margin-top:17px; line-height:1.2;}
.main_contents .best_photo_review .product_box .price_atc>.txt_price{font-size: 16px;}
.main_contents .best_photo_review .product_box .price_atc>.txt_sale,
.main_contents .best_photo_review .product_box .price_atc>.txt_price>em{font-size: 18px;}
.main_contents .best_photo_review .visual_section{height:144px; position:relative; padding:0;}
.main_contents .best_photo_review .visual_section > img {width:144px; height:144px;}
.main_contents .best_photo_review .visual_section.gradient:before{content:''; position:absolute; top:0; left:0; right:0; bottom:0; z-index: 1; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.03) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.03) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.03) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );}
.main_contents .best_photo_review .photo_review{width: auto; padding: 0 16px; font-size: 14px; margin: 0;}
.main_contents .best_photo_review .photo{overflow:hidden; position:relative; display:block; width: 158px; height: 158px; margin:35px auto 20px; border-radius:50%;}
.main_contents .best_photo_review .photo>img{position:absolute; top:50%; left:50%; width:100%; height:100%; max-width: inherit; -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.main_contents .recommended_item {background:url(/pc/ko/images/main/bg_unit.png) 0 0 no-repeat;}