@charset "utf-8";

/* 회원 관련 */

input[type=text]::-ms-clear{
	display: none;
}
input[type=password]::-ms-reveal{
  display: none;
  }
/* 로그인 */
.member_login {width:484px; margin:0 auto; padding: 50px 0 300px; color:#666;}
.member_login .page_title {margin-bottom: 33px; text-align: center;}
.member_login .page_title .h_title {font-size: 40px; color: #000;}
.member_login .tab_menu{height: 48px;}
.member_login .tab_menu>ul>li {border-color: #999999; background: #f0f2f3; border-bottom:2px solid #000;}
.member_login .tab_menu>ul>li.on{border:2px solid #000; border-bottom:2px solid #fff; background: #fff;}
.member_login .tab_menu>ul>li>*{height: 46px; padding: 0; font-size: 16px; font-weight: normal; color: #888; width: auto;}
.member_login .tab_menu li button {width: 100%;}
.member_login .tab_menu>ul>li.on>*{font-weight: bold; color: #000;}
.member_login .tab_cont{padding:0 0 16px;}

.member_login .form>*:not(legend) + *{margin-top:9px;}
.member_login [class^="btn_"] {border-radius: 0;}
.member_login .btn_lg_bordered{font-size:16px; color:#888;}
.member_login .btn_login{display: block; height: 53px; color:#fff; background-color: #782fff; font-size: 18px; line-height: 55px; border: 1px solid #9a64ff;}
/* 
.member_login .input_wrap>input,
.member_login .select_wrap>button,
 .member_login .placeholder{height:50px; font-size: 16px;}
*/
.member_login .input_wrap>input {z-index: 1; height: 53px; font-size: 17px; color: #333; padding: 0 20px; border: 1px solid #d1d1d6;}
.member_login .input_wrap>input:focus {border: 1px solid #782fff;}
.member_login .placeholder {z-index: 0; font-size: 17px; height: 53px; line-height: 53px; padding-left: 20px;}
.member_login .check_wrap.large>label{min-height: 35px; padding-left: 44px; color:#666; line-height: 35px;}
.member_login .check_wrap.large>label:before{width: 35px; height: 35px; border-radius: 50%; border:1px solid #ccc; background-color:transparent;}
.member_login .check_wrap.large>label:after{top: 1px; left: 1px; width: 33px; height: 33px; margin-top: 0; background: url(/pc/ko/images/member/bg_check.png) no-repeat; -webkit-background-size: 33px;background-size: 33px;}
.member_login .check_wrap.large>input[type="checkbox"]:checked + label:before{background:#88a2c3; border-color: #88a2c3;}
.member_login .check_wrap.large>input[type="checkbox"]:checked + label:after{background-position:0 -32px;}
.member_login .check_wrap.large>label{font-size: 14px;}
.member_login .sns_log>*{position:relative; width: 100%; height: 50px; margin-left: 0; padding-left:45px; text-align:left; font-size:16px; color:#888; border-color:#d7d7db;}
.member_login .sns_log>*+*{margin-top:8px;}
.member_login .sns_log .ico_navi{position:absolute; top:50%; right:10px; margin-top: -9px; width:11px; height:19px; background: url(/pc/ko/images/common/ico.png) no-repeat -45px -60px;}
.member_login .sns_log [class*="ico_"]:first-child{position:absolute; top:50%; left:15px; margin-top: -13px;}
.member_login .ico_naver{width:20px; height:27px; background-position:-100px -80px;}
.member_login .ico_facebook{width:20px; height:27px; background-position:-100px -110px;}
.member_login .ico_kakao{width:24px; height:27px; background-position:-100px -140px;}
.member_login .member_menu{height: 42px; padding-top: 8px; text-align:center;}
.member_login .member_menu>a{position:relative; display:inline-block; padding-left: 15px; margin-left: 15px; font-size: 13px;}
.member_login .member_menu>a + a:before{content:''; position:absolute; top:3px; left:0; width:1px; height:12px; background:#d1d1d6}
.member_login .input_wrap button{position:absolute; top:50%; right:10px; z-index: 3; width:28px; height:28px; margin-top:-14px; padding:0; background:url(/pc/ko/images/common/ico.png) no-repeat;}
.member_login .input_wrap .btn_password{background-position: -140px 0;}

.member_login .txt_error {font-size: 15px; color: #782fff;}
.member_login .txt_error.top {padding-bottom: 6px;}
.member_login .txt_error.last {padding-bottom: 6px;}
.member_login .input_wrap .txt_error {padding: 5px 0 9px 0;}
.member_login .input_group + .txt_error {margin-top: 5px;}

.member_login .check_wrap.chk_type2 > input[type="checkbox"] + label {padding-left:34px;}
.member_login .check_wrap.chk_type2 > input[type="checkbox"] + label:before {width:26px; height:26px; background:url("/pc/ko/images/member/ico_check_member_off.png") 0 0 no-repeat;}
.member_login .check_wrap.chk_type2 > input[type="checkbox"] + label {font-size: 16px; line-height:26px;}
.member_login .check_wrap.chk_type2 > input[type="checkbox"]:checked + label:before { background:url("/pc/ko/images/member/ico_check_member_on.png") 0 0 no-repeat;}

.member_login .form .box_one_line {margin-top: 15px;}
.member_login .box_one_line:after {content: ""; display: block; clear: both;}
.member_login .box_one_line .check_wrap {float: left;}
.member_login .box_one_line .member_menu {float: right; padding-top: 0; margin-top: 4px; height: auto;} 
.member_login .box_one_line .member_menu a {font-size: 15px;}

.member_login .input_wrap .btn_id_del {position: absolute; right: 15px; top:18px; z-index: 2; padding: 0; width:14px; height: 14px; background:url("/pc/ko/images/member/btn_del_member.png") 0 0 no-repeat;}
.member_login .input_wrap .btn_password {position: absolute; right: 13px; top: 20px; z-index: 2; padding: 0; width:18px; height: 13px; background:url("/pc/ko/images/member/ico_pw_member.png") 0 0 no-repeat;}

.member_login .select_wrap.w_20per {width: 20%;}
.member_login .select_wrap>button {height: 53px; border: 1px solid #d1d1d6; font-size: 17px; color: #000;}
.member_login .select_wrap>button:hover {border: 1px solid #d1d1d6;}
.member_login .select_wrap>button:focus {border: 1px solid #782fff;}

/* 휴대전화 인증 */
.tel_confirm_time {width:100%; padding:0 20px; height:53px; line-height: 53px; font-size: 17px; color: #000; border:1px solid #d1d1d6; box-sizing: border-box; background-color: #fff;}
.tel_confirm_time span:nth-child(2) {margin-left: 30px; vertical-align: middle;}
.tel_resend_wrap:after {content: ""; display: block; clear: both;}
.tel_resend_wrap .txt_error {float: left;}
.tel_resend_wrap .tel_confirm_num_resend {float: right;}
.tel_confirm_num_resend {font-size: 15px; color: #000;}
.tel_confirm_num_resend a {border-bottom: 1px solid #000;}
.member_login .form .tel_confirm_num_txt {margin: 24px 0;}
.tel_confirm_num_txt li {font-size: 14px; color: #888; line-height: 17px;}

.membership_overview .payform_box .ui_table dt {width:226px;}
.membership_overview .payform_box .ui_table dd {width:;}
.membership_overview .panel .cart_list dt .tit {line-height:1.5;}

/* 퍼시픽샵 */
.pacificshop.member_login .title_sub_txt {margin-bottom: 33px; font-size: 16px; color: #000; text-align: center; line-height: 1.5;}
.pacificshop.member_login .title_sub_txt .point-color {color: #782fff;}
.pacificshop.member_login .sub_txt {margin-top: 30px; font-size: 16px; color: #666666; text-align: center; line-height: 1.5; letter-spacing:-1px;}