@charset "UTF-8";

.overview_notice {margin-top:40px;}
.overview_notice>* {font-size:18px; color:#888;}
.overview_notice .list_bullet_dot {margin-top:25px;}

/* 배너 */
.com_banner {width:100%; margin-top:10px; overflow:hidden;}
.com_banner>.inner {width:1200px; height:150px; margin:0 auto; font-size:0;}
.com_banner.event {background:url(/pc/ko/images/banner/event.png) 50% 50% no-repeat #d9cbf1;}
.com_banner.evt_one_plus{background:url(/pc/ko/images/event/title_one_plus_one.png) 0 0 no-repeat #c8abdc;}
.com_banner.brand {background:url(/pc/ko/images/banner/brand.png) 50% 50% no-repeat #b5b5aa;}
.com_banner.ranking {background:url(/pc/ko/images/banner/ranking.png) 50% 50% no-repeat #dda8b3;}
.com_banner.magazine {background:url(/pc/ko/images/banner/magazine.png) 50% 50% no-repeat #9bc4b9;}
.com_banner.coupon {background:#b2aedb;}
.com_banner.space {margin-top:-67px;} /* 상단 breadcrumb가 있는경우 */
/* 상단 visual */
.com_visual {margin-top:10px; text-align:center;}
.com_visual img {vertical-align:top;}

/* 타이틀 */
.overview .page_title, .overview .title_area {padding:20px 10px; font-weight:700;}
.overview .page_title .des, .overview .title_area .des {margin-left:10px; color:#666; font-size:17px; font-weight:normal;}

/* 공통간격 */
.overview .section_wrap {margin-top:50px; overflow:hidden;}
.overview .section_wrap .section_boxing + .section_boxing {margin-top:20px;}
.overview .overview_detail .section_wrap .section_boxing + .section_boxing {margin-top:69px;}
/*.overview .section_wrap .section_boxing */
.overview .section_wrap .section_boxing:first-child>.page_title,
.overview .section_wrap .section_boxing:first-child>.title_area_title,
.overview .section_wrap .section_boxing:first-child>.title_area {padding-top:0;}

/* 매거진 */
.magazine_overview {width:100%; overflow:hidden;}
.magazine_box {position:relative; background:#fff;}
.magazine_box > img {width:100%; height:100%;}
.magazine_box .visual_section.movie {position:relative;}
.magazine_box .visual_section.movie:after {content:''; width:40px; height:40px; background:url(/pc/ko/images/product/btn_vod.png) 0 0 no-repeat; background-size:100% 100%; position:absolute; bottom:15px; right:15px;}
.magazine_box .visual_section img {width:100%;}
.magazine_box .info_section {min-height:36px; padding:18px 20px 19px; text-align:left;}
.magazine_box .info_section>* {font-size:16px;}
.magazine_box .creator {margin-top:13px; color:#888; font-size:14px;}
.magazine_box .rank_num {position:absolute; top:11px; left:11px; width:44px; height:44px; color:#fff; font-size:16px; background:#000; border-radius:50%; text-align:center; line-height:44px; z-index:1;}

.magazine_slide {}
.magazine_slide .ix-list-items .ix-list-item {width:285px; margin-right:20px;} /* default 4단 */
.magazine_slide.cell02 .ix-list-items .ix-list-item {width:590px;} /* 2단 */
.magazine_slide.wide .ix-list-items .ix-list-item {width:100%; margin-right:0;} /* 1단 */
.magazine_slide .slide [class*='_direction'] [class^="ix-btn"]{width:34px; height:34px; background:url(/pc/ko/images/common/ico.png) no-repeat; background-position:0 -304px; border:none; opacity:.2}
.magazine_slide .slide [class*='_direction'] .ix-btn-prev {left:10px;}
.magazine_slide .slide [class*='_direction'] .ix-btn-next {right:10px; background-position:-34px -304px;}
.magazine_slide .slide .slide_direction a:hover{opacity:.5;}

.magazine_list {}
.magazine_list>ul {margin:-20px -20px 0;}
.magazine_list>ul:after {content:''; clear:both; display:block;}
.magazine_list>ul>li {float:left; margin:20px 0 0 20px; overflow:hidden;} /* default 4 */
.magazine_list>ul>li > a,
.magazine_slide ul > li > a {display:inline-block; position:relative;}
.magazine_list>ul>li > a:after,
.magazine_slide ul > li > a:after {content:''; display:none; width:100%; height:100%; border:1px solid #000; position:absolute; top:0; left:0; z-index:1; box-sizing:border-box;}
.magazine_list>ul>li > a:hover:after,
.magazine_slide ul > li > a:hover:after {display:inline-block;}
.magazine_slide.cell02 ul > li > a:after {display:none;}
.magazine_list .magazine_box {width:285px; }
.magazine_list.line3 .info_section {height:65px;}
.magazine_list .magazine_box .visual_section {width:100%; height:161px;}

.pick_list {}
.pick_list>ul {margin:-20px -10px 0;}
.pick_list>ul:after {content:''; clear:both; display:block;}
.pick_list>ul>li {float:left; width:50%; margin-top:20px;}
.pick_list>ul>li>a {display:block; margin:0 10px;}
.pick_box {overflow:hidden; height:160px; background:#fff;}
.pick_box .visual_section, .pick_box .info_section {}
.pick_box .visual_section {float:left; width:285px; height:161px; overflow:hidden;}
.pick_box .visual_section > img {width:100%; height:100%; }
.pick_box .info_section {height:130px; padding:15px 19px 15px 304px;}
.pick_box .name {color:#000; font-size:17px; font-weight:700;}
.pick_box .summary {overflow:hidden; height:72px; margin-top:7px; line-height:1.3;}
.pick_box .user {margin-top:15px; color:#333; font-weight:700;}
.pick_box .user>span {position:relative; padding-left:20px; color:#888; font-weight:normal;}
.pick_box .user>span:after {content:''; display:block; clear:both; position:absolute; top:1px; left:10px; width:1px; height:14px; background:#cdcdcd;}

.hotkeyword_list {padding:30px 29px; background:#fff;}
.hotkeyword_list>ul {margin-top:-20px;}
.hotkeyword_list>ul:after {content:''; clear:both; display:block;}
.hotkeyword_list>ul>li {float:left; width:190px; margin-top:20px;}
.hotkeyword_box {padding:0 21px; text-align:center;}
.hotkeyword_box .visual_section > img {width:100%; height:100%;}
.hotkeyword_box .hotkeyword {width:107px; margin:21px auto 0; font-weight:700;}

/* 랭킹 */

/* 브랜드 */

/* 쿠폰,혜택 */
.coupon_overview .ui_tab>.tab_contents, .coupon_overview .ui_tab .tab_cont {margin-top:0;} /* 쿠폰존 */
.login_area {min-height:187px; padding:35px 0 42px; background:#fff; text-align:center; border-bottom:1px solid #d1d1d6;}
.login_area p {margin-bottom:24px; color:#000; font-size:20px;}
.login_area a {width:332px; height:63px; font-size:30px; border-radius:3px;}
.grade_area {padding:62px 0 53px; background:#fff; border-bottom:1px solid #d1d1d6;}
.grade_area .inner_wrap {padding:0 22px;}
.grade_area .member_grade {min-height:72px; padding:19px 0 0 88px; color:#000; font-size:32px;}
.grade_area .member_grade strong {font-weight:normal;}
.level_01 {background:url(/pc/ko/images/coupon/grade_01.png) no-repeat 0 0;}
.level_01 strong {color:#34b4b9;}
.level_02 {background:url(/pc/ko/images/coupon/grade_02.png) no-repeat 0 0;}
.level_02 strong {color:#fd653c;}
.level_03 {background:url(/pc/ko/images/coupon/grade_03.png) no-repeat 0 0;}
.level_03 strong {color:#782fff;}
.level_04 {background:url(/pc/ko/images/coupon/grade_04.png) no-repeat 0 0;}
.level_04 strong {color:#ffc000;}
.level_05 {background:url(/pc/ko/images/coupon/grade_05.png) no-repeat 0 0;}
.level_05 strong {color:#ffc000;}

.coupon_state {margin-top:-4px; padding-bottom:7px; color:#000; font-size:38px;}
.coupon_state a {color:#782fff; font-size:24px;}
.couponzone {margin-top:40px;}
.couponzone .section_boxing {margin-top:20px;}
.couponzone .section_boxing:first-child {margin-top:4px;}
.couponzone .page_title, .couponzone .title_area {position:relative; padding:12px 0 10px;}
.couponzone .page_title .h_title, .couponzone .title_area .h_title {color:#000;}
.couponzone .page_title .tooltip_box, .couponzone .title_area .tooltip_box {position:absolute; top:16px; right:0;}

.down_couponzone {width:989px; padding:0 0 50px 22px;}
.couponzone_list {margin-top:-25px;}
.couponzone_list:after {content:''; clear:both; display:block;}
.couponzone_list li {float:left; margin-top:25px;}
.couponzone_list li + li {margin-left:50px;}
.couponzone_box>button {margin-left:7px;}

.benefit_couponzone {padding:7px 0 30px 0; background:#fff;}
.benefit_couponzone .page_title {padding:20px;}
.coupon_table {width:100%; border:1px solid #d1d1d6;}
.coupon_table>* {color:#999; font-size:24px;}
.coupon_table th, .coupon_table td {padding:0 20px;}
.coupon_table thead th {height:113px; color:#000; border-left:1px solid #d1d1d6; border-bottom:1px solid #d1d1d6;}
.coupon_table thead th strong {display:block; margin-top:10px;}
.coupon_table thead th:first-child {text-align:left; border-left:none;}
.coupon_table tbody th {font-weight:normal; text-align:left;}
.coupon_table tbody td {height:56px; text-align:center; border-left:1px solid #efefef;}
.coupon_table tbody th, .coupon_table tbody td {border-top:1px solid #efefef;}
.coupon_table tr:first-child tbody th, .coupon_table tr:first-child tbody td {border-top:none;}
.coupon_table tr:first-child tbody th, .coupon_table tr:first-child tbody td {border-top:none;}
.coupon_table tr:first-child tbody th, .coupon_table tr:first-child tbody td {border-top:none;}
.coupon_table .spe {padding:0; background:#782fff;}
.coupon_overview .banner_couponzone {background:#f7f8f9; border-top:1px solid #d1d1d6; border-bottom:1px solid #d1d1d6; text-align:center;}

/* VIP 라운지 */
.viplounge {}
.lounge_info {padding:34px  0 37px; color:#999; font-size:28px; background:#fff; border-bottom:2px solid #d1d1d6;}
.lounge_info strong {margin-right:25px; color:#000; font-size:32px; font-weight:normal;}
.lounge_area {margin:40px 0;}
.lounge_area .page_title, .lounge_area .title_area {padding:20px 23px}
.lounge_area .page_title .summary, .lounge_area .title_area .summary {margin-top:14px; color:#888; font-size:23px;}

.lounge_slide {width:1130px; margin:0 auto;}
.lounge_slide .ix-list-items .ix-list-item {width:525px; margin-right:7px;} /* default 2단 */
.lounge_slide .slide [class*='_direction'] [class^="ix-btn"]{width:34px; height:34px; background:url(/pc/ko/images/common/ico.png) no-repeat; background-position:0 -304px; border:none; opacity:.2}
.lounge_slide .slide [class*='_direction'] .ix-btn-prev {left:-40px;}
.lounge_slide .slide [class*='_direction'] .ix-btn-next {right:-40px; background-position:-34px -304px;}
.lounge_slide .slide .slide_direction a:hover{opacity:.5;}

.banner_lounge {text-align:center;}
.banner_lounge>.boxing {margin-top:1px; background:#000;}
.banner_lounge .msg {color:#c2c2c2; font-size:30px;}
.banner_lounge .msg>strong {color:#fff; font-weight:normal;}
.banner_lounge .type1 {min-height:119px; padding:44px 0; background:#782fff;}
.banner_lounge .type2 {background:#1c1430;}
.banner_lounge .type3 {background:#000;}

/* 출석체크 */
.banner_checkzon {}
.banner_checkzon li {text-align:center;}
.banner_checkzon li:nth-child(even) {background:#fff;}

.checkzone .overview_notice {margin-top:50px;}

.attendance_calendar .month_select {position:relative; height:92px; padding:0 36px; background:#782fff; text-align:center;}
.attendance_calendar .month_select .btn {position:absolute; top:0; width:36px; height:92px;}
.attendance_calendar .month_select .btn:disabled {background:transparent;}
.attendance_calendar .month_select .btn:after {content:''; display:inline-block; width:10px; height:16px;}
.attendance_calendar .month_select .btn.prev {left:0;}
.attendance_calendar .month_select .btn.prev:after {background-image:url(/pc/ko/images/coupon/btn_month_prev.png);}
.attendance_calendar .month_select .btn.next {right:0;}
.attendance_calendar .month_select .btn.next:after {background-image:url(/pc/ko/images/coupon/btn_month_next.png);}
.attendance_calendar .month_select .current_month {color:#fff; font-size:35px; line-height:92px;}
.attendance_calendar .attendance_graph {height:110px; padding:0 30px;}
.attendance_calendar .attendance_graph .graph {position:relative; top:45px; margin-right:220px; padding:0;}
.attendance_calendar .attendance_graph .graph .bar {width:100%; height:11px; border-radius:6px; box-shadow:inset 0 1px 3px rgba(217,217,217,.8); background-color:#fff;}
.attendance_calendar .attendance_graph .current {position:absolute; top:0; left:0; width:50%; height:11px; border-radius:6px 0 0 5px; background-color:#7052ce; box-shadow:inset 0 1px 3px rgba(95,70,175,1);}
.attendance_calendar .attendance_graph .percent {margin-top:-4px; padding-top:16px; font-size:18px; color:#782fff; text-align:right; font-weight:bold;}
.attendance_calendar .attendance_graph .percent .tl {color:#888;}
.attendance_calendar .attendance_graph .percent em {font-size:38px;}
.attendance_calendar .calendar_area {position:relative;}
.attendance_calendar table {width:100%; border-bottom:1px solid #e5e7e8;}
.attendance_calendar th {height:70px; padding-left:45px; color:#5d5d5d; font-weight:700; font-size:26px; text-align:left;}
.attendance_calendar td {height:142px; padding:6px 4px; border-bottom:1px solid #e5e7e8; border-left:1px solid #e5e7e8; vertical-align:top; background:#fff; text-align:center;}
.attendance_calendar td:first-child {border-left:none;}
.attendance_calendar .sun {color:#ed0606;}
.attendance_calendar .sat {color:#0a1087;}
.attendance_calendar .today{background: #e5e7e8;}
.attendance_calendar .date {display:block; width:50px; height:50px; color:#555; font-size:28px; line-height:54px; border-radius:50%; text-align:center; letter-spacing:-1px;}
.msie .attendance_calendar .date {line-height:49px;}
.attendance_calendar .checked .date {background:#782fff; color:#fff;}
.attendance_calendar .brand {display:block; margin-top:7px;}

.select_coupon_area {margin:80px 0 40px; padding-top:90px; border-top:2px solid #d8d8d8;}
.select_coupon_area h4 {margin-bottom:100px; text-align:center;}

.coupon_slide {width:857px; margin:0 auto;}
.coupon_slide .ix-list-items .ix-list-item {width:212px; margin-right:3px;} /* default 4단 */
.coupon_slide .slide [class*='_direction'] [class^="ix-btn"]{width:34px; height:34px; background:url(/pc/ko/images/common/ico.png) no-repeat; background-position:0 -304px; border:none; opacity:.2}
.coupon_slide .slide [class*='_direction'] .ix-btn-prev {left:-40px;}
.coupon_slide .slide [class*='_direction'] .ix-btn-next {right:-40px; background-position:-34px -304px;}
.coupon_slide .slide .slide_direction a:hover{opacity:.5;}

.banner_checkzone {text-align:center;}
.banner_checkzone>.boxing {border-bottom:1px solid #d1d1d1;}
.banner_checkzone .type1 {background:#fbcfe4;}
.banner_checkzone .type2 {background:#beeccb;}

.today_brand_coupon {margin-bottom:40px; color:#000; font-size:16px; font-weight:700;} /* layer : today쿠폰 */
.coupon_items.today {}
.coupon_items.today>* {color:#222;}
.coupon_items.today .item {position:relative; padding:30px 0 0 30px;}
.coupon_items.today .item .thumb, .coupon_items.today .item .thumb>img {width:110px; height:110px;}
.coupon_items.today .item .info .brand_name {font-size:16px;}
.coupon_items.today .item .info .name {margin:8px 0;}
.coupon_items.today .info .price strong {font-size:19px;}
.coupon_items.today .info .price del {margin-left:3px; color:#888;}
.coupon_items.today .state {color:#333; font-size:13px; font-weight:700;}
.coupon_items.today .state .num {font-size:17px;}
.coupon_items.today .more {position:relative; margin-left:10px; padding-right:11px; color:#782fff;}
.coupon_items.today .more:after {content:''; clear:both; display:block; position:absolute; top:50%; right:0; width:5px; height:10px; margin-top:-6px; background:url(/pc/ko/images/common/bg_more.png) no-repeat 0 0;}
.coupon_items.today .mark_sale {position:absolute; top:0; left:0; width:55px; height:55px; color:#fff; font-size:20px; line-height:60px; background:#333; border-radius:50%; text-align:center;}

.today_coupon {width:274px; height:144px; margin:0 auto; padding:28px 30px 0 46px; background:url(/pc/ko/images/coupon/bg_today_coupon.png) no-repeat 0 0;}
.today_coupon>* {color:#000;}
.today_coupon .name {font-size:18px;}
.today_coupon .price {margin-top:1px; font-size:20px;}
.msie .today_coupon {padding:24px 0 0 46px;}
.msie .today_coupon .price {margin-top:-4px;}
.today_coupon .price strong {font-size:63px; letter-spacing:-1px;}

/* 신규혜택 */
.banner_new_benefit {background:#f6f6f6;}
.banner_new_benefit>li {border-bottom:2px solid #d1d1d1;}
.banner_new_benefit>li>a {display:block; height:380px;}
.banner_new_benefit .type1 {background:url(/pc/ko/images/util/new_benefit_01.jpg) no-repeat 50% 0;}
.banner_new_benefit .type2 {background:url(/pc/ko/images/util/new_benefit_02.jpg) no-repeat 50% 0;}
.banner_new_benefit .type3 {background:url(/pc/ko/images/util/new_benefit_03.jpg) no-repeat 50% 0;}
.banner_new_benefit .type4 {background:url(/pc/ko/images/util/new_benefit_04.jpg) no-repeat 50% 0;}

.new_benefit_slide {width:1060px; margin:0 auto;}
.new_benefit_slide .ix-list-items .ix-list-item {width:212px;} /* default 5단 */
.new_benefit_slide .slide [class*='_direction'] [class^="ix-btn"]{width:34px; height:34px; background:url(/pc/ko/images/common/ico.png) no-repeat; background-position:0 -304px; border:none; opacity:.2}
.new_benefit_slide .slide [class*='_direction'] .ix-btn-prev {left:-40px;}
.new_benefit_slide .slide [class*='_direction'] .ix-btn-next {right:-40px; background-position:-34px -304px;}
.new_benefit_slide .slide .slide_direction a:hover{opacity:.5;}
.new_benefit_slide .product_box .visual_section {padding-top:0;}
.new_benefit_slide .product_box .visual_section img {width:130px; height:130px;}
.new_benefit_slide .product_box .visual_section img + img {margin-left:-65px}
.new_benefit_slide .product_box .info_section>* {text-align:left;}

/* 플러스멤버십 */
.membership_overview .page_title {padding:53px 0 28px;}
.membership_overview .page_title .h_title {color:#333; font-size:42px;}

.visual_membership {height:592px; margin-top:10px; background:#782fff url(/pc/ko/images/membership/bg_visual_plus.jpg) no-repeat 50% 0;}
.visual_membership>div {position:relative; height:592px;}
.visual_membership .txt_visual_membership {display:inline-block; margin:120px 0 0 55px;}

.membership_overview {}
.membership_overview .page_title, .membership_overview .title_area {padding:22px 20px; color:#222;}
.membership_overview .overview_notice {margin:27px 20px;}
.membership_area {margin-top:27px;}

.membership_slide_box {position:absolute; bottom:0; right:75px; width:416px; height:506px; padding:24px 24px 0;}
.membership_slide .bg_membership_slide {position:absolute; top:0; left:0; z-index:1; width:416px; height:506px;}
.membership_slide {width:368px;}
.membership_slide .ix-list-items .ix-list-item {width:368px;}
.membership_slide .slide [class*='_direction'] [class^="ix-btn"]{width:34px; height:34px; background:url(/pc/ko/images/common/ico.png) no-repeat; background-position:0 -304px; border:none; opacity:.2}
.membership_slide .slide [class*='_direction'] .ix-btn-prev {left:-40px;}
.membership_slide .slide [class*='_direction'] .ix-btn-next {right:-40px; background-position:-34px -304px;}
.membership_slide .slide .slide_direction a:hover{opacity:.5;}

.member_up_box {margin-bottom:10px; padding:0 15px 35px; background:#fff; border-bottom:1px solid #c2c1c2;}
.membership_level {width:100%; padding:100px 0 53px 0; color:#000; font-size:20px; font-weight:700; text-align:center; background:#fff;}
.membership_level>span {position:relative; display:inline-block; text-align:left;}
.membership_level .box {position:relative; width:112px; padding-top:123px; color:#a7a7a7; font-size:12px; text-align:center;}
.membership_level .box img {position:absolute; top:0; left:0; width:112px; height:112px;}
.membership_level .level {top:-72px; margin-right:30px;}
.membership_level .plus {top:-73px; margin:0 20px;}
.membership_level .benefit {top:-61px;margin-left:15px;}

.policy_wrap .policy_agree {margin-top:12px; text-align:right;}
.membership_policy {border:1px solid #c1c1c1; background:#fff;}
.membership_policy>* {color:#666; font-size:13px;}
.membership_policy .title_area {padding:22px 30px; background:#fafafa;}
.membership_policy .policy_area {padding:10px;}
.membership_policy .policy_area .scroll {overflow-x:hidden; height:257px;}
.membership_policy .policy_area {}
.membership_policy .policy_area .box {margin:20px;}
.membership_policy .list_policy li {}
.membership_policy .list_policy>li + li {margin-top:25px;}
.membership_policy .list_policy>li>strong {color:#782fff;}
.membership_policy .list_policy>li>ul {margin:10px 0 0 25px;}
.membership_policy .list_policy>li>ul>li {margin-left:-20px; padding-left:20px; text-indent:-14px;}

/* 이벤트 */
.event_overview .page_title {padding:20px 20px 15px;}
.event_control {position:absolute; top:5px; right:9px;}
.event_control>ul {display:inline;}
.event_control>ul>li {display:inline;}
.event_control>ul>li>button {color:#888; font-size:16px;}
.event_control>ul>li + li {margin-left:30px;}
.event_control .current>* {color:#000;}
.event_control .btn_xs_bordergray {padding-right:14px; margin:-4px 0 0 30px;}
.event_control .btn_xs_bordergray > i.ico_arr_r {width:4px; height:8px; display:block; position:absolute; top:4px; right:7px;}

.event_list>ul {margin:-20px 0 0 -20px;}
.event_list>ul:after {content:''; display:block; clear:both;}
.event_list>ul>li {float:left; width:386px; margin:20px 0 0 20px;}
.event_list>ul>li img {width:100%;}

.event_box {background:#fff;}
.event_box .info_section {position:relative; height:31px; padding:19px 70px 22px 18px;}
.event_box .info_section>* {color:#000;}
.event_box .info_section .date {margin-top:4px;}
.event_box .info_section .like_area {position:absolute; top:50%; right:1px; width:60px; margin-top:-17px; text-align:center;}
.event_box .info_section .like_area em {display:block; margin-top:4px; color:#000;}

/* 매거진, 이벤트 상세보기 */
.overview_detail>.tit_area {overflow:hidden; background:#fff; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
.overview_detail>.tit_area>.inner_wrap {min-height:24px; overflow:hidden; position:relative;}
.overview_detail>.tit_area .tit {padding:25px 150px 26px 30px; overflow:hidden; color:#000; font-size:20px; font-weight:700;}
.overview_detail>.tit_area .date {margin-left:12px; color:#888; font-size:14px;}
.overview_detail>.tit_area .sns_share {height:39px; margin-top:-19px; position:absolute; top:50%; right:30px; text-align:right;}
.overview_detail>.tit_area .sns_share> li {display:inline-block; font-size:0;}
.overview_detail>.tit_area .sns_share> li + li {margin-left:16px;}
.overview_detail>.tit_area .sns_share .like_sm {margin-top:6px;}
.overview_detail>.tit_area .sns_share .total_num {position:relative; top:2px; font-size:16px; font-weight:normal;}
.overview_detail>.visual_area {text-align:center; overflow:hidden;}
.overview_detail>.visual_area .mz_area {width:500px; overflow:hidden; margin:90px auto; line-height:1;}
.overview_detail>.visual_area .mz_area > iframe{overflow:hidden;}
.overview_detail>.visual_area.line {border-bottom:1px solid #d1d2d6;}
.overview_detail>.section_wrap {margin-top:50px;}
.overview_detail>.section_wrap .section_boxing {margin-top:70px;}
.overview_detail>.section_wrap .section_boxing:first-child {margin-top:0;}

.overview .overview_detail .visual_slide {width:500px; margin:0 auto; overflow:hidden;}
.overview .overview_detail .visual_slide .ix-list-items .ix-list-item {width:500px;}
.overview .overview_detail .visual_slide .ix-list-items .ix-list-item > img {width:100%;}

.btn_joins {width:241px; height:74px; color:#fff; font-size:28px; background:url('/pc/ko/images/common/bg_gradation.png') 0 0 no-repeat;}
.msie .overview_detail .btn_joins>span {margin-top:-9px;}
.btn_joins i {margin:-2px 0 0 35px;}

/* 구매금액대별 사은품 */
.gift_overview {margin-top:22px}
.gift_overview .title_area {padding:19px 15px 17px;}
.list_gift {}
.list_gift>ul {margin:-19px 0 0 -20px;}
.list_gift>ul:after {content:''; clear:both; display:block;}
.list_gift>ul>li {float:left; width:590px; margin:19px 0 0 20px;}
.gift_box {position:relative; padding:0 21px 26px; background:#fff;}
.gift_box .mark {position:absolute; top:20px; left:21px; display:inline-block; height:30px; padding:0 20px; color:#333; font-size:18px; border:1px solid #050001; border-radius:15px; line-height:30px;}
.msie .gift_box .mark {line-height:27px;}
.gift_box .visual_section {width:300px; height:300px; margin:0 auto;}
.gift_box .visual_section img {width:300px; height:300px;}
.gift_box .info_section {margin-top:22px;}
.gift_box .name {color:#000; font-size:24px; line-height:26px;}
.gift_box .summary {margin-top:26px; color:#666; font-size:16px; line-height:24px;}

/* 쇼핑 팁 */
.shopping_overview .tab_contents, .shopping_overview .tab_cont {margin-top:16px;}
.tip_area {margin-bottom:16px; padding:80px 0; background:#fff; text-align:center; border-bottom:2px solid #d1d1d6;}
.tip_area .boxing + .boxing {margin-top:89px;}
.tip_area img {vertical-align:top;}
.banner_shopping {background:#f6f6f6;}
.banner_shopping>li {border-bottom:2px solid #d1d1d1;}
.banner_shopping>li>a {display:block; height:380px;}
.banner_shopping .type1 {background:url(/pc/ko/images/util/shopping_01.jpg) no-repeat 50% 0;}
.banner_shopping .type2 {background:url(/pc/ko/images/util/shopping_02.jpg) no-repeat 50% 0;}
.banner_shopping .type3 {background:url(/pc/ko/images/util/shopping_03.jpg) no-repeat 50% 0;}
.banner_shopping .type4 {background:url(/pc/ko/images/util/shopping_04.jpg) no-repeat 50% 0;}

/* 신고하기 */
.report_form .report_title>* {color:#000;}
.report_form .report_title>dl + dl {margin-top:11px;}
.report_form .report_title>dl>* {display:inline;}
.report_form .report_title dt {}
.report_form .check_list {margin:30px 0;}
.report_form .check_list li + li {margin:14px 0 0 0;}
.report_form .txt_summary {font-size:16px;}
.report_form .textarea {height:91px; margin-top:9px; color:#888; font-size:13px;}

/* 이벤트 상세 */
.overview .overview_detail .visual_area .event_img {width:100%; overflow:hidden; background-position:50% 50%; background-repeat:no-repeat;}
.overview .overview_detail .visual_area .event_movie {width:690px; padding:80px 30px 60px; margin:0 auto; overflow:hidden; }
.overview .overview_detail .visual_area .event_movie > .mv_tit {height:59px; font-size:50px; color:#000; text-align:center; overflow:hidden;}
.overview .overview_detail .visual_area .event_movie > .movie_area {width:690px; height:387px; margin-top:57px; overflow:hidden; position:relative;}
.overview .overview_detail .visual_area .event_movie > .movie_area a.mv_cover {width:690px; height:387px; position:absolute; top:0; left:0; z-index:1;}
.overview .overview_detail .visual_area .event_movie > .movie_area a.mv_cover img {width:100%; height:100%;}
.overview .overview_detail .visual_area .event_movie > .movie_area a.mv_cover:after {content:''; width:90px; height:90px; background:url(/pc/ko/images/common/btn_play_90X90.png) 0 0 no-repeat; display:block; position:absolute; bottom:30px; right:30px; z-index:1;}

/* 더 큰 할인 */
.overview .sale_swipe {width:100%; height:170px; border-top:1px solid #f2f2f2; overflow:hidden; background:#fff;}
.overview .sale_swipe .sale_slide {width:100%; max-width:1200px; margin:0 auto;  text-align:center;}
.overview .sale_swipe ul {overflow:hidden; display:inline-block;}
.overview .sale_swipe ul > li {width:100px; height:170px; margin-left:37px; float:left;}
.overview .sale_swipe ul > li > a,
.overview .sale_swipe ul > li > a > span {width:100%; display:inline-block;}
.overview .sale_swipe ul > li > a > img {width:96px; height:96px; margin-top:20px;}
.overview .sale_swipe ul > li > a > span {margin-top:13px;}
