@charset "UTF-8";

/*검색필터*/
.aside_area.filter{padding: 0;border-top: 2px solid #000;border-bottom: 0;background-color: #fff;}
.aside_area.filter .btn_lg_gradient.init{padding:10px 14px; margin:20px 20px 0;width: calc(100% - 40px);border-width: 2px;border-color: #cccccc; font-weight:500;}
.aside_area.filter .category{padding: 20px;font-size: 16px;line-height: 36px;border-bottom: 1px solid #dcdddd;}
.aside_area.filter .category li a.on{font-weight: 700;color: #000;}
.aside_area.filter .category > p {font-weight:700;}
.aside_area.filter .category > ul {overflow:hidden;}
.aside_area.filter .category > ul + p {margin-top:10px;}
.aside_area.filter .category > ul > li > a:hover {color:#999;}
.aside_area.filter .filter_option dl{position: relative;}
.aside_area.filter .filter_option dl:after{content: '';position: absolute;bottom: 0;left:0;width: 100%;border-bottom: 1px solid #dcdddd;}
.aside_area.filter .filter_option dl:last-child:after{border-color: #b9bbbc}
.aside_area.filter .filter_option dt{padding: 20px 20px 15px;font-size: 16px;font-weight: 700;}
.aside_area.filter .filter_option dd{padding:0 20px 18px;}
.aside_area.filter .filter_option li > a,
.aside_area.filter .filter_option li > span {width:100%; margin-bottom: 12px; display:inline-block;}
.aside_area.filter .filter_option .colors > li > span,
.aside_area.filter .filter_option dl > dd > ul > li > span {position:relative;}
.aside_area.filter .filter_option .colors > li input[type=checkbox],
.aside_area.filter .filter_option dl > dd > ul > li > span > input[type=radio] {opacity:0; position:absolute; top:0; left:0;}
.aside_area.filter .filter_option li > a:hover,
.aside_area.filter .filter_option dl > dd > ul > li > span > input[type=radio] + label:hover,
.aside_area.filter .filter_option dl > dd > ul > li > span > input[type=radio]:checked + label:hover {color:#999;}
.aside_area.filter .filter_option .check_wrap>input:checked + label{font-weight: 700;color: #000;}
.aside_area.filter .filter_option .btn_src_more{position:relative; margin-top:8px; padding:0 15px 0 0; font-size:12px; color:#333;}
.aside_area.filter .filter_option .btn_src_more:after{content: '';position: absolute;right: 0;top: 50%;margin-top: -2px;width: 9px;height: 5px;background:url(/pc/ko/images/common/ico.png) -20px -10px no-repeat;}
.aside_area.filter .filter_option .btn_src_more.on:after{content: '';position: absolute;right: 0;top: 50%;margin-top: -2px;width: 9px;height: 5px;background:url(/pc/ko/images/common/ico.png) -20px 0 no-repeat;}
.aside_area.filter .filter_option .colors{overflow: hidden;margin-left: -3px;}
.aside_area.filter .filter_option .colors li{float: left;margin-left: 3px;}
.aside_area.filter .filter_option .colors label{display: inline-block;width: 23px;height: 23px;font-size:0; box-sizing:border-box;}
.aside_area.filter .filter_option .colors input:checked + label{border:2px solid #000}

.aside_area.filter .filter_option .leg_tgArea {overflow:hidden;}

.search.cont_area{margin-top: 20px;}

.search_product {line-height:inherit;}
.search_product>ul {margin: -11px 0 0 -11px;}
.search_product>ul:after {content:''; display:block; clear:both;}
.search_product>ul>li {float:left; width:216px;margin: 11px 0 0 11px;}

.search_head{margin-bottom: 20px;}
.search_head .result_word{position: relative;padding: 40px 0;}
.search_head .result_word .h_title{display: block;text-align: center;font-size: 27px;}
.search_head .result_word .result_count{position: absolute;bottom: 20px;right: 20px;font-size: 16px;}
.search_head .result_word .text{margin-top: 10px;color: #888;font-size: 13px;text-align: center;}
.search_head dl{display: table;width: 100%;padding: 15px 20px;border-top: 1px solid #ebebeb;}
.search_head dl>*{display: table-cell;vertical-align: top;}
.search_head dl dt{width: 85px;font-weight: 700;line-height: 25px;}
.search_head dl dd{}
.search_head dl ul{overflow: hidden;}
.search_head dl ul li{float: left;padding-right: 20px;color: #888;line-height: 25px;}

.search_sort{margin: 30px 0 20px;text-align: right;}
.search_sort a{position: relative;display: inline-block;padding: 0 15px;color: #999;}
.search_sort a.on{color: #000;}
.search_sort a + a:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 13px;background-color: #cdcdcd;}
.search_sort a:last-child{padding-right: 0;}

.search_bottom{overflow: hidden;}
.search_bottom .slide{width: 591px;}
.search_bottom .slide .ix-list-item{width: 591px;}
.search_bottom > *{float: left;}
.search_bottom > div + .ranking_article{margin-left: 20px;width: 285px;}
/*.search_bottom .brand_box{width: 285px;}*/
.search_bottom .brand_box .tags_box{left: 15px;}
.search_bottom .brand_box .tags_box .list_tags{overflow: hidden;}
.search_bottom .brand_box .tags_box .list_tags li{float: left;margin: 7px 0 0 3px;}
.search_bottom .brand_box .go_brand{padding: 17px;font-size: 12px;}
.search_bottom .brand_box .go_brand a i{margin-left: 5px;}
.search_bottom .product_box .visual_section{padding-top: 0;}
.search_bottom .product_box .visual_section img{width: 144px;height: 144px;}
.search_bottom .product_box .info_section{height: 119px;}
.search_bottom .product_box .txt_name{display: none;}
.search_bottom .product_box .rank_num{font-size: 23px;font-weight: 700;}


/* ikLee product.css */
.category_area {width:100%; overflow:hidden;}
.category_area + .category_area {margin-top:10px;}
.category_area .title_wrap > .h_title.d2 {float:left;}
.category_area .title_wrap > .search_sort {width:auto; float:right;}
.search_sort > .select_wrap.xsm {width:125px; background:#fff; display:inline-block;}
.search_sort > .select_wrap.xsm > button {padding:0 30px 0 13px; font-weight:500;}

.brandWrap01 {width:100%; position:relative;}
.brandWrap01 .brandList > ul > li,
.brandWrap01 .brandList > ul > li .brand_box {width:285px; height:250px;}
.brandWrap01 .brandList > ul {margin-left:-20px;}
.brandWrap01 .brandList > ul > li {margin-left:20px;}
.brandWrap01 .brandList .tags_box {top:148px; left:0; padding:0 20px;}
.brandWrap01 .brandList .tags_box ul.list_tags {width:100%; overflow:hidden;}
.brandWrap01 .brandList .tags_box ul.list_tags > li {float:left; display:inline-block; margin:0 4px 4px 0;}
.brandWrap01 .brandList .tags_box ul.list_tags > li .hash_tags_md {line-height:26px; font-size:14px;}

.bast_review {width:100%; position:relative;}
.bast_review .reviewList {}
.bast_review .reviewList > ul {margin-left:-20px;}
.bast_review .reviewList > ul > li {width:285px; height:331px; margin-left:20px;}
.bast_review .reviewList > ul > li .review_img {width:100%; height:166px; }
.bast_review .reviewList > ul > li .review_area {width:259; height:139px; padding:13px;  background:#fff; text-align:left;}
.bast_review .reviewList > ul > li .review_area > .rv_txt {height:60px; font-size:15px; color:#000; overflow:hidden; line-height:21px;}
.bast_review .reviewList > ul > li .review_area .user_atc {margin-top:20px;}
.bast_review .reviewList > ul > li .review_area .date {margin-top:13px; font-size:12px; color:#888;}
.review_area .txt_review {font-size: 12px; font-weight: 600; padding-left: 10px; margin-left: 2px;}
.review_area .user_atc {margin-top:11px;}
.review_area .user_atc>span {position:relative;}
.review_area .user_atc>span + span:after {position:absolute; top:0; left:0; content:""; display:block; clear:both; width:1px; height:12px; background:#b7b7b7;}
.review_area .user_atc>span:first-child {margin-top:-2px;}

.filter .direct_entry {overflow:hidden;}
.filter .direct_entry .input_wrap {width:88px;}
.filter .direct_entry .input_wrap .placeholder {padding-left:13px;}

