<aside class="aside">
		<!--/* 최근본상품 */-->
		<dl class="recently_item">
			<dt>최근본상품<em>20</em></dt>
			<div class="slide">
				<div class="ix-list-viewport">
					<ul class="ix-list-items">
						<li class="ix-list-item">
							<div class="product">
								<a href="#">
									<span class="info">
										<span class="title">[NEW] 스킨베일 베이스</span>
										<span class="option">[NEW] 라이트 퍼플 (40호) </span>
										<span class="price"><del>4,000원</del> <em class="num">34,000</em>원</span>
									</span>
									<img ap:src="@{/images/dummy/img_item_01.jpg}" alt="">
								</a>
								<button class="btn_del"><i class="ico_close_b_s"></i><span class="sr_only">최근 본 상품 삭제</span></button>
							</div>
							<div class="product">
								<a href="#">
									<span class="info">
										<span class="title">[NEW] 스킨베일 베이스</span>
										<span class="option">[NEW] 라이트 퍼플 (40호) </span>
										<span class="price"><b class="num">34,000</b>원</span>
									</span>
									<img ap:src="@{/images/dummy/img_item_02.jpg}" alt="">
								</a>
								<button class="btn_del"><i class="ico_close_b_s"></i><span class="sr_only">최근 본 상품 삭제</span></button>
							</div>
							<div class="product">
								<a href="#">
									<span class="info">
										<span class="title">[NEW] 스킨베일 베이스</span>
										<span class="option">[NEW] 라이트 퍼플 (40호) </span>
										<span class="price"><em class="num">34,000</em>원</span>
									</span>
									<img ap:src="@{/images/dummy/img_item_01.jpg}" alt="">
								</a>
								<button class="btn_del"><i class="ico_close_b_s"></i><span class="sr_only">최근 본 상품 삭제</span></button>
							</div>
						</li>
						<li class="ix-list-item">
							<div class="product">
								<a href="#">
									<span class="info">
										<span class="title">[NEW] 스킨베일 베이스</span>
										<span class="option">[NEW] 라이트 퍼플 (40호) </span>
										<span class="price"><del>4,000원</del> <em class="num">34,000</em>원</span>
									</span>
									<img ap:src="@{/images/dummy/img_item_02.jpg}" alt="">
								</a>
								<button class="btn_del"><i class="ico_close_b_s"></i><span class="sr_only">최근 본 상품 삭제</span></button>
							</div>
							<div class="product">
								<a href="#">
									<span class="info">
										<span class="title">[NEW] 스킨베일 베이스</span>
										<span class="option">[NEW] 라이트 퍼플 (40호) </span>
										<span class="price"><b class="num">34,000</b>원</span>
									</span>
									<img ap:src="@{/images/dummy/img_item_01.jpg}" alt="">
								</a>
								<button class="btn_del"><i class="ico_close_b_s"></i><span class="sr_only">최근 본 상품 삭제</span></button>
							</div>
							<div class="product">
								<a href="#">
									<span class="info">
										<span class="title">[NEW] 스킨베일 베이스</span>
										<span class="option">[NEW] 라이트 퍼플 (40호) </span>
										<span class="price"><em class="num">34,000</em>원</span>
									</span>
									<img ap:src="@{/images/dummy/img_item_02.jpg}" alt="">
								</a>
								<button class="btn_del"><i class="ico_close_b_s"></i><span class="sr_only">최근 본 상품 삭제</span></button>
							</div>
						</li>
						<li class="ix-list-item">
							<div class="product">
								<a href="#">
									<span class="info">
										<span class="title">[NEW] 스킨베일 베이스</span>
										<span class="option">[NEW] 라이트 퍼플 (40호) </span>
										<span class="price"><del>4,000원</del> <em class="num">34,000</em>원</span>
									</span>
									<img ap:src="@{/images/dummy/img_item_01.jpg}" alt="">
								</a>
								<button class="btn_del"><i class="ico_close_b_s"></i><span class="sr_only">최근 본 상품 삭제</span></button>
							</div>
							<div class="product">
								<a href="#">
									<span class="info">
										<span class="title">[NEW] 스킨베일 베이스</span>
										<span class="option">[NEW] 라이트 퍼플 (40호) </span>
										<span class="price"><b class="num">34,000</b>원</span>
									</span>
									<img ap:src="@{/images/dummy/img_item_02.jpg}" alt="">
								</a>
								<button class="btn_del"><i class="ico_close_b_s"></i><span class="sr_only">최근 본 상품 삭제</span></button>
							</div>
						</li>
					</ul>
				</div>
				<div class="ix-controller">
					<div class="slide_direction">
						<button type="button" class="ix-btn-prev"><i class="ico_navi_s prev"></i><span class="sr_only">Prev</span></button>
						<button type="button" class="ix-btn-next"><i class="ico_navi_s next"></i><span class="sr_only">Next</span></button>
					</div>
				</div>
			</div>
		</dl>
		<!-- artist talk -->
		<button type="button" class="btn_artist_talk"><span class="sr_only">챗봇</span></button>
		<button type="button" class="btn_top"><span class="sr_only">위로 이동</span></button>
	</aside>

<script>
	$( '.aside .slide' ).ixOverlayList();
</script>