<div class="category_menu">
	<dl>
		<dt>카테고리</dt><!-- 09-04 제목 노출되면서 dt 클래스명 삭제 -->
		<dd>
			<ul class="category">
				<li><a href="#none">스킨케어</a><!--/* on 클래스 */-->
					<ul class="sub">
						<li class="on"><a href="#none">클렌징</a>
							<ul>
								<li><a href="#none">메이크업 리무버</a></li>
								<li><a href="#none">페이스 워시</a></li>
								<li><a href="#none">필링 &amp; 스크럽</a></li>
							</ul>
						</li>
						<li><a href="#none">모이스처라이징</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">스페셜케어</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#none">메이크업</a>
					<ul class="sub">
						<li><a href="#none">페이스</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">립</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">아이</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">치크</a>
							<ul>

								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">키트 &amp; 팔레트</a></li>
					</ul>
				</li>
				<li><a href="#none">네일 &amp; 향수</a>
					<ul class="sub">
						<li><a href="#none">네일</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">향수</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#none">데일리뷰티</a>
					<ul class="sub">
						<li><a href="#none">바디</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">헤어</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">구강</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#none">소품 &amp; 도구</a>
					<ul class="sub">
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
					</ul>
				</li>
				<li><a href="#none">뷰티푸드 &amp; 차</a>
					<ul class="sub">
						<li><a href="#none">뷰티푸드</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">차(TEA)</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#none">옴므</a>
					<ul class="sub half">
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
						<li><a href="#none">메뉴</a></li>
					</ul>
				</li>
				<li><a href="#none">베이비</a></li>
				<li><a href="#none">브랜드</a>
					<!-- 09-04 브랜드 영역 추가 [S] -->
					<ul class="sub">
						<li><a href="#none">아모레퍼시픽 브랜드</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
						<li><a href="#none">입점 브랜드</a>
							<ul>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
								<li><a href="#none">메뉴</a></li>
							</ul>
						</li>
					</ul>
					<!-- 09-04 브랜드 영역 추가 [E] -->
				</li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>쇼핑 찬스</dt>
		<dd>
			<ul>
				<li><a href="#none">On Sale</a></li>
				<li><a href="#none">N+M 행사</a></li>
				<li><a href="#none">스페셜기프트</a></li>
				<li><a href="#none">투데이핫딜</a></li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>이벤트/기획전</dt>
		<dd>
			<ul>
				<li><a href="#none">진행중인 이벤트</a></li>
				<li><a href="#none">구매금액대 사은품</a></li>
				<li><a href="#none">스페셜기프트</a></li>
				<li><a href="#none">뷰티테스터</a></li>
				<li><a href="#none">출석체크</a></li>
				<li><a href="#none">쿠션존</a></li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>쿠폰/혜택</dt>
		<dd>
			<ul>
				<li><a href="#none">쿠폰존</a></li>
				<li><a href="#none">플러스멤버십</a></li>
				<li><a href="#none">VIP 라운지</a></li>
				<li><a href="#none">신규혜택</a></li>
				<li><a href="#none">카드혜택</a></li>
				<li><a href="#none">쇼핑팁</a></li>
			</ul>
		</dd>
	</dl>
</div>


<script>
	$('.category_menu dd>ul>li>a').parent().mouseenter(function(){
		$(this).addClass('on').children('.sub').show();
	});
	$('.category_menu dd>ul>li>a').parent().mouseleave(function(){
		$(this).removeClass('on').children('.sub').hide();
	});
</script>