<div class="page_title_area mgt10">
	<!--/* breadcrumb 미노출 페이지는 감춤 */-->
	<div class="breadcrumb">
		<a href="#none">홈</a>
		<a href="#none">마이파우치</a>
		<b class="current">현재페이지</b>
	</div>

	<!--/* breadcrumb만 노출 되는 경우 아래 영역 감춤 클래스는 sr_only 추가  */-->
	<div class="page_title" style="background-color:#dda8b3;"> <!--/* 관리자등록 background-color-color */-->
		<h2><img ap:src="@{/images/dummy/img_page_title.png}" alt="Magazine"></h2>
		<!--/* page description 이 없는 경우 감춤 */-->
		<p class="sr_only">ap몰 만의 다양한 정보 메거진</p>
	</div>
</div>