<div class="inner_wrap">
	<!--/* 공지사항 */-->
	<dl class="footer_notice">
		<dt><b>공지사항</b></dt>
		<dd>
			<div class="slide" data-ix-options="axis:vertical; view-length:1; auto-play:true">
				<div class="ix-list-viewport">
					<ul class="ix-list-items">
						<li class="ix-list-item">
							<a href="#none">프리메라 배송 지연으로 사과말씀 드립니다. <small>2017/05/19</small></a>
						</li>
						<li class="ix-list-item">
							<a href="#none">서비스 점검에 따른 사이트 일시 중지 <small>2017/05/19</small></a>
						</li>
						<li class="ix-list-item">
							<a href="#none">멤버십 서비스 일부 변경 안내 <small>2017/05/19</small></a>
						</li>
					</ul>
				</div>
			</div>
			<a href="#none" class="more">더보기</a>
		</dd>
	</dl>
	<!--/* 앱다운 배너 */-->
	<div class="footer_banner">
		<a href="#none">
			<img ap:src="@{/images/common/footer_banner.jpg}" alt="다양한 혜택과 더 좋은 서비스를 모바일로 만나보세요. 최대 8%의 혜택을 받을 수 있습니다."><!-- 이미지사이즈 : 1200 * 67 -->
		</a>
	</div>
	<!--/* 푸터 메뉴 */-->
	<ul class="footer_menu">
		<li><a href="http://www.apgroup.com/int/ko/about-us/amorepacific.html" target="_blank"  title="새창으로 열기">회사소개</a></li><!-- 08-21 링크 추가 -->
		<li><a href="#none">사이트 이용약관</a></li>
		<li><a href="https://www.beautypoint.co.kr/content/beautypoint/ko-kr/footer/privacy/personal.html " target="_blank"  title="새창으로 열기">개인정보처리방침</a></li><!-- 08-21 링크 추가 -->
		<li><a href="/my/page/employee">임직원서비스</a></li>
		<li><a href="#none">시스템 오류 신고</a></li>
		<li><a href="http://www.apgroup.com/int/ko/misc/related-sites.html" target="_blank"  title="새창으로 열기">패밀리 사이트</li><!-- 08-21 링크 추가 -->
	</ul>
	<!--/* 회사 정보 */-->
	<div class="footer_info">
		<div>
			<p class="text">배송, 사이트 관련 문의 고객센터 : 080-030-5454 (수신자요금부담) | 운영시간 : 평일 09:00~18:00 / 점심 12:00~13:00 (토/일/공휴일 휴무)</p>
			<p class="text">제품, 트러블 관련 문의 고객센터 : 080-023-5454 (수신자요금부담) | 운영시간 : 평일 09:00~18:00 / 점심 12:00~13:00 (토/일/공휴일 휴무)</p>
			<p class="text">㈜아모레퍼시픽 대표이사 : 안세홍 | 서울특별시 용산구 한강대로 100(한강로2가) 사업자등록번호 : 106-86-43373 <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1068643373&apv_perm_no="class="biziInfo_more" target="_blank" title="새창">상세보기</a></p><!-- 08-21 링크 수정 -->
			<p class="text">통신판매업신고번호 : 서울용산-1308호(서울 용산구청)</p>
			<p class="text">전자메일주소 : apmall_support@amorepacificmall.com 호스팅제공자 : (주)아모레퍼시픽</p>
			<p class="text copyright">AMOREPACIFIC CORPORATION. ALL RIGHTS RESERVED.</p>
		</div>
		<dl>
			<dt>소비자피해보상보험 SGI 서울보증</dt>
			<dd>
				<p class="text">고객님은 안전거래를 위해 현금 결제시 저희 쇼핑몰에서<br>가입한 소비자피해보상보험 서비스를 이용하실 수 있습니다.<br>(보상대상:미배송/반품, 환불거부/쇼핑몰 부도)</p>
				<a href="https://mall.sgic.co.kr/csh/iutf/sh/shop/CSHINFO004VM0.mvc?tm=3&q_sk=2&q_sv=1068643373" class="btnLink" target="_blank" title="서비스 가입 사실 확인하기">서비스 가입 사실 확인하기</i></a><!-- 08-21 링크 추가 -->
			</dd>
		</dl>
	</div>
</div>

<script>
	$('.footer_notice .slide').ixSlideMax();
	$('.textarea textarea').bind('focusin focusout', function() {
		$(this).parent().toggleClass('on');
	});
</script>