<div class="inner_wrap">
	<h1><a href="/main"><img ap:src="@{/images/common/h1_logo.png}" alt="APmall"></a></h1>
	<!--/* 검색폼 */-->
	<fieldset class="search_form">
		<legend class="sr_only">검색</legend>
		<div class="input_wrap">
			<input type="text" value="" title="검색어입력" placeholder="검색어를 입력해주세요">
			<button type="button" class="btn_search"><span class="sr_only">검색</span></button>
		</div>
		<!--/* 검색어 자동완성 */-->
		<div class="layer auto_complete">
			<div class="nodata">일치하는 검색어가 없습니다.</div><!--/* 데이터 없음 */-->
			<div class="recommended_brand">
				<a href="#none">
					<span class="logo"><img ap:src="@{/images/dummy/img_brand_01.png}" alt=""></span>
					추천브랜드 가온도담
					<span class="font_lg">가온도담 브랜드관 가기 <i class="ico_arr"></i></span>
				</a>
			</div>
			<div class="scroll_wrap">
				<ul class="list">
					<li><a href="#none"><em>가</em>온도담</a></li>
					<li><a href="#none">갈색솔잎 수면마스크</a></li>
					<li><a href="#none">갈색솔잎 율려원액</a></li>
					<li><a href="#none">갈색솔잎 율려원액 기획세트</a></li>
					<li><a href="#none">각질</a></li>
					<li><a href="#none">각질제거</a></li>
					<li><a href="#none">각질필링</a></li>
					<li><a href="#none">각질제거젤</a></li>
					<li><a href="#none">갈색솔잎</a></li>
					<li><a href="#none">가온도담 선쿠션</a></li>
					<li><a href="#none">갈색솔잎</a></li>
					<li><a href="#none">가온도담 선쿠션</a></li>
				</ul>
			</div>
			<div class="layer_bottom">
				<button type="button"><span class="ie_press">닫기<i class="ico_close"></i></span></button>
			</div>
		</div>
		<!--/* 추천검색어 레이어 */-->
		<div class="layer recommended_search">
			<div class="ui_tab">
				<div class="tab_menu underline">
					<ul>
						<li class="on">
							<button type="button"><span>최근 검색어</span></button>
						</li>
						<li>
							<button type="button"><span>인기 검색어</span></button>
						</li>
						<li>
							<button type="button"><span>급상승상품</span></button>
						</li>
					</ul>
				</div>
				<div class="tab_contents">
					<div class="tab_cont">
						<h2 class="sr_only">최근검색어</h2>
						<div class="nodata">궁금한 상품을 검색해주세요.</div><!--/* 데이터 없음 */-->
						<div class="scroll_wrap">
							<ul class="list">
								<li>
									<a href="#none">수분</a>
									<button type="button" class="btn_del">
										<span class="ie_press">
											<i class="ico_close"><span class="sr_only">검색어 삭제</span></i>
										</span>
									</button>
								</li>
								<li>
									<a href="#none">프리메라 베이비 쿠션 프리메라 베이비 쿠션 프리메라 베이비 쿠션 프리메라 베이비 쿠션</a>
									<button type="button" class="btn_del">
										<span class="ie_press">
											<i class="ico_close"><span class="sr_only">검색어 삭제</span></i>
										</span>
									</button>
								</li>
								<li>
									<a href="#none">아모레</a>
									<button type="button" class="btn_del">
										<span class="ie_press">
											<i class="ico_close"><span class="sr_only">검색어 삭제</span></i>
										</span>
									</button>
								</li>
							</ul>
						</div>
						<div class="clear layer_bottom">
							<span>
								<!-- button type="button">자동저장 끄기</button -->
								<button type="button"><span class="ie_press">전체삭제</span></button>
							</span>
							<button type="button" class="btn_close">
								<span class="ie_press">닫기<i class="ico_close"></i></span>
							</button>
						</div>
					</div>
					<div class="tab_cont">
						<h2 class="sr_only">인기 검색어</h2>
						<div class="scroll_wrap">
							<ul class="list">
								<li>
									<a href="#none">1. 프리메라</a>
									<span class="rank">-</span>
								</li>
								<li>
									<a href="#none">2. 마몽드</a>
									<span class="rank">2 <span class="ico_rank_up"></span></span>
								</li>
								<li>
									<a href="#none">3. 아이오페</a>
									<span class="rank">2 <span class="ico_rank_down"></span></span>
								</li>
								<li>
									<a href="#none">4. 프리메라</a>
									<span class="rank">-</span>
								</li>
								<li>
									<a href="#none">5. 마몽드</a>
									<span class="rank">2 <span class="ico_rank_up"></span></span>
								</li>
								<li>
									<a href="#none">6. 아이오페</a>
									<span class="rank">2 <span class="ico_rank_down"></span></span>
								</li>
								<li>
									<a href="#none">7. 아이오페</a>
									<span class="rank">2 <span class="ico_rank_down"></span></span>
								</li>
								<li>
									<a href="#none">8. 프리메라</a>
									<span class="rank">-</span>
								</li>
								<li>
									<a href="#none">9. 마몽드</a>
									<span class="rank">2 <span class="ico_rank_up"></span></span>
								</li>
								<li>
									<a href="#none">10. 아이오페</a>
									<span class="rank">2 <span class="ico_rank_down"></span></span>
								</li>
								<li>
									<a href="#none">11. 아이오페</a>
									<span class="rank">2 <span class="ico_rank_down"></span></span>
								</li>
							</ul>
						</div>
						<div class="clear layer_bottom">
							<span>2018.01.01 기준</span>
							<button type="button" class="btn_close">
								<span class="ie_press">닫기<i class="ico_close"></i></span>
							</button>
						</div>
					</div>
					<div class="tab_cont">
						<h2 class="sr_only">급상승상품</h2>
						<div class="scroll_wrap">
							<ul class="list">
								<li>
									<a href="#none">1. 화이트 듀 인텐시브 아이 마스크</a>
									<span class="rank">NEW</span>
								</li>
								<li>
									<a href="#none">2. [대용량] 더마 리페어 시카크림</a>
									<span class="rank">2 <span class="ico_rank_up"></span></span>
								</li>
								<li>
									<a href="#none">3. UV 미스트 쿠션 커버 SPF50+/PA+++</a>
									<span class="rank">2 <span class="ico_rank_down"></span></span>
								</li>
								<li>
									<a href="#none">4. 블랙 쿠션 SPF34/PA++</a>
									<span class="rank">NEW</span>
								</li>
								<li>
									<a href="#none">5. 선 메이트 프로텍터 SPF50+ PA+++</a>
									<span class="rank">2 <span class="ico_rank_up"></span></span>
								</li>
								<li>
									<a href="#none">6. 맨 올데이 퍼펙트 올인원</a>
									<span class="rank">2 <span class="ico_rank_down"></span></span>
								</li>
								<li>
									<a href="#none">7. 퍼펙트 커버 쿠션 </a>
									<span class="rank">2 <span class="ico_rank_down"></span></span>
								</li>
							</ul>
						</div>
						<div class="clear layer_bottom">
							<span>2018.4.24. 10:00 (1시간기준)</span>
							<button type="button" class="btn_close">
								<span class="ie_press">닫기<i class="ico_close"></i></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>

	<div class="log_area">
		<!--/* 로그인 전 */-->
		<a th:if="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}" href="#none" class="btn_login">안녕하세요<br><span>로그인</span>이 필요합니다.</a>
		
		<!--/* 로그인 후 */--> 
		<a th:if="${session.LOGIN_USER != null && session.LOGIN_USER.member != null}" href="#none" class="btn_login">홍길동님은<br><span>WELCOME</span>입니다.</a>
		
		<div>
			<!--/* 로그인 전 */-->
			<ul th:if="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}">
				<li><a href="#none">뷰티포인트</a></li>
				<li><a href="#none">나의 쿠폰</a></li>
				<li><a href="#none">기프트 카드</a></li>
			</ul>
			
			<!--/* 로그인 후 */-->
			<ul th:if="${session.LOGIN_USER != null && session.LOGIN_USER.member != null}">
				<li><a href="#none">뷰티포인트</a> <em>3,000 P</em></li>
				<li><a href="#none">나의 쿠폰</a> <em>1장</em></li>
				<li><a href="#none">기프트 카드</a> <em>1,000원</em></li>
			</ul>
			
			<ul>
				<li><a href="#none">마이파우치</a></li>
				<li><a href="#none">플러스 멤버십</a></li>
				<li th:if="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}"><a href="#none">나의 커뮤니티 활동</a></li>
				<!-- 로그인후 활성화표시 -->
				<li th:if="${session.LOGIN_USER != null && session.LOGIN_USER.member != null}"><a href="#none" class="new">나의 커뮤니티 활동</a></li>
				<li><a href="#none">배송지 관리</a></li>
				<li><a href="#none">AP몰 정기배송</a></li>
				<li><a href="#none">ONE pay</a></li>
				<li><a href="#none">고객센터</a></li>
			</ul>
			<!--/* 로그인 전 */-->
			<a th:if="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}" href="#none" class="btn_join"><span>간편한 회원가입</span> <i class="ico_arr_s"></i></a>
			
			<!--/* 로그인 후 */-->
			<a th:if="${session.LOGIN_USER != null && session.LOGIN_USER.member != null}" href="#none" class="btn_logout"><span>로그아웃</span></a>
			
		</div>
	</div>

	<!--/* 장바구니 메뉴 */-->
	<ul class="header_menu">
		<li><a href="/cart/cartList"><i class="ico_cart"></i><span class="sr_only">장바구니</span><span class="num" style="display:none;">9</span></a></li>
		<li><a href="/my/page/onlineOrderShipping"><i class="ico_delivery"></i><span class="sr_only">주문/배송조회</span></a></li>
		<li><a href="#none"><i class="ico_good"></i><span class="sr_only">좋아요</span></a></li>
	</ul>
</div>

<div class="gnb_area">
	<div class="inner_wrap">
		<a class="btn_category" >
			<span>전체 메뉴</span>
		</a>
		<ul class="gnb">
			<!--/* 임시메뉴
			<li th:each="menuId : ${gnbMap.get('main').submenus}">
				<a href="#" th:href="@{'/display/' + ${menuId.displayMenuId}(displayMenuId=${menuId.displayMenuId})}" th:text="${menuId.menuTitle}" th:class="${displayMenuId == menuId.displayMenuId} ? 'on' : ''"></a>
			</li>
			*/-->
			<li><a href="#none" class="on">이슈</a></li>
			<li><a href="#none">매거진</a></li>
			<li><a href="#none">랭킹</a></li>
			<li><a href="#none">리뷰</a></li>
			<li><a href="#none">이벤트</a></li>
			<li><a href="#none">브랜드</a></li>
			<li><a href="#none">쿠폰/혜택</a></li>
			<li><a href="#none">플러스멤버십</a></li>
			<li><a href="#none">ONE pay</a></li>
			
		</ul>
	</div>
</div>
<div class="category_wrap">
	<div class="inner_wrap">
		<!--/* 카테고리 메뉴 */-->
		<th:block ap:replace="~{common/fragment/category-menu}"/>
		<!-- div class="align_right"><button class="btn_gradient btn_close" onclick="$('.category_wrap').slideUp();">닫기</button></div -->
	</div>
</div>

<!-- header 시즌 프로모션 일때만 노출되는 이미지
<div class="ap_header_bg" style="background-image:url(/pc/ko/images/common/bg_header.png);"></div>
 -->

<script language="javascript" type="text/javascript">
//header영역 로그인영역
$('.log_area').on('mouseover', function(){
	$(this).addClass('on');
}).on('mouseout', function(){
	$(this).removeClass('on');
});
//카테고리
$('.btn_category').on('click', function(){
	$(this).toggleClass('open');
	$('.category_wrap').slideToggle();
})
</script>