<!--/* sub page title area breadcrumb type*/-->
<div class="page_title_area prd_category">
	<!--/* breadcrumb : 상품 상세용 */-->
	<div class="breadcrumb">
		<a href="#none">홈</a>
		<span class="select_wrap">
			<select name="" title="">
				<option value="">스킨케어</option>
				<option value="">네일 &amp; 향수</option>
				<option value="">데일리뷰티</option>
				<option value="">소품 &amp; 도구</option>
				<option value="">뷰티푸드</option>
				<option value="">옴므</option>
				<option value="">베이비</option>
			</select>
		</span>
		<span class="select_wrap">
			<select name="" title="">
				<option value="">모이스쳐라이징</option>
				<option value="">클렌징</option>
				<option value="">스페셜 케어</option>
				<option value="">선케어</option>
				<option value="">세트</option>
			</select>
		</span>
		<span class="select_wrap">
			<select name="" title="">
				<option value="">페이스워시</option>
				<option value="">메이크업 리무버</option>
				<option value="">필링 &amp; 스크럽</option>
			</select>
		</span>
	</div>
</div>