<div class="price_box"><span class="price">
	<b>{{numberFormat (calc prodSumAmount '+' shipFeeSumAmount '-' cartEx.calculationResult.totalProdUnitDiscountAmountInfo.standardCurrency.amount ) }}</b>원</span> <span>{{totalProdCnt}}</span>개 상품
</div>
{{#if (ne cartEx.calculationResult.resultMembershipMap null) }}
		<div class="point"><i class="ico_p"></i> <span class="num">{{numberFormat cartEx.calculationResult.resultMembershipMap.1.totalMembershipSavingPoint }}</span> 적립예정</div>
{{/if}}
