<div class="section empty_cart">
	<p class="text">장바구니에 담긴 상품이 없습니다</p>
	<span class="thumb"><img src="{{url}}" alt=""></span>
	<p class="sub_text">
		<span>이니스프리부터 설화수까지</span><br>
		다양한 브랜드 상품을 담아보세요
	</p> 
	<a href="#none" class="btn_h50_pu btn_go_brand">브랜드 쇼핑하러 가기</a>
</div>
