<div class="layer_popup system_alert round" style="display:block">
	<div class="layer_dimmed"></div>
	<div class="layer_wrap">
		<dl class="layer">
			<!-- <dt class="layer_title">타이틀</dt> --><!-- 타이틀 없을 시 삭제 -->
			<dd class="layer_cont">
				<p class="txt01">로그인 구매로 뷰티포인트<br />적립하시고 알뜰한 쇼핑하세요</p>
				<ul class="p_btn_area">
					<li><a href="javascript:;" id="loginPurchase">로그인 구매</a></li>
					<li><a href="javascript:;" id="nonSignInPurchase">비로그인 구매</a></li>
				</ul>
			</dd>

			<dd class="layer_btns">
				<button class="btn_default_modal_confirm" id="cancel" type="button">닫기</button>
			</dd>
		</dl>
	</div>
</div>
