{{#each list}}
<li>
	<div class="product_new">
		<a href="javascript:;">
			<span class="product_visual_new">
				<!--<span class="out_of_stock"><span class="img_badge">일시품절</span></span>-->
				<span class="lazy_load_wrap">
					<img src="" data-src="/mo/ko/images/dummy/img_item_08.jpg" alt="" class="lazy_load">
				</span>
			</span>
			<span class="product_info_new">
				<strong class="prd_brand">마몽드</strong>
				<span class="prd_name">[대용량] 더마 리페어 시카크림[대용량] 더마 리페어 시카크림[대용량] 더마 리페어 시카크림</span>
				<span class="price_wrap">
					<strong class="discount">28%</strong>
					<strong class="price">32,000<em>원</em></strong>
					<del>45,000원</del>
				</span>

				<span class="product_rating">
					<span class="mark_star_sm star3"><span class="sr_only">구매 평점 별 5개 중 3개</span></span>
					<span class="prd_review">리뷰 1,035</span>
				</span>

				<span class="prd_color">
					<span style="background:#9c282a"><span class="sr_only">옵션명</span></span>
					<span style="background:#d6181c"><span class="sr_only">옵션명</span></span>
					<span style="background:#9c2846"><span class="sr_only">옵션명</span></span>
					<span style="background:#cb3d3f"><span class="sr_only">옵션명</span></span>
					<span style="background:#ef5052"><span class="sr_only">옵션명</span></span>
					<span style="background:#9c282a"><span class="sr_only">옵션명</span></span>
					<span style="background:#d6181c"><span class="sr_only">옵션명</span></span>
					<span style="background:#9c2846"><span class="sr_only">옵션명</span></span>
					<span style="background:#cb3d3f"><span class="sr_only">옵션명</span></span>
					<span style="background:#ef5052"><span class="sr_only">옵션명</span></span>
					<span class="more"></span>
				</span>
				<span class="tags">
					<em class="badge special">스페셜기프트</em>
					<em class="badge gift">기프트카드</em>
				</span>
			</span>
			<button type="button" class="btn_toggle"><i class="ico_heart_s"></i><span class="sr_only">좋아요</span></button>
		</a>
	</div>
</li>
{{/each}}