<ul class="sub_cate_list">
	{{#each this.submenus}}
		<li>
			<a href="/display/category/{{ this.displayMenuId }}?upperMenuId={{ ../displayMenuId }}">
				<img alt="" src="{{ this.menuTitleImgUrl }}">
				<span>{{ this.menuTitle }}</span>
			</a>
		</li>
	{{/each}}
</ul>
