<li>
	<div class="product_box">
		<a href="#none">
			<div class="visual_section">
				<img ap:src="@{/images/dummy/img_product_thumb_05.jpg}" alt="플라워 에센스 마스크">
				<img ap:src="@{/images/dummy/img_product_thumb_06.jpg}" alt="플라워 에센스 마스크">
				<div class="benefit">
					<span class="special">스페셜기프트</span>
					<span class="gift">기프트카드</span>
				</div>
				<div class="soldout">
					<span>일시품절</span>
				</div>
			</div>
			<div class="info_section">
				<p class="txt_name">프리메라</p>
				<p class="txt_summary ellipsis line2">[NEW] 베이비 선쿠션리미티드 SPF32 PA++ 베이비 선쿠션리미티드 SPF32 PA++ 베이비 선쿠션리미티드 SPF32 PA++ 베이비 선쿠션리미티드 SPF32 PA++ 베이비 선쿠션리미티드 SPF32 PA++ 베이비 선쿠션리미티드 SPF32 PA++</p>
				<div class="price_atc">
					<span class="txt_sale">1+1</span>
					<span class="txt_price"><em>100,000</em>원</span>
					<del class="txt_del">10,000원</del>
				</div>
				<div class="user_atc">
					<span class="mark_star_sm star3"><span class="sr_only">구매 평점 별 5개 중 3개</span></span><!-- star0 ~ star5 -->
					<span class="txt_review">리뷰 2,454</span>
				</div>
			</div>
		</a>
		<div class="work_box">
			<ul class="item_user">
				<li>
					<a href="#none" role="button">
						<i class="ico_favorite"></i><!-- active : on -->
						<span class="sr_only">좋아요</span>
					</a>
				</li>
				<li>
					<a href="#none" role="button">
						<i class="ico_basket"></i>
						<span class="sr_only">장바구니</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</li>