{{!--
	ch.Etude 관련 상품 목록 
--}}

<button type="button" class="thumbnail">
	<img alt="ch 에뛰드 보기" src="{{this.videoImgDescP}}" data-src="{{this.videoImgDescP}}">
</button>
<iframe class="youtube_video" width="800" height="450" src="{{youtubePath this.articleVideoUrl}}" frameborder="0" allowfullscreen="" data-vendor="youtube" data-ratio="true" data-mute="false">
</iframe>

	


