{{!--
	Looks 
--}}
<div class="ix-list-viewport">
	<ul class="ix-list-items">
		{{#each this.articleList}}
			<li class="ix-list-item">
				<a href="{{ articleDetailPath this.articleSn }}" class="lazy_load_wrap">
					<img src="" data-src="{{ this.bannerImgP1 }}" alt="" class="lazy_load">
					<span class="cont">
						<b class="eng">{{ this.articleTitle }}</b>
						<span class="tag"></span>
					</span>
				</a>
			</li>
		{{/each}}
	</ul>
</div>
<div class="ix-controller round_box">
	<div class="paging"><b class="current"></b> / <span class="total"></span></div>
	<div class="slide_direction">
		<a class="ix-btn-prev" href="#none"><span class="sr_only">Prev</span></a>
		<a class="ix-btn-next" href="#none"><span class="sr_only">Next</span></a>
	</div>
</div>



