<p class="bullet_dot mgb30">환불 받을 계좌를 입력해 주세요.</p>
<form class="validate">
	<fieldset class="form"><!--/* input id값 변경 시 label for값도 동일하게 변경해주세요 */-->
		<div class="ui_table">
			<dl>
				<dt class="w30p"><label for="pwd1">예금주</label></dt>
				<dd>
					<div class="input_wrap w100p">
						<input type="text" name="acHolderName.name1" placeholder="예금주 입력">
					</div>
				</dd>
			</dl>
			<dl>
				<dt class="w30p"><label for="bankCode">은행/계좌</label></dt>
				<dd>
					<div class="w100p">
						<div class="select_wrap">
							<select name="bankCode" id="bankCode" tabindex="-1">
								<option value="">은행 선택</option>
								<option value="039">경남은행</option>
								<option value="034">광주은행</option>
								<option value="004">국민은행</option>
								<option value="003">기업은행</option>
								<option value="011">농협</option>
								<option value="031">대구은행</option>
								<option value="032">부산은행</option>
								<option value="007">수협</option>
								<option value="088">신한(조흥)은행</option>
								<option value="027">씨티은행</option>
								<option value="005">외환은행</option>
								<option value="020">우리은행</option>
								<option value="071">우체국</option>
								<option value="037">전북은행</option>
								<option value="090">카카오뱅크</option>
								<option value="089">케이뱅크</option>
								<option value="081">하나은행</option>
								<option value="023">한국스탠다드차타드은행</option>
							</select>
						</div>
					</div>
					<div class="input_wrap w100p">
						<input type="number" title="계좌번호 입력" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" name="bankAcNo" placeholder="‘-’없이 계좌번호 입력" >
					</div>
				</dd>
			</dl>
		</div>
	</fieldset>
</form>
<hr class="div m30" />
<ul class="list_bullet_dot">
	<li>환불 계좌는 무통장 입금, 휴대폰 결제의 익월 취소 분에 대한 환불금액을 받을 수 있는 계좌입니다.</li>
	<li>예치금을 입금시킬 수 있는 계좌입니다.</li>
</ul>
<div class="page_btns">
	<button type="button" class="btn_lg_secondary" id="cancelBtn">취소</button>
	<button type="button" class="btn_lg_neutral" id="saveBtn">저장</button>
</div>