<div class="section color_light_gray list">
	{{#each this.selectedData.disclosures}}
		<dl class="dl_cont2">
			<dt class="disclosure" >{{ this.disclosureItemName }}</dt>
			<dd class="disclosure" >{{ this.prodDisclosureInfo }}</dd>
		</dl>
	{{/each}}
</div>