<div class="section product_all_components">
	<dl>
		<dt>
			<!--/* 브랜드명 */-->
			<span class="brand">마몽드</span>
			<!--/* 상품명 */-->
			<span class="product_name">크리미 틴트 컬러밤 인텐스</span>
		</dt>
		<dd>
			<!--/* 옵션명 */-->
			<em class="option_name">17호 마이 시크릿_NEW</em>
			<!--/* 전성분 */-->
			<p class="text">
				정제수, 부틸렌글라이콜, 사이클로펜타실록산, 글리세린, 사이클로헥
				사실록산, 트레할로스, 소듐하이알루로네이트, 달맞이꽃뿌리추출물,
				살구추출물, 베타-글루칸, 퀴노아씨추출물, 아스코빌글루코사이드,
				마그네슘 설페이트, 징크설페이트, 망가니즈설페이트, 칼슘클로라이드,
				포타슘알지네이트, 암모늄아크릴로일디메칠타우레이트/브이 피코폴
				리머, 폴리소르베이트20
			</p>
		</dd>
	</dl>
	<dl>
		<dt>
			<span class="brand">마몽드</span>
			<span class="product_name">크리미 틴트 컬러밤 인텐스</span>
		</dt>
		<dd>
			<em class="option_name">17호 마이 시크릿_NEW</em>
			<p class="text">
				정제수, 부틸렌글라이콜, 사이클로펜타실록산, 글리세린, 사이클로헥
				사실록산, 트레할로스, 소듐하이알루로네이트, 달맞이꽃뿌리추출물,
				살구추출물, 베타-글루칸, 퀴노아씨추출물, 아스코빌글루코사이드,
				마그네슘 설페이트, 징크설페이트, 망가니즈설페이트, 칼슘클로라이드,
				포타슘알지네이트, 암모늄아크릴로일디메칠타우레이트/브이 피코폴
				리머, 폴리소르베이트20
			</p>
		</dd>
	</dl>
	<dl>
		<dt>
			<span class="brand">마몽드</span>
			<span class="product_name">크리미 틴트 컬러밤 인텐스</span>
		</dt>
		<dd>
			<em class="option_name">17호 마이 시크릿_NEW</em>
			<p class="text">
				정제수, 부틸렌글라이콜, 사이클로펜타실록산, 글리세린, 사이클로헥
				사실록산, 트레할로스, 소듐하이알루로네이트, 달맞이꽃뿌리추출물,
				살구추출물, 베타-글루칸, 퀴노아씨추출물, 아스코빌글루코사이드,
				마그네슘 설페이트, 징크설페이트, 망가니즈설페이트, 칼슘클로라이드,
				포타슘알지네이트, 암모늄아크릴로일디메칠타우레이트/브이 피코폴
				리머, 폴리소르베이트20
			</p>
		</dd>
	</dl>
	<dl>
		<dt>
			<span class="brand">마몽드</span>
			<span class="product_name">크리미 틴트 컬러밤 인텐스</span>
		</dt>
		<dd>
			<em class="option_name">17호 마이 시크릿_NEW</em>
			<p class="text">
				정제수, 부틸렌글라이콜, 사이클로펜타실록산, 글리세린, 사이클로헥
				사실록산, 트레할로스, 소듐하이알루로네이트, 달맞이꽃뿌리추출물,
				살구추출물, 베타-글루칸, 퀴노아씨추출물, 아스코빌글루코사이드,
				마그네슘 설페이트, 징크설페이트, 망가니즈설페이트, 칼슘클로라이드,
				포타슘알지네이트, 암모늄아크릴로일디메칠타우레이트/브이 피코폴
				리머, 폴리소르베이트20
			</p>
		</dd>
	</dl>
</div>
