<div class="section product_all_components">
	{{#each this.disclosures}}
	<dl>
		<dt>
			<!--/* 브랜드명 */-->
			<span class="brand">{{this.brandNm}}</span>
			<!--/* 상품명 */-->
			<span class="product_name">{{this.onlineProdName}}</span>
		</dt>
		<dd>
			<!--/* 옵션명 */-->
			<em class="option_name">{{this.prodNm}}</em>
			<!--/* 전성분 */-->
			<p class="text">{{{this.desc}}}</p>
		</dd>
	</dl>
	{{/each}}
</div>
