{{#each this}}
<li data-prod-sn="{{ this.prodSn }}">
	<div class="comp_item">
		<div class="thumb"><img alt="{{ this.prodName }}" src="{{ this.prodImages.1.imgUrl }}"></div>
		<div class="prd_name">{{ this.prodName }}</div>
	</div>
</li>
{{/each}}