<p class="text">
	비회원 구매 시, 뷰티 포인트 사용/적립, 멤버십 할인,
	행사 및 쿠폰 혜택 적용 등 다양한 혜택을 받으실 수
	없습니다. 회원가입 후 다양한 혜택을 누리세요~!
</p>
<div class="page_btns">
	<button type="button" class="btn_md_primary btn_login">로그인</button>
</div>
<div class="page_btns">
	<button type="button" class="btn_md_form btn_none_member_order">비회원 주문</button>
	<a class="btn_md_bordered" href="/customer/signup">회원가입</a>
</div>