{{!--
	상품상세 thumbnail video 정보
--}}

<div class="video_wrap">
	<button type="button" class="thumbnail">
		<img src="{{this.imgUrl}}" alt="" data-src="{{this.imgUrl}}">
	</button>
	<iframe class="youtube_video" width="100%" height="100%" src="{{youtubePath this.videoUrl}}" frameborder="0" allowfullscreen="" data-vendor="youtube" data-ratio="true" data-mute="false"></iframe>
</div>