<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="ui_step" layout:fragment="tab">
	<ul>
		<!--<li th:class="current"><i class="ico"></i><span class="num">1</span>장바구니<span class="sr_only">선택됨</span></li>-->
		<li th:class="${state} == 1 ? 'current' : ''"><i class="ico"></i><span class="num">1</span>장바구니</li>
		<li th:class="${state} == 2 ? 'current' : ''"><i class="ico"></i><span class="num">2</span>주문결제</li>
		<li th:class="${state} == 3 ? 'current' : ''"><i class="ico"></i><span class="num">3</span>결제완료</li>
	</ul>
</div>
</html>
