{{#xif totalLength '>' 0}}

	<div class="faq_div">
	{{#each result}}
		<dl>
			<dt class="question">
				<button type="button" title="답변 보기">
					<span class="title">{{inquiryText}}</span>
				</button>
				<small>{{inquiryTypeName}}</small>
			</dt>
			<dd class="answer">
				<div class="cont">
					<p class="text">
						<span class="txt_answer">A <span class="sr_only">답변</span></span>
						{{{responseBodyText}}}
					</p>
				</div>
			</dd>
		</dl>
	{{/each}}
	</div>
{{else}}

{{/xif}}