{{#xif totalLength '>' 0}}
	<ul class="board_list">
	{{#each result}}
		<li>
			<a href="/cs/noticeView/{{foNoticeSn}}"><small>[{{noticeTypeName}}]</small> {{foNoticeTitle}}</a>
			<p class="text"><small>{{dateFormat noticeStartDt 'YYYY.MM.DD'}}</small> <small>조회 21</small></p>
		</li>
	{{/each}}
	</ul>
{{/xif}}