<dl class="layer">
	<dt class="layer_title">상담평가</dt>
	<dd class="layer_cont">
		<div class="evaluation">
			<p class="text">답변 완료된 상담에 만족하시나요?</p>
			<div class="rdo_wrap">
				<span class="rdo_h30"><input type="radio" name="responseEvalCode" id="satisfaction" value="Satisfaction" checked="checked"><label for="satisfaction">만족해요</label></span>
				<span class="rdo_h30"><input type="radio" name="responseEvalCode" id="dissatisfaction" value="Dissatisfaction"><label for="dissatisfaction">불만족해요</label></span>
			</div>
		</div>
	</dd>
	<dd class="layer_btns">
		<button class="btn_default_modal_confirm" type="button" id="b_evalCancel">취소</button>
		<button class="btn_default_modal_confirm" type="button" id="b_evalConfirm">확인</button>
	</dd>
</dl>