<!--/* 고객센터 왼쪽 공통영역 */-->
<div class="aside_area">
	<h2 class="tit">고객센터</h2>
	<div class="boxing">
		<dl class="info">
			<dt>배송, 사이트 관련 문의</dt>
			<dd>
				<p class="txt_tel">080-030-5454 <span class="highlight">(수신자요금부담)</span></p>
			</dd>
			<dt class="sr_only">운영시간</dt>
			<dd>
				<ul class="list_info">
					<li>평일 : AM9 ~ PM6 <span class="highlight">(주말/공휴일 휴무)</span></li>
					<li>점심 : PM12 ~ PM1</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="boxing">
		<dl class="info">
			<dt>제품, 트러블 관련 문의</dt>
			<dd>
				<p class="txt_tel">080-023-5454 <span class="highlight">(수신자요금부담)</span></p>
			</dd>
			<dt class="sr_only">운영시간</dt>
			<dd>
				<ul class="list_info">
					<li>월~목 : AM9 ~ PM6</li>
					<li>점심 : PM12 ~ PM1 <span class="highlight">(주말/공휴일 휴무)</span></li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="boxing">
		<button type="button" class="btn_cs">
			<span class="ie_press">
				<i class="ico_envelope"></i>1:1 상담등록
			</span>
		</button>
	</div>
</div>