<dt class="layer_title">전성분 확인하기</dt>
<dd class="layer_cont">
	<div class="all_component">
		<ul class="list">
			<li>
				<strong class="tit">해피바스</strong>
				<p class="product">내추럴 바디워시 [900g/500g]</p>
				<p class="option">내추럴 정말 순한 바디워시_900g</p>
				<p class="txt">
					[순한 바디워시]<br>
					정제수, 소듐라우레스설페이트, 암모늄라우릴설페이트, 코카미도프로필베타인, 소르비톨,
					쌀겨수, 마시멜로뿌리추출물, 알로에베라잎추출물, 라우릭애씨드, 세틸알코올, 바나나수, 사과수, 소듐클로라이드, 스타이렌/아크릴레이트코폴리
					머, 시트릭애씨드, 코카마이드엠이에이, 코코-글루코사이드, 트리하이드록시스테아린, 소듐설파이트, 소듐벤조에이트, 페녹시에탄올, 향료 
				 </p>
			</li>
			<li>
				<strong class="tit">해피바스</strong>
				<p class="product">내추럴 바디워시 [900g/500g]</p>
				<p class="option">내추럴 정말 순한 바디워시_900g</p>
				<p class="txt">
					[순한 바디워시]<br>
					정제수, 소듐라우레스설페이트, 암모늄라우릴설페이트, 코카미도프로필베타인, 소르비톨,
					쌀겨수, 마시멜로뿌리추출물, 알로에베라잎추출물, 라우릭애씨드, 세틸알코올, 바나나수, 사과수, 소듐클로라이드, 스타이렌/아크릴레이트코폴리
					머, 시트릭애씨드, 코카마이드엠이에이, 코코-글루코사이드, 트리하이드록시스테아린, 소듐설파이트, 소듐벤조에이트, 페녹시에탄올, 향료 
				 </p>
			</li>
		</ul>
		<div class="layer_btns">
			<a href="#none" class="btn_fix_neutral closePop">확인</a>
		</div>
	</div>
</dd>
