<div class="all_component">
	<ul class="list">
		{{#each this.disclosures}}
			<li>
				<strong class="tit">{{this.brandNm}}</strong>
				<p class="product">{{this.onlineProdName}}</p>
				<p class="option">{{this.prodNm}}</p>
				<p class="txt">{{{this.desc}}}</p>
			</li>
		{{/each}}
	</ul>
	<div class="layer_btns">
		<a href="#none" class="btn_fix_neutral closePop">확인</a>
	</div>
</div>
