<div class="app_download">
	<img src="{{absolutePath '/images/product/img_ap_app.jpg'}}" alt="">
	<p class="txt"><strong>앱 다운로드 URL 받기(무료전송)</strong>* 입력하신 번호는 저장되지 않습니다.</p>
	<span class="input_wrap">
		<input type="text" name="" class="cellNum" id="" placeholder="휴대폰 번호를  입력해주세요">
	</span>
	<a href="javascript:;" class="btn_fix_neutral send">보내기</a>
</div>
