<div class="ly_report">
	<fieldset class="form report_form">
		<legend class="sr_only">신고하기 입력</legend>
		<div class="report_title">
			<dl>
				<dt>작성자 :</dt>
				<dd>{{this.memberId}}</dd>
			</dl>
			<dl class="ellipsis">
				<dt>글내용 :</dt>
				<dd>{{{this.prodReviewBodyText}}}</dd>
			</dl>
		</div>
		<ul class="check_list">
			<li class="check_wrap small"><input type="radio" name="report" id="report1" value="Inappropriate" checked=""><label for="report1">부적절한 내용</label></li>
			<li class="check_wrap small"><input type="radio" name="report" id="report2" value="Copyright"><label for="report2">저작권 문제</label></li>
			<li class="check_wrap small"><input type="radio" name="report" id="report3" value="Ad"><label for="report3">광고글</label></li>
			<li class="check_wrap small"><input type="radio" name="report" id="report4" value="Etc"><label for="report4">기타</label></li>
		</ul>
		<p class="txt_summary"><b>추가 설명이 필요한 경우 아래 입력해주세요.</b></p>
		<div class="textarea">
			<textarea name="reportBodyText" id="reportBodyText" cols="" rows="" placeholder="내용을 입력하세요"></textarea>
		</div>
	</fieldset>
	<div class="layer_btns">
		<button type="button" class="btn_fix_bordered">취소</button>
		<button type="button" class="btn_fix_neutral">신고하기</button>
	</div>
</div>
