@charset "utf-8";

.beautylife .panel{position:relative;}
.beautylife .panel .more{position:absolute; top:25px; right:15px;padding-right: 10px;font-size: 12px;color: #888;}
.beautylife .panel .more:after{content: '';position: absolute;right: 0;top: 3px;width: 4px;height: 8px;background: url('/mo/ko/images/common/ico.png') -59px -53px no-repeat; background-size:100px;}
.panel .one_half{margin:0 -15px;}
.one_half .ix-list-item{width:60%; padding:0 7.5px; text-align:left;}
.three_half .ix-list-item{width:25%; min-width:80px; margin-left:10px; text-align:left;}

/* 뷰티라이프 */
.beautylife_main .visual{position:relative; margin-bottom:15px;}
.beautylife_main .visual>div{position:absolute; top:35%; left:15px; right:15px; color:#000;}
.beautylife_main .etude_pick_list:after{content:''; display: block; clear: both;}
.beautylife_main .etude_pick_list>li{float:left; width:calc((100% - 30px) / 4)}
.beautylife_main .etude_pick_list>li + li{margin-left:10px;}
.beautylife_main .etude_pick_list .round{border-radius:50%;}
.beautylife_main .etude_pick_list span{overflow:hidden; display:block; margin-top:5px; white-space: nowrap; text-overflow: ellipsis; line-height:1.5; text-align:center;}
.beautylife_main .panel>.h_title.sub{padding-bottom:10px; margin-bottom:5px; border-bottom:1px solid #000;}
.beautylife_main .nine_looks{margin-bottom:15px;}

.nine_looks .one_half{margin-top:25px;}
.nine_looks .img{position:relative;}
.nine_looks .one_half .title{position:absolute; bottom:0; left:0; color:#000; font-size:14px; padding:0 0 15px 15px; font-weight:700;}
.nine_looks .one_half .title>span{font-size:34px; font-weight:800; display:block; width:1.4em; text-align:center; margin-left:-15px; border-top:2px solid #000; line-height:1.3;}
.nine_looks .tag span{display:inline-block; padding:5px 7px; margin:10px 2px 0 0; border: 1px solid #999; color:#999; white-space:nowrap; border-radius:15px; font-size:11px;}
.beautylife_main .banner{margin:10px 0; }
.beautylife_main .banner:last-child{margin-bottom:0;}
.beautylife_main .free_sample{background:#feefec;}
.beautylife_main .free_sample a{display:block; width:100%; padding:8.9% 15px; max-width:640px; margin:0 auto; background:url(/mo/ko/images/beautylife/img_free_sample.jpg) no-repeat; background-size:100%; color:#602515;}
.beautylife_main .free_sample strong{font-size:19px;}
.beautylife_main .free_sample em{color:#cc514e;}
.beautylife_main .free_sample p{margin-top:5px;}
.beautylife_main .ch_etude .h_title.cont{padding-bottom:10px; margin-bottom:10px; border-bottom:1px dashed #e6e6e6; line-height: 1.5;}
.beautylife_main .ch_etude .h_title.cont small{display:block;}
.beautylife_main .ch_etude .video_wrap{width:auto; margin:10px -15px;}
.beautylife_main .ch_etude .two_half{padding:0;}

/* 에뛰드 픽 */
.etude_pick{background:#fff;}
.etude_pick .visual_title{position:relative;}
.etude_pick .visual_title>div{position:absolute; top:25%; left:15px;}
.etude_pick .visual_title .btn_more{padding:5px 5px 5px 10px; border:1px solid #000; border-radius:25px;}
.etude_pick .visual_title .h_title + p.text{margin:5px 0;}
.etude_pick .visual_title .btn_more .ico_arr{margin-top:-4px; margin-left:3px;}
.etude_pick .visual_title + ._btns{position:relative; z-index:1; margin:-20px 15px 0;}
.etude_instar_wrap{padding:0 15px 15px 0;}
.etude_instar_wrap ul:after{content:''; display: block; clear: both;}
.etude_instar_wrap > ul > li{float:left; width:50%; padding:15px 0 0 15px;margin: 0;}
.etude_instar_wrap li a{display:block; position:relative;}
.etude_instar_wrap li a:before{content:''; position:absolute; top:10px; right:10px; width:15px; height:15px; background:url(/mo/ko/images/common/ico.png) no-repeat -85px -90px; background-size:100px;}
.etude_pick_layer .ix-list-item{overflow:auto; height:100%; padding:15px;}
.etude_pick_layer .instar_info{padding-top:15px; text-align:left;}
.etude_pick_layer .instar_info .thumb{overflow:hidden; display:inline-block; width:30px; height:30px; margin-right:5px; border-radius:50%; vertical-align: middle;}
.etude_pick_layer .instar_img{position: relative;}
.etude_pick_layer .instar_img:before{content: ''; position: absolute; top: 10px; right: 10px; width: 15px; height: 15px; background: url(/mo/ko/images/common/ico.png) no-repeat -85px -90px; background-size: 100px;}
.etude_pick_layer .instar_info dt{font-weight:500; color:#000; font-size:14px;}
.etude_pick_layer .instar_info dd{padding-top:10px; color:#888; -ms-word-break: break-all; word-break: break-all;}

/* 9 looks */
.nine_looks .title_area{padding:15px 15px 0; background:#fff;}
.nine_looks .title_area .h_title{margin:10px 0 5px; padding-top:15px; border-top:1px dashed #e6e6e6; text-align:center; font-size:20px;}
.nine_looks .title_area .more{padding:0 10px; background:#000; color:#fff; border-radius:15px; font-size:11px;}
.nine_looks .makeup_look .ix-list-item{text-align:center;}
.nine_looks .makeup_look .title{margin-bottom: 5px; text-align:center; font-family:Arial;}
.nine_looks .makeup_look .img{display:block; position:relative;}
.nine_looks .makeup_look .activated .img:before{content:''; position:absolute; top:3px; left:3px; right:3px; bottom:3px; border:2px solid #fff;}
.nine_looks .makeup_look .activated .title{color:#f54a7e;}
.nine_looks .three_half{padding-bottom:25px;}

/* LOOKS */
.looks.main .looksbox .h_title {position:relative;}
.looks.main .looksbox .h_title:before {content:''; display:inline-block; width:38px; height:21px; background:url(/mo/ko/images/main/ico_main_title.png) no-repeat 0 -147px; background-size:38px;}
.looks.detail {padding:0 !important; background:#fff;}
.looks .looks_list {margin:-3px -7px 0 !important;}
.looks .looks_list:after {content:""; display: block; clear:both;}
.looks .looks_list>li {float:left; width:calc(50% - 10px); margin:23px 5px;}
.looks .looks_list>li>a {display:block; padding:0; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.looks .looks_list .name {display:block;height: 72px; padding:15px; color:#000; font-size:14px; line-height:21px;}
.looks .looks_header {padding:25px 15px; text-align:center;}
.looks .looks_header .h_title {color:#333; font-size:22px; line-height:1.2;}
.looks .looks_header .btn_share {width:25px; height:21px; margin-top:15px; padding:0; background:url(/mo/ko/images/common/ico.png) no-repeat -80px -110px; background-size:100px;}
.looks .looks_visual {position:relative;}
.looks .looks_visual .video_wrap {position:absolute; bottom:5.5%; left:0; width:100%; height:11.25%;}
.looks .looks_visual .video_wrap.spc01 {bottom:8.7%; height:16.95%;}
.looks .looks_nav {margin-top:30px;}
.looks .looks_nav .h_title {margin:0 15px;}
.looks .looks_nav .slide ul>li>a img {/*width:104px; height:110px;*/}
.looks .looks_nav .slide .name {display:block; margin-top:7px; color:#666; font-size:8px; text-align:center; line-height:13px;}
.looks .evt_goods {margin-top:15px; padding:15px 0 40px; border-top:1px solid #ebebeb;}
.looks .evt_goods .btn_lg_more {background:#fff; border-bottom:0; border-top:1px solid #ebebeb;}
@media screen and (max-width:320px) {
	.looks .looks_list .name {padding:15px 5px;}
}

/* ch etude */
.ch_etude{background-color: #fff;}
.ch_etude .panel{margin-top: 0!important;border-bottom: 0;}
.ch_etude .h_title.cont{padding-bottom:15px; font-size: 22px;font-weight: 300;overflow:hidden}
.ch_etude .h_title.cont .ico_tv{margin-right: 5px;vertical-align: baseline;}
.ch_etude .h_title.cont .btn_more {float:right;margin-top:-2px}

.ch_etude .two_half{padding:0;}
.ch_etude .video_list{overflow: hidden;margin-top: -10px;padding-bottom:20px;}
.ch_etude .video_list li{float: left;margin-top: 21px;width: calc(50% - 5px);}
.ch_etude .video_list li:nth-child(even){margin-left: 10px;}
.ch_etude .video_list *{display: block;}
.ch_etude .video_list .img{position: relative;}
/*.ch_etude .video_list .img:after{*/
	/*content: "";*/
	/*width: 27px;*/
	/*height: 27px;*/
	/*background: url(/mo/ko/images/common/btn_play_big.png) no-repeat;*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*background-size: 100%;*/
	/*margin-left: -16px;*/
	/*margin-top: -16px;*/
/*}*/
.ch_etude .video_list .info{margin-top: 9px;}
.ch_etude .video_list .info>*:not(.state){ overflow: hidden; display:block;	height: 3em; line-height: 1.5;}
.ch_etude .video_list .state{display:inline-block; padding:0 8px; height:15px; line-height:15px; border-radius:15px; font-size:9px; font-family:Arial; color:#fff;}
.ch_etude .video_list .state.live{background:#f54a7e;}
.ch_etude .video_list .state.next{background:#59d3d3;}
.ch_etude .video_list .subj{margin-top: 4px;line-height: 1.3em;font-size: 14px;color: #000;font-weight: 300;}
.ch_etude .video_list + div{margin:0 -15px;}
.ch_etude .btn_lg_more{margin-bottom:-25px; border-top:1px solid #ebebeb; border-bottom:0;}
.ch_etude .video_info{padding:15px !important;}
.ch_etude .video_info dt{position:relative; padding-right:30px; line-height:1.3;}
.ch_etude .video_info dt>span,
.ch_etude .video_info dt>span b{display:block;}
.ch_etude .video_info .clear{margin-top:10px;}
.ch_etude .btn_share{position:absolute; top:50%; right:0; width:20px; height:21px; margin-top:-15px; background:url(/mo/ko/images/common/ico.png) no-repeat -80px -110px; background-size:100px;}
.ch_etude .video_info .btn_coupon{padding:0;}
.ch_etude .video_info .btn_coupon .ico{display:inline-block; width:33px; height:15px; background:url(/mo/ko/images/beautylife/ico_coupon.png) no-repeat; background-size:100%; vertical-align: middle;}

.ch_etude .comment_area{border-top:1px solid #ebebeb}
	.comment_area .form{margin-bottom:20px;}
	.comment_area .btn_md_neutral{margin-top: 10px;}
	.comment_list.live{overflow-y:auto; max-height:250px;}
	.comment_list>li{position:relative; padding:20px 0; border-top:1px solid #ebebeb;}
	.comment_list dt{padding-bottom:5px;}
	.comment_list b{position: relative;padding-right: 10px;margin-right: 7px;}
	.comment_list small{padding-right:5px;}
	.comment_list b:after{content: '';position: absolute;top: 6px;right: 0;width: 1px;height: 10px;background-color: #ebebeb;}
	.comment_list .btn_delete{padding:0;}
	.comment_list [class^="ico_"]{width:15px; height:15px; margin-left:2px; border-radius: 50%; background-position:-50px -160px}
	.comment_list .ico_del{background-position:-70px -160px}
/*.ch_etude.detail{padding-bottom:40px;}*/
.ch_etude .text_notice button{vertical-align: top;}
.ch_etude #btn_otherVideo span{vertical-align:baseline !important; color:#666; font-weight:400;}

/* 추천 태그 */
.ch_etude .visual + .recommend_tag{margin-top:5px;}
.ch_etude .recommend_tag{margin-bottom: 5px;overflow: hidden;overflow-x: scroll;width: 100%;}
.ch_etude .recommend_tag + .panel{margin-top: 15px!important;padding-top: 0;}
.ch_etude .recommend_tag .keywords{white-space: nowrap;}
.ch_etude .recommend_tag .tag{display:inline-block; vertical-align: middle;}
.ch_etude .recommend_tag .tag:first-child{margin-left: 10px;}
.ch_etude .recommend_tag .tag>input{position:absolute; top:0; left:0; z-index: -1; visibility:hidden;}
.ch_etude .recommend_tag .tag>label{display:inline-block; height:40px; padding:0 15px; margin:10px 5px;min-width: 64px; font-size:14px; color:#000; font-weight:300; text-align: center;border-radius:20px;-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); line-height:40px;}
.ch_etude .recommend_tag .tag>input:checked + label{background-color: #f54a7e;color: #fff;}
.ch_etude .recommend_tag.fixed{
	position: fixed;top: 40px;height: 60px;background-color: #fff;z-index: 1;
	border-bottom: 1px solid #dfdfdf;
}

.ch_etude .visual.slide .ix-thumbs{right: 15px;left: inherit;}

.ch_etude.detail{}
.ch_etude.detail .panel{margin-top: 0!important;border-bottom: 0;}
.ch_etude.detail .title_wrap{padding: 40px 0 30px;text-align: center;}
.ch_etude.detail .title_wrap .flag{margin-bottom: 10px;}
.ch_etude.detail .title_wrap .flag > *{display: inline-block;padding: 3px 10px;;font-size: 11px;border:1px solid #f54a7e;border-radius: 18px;text-align: center;}
.ch_etude.detail .title_wrap .flag .coupon{color: #f54a7e;margin-right: 2px;}
.ch_etude.detail .title_wrap .flag .live{background-color: #f54a7e;color: #fff;font-family: 'Arial';font-weight: 700;}
.ch_etude.detail .title_wrap .h_title{font-size: 22px;text-align: center;color: #333;line-height: 1.4;font-weight: 300;}
.ch_etude.detail .title_wrap .date{margin-top: 10px;font-size: 12px;font-family: 'Arial';color: #999;}
.ch_etude.detail .title_wrap .btn_share{position:static; width:25px; height:21px; margin-top:15px; padding:0; background:url(/mo/ko/images/common/ico.png) no-repeat -80px -110px; background-size:100px;}

.ch_etude.detail .coupon_down{text-align: center;}
.ch_etude.detail .coupon_down dt{font-size: 15px;color: #333;}
.ch_etude.detail .coupon_down dd{line-height: 1.5;font-weight: 300;}
.ch_etude.detail .coupon_down dd button{margin-top: 30px;padding-left: 20px;width: 240px;height: 40px;color: #fff;font-size: 14px;font-weight: 500;background: url('/mo/ko/images/beautylife/coupon_bg.png') 0 0 no-repeat;-webkit-background-size: 100%;background-size: 100%;-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.ch_etude.detail .coupon_down dd button:disabled{background-position: 0 100%;}

.ch_etude.detail .btn_lg_more{border-bottom: 1px solid #ebebeb;}
.ch_etude.detail .other_movie{}
.ch_etude.detail .other_movie .h_title{font-size: 15px;font-weight: 500;}
.ch_etude.detail .other_movie .h_title .ico_play{vertical-align: bottom;}
.ch_etude.detail .other_movie .video_list{margin-top: -20px;}

.ch_etude.detail .recommend_items .live_prd{overflow: hidden;margin-left: -10px;}
.ch_etude.detail .recommend_items .live_prd li{float: left;margin-left: 10px;width: calc(50% - 10px);}
.ch_etude.detail .recommend_items .btn_md_bordered{}
.ch_etude.detail .recommend_items .btn_md_bordered span{position: relative;display: inline-block;padding-right: 20px;}
.ch_etude.detail .recommend_items .btn_md_bordered span:after{content: '';position: absolute;top: 3px;right: 0;width: 13px;height: 7px;background: url('/mo/ko/images/common/ico.png') -40px -35px no-repeat;-webkit-background-size: 100px;background-size: 100px;}

.ch_etude.detail .banner{padding-bottom: 25px;}
.ch_etude.detail .banner .slide .ix-thumbs{position:absolute; bottom: 0px;left: 20px;}

.ch_etude_coupon_down ul{margin-top: 14px;border-top: 1px solid #ebebeb;}
.ch_etude_coupon_down li{padding: 10px 0;border-bottom: 1px solid #ebebeb;}
.ch_etude_coupon_down li > *{line-height: 20px;}
