@charset "UTF-8";

/* board list */
.board_list ul>li{border-bottom:1px solid #d9d9d9; background:#fff;}
.board_list ul>li>a{position:relative; display:block; padding:15px 40px 16px 15px;}
.board_list ul>li>a>*,
.board_view_title>*{display:block; line-height:1.5;}
.board_list ul>li>a:after{content:''; position:absolute; top:50%; right:0; width:40px; height:40px; margin-top:-20px; background-image:url(/mo/ko/images/common/bg_select_2.png); background-size:40px; background-position:100% -1px; background-repeat:no-repeat; transform:rotate(-90deg);}
.board_list .title{margin-bottom:4px; font-size:14px; color:#333;}
.board_list ul>li>a small{color:#999;}
.board_list ul>li.important small:first-child{color:#f54a7e;}
.board_list ul>li.important .title{font-weight:500; color:#000;}
.board_list ul>li small{display:inline-block; line-height:13px;}
.board_list ul>li small + small{padding-left:7px; margin-left:7px; border-left:1px solid #d2d2d2;}

/* board_view */
.board_view_title{margin-bottom:25px; padding-bottom:25px; border-bottom:1px solid #000;}
.board_view_title .title{font-size:16px; color:#333;}
.board_view_cont{line-height:1.5;}