@charset "utf-8";

.animated{opacity:0;}
/* 브랜드 */
.brand_overview{padding:0 15px 30px; background:#fff;}
.brand_overview .visual{position:relative; margin:0 -15px;}
.brand_overview .visual>a{position:absolute; bottom:50px; left:0; right:0; text-align:center; font-weight:300;}
.brand_overview .visual:after{content:''; position:absolute; bottom:10px; left:50%; display: inline-block; width:20px; height:31px; margin-left:-10px; background:url(/mo/ko/images/brand/ico_wheel.png) no-repeat; background-size:100%;}
.brand_overview .img_cont_box{margin-top:15px; background:#fff; -webkit-box-shadow: 0 5px 10px 0 #e7e7e7; box-shadow: 0 5px 10px 0 #e7e7e7;}
.brand_overview .img_cont_box dl,
.brand_overview .img_cont_box .img_cont_box_div {padding:10px; line-height:1.3; font-weight:300; color:#333; font-size:12px;}
.brand_overview .img_cont_box .img_cont_box_div {padding-top:5px;border-top:1px solid #ebebeb;color:#888;}
.brand_overview .img_cont_box .img_cont_box_link {display:block}
.brand_overview .img_cont_box dl.v2 {padding-bottom:5px}
.brand_overview .img_cont_box dt{padding-bottom:5px; font-size:15px;}
.brand_overview .img_cont_box dd + dd{border-top:1px solid #ebebeb; margin-top:5px; padding-top:5px; color:#888;}
.brand_overview .clear .img_cont_box{width:calc(50% - 5px);}
.brand_overview .img_cont_box + .visual{margin-top:15px;}
/* 에뛰드하우스 */
.etude_house .visual{position:relative; margin:-30px -15px 20px;}
.etude_house .visual .obj{position:absolute; bottom:5%; left:0; width:100%; text-align:center;}
.etude_house .visual .obj img{width:42%;}
.etude_house .visual_title{position:relative;}
.etude_house .visual_title>.moving{position:relative; top:20px;}
.etude_house .visual_title .wrap{position:relative; overflow:hidden; padding-top:44.52%;}
.etude_house .visual_title .wrap .moving{position:absolute; top:0; left:0; transition:.5s;max-width:69%}
.etude_house .visual_title .wrap.on .moving{top:-10%;}
.etude_house .h_title{padding-top:10px;}
.etude_house .visual_title .mini{position:absolute; bottom:3px; right:15px; width:110px; -webkit-box-shadow: 0 5px 10px 0 #e7e7e7; box-shadow: 0 5px 10px 0 #e7e7e7;}
.etude_house .text{padding:20px 0;}
.etude_house .animated{opacity:0;}
.global_etude{position:relative; margin:0 -15px -30px;}
.global_etude a,
.global_etude button{display:block; position:absolute; height:4.5%;}
.global_etude .china{top:7%; left:16%; width:17%;}
.global_etude .china2{top:12.5%; left:16%; width:17%;}
.global_etude .korea{top:13.5%; left:47%; width:17%;}
.global_etude .korea2{top:19%; left:47%; width:17%;}
.global_etude .japan{top:23.5%; right:17%; width:17%;}
.global_etude .japan2{top:29%; right:17%; width:17%;}
.global_etude .hongkong{top: 34%;right: 25%;width: 22%;}
.global_etude .hongkong2{top: 39%;right: 30%;width: 17%;}
.global_etude .taiwan{top: 46%;right: 24%;width: 17%;}
.global_etude .taiwan2{top: 52%;right: 24%;width: 17%;}
.global_etude .philippines{bottom: 36%;right: 9%;width: 25%;}
.global_etude .philippines2{bottom: 31%;right: 16%;width: 18%;}
.global_etude .malaysia{bottom: 36%;left: 21%;width: 20%;}
.global_etude .malaysia2{bottom: 31%;left: 21%;width: 17%;}
.global_etude .singapore{bottom: 22%;left: 28%;width: 19%;}
.global_etude .singapore2{bottom: 17%;left: 28%;width: 17%;}
.global_etude .indonesia{bottom: 22%;right: 14%;width: 22%;}
.global_etude .indonesia2{bottom: 17%;right: 18%;width: 18%;}
.global_etude .myanmar{top:35%; left:14%; width:19%;}
.global_etude .thailand{top:42%; left:28%; width:19%;}
.global_etude .vietnam{top:51%; left:27%; width:19%;}
.global_etude .brunei{top:60%; left:45%; width:16%;}
/* 히스토리 */
.brand .history{background:#fff;}
.brand .brand_history{padding-top:20px; border-left:1px solid #d2d2d2;}
.brand .brand_history dl>*{padding-left:15px;}
.brand .brand_history dt{position:relative; font-weight:bold; font-family:Arial; color:#000; font-size:22px;}
.brand .brand_history dt:before{content:''; position:absolute; top:50%; left:0; width:7.5px; height:1px; background:#d2d2d2;}
.brand .brand_history dd{padding:10px 0 20px 15px;}
.brand .brand_history .img{margin-bottom:20px;}
.brand .brand_history li{display:table; width:100%; line-height:1.5;}
.brand .brand_history li>*{display:table-cell; vertical-align: top;}
.brand .brand_history li>*:first-child{width:60px;}
.brand .brand_history li + li{margin-top:10px;}
.brand .brand_history li span b{display:block; font-weight:normal;}

.brand .etude_instar .visual{position:relative; }
.brand .etude_instar .btn_instar_go{position:absolute; bottom:5%; left:50%; height:40px; margin-left:-90px; background:#360a17; color:#fff; font-size:14px;}
.brand .etude_instar .instar_wrap{padding:15px;}
.brand .etude_instar .instar_wrap iframe{width:100%;}
.brand .etude_instar .instar_wrap .instar{background:#fff;}
.brand .etude_instar .instar_wrap div + div{margin-top:25px;}

.brand .brand_etude_tit {position:relative;margin:-30px -15px 0}
.brand .brand_etude_tit span {position:absolute;bottom:0;left:28px}


/* 뷰티즌 */
/* 이란? */
.beautizen .visual{margin:-30px -15px 25px;}
.beautizen .dl_cont dt img{width:115px;}
.beautizen .dl_cont dt img + b{display:block; margin-top:10px; font-size:14px;}
.beautizen .dl_cont + .dl_cont{margin-top:30px;}
/* 모집 */
.beautizen h3{padding:15px; text-align:center; background:#f54a7e; color:#fff; font-size:15px;}
.beautizen .page_btns{padding: 0 15px 25px;}
.attach_photo{position:relative;}
.attach_photo .img{overflow:hidden; display:block; width:125px; height:125px; margin:0 auto; background:url(/mo/ko/images/brand/bg_photo.gif) no-repeat; background-size:100%; border-radius:50%;}
.attach_photo input[type="file"]{position: absolute; z-index: -1; visibility: hidden;}
.attach_photo label{position:absolute; top:100px; left:50%; width:25px; height:25px; margin-left:30px; background:url(/mo/ko/images/brand/btn_photo_attach.png) no-repeat; background-size:100%;}
.beautizen .form .input_group + .unit{margin-top:0;}
.beautizen .btn_add{position:absolute; top:-30px; right:0; margin-top:0 !important;}
.relative{position:relative;}
.beautizen .ico_more,
.beautizen .ico_refresh{display:inline-block; width:13px; height:13px; margin-top:-2px; background:url(/mo/ko/images/common/ico.png) no-repeat; background-size:100px;}
.beautizen .ico_more{background-position:0 -220px; margin-left:5px;}
.beautizen .ico_refresh{background-position:-20px -220px; margin-right:3px;}
/* 프로필 */
.beautizen .profile{background:#fff;}
.beautizen .profile .visual{position:relative;}
.beautizen .profile .visual>div{position:absolute; top:50px; left:15px; right:15px; bottom:50px; color:#fff; text-align:center;}
.beautizen .profile .visual .h_title{color:#fff;}
.beautizen .profile_list{width:100%;}
.beautizen .profile_list:after{content:''; display: block; clear: both;}
.beautizen .profile_list>li{float:left; width:50%; text-align:center;}
.beautizen .profile_list>li>a{display:block; padding:5px 10px;}
.beautizen .profile_list strong{display:block; padding:5px 0;}


/*브랜드*/
/*브랜드 - 컬러팩토리*/
.color_factory{}
.my_color_step{margin: 10px 0;}
.my_color_step li{display: table;width: 100%;padding: 15px 0;}
.my_color_step li + li{border-top: 1px dashed #d2d2d2;}
.my_color_step li > *{display: table-cell;vertical-align: middle;line-height: 1.5;}
.my_color_step li > *:first-child{width: 135px;}
.my_color_step li [class*="thumb"]{display: inline-block;width: 120px;height: 120px;background: url('/mo/ko/images/brand/img_factory_03.png') 0 0 no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.my_color_step li:nth-child(2) [class*="thumb"]{background-position: 0 -126px;}
.my_color_step li:nth-child(3) [class*="thumb"]{background-position: 0 -252px;}
.my_color_step li:nth-child(4) [class*="thumb"]{background-position: 0 -378px;}
.my_color_step li:nth-child(5) [class*="thumb"]{background-position: 0 -506px;}
.my_color_step li:nth-child(6) [class*="thumb"]{background-position: 0 -632px;}
.my_color_step dl dt{position: relative;color: #f54a7e;font-size: 15px;font-weight: 700;font-family: 'Arial';}
.my_color_step dl dd{color: #333;line-height: 1.5em;}

.factory_store{}
.factory_store .h_title{padding: 15px 0 10px;}
.factory_store .store_view{overflow: hidden;overflow-x: scroll;}
.factory_store .store_view ul{overflow: hidden;width: 780px;}
.factory_store .store_view ul li{float: left;margin-right: 10px;width: 250px;}

.factory_service dl{padding: 15px 0;border-bottom: 1px dashed #e6e6e6;}
.factory_service dt{padding-bottom: 10px;color: #333;font-size: 14px;font-weight: 500;}
.factory_service dd{line-height: 1.5;}
.factory_service dd .price{text-align: right;color: #f54a7e;font-size: 14px;}
.factory_service dd .price strong{font-family: 'Arial';}
.factory_service dd .price b{color: #f54a7e;}

.factory_store_thumb{margin-top: 15px;}
.factory_store_thumb > *{width: calc(50% - 5px);}
.factory_store_thumb > * span{display: inline-block;padding-top: 10px;}

.title_wrap .required{position: absolute;top: 2px;right: 0;}
.required{position: relative;display: inline-block;height: 18px;padding-left: 7px;color: #f54a7e;font-size: 12px;}
.required:before{content: '';position: absolute;top: 3px;left: 0;width: 3px;height: 3px;background: url('/mo/ko/images/common/ico_required.png');-webkit-background-size: 100%;background-size: 100%;}

.color_factory .form_btns.mgt10{margin-top: 10px !important;}
.color_factory .form .dl dt{font-size: 13px;letter-spacing: -0.7px;}
.color_factory .form .agree_wrap > *{display: inline-block;vertical-align: middle;}
.color_factory .form .agree_wrap > *:first-child{padding-right: 25px;}
.color_factory .form .agree_wrap .check_wrap{min-width: 65px;padding-right: 0;}
.color_factory .form .agree_wrap .check_wrap:first-child{min-width: 50px;}

.color_factory .personal_color .check_wrap + .check_wrap{margin-top: 10px;}
.color_factory .personal_color .check_wrap > label{line-height: 1.3;letter-spacing: -1px}

.factory_agree_check{margin-top: 25px;}
.factory_agree_check > *{line-height: 1.5;}
.factory_agree_check .agree_all{}
.factory_agree_check .agree_all .check_wrap label{display: block;padding: 0 40px 0 0;font-size: 13px;line-height: 1.5;}
.factory_agree_check .check_set{overflow: hidden;}
.factory_agree_check .check_set .check_wrap{float: right;}
.factory_agree_check .check_wrap{padding-right: 0;}
.factory_agree_check .check_wrap>label{padding: 0 30px 0 0;}
.factory_agree_check .check_wrap>label:before{right: 0;left: inherit;}
.factory_agree_check .box{overflow-y:scroll;padding:15px;height: 100px;border:1px solid #d2d2d2;color: #999;font-size: 12px;}

.color_factory .reservation_list{margin-top: 20px;border-top: 1px solid #333;}
.color_factory .reservation_list li{display: table;width: 100%;padding: 10px 0;border-bottom: 1px solid #d2d2d2;}
.color_factory .reservation_list li > *{display: table-cell;vertical-align: middle;line-height: 1.5;}
.color_factory .reservation_list li > *:last-child{text-align: right;color: #333;font-weight: 500;}

.color_factory .reservation_list button {height: 25px;border-radius: 20px;line-height: 25px;}

.color_factory .reservation_list + h4 {margin-top: 40px;}

/*컬러 파인더*/
.color_finder .layer{background:#f8f8f8;}
.color_finder .icon_finder{display: inline-block;width: 13px;height: 13px;background: url('/mo/ko/images/common/ico.png') -1px 100% no-repeat;-webkit-background-size: 100px 250px;background-size: 100px 250px;}
.color_finder .ui_accordion .title{position: relative;padding-left: 18px;}
.color_finder .ui_accordion .title .icon_finder{position: absolute;top: 4px;left: 0;}

.color_finder .store_wrap{}
.color_finder .store_wrap .icon_finder{position: absolute;top: 0;right: 0;left: inherit;}
.color_finder .store_info{position: relative;}
.color_finder .store_info .store_addr{border-bottom: 0;}
.color_finder .store_btn_wrap{position: inherit;}
.color_finder .store_btn_wrap:after{width: 0;}
.color_finder .store_btn_wrap button{position: absolute;top: -40px;right: 0;width: 70px;padding: 0 0 0 20px;text-align: left;color: #333;font-weight: 400;}
.color_finder .store_btn_wrap button:after{left: 0;margin-left: 0;}

/*청춘강연*/
.makeup_dream{background-color: #fff;}
.makeup_dream .youth_title{position: relative;margin:0;padding-top: 62.50%;text-align: center;color: #fff;background: url('/mo/ko/images/brand/img_youth_00.jpg') 0 0 no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.makeup_dream .youth_title > *{position: absolute;}
.makeup_dream .youth_title .title_wrap{top: 55px;width: 100%;}
.makeup_dream .youth_title .title{font-size: 26px;font-weight: 700;text-align: center;}
.makeup_dream .youth_title .text{padding-top: 10px;}
.makeup_dream .youth_title .share{bottom: 7%;right: 5%;}
.makeup_dream .youth_title .share > *:before{content: '';position: absolute;background: url('/mo/ko/images/brand/icon_youth.png') no-repeat;-webkit-background-size: 40px 25px;background-size: 40px 25px;}
.makeup_dream .youth_title .share .like{position: relative;padding:4px 10px 4px 28px;border:1px solid #fff;border-radius: 20px;font-size: 11px;font-family: 'Arial';}
.makeup_dream .youth_title .share .like:before{top: 4px;left: 8px;width: 14px;height: 12px;background-position: 0 0;}
.makeup_dream .youth_title .share .sns{position: relative;margin-left: 10px;width: 20px;height: 21px;}
.makeup_dream .youth_title .share .sns:before{top: 0;left: 0;width: 20px;height: 21px;background-position: 100% 0;}

.makeup_dream .tab_cont.panel{padding: 0;}
.makeup_dream .youth_cont{padding: 0 15px 30px;}
.makeup_dream .youth_cont .title{padding: 25px 0;text-align: center;letter-spacing: -1px}
.makeup_dream .youth_cont .text.sm{color: #888;}
.makeup_dream .youth_cont .text.md{padding-bottom: 5px;font-weight: 700;font-size: 15px;color: #333;}
.makeup_dream .youth_cont .text.lg{color: #333;font-size: 22px;font-weight: 700;}
.makeup_dream .youth_cont .img_list li{margin-bottom: 10px;}
.makeup_dream .youth_cont .img_list + .title{margin-top: 20px;}
.makeup_dream .youth_cont .title.brd_b{border-bottom: 1px solid #d2d2d2;}

.makeup_dream .youth_event_info{margin-top: 20px;}
.makeup_dream .youth_event_info ul{border-top: 2px solid #333333;}
.makeup_dream .youth_event_info li{overflow: hidden;padding: 10px 0;border-bottom: 1px solid #d2d2d2;}
.makeup_dream .youth_event_info li > *{float: left;}
.makeup_dream .youth_event_info li > *:first-child{width: 30%;}
.makeup_dream .youth_event_info li > *:last-child{width: 70%;}

.makeup_dream .youth_list{border-top: 9px solid #ebebeb;padding: 25px 15px 0;background-color: #fff;}
.makeup_dream .youth_list .h_title{padding-bottom: 10px;border-bottom: 1px dashed #e6e6e6;font-size: 15px;color: #333;font-weight: 500;}
.makeup_dream .youth_list ul{border-bottom: 1px solid #ebebeb;}
.makeup_dream .youth_list ul li{padding: 12px 0;}
.makeup_dream .youth_list ul li a{display: inline-block;}
.makeup_dream .youth_list ul li a > *{float: left;width: calc(50% - 10px);}
.makeup_dream .youth_list ul li a > *:last-child{float: right;}
.makeup_dream .youth_list ul li .info *{display: inline-block;}
.makeup_dream .youth_list ul li .info .title{font-weight: 500;line-height: 1.4;}
.makeup_dream .youth_list ul li .info .text{padding: 4px 0;font-size: 12px;line-height: 1.2;color: #999;letter-spacing: -1px;}
.makeup_dream .youth_list ul li .info .etc{font-size: 12px;font-family: 'Arial';}
.makeup_dream .youth_list ul li .info .etc .date{color: #999;}
.makeup_dream .youth_list ul li .info .etc .like{position: relative;margin-left: 6px;padding-left: 25px;color: #888;}
.makeup_dream .youth_list ul li .info .etc .like:before{content: '';position: absolute;top: 2px;left: 0;width: 1px;height: 8px;background-color: #d2d2d2;}
.makeup_dream .youth_list ul li .info .etc .like:after{content: '';position: absolute;top: 0;left: 8px;width: 14px;height: 12px;background: url('/mo/ko/images/brand/icon_youth.png') 0 100% no-repeat;-webkit-background-size: 40px 25px;background-size: 40px 25px;}
.makeup_dream .youth_list .btn_lg_more.w100p{background-color: #fff;border-bottom: 0;}

.makeup_dream .agree_box{padding: 10px;border:1px solid #d2d2d2;line-height: 1.5;font-size: 12px;}
.makeup_dream .input_group input:disabled,
.makeup_dream .input_group input:disabled::placeholder{background-color: #d9d9d9;border-color: #d9d9d9;color: #fff;}
.makeup_dream .input_group select:disabled,
.makeup_dream .input_group.disabled label{background-color: #d9d9d9;border-color: #d9d9d9;color: #fff;}
.makeup_join_info ul{margin-top: 30px!important;border-top: 1px solid #333;}
.makeup_join_info ul li{padding: 15px;border-bottom: 1px solid #d2d2d2;}
.makeup_join_info ul li:last-child dd{padding-top: 10px;font-weight: 500;line-height: 1.3;color: #333;}
.makeup_join_info .prize_msg{margin: 0 0 25px;text-align: center;}
/*.makeup_join_info .prize_msg .img{padding: 0 50px;}*/
.makeup_join_info .prize_msg p{margin-top: 15px;font-size: 15px;line-height: 1.5;color: #000;}
.input_group_etc{
	position: relative;display: table;width: 100%;table-layout: fixed;border: 1px solid #d2d2d2;
	margin-top: -1px!important; height: 48px;
}
.input_group_etc > *{display: table-cell;line-height: 48px;}
.input_group_etc > *:first-child{padding-left: 10px;}
.input_group_etc .check_wrap{padding-right: 0;min-width: 80px;}


/*에뛰드 모델*/
.etude_model{}
.etude_model .h_title{margin-top: 15px;font-size: 22px;font-weight: 700;font-weight: 300;}
.etude_model dl{margin-bottom: 25px;padding-bottom: 25px;border-bottom: 1px solid #d2d2d2;}
.etude_model dl dt{padding-bottom: 5px;font-weight: 700;font-size: 15px;color: #333;}
.etude_model dl dt span{display: inline-block;padding-top: 15px;}
.etude_model dl dd{color: #888;line-height: 1.5;}
.etude_model dl dd span{color: #333;}
.etude_model dl:last-child{margin-bottom: 0;padding-bottom: 0;border-bottom: 0;}

.etude_model dl + .h_title{margin-top: 25px;padding-top: 25px;border-top: 1px solid #d2d2d2;}

/*매장칭찬*/
.store_finder_wrap button {
	width: 80px;
	height: 25px;
	margin-right: 10px;
	line-height: 25px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 500;
}

/*글로벌 지도*/
.layer.global_store .layer_title{text-transform: capitalize}

/*180430 추가*/
.brand_txtarea_act {height:100px}
.brand_agree_panel{border:1px solid #d2d2d2;padding:15px;}
.brand_agree_panel.v2 {border:0;padding-left:0;margin-top:0;line-height:18px}
.brand_agree_panel li {line-height:18px;text-indent:-7px;padding-left:7px}
.acd_color_finder .cont {padding:0 !important;background:#f8f8f8}
.acd_color_finder .title {padding-left:0 !important;display:inline-block !important;width:auto !important;vertical-align:middle;padding-right:5px !important;}
.acd_color_finder .title + .flag {display:inline-block;vertical-align:middle;background:#f54a7e;padding:0 5px;color:#fff}
.acd_color_finder .ix-thumbs {position:static;bottom:0;left:0;padding:15px 0;}
.acd_color_finder .store_info {border:0;margin-top:10px;padding:0 16px;}
.acd_color_finder .store_info .store_title {float:none}
.acd_color_finder .store_info .store_addr .store_addr_txt {display:block;margin-top:5px}
.acd_color_finder .store_info .store_addr .store_phone {margin-top:5px}

/*브랜드 * 전시*/
/*(매장안내 매장찾기)*/
.tab_brand_inner {border-bottom:0;padding-top:25px}
.tab_brand_inner>ul {padding:0 15px;display:block !important;height:auto}
.tab_brand_inner>ul>li {display:block !important;border:1px solid #d2d2d2;float:left !important;width:50%;}
.tab_brand_inner>ul>li>*:after {display:none}
.tab_brand_inner>ul>li:nth-child(2) {margin-left:-1px}
.tab_brand_inner>ul>li.on {color:#f54a7e;border:1px solid #f54a7e}
.tab_brand_inner>ul>li.on + li {border-left:1px solid #f54a7e}
.tab_brand_inner>ul>li.on a {color:#f54a7e;font-weight:400}
.tab_brand_inner>ul>li a {color:#666}
.store_search_brand {margin-top:25px}
.store_search_brand .ico_heart {margin-left:0 !important;background:url(/mo/ko/images/common/bg_rating_sm.png) no-repeat;display:inline-block;width:15px;height:15px;background-size:15px;background-position: 0 -15px !important;}
.form_brand .text_pink {color:#f54a7e}
.color_find_service {position:relative}
.color_find_service:before {content:'';position:absolute;top:15px;right:15px;width:22px;height:20px;background:url(/mo/ko/images/common/ico_circle_02.png) no-repeat 100% 8%;background-size:22px 20px}
.store_list_wrap.no_padding {padding:0}
.btn_favorite_store_panel {margin:0 -15px}


/*.brand {background:#fff}*/
.brand .ui_ac_typ1>dl>dt {border-bottom:0}
.brand .ui_ac_typ1>dl>dd {border-top:1px solid #ebebeb}
.brand .ui_ac_typ1>dl>dt button {right:4px}
.brand .ico_star_left {background:url(/mo/ko/images/common/ico_star_01.png) no-repeat 0 50%;background-size:13px 13px;padding-left:15px;}
.brand .ico_circle_01 {background:url(/mo/ko/images/common/ico_circle_01.png) no-repeat 0 50%;background-size:13px 13px;padding-left:15px;}
.form_brand {padding:15px 15px 0}
.form_brand .ico_heart.typ2 + .l_right,
.store_search_brand .l_right,
.brand .text.typ2 .l_right {display:block;float:right;}
.form_brand .ico_heart.typ2 + .l_right strong,
.store_search_brand .l_right strong,
.brand .text.typ2 .l_right strong {color:#f54a7e;font-size:15px;}
.brand .panel .panel:not(.notice) {padding-bottom:2px !important;}
.brand .panel .panel_brand{margin:15px; padding:15px; background:#f5f5f5;}
.layer_cont.brand .notice {border-top:15px solid #f8f8f8}
.brand_review_rating {padding-top:12px}
.brand_review_rating .review_list {padding:15px}
.brand_review_rating .review_list dl.best {margin:0;}
/*.brand_review_rating .review_list dl>dd img {display:none !important;}  20180727:매장평 이미지태그 제거*/
.brand_review_rating .review_best {color:#f54a7e;font-size:15px}
.brand_review_rating .rating_filter {margin:0;padding-top:15px}
.brand_review_rating .etc_select,
.brand_review .etc_select {display:block;white-space:normal}
.brand_review_rating .etc_select span,
.brand_review .etc_select span {display:inline-block;border:1px solid #999;border-radius:10px;padding:3px 6px;margin:3px 0;font-size:11px}
.brand_review_rating .review_list dl>dt span.clear {padding-bottom:15px}
.brand_review_rating .review_list small {background:url(/mo/ko/images/common/ico_home.png) no-repeat 0 2px;background-size:11px 10px;padding-left:15px}
.brand_review_rating .review_list b {margin-top:10px !important;}
.brand_review_rating .review_list dl:last-child {border-bottom:1px solid #d2d2d2;padding-bottom:20px}
.brand_review_rating .pagination {padding-bottom:15px}
.brand_review_rating .pagination>* {width:30px}

.layer_popup .brand_review .review_list dl{padding:0}
.layer_popup .brand_review .etc_select {margin-bottom:15px}
.layer_popup .brand_review .review_list dl>dt{margin-bottom: 30px;}
.layer_popup .brand_review .review_list dl>dt span.clear {padding-bottom:0}
.layer_popup .brand_review .page_btns {width: 100%;padding: 0;}
.layer_popup .brand_review .page_btns:after {display:block;clear:both;content:'';}
.input_group>.textarea_brand {display:block !important;}
.layer_popup .brand_praise .textarea_brand {margin-top:0;border-top:0;height:230px;}
.layer_popup .brand_praise .textarea_brand textarea {height:230px}
.input_group>.textarea_brand + .text_right {padding-right:10px;display:block !important;}
.layer_popup .brand_praise .check_wrap + .check_wrap {margin-top:10px}
.layer_popup .brand_praise .view_group span:nth-of-type(1) {color:#999;padding-left:15px}
.layer_popup .brand_praise .view_group span:nth-of-type(2) {color:#333;padding-left:25px}
.brand_review_rating .review_best,
.layer_popup .review_best {color:#f54a7e;font-size:15px;}
.layer_popup .brand_review .attached img + img{margin: 10px 0;}

/*review layer*/
.review .layer{position: relative;}
.review .layer .review_list > dl > dd{min-height:100%;}

.color_compare .color_chips > div {height:auto}
.color_compare .color_chips .ix-list-item{width:calc(100% - 20px)}
.color_compare .color_chips .ix-list-item + .ix-list-item {margin-left:0;padding-left:3px}
.color_compare .color_chips .ix-list-item li {float:left;display:block;width:calc((100% - 26px) / 6);margin:0;vertical-align:top;}
.color_compare .color_chips .ix-list-item li a {display:block;width:auto;height:auto;position:relative}
.color_compare .color_chips li a.check{border:1px solid #000}
.color_compare .color_chips li a img {border:1px solid #ebebeb}
.color_compare .color_chips li a.check img{border:2px solid #fff}
.color_compare .color_chips .ix-btn {width:10px !important;height:10px !important;background-color:#fff !important;}
.color_compare .color_chips .ix-list-item li:nth-child(n+7) {margin-top:5px}
.color_compare .color_chips .ix-list-item li + li {margin-left:5px}
.color_compare .color_chips .ix-list-item li:nth-child(7n) {clear:both;margin-left:0;margin-top:5px}
.color_compare .color_chips .sold_out {position:absolute;top:0;left:0;bottom:0;margin:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.5);}
.color_compare .color_chips .sold_out span {position:absolute;top:50%;left:0;width:100%;margin-top:-0.5em;text-align:center;color:#fff}
.color_compare .color_chips .ix-controller {padding-top:3px}
.color_compare .color_chips .ix-thumbs {display:inline-block;position:static;padding:0}
.color_compare .color_chips .ix-list-item ul {margin-left:0}
.color_compare .color_chips .ix-list-item ul:after {display:block;clear:both;content:'';}
.brand .store_find_tab {padding:25px 16px 0;background:#fff}
.brand .store_find_tab li {border:1px solid #d2d2d2;}
.brand .store_find_tab .ui_accordion li {border:0}
.brand .store_find_tab .tab_menu {border-bottom:0}
.brand .store_find_tab .tab_menu>ul>li>*:after,
.brand .store_find_tab .tab_menu>ul>li>*:before {display:none}
.brand .store_find_tab .tab_menu>ul>li:nth-of-type(1) {border-right:0}
.brand .store_find_tab .tab_menu>ul>li:nth-of-type(2) {border-left:0}
.brand .store_find_tab .tab_menu>ul>li.on {border:1px solid #f54a7e;color:#f54a7e}
.brand .store_find_tab .tab_menu>ul>li.on button {color:#f54a7e;font-weight:400}
.brand .store_find_tab .form_brand {padding:0}
.brand .store_find_tab .tab_cont {padding:30px 0 0}
.brand_store_opened .input_group .label {width:30%}
.brand_store_opened .input_group textarea {height:100%}
.brand_store_opened .h_title.sub.typ2>span {display:inline-block;position:relative;top:4px}
.brand_store_opened .h_title.sub.typ2:after {display:block;clear:both;content:'';}
.brand_store_opened .h_title.sub.typ2 .check_set {float:right}
.brand_store_opened .h_title.sub.typ2 .check_wrap {padding-right:0;min-width:auto}
.brand_store_opened .h_title.sub.typ3 {font-size:14px;margin-bottom:10px}
.brand_store_opened_box {border:1px solid #d2d2d2;padding:10px}
.brand_store_opened_box p {position:relative;padding-left:6px;line-height:18px}
.brand_store_opened_box p:before {content:'';position:absolute;top:7px;left:0;display:inline-block;width:2px;height:2px;background:#666;}
.brand_store_opened_result {text-align:center;padding:20px 0}
.brand_store_opened_result img {max-width:40%}
.brand_store_opened_result p:nth-of-type(1) {color:#333;font-size:16px;margin-top:30px}
.brand_store_opened_result p:nth-of-type(2){font-size:14px;line-height:22px;margin-top:20px}
.brand_store_opened_result + button {margin-top:10px}

.store_find_tab + .panel .loading {height:70px}
.store_finder_wrap input {border:0}
/*브랜드 * 전시*/