@charset "utf-8";

.ap_contents.order,
.ap_contents.non_order{padding-bottom: 0!important;}
/* fullpage - 테이크아웃*/
.agree_scroll{overflow:hidden; overflow-y:scroll; width:100%;height: 195px;}
.agree_scroll pre{font-size: 12px;}

.takeout_store .h_title + .text{margin-bottom: 20px;}
.takeout_store > .panel{border-bottom: 0;}
.store_count{display: table;width: 100%;}
.store_count > *{display: table-cell;vertical-align: middle}
.store_count .check_set{text-align: right;}
.store_count .check_wrap{min-width: 80px;padding-right: 10px;}
.store_count em{font-size: 15px;font-weight: 700;font-family: 'Arial';}
.takeout_store .btn_lg_more{background-color: #f8f8f8;border-bottom: 0;}
.takeout_store .store_list_wrap .panel.notice{margin: 0 -15px -15px;}

/* fullpage - 쿠폰*/
.coupon_use .h_title + .text{margin-bottom: 20px;}
.coupon_use .input_btn_wrap .input_wrap{width: calc(100% - 50px);}
.coupon_use .input_btn_wrap .input_wrap > input{border-right-width: 0;-webkit-border-radius:0; -webkit-appearance:none;line-height: 40px;}
.coupon_use .input_btn_wrap [class^="btn_"]{width: 50px;}
.coupon_use .coupon_list{margin: 0;}

.ui_tab.box{margin: 30px 0 0!important;}
.ui_tab.box .tab_menu{border-bottom: 0;}
.ui_tab.box .tab_menu>ul>li{border:1px solid #d2d2d2}
.ui_tab.box .tab_menu>ul>li:first-child{border-right-width: 0;}
.ui_tab.box .tab_menu>ul>li:last-child{border-left-width: 0;}
.ui_tab.box .tab_menu>ul>li.on{border:1px solid #f54a7e}
.ui_tab.box .tab_menu>ul>li>*:after{background: none;height: 0;}
.ui_tab.box .tab_menu *{color: #666;}
.ui_tab.box .tab_menu .on>*{color: #f54a7e;font-weight: 500;}
.ui_tab.box .tab_cont{padding: 15px 0;}

.coupon_list .ui_accordion{margin-top: 10px;border-top: 1px solid #ebebeb;}
.coupon_list .ui_accordion .title .d_day{margin-right: 5px;height: 18px;padding: 0 7px;border: 1px solid #f54a7e;border-radius: 18px;font-size: 11px;text-align: center;line-height: 18px;color: #f54a7e;}
.coupon_list .ui_accordion .title .price{font-size: 12px;color: #666;}
.coupon_list .ui_accordion .title .coupon_name{
	display: block;font-size: 13px;margin-top: 5px;
	width:90%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;
}
.coupon_list .ui_accordion>dl>dt{padding: 15px 0 15px 15px;}
.coupon_list .ui_accordion>dl>dt>button{margin-top: 15px;top: 0;background-image:url('/mo/ko/images/common/bg_select.png');background-position: 100% 0;}
.coupon_list .ui_accordion>dl>dt.on>button{background-position: 100% -41px;}
.coupon_list .ui_accordion>dl>dd .cont{font-size: 12px;background-color: #f2f2f2;}
.coupon_list .freebies{
	overflow: hidden;margin-top: 15px;padding-left: 40px;
	background: url('/mo/ko/images/common/icon_reply.png') 30px 50% no-repeat;-webkit-background-size: 6px;background-size: 6px;
}
.coupon_list .freebies > *{float: left;}
.coupon_list .freebies .thumb{width: 40px;}
.coupon_list .freebies .info{padding-left: 15px;width: calc(100% - 50px);color: #666;font-size: 12px;}
.coupon_down ul{border-top: 1px solid #ebebeb;}
.coupon_down ul li{position: relative;padding: 15px 10px;border-bottom: 1px solid #ebebeb;}
.coupon_down ul li .title{display: inline-block;width: calc(100% - 90px);line-height: 1.25em;}
.coupon_down ul li .btn_coupon_down{position: absolute;top: 50%;right: 15px;margin-top: -13px;width:75px; height:25px; line-height:25px; background:#333; color:#fff; text-align:center; border-radius:20px; font-size:12px; font-weight:500;}
.coupon_use .panel.notice .text + .text{margin-bottom: 20px;color: #999;}
.coupon_use .panel.notice button{width: 100%;}


.coupon_list .coupon_order{ border:1px solid #9adada; border-radius:10px; padding:15px 0 15px 15px; margin-bottom:15px; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.coupon_list .coupon_order .coupon_wrap{display:table; width:100%; }
.coupon_list .coupon_order .coupon_wrap .check_wrap{display:table-cell; vertical-align:middle;}

.coupon_list .coupon_order .coupon_wrap .info{ display:table-cell; vertical-align:middle; padding-left:7px;}
.coupon_list .coupon_order .coupon_wrap .info .flag_wrap{position:relative;}
.coupon_list .coupon_order .coupon_wrap .info .flag_wrap .flag{margin-right:4px;height: 18px;padding: 0 7px;border: 1px solid #999;border-radius: 18px;font-size: 11px;text-align: center;line-height: 18px;color: #999;}
.coupon_list .coupon_order .coupon_wrap .info .flag_wrap .btn_del {background:url(/mo/ko/images/common/btn_close.png) no-repeat 50% 50%;background-size:10px 10px;width:20px;height:20px;position:absolute;top:-5px;right:10px;padding:0;}
.coupon_list .coupon_order .coupon_wrap .coupon_name{display:block; font-size: 13px; color:#333; line-height:1.3; margin-top:10px; padding-right:15px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical;word-wrap:break-word;}
.coupon_list .coupon_order .coupon_wrap .price_wrap{display:table; width:100%; table-layout:fixed; margin-top:10px;}
.coupon_list .coupon_order .coupon_wrap .price_wrap .price{display:table-cell; width:calc(100% - 10px); display:block; font-size: 15px;color:#f54a7e;  line-height:1.3; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical;word-wrap:break-word;}
.coupon_list .coupon_order .coupon_wrap .price_wrap .price strong.num{font-family:'arial'}
.coupon_list .coupon_order .coupon_wrap .price_wrap .ui_tooltip{display:table-cell; width:30px; vertical-align:bottom;}

/* fullpage - 모바일 기프트 카드*/
.mobile_gift_card{}
.mobile_gift_card .h_title + .text{margin-bottom: 20px;}
.mobile_gift_card .input_btn_wrap .input_wrap{width: calc(100% - 50px); }
.mobile_gift_card .input_btn_wrap .input_wrap > input{border-right-width: 0;-webkit-border-radius:0; -webkit-appearance:none;line-height: 40px;}
.mobile_gift_card .input_btn_wrap [class^="btn_"]{width: 50px;}
.mobile_gift_card .gift_list{border-top: 1px solid #ebebeb;}
.gift_list li{display: table;padding: 15px;width: 100%;border-bottom: 1px solid #ebebeb;}
.gift_list li > span {display: table-cell;vertical-align:middle}
.gift_list li .check_wrap{min-width: 23px;padding-right: 0;}
.gift_list li .check_wrap.check_only label{padding: 23px 0 0 23px;}
.gift_list li .text{padding-left:10px; color:#000;}
.gift_list li .price{display:table; margin-top:5px; }
.gift_list li .price > * { display:table-cell; vertical-align:middle; color:#999;}
.gift_list li .price b{color:#999;}
.gift_list li .price .input_wrap {float:left; width:77px; margin-right:5px;}
.gift_list li .price .input_wrap input{height:30px;  text-align:right; color:#000;}
.gift_list .total{padding: 15px;background-color: #f5f5f5;}
.gift_list .total .text{color: #333;}
.gift_list .total .price{color: #f54a7e;font-size: 14px;}
.gift_list .total .price strong{font-size: 15px;}

.gift_register{margin-top: 15px;}
.gift_register dt{padding-bottom: 15px;}
.gift_register dd .text_notice{margin-bottom: 10px;}
.gift_register dl + dl{margin-top: 25px;}
.gift_register .date_btn_set{margin-bottom: 15px;}

.ap_contents.cart.order_complete{padding-bottom: 0;}

/* 배송정보 입력*/
.buyer{}
.buyer .input_wrap input{height: 30px;line-height: 30px;}
.buyer .clear{}
.buyer .clear strong{font-size: 15px;color: #333;line-height: 23px;}
.buyer .clear button,
.delivery .take_out_store button,
.btn_sm_neutral_round{width:75px; height:25px!important; background:#333; color:#fff; text-align:center; border-radius:20px; font-size:12px; font-weight:500;line-height: 25px;}

.order .report_box,
.non_order .report_box{margin: 15px 0 10px;padding:15px 10px 5px;background:#f5f5f5;border:1px solid #ddd;}
.order .report_box dl,
.non_order .report_box dl {overflow:hidden;margin-top: 0!important;}
.order .report_box dl dt,
.order .report_box dl dd,
.non_order .report_box dl dt,
.non_order .report_box dl dd {display:block;float:left;margin-bottom:10px;line-height: 1.5em;}
.order .report_box dl dt,
.non_order .report_box dl dt {width:35%;color:#999}
.order .report_box dl dd,
.non_order .report_box dl dd {width:65%;color:#666}

.report_box.destination>dl>dd:only-child{width:100%; text-align:center;}

.delivery .text_notice.pdb10{background-color: #fff!important;}
.delivery .take_out_store{display: table;width: 100%;margin-top: 15px;padding: 10px;border:1px solid #d2d2d2;}
.delivery .take_out_store > *{display: table-cell;}
.delivery .take_out_store p{width: calc(100% - 75px);padding-right: 20px;line-height: 1.5em; word-break: break-all;}
.delivery .take_out_store span{width: 75px;}
.delivery .take_out_store .text_warning{margin-left: 15px;}
.delivery .link span{text-decoration:none;}
.delivery .address_basic .input_group .label{width: 30%;}
.delivery dl dt{margin-bottom: 15px;}
.order .ui_accordion>dl>dd.panel,
.order_complete .ui_accordion>dl>dd.panel,
.non_order .ui_accordion>dl>dd.panel{background-color: #fff!important;}

.address_wrap .general dl{margin-top: 20px;}
.address_wrap .convenience_choise{}
.address_wrap .convenience_choise > *{width: calc(50% - 5px);}
.address_wrap .convenience_choise > * + span{margin-left: 10px;}
.address_wrap .convenience_choise input{position:absolute; z-index:-1;}
.address_wrap .convenience_choise label{display:inline-block;position: relative; padding-top: 70px;width: 100%;height:100px; text-align:center;color: #333;border:1px solid #ddd;border-radius: 5px}
.address_wrap .convenience_choise input:checked + label{border-color:#f54a7e}

.address_wrap .convenience_choise label:before{content: '';position: absolute;top: 50%;left: 50%;background:url('/mo/ko/images/cart/icon_convenience_store.png') 0 0 no-repeat;-webkit-background-size: 145px 43px;background-size: 145px 43px;}
.address_wrap .convenience_choise .cu label:before{width: 66px;height: 42px;margin: -33px 0 0 -33px;background-position: 0 0;}
.address_wrap .convenience_choise .gs label:before{width: 70px;height: 38px;margin: -27px 0 0 -35px;background-position: -75px -3px;}


.layer_cont.info_change .input_group .label{width: 30%;}

.order_item_check{padding: 0;}
.order_item_check .item_count{padding: 13px 15px;border-bottom: 1px solid #ebebeb;background-color: #f5f5f5;}

.order_item_check .cart_item_box{padding:15px;}
.order_item_check .cart_item_box .cart_name_wrap{padding-top: 0;min-height: inherit;}
.order_item_check .cart_item_box .cart_name_wrap + .freebies {margin-top:20px; padding-bottom:0;}
.order_item_check .cart_item_box .thm_cart_item{top:50%; margin-top:-25px;}
.order_item_check .cart_item_box .thm_cart_item img{background:#fff;}
/* .order_item_check .cart_item_box .cart_item_exclusive{padding: 2px 10px 1px;line-height: inherit;height: 18px;font-size: 12px;font-weight: 400;} */
.order_item_check .cart_item_box_wrap + .item_count{border-top: 1px solid #ebebeb;}
.order_item_check .cart_table_cell .price{padding-top: 8px;}
.order_item_check .cart_table_cell .price strong{color: #000;font-size: 15px;}
.order_item_check .cart_table_cell .price em{color: #000;font-size: 13px;font-weight: 500;}
.order_item_check .cart_table_cell .price .quantity{color: #000;font-weight: 500;}
.order_item_check .cart_table_cell .price .coupon{font-size: 11px;color: #999;}
.order_item_check .cart_item_box .cart_item_opt{padding-top: 5px;color: #999;line-height: 1.5em;}

/* 포장/쇼핑백 추가신청*/
.package .form{margin-bottom: 15px;}
.package .clear > div{padding-top: 3px;}
.package .check_wrap{padding-right: 0;}
.package .price{padding-left: 5px;color: #333;}
.package .price .eng{font-size: 15px;}
.package .ui_tooltip.take_out .layer_tooltip dl {background:url('/mo/ko/images/cart/bg_wrapper.jpg') right 90% no-repeat; background-size: 105px auto; padding-bottom:90px;}
.package .ui_tooltip.take_out02 .layer_tooltip dl {background:url('/mo/ko/images/cart/bg_wrapper02.jpg') right 90% no-repeat; background-size: 85px auto; padding-bottom:130px;}


/* 쿠폰/포인트 혜택사용*/
.coupon_benefit_use .coupon_list{margin:15px 0 0 0;}
.coupon_benefit_use .coupon .clear{margin-bottom: 5px;}
/*.coupon_benefit_use .coupon .clear > div {line-height: 25px;}*/
.coupon_benefit_use .coupon + .coupon{padding-top: 15px;border-top: 1px solid #ebebeb;}
.coupon_benefit_use .coupon .title{font-size: 14px; color:#333;}
.coupon_benefit_use .coupon .price{margin-right: 8px;color: #333;line-height: 25px;font-size: 14px;}
.coupon_benefit_use .coupon .price > *{vertical-align: baseline}
.coupon_benefit_use .coupon .price strong{font-size: 15px;}
.coupon_benefit_use .coupon .price span{color: #999;}

.coupon_benefit_use .coupon .price .input_group.beauty{display: inline-block;width: 80px; margin:0;}
.coupon_benefit_use .coupon .price .input_group.beauty > span{width: 100%;display: inline-block!important;}
.coupon_benefit_use .coupon .price .input_group.beauty input{height: 30px;line-height: 30px;text-align: right;}


.coupon_benefit_use .usage_details{margin-top: 20px;position: relative;padding: 15px;background-color: #f5f5f5;}
.coupon_benefit_use .usage_details:after{content: '';position: absolute;top: 50%;right: -8px;margin-top: -8px;width: 16px;height: 16px;background-color: #fff;border-radius: 30px}
.coupon_benefit_use .usage_details .title{font-size: 12px;}
.coupon_benefit_use .usage_details .title .flag.coupon{margin-right: 5px;padding: 0 9px;height: 18px;border:1px solid #f54a7e;border-radius: 20px;background-color: #fff;color: #f54a7e;font-size: 11px;}
.coupon_benefit_use .usage_details .title button{padding: 0 5px;}
.coupon_benefit_use .usage_details .title .detail{padding-right:5px;}
.coupon_benefit_use .usage_details .desc{margin-top: 5px;line-height: 1.5em;}
.coupon_benefit_use .coupon .check_wrap{min-width: auto;padding-right: 0;}
.coupon_benefit_use .coupon .input_group{margin: 10px 0;}

.order .freebies .check_set{margin-top: 15px;}
.order .freebies .check_wrap{float:left; width: 50%;padding-right: 0;}
.order .freebies .check_wrap label{padding-left: 0;color: #000;}
.order .freebies .check_wrap label > *{display: block;text-align: center;}
.order .freebies .check_wrap label .thumb{margin-bottom: 15px;text-align: center;}
.order .freebies .check_wrap label .text{height: 40px;}
.order .freebies .check_wrap>label:before{top: 62%;left: 50%;margin-left:-11px;}
.order .freebies .freebies_list .check_wrap label .thumb{margin-bottom: 30px;}
.order .freebies .freebies_list{overflow: hidden;margin-top: 15px;}
.order .freebies .freebies_list .check_wrap{width: 100%;}
.order .freebies .freebies_list li{float: left;width: 50%;}
.order .freebies .freebies_list .item{padding: 0;border-bottom: 0;}
.order .freebies .freebies_list .prd_name .name{text-align: center;color: #666;font-size: 12px;}
.order .freebies .freebies_list.single li{width: 145px;margin: 0 auto;float: inherit;}
.order .freebies .price{}
.order .freebies .price span{padding-right: 5px;font-size: 17px;font-family: 'Arial';color: #333;font-weight: 700;}
.order .freebies .price span em{font-size: 17px;font-family: 'Noto Sans Korean';color: #333;font-weight: 400;}
.order .freebies .price del{font-size: 12px;color: #999;}
.order .freebies .price del em{font-size: 12px;color: #999;}

.order .box_btn_set{margin-top: 15px;display:table; width:100%; table-layout:fixed;}
.order .box_btn_set>*{position:relative; display:table-cell;}
.order .box_btn_set input{position:absolute; z-index:-1;}
.order .box_btn_set label{display:block; height:40px; border:1px solid #d2d2d2; line-height:38px; text-align:center; font-size:12px;color: #666;}
.order .box_btn_set>*:first-child label{border-right-width:0;}
.order .box_btn_set>*:last-child label{border-left-width:0;}
.order .box_btn_set input:checked + label{background:#fff; color:#f54a7e;border:1px solid #f54a7e;}
.order .freebies .btn_lg_more{margin-top: 0;background-color: #fff;border-bottom: 0;}

/*결제수단선택*/
.payment{}
.payment .main_payment{margin-top: -25px;}
.payment .main_payment .clear >*{line-height: 25px;}
.payment .main_payment li{padding: 15px 0;border-bottom: 1px solid #ebebeb;}
.payment .main_payment .title{font-size: 14px;}
.payment .main_payment .price{padding-right: 5px;}
.payment .main_payment .price strong{color: #333;font-size: 15px;}
.payment .main_payment li:last-child{padding: 12px 0;}
.payment .main_payment li:last-child .price,
.payment .main_payment li:last-child .price strong {color: #999;}
/*.payment .main_payment li:last-child .price .input_wrap>input{width: 80px;height: 30px;border:1px solid #d2d2d2;text-align: right;}*/
.payment .main_payment li:last-child .price .input_group{display: inline-block;width: 80px;}
.payment .main_payment li:last-child .price .input_group > span{width: 100%;display: inline-block!important;}
.payment .main_payment li:last-child .price .input_group input{height: 30px;line-height: 30px;text-align: right;}

.payment .main_payment li:last-child .clear div:first-child{line-height: 30px;}

.payment_choise{margin: 25px 0 -10px -7px;}
.payment_choise > *{position: relative;display: inline-block;margin:0 0 10px 7px;width: calc(50% - 10px);}
.payment_choise input{position:absolute; z-index:-1;}
.payment_choise label{display:block;position: relative; width: 100%;height:95px;padding-top: 65px; text-align:center;color: #000;background-color: #ebebeb;border-radius: 10px}
.payment_choise>*:first-child label{border-right-width:0;}
.payment_choise>*:last-child label{border-left-width:0;}
.payment_choise input:checked + label{background:#d2d2d2;}

.payment_choise label:before{content: '';position: absolute;top: 50%;left: 50%;background:url('/mo/ko/images/cart/icon_payment.png') 0 0 no-repeat;-webkit-background-size: 135px 160px;background-size: 135px 160px;}
.payment_choise .w_pay label:before{width: 60px;height: 30px;margin: -28px 0 0 -30px;background-position: 0 0;}
.payment_choise .credit label:before{width: 40px;height: 28px;margin: -27px 0 0 -20px;background-position: -80px -1px;}
.payment_choise .n_pay label:before{width: 60px;height: 30px;margin: -28px 0 0 -30px;background-position: 0 -40px;}
.payment_choise .phone label:before{width: 30px;height: 40px;margin: -33px 0 0 -15px;background-position: -85px -35px;}
.payment_choise .payco label:before{width: 60px;height: 30px;margin: -28px 0 0 -30px;background-position: 0 -85px;}
.payment_choise .kakao_pay label:before{width: 60px;height: 30px;margin: -28px 0 0 -30px;background-position: -70px -85px;}
.payment_choise .account_transfer label:before{width: 46px;height: 28px;margin: -28px 0 0 -23px;background-position: -7px -126px;}
.payment_choise .remit_bank label:before{width: 42px;height: 30px;margin: -28px 0 0 -21px;background-position: -79px -125px;}

/*최종결제금액*/
.order .final_payment .title,
.non_order .final_payment .title{padding-right: 15px;}
.final_payment .title b{padding-top: 7px;font-size: 15px;}
.final_payment .title .price{font-size: 17px;}
.final_payment .title .price .num{font-size: 23px;}
.payment_details{margin: -25px 0;}
.payment_details .title .price{}
.payment_details .inner_box{padding: 15px 0;}
.payment_details .inner_box + .inner_box{border-top: 1px dashed #ebebeb;}
.payment_details .inner_box .total > strong{padding-top: 2px;font-size: 14px;color: #333;}
.payment_details .inner_box .total b{font-size: 15px;font-weight: 500;}
.payment_details .inner_box .total b .num{font-size: 20px;}
.payment_details .inner_box ul{margin-top: 12px;}
.payment_details .inner_box ul li + li{margin-top: 10px;}
.payment_details .inner_box ul li span{font-size: 14px;}
.payment_details .inner_box ul li span + span{font-size: 13px;}
.payment_details .inner_box ul li span + span .num{font-size: 15px;}
.payment_details hr.icon_minus{position: relative;width: 100%;height: 25px;border:0;margin: -10px 0;}
.payment_details hr.icon_minus:before{content: '';position: absolute;top: 50%;left: 0;width: 100%;height: 1px;background-color: #ddd;}
.payment_details hr.icon_minus:after{content: '';position: absolute;top: 50%;left: 50%;margin: -13px 0 0 -13px;width: 25px;height: 25px;background: url('/mo/ko/images/cart/icon_minus.png') 0 0 no-repeat;-webkit-background-size: 100%;background-size: 100%;}

.order .form_btns + .form_btns,
.non_order .form_btns + .form_btns{margin-top: 10px!important;}

/*결제완료*/
.order_cmplt_info {margin-top:10px}
.order_cmplt_info > .h_title {font-size:20px;text-align:center}
.order_cmplt_info .order_number_wrap {font-size:15px;text-align:center;margin:15px 0;}
.order_cmplt_info .img_order_complete{margin: 10px 0 20px 0;text-align: center;}
.order_cmplt_info .img_order_complete img{width: 180px;}
.order_complete .package dd .clear > div > span:first-child{line-height: 25px;}

.order_complete .info_list{margin: -22px 0;}
.order_complete .info_list li{padding: 15px 0;line-height: 1.25em;}
.order_complete .info_list li > p{line-height: 1.5em;}
.order_complete .info_list li + li{border-top: 1px solid #ebebeb;}
.order_complete .panel.btns{margin-top: 10px;}
.order_complete .panel.btns .page_btns{margin-top: 0!important;}

.order_complete .freebies_result{width: 140px;margin: 0 auto;text-align: center;}
.order_complete .freebies .freebies_result .h_title.cont,
.order_complete .freebies .freebies_list .prd_name .h_title.cont{padding-bottom: 5px;font-size: 12px;text-align: center;font-weight: 500;}
.order_complete .freebies .freebies_list{overflow: hidden;margin-top: 15px;}
.order_complete .freebies .freebies_list li{float: left;width: 50%;}
.order_complete .freebies .freebies_list .item{padding: 0;border-bottom: 0;}
.order_complete .freebies .freebies_list .prd_name .name{text-align: center;color: #666;font-size: 12px;}


/*토글 썸네일텍스트*/
.ap_contents.order .ui_accordion>dl>dt .title{padding-right: 15px;}
.ap_contents.order .ui_accordion>dl>dt .thumbnail{font-weight: 400;color: #666;font-size: 13px;}
.ap_contents.order .ui_accordion>dl.delivery dt .thumbnail{overflow: hidden;width: 60%;white-space: nowrap;text-overflow: ellipsis;text-align: right;}

/* 주문/결제/배송 */
.ap_contents.cart {padding-bottom:59px}
.ap_contents .panel.none_pd {padding:0}
.cart_top_panel {display:table;width:100%;position:relative;padding:15px}
.cart_top_panel:before {content:'';width:25px;height:25px;border-radius:100%;border:1px solid #d2d2d2;background:#fff;position:absolute;bottom:9px;left:50%;z-index:13;margin-left:-13px;}
.cart_top_panel:after {content: '+';font-size:18px;color:#f54a7e;position:absolute;bottom:13px;left:50%;z-index:13;margin-left:-6px;}
.cart_top_panel a {display:table-cell;width:50%;text-align:center;}
.cart_top_panel a:nth-of-type(1) {padding-right:15px}
.cart_top_panel a:nth-of-type(2) {padding-left:10px}
.cart_top_panel .num {color:#f54a7e}

.cart_item_area{background:#f5f5f5;}
.cart_item_box .cart_table_cell {display:table-cell;vertical-align:middle;height:33px}
.cart_item_box_header .cart_table_cell {display:table-cell;vertical-align:middle;height:33px}

.cart_item_box {padding:0 15px 0;background:#fff;position:relative;border-bottom:1px solid #d2d2d2;}

.cart_item_box_header {padding:0 15px 0;background:#fff;position:relative;border-bottom:1px solid #d2d2d2}
.cart_item_box.type2 {padding-bottom:15px}/*
.cart_item_box + .cart_item_box {margin-top:0;border-top:5px solid #ebebeb} 0810 장바구니 수정 */
 .cart_item_box + .cart_item_box {margin-top:0;border-top:5px solid #ebebeb}
.cart_item_box:last-of-type {border-bottom:0;margin-bottom:-1px}
.cart_item_box .cart_item_scroll {/*overflow-x:hidden;overflow-y:auto;max-height:190px;*/width:100%;background:#f5f5f5;padding:0 15px;margin-top:15px} <!-- /* 20180717:수정 */ -->
.cart_item_box .cart_item_scroll .cart_item_info .cart_price{padding-top:3px;}
.cart_item_box .cart_item_scroll .cart_item_info .cart_price .num{font-size:15px;}
.cart_item_box .cart_item_scroll .cart_item_info:nth-of-type(1) {margin-top:-1px; border-top:none;}
.cart_item_box .cart_name_wrap {display:table;position:relative;color:#000;min-height:60px;padding-left:60px;padding-top:15px;width:100%}
.cart_item_box .thm_cart_item {position:absolute;top:10px;left:0; width:50px;height:50px;background: url('/mo/ko/images/common/img_loading_small.png') no-repeat 0 0; background-size:100% auto;} 
.cart_item_box .thm_cart_item img{background:#fff;}
.cart_item_box .cart_item_name {display:block;vertical-align:middle;line-height:16px;padding-right:30px}
.cart_item_box .cart_price {float:right;font-size:15px;margin-top:4px;text-align:right}
.cart_item_box_header .cart_price {float:right;font-size:15px;margin-top:4px;text-align:right}
.cart_item_box .cart_name_wrap .cart_price {float:none;display:block}
.cart_item_box .cart_name_wrap .cart_price .num,
.cart_item_box .cart_item_info .cart_price .num {font-size:20px}
.cart_item_box_header .cart_item_info .cart_price .num {font-size:20px}
.cart_item_box .cart_item_info .cart_price.point .right_num .num{font-size:15px !important;}
.cart_item_box del,
.cart_item_box_header del {font-size:14px !important;}
/*.cart_item_box .cart_item_info .cart_price.point .num {font-size:20px;}*/
.cart_item_box .strike * {text-decoration:line-through;font-size:15px !important;font-weight:400}
.cart_item_box .right_num {color:#999;}
.cart_item_box_header .right_num {color:#999;}
.cart_item_box .left_num {color:#000;}
.cart_item_box_header .left_num {color:#000;}
.cart_item_box .left_num del,
.cart_item_box_header .left_num del {font-size:15px !important;}
.cart_item_box .left_num del span,
.cart_item_box_header .left_num del span {font-size:15px}
.cart_item_box .btn_cart_item_del,
.cart_item_box_header .btn_cart_item_del,
.cart_item_box .btn_option_del {background:url(/mo/ko/images/common/btn_close.png) no-repeat 50% 50%;background-size:10px 10px;width:20px;height:20px;position:absolute;top:14px;right:0;padding:0;}
.cart_item_box .cart_item_opt {display:block;color:#999;padding-top:3px}
.cart_item_box .cart_item_exclusive_wrap {padding:0 0 8px 0;}
.cart_item_box .cart_item_exclusive_wrap:after {display:block;clear:both;content:'';}

.cart_item_exclusive {display:inline-block;border:1px solid #999;padding: 2px 10px;color:#999; text-align:center;border-radius:20px;font-size:12px;font-weight:400;}
.cart_item_box .cart_item_plus {display:inline-block; border:1px solid #f54a7e; padding:0 10px; color:#fff; text-align:center; border-radius:20px; font-size:12px; font-weight:400; background:#f54a7e;}
.cart_item_box_header .cart_item_plus {border:1px solid #f54a7e; background:#f54a7e;color:#fff;padding:0 10px}

.cart_item_box .cart_item_info {margin-top:0;padding:15px 0;position:relative;color:#000;}
.cart_item_box .cart_item_info:after {display:block;clear:both;content:'';}
.cart_item_box_header .cart_item_info {margin-top:0;padding:10px 0;position:relative;color:#000;}
.cart_item_box_header .cart_item_info:after {display:block;clear:both;content:'';}
.cart_item_box .cart_item_info.nospinner { padding:0 0 10px 0;}
.cart_item_box_header .cart_item_info.nospinner { padding:0 0 10px 0;}
.cart_item_box .cart_item_info .ui_spinner {vertical-align:top}
.cart_item_box_header .cart_item_info .ui_spinner {vertical-align:top}
.cart_item_box .cart_item_info .ui_spinner + .btn_option_change {margin-left:7px}
.cart_item_box .cart_item_info .num + span {vertical-align:inherit}
.cart_item_box .check_wrap {position:absolute;top:11px;left:0;z-index:5}
.cart_item_box .check_wrap label,
.cart_item_box_header .check_wrap label {font-size:0}
.cart_item_box .btn_option_del {position:absolute;top:7px;right:0;background-position:100% 50%;}
.cart_item_box .btn_option_change {height:32px;border:1px solid #b4b4b4;background:#fff;color:#666;vertical-align:top}
.cart_item_box .cart_option_name {display:block;margin-bottom:10px;}
.cart_item_box .cart_option_name_thm {width:35px;vertical-align:middle; margin-right:5px;}
.cart_item_box .cart_option_name_thm + span {vertical-align:middle}
.cart_item_box .text_sold_out {color:#f54a7e}
.cart_item_box .line {height:1px;background:#d2d2d2;margin:10px -15px}
.cart_item_box .cart_item_scroll .cart_item_info {border-top:1px solid #ebebeb}
.cart_item_box .cart_item_scroll.type2 .cart_item_info {padding-bottom:5px}
.cart_item_box .cart_item_scroll.type2 .thm_cart_item {top:0}
.cart_item_box .cart_item_scroll.type2 .cart_item_info {padding-left:60px}
.cart_item_box .cart_item_scroll.type2.pdl0 .cart_item_info {padding-left:0}
.cart_item_box .cart_item_scroll.type2 .prd_num,
.cart_item_box .cart_item_scroll.type3 .prd_num {position:absolute;top:50%;right:0;margin-top:-8px}
.cart_item_box .cart_item_scroll.type2 .cart_option_name {margin-bottom:5px}
.cart_item_box .cart_item_scroll.type2 .cart_option_name_sub {color:#999}
.cart_item_box .cart_item_scroll.type3 .cart_option_name {float:left;margin:0;padding-right:35px; overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical;word-wrap:break-word;}
.cart_item_box .cart_item_scroll.type3 .cart_item_info {margin-top:0}
.cart_item_box .cart_item_scroll.type3 .cart_item_info:nth-of-type(1) {margin-top:-1px; border-top:none;}
.cart_item_box .top_tit_wrap {border-bottom:1px solid #d2d2d2;margin:0 -15px;padding:15px;overflow:hidden} /* 20180724:장바구니수정*/
.cart_item_box .top_tit_wrap h3 {font-size:15px;color:#000; line-height:20px;}
.cart_item_box .top_tit_wrap p{float:left}
.cart_item_box .top_tit_wrap p.typ2,
.cart_item_box .top_tit_wrap p.typ2 * {color:#37c3cd !important;}
.cart_item_box .top_tit_wrap p.typ3,
.cart_item_box .top_tit_wrap p.typ3 * {color:#999 !important;}
.cart_item_box .top_tit_wrap .cart_price {margin-top:10px; float:none; display:inline-block;}
.cart_item_box .top_tit_wrap .cart_price .num{font-size:20px;}
.cart_item_box .top_tit_wrap .cart_price.point .num{font-size:15px;}
.cart_item_box .top_tit_wrap.order_type {border-bottom:none;margin:0 -15px;padding:0 15px 15px 15px;overflow:hidden}
.cart_item_box .top_tit_wrap.order_type .price{padding-top: 8px;}
.cart_item_box .top_tit_wrap.order_type .price strong{color: #000;font-size: 15px;}
.cart_item_box .top_tit_wrap.order_type .price .own{color: #999;font-size: 15px;}
.cart_item_box .top_tit_wrap.order_type .price .own em{color: #999;font-size: 13px;}
.cart_item_box .top_tit_wrap.order_type .price em{color: #000;font-size: 13px;font-weight: 500;}
.cart_item_box .top_tit_wrap.order_type .price .quantity{color: #000;font-weight: 500;}

.cart_item_box .cart_name_wrap.order_type {position: relative;display: table;width: 100%;padding:15px 0 0 0;table-layout: fixed}
.cart_item_box .cart_name_wrap.order_type  .thumb,
.cart_item_box .cart_name_wrap.order_type  .info{display:table-cell; color:#000; vertical-align:middle;}
.cart_item_box .cart_name_wrap.order_type .thumb{width: 60px;vertical-align: top;}
.cart_item_box .cart_name_wrap.order_type .thumb img{width: 50px;}


.cart_item_box .top_tit_wrap>div {overflow:hidden}
.cart_item_box_wrap {border-bottom:1px solid #d2d2d2;}
.cart_item_box_wrap:last-of-type {border-bottom:0}
.cart_item_box.typ2 {border-bottom:0}
/* .cart_item_box_wrap + .cart_item_box {margin-top:0;border-top:5px solid #ebebeb;}0810 장바구니 수정 */
 .cart_item_box_wrap + .cart_item_box {margin-top:0;border-top:5px solid #ebebeb;} 
.cart_item_box .cart_item_name .check_wrap {position:static;}

.cart_item_box_wrap .cart_table_cell2 {display:table-cell;vertical-align:middle;height:33px}
.cart_item_box_wrap .top_tit_wrap2{margin:0 -15px; padding:15px 15px 0 15px;}
.cart_item_box_wrap .top_tit_wrap2 .cart_name_wrap2{position:relative;}
.cart_item_box_wrap .top_tit_wrap2 .cart_name_wrap2 .check_wrap {position:absolute;top:50%;left:0; margin-top:-10px; z-index:5}
.cart_item_box_wrap .top_tit_wrap2 .cart_table_cell {padding-left:30px;}
.cart_item_box_wrap .top_tit_wrap2 .cart_table_cell h3{font-size:15px; color:#000;}
.cart_item_box_wrap .text_notice_wrap{position:absolute; bottom:8px; width:100%;background:#fff;}
.cart_item_box_wrap .text_notice_wrap .text_notice{position:relative; padding:3px 10px 0px 30px;}
.cart_item_box_wrap .text_notice_wrap .text_notice:before{left:15px; top:8px;}


.cart_item_box .freebies{padding: 10px 0; border-top:1px dotted #ebebeb;}
.cart_item_box .freebies div:first-child{width: 75px;padding-left: 15px;background: url('/mo/ko/images/my/icon_sub_01.png') 0 50% no-repeat;-webkit-background-size: 8px;background-size: 8px;vertical-align: top;}
.cart_item_box .freebies div img{width: 50px;}
.cart_item_box .freebies div:last-child > * + *{margin-top: 8px;}
.cart_item_info > .freebies{padding:0;}

.cart_free_gift {width:100%; border-top:1px dotted #ebebeb;display:table;padding:5px 0}
.cart_free_gift .thm {display:table-cell;width:50px;height:50px;vertical-align:middle}
.cart_free_gift .info {display:table-cell;height:50px;vertical-align:middle;padding-left:10px}
.cart_free_gift .info>* {display:block}
.cart_free_gift .info>span:nth-of-type(2) {margin-top:5px}
.cart_item_info .cart_free_gift {border:0}
/*.cart_item_box .cart_item_scroll.typ2 {max-height:276px}*/


.take_out_store {background:#fff;padding:15px;border-bottom:1px solid #d2d2d2;}
.take_out_store + .cart_item_box_wrap .cart_item_box:nth-of-type(1) {border-top:5px solid #ebebeb;}

.cont.online .cart_item_box_wrap .cart_item_box:nth-of-type(1),
.cont.online .cart_item_box_wrap .cart_item_box_header:nth-of-type(1) {border-top:5px solid #ebebeb;}
.cont.online > div > div:first-child {border-top:none !important;}
.cont.takeout .cart_item_box_wrap .cart_item_box:nth-of-type(1) {border-top:5px solid #ebebeb;}

.take_out_top_wrap:after {display:block;clear:both;content:'';}
.take_out_store_name {float:left;font-size:15px;line-height:23px}
.take_out_store_name strong {color:#333}
.take_out_store_name span {color:#f54a7e}
.take_out_store_name span.instock{color:#37c3cd;}
.btn_take_store_change {float:right;border-radius:20px;background:#000;color:#fff;text-align:center;padding:0 15px;line-height:25px;text-align:center;border-radius:20px;font-size:12px;font-weight:500;height:25px}
.btn_seller_info {width:100%;padding:10px 0;border:1px solid #ddd;background-color:#f5f5f5;margin-top:13px}
.btn_seller_info .icon_arr {display:inline-block;background:url(/mo/ko/images/common/arr_onoff.png) no-repeat 0 0;background-size:10px;width:10px;height:7px; margin:-0 0 2px 5px;}
.btn_seller_info.on {border-bottom-color:#f5f5f5}
.btn_seller_info.on .icon_arr {background-position:0 -6px}
.seller_info_wrap {display:none;background:#f5f5f5;border:1px solid #ddd;border-top-color:#f5f5f5}
.btn_seller_info.on + .seller_info_wrap {display:block}
.seller_info_wrap {padding:10px 10px 5px}
.seller_info_wrap dl {display:block;overflow:hidden;}
.seller_info_wrap dl dt,
.seller_info_wrap dl dd {display:block;float:left; padding-bottom:5px;}
.seller_info_wrap dl dt {width:40%;color:#999;}
.seller_info_wrap dl dd {width:60%;color:#666;}
.take_out_bottom_wrap {margin-top:15px}
.take_out_favorite {color:#000;}
.take_out_favorite:before {content:'';display:inline-block;width:15px;height:15px;background:url(/mo/ko/images/common/bg_rating.png) no-repeat 0 100%;background-size:100%;vertical-align:middle;margin-right:5px}
.take_out_scroll {overflow-x:auto;white-space:nowrap;margin-top:10px;margin-right:-15px;}
.take_out_scroll li {display:inline-block;border:1px solid #b4b4b4;padding:10px 10px}
.take_out_scroll li + li {margin-left:8px}
.take_out_scroll li:last-child {margin-right:10px}
.take_out_scroll li span {color:#f54a7e;}
.take_out_scroll li span.instock{color:#37c3cd;}
.take_out_scroll.empty {text-align:center;padding:15px}
.take_out_scroll.empty .text_notice {display:inline-block;margin-left:-15px}

.cart_item_box_wrap {background:#f5f5f5;}
.cart_item_box_wrap.group .top_tit_wrap{border-bottom:none !important;}
.cart_item_box_wrap.type2 {position:relative; background:#fff; padding-bottom:20px;}
.cart_item_box_wrap.type3 {position:relative; background:#fff; padding-bottom:15px;}
.order_item_check .cart_item_box_wrap.type4 {position:relative; border-top: 5px solid #ebebeb;}
.order_item_check .cart_item_box_wrap.type4 .cart_item_box:first-child {padding:15px 15px 0 15px;}
.cart_item_box_wrap.type2 .cart_item_box + .cart_item_box,
.cart_item_box_wrap.type3 .cart_item_box + .cart_item_box {margin-top:0;border-top: 15px solid #ebebeb;}
.cart_item_box_wrap.type2.group .cart_item_box + .cart_item_box, 
.cart_item_box_wrap.type3.group .cart_item_box + .cart_item_box {border-top:0;}

.cart_item_box_wrap.type3.group .cart_item_box.ico_plus > .cart_item_scroll{margin-bottom:20px;} 
.cart_item_box_wrap.type4 .cart_item_box + .cart_item_box {margin-top:0; border-top:0; padding-top:0;}
/* .cart_item_box_wrap {background:#f5f5f5}
.cart_item_box_wrap.type2 {position:relative}
.cart_item_box_wrap.type2 .cart_item_box + .cart_item_box {margin-top:0;border-top: 15px solid #ebebeb;}
.cart_item_box_wrap.type2.group .cart_item_box + .cart_item_box {border-top:0;} 0810 장바구니 수정 */

/* .cart_item_box_wrap .cart_item_box.ico_plus:before {content:'';width:25px;height:25px;position:absolute;bottom:-12px;left:50%;z-index:13;margin-left:-13px} */
.cart_item_box_wrap .cart_item_box.ico_plus:before {content:'+';font-size:18px; width:25px;height:25px; padding-top:2px;text-align:center; color:#f54a7e; border-radius:100%;border:1px solid #d2d2d2;background:#fff; position:absolute;top:-14px;left:50%;z-index:13;margin-left:-15px}
.cart_item_box_wrap .cart_item_box:last-of-type {margin-bottom:0}

.ap_contents.cart .ui_accordion>dl {margin-top:10px;border-bottom:1px solid #ddd}
.ap_contents.cart .ui_accordion>dl>dd .cont {padding:0}
.ap_contents.cart .ui_accordion dl>dt {overflow:visible}
.ap_contents.cart .ui_accordion dl>dt * {vertical-align:middle}
.ap_contents.cart .ui_accordion .title label {padding-left:27px}
.ap_contents.cart .ui_accordion .title strong {vertical-align:baseline;color:#f54a7e}
.ap_contents.cart .ui_accordion dl>dd:not(.layer_tooltip dd) {background:#f5f5f5}
.ap_contents.cart .ui_accordion>dl>dt .title {white-space:initial}

.ap_contents.cart .ui_accordion>dl.freebies dd.panel {padding-top:15px;}
.ot_plus_wrap {background:#fff;padding:15px;border-bottom:1px solid #d2d2d2}
.ot_plus_wrap .one_plus_tit_top {margin-bottom:5px}
.ot_plus_wrap .one_plus_tit_top:after {display:block;clear:both;content:'';}
.ot_plus_wrap .one_plus_tit_top span {color:#f54a7e}
.ot_plus_wrap .one_plus_tit_bottom {color:#000}
.ot_plus_wrap .one_plus_tit_top.cancel {text-decoration:line-through}
.ot_plus_wrap .one_plus_tit_top.cancel * {color:#666}
.ot_plus_wrap .cart_price {display:block;float:right}
.ot_plus_wrap .cart_price .left_num * {color:#000}
.ot_plus_wrap .cart_price .right_num * {color:#999}
.ot_plus_wrap .cart_price .right_num.strike {text-decoration:line-through}
.ot_plus_wrap .cart_price del,
.ot_plus_wrap .cart_price del span {font-size:14px !important;color:#999 !important;}
.ot_plus_wrap .cart_price .num {font-size:20px;color:#000}
.ot_plus_wrap .cart_price .num + span {color:#000}
.ot_plus_wrap .one_plus_tit_top span {color:#999}
.cart_item_plus {float:right}
.cart_item_gift {color:#999;border-top:1px solid #ebebeb;padding-top:7px}
.cart_item_gift * {vertical-align:middle}
.cart_item_gift .gift_name {display:inline-block;width:calc(100% - 35px)}
.cart_item_gift .num {display:inline-block;}

.order_price_wrap {background-color:#2f2f2f;padding:10px 15px;display:table;width:100%;height:60px;position:fixed;bottom:0;left:0;z-index:14}
.order_price_wrap .price_total_wrap {display:table-cell;width:50%;vertical-align:middle;color:#fff;font-size:15px;white-space:nowrap;text-align:left;font-weight:300}
.order_price_wrap .btn_price_total {display:table-cell;width:50%;text-align:right;padding:0}
.order_price_wrap .btn_price_total button {display:inline-block;background:#f54a7e;padding:13px 35px;color:#fff}
.order_price_wrap .price_total_wrap .vline {display:inline-block;background:#fff;width:1px;height:12px;margin:0 4px}

.ui_tooltip.take_out {margin-left:5px;margin-top:-3px}
.ui_tooltip.take_out .btn_tooltip {background: url(/mo/ko/images/common/ico_question_2.png) no-repeat;background-size:100%;width:13px;padding:13px 0 0 0 !important; height:0;}
.cart_top_link {display:inline-block;background:url(/mo/ko/images/common/arr_right3.png) no-repeat 100% 50%;padding-right:10px;margin-top:4px}
.ap_contents.cart .check_wrap>label b {position:relative;top:-3px}
.cart_slt_wrap:after {display:block;clear:both;content:'';}
.cart_slt_wrap {padding-top:10px;padding-right:15px; margin-bottom:30px;}
.cart_slt_wrap .btn_cart_slt {display:block;float:right;height:25px;background:#999;color:#fff;text-align:center;padding:0 15px}

.cart_result_wrap {background:#fff;color:#333;padding:0 16px;margin-top:20px}
.cart_result_wrap:after {display:block;clear:both;content:'';}
.cart_result_wrap .cart_rst_item:after {display:block;clear:both;content:'';}
.cart_result_wrap .cart_rst_item {padding:15px 0}
.cart_result_wrap .cart_rst_item:not(:first-child) {border-top:1px solid #ebebeb}
/* .cart_result_wrap .cart_rst_item:nth-of-type(2) {border-top:1px solid #fdfdfd} */ <!-- /* 20180717:수정 */ -->
.cart_result_wrap .cart_rst_num {display:block;float:right}
.cart_result_wrap .cart_rst_num *:not(.text_rst_unit) {font-size:15px}
.cart_result_wrap .text_rst_item {display:block;float:left;font-size:14px;}
.cart_result_wrap .cart_rst_item:nth-of-type(2) {font-size:15px} <!-- /* 20180717:수정 */ -->
.cart_result_wrap .cart_rst_item:nth-of-type(2) .num {font-size:20px;color:#f54a7e} <!-- /* 20180717:수정 */ -->
.ap_contents.cart .ui_tooltip .layer_tooltip {z-index:21}
.ap_contents.cart .ui_tooltip>.arr {z-index:22;margin-left:0}
.ap_contents.r_shipping .input_date_group .ui_date_picker {border:1px solid #d2d2d2;height:50px}
.ap_contents.r_shipping .input_date_group .btn_cal {height:50px}
.r_shipping .info_box {margin:15px 0 10px;padding:10px;background:#f5f5f5;border:1px solid #ddd;}
.r_shipping .info_box .h_title {margin-top:10px}
.r_shipping .info_box ul {margin:10px 0}
.r_shipping .check_wrap.autopay + .h_title {margin-top:15px}
.r_shipping .list.autopay {margin-top:15px}
.r_shipping .list.autopay li {margin-top:10px;background:url(/mo/ko/images/common/arr_right1.png) no-repeat 100% 50%;background-size:7px 11px}
.r_shipping .btn_shipping_ok {margin-top:30px}

.card_reg .btns_card_reg_wrap {margin-top:30px}
.card_reg .btns_card_reg_wrap:after {display:block;clear:both;content:'';}
.card_reg .btns_card_reg_wrap button {float:left;width:calc((100% - 10px) / 2);}
.card_reg .btns_card_reg_wrap button + button {margin-left:10px}
.card_reg .card_info_box {background:#f5f5f5;border-radius:5px;padding:30px 15px 22px}
.card_reg .card_info_box:after {display:block;clear:both;content:'';}
.card_reg .card_info_box .card_input_text {
	width:78px;padding:3px;text-align:center;margin-right:5px;color:#000;vertical-align:middle;margin-top:-4px;border:1px solid #d2d2d2;
	-webkit-border-radius:0; -webkit-appearance:none;
}
.card_info_box dl>dt,
.card_info_box dl>dd {display:block;float:left;margin-bottom:10px;line-height:1.5em;}
.card_info_box dl>dt {width:30%;color:#999}
.card_info_box dl dd {width:70%;color:#666}
.card_info_box .max_money {color:#999;font-size:15px;display:inline-block;vertical-align:middle;margin-top:-4px;}
.card_reg_basic .line_h b {line-height:16px}
/* 주문/결제/배송 */

/*장바구니*/
/*.cart_item_box .cart_item_info .cart_price .num{font-size: 20px;}
/*.cart_item_box .cart_item_info .cart_price strong.num,
.cart_item_box .cart_item_info .cart_price strong.num + span {color:#000}*/
.cart_item_box .cart_item_info .cart_price .num + span{font-size: 13px;}
.cart_item_scroll .cart_item_info .cart_price .text_sold_out{font-size: 14px;}
/*.cart_item_box .cart_item_info .cart_price.point .left_num * {color:#999}
/*.cart_item_box .left_num strong,
.cart_item_box .left_num strong + span {font-size:14px !important;color:#999 !important;}*/
