@charset "UTF-8";

/* reset */
*,
*:before,
*:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html,body,div,span,iframe,object,embed,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,a,abbr,address,b,bdo,blockquote,cite,code,del,dfn,p,pre,em,i,ins,kbd,q,s,samp,strong,sub,sup,u,var,img,map,area,form,fieldset,legend,input,textarea,select,button,label,keygen,table,caption,thead,tbody,tfoot,tr,th,td,article,aside,audio,bdi,canvas,datalist,details,dialog,figcaption,figure,footer,header,main,mark,menu,meter,nav,output,progress,section,rp,rt,ruby,summary,time,video,wbr{margin:0;padding:0;}
html, body{width:100%; height:100%;  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-overflow-scrolling: touch}
body{font:13px/1 'Noto Sans Korean'; color:#666; font-weight:400;letter-spacing:-0.25px; word-break:keep-all;}
h1,h2,h3,h4,h5,pre,input,button,select,textarea{font:inherit;}
input,button,select,textarea{color:inherit; vertical-align: middle;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	﻿-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
	-webkit-text-fill-color: #000 !important;
}
a{color:inherit; text-decoration:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display:block;}
input, select, label, img, button{vertical-align:middle;}
table{border-collapse:collapse; border-spacing:0;}
img{border:0; width:100%;}
fieldset{border:0;}
ul{list-style:none;}
ol{margin-left:30px;}
a *,button,label{cursor:pointer;}
button{background:transparent; border:0;}
@media print {
    body {-webkit-print-color-adjust: exact;}
}
/* outline */
.input_group *:focus,
textarea:focus{outline:0;}
/* common */
pre, .pre{line-height: 1.5em; white-space:pre-wrap; white-space: -moz-pre-wrap;}
hr.div{height:1px; background:#ddd; border:0;}
hr.div.m40{margin:40px 0;}
hr.div.m30{margin:30px 0;}
hr.div.m25{margin:25px 0;}
hr.div.m20{margin:20px 0;}
hr.div.m15{margin:15px 0;}
hr.div.mt20{margin:20px 0 0;}
hr.div.mb20{margin:20px 0 0;}
hr.div.mrl15{margin:0 15px;}
.block {display:block}
/* background */
.bg_white{background:#fff;}

/* blind */
.sr_only{overflow:hidden; width:0 !important; height:0 !important; padding:0 !important; margin:0 !important; font-size:0 !important; line-height:0 !important;}
.sr_only:not(caption){position:absolute; z-index:-1; display:inline-block;}
.blind{position:absolute; top:0; left:-1000px; width:0; height:0; font-size:0; line-height:0}
/* disabled */
*:disabled,[class*="disabled"]{cursor: not-allowed !important;}
/* align : float, clear */
.clear{clear:both;}
.clear:after{content:''; display: block; clear:both;}
.float_right,
.clear>*{float:right;}
.float_left,
.clear>*:first-child{float:left;}
/* align: text */
.text_left, .align_left{text-align:left !important;}
.text_center, .align_center{text-align:center !important;}
.text_right, .align_right{text-align:right !important;}
/* work break */
.break-all {word-break:break-all !important;}

/* 제목 & text 스타일 */
[class^="text"]{line-height: 1.5em;}
.h_title{color:#333;}
.h_title.page{font-size:24px; font-weight:300;line-height: 1.125em;}
.h_title.sub{font-size:17px;}
.h_title.cont{font-size:15px;}
.h_title.page + *{margin-top:15px;}
.h_title.border{padding-bottom: 10px;border-bottom: 1px solid #d2d2d2;}

/* text color line-height */
b{color:#000; font-weight:500;}
strong{font-weight:700;}
em{font-style:normal; color:#f54a7e;}
small{font-size: 12px; color:#999;}
.color_light_pink{color:#f7a1ba;}
.color_light_gray{color:#999!important;}
.color_dark_gray{color:#333;}
.color_gray{color:#666;}
.color_gray2{color:#999;}
.color_light_gray2{color:#f5f5f5}
.bg_light_gray2{background-color:#f5f5f5}
.bdr_box {border:1px solid #d2d2d2}

/* font-size */
.font_xs{font-size:11px;}
.font_sm{font-size:12px;}
.font_df{font-size:13px!important;}
.font_md{font-size:14px;}
.font_lg{font-size:15px;}
.font_xl{font-size:18px!important;}

/* text etc */
.ellipsis{overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.link span{text-decoration: underline;}
.eng, .num{font-family: Arial;}
.text_notice,
.text_warning{position:relative; padding-left:15px; font-size:12px; color:#666;}
.text_notice:before,
.text_warning:before{content:''; position:absolute; top:5px; left:0; width:10px; height:10px; margin-right:5px; background:url(/mo/ko/images/common/ico.png) no-repeat 100% 0; background-size:100px;}
.text_warning{color:#f54a7e;}
.text_warning:before{background-position:100% -10px;}
.lh{line-height:1.5;}
.lh2{line-height:1.375em;}
.vat{vertical-align: top!important;}

/* width(%) */
.w05p{width:5% !important;}
.w10p{width:10% !important;}
.w15p{width:15% !important;}
.w20p{width:20% !important;}
.w25p{width:25% !important;}
.w30p{width:30% !important;}
.w35p{width:35% !important;}
.w40p{width:40% !important;}
.w45p{width:45% !important;}
.w50p{width:50% !important;}
.w55p{width:55% !important;}
.w60p{width:60% !important;}
.w65p{width:65% !important;}
.w70p{width:70% !important;}
.w75p{width:75% !important;}
.w80p{width:80% !important;}
.w85p{width:85% !important;}
.w90p{width:90% !important;}
.w95p{width:95% !important;}
.w100p{width:100% !important;}

/* margin padding */
.mgt0{margin-top:0 !important;}
.mgt5{margin-top:5px !important;}
.mgt7{margin-top:7px !important;}
.mgt10{margin-top:10px !important;}
.mgt15{margin-top:15px !important;}
.mgt20{margin-top:20px !important;}
.mgt25{margin-top:25px !important;}
.mgt30{margin-top:30px !important;}
.mgt35{margin-top:35px !important;}
.mgt40{margin-top:40px !important;}
.mgt50{margin-top:50px !important;}
.mgb10{margin-bottom:10px !important;}
.mgb15{margin-bottom:15px !important;}
.mgb20{margin-bottom:20px !important;}
.mgb25{margin-bottom:25px !important;}
.mgb30{margin-bottom:30px !important;}
.mgb40{margin-bottom:40px !important;}
.mgb50{margin-bottom:50px !important;}
.pdt10{padding-top:10px !important;}
.pdt15{padding-top:10px !important;}
.pdt20{padding-top:20px !important;}
.pdt30{padding-top:30px !important;}
.pdt40{padding-top:40px !important;}
.pdt50{padding-top:50px !important;}
.pdb0{padding-bottom:0 !important;}
.pdb10{padding-bottom:10px !important;}
.pdb15{padding-bottom:15px !important;}
.pdb20{padding-bottom:20px !important;}
.pdb30{padding-bottom:30px !important;}
.pdb40{padding-bottom:40px !important;}
.pdB50{padding-bottom:50px !important;}
.pdr0{padding-right:0 !important;}
.pdr15{padding-right:15px !important;}
.pdl15{padding-left:15px !important;}
.pd0{padding:0 !important;}
.pd10{padding:10px !important;}
.pd15{padding:15px !important;}

/* button */
[class^="btn_"]{overflow:hidden; display:inline-block; padding:0 10px; vertical-align: middle; text-align: center; font-weight:500;}
[class^="btn_"]:not(button):before{content:''; display: inline-block; width:0; height:105%; vertical-align: middle;}
[class^="btn_"].w100p + [class^="btn_"].w100p{margin-top:10px;}
/* button : size */
[class^="btn_"][class*="_lg"]{font-size:15px; height:50px;}
[class^="btn_"][class*="_md"]{font-size:13px; height:40px;}
[class^="btn_"][class*="_sm"]{overflow:hidden; font-size:12px; height:20px; font-weight:normal;}
/* button : style */
[class^="btn_"][class*="_primary"]{color:#fff; background:#f54a7e;}
[class^="btn_"][class*="_secondary"]{color:#fff; background:#999;}
[class^="btn_"][class*="_form"]{color:#fff; background:#666;}
[class^="btn_"][class*="_neutral"]{color:#fff; background:#333;}
[class^="btn_"][class*="_bordered"]{background:#fff; border:1px solid #333; color:#333;}
/* button : disabled */
[class^="btn_"]:disabled,
[class^="btn_"]:disabled:hover,
[class^="btn_"].disabled,
[class^="btn_"].disabled:hover{color:#fff; background-color:#d9d9d9; border-color:#d9d9d9;}
/* button : etc */
.link>*,
[class^="btn_"]>*{display:inline-block; vertical-align: middle;}
.link>* + *,
[class^="btn_"]>* + *{margin-left:5px;}
.btn_more{font-size:12px; padding:0;}
.btn_more .ico_arr{margin-top:2px; width:1em; height:1em; background-position:0 -35px;}

[class*="_btns"]>*{width:calc((100% - 10px) /2);}
[class*="_btns"]>*:only-child{width:100%;}
[class*="_btns"]>* + *{margin-left:7px;}
.page_btns{margin-top:25px; text-align:center;}
.form_btns{margin-top:25px !important; text-align:center;}
/* form : input */
.form{min-width:0;}
.form + .form_title{margin-top:30px;}
.form_title{padding-bottom:20px; font-size:16px;font-weight:700; color:#333; word-break:keep-all;}
.form span{vertical-align: middle;}
.form .ui_table{}
.form .ui_table>dl {}
.form .ui_table>dl + dl{margin-top:15px;}
.form .ui_table>dl>dt{width:18%;}
.form .ui_table>dl>dd>*{float:left;}
.form .ui_table>dl>dd>* + *{margin-left:10px;}
.form .ui_table>dl>dt,
.form .ui_table>dl>dd{vertical-align:middle;}
.form .ui_table>dl>dd .check_wrap{margin-top:10px; min-width:100px;}
.form .ui_table>dl>dd * + p{margin-top:10px;}
.form .ui_table [class^="btn_"] {margin-top:10px;}
.form>*:not(legend) ~ *,
.form .dl>dl + dl{margin-top:20px;}
.form .dl dt{padding-bottom:15px; font-size:14px; font-weight:500;}
.form .dl dt.div{border-bottom:1px solid #ebebeb; margin-bottom:15px;}
.form .ui_table .check_group {margin-top:20px;}
.form .ui_table .check_group .check_wrap ~ .check_wrap {margin-top:0;}
.form .ui_table .check_group .check_wrap input[type="radio"] + label {font-weight:400;}
.form .ui_table .sms_wrap {margin-top:10px;}
.form .ui_table + [class^="list"]{margin-top:17px;}
.form .ui_table + [class^="list"] ~ [class^="list"] {margin-top:21px;}

/* old style */
.input_wrap{position:relative;}
.input_wrap>input{position:relative; z-index:1; width:100%; height:40px; padding:0 10px; border:1px solid #999;color:#333; -webkit-appearance: none; -webkit-border-radius: 0;}
.input_wrap>input:disabled{background-color:#d9d9d9; border-color:#d9d9d9; color:#fff;}
.input_wrap>.btn_search,
.input_group .btn_search{position:absolute; top:50%; right:1px; z-index: 2; width:38px; height:38px; margin-top:-19px; background:url(/mo/ko/images/common/bg_searchBox.gif) no-repeat 100% 0;}
.input_wrap>.btn_search + input,
.input_group .btn_search + input{padding-right:38px;}
.input_wrap>.btn_search.location {background:url(/mo/ko/images/common/bg_location.gif) no-repeat 100% 0;}
.input_wrap.error input,
.input_wrap.error input:hover{border-color:#f00}
span.input_wrap{display:inline-block;}
.input_wrap .count{position:absolute; top:50%; right:11px; z-index:1; margin-top:-6px;font-size:12px;}
.input_wrap input[type="date"],
.input_wrap input[type="date"]:hover{background:url(/mo/ko/images/common/bg_select_off.gif) no-repeat 100% 50%; -webkit-appearance: none;}
/* form : textarea */
.textarea{height:100px;}
.textarea textarea{width:100%; height:100%; padding:1em; border:1px solid #d2d2d2; border-radius:2px; color:#999; vertical-align: top;-webkit-appearance: none; resize: none;}
.textarea textarea:focus{border-color:#333;}
.textarea textarea:disabled{background:#d9d9d9; border-color:#d9d9d9; color:#fff;}
.textarea textarea.error{border-color:#f00}
/* form : radio, checkbox */
.check_wrap{position:relative;}
span.check_wrap{display:inline-block; vertical-align: middle;}
.check_wrap>input{position:absolute; top:0; left:0; z-index: -1; visibility:hidden;}
.check_wrap>label{position:relative;display:inline-block; min-height:22px; padding-left:30px; line-height:22px;}
.check_wrap>label:before{content:''; position:absolute;top:0;left:0; width:22px; height:22px; background:url(/mo/ko/images/common/bg_check.png) no-repeat; background-size:44px;}
.check_wrap>input:checked + label:before{background-position:0 -22px;}
.check_wrap>input:disabled + label:before{background-position:0 -44px;}
.check_wrap>input:checked:disabled + label:before{background-position:0 -66px;}
.check_wrap>input[type="checkbox"] + label:before{background-position:100% 0;}
.check_wrap>input[type="checkbox"]:checked + label:before{background-position:100% -22px;}
.check_wrap>input[type="checkbox"]:disabled + label:before{background-position:100% -44px;}
.check_wrap>input[type="checkbox"]:checked:disabled + label:before{background-position:100% -66px;}
.check_wrap.large>label{padding-left:40px; line-height:30px; font-size:15px;}
.check_wrap.large>label:before{width:30px; height:30px; background:url(/mo/ko/images/common/bg_check.png) no-repeat; background-size:60px;}
.check_wrap.large>input:checked + label:before{background-position:0 -30px;}
.check_wrap.large>input:disabled + label:before{background-position:0 -60px;}
.check_wrap.large>input:checked:disabled + label:before{background-position:0 -90px;}
.check_wrap.large>input[type="checkbox"] + label:before{background-position:100% 0;}
.check_wrap.large>input[type="checkbox"]:checked + label:before{background-position:100% -30px;}
.check_wrap.large>input[type="checkbox"]:disabled + label:before{background-position:100% -60px;}
.check_wrap.large>input[type="checkbox"]:checked:disabled + label:before{background-position:100% -90px;}
.check_wrap.check_only label{overflow:hidden; padding:26px 0 0 26px;}
.check_wrap input:disabled + label{cursor:not-allowed !important}
.check_wrap.switch {width:auto;}
.check_wrap.switch>label {padding-left: 0;padding-right:0;color:#999;}
.check_wrap.switch>label:before {content: '';background:#ebebeb;width:40px;height:24px;position:absolute;top:0;left:auto;right:-49px;border-radius:20px;}
.check_wrap.switch>label:after {content: '';position:absolute;right:-33px;top:1px;width:22px;height:22px;background:#fff;transition:.1s ease-in;border-radius:100%;}
.check_wrap.switch>input:checked + label:before {background-color:#f54a7e;}
.check_wrap.switch>input:checked + label:after {background:#fff;right:-16px;}
.check_wrap.label_only label{padding-left:0;}
.check_wrap.label_only label:before{display:none;}
.form .check_wrap{padding-right:30px; min-width:100px;}

/* form set */
.input_group{position:relative; display:table; width:100%; table-layout:fixed; border:1px solid #d2d2d2;}
.input_group.focus{z-index:2; border-color:#333;}
.input_group.error{z-index:1; border-color:#f54a7e;}
.input_group.half_left{width:50.5%;}
.input_group.half_right{position:absolute; right:0; top:50px;}
.input_group .absolute_txt {font-size:13px;position:absolute;top:17px;right:15px;color:#666;}
.input_group>*{display:table-cell !important; vertical-align:middle;}
.input_group + .input_group,
.address_list + .input_group{margin-top:-1px;}
.input_group>span.gap{width:10px; text-align: center; color:#ccc; font-size:11px;}
.input_group>div{position:relative;}
.input_group select,
.input_group input,
.input_group label,
.input_group .ele{display:block; width:100%; height:48px; padding:0 10px; border:0;background-color: #fff;} /* 20180713:ios인풋박스수정 */
.input_group input:disabled{background:transparent;}
.input_group .unit{position:absolute; top:50%; right:10px; margin-top:-0.5em;}
.input_group select {padding:0 30px 0 10px; background-color:#fff; background-image:url(/mo/ko/images/common/bg_select.png); background-size:48px; background-position:100% 0; background-repeat:no-repeat; color:#999;-webkit-appearance:none; border-radius:0;}
.input_group select:disabled {background-position:100% 100%;}
.input_group input[type="file"]{position:absolute; z-index: -1; top:0; right:0; visibility:hidden;}
.input_group .label{width:20%; line-height:48px;} /* 20180713:ios인풋박스수정 */
.input_group .btn{width:90px;background-color: #fff;}
.input_group .btn>button,
.input_group .btn>label,
.input_group .btn>a{width:calc(100% - 10px); height:25px; margin-right:10px; line-height:25px; background:#333; color:#fff; text-align:center; border-radius:20px; font-size:12px; font-weight:500;}
.input_group .btn [class^="btn_"]{min-width: inherit;}
.input_group .btn select{height:28px; margin:10px 0; border-left:1px solid #d2d2d2; line-height:28px; background-position:100% -10px;}
.input_group textarea{width:100%; height:100%; padding:15px 10px; border:0;}
.input_group .textarea + p{padding:0 10px 5px 0;}
.input_group .div{border-left:1px solid #d2d2d2;}
.input_del{display:none; position:absolute; top:50%; right:10px; margin-top:-7px; z-index: 1; width:14px; height:14px; background:url(/mo/ko/images/common/btn_close.png) no-repeat;}
.btn_search + .input_del{right:38px;}
/* layer form */
.layer_popup:not(.fullpage) .input_group select,
.layer_popup:not(.fullpage) .input_group input,
.layer_popup:not(.fullpage) .input_group label,
.layer_popup:not(.fullpage) .input_group .ele{height:38px; line-height:38px;}
.layer_popup:not(.fullpage) .input_group select{background-size:38px;}

/* input + button group */
.input_btn_wrap{position:relative;}
.input_btn_wrap:after{content:''; display:block; clear:both;}
.input_btn_wrap>*{float:left;}
.input_btn_wrap>* + *{float:right;}
.input_btn_wrap>.input_wrap,
.input_btn_wrap>.select_wrap{width:calc(100% - 110px);}
.input_btn_wrap [class^="btn_"]{width:100px; margin:0 !important;}
.input_btn_wrap input[type="file"]{position:absolute; z-index: -1; top:0; right:0; width:120px;}
.input_btn_wrap input[type="file"]:focus + label{outline: 1px dotted #000}
.input_btn_wrap.validate_error .input_wrap input{border-color:#f00;}
.input_btn_wrap .input_wrap .input_file_name{background:#fff; color:#000;}

/* form button group */
.form_btns:after {display:block;clear:both;content:'';}
.form_btns [class^="btn_"] {float:left; width:calc( (100% - 10px) / 2);}
.form_btns [class^="btn_"] + [class^="btn_"] {margin-left:10px;}
.form_btns > *:only-child{width:100%;}

/* ico */
[class^="ico_"]{display:inline-block; vertical-align: middle; background:url(/mo/ko/images/common/ico.png) no-repeat; background-size:100px;}
[class^="ico_"][class*="_date"]{width:20px; height:20px; background:url(/mo/ko/images/common/ico_calendar.png) no-repeat;background-size:100%;}
[class^="ico_"][class*="_camera"]{width:21px; height:16px; background-position: -25px -90px;}
[class^="ico_"][class*="_play"]{width:15px; height:15px; background-position:-45px -115px;}
[class^="ico_"][class*="_tv"]{width:16px; height:21px; background-position:-29px -134px;}
[class^="ico_"][class*="_tel"]{width:9px; height:13px; background-position:-35px -160px;}
:disabled [class^="ico_"][class*="_camera"]{background-position: -50px -90px;}
[class^="ico_"][class*="arr_d"]{width:13px; height:8px; background-position:-40px -35px}
.sns [class^="ico_"]{width:20px; height:20px; background:url(/mo/ko/images/common/ico_sns.png) no-repeat; background-size:100%;}
.sns [class^="ico_"][class*="_naver"]{}
.sns [class^="ico_"][class*="_facebook"]{background-position:0 -25px}
.sns [class^="ico_"][class*="_kakao"]{background-position:0 -50px}
[class^="ico_"][class*="arr_m_r"] {width:6px;height:11px;background: url(/mo/ko/images/common/arr_right3.png) no-repeat; background-size:100%;}
[class^="ico_"][class*="arr_up"]{width:13px; height:8px; background-position: -40px -35px;}
[class^="ico_"][class*="arr_down"]{width:13px; height:8px; background-position:-55px -35px;}


/* 테이블 */
.data_table {width:100%; font-size:12px;}
.data_table [class^="btn_"] {min-width:inherit; padding-left:1em; padding-right:1em;}
.data_table th, 
.data_table td{padding:10px 5px; border-bottom:1px solid #ebebeb; background:#fff; line-height:1.4;}
.data_table td{color:#666;}
.data_table thead th{border-top:1px solid #ebebeb; }
.data_table tbody th{font-weight:normal;}
.data_table tr.selected>*{background:#f2f2f2;}
.data_table tr>* + *{border-left:1px solid #ebebeb;}
.thead_colored thead th,
.tbody_colored tbody th{background:#fbf7ee;}
.table_scroll{overflow:hidden; overflow-x:auto; width:100%;}
.table_scroll>table{width:200%;}

/*리스트/블릿/DL */
[class^="list"]{line-height:1.5em;}
[class^="list"] li+li{margin-top:5px;}
[class*="bullet"]>li,
p[class*="bullet"]{position:relative; padding-left: 10px; font-size:12px;line-height:1.5em;text-align:left;word-break: keep-all;}
[class*="bullet_dot"]>li:before,
p[class*="bullet_dot"]:before{content:''; position:absolute; top:9px; left:0; display: inline-block; width:2px; height:2px; background:#666;}
[class*="bullet_dash"]>li:before,
p[class*="bullet_dash"]:before{content:''; position:absolute; top:9px; left:0; display: inline-block; width:5px; height:1px; margin-right:5px; background:#666;}
.list_bullet>li{padding-left:1.5em;}
.list_bullet>li>span{position:absolute; top:0; left:0;}
[class*="bullet_dia"]>li:before,
p[class*="bullet_dia"]:before{content:''; position:absolute; top:9px; left:0; display: inline-block; width:5px; height:5px; background:url(/mo/ko/images/common/img_bullet_dia.png) no-repeat; background-size:100%;}

.dl_cont>dt{padding-bottom:1em;}

/*padding style*/
.ph15{padding: 0 15px;}


/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ /* 20180713:ios인풋박스수정 */
  color: #999; line-height:normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/* 공통 loading */
.loading_full{position:relative; height:200px; text-align:center;}
.loading_full .icon_large{position:absolute; top:50%; left:0; width:100%; margin-top:-35px; text-align:center;}
	.icon_large img{width:70px; height:70px; -webkit-animation:rotate 1s linear infinite; animation:rotate 1s linear infinite;}
@keyframes rotate{
	from{transform: rotate(0);}
	to{transform: rotate(360deg);}
}

/* 부분 로딩 */
.loading{position: relative; display:inline-block; width: 100%;height: 50px;border-radius: 50px;}
.loading.white{background-color:#fff;}
.loading.reversed li {
	border: 3px solid white;
	-webkit-animation: LOADINGREV 2s infinite;
	animation: LOADINGREV 2s infinite;
}
.loading.reversed li:nth-child(1n) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.loading.reversed li:nth-child(2n) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.loading.reversed li:nth-child(3n) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.loading li {
	/*height: 0;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 0;
	height: 15px;
	width: 15px!important;
	border: 2px solid #f54a7e;
	border-radius: 100%;
	-webkit-transform: transformZ(0);
	transform: transformZ(0);
	-webkit-animation: LOADING 2s infinite;
	animation: LOADING 2s infinite;
}
.loading li:nth-child(1n) {
	margin-left: -31px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.loading li:nth-child(2n) {
	margin-left: -7px;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.loading li:nth-child(3n) {
	margin-left: 17px;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@-webkit-keyframes LOADING {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: #f54a7e;
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background: white;
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: #f54a7e;
	}
}

@keyframes LOADING {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: #f54a7e;
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background: white;
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: #f54a7e;
	}
}
@-webkit-keyframes LOADINGREV {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: white;
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background: #f54a7e;
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: white;
	}
}
@keyframes LOADINGREV {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: white;
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background: #f54a7e;
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: white;
	}
}


.scrollable_x{overflow-x: scroll;}