@charset "UTF-8";

/* 고객센터 overview */
.cs_menu ul{width:100%;}
.cs_menu ul:after{content:''; display:block; clear:both;}
.cs_menu li{float:left; width:33.3%;}
.cs_menu li:nth-child(3n+1){margin-left:0;}
.cs_menu li + li + li + li{margin-top:20px;}
.cs_menu li a{display:block; text-align:center}
.cs_menu .ico{display:inline-block; width:55px; height:55px; background:url(/mo/ko/images/cs/ico_cs.png) no-repeat; background-size:100%;}
.cs_menu li:nth-child(1) .ico{}
.cs_menu li:nth-child(2) .ico{background-position:0 -55px;}
.cs_menu li:nth-child(3) .ico{background-position:0 -110px;}
.cs_menu li:nth-child(4) .ico{background-position:0 -165px;}
.cs_menu li:nth-child(5) .ico{background-position:0 -220px;}
.cs_menu li:nth-child(6) .ico{background-position:0 -275px;}
.cs_menu a span{display:block; width:100%; padding-top:10px; text-align:center;}
.cs_main .contact a{display:block; padding:15px 0; color:#fff;}
.cs_main .contact .table_layout{margin-bottom:15px; background:#222; border-radius:5px;}
.cs_main .contact .table_layout>*{position:relative;}
.cs_main .contact .table_layout>*:first-child:after{content:''; position:absolute; top:0; right:0; bottom:0; width:1px; background:#393939;}
.cs_main .contact .phone:before{content:''; display:inline-block; width:10px; height:11px; margin-right:3px; background:url(/mo/ko/images/common/ico.png) no-repeat 100% -20px; background-size:100px;}
.cs_main .clear{padding:0 0 10px;}

.ui_accordion.faq .cont{position:relative; line-height:1.5;}

/* 1:1문의 */
.inquiry textarea{height:240px;}
.ui_input_images .attach{width:100%; margin:10px 0;}
.ui_input_images .attach:after{content:''; display:block; clear:both;}
.ui_input_images ul.attach>*{float:left; position:relative; width:calc((100% - 40px)/5)}
.ui_input_images .attach>* +*{margin-left:10px;}
.ui_input_images .attach>*+*+*+*+*+*{margin-top:10px;}
.ui_input_images .attach>*:nth-child(5n+1){margin-left:0;}
.ui_input_images .attach .btn_del{position:absolute; top:3px; right:3px; width:15px; height:15px; padding:0; background:#666; border-radius:50%;}
.ui_input_images .attach .btn_del:before,
.ui_input_images .attach .btn_del:after{content:''; position:absolute; top:46%; left:3px; width:10px; height:1px; background:#fff;}
.ui_input_images .attach .btn_del:before{transform:rotate(45deg);}
.ui_input_images .attach .btn_del:after{transform:rotate(135deg);}
.attached{position:relative; overflow:hidden; width:100%;}
.attached p{display:block; width:100%; padding-right:15px;}
.attached .ui_close{position:absolute; top:3px; right:0;  width:11px; height:11px; background-position:-22px -65px;}
.layer_cont .customer_center .scroll_area{overflow: hidden;overflow-y:scroll;height: 340px;}
.layer_cont .customer_center .data_table + .btn_lg_more{border-bottom:0;}

/* faq */
.customer_center .search_form + *{border-top:1px solid #d2d2d2;}

/* 핑크 맴버십 */
.membership_benefit{padding:0 !important;}
/* 카드 영역 */
.membership_benefit .card{position:relative;}
.membership_benefit .card>div{position:absolute; top:25px; left:20px; right:20px; bottom:15px; }
.membership_benefit .card h3{padding-bottom:10px; color:#fff; font-size:21px;}
.membership_benefit .card .text{color:#fff; opacity:.8; font-size:12px;}
.membership_benefit .card .text + .text{margin-top:5px;}
.membership_benefit .card ._btns{position:absolute; bottom:0; left:0; right:0;}
.membership_benefit .card .btn_md_bordered{border-color:#fff; color:#fff; background:transparent;}
/* cs 아이콘 타입 tab_menu */
.pink_membership{padding-bottom:10px !important; background:#fff;}
.pink_membership .tab_menu.equally ul{margin:0;}
.pink_membership .tab_menu.equally li{padding:0;}
.pink_membership .tab_menu.equally li+li{border-left:1px solid #ebebeb;}
.pink_membership .tab_menu.equally button{width:100%; height:70px; color:#999;}
.pink_membership .tab_menu.equally button:before,
.pink_membership .tab_menu.equally button:after{height:0;}
.pink_membership .tab_menu.equally .on button{color:#333; background:#fff;}
.pink_membership .tab_menu.equally [class^="ico"]{width:30px; height:30px; background:url(/mo/ko/images/cs/ico_cs_tab.png) no-repeat; background-size:120px; border-radius:50%;}
	.ico_crown{}
	.on .ico_crown{background-position:0 -30px !important;}
	.ico_dia{background-position:-30px 0 !important;}
	.on .ico_dia{background-position:-30px -30px !important;}
	.on .ico_dia.pink{background-position:-30px -60px !important;}
	.ico_heart{background-position:-60px 0 !important;}
	.on .ico_heart{background-position:-60px -30px !important;}
	.on .ico_heart.mint{background-position:-60px -60px !important;}
	.ico_lip{background-position:-90px 0 !important;}
	.on .ico_lip{background-position:-90px -30px !important;}
.pink_membership .tab_menu.equally [class^="ico"] + *{display:block; padding-top:5px;}
.pink_membership .tab_menu.equally + div .tab_cont{padding:20px 15px;}

/* 혜택 컨텐츠 */
.customer_center .benefit{}
.customer_center .benefit .h_title{padding-top:25px; margin-bottom:20px;border-bottom:1px solid #000;}
.customer_center .benefit .icon_list [class*="ico"]{display:inline-block; width:65px; height:65px; vertical-align:middle;}
.customer_center .benefit .icon_list li:nth-child(2) [class*="ico"]{background-position:0 -65px;}
.customer_center .benefit .icon_list li:nth-child(3) [class*="ico"]{background-position:0 -130px;}
.customer_center .benefit .icon_list li:nth-child(4) [class*="ico"]{background-position:0 -195px;}
.customer_center .benefit .icon_list li:nth-child(5) [class*="ico"]{background-position:0 -260px;}
.customer_center .benefit .dl_cont:nth-child(2) .icon_list li:nth-child(1) [class*="ico"]{background-position:-65px 0;}
.customer_center .benefit .dl_cont:nth-child(2) .icon_list li:nth-child(2) [class*="ico"]{background-position:-65px -65px;}
.customer_center .benefit .dl_cont:nth-child(2) .icon_list li:nth-child(3) [class*="ico"]{background-position:-65px -130px;}
.customer_center .benefit .icon_list  li + li{margin-top:15px;}
.customer_center .benefit .icon_list li{display:table; width:100%; table-layout:fixed;}
.customer_center .benefit .icon_list li>*{display:table-cell; vertical-align:middle; line-height:1.5;}
.customer_center .benefit .icon_list li>span:first-child{width:75px;}
.customer_center .benefit .icon_list li>span b{display:block; font-weight:500;}
	.pink_membership .icon_list [class*="ico"]{background:url(/mo/ko/images/cs/ico_pink.png) no-repeat; background-size:130px;}
	.cushion_point .icon_list [class*="ico"]{background:url(/mo/ko/images/cs/ico_cushion.png) no-repeat; background-size:65px;}
	.store_service .icon_list [class*="ico"]{background:url(/mo/ko/images/cs/ico_takeout.png) no-repeat; background-size:65px;}
	.pink_membership .panel .panel.gray{margin:0 15px 15px;}

.customer_center .h_title.sub + *{margin-top:20px;}
.customer_center * + .h_title.sub{margin-top:30px;}
.customer_center .slide .ix-thumbs{position:static;}
.customer_center .slide .ix-list-item{line-height:1.5;}
.customer_center .slide b{display:block; font-size:15px; color:#000;}
.customer_center .slide .active .ix-btn{background-color:#f54a7e;}
.customer_center .slide .slide_direction [class^="ix-btn"]{overflow:hidden; width:15px; height:0; padding-top:20px; margin-top:-10px; background:url(/mo/ko/images/common/ico.png) no-repeat -45px -15px; background-size:100px;}
.customer_center .slide .slide_direction .ix-btn-next{background-position:-60px -15px;}

/* 공병수거캠페인 */
.empty_bottle{}
.empty_bottle .h_title b:after,
.empty_bottle .notice{background-color:#f7a1ba;}
.empty_bottle .icon_list [class*="ico"]{background:url(/mo/ko/images/cs/ico_empty_bottle.png) no-repeat; background-size:65px;}

/* 매장 특화 서비스 */
.store_service{}
.store_service .process>ul{display:table; width:100%; table-layout:fixed;}
	.process ul>li{position:relative; display:table-cell; text-align:center;}
	.process ul>li>*{display:block; padding-top:2px; font-size:0.9em;}
	.process ul>li>*:before{content:''; display:inline-block; width:0; height:100%; vertical-align:middle;}
	.process ul>li>span{height:20px; background:#f54a7e; color:#fff;}
	.process ul>li:not(:last-child)>span:after{content:''; position:absolute; top:20px; right:-7.5px; z-index:1; width:15px; height:15px; margin-top:-7.5px; background:url(/mo/ko/images/cs/ico_process_arr.png) no-repeat; background-size:100%;}
	.process ul>li + li>span{border-left:1px solid #fff;}
	.process ul>li>b{height:40px; border:1px solid #d2d2d2; border-top:0; font-weight:normal;}
	.process ul>li + li>b{border-left:0;}
	
.store_service .tab_cont{padding:0;}
.store_service .visual{display:table; width:100%; height:190px; text-align:center; color:#fff; background-repeat:no-repeat; background-position:50% 50%; background-size:320px;}
.store_service .visual>*{display:table-cell; height:100%; vertical-align:middle;}
.store_service .visual .title{padding-bottom:15px; font-size:21px; font-weight:700;}
	.takeout .visual{background-image:url(/mo/ko/images/cs/bg_visual_takeout.gif); background-color:#775d6a;}
	.delivery .visual{background-image:url(/mo/ko/images/cs/bg_visual_delivery.gif); background-color:#9c867e;}
	.return .visual{background-image:url(/mo/ko/images/cs/bg_visual_return.gif); background-color:#657186;}
	
/* live talk */
.live_talk{position:fixed; top:0; left:0; bottom:0; right:0; max-width:inherit !important; padding-bottom:60px !important; background:#fbf7ee;}
.live_talk>div{overflow:hidden; overflow-y:auto; height:100%; padding:0 15px}
.live_talk .connect,
.live_talk .disconnect{padding:20px 0; text-align:center;}
.live_talk .connect b{display:block; font-weight:500;}
.live_talk .disconnect{border-top:1px dashed #e2dfd7;}
.live_talk ul{padding:20px 0; border-top:1px dashed #e2dfd7;}
.live_talk ul:after{content:''; display:block; clear:both;}
.live_talk ul>li{position:relative; float:right; width:100%; font-size:12px; line-height:1.5; text-align:right;}
.live_talk ul>li>*:not(img){display:inline-block; vertical-align:bottom; margin-bottom:10px;}
.live_talk ul>li.cs{float:left; padding-left:50px;  text-align:left;}
.live_talk ul>li.cs:before{content:''; position:absolute; top:0; left:0; width:40px; height:40px; background:url(/mo/ko/images/cs/ico_live_talk.png) no-repeat; background-size:100%;}
.live_talk .bubble{display:inline-block; max-width:calc(100% - 65px); padding:10px 15px; border:1px solid #f54a7e; background:#fff; border-radius:17px 0 17px 17px; text-align:left;}
.live_talk .cs .bubble{background:#ebebeb; border-color:#ebebeb; border-radius:0 17px 17px 17px}
.live_talk .bubble img{margin:5px 0;}
.live_talk ul>li small{width:60px; text-align:center; font-size:11px; font-weight:normal;}
.live_talk .form{position:fixed; bottom:0; left:0; right:0; z-index:2; height:60px; padding:10px 15px; background:#fbf7ee; }
.live_talk .form>div{padding:0 5px; background:#fff; border:1px solid #d2d2d2; border-radius:20px;}
.live_talk .form.disabled>div{background:#d9d9d9; }
.live_talk .form>div:after{content:''; display:block; clear:both;}
.live_talk .form button{float:right; width:30px; height:30px; margin-top:5px; border-radius:50%;}
.live_talk .form button:first-child{float:left; position:relative; margin-right:10px; }
.live_talk .form button:first-child:before{content:''; position:absolute; top:10px; bottom:10px; right:-5px; width:1px; background:#d2d2d2;}
.live_talk .form input{float:left; width:calc(100% - 70px); padding:0 5px; border:0; height:40px; background:transparent;}
.live_talk .closed{position:fixed; top:40px; left:0; right:0; bottom:0; padding-top:30%; background:#fbf7ee;}

/* artist talk */
.artist_talk{height:100%; padding-bottom:10%; background:#fff;}
.artist_talk .visual{position:relative;}
.artist_talk .visual .text{position:absolute; bottom:6%; right:0; left:0; text-align:center;}
.artist_talk .banner{}