@charset "utf-8";

@import url(fonts.css);
@import url(common.css);
@import url(ui.css);
@import url(board.css);
@import url(layout.css);
@import url(layer.css);
@import url(member.css); /* 회원관련 */
@import url(cs.css); /* 고객센터 관련 */
@import url(mypage.css); /* 마이페이지 관련 */
@import url(search.css); /* 검색 관련 */
@import url(item.css); /* 상품 상세 */
@import url(beautylife.css); /* 뷰티라이프 */
@import url(cart.css); /* 장바구니,주문결제 */
@import url(brand.css); /* 브랜드 */
@import url(event.css); /* 이벤트 */
@import url(policy.css); /* 이용약관 */



/* 모바일 가이드용 실 적용시 삭제 */
::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-thumb { background: #a9a9a9; opacity:0;}

.swipe_menu .fixed_area>div::-webkit-scrollbar,
.main_contents .category::-webkit-scrollbar,
.color_chip::-webkit-scrollbar,
.related_query::-webkit-scrollbar,
.color_chips > div.fixed_area::-webkit-scrollbar,
.color_area .select_colors::-webkit-scrollbar,
.take_out_scroll::-webkit-scrollbar,
.item_option .color_chips ul::-webkit-scrollbar,
.item_option .color_group::-webkit-scrollbar,
.payment_choise::-webkit-scrollbar,
.factory_store .store_view::-webkit-scrollbar,
.item_sorting::-webkit-scrollbar,
.category_sorting::-webkit-scrollbar,
.ch_etude .recommend_tag::-webkit-scrollbar,
.scrollable_x::-webkit-scrollbar{height: 0;}
