@charset "UTF-8";

.ap_wrapper{background:#fbf7ee;}

.error_contents{padding:20% 15px; max-width:640px; margin:0 auto;}
.app_update{padding-top:35%;}
.error_contents .panel{max-width:60%; padding:20px 0; margin:0 auto; background:transparent; border-color:#333;}
.connection_disorder{position: absolute;top: 50%;transform: translateY(-50%);width: 100%;text-align: center;}