@charset "utf-8";

.event{padding-bottom:0 !important; background:#fff;}
/* overview */
.event .d_day{position:absolute; background:#f54a7e; color:#fff; padding:0 7px; font-size:12px; font-family: Arial; line-height:18px; border-radius: 10px;}
.event_menu>dl>dt>button{background-image:url(/mo/ko/images/common/bg_select_3.png);}
.event_menu>dl>dt.on>button{background-position:100% -40px;}
.event_menu strong{color:#000;}
.event_menu ul{margin-bottom:15px;}
.event_menu ul:after{content:''; display: block; clear: both;}
.event_menu li{float:left; width:33.3%; text-align:center;}
.event_menu li a{display:block; position: relative; color:#000;line-height: 17px}
.event_menu li a:before{content:''; display:block; width:55px; height:55px; margin:15px auto; background:url(/mo/ko/images/event/ico_event_menu.png) no-repeat 50% 0; background-size:55px;}
.event_menu a.roulette:before{background-position:0 -55px;}
.event_menu a.sweet_letter:before{background-position:0 -110px;}
.event_menu a.beauty_tester:before{background-position:0 -165px;}
.event_menu a.free_sample:before{background-position:0 -220px;}
.event_menu a.makeup:before{background-position:0 -275px;}
.event_menu .d_day{top:37px; left:50%; margin-left:10px;}
.event_list,
.event .btn_lg_more{background:#fff; border-bottom:0;}
.event_list li{position:relative;}
.event_list li a{display:block;}
.event_list li + li{margin-top:10px;}
.event_list .d_day{bottom:10%; left:8%; }

/* detail */
.event.detail .btn_share{display:block; width:25px; height:21px; padding:0; background:url(/mo/ko/images/common/ico.png) no-repeat -80px -110px; background-size:100px;}
.event.detail .event_header{padding:25px 15px}
.event.detail .event_header .h_title{line-height:1.2;}
.event.detail .event_header .clear{margin-top:10px;}
.event.detail .event_header .clear span + small{margin-left:7px; padding-left:7px; border-left:1px solid #ebebeb; line-height: 14px;}
.event.detail .event_image{position:relative;}
.event.detail .event_image button{position:absolute; bottom:40px; left:15px; width:calc(100% - 30px);}
.event.detail .event_cont .wrap{padding:0 15px;}
.event.detail .event_cont + .page_btns{padding:20px 15px;}
.event.detail .event_cont{border-bottom:0; position:relative;}
.event.detail .event_cont .h_title{padding-bottom:10px;}
.event.detail .event_cont .text_notice{margin-top:10px;}
.event.detail .event_cont .section{padding:25px 15px;}
.event.detail .coupon_list{margin:0;}
.event.detail .coupon_list:after{content:''; display: block; clear: both;}
.event.detail .coupon_list li{float:left; width:100%; padding-top:20px}
.event.detail .coupon_list.col_02 li{width:calc(50% - 5px);}
.event.detail .coupon_list.col_02 li:nth-child(even){float:right;}
.event.detail .coupon_list li button{margin-top:20px;}
.event.detail .coupon_list .check_wrap>label{padding-left:0;}
.event.detail .coupon_list .check_wrap>label:before{top:10px; left:10px;}
.event.detail .coupon_list + button{margin-top:20px;}
.event.detail .slide{margin:20px -15px 0; width:auto;}
.event.detail .slide .ix-thumbs{position:static; width:100%; padding-bottom:0; text-align:center;}
.event.detail .video_wrap{margin-top:20px;}
.event.detail .detail_review_rating{padding-bottom:0;}
.event.detail .review_list .title small{display:inline;}
.event.detail .pagination{padding-bottom:20px;}
.event.detail .btn_lg_more{background:#fff; border-bottom:0; border-top:1px solid #ebebeb;}
.event.detail .comment_area .btn_lg_more{margin-bottom:-25px;}

/* 무료샘플신청 */
.event_apply .ui_accordion{margin-top:20px;border-top:1px solid #ebebeb;}
.event_apply .ui_accordion>dl>dt{padding-left:0;}
.event_apply dt b{position: relative; padding-right: 10px;margin-right: 7px;}
.event_apply dt b:after{content: '';position: absolute;top: 6px;right: 0;width: 1px;height: 10px;background-color: #ebebeb;}
.event_apply dt small{padding-right:5px;}
.event_apply dt .btn_delete{padding:0; line-height:1;}
.event_apply [class^="ico_"]{width:15px; height:15px; margin-left:2px; border-radius: 50%; background-position:-50px -160px}
.event_apply .ico_del{background-position:-70px -160px;}
.event_apply dt .title{margin-top:5px; font-weight:300 !important;}
.event_apply .btn_lg_more{margin-bottom:-25px;background: #fff; border-bottom:0;}

/* 뷰티테스터 신청 */
.beauty_tester {padding:0 !important; background:#fff;}
.beauty_tester .panel + .panel{margin-top:0 !important;}
.beauty_tester .panel p.text {word-wrap:break-word;}

/* 진주알 룰렛 */
.roulette_wrap{position:relative;}
.roulette_wrap .roulette{position:absolute; top:37%; width:100%;}
.roulette_wrap .roulette>*:not(.dummy){position:absolute;}
	.roulette .circle{overflow:hidden;top:0; left:0; width:100%; height:100%; text-align: center;}
	.roulette .circle img{width:auto; height:100%; transform: rotate(70deg);}
	.roulette .top{top:-5%; left:46%; width:10%;}
	.roulette button{top:33%; left:38%; overflow:hidden; width:23.45%; padding:0; border-radius: 50%;}
	.roulette .character{top:59%; right:3%; width:35%;}
	.roulette_layer .img_wrap{padding:0 10%;}
	.roulette_layer .input_group .label{width:30%;}
	.roulette_layer .convenience_choice{}
	.roulette_layer .convenience_choice > *{width: calc(50% - 5px);}
	.roulette_layer .convenience_choice > * + span{margin-left: 10px;}
	.roulette_layer .convenience_choice input{position:absolute; z-index:-1;}
	.roulette_layer .convenience_choice label{display:inline-block;position: relative; padding-top: 70px;width: 100%;height:100px; text-align:center;color: #333;border:1px solid #ddd;border-radius: 5px}
	.roulette_layer .convenience_choice input:checked + label{border-color:#f54a7e}
	.roulette_layer .convenience_choice label:before{content: '';position: absolute;top: 50%;left: 50%;background:url('/mo/ko/images/cart/icon_convenience_store.png') 0 0 no-repeat;-webkit-background-size: 145px 43px;background-size: 145px 43px;}
	.roulette_layer .convenience_choice .cu label:before{width: 66px;height: 42px;margin: -33px 0 0 -33px;background-position: 0 0;}
	.roulette_layer .convenience_choice .gs label:before{width: 70px;height: 38px;margin: -27px 0 0 -35px;background-position: -75px -3px;}

/* play 메이크업 */
.play_makeup .h_title{padding-bottom:10px;}
	.list.step>li{position:relative; padding-left:55px;}
	.list.step>li>span.num{position:absolute; top:0; left:0; width:50px; background: #f54a7e; color: #fff; border-radius: 10px; line-height: 20px; text-align: center; font-size:12px;}
.play_makeup .bg_gradient{margin:20px -15px -25px; padding:25px 15px;
	background: rgb(247,162,186); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(247,162,186,1) 0%, rgba(154,218,218,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(247,162,186,1) 0%,rgba(154,218,218,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(247,162,186,1) 0%,rgba(154,218,218,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a2ba', endColorstr='#9adada',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.play_makeup .bg_gradient .panel{-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.play_makeup_layer .input_group .label{width:33%;}
.layer_popup .date_picker_layer>div{padding:0;}

/* 선불카드 */
.prepaid_card .balance{margin-top:20px;}
.prepaid_card .balance dt{padding-top:4px;}
.prepaid_card .balance .price{font-size:17px;}
.prepaid_card .balance .price strong{font-size:22px;}
.prepaid_card .check_wrap + .check_wrap{margin-left:20px;}
.prepaid_list{margin-top:10px;}
.prepaid_list>li{padding:15px 0;border-top:1px solid #d2d2d2;}
.prepaid_list dt{padding-bottom: 5px;}
.prepaid_list dt em{color:#37c3cd; border-bottom:1px solid #37c3cd;}
.prepaid_list .list li{margin-top:10px; color:#999;}
.prepaid_list .list li b{font-weight:400;}
.prepaid_list .list li:first-child * + *{font-size:11px; color:#333;}
.prepaid_list + .btn_lg_more{margin-bottom:-25px; background:#fff; border-bottom:0; border-top:1px solid #d2d2d2;}

/* 이벤트 참여 내역 */
.my_event{margin-top:15px;}
.my_event>li{padding:15px 0;border-top:1px solid #d2d2d2;}
.my_event dt{padding-bottom: 10px;}
.my_event .complete dt a{color:#f54a7e;}
.my_event .complete dt a:after{content:''; display: inline-block; width:15px; height:15px; margin:-3px 0 0 5px; background:url(/mo/ko/images/common/ico.png) no-repeat -85px -205px; background-size:100px; vertical-align: middle;}
.my_event dt b{display:block; margin-top:5px; font-size:14px; line-height:1.3;}
.my_event + .btn_lg_more{margin-bottom:-25px; background:#fff; border-bottom:0; border-top:1px solid #d2d2d2;}
.my_event .flag{width:50px; font-size:11px; color:#fff; background:#f54a7e; text-align: center; line-height: 18px; border-radius: 10px;}
.my_event .complete .flag{background:#d2d2d2;}
.my_event .list>li{margin:0; color:#666;}

/* 회원등급 */
.grade .welcome{margin:-25px -15px 0;}
.grade .welcome li{margin:0;}
.grade .welcome li span{padding-right:10px; color:#888;}
.grade .next_grade{padding:25px 0 15px;font-size:16px;}
.my_grade_list{margin-top:10px;}
.my_grade_list>li{padding:15px 0;border-top:1px solid #d2d2d2;}
.my_grade_list dt{padding-bottom: 5px;}
.my_grade_list dt small{display:block; padding-bottom:10px;}
.my_grade_list dt em{color:#37c3cd; border-bottom:1px solid #37c3cd;}
.my_grade_list .list li{margin-top:5px;}
.my_grade_list em b{font-weight:bold; color:#f54a7e;}
.my_grade_list + .btn_lg_more{margin-bottom:-25px; background:#fff; border-bottom:0; border-top:1px solid #d2d2d2;}

/*event*/
/*event - 출첵*/
.attendance{}
.attendance .calendar{position: relative;padding: 50px 15px 15px;background-color: #fabf3a;}
.attendance .calendar table{width: 100%;font-family: 'Arial';font-size: 12px;color: #999;letter-spacing: 0;}
.attendance .calendar th{height: 20px;padding: 0 1px;}
.attendance .calendar th span{display: inline-block;width: 100%;height: 100%;border-bottom: 1px solid #000;}
.attendance .calendar th.sun span{border-color: #f54a7e;}
.attendance .calendar th.sun,
.attendance .calendar td.sun .date{color: #f54a7e;}
.attendance .calendar td{position: relative;height: 50px;vertical-align: top;padding: 1px;}
.attendance .calendar td.today{}
.attendance .calendar td.disabled{color: #d2d2d2;}
.attendance .calendar td .date{position: relative;display: inline-block;width: 100%;height: 100%;padding: 5px;background-color: #f2f2f2;border-radius: 10px;color: #888;}
.attendance .calendar td.day10 .date{background-color: #fbd16d;}
.attendance .calendar td.day30 .date{background-color: #f7a2ba;}
.attendance .calendar td.check .date:after{content:'';position: absolute;bottom: 5px;right:5px;width: 20px;height: 20px;background: url('/mo/ko/images/event/attendance_check.png') 0 0 no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.attendance .calendar td.day10 .date:after,
.attendance .calendar td.day30 .date:after{content:'';position: absolute;bottom: 5px;right:5px;width: 20px;height: 20px;background: url('/mo/ko/images/event/attendance_check.png') 0 100% no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.attendance .calendar td.check .mark{overflow:hidden; width:0 !important; height:0 !important; padding:0 !important; margin:0 !important; font-size:0 !important; line-height:0 !important;}
.attendance .calendar .mark{position: absolute;top: 50%;left: 50%;z-index: 1;margin:-2px 0 0 -12px;width: 24px;height: 12px;text-align: center;color: #f54a7e;font-family: 'Noto Sans Korean';font-weight: 500;}
.attendance .calendar td.other .date{background-color: #e6e6e6;color: #888;}

.attendance .calendar .calendar_area{padding: 30px 10px 10px;border-radius:10px 10px 0 0;background-color: #fff;}
.attendance .calendar .current_day{position: absolute;top: 0;left: 50%;margin-left: -75px;width: 150px;color: #fff;text-align: center;}
.attendance .calendar .current_day span{padding-left: 10px;font-size: 12px;}
.attendance .calendar .month_select{position: absolute;top: 25px;left: 50%;margin-left: -45%;width: 90%;height: 40px;background-color: #000;border-radius: 40px;-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.attendance .calendar .month_select .current_month{display: inline-block;width: calc(100% - 86px);color: #fff;font-size: 15px;font-weight: 500;line-height: 40px;text-align: center;}
.attendance .calendar .month_select .btn{position: relative;margin-top: -4px;width: 40px;height: 40px;}
.attendance .calendar .month_select .btn:after{content: '';position: absolute;top: 50%;left: 50%;margin: -7px 0 0 -5px;width: 10px;height: 15px;background: url('/mo/ko/images/common/ico.png') 0 0 no-repeat;-webkit-background-size: 100px 250px;background-size:  100px 250px;}
.attendance .calendar .month_select .btn.prev:after{background-position: -51px -138px;}
.attendance .calendar .month_select .btn.next:after{background-position: -66px -139px;}
.attendance .calendar .month_select .btn:disabled{opacity: 0.5}
.attendance .calendar .loading{position: absolute;top: 50%;left: 50%;margin: -63px 0 0 -50px;width: 100px;}

.attendance .legal{margin-bottom:20px;padding: 0 10px 15px;background-color: #fff;border-radius:0 0 10px 10px;}
.attendance .legal > *{position: relative;display: inline-block;padding-left: 20px;}
.attendance .legal > *:after{content: '';position: absolute;top: 0;left: 0;width: 15px;height: 15px;border-radius: 15px;}
.attendance .legal > * + *{margin-left: 15px;}
.attendance .legal > .day10:after{background-color: #fbd16d;}
.attendance .legal > .day30:after{background-color: #f7a2ba;}

.attendance .btn_attendance_check{border-radius: 50px;font-weight: 300;font-size: 20px;}
.ico_stamp{margin-right: 7px;width:30px; height:25px; background:url(/mo/ko/images/event/attendance_stamp.png) 0 0 no-repeat;-webkit-background-size: contain;background-size: contain;}

/*type D*/
.event.detail .evt_goods{padding-bottom: 40px;}
.evt_goods .goods_box {background-color:#f5f5f5;}
.evt_goods .goods_box.on {background-color: #b3e1e1;}
.evt_goods .goods_box + .goods_box{margin-top: 1px;}
.evt_goods .goods_select_name {overflow: hidden;padding: 10px 15px;width: 100%;vertical-align: top;color:#000}
.evt_goods .goods_select_name > span{display: block;}
.evt_goods .goods_select_name .color_box,
.evt_goods .goods_select_name .goods_select_thm {display:inline-block;width:30px;height:30px;margin-right:10px;}
.evt_goods .goods_select_name .name{display: inline-block;width: calc(100% - 45px);line-height: 1.5;text-align: left;}
.evt_goods .goods_select_name .num {float:right;margin-top:8px;color: #333;}
.evt_goods .goods_select_name .num strong{font-size:15px;vertical-align: middle;font-family: 'Arial';}
.evt_goods .scroll_area{overflow: hidden;overflow-y:scroll;height: 280px;}

.evt_goods .evt_msg{position: relative;padding: 25px 15px;border-radius: 10px;background-color: #fff;color: #333;line-height: 1.5;}
.evt_goods .evt_msg:after{content: '';position: absolute;bottom: -10px;left: 50%;margin-left: -11px;width: 22px;height: 10px;background:url('/mo/ko/images/event/bg_arr.png') 0 0 no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.evt_goods .evt_msg strong{font-size: 15px;font-weight: 500;color: #000;}
.evt_goods .form{padding-bottom: 0;}
.evt_goods .option_layer{bottom: 0;padding: 0;}
.evt_goods .option_layer .buy_info_wrap .btn_basket{border: 1px solid #999; color: #999;}
.evt_goods .option_layer .buy_info_wrap .btn_buy{border: 1px solid #f54a7e;color: #f54a7e;background: none;}
.evt_goods .option_layer .buy_info_wrap.type2 button{background-color: #f54a7e;color: #fff;}
.evt_goods .option_layer .goods_box{padding: 15px;background-color: #fff;}
.evt_goods .option_layer .goods_box .thumb{width: 50px;vertical-align: top;}
.evt_goods .option_layer .goods_box .thumb > span{display: inline-block;width: 50px;height: 50px;}
.evt_goods .option_layer .goods_box .goods_info{padding-left: 10px;color: #333;}
.evt_goods .option_layer .goods_box .goods_info .name{margin-bottom: 5px;line-height: 1.2;}
.evt_goods .option_layer .goods_box .goods_info .count{width: 30%;}
.evt_goods .option_layer .goods_box .goods_info .num{float: right;}
.evt_goods .option_layer .goods_box .goods_info .num del{color: #999;}
.evt_goods .option_layer .goods_box .goods_info .num strong{font-size: 15px;}
.evt_goods .option_layer .goods_box .goods_info .num span{font-size: 13px;}
.evt_goods .option_layer .goods_box .btn_del{top: 13px;right: 10px;}
.evt_goods .option_layer .theme_set{padding-bottom: 15px;}
.evt_goods .option_layer .theme_set + .theme_set{border-top: 1px solid #ebebeb;}
.evt_goods .option_layer .theme_set .title{padding: 0 15px 10px;font-size: 15px;}
.evt_goods .option_layer .theme_set + .theme_set .title{padding-top: 15px;}
.evt_goods .option_layer .theme_set .title em{padding-right: 5px;}
.evt_goods .option_layer .theme_set .title small{line-height: 2;}
.evt_goods .option_layer .theme_set .set_total{margin: 0 15px;padding: 10px;background-color: #fff;border:1px solid #d2d2d2;border-top-width: 0;}
.evt_goods .option_layer .theme_set .set_total p:first-child{margin-top: 5px;}
.evt_goods .option_layer .theme_set .set_total strong{font-size: 20px;}
.evt_goods .option_layer .theme_set .set_total span{color: #000;font-size: 15px;}
.evt_goods .option_layer .goods_box{margin:0 15px  -1px;}
.evt_goods .freebies_box{position: relative;margin: 0 15px;padding: 15px;border:1px solid #d2d2d2;background-color: #fff;border-top: 0;}
.evt_goods .freebies_box:before{content: '';position: absolute;top: 0;left: 15px;width: calc(100% - 30px);border-top: 1px dashed #d2d2d2;}
.evt_goods .freebies_box .thumb{width: 30px!important;vertical-align: middle!important;}
.evt_goods .freebies_box div:last-child{padding-left: 10px;}
.evt_goods .freebies_box div:last-child > *{line-height: 1.5;}
.evt_goods .option_layer .scroll_area{margin-top: 15px;}
.evt_goods .theme_set.ico_set .goods_box + .goods_box:before{content: '';position: absolute;top: -13px;left: 50%;z-index: 1;width: 26px;height: 26px;margin-left: -13px;background:url('/mo/ko/images/common/ico.png') -35px 100% no-repeat;-webkit-background-size: 100px;background-size: 100px;}
.evt_goods .option_layer .page_btns{text-align: left;margin-top: 10px!important;}
.evt_goods .option_layer .page_btns [class^="btn_"]{width: 70px;background-color: #333;}
.goods_box .empty .thumb > span{color: #999;text-align: center;line-height: 48px;border:1px dashed #d2d2d2}
.goods_box .empty .btn_del{display: none;}

.evt_goods .option_layer.close .buy_info_wrap.type2,
.evt_goods .option_layer.open .buy_info_wrap,
.evt_goods .option_layer.open .scroll_area,
.evt_goods .option_layer.open .btn_float_close{display: block;}

.evt_goods .option_layer.open .buy_info_wrap.type2,
.evt_goods .option_layer .buy_info_wrap,
.evt_goods .option_layer .scroll_area,
.evt_goods .option_layer .btn_float_close{display: none;}

.evt_goods .option_layer.close .buy_info_wrap{border-top: 0;}
.evt_goods .item_list.type2 .price_area .btns{display: block;position: absolute;top: 5px;right: 5px;z-index: 1;}

.evt_goods .tab_cont .h_title{margin-bottom: -15px;padding: 25px 0 10px 15px;}
.evt_goods .tab_cont .h_title + .item_list + .h_title{margin-top:5px;border-top: 1px solid #d2d2d2;}
.evt_goods + .comment_area{margin-top: -40px; padding-bottom: 80px !important;}

/*이벤트 스윗레터 100% 당첨*/
.h_sweet_01 {position:absolute;top:46%;left:0;right:0;line-height:20px}
.sweet_event_input_wrap {position:absolute;top:55%;left:15px;right:15px;text-align:center;padding:0 5%}
.sweet_event_input_wrap input {border:1px solid #d2d2d2;width:calc((100% - 23px) / 4);height:40px;text-align:center}
.sweet_event_input_wrap input + input {margin-left:5px}
.button_sweet_group_1 {position:absolute;bottom:23%;left:15px;right:15px;text-align:center;padding:0 5%}
.button_sweet_group_1 button {float:left;width:calc((100% - 10px) / 2) !important;position:relative !important;bottom:0 !important;left:0 !important;}
.button_sweet_group_1 button:nth-of-type(2) {float:right}
.sweet_evnet_notice_01 {position:absolute;bottom:34%;left:15px;right:0;text-align:left;margin-left:6%}
.event.sweet .section:nth-of-type(4) {padding-bottom:20px}
/*이벤트 스윗레터 100% 당첨*/

/*이벤트 리뷰*/
.detail_review_event .summary{padding-bottom: 15px;border-bottom: 1px solid #ebebeb;}
.detail_review_event .summary span + span{display:inline-block; padding-left:10px; margin-left:10px; border-left:1px solid #999;}