@charset "UTF-8";

/* 레이어 팝업 */
.layer_popup{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index: 100;}
.layer_dimmed{position:fixed; top:0; left:0; right:0; bottom:0; z-index: 1; background:rgba(0, 0, 0, 0.3);}
.layer_popup .layer_dimmed.dimmed_transparent{opacity:0;}
.layer_wrap{position:absolute; top:50%; left:15px; right:15px; z-index: 2;}
.layer_wrap.transition_top{-webkit-transition:top ease .5s; -moz-transition:top ease .5s; -o-transition:top ease .5s; transition:top ease .5s;}
.layer_lg{}
.layer{width:100%; min-height:100%; padding:20px; background:#fff;}
.layer_title{padding-bottom:1em; border-bottom:1px solid #333; font-size:16px; text-align:center; line-height:1.5em;}
.layer_cont{padding-top:20px;}
.layer_cont .text + .text {margin-top:21px;}
.layer_cont .str {font-size:14px;font-weight:500;line-height:1.857em;}
.layer_cont .str + .text {margin-top:7px;}
.layer_cont .text + .str {margin-top:10px;}
.layer_btns{text-align:center;}
.layer_btns:after {display:block;clear:both;content:'';}
.layer_btns>* {float:left;width:calc((100% - 10px) / 2);}
.layer_btns>* + *{margin-left:10px;}
.layer_btns>*:only-child{width:100%;}
.layer_close{position:absolute; top:-30px; right:0; z-index:2; overflow:hidden; display:inline-block; width:25px; height:0; padding-top:15px; background:#fff url(/mo/ko/images/common/ico.png) no-repeat -21px -63px; background-size:100px; border:5px solid #fff; border-radius:50%;}
/* alert confirm */
.modal_alert .layer,
.modal_confirm .layer{padding:0;}
.modal_alert .layer_cont,
.modal_confirm .layer_cont{padding:45px 15px 40px;}
.modal_confirm .layer_btns>*:not(:only-child) {float:left; width:50%;}
.modal_confirm .layer_btns>* + *{margin-left:0;}
/* fullpage */
.layer_popup.fullpage{display:block;}
.layer_popup.fullpage .layer_wrap{top:0; left:0; right:0; bottom:0;}
.layer_popup.fullpage .layer{padding:0;}
.layer_popup.fullpage .layer_title{width: 100%; padding:0.5em 1em; border-color:#ddd; background:#fff;}
.layer_popup.fullpage .layer_cont{overflow:auto; position:fixed; top:41px; left:0; right:0; bottom:0; min-height:100%; padding:0 0 40px;} /* 20180720:ios인풋오류수정 */
/*.layer_popup.fullpage .layer_cont{overflow:auto; position:absolute; top:41px; left:0; right:0; bottom:0; min-height:100%; padding:0 0 40px;}*/
.layer_popup.fullpage .sr_only + .layer_cont{top:0;}
.layer_popup.fullpage .layer_cont .panel:only-child{border-bottom:0;}
.layer_popup.fullpage .padding{padding:40px 15px;}
.layer_popup.fullpage .padding15{padding:15px;}
.layer_popup.fullpage .layer_close{top:10px; right:10px; width:20px; padding-top:20px; border:0; background:url(/mo/ko/images/common/ico.png) no-repeat 0 -65px; background-size:100px;z-index:4 }
/* [class*="modal_"].fullpage .layer{background:#ebebeb;} */
.layer_popup.fullpage .layer_close{position:fixed;}

/* tooltip */
.ui_tooltip{position:relative; display:inline-block;}
span.ui_tooltip{display:inline-block;}
.btn_tooltip{overflow:hidden; width:20px; height:20px; border:0 !important; border-radius: 50%; background:url(/mo/ko/images/common/ico_question.png) no-repeat; background-size: 100%; text-indent: -9999999px;}
.btn_tooltip:hover,
.btn_tooltip.on{background-image:url(/mo/ko/images/common/ico_question_over.png);}
.ui_tooltip>.arr{display:none; position:absolute; z-index:11; width:13px; height:8px; margin-left:4px; background:url(/mo/ko/images/common/arr_tooltip.png) no-repeat; background-size:100%;}
.ui_tooltip>.arr + .layer_tooltip{margin-top:7px;}

.layer_tooltip{display:none; position:absolute; z-index: 10; padding:0 15px; background:#fff; border:1px solid #333;}
.layer_tooltip dt{padding:15px 0; font-size:15px; color:#333;  border-bottom:1px solid #ebebeb;}
.layer_tooltip dd{padding:15px 0;}
.layer_tooltip .ui_close{position:absolute; top:20px; right:15px;}

.ui_tooltip{position:static;}
.ui_tooltip>span.arr{top:auto;}
.layer_tooltip{left:15px; right:15px; width:auto; margin-left:0 !important;}

.btn_tooltip.type2{width: 13px;height: 13px;padding: 0;background: url(/mo/ko/images/common/ico_question_2.png) no-repeat;-webkit-background-size: 100%;background-size: 100%;}

@media (min-width:640px){
	.layer_popup:not(.fullpage) .layer_wrap{left:50%; right:auto; width:100%; max-width:640px; margin-left:-320px;}
}
.btn_navi{position:fixed;top:10px; left:10px; z-index:3; padding:0;}
.btn_navi button{overflow:hidden; width:15px; height:0; padding-top:20px; background:url(/mo/ko/images/common/ico.png) no-repeat -40px -51px; background-size:150px; opacity:.9}
.btn_navi button:disabled{opacity:.3;}
.btn_navi .next{margin-left:20px; background-position: 0 -51px;}

.layer .cart_ui_select .select_options {background:#fff;max-height:none;height:300px;border:0;border-top:1px solid #ededed}
.layer .cart_ui_select .select_options li>* {display:block;width:100%;height:32px;padding:0 10px;text-align:left;white-space:nowrap;}
.layer .cart_ui_select .select_options li>a {overflow:hidden;height:auto;padding:10px 10px;position:relative;}
.layer .cart_ui_select .select_options li img,
.layer .cart_ui_select .select_options li .color_box{width:20px;height:20px;margin-right:10px;display:inline-block;vertical-align:middle;}
.layer .cart_ui_select .select_options li>a .option_title {display: inline-block;max-width: 54%;vertical-align: middle;white-space: initial;line-height: 16px;color: #000;}
.layer .cart_ui_select .select_options .num,
.layer .cart_ui_select .select_options .sold_out{
	position: static;
	top: 0;
	right: 0;
	width: auto;
	height: auto;
	line-height: normal;
	border-radius: 0;
	font-weight: 700;
	background: transparent;
	color: #000;
	font-size: 13px;
}
.layer .cart_ui_select .select_options li>a .num,
.layer .cart_ui_select .select_options .sold_out {font-size: 15px;position: absolute;top: 50%;right: 5px;margin-top: -9px;}
.layer .cart_ui_select .select_options .sold_out{color:#f54a7e;font-weight:400}
.layer .cart_ui_select .ui_select>button {border:0}
.layer .cart_ui_select .select_options li>a .num span {font-size:11px}