@charset "UTF-8";

.main_contents{padding-bottom:0 !important; background:#fff;}
.main_contents .section:not(.main_visual){position:relative; padding:25px 0;}
.main_contents .section>.title{position: relative;	/* height: 40px; */	padding: 0 45px 14px 15px; font-size: 22px; color: #000; font-weight: 300;
	line-height: 1.2;}
.main_contents .section>.title:before,
.main_contents .section .more{content:''; display:inline-block; width:38px; height:21px; background:url(/mo/ko/images/main/ico_main_title.png) no-repeat; background-size:38px; vertical-align: top;}
.main_contents .section>.title:before{margin-top:2px; margin-right:5px; }
.main_contents .section .more{position:absolute; top:25px; right:10px; overflow:hidden; padding-top:21px; height:0; line-height: 1.2; background-position:0 -168px;}
.main_contents .section .slide{padding:0;}
.main_contents .item_title{overflow:hidden ; display:block; width:100%; height:2.6em; margin-top:10px; line-height:1.3; font-size:14px; font-weight:300; color:#000; text-overflow:ellipsis;}
.main_contents .item_title{display:-webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.main_contents .price{display:block; padding-top:5px; line-height:1.3;}
.main_contents .price b{font-size:17px; font-family:Arial; font-weight:bold;}
.main_contents .price del{font-size:12px; color:#999; font-family:Arial;}
.main_contents .loading{padding:10% 0;}

/* 슬라이드 인디케이터 */
.main_slide .ix-thumbs{left:auto; right:15px; bottom:22%; padding:0;}
.main_slide .ix-list-item>a{position:relative; margin-bottom: 24.065%; text-align:left;}
.main_slide .ix-list-item>a:after{content:''; position:absolute; bottom:0; left:0; right:0; z-index: 1; height: 20%; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}
.main_slide .title{overflow:visible; position:absolute; bottom:0; left: 15px; right: 50px; z-index: 2; padding-bottom: 10px; line-height: 1.1; font-size: 32px; white-space: inherit; text-overflow: inherit;}
.main_slide .text{position:absolute; bottom:-20%; left:0; z-index: 2; padding: 0 15px; font-weight:300; font-size:16px; }
.main_slide .paging{bottom:26.5%; right:15px; color:#000;}

/* new item */
.new_item .slide .ix-list-viewport{padding-bottom:10px;}
.new_item .slide .ix-list-item{width:60%; margin-left:15px; text-align:left; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.new_item .slide .lazy_load_wrap{background-color:#f5f5f5;}
.new_item .slide .lazy_load{width:100%;}  /* 20170715:썸네일크기수정 */
/* .new_item .slide .lazy_load{top:15px; left:15px; width:calc(100% - 30px);} */
.new_item .slide .item_title{padding:0 10px; }
.new_item .slide .price{padding:10px;}

/* 추천 태그 */
.main_contents .recommend_tag .title:before{width:25px; background-position:0 -21px;}
	.recommend_tag .keywords{padding:0 7.5px;}
	.recommend_tag .keywords>*{display:inline-block; height:40px; padding:0 10px; margin:7.5px; font-size:14px; color:#000; font-weight:300; border-radius:20px;-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); line-height:40px;}

/* 에뛰드 픽*/
.main_contents .etude_pick .title:before{width:29px; background-position:0 -42px;}
	.etude_pick .two_half{padding:0;}
	.etude_pick .ix-list-item{width:40%;}
	.etude_pick .ix-list-item img{-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
	.etude_pick .lazy_load_wrap{padding-top:100%;}
	.etude_pick .ix-list-item a{}
	.etude_pick .ix-list-item a:before{content:''; position:absolute; top:10px; right:10px;z-index: 2; width:15px; height:15px; background:url(/mo/ko/images/common/ico.png) no-repeat -85px -90px; background-size:100px;}

/* 핫 딜*/
.main_contents .hot_deal>.title{color:#fff; font-weight:100;}
.main_contents .hot_deal>.title:before{width:34px; background-position:0 -63px;}
.main_contents .hot_deal .more{background-position:0 -189px;}
.main_contents .hot_deal{background:#f54a7e;}
.main_contents .hot_deal .slide{margin-left:15px; width:auto;}
.main_contents .hot_deal .ix-list-item{position:relative; width:85%; margin-right:15px; background:#fff;}
.main_contents .hot_deal .lazy_load_wrap{padding-top:95%; background-color:#f5f5f5;}
.main_contents .hot_deal .lazy_load{top:45px; left:30px; width:calc(100% - 60px);}
.main_contents .hot_deal .ui_remain_timer{position:absolute; top:15px; left:50%; z-index:2; display:inline-block; margin-left:-57px; background:#fff; padding:9px 20px 8px 10px; border-radius:20px; font-size:14px; font-family:arial; color:#000; font-weight:bold; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.main_contents .hot_deal .ui_remain_timer:before{content:''; display: inline-block; width:15px; height:15px; margin:-2px 5px 0 0; background:url(/mo/ko/images/common/ico.png) no-repeat -20px -200px; background-size:100px; vertical-align: middle;}
.main_contents .hot_deal .ix-list-item .info{padding:10px;}
.main_contents .hot_deal .discount{font-size:22px;font-weight: 700;font-family: 'Arial';}
.main_contents .hot_deal .discount em{font-weight: 400;}
.main_contents .hot_deal .info .title{padding-top:10px; line-height:1.2; text-align:center; font-size:14px; color:#000;}
.main_contents .hot_deal .price_wrap{overflow: hidden;display: table;width: 100%;padding-top:10px; margin-top:10px; border-top:1px solid #ebebeb; text-align:center; line-height: 1.3;}
.main_contents .hot_deal .btn_review{position:absolute; bottom:5px; right:5px; overflow: visible; width:25px; height:21px; padding:0; background:url(/mo/ko/images/common/ico.png) no-repeat -80px -135px; background-size:100px;}
.main_contents .hot_deal .btn_review .bubble{position:absolute; top:-5px; right:70%;  background:#f54a7e; color:#fff; font-size:9px; padding:2px 5px 3px; border-radius:10px; white-space:nowrap;}

.main_contents .hot_deal .price_wrap > *{display: inline-block;vertical-align:middle;}
.main_contents .hot_deal .price_wrap del{color: #999;font-size: 12px;padding-right: 5px;}
.main_contents .hot_deal .price_wrap .price{padding-top: 0;font-size: 17px;color: #000;font-weight: 700;}
.main_contents .hot_deal .price_wrap .price em{font-size: 13px;color: #000;font-weight: 400;}
.main_contents .hot_deal .price_wrap .sale_count{float: right;padding-top: 5px;color: #999;}


/* 베스트 */
.main_contents .best_item .title:before{width:26px; background-position:0 -84px;}
.best_item .slide{width:auto; margin:0 15px;}
.best_item .ix-list-viewport{height:289px;}
.best_item ul{border-top:1px solid #ebebeb;}
.best_item li a{display:table !important; width: 100%; table-layout: fixed; border-bottom:1px solid #ebebeb; text-align:left;}
.best_item li a>*{display:table-cell; vertical-align: middle; line-height:1.3;}
.best_item .grade{width:60px; text-align: center; font-family: Arial; font-size:17px; color:#000;}
.best_item .grade span{display:block; margin-top:5px; font-size: 11px;}
.best_item .grade span:before{font-size:10px;}
.best_item .grade span.up{color:#f54a7e;}
.best_item .grade span.up:before{content:'▲ ';}
.best_item .grade span.down{color:#9adada;}
.best_item .grade span.down:before{content:'▼ ';}
.best_item li .item_title{max-height:2.6em; height: auto;}
.best_item .img{position:relative; overflow: hidden; width:115px; height:95px;}
.best_item .img img{position:absolute; top:10px; left:0;}
.best_item .price{display:block; font-size:12px;}

/* 올해의 컬러 */
.main_contents .recommend_item .title:before{width:24px; background-position:0 -105px;}
.recommend_item .ix-list-viewport{padding-bottom:10px;}
.recommend_item .ix-list-item{width:40%;-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
.recommend_item .lazy_load{width:100%;} /* 20170715:썸네일크기수정 */
/* .recommend_item .lazy_load{top:15px; left:15px; width:calc(100% - 30px);} */
.recommend_item .slide .item_title{padding:0 15px;}
.recommend_item .slide .price{display:block; padding:5px 15px 15px;}
.main_contents .recommend_item .lazy_load_wrap:before{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(255,255,255,0.2);}

	/* ch 에뛰드 */
.main_contents .ch_etude .title:before{width:26px; background-position:0 -126px;}
.main_contents .ch_etude .video_wrap .thumbnail{width: 100%;height: 100%;}
.main_contents .ch_etude .video_wrap .thumbnail img{width: 100%;height: 100%;}
.main_contents .ch_etude .video_wrap{margin:0 15px;}
.main_contents .ch_etude dl{padding:15px;}
.main_contents .ch_etude dt{font-size:14px;}
.main_contents .ch_etude li a{display:block;padding:0 5px;}
.main_contents .ch_etude .lazy_load{top:10px; left:5px; width:calc(100% - 10px);}


/* 9 looks */
.main_contents .nine_looks .title:before{width:34px; background-position:0 -147px;}
.nine_looks .ix-list-viewport{padding-bottom:10px;}
.nine_looks .ix-list-item{width:81%; margin-left:15px; text-align:left; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);}
/*.nine_looks .ix-list-item .lazy_load_wrap{padding-top:50%;} */
.nine_looks .item_title{position:absolute; z-index: 1; height:auto; padding:0 15px;}
.nine_looks .tag{display:block; padding:20px 15px 25px; height:auto; color:#f54a7e;}

/* banner */
.main_contents .banner{position: relative; color:#000;}
.main_contents .banner .title{position:absolute;bottom:27%; left: 15px; right: 15px; z-index: 2; font-size: 32px;}
.main_contents .banner .text{position:absolute; bottom:6%; left:15px; right: 15px; z-index: 2; font-weight:300; font-size:16px; }
.main_contents .banner.gradient a:after{content:''; position:absolute; bottom:24.065%; left:0; right:0; z-index: 1; height: 20%; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}

/* 쇼핑 히스토리 */
.history_delete{padding:10px 15px; text-align:right;}
.history_delete button{padding:0;}
.history_delete .ico_trash{display:inline-block; width:20px; height:21px; background:url(/mo/ko/images/main/ico_main_title.png) no-repeat 0 -210px; background-size:38px;}
.shopping_history{position:relative;}
.shopping_history:before{content:''; position:absolute; top:0; left:40px; bottom:0; z-index: 0; width:0; border-left:1px dashed #ebebeb;}
.shopping_history .history_wrap{position: relative; z-index: 1;}
.shopping_history .history_wrap + .history_wrap{margin-top:40px;}
.shopping_history .history_header{margin-bottom:20px;}
.shopping_history .history_header *{line-height:18px;}
.shopping_history .history_header .num{font-size:14px; color:#000;}
.shopping_history .state{display:inline-block; width:50px; border:1px solid #b4b4b4; font-size:11px; text-align:center; line-height:16px; border-radius: 9px; background:#fff; color:#999;}
.shopping_history .history_header .state{background:#f5f5f5;}
.shopping_history .history_list a{display:block;}
.shopping_history .history_list li span{display:inline-block; vertical-align: top;}
.shopping_history .history_list li span:first-child{margin-right:15px;}
.shopping_history .history_list li + li{margin-top:20px;}
.shopping_history .history_list .thumb{width:70px; background:#f5f5f5; vertical-align: top;}
.shopping_history .history_list .title{max-width:calc(100% - 70px); line-height:1.3; font-weight:300; font-size:14px; color:#000;}
.shopping_history .history_list .thumb + .title{max-width:calc(100% - 90px);}

.notification_setting{padding:10px 15px; text-align:right;}
.notification_setting button{padding:0;}
.notification_setting .ico_setting{display:inline-block; width:20px; height:21px; background:url(/mo/ko/images/main/ico_main_title.png) no-repeat 0 -231px; background-size:38px;}
.notification li:after{content:''; display: block; clear: both;}
.notification li + li{margin-top:20px;}
.notification li .state{float:left; width:50px; border:1px solid #b4b4b4; font-size:11px; text-align:center; line-height:16px; border-radius: 9px; background:#fff; color:#999;}
.notification li .cont{float:right; width:calc(100% - 70px); line-height:1.3; font-weight:300; font-size:14px; color:#000;}
.notification li .cont img{margin-top:10px;}

.notification_layer .check_wrap.switch>label:before{right:0;}
.notification_layer .check_wrap.switch>label:after{right:17px;}
.notification_layer .check_wrap.switch>input:checked + label:after{right: 1px;}
