@charset "UTF-8";

/* 회원가입, 로그인, 회원정보 */
/* 회원가입 */
.member_join{}
.member_choice .panel{padding-top:23px;text-align:center;}
.member_choice .btn_area {margin-top:21px;}
.member_choice .btn_area:before {display:none;}
.member_choice .list_bullet_dash {margin-top:10px;}
.member_join .certification{}
	.certification>div{margin-bottom:20px;}
	.certification>div:after{content:''; display:block; clear:both;}
	.certification>div>*{display:block; width:calc(50% - 5px); margin:0 auto; padding-bottom:10px; text-align:center; background:#ebebeb; border-radius:10px; line-height:1.3; font-size:12px; font-weight:500; color:#333;}
	.certification>div>*:not(:only-child){float:left;}
	.certification>div>* + *{float:right !important;}
	.certification>div>*:active{background-color:#d2d2d2;}
 	.certification [class^="btn_"]{margin-bottom:20px;}
.member_join .h_title.sub {line-height:1.625em;}
.member_join .h_title.sub + [class^="text"] {margin-top:5px;}
.certification_method>li{display:inline-block; width:210px; height:230px; margin:50px 0; padding:60px 0; border:1px solid #444; font-size:16px; font-weight:500;}
.certification_method>li+li{margin-left:40px;}
.certification_method + [class^="list_"]{margin-left:30px;}

.policy_form {}
.policy_form [class^="list"]>li {position:relative;padding-right:20px;}
.policy_form [class^="list"]>li .btn_detail {position:absolute;top:3px;right:0;overflow:hidden;width:14px;height:20px;font-size:0;line-height:0;}
.policy_form [class^="list"]>li .btn_detail:before {display:none;}
.policy_form [class^="list"]>li .btn_detail:after {position:absolute;top:50%;left:50%;display:block;width:6px;height:10px;margin:-5px 0 0 -3px;background:url(/mo/ko/images/common/arr_right1.png) no-repeat left top;background-size:100%;content:'';}
.policy_form .form:not(:first-child){}
.policy_form .check_wrap + button{margin-left:30px;}
.policy_form .agree_box label{color:#666;}
.policy_form .agree_box [class^="list"] {}
.policy_form .agree_box [class^="list"] li ~ li {margin-top:12px;}
.policy_form .agree_box [class^="list"] .check_wrap {font-size:12px;}
.policy_form .agree_box + [class^="bullet"] {margin-top:15px;}
.policy_form .dl_cont + .form .agree_box {margin-top:0;}
.policy_form .dl_cont {margin:24px 0 21px;}
.policy_form .dl_cont dt {margin-bottom:5px;padding-bottom:0;font-size:12px;font-weight:500;}
.policy_form .form + [class^="bullet"] {margin-top:20px;}
.policy_form .all_check {margin-top:23px;}
.policy_form .all_check .agree_box {padding-bottom:0;border-bottom:none;}
.dl_cont{position:relative;}
.dl_cont [class^="btn_"]{}
.policy_form .form_title + .form{}
.member_join .check_all:after{content:''; display: block; clear: both;}
.member_join .check_all>*{float:left;}
.member_join .check_all .check_wrap label {font-size:14px;}
.member_join .str {font-size:14px; font-weight:500;text-align:center;}
.member_join .info_box {margin-top:20px;font-size:12px;text-align:center;}
.member_join .info_box .view_id {color:#f54a7e;}
.member_join .info_box .data {display:block;margin-top:8px;}
.member_join .check_set.col_02>*{width:49%; margin:2px 0 3px;}

/* 로그인 */
.login{}
.login [class^="text"] + .keyboard_view {margin-top:22px;}
.login .keyboard_view {text-align:right;}
.login .keyboard_view .view {position:relative;padding-right:18px;font-size:12px;color:#666;}
.login .keyboard_view .view:before {position:absolute;top:50%;right:0;display:block;overflow:hidden;width:11px;height:7px;margin-top:-3px;background:url(/mo/ko/images/common/arr_onoff.png) no-repeat right top;background-size:11px 15px;content:'';}
.login .keyboard_view.on .view:before {background-position:right -8px;}
.login .keyboard_view + .form {margin-top:10px;}
.login .keyboard_img {display:none; margin-top:10px;}
.login .keyboard_view.on .view + .keyboard_img {display:block;}
.login .login_area {}
.login .login_area .input_wrap + .input_wrap {margin-top:15px;}
.login .login_area .clear {margin-top:15px;}
.login .check_wrap + div {}
.login .check_wrap + div a {line-height:26px;}
.login .check_wrap + div a + a {position:relative;display: inline-block;margin-left:11px;padding-left:11px;}
.login .check_wrap + div a + a:before {position:absolute;top:8px;left:0;display:block;width:1px;height:10px;background:#c9c9c9;content:'';}
.login .login_input{position:relative; margin:15px 0; padding-right:160px;}
.login .login_input>div + div{margin-top:10px;}
.login [class^="btn_"]{margin-top:15px;}
.login [class^="text"] {font-size:12px;}
.login .panel_cont{position:relative;}
	.sns ul:after{content:''; display:block; clear:both;}
	.sns li{float:left; width:calc((100% - 20px) / 3); text-align:center;}
	.sns li + li{margin-left:10px;}
	.sns li a{position:relative;display:block; padding:20px 0; background:#fff; border:1px solid #ddd;}
	.sns li a:before {display:block;width:20px;height:20px;margin:0 auto 10px;background:url(/mo/ko/images/common/ico_sns.png) no-repeat left top;background-size:20px 70px;content:'';}
	.sns li:nth-child(1){color:#36ac36;}
	.sns li:nth-child(2){color:#3c5a99;}
	.sns li:nth-child(2) a:before{background-position:left -25px;}
	.sns li:nth-child(3) a:before{background-position:left -50px;}
.login .dl_cont dt {padding:0;}
.login .dl_cont [class^="text"] {margin-top:5px;}
.login .dl_cont dd [class^="btn_"] {margin-top:11px;}
.login .dl_cont dd [class^="btn_"] + [class^="btn_"] {margin-top:15px;}
.login .form + [class^="list"] {margin-top:15px;}
.login .panel ~ .panel {margin-top:15px;}
.login .form ~ dl{margin-top:30px;}

/* 아이디/비밀번호 찾기 */
.find_id_pwd{}
.find_id_pwd .h_title.sub {line-height:26px;}
.find_id_pwd .panel_cont{padding:0 15px;}
.find_id_pwd .check_wrap input[type="radio"] + label {font-weight:400;}
.find_id_pwd .box [class^="btn_"] ~ [class^="btn_"] {margin-top:15px;}
.find_id_pwd .method:after{content:''; display:block; clear:both;}
.find_id_pwd .method>*{position:relative; width:calc(50% - 5px); margin-bottom:10px; background:#ebebeb; padding:15px 10px; border-radius:5px;}
.find_id_pwd .method>*:before{content:''; display:inline-block; width:40px; height:37px; margin-right:5px; background:url(/mo/ko/images/member/ico_certification.png) no-repeat; background-size:100%; vertical-align:middle;}
.find_id_pwd .method>*>*{display:inline-block; vertical-align:middle; line-height:1.5;}
.find_id_pwd .method>*:nth-child(odd){float:left;}
.find_id_pwd .method>*:nth-child(even){float:right;}
.find_id_pwd .method>*:nth-child(2):before{background-position:0 33%;}
.find_id_pwd .method>*:nth-child(3):before{background-position:0 67%;}
.find_id_pwd .method>*:nth-child(4):before{background-position:0 100%;}
.find_id_pwd .info_box {margin-top:14px;font-size:12px;text-align:center;}
.find_id_pwd .info_box .view_id {color:#f54a7e;}
.find_id_pwd .info_box .data {display:block;margin-top:9px;}
.find_id_pwd .info_box .text {margin-top:25px;}
.find_id_pwd .ui_table>dl>dt {width:18%;padding:0;}
.find_id_pwd .ui_table .input_group {margin-top:15px;}
.find_id_pwd .input_id {text-align:center;}
.find_id_pwd .input_id label{margin-right:20px;}
.find_id_pwd .panel + .method{margin-top:30px;}

/* 캡차 */
.captcha .img{height:65px; width:calc(100% - 100px); border:1px solid #333;}
.captcha .btns{width:90px;}
.captcha button{width:100%; height:30px; background:#d2d2d2; border:1px solid #999; text-align:center;}
.captcha button + button{margin-top:5px;}