<dl class="layer">
	<dt class="layer_title brd">상담 평가하기</dt>
	<dd class="layer_cont">
		<fieldset class="form align_center">
			<legend class="sr_only">상담 평가 항목</legend>
			<p class="font_lg mgb20">답변 완료된 상담에 만족하시나요?</p>
			<div class="check_set">
				<span class="check_wrap base"><input type="radio" name="responseEvalCode" id="satisfaction" value="Satisfaction" checked=""><label for="satisfaction"> 만족해요</label></span>
				<span class="check_wrap base"><input type="radio" name="responseEvalCode" id="dissatisfaction" value="Dissatisfaction"><label for="dissatisfaction"> 불만족해요</label></span>
			</div>
		</fieldset>
		<div class="layer_btns">
			<a href="#none" class="btn_fix_bordered" id="b_evalCancel">취소</a> <!-- 버튼변경_2018-08-20 -->
			<a href="#none" class="btn_fix_neutral btn_default_modal_confirm" id="b_evalConfirm">확인</a> <!-- 버튼변경_2018-08-20 -->
		</div>
	</dd>
</dl>