{{#each this.data}}
	<li class="ix-list-item">
		<div class="item">
			<div class="item_images">
				{{!-- 대표 이미지 --}}
				<a href="#" class="lazy_load_wrap"><img class="lazy_load" src="" data-src="/pc/ko/images/dummy/650001018_IM_01.png" alt=""></a>
			</div>
			<div class="info_box">
				{{!-- flag --}}
				<div class="flag_set">
					<span class="best">베스트</span>
					<span class="event">이벤트</span>
				</div>
				{{!-- 상품명 --}}
				<div class="title_area">
					<span class="title">유브이 더블 컷 산뜻 선 젤 SPF50+/PA++++</span>
				</div>
				<div class="item_option">
					<p class="option_name">1호 트윙클라벤더 쥬얼</p>
				</div>

				{{!-- 가격,장바구니 --}}
				<div class="price_area">
					<div class="discount">
						<strong class="to">50<em>%</em></strong>
					</div>
					<div class="price">
						<strong>12,600<em>원</em></strong>
					</div>
				</div>
			</div>
		</div>
	</li>
{{/each}}