<div class="reason_confirm">
	<div>
		<dl>
			<dt>{{this.title}} 사유</dt>
			<dd>{{this.receivedClaimReasonName}}</dd>
		</dl>
		<dl>
			<dt>{{this.title}} 내용</dt>
			<dd>{{this.foReceivedClaimReason}}</dd>
		</dl>
	</div>
</div>