				<div class="item_info" >
					<!--결제 히든값-->
					<input type="hidden" name="onlinePordSn" th:value="${ordOnlineProd.onlineProdCode}"/>
					<input type="hidden" name="prodName" th:value="${ordOnlineProd.onlineProdName}"/>
					<input type="hidden" name="prodQty" th:value="${ordOnlineProd.ordQtySum}"/>
					<!--//결제 히든값-->
					<input type="hidden" id="ordHistProdCnt" name="ordHistProdCnt" th:value="${#lists.size(ordOnlineProd.ordHistProdList)}"/>
					<!--/* 상품 선택 */-->
					<div class="item_thumb">
						<img th:if="${ordOnlineProd.onlineProdImgUrl != null}" th:src="${ordOnlineProd.onlineProdImgUrl}" class="thm_cart_item">
						<img th:if="${ordOnlineProd.onlineProdImgUrl == null}" ap:src="@{/images/cart/no_img.png}" class="thm_cart_item">
					</div>
					<!--/* 상품/플래그/옵션명 */-->
					<div class="item_name">
						<span class="title" th:text="${ordOnlineProd.onlineProdName}">애니 쿠편 올데이 퍼펙트 리필 SPF50+/PA+++</span>
						<p class="opt">옵션 :
							<th:block th:each="ordHistProd, iterStat : ${ordOnlineProd.ordHistProdList}"
									  th:text="!${iterStat.last} ? ${ordHistProd.ordProdEx.prodNameBlang} + ' (' + ${ordHistProd.ordQty} + ')개' + ' / ' : ${ordHistProd.ordProdEx.prodNameBlang} + ' (' + ${ordHistProd.ordQty} + ')개'"
								></th:block>
						</p>
					</div>
					<!--/* 상품 수량 */-->
					<div class="count">
						<p class="text_center" th:if="${ordOnlineProd.ordHistProdTypeCode == 'Ord'}" th:text="${ordOnlineProd.ordQtySum > 0 ? ordOnlineProd.ordQtySum + '개' : '0개'}">0개</p>
						<p class="text_center" th:if="${ordOnlineProd.ordHistProdTypeCode == 'BulkDc'}" th:text="${ordOnlineProd.ordQtySum > 0 ? ordOnlineProd.ordQtySum + 'set' : '0set'}">0set</p>
					</div>
					<!--/* 포인트 및 가격 */-->
					<div class="price">
						<span class="strong"><b th:text="${#IntegUtil.toCommaNumber(ordOnlineProd.finalOnlineSaleAmtPcurSum)}">0</b>원</span>
					</div>
					<!--/* 비고 */-->
					<div class="btns">
						적립제외, 쿠폰제외
					</div>
				</div>
