            <!-- M+N프로모션 -->
            <div class="promotion" >
                <strong th:text="${mPlusNPromo.promoName}">[EVENT] 섀도우 week 싱글 섀도우 1+1</strong> 
                <!--/* 상품들 */-->
                <th:block th:if="${#lists.size(mPlusNPromo.ordOnlineProdFoList) > 0}">
                  <div class="item_wrap" th:each="ordOnlineProd : ${mPlusNPromo.ordOnlineProdFoList}">
                        <th:block ap:replace="~{order/fragment/order-ordonlineprod-info}"/>
                  </div>
                </th:block>
            </div>
        