<th:block layout:fragment="beauty-point-list">


	<table class="pbody data_table th_gray" th:if="${ptBrkd.pageVo.totalRowCount != '0'}">
		<caption class="sr_only">뷰티포인트 적립 내역으로 일자 내용 적립/사용</caption>
		<colgroup>
			<col style="width:90px">
			<col>
			<col style="width:100px">
		</colgroup>
		<thead>
		<tr>
			<th scope="col">일자</th>
			<th scope="col">내용</th>
			<th scope="col">적립/사용</th>
		</tr>
		</thead>
		<tbody>
			<div ap:replace="~{my/fragment/beauty-point-body :: beauty-point-body}"></div>
		</tbody>
	</table>
  	
	<button th:if="${ptBrkd.pageVo.totalRowCount != '0'}" type="button" class="btn_lg_more pbody" onclick="more()" ><span>더보기</span><i class="ico_down"></i></button>
	
	<th:block th:if="${ptBrkd.pageVo.totalRowCount == '0'}">
		<div class="pbody no_data">
			<b>뷰티포인트 내역이<br>
				없습니다</b>
		</div>
	</th:block>
</th:block>