<dd class="layer_cont">
	<div class="video_wrap">
		<button type="button" class="thumbnail"><img alt="" src="{{ this.videoImgThumbnailUrl }}"></button>
		<iframe class="youtube_video" width="800" height="450" src="{{ this.videoUrl }}?enablejsapi=1" frameborder="0" allowfullscreen="" data-vendor="youtube" data-ratio="true" data-mute="false"></iframe>
	</div>
</dd>


