{{#xif totalLength '>' 0 }}
    {{#each result }}
        <dl>
            <dt>
            		<span class="title">{{inquiryText}}</span>
                	<small>{{inquiryTypeName}}</small>
                	<button type="button"><span class="sr_only">더보기</span></button>
            </dt>
            <dd>
                <div class="cont">
                    <p class="text">{{{responseBodyText}}}</p>
                </div>
            </dd>
        </dl>
    {{/each}}
{{/xif}}