<dt class="layer_title">주문선택</dt> <!-- 02-01 수정 -->
<dd class="layer_cont">
	<div class="customer_center"> <!-- 01-24 클래스 위치 수정  -->
		<!--/* [s]20180531 : 스크롤영역 추가 */-->
        <div class="scroll_area">
			<p class="text_center">상담을 원하는 주문 번호를 선택하세요.</p>
			<br>
			<!-- 02-01 주문선택 테이블 수정 -->
			<table class="ui_table_striped data_table align_center">
			<caption class="sr_only">상담을 위한 주문목록 선택 으로 주문번호/상품명, 주문상태로 구성</caption>
			<colgroup>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">주문번호/상품명</th>
					<th scope="col">주문상태</th>
				</tr>
			</thead>
			<tbody id="more">

			</tbody>
			</table>
			<button type="button" class="btn_lg_more w100p" id="b_more">더보기 <em></em><span></span></button>
			<ul class="loading white">
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<!--/* [e]20180531 : 스크롤영역 추가 */-->
		<div class="page_btns">
			<button class="btn_md_neutral" type="button" id="b_apply" disabled>적용</button>
		</div>
	</div>
</dd>