{{!--
	뷰티즌 SNS 등록 modal
--}}

<dd class="layer_cont">
	<dl class="beautizen_facebook">
		<dt>1. 페이스북 담벼락 올리기</dt>
		<dd>
			<p class="bullet_dot">뷰티즌 이미지를 다운받아 나의 뷰티즌 지원을 알리는 담벼락을 알린다. </p>
		</dd>
		<dt>2. 친구들에게 알리기</dt>
		<dd>
			<p class="bullet_dot">나의 페이스북 친구들이 담벼락을 보고 좋아요를 누르거나 댓글을 달아주면<br>나의 페이스북 활동 지수는 UP!UP!</p>
		</dd>
		<dt>3. 담벼락 주소 입력하기 </dt>
		<dd>
			<fieldset class="form">
				<legend class="sr_only">페이스북 주소 입력</legend>
				<span class="input_wrap w100p"><input type="text" id="blog_url" placeholder="http://"></span>
			</fieldset>
		</dd>
	</dl>
	<div class="page_btns mgt10">
		<button class="btn_lg_secondary" type="button">취소</button>
		<button class="btn_lg_neutral" type="button">확인</button>
	</div>
</dd>

	  
