<div class="section report_wrap">
	<div class="tit_area">
		<p>작성자 : <strong>러블리({{this.memberId}})</strong></p>
		<p>글내용 : <strong>{{{this.prodReviewBodyText}}}</strong></p>
	</div>

	<div class="radio_area01">
		<span class="rdo_h30"><input type="radio" name="radio_1" id="radio1" value="Inappropriate"><label for="radio1">부적절한 내용</label></span>
		<span class="rdo_h30"><input type="radio" name="radio_1" id="radio2" value="Copyright"><label for="radio2">저작권 문제</label></span>
		<span class="rdo_h30"><input type="radio" name="radio_1" id="radio3" value="Ad"><label for="radio3">광고성글</label></span>
		<span class="rdo_h30"><input type="radio" name="radio_1" id="radio4" value="Etc"><label for="radio4">기타</label></span>
	</div>

	<div class="text_input_wrap">
		<p class="txt_in">추가 설명이 필요한 경우 아래 입력해주세요.</p>
		<div class="textarea">
			<textarea name="reportBodyText" id="reportBodyText" placeholder="내용을 입력하세요"></textarea>
		</div>
	</div>
</div>
