<!-- 추가 사은품 -->
<div class="cart_list">
	<dl>
		<dt class="on">
			<strong class="tit">추가 사은품</strong>
			<span class="ui_tooltip detail">
									<button type="button" class="btn_tooltip">자세히</button>
									<span class="arr"></span>
									<span class="layer_tooltip">
										<dl>
											<dt>추가 사은품 안내</dt>
											<dd>
												사은품의 재고가 부족할 경우 사은품이 대체되어 발송될 수 있습니다. <br>
												사은품은 이미지와 상이할 수 있습니다.<br>
												사은품의 교환이나 추가 증정은 불가하며 본품 반품/환불시 사은품도 동봉해주셔야 합니다.
											</dd>
										</dl>
										<button type="button" class="ui_close"><span class="sr_only">툴팁 닫기</span></button>
									</span>
								</span>
		</dt>
		<dd class="single">
			<!-- 스페셜기프트 -->
			<div class="tgArea freegift">
				<dl>
					<dt class="on">
						<strong class="tit">스페셜기프트</strong>
					</dt>
					<dd>
						<div class="cart_cont">
							<p class="caution">뷰티포인트 사용시 스페셜기프트가 증정되지 않습니다.</p>
							<div class="slide sprd_list" data-ix-options="view-length:5; auto-play:false;loop:false;datum-point:-60px">
								<div class="ix-list-viewport">
									<ul class="ix-list-items">
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
									</ul>
								</div>
								<div class="ix-controller">
									<div class="slide_direction">
										<a class="ix-btn-prev" href="#none"><span class="sr_only">이전</span></a>
										<a class="ix-btn-next" href="#none"><span class="sr_only">다음</span></a>
									</div>
								</div>
							</div>
						</div>

						<div class="guide_list">
							<div class="expl">
								<strong class="tit">스페셜 기프트 안내</strong>
								<ul>
									<li>행사 상품 구매시 구매수량당 스페셜 기프트가 증정됩니다. </li>
									<li>뷰티포인트 사용시 스페셜 기프트는 증정되지 않습니다. </li>
									<li>일부 옵션 상품의 경우 스페셜 기프트 증정 대상에서 제외될 수 있습니다. </li>
								</ul>
							</div>
						</div>
					</dd>
				</dl>
			</div>
			<!-- // 스페셜기프트 -->

			<!-- 이벤트 사은품 -->
			<div class="tgArea freegift line">
				<dl>
					<dt class="on">
						<strong class="tit">이벤트 사은품</strong>
					</dt>
					<dd>
						<div class="cart_cont">
							<div class="slide sprd_list" data-ix-options="view-length:5; auto-play:false;loop:false;datum-point:-60px">
								<div class="ix-list-viewport">
									<ul class="ix-list-items">
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
									</ul>
								</div>
								<div class="ix-controller">
									<div class="slide_direction">
										<a class="ix-btn-prev" href="#none"><span class="sr_only">이전</span></a>
										<a class="ix-btn-next" href="#none"><span class="sr_only">다음</span></a>
									</div>
								</div>
							</div>
						</div>

						<div class="guide_list">
							<div class="expl">
								<strong class="tit">이벤트 사은품 안내</strong>
								<ul>
									<li>최종 결제금액을 기준으로 이벤트 조건을 만족하였을 경우, 주문건당 1회 이벤트 사은품이 증정됩니다. </li>
									<li>뷰티포인트 사용시 포인트 금액을 제외한 최종 결제금액 기준으로 사은품이 증정됩니다.</li>
								</ul>
							</div>
						</div>
					</dd>
				</dl>
			</div>
			<!-- // 이벤트 사은품 -->

			<!-- 구매금액대 사은품 삭제_2018-08-23  -->

			<!-- 쿠폰 사은품 -->
			<div class="tgArea freegift line">
				<dl>
					<dt class="on">
						<strong class="tit">쿠폰 사은품</strong>
					</dt>
					<dd>
						<div class="cart_cont">
							<div class="slide sprd_list" data-ix-options="view-length:5; auto-play:false;loop:false;datum-point:-60px">
								<div class="ix-list-viewport">
									<ul class="ix-list-items">
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
										<li class="ix-list-item">
											<img ap:src="@{/images/cart/img_thumb_109.jpg}" alt="">
											<em class="tit">헤라</em>
											<p class="ellipsis">증정품 이름 여기길어지면 말줄임...</p>
										</li>
									</ul>
								</div>
								<div class="ix-controller">
									<div class="slide_direction">
										<a class="ix-btn-prev" href="#none"><span class="sr_only">이전</span></a>
										<a class="ix-btn-next" href="#none"><span class="sr_only">다음</span></a>
									</div>
								</div>
							</div>
						</div>

						<div class="guide_list">
							<div class="expl">
								<strong class="tit">쿠폰 사은품 안내</strong>
								<ul>
									<li>보유하신 쿠폰을 사용하여 사은품을 추가로 받으실 수 있습니다. </li>
									<li>보유한 쿠폰의 사용조건은 상이하며, 자세한 내용은 [마이파우치 - 쿠폰 - 쿠폰안내]에서 확인하실 수 있습니다. </li>
								</ul>
							</div>
						</div>
					</dd>
				</dl>
			</div>
			<!-- // 쿠폰 사은품 -->

			<!-- 증정 기프트카드 -->
			<div class="tgArea freegift line">
				<dl>
					<dt class="on">
						<strong class="tit">증정 기프트카드</strong>
					</dt>
					<dd>
						<div class="cart_cont">
							<p class="caution">증정 기프트카드는 다음 주문에서 사용할 수 있습니다</p>
							<div class="giftcard">
								<div class="txt">
									<p class="ellipsis">기프트카드증정 이벤트명 or 상품명, 기프트카드증정 이벤트명 or 상품명, 넘어가면 말줄임...</p>
									<strong class="price">10,000원</strong>
								</div>
								<div class="txt">
									<p class="ellipsis">기프트카드증정 이벤트명 or 상품명, 기프트카드증정 이벤트명 or 상품명, 넘어가면 말줄임...</p>
									<strong class="price">10,000원</strong>
								</div>
							</div>
						</div>

						<div class="guide_list">
							<div class="expl">
								<strong class="tit">증정 기프트카드 안내</strong>
								<ul>
									<li>이벤트 상품을 구매하시거나 증정 조건 충족시 기프트카드가 증정됩니다. </li>
									<li>기프트카드는 해당 주문의 구매확정 시점에 고객님의 마이파우치로 자동 발급됩니다. </li>
									<li>뷰티포인트 사용시 상품당 스페셜 기프트로 증정되는 기프트카드는 발급대상에서 제외됩니다. </li>
									<li>증정된 기프트카드의 사용기한은 상이할 수 있으며, 만료된 기프트카드의 기간 연장 또는 복원은 불가합니다. </li>
									<li>증정된 주문건의 취소/반품/환불시, 발급받으셨던 기프트카드가 사용되었을 경우 처리가 불가합니다. </li>
								</ul>
							</div>
						</div>
					</dd>
				</dl>
			</div>
			<!-- // 증정 기프트카드 -->

		</dd>
	</dl>
</div>
<!--  // 추가 사은품 -->