<div>
	<div class="clear inner_wrap">
		<ul class="footer_menu">
			
				<li><a href="#none" th:href=@{/common/servicePolicy}>이용약관</a></li>
				<li><a href="#none" th:href=@{/common/personalInfoPolicy}><b>개인정보처리방침</b></a></li>
				<li><a href="#none" th:href=@{/common/imageryIntelliPolicy}>영상정보처리기기 운영&middot;관리 방침</a></li>
				<li><a href="#none" th:href=@{/common/emailCollecting}>이메일 무단수집 거부</a></li>
				<li><a href="#none" th:href=@{/common/enotice}>전자공고</a></li>
				<li><a href="/cs/beautyPoint">뷰티포인트통합회원 안내</a></li>
				<li><a href="/display/store_opening">매장개설문의</a></li>
				<li><a href="/cs/customerCenter">고객센터</a></li><!--/* 20180509 : 메뉴추가 */-->
			
		</ul>
		<div class="select_wrap family_site">
			<button type="button">FAMILY SITE</button>
			<ul class="select_options">
				<li class="select_option"><a href="http://www.etudehouse.com/int/en/index.php" target="_blank" title="새창">글로벌 통합몰</a></li>
				<li class="select_option"><a href="http://www.etude.cn/index.do" target="_blank" title="새창">중문사이트</a></li>
				<li class="select_option"><a href="http://www.etude.jp/index.do" target="_blank" title="새창">일문사이트</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="inner_wrap">
	<ul class="sns_list">
		<li><a target="_blank" href="https://www.facebook.com/etudehouseofficial/" class="facebook"><span class="sr_only">페이스북</span></a></li>
		<li><a target="_blank" href="https://twitter.com/etudeplay" class="twitter"><span class="sr_only">트위터</span></a></li>
		<li><a target="_blank" href="https://www.youtube.com/user/etudeblog" class="youtube"><span class="sr_only">유투브</span></a></li>
		<li><a target="_blank" href="https://www.instagram.com/etudehouseofficial/" class="instagram"><span class="sr_only">인스타그램</span></a></li>
		<li><a target="_blank" href="https://blog.naver.com/etudeblog" class="naver"><span class="sr_only">네이버</span></a></li>
	</ul>
	<div class="clear company_info_wrap">
		<div>
			<p class="text">(주)에뛰드 │ 대표이사:권금주, 서울특별시 용산구 한강대로 100(한강로2가)<br>
				사업자등록번호:135-81-05033  │ 통신판매업신고번호:제2017-서울용산-1292<br>
				개인정보보호책임자:양민주 │ 호스팅제공자:(주)에뛰드  │ etudemall@etude.co.kr<br>
				고객상담 1544-5418(쇼핑몰) │ 080-022-2285(제품 및 매장 외)<br>
				상담시간:평일9시~18시(토/일/공휴일 휴무)</p>
			<div>
				<a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1358105033&apv_perm_no=" class="link" target="_blank" title="새창열림">사업자 정보확인</a> <a href="#none" class="link btn_find_map">찾아오시는 길</a>
			</div>
		</div>
		<div>
			<div class="clear">
				<div>
					<p class="text">저희 쇼핑몰은 고객님의 안전거래를 위해 무통장 입금 거래에 대해 (주)KG이니시스의 INIPAY 에스크로 구매안전 서비스를 적용하고 있습니다.</p>
					<a href="https://mark.inicis.com/mark/escrow_popup.php?no=68169&st=1413531842" target="_blank" title="새창" class="link">서비스 가입 사실 확인</a>
				</div>
				<p class="text">가맹점 테이크아웃서비스에 대해 (주)에뛰드는 통신판매중개 시스템의 제공자로서 통신판매의 당사자가 아닙니다.<br>따라서 테이크아웃 서비스 거래에 대한 주문, 환불 등과 관련한 책임은 각 매장에 있습니다.</p>
			</div>
		</div>
	</div>
	<div class="copy">Copyright©2018 ETUDE HOUSE. All Rights Reserved.</div>
</div>