<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="tag">
    <!--/* js : 공통 variable, api (모든페이지) */-->
    <script type="text/javascript" th:inline="javascript">
        window.AP = {
			DEVICE: 'pc',
            REGION: 'kr',
            LANGUAGE: 'ko',
            CURRENCY_SYMBOL: '원',
			CURRENCY_CODE: 'KRW',
            DATE_FORMAT: 'YYYY.MM.DD',
			CURRENT_DATE: /*[[${currentTimeMillis}]]*/, //server date (milliseconds since 1970/01/01)
			LOGIN_USER: /*[[${session.LOGIN_USER == null or session.LOGIN_USER.member == null ? false : true}]]*/,
			DISPLAY_MENU_ID: /*[[${displayMenuId}]]*/
        };
    </script>

	<!--/* i18n dictionary */-->
	<!--/* <script type="text/javascript" src="dictionary.ko.js"> */-->

    <!--/* youtube api */-->
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

    <!--/* daum map api (TODO: 정식 api key 변경 필요) */-->
	<th:block th:with="url=${#request.serverName}">
		<th:block th:if="${#strings.contains(url,'localhost')}">
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?libraries=services&autoload=false&appkey=e261d4dd86d70e9109569e20530ead98"></script>
		</th:block>
		<th:block th:if="${#strings.contains(url,'ecp-stg.etudehouse.com')}">
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?libraries=services&autoload=false&appkey=e3528d989c6b2066bf14cb6827518deb"></script>
		</th:block>
		<th:block th:unless="${#strings.contains(url,'localhost') || #strings.contains(url,'ecp-stg.etudehouse.com')}">
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?libraries=services&autoload=false&appkey=0367034911d0d4e6d270c13bd07ea3f8"></script>
		</th:block>
	</th:block>
	<script>
		(function () {
			window.onKakaoAPIReady = new $.Deferred();

			//kakao api load
			window.kakaoAsyncInit = function () {
				Kakao.init("[[${@environment.getProperty('kakao.key')}]]");
				window.onKakaoAPIReady.resolve();
			}
		})();
	</script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

	<!--/* artist talk : server  */-->
	<th:block th:unless="${@environment.acceptsProfiles('default', 'local')}">
		<script type="text/javascript" src="//webchat.amorepacific.com/prichat/etude/web/pub/prichat.common.js"></script>
	</th:block>
	<!--/* artist talk : local  */-->
	<th:block th:if="${@environment.acceptsProfiles('default', 'local')}">
		<script type="text/javascript" src="http://10.155.8.51:8405/prichat/etude/web/pub/prichat.common.js"></script>
	</th:block>
</head>
</html>