<div class="cart_item_box_wrap" id="allOnlineProd">
	<!--/* 전체 선택 & 삭제 */-->
	<div class="float_area">
		<div class="f_left">
			<span class="chk_h23"><input type="checkbox" name="allPrdCheck" id="allPrdCheck" checked><label for="check1_1">전체선택</label></span>
		</div>
		<button type="button" class="btn_product_delete f_right"><i class="ico_trash"></i><span>삭제</span></button>
	</div>
	<div class="ui_accordion">
		<dl>
			<dt class="on">
				<b class="title">Apmall 상품 <strong id="onlinePrdCnt"></strong>개</b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button>
			</dt>
			<dd>
			
			</dd>
		</dl>
	</div>
</div>