<div class="ui_sns_share">
	<ul class="sns_share">
		<li>
			<a href="#none" class="share_btn facebook" data-sns-type="facebook">
				<span class="sr_only">facebook</span>
			</a>
		</li>
		<li>
			<a href="#none" class="share_btn url" data-sns-type="url">
				<input type="text" class="url_input" style="display:none;"/>
				<span class="sr_only">url</span>
			</a>
		</li>
	</ul>
</div>