<html ap:decorate="~{layout/only-contents}">
<body>
        <!-- #ap_container -->
        <div ap:fragment="layout-contents">
			<form class="validate" action="/display/sendStoreOpeningInq" method="post">
	            <div class="layer_popup fullpage review">
	                <div class="layer_wrap">
	                    <dl class="layer">
	                        <dt class="layer_title">국내 개설 문의</dt>
	                        <dd class="layer_cont">
	                        	<div class="panel brand_store_opened">
									<h2 class="h_title page">국내 개설 문의하기</h2>
									<p class="text font_md">아래 내용을 입력해주세요.</p>
									<hr class="div m30">
									<fieldset class="form">
										<legend class="sr_only">국내 개설 문의하기 작성</legend>
										<h4 class="h_title cont mgt0"><strong>기본정보</strong></h4>
										<div class="input_group">
											<div class="label">
												<label for="default_name">이름</label>
											</div>
											<div>
												<input type="text" id="default_name" name="name" required="required" placeholder="이름을 입력해 주세요." data-msg="이름을 입력해 주세요.">
											</div>
										</div>
										<div class="input_group">
											<div class="label">
												<label for="default_email">이메일</label>
											</div>
											<div>
												<input type="text" id="default_email" name="email" required="required" placeholder="이메일을 입력해 주세요." data-msg="이메일을 입력해 주세요.">
											</div>
										</div>
										<div class="input_group">
											<div class="label">
												<label for="default_phone">핸드폰 번호</label>
											</div>
											<div>
												<input type="text" id="default_phone" name="phone" required="required" placeholder="휴대폰 번호 ‘-’ 없이 입력해 주세요." data-msg="휴대폰번호를 입력해 주세요.">
											</div>
										</div>
	
										<h4 class="h_title cont mgt30"><strong>개설희망지역</strong></h4>
										<div class="input_group">
											<div>
												<input type="text" name="hopeArea" required="required" placeholder="개설희망지역을 입력해 주세요." data-msg="개설희망지역을 입력해 주세요.">
											</div>
										</div>
	
										<h4 class="h_title cont mgt30"><strong>점포 유무</strong></h4>
										<div class="check_set">
											<span class="check_wrap"><input type="radio" name="existJumpo" id="radio1" checked=""><label for="radio1">없음</label></span>
											<span class="check_wrap"><input type="radio" name="existJumpo" id="radio2"><label for="radio2">있음</label></span>
										</div>
	
										<h4 class="h_title cont mgt30"><strong>투자 가능 금액</strong></h4>
										<div class="input_group">
											<div>
												<input type="text" id="investAmt" name="investAmt" required="required" placeholder="투자가능금액을 입력해 주세요." data-msg="투자가능금액을 입력해 주세요.">
											</div>
										</div>
	
										<h4 class="h_title cont mgt30"><strong>기타 문의사항</strong></h4>
										<div class="input_group">
											<div class="textarea textarea_brand">
												<textarea name="" id="" name="" maxlength="1000" cols="" rows="" placeholder="매장 개설 관련 기타 문의사항을 입력해주세요."></textarea>
											</div>
											<p class="text_right"><small class="count">0/1000</small></p>
										</div>
	
										<h4 class="h_title sub color_gray font_df typ2">
											<span>개인정보 수집 이용동의 (선택)</span>
											<div class="check_set">
												<span class="check_wrap"><input type="checkbox" id="check1"><label for="check1">동의</label></span>
											</div>
										</h4>
										<div class="brand_store_opened_box">
											<p>수집 개인정보 항목 : 작성자명, 이메일주소,<br>핸드폰번호<br>개인정보의 수집 및 이용목적 : 원활한 의사소통</p>
										</div>
	
	
										<div class="form_btns">
											<button type="button" class="btn_lg_secondary" id="btn_cancle">취소</button>
											<button type="button" class="btn_lg_primary" id="btn_send">보내기</button>
										</div>
	
										<div class="panel gray">
											<h4 class="h_title sub typ3"><strong>국내 매장 개설 담당</strong></h4>
											<ul class="list_bullet_dot">
												<li>과장 <strong>김수원</strong><br>TEL 02) 2186-0038   H.P 010-7191-2999<br>E-MAIL swkim@etude.co.kr</li>
												<li>과장 <strong>윤석재</strong><br>TEL 02) 2186-0038   H.P 010-7191-2999<br>E-MAIL swkim@etude.co.kr</li>
											</ul>
										</div>
	
									</fieldset>
								</div>
	                        </dd>
	                    </dl>
	                    <button class="layer_close" type="button">레이어 닫기</button>
	                </div>
	            </div>
            </form>
        </div>
</body>
</html>