<div class="ix-list-viewport">
	<ul class="ix-list-items">
		<li class="ix-list-item">
			<img alt="" src="{{ absolutePath 'images/beautylife/img_buy_now.png' }}">
		</li>
		{{#each this.products}}
		<li class="ix-list-item">
			<a href="{{ this.url }}">
				<img alt="" src="{{ this.img }}">
			</a>
		</li>
		{{/each}}
	</ul>
</div>