<form class="validate">
	<fieldset class="form">
		<legend class="sr_only">정보입력</legend>
		<div class="ui_table">
			<dl>
				<dt><label for="change_user_name"><b>이름</b></label></dt>
				<dd><div class="input_wrap w100p">
					<input type="text" name="change_user_name" id="change_user_name" required="required" data-msg-required="이름을 입력해 주세요.">
				</div></dd>
			</dl>
			<dl>
				<dt><label for="change_user_phone"><b>휴대폰번호</b></label></dt>
				<dd><div class="input_wrap w100p">
					<input type="text" name="change_user_phone" id="change_user_phone" required="required" data-msg-required="휴대폰번호를 입력해 주세요." mobile-number="mobile-number" data-msg-mobile-number="휴대폰 번호를 정확히 입력하세요.">
				</div></dd>
			</dl>
			<dl>
				<dt><label for="change_user_email"><b>이메일</b></label></dt>
				<dd>
					<div class="input_wrap w100p">
						<input type="text" name="change_user_email" id="change_user_email" required="required" email="email" data-msg-required="이메일주소를 입력해 주세요.">
					</div>
					<div class="check_wrap w100p">
						<input type="checkbox" name="change_check_info" id="change_check_info">
						<label for="change_check_info">회원정보도 동일하게 변경</label>
					</div>
				</dd>
			</dl>
		</div>
	</fieldset>
	<div class="page_btns">
		<button class="btn_lg_secondary cancel" type="button">취소</button>
		<button class="btn_lg_neutral change" type="submit">변경하기</button>
	</div>
</form>