<div class="date_picker_layer" style="display:block; visibility:hidden;">
    <div class="layer_wrap">
        <div class="calendar_wrap">
            <div class="date">
                <button type="button" class="navi_prev"><i class="ico_prev"></i><span class="sr_only">prev month</span></button>
                <button type="button" class="date_select">{{!-- select date --}}</button>
                <button type="button" class="navi_next"><i class="ico_next"></i><span class="sr_only">next month</span></button>
                <div class="date_list_layer">
                    {{!-- date-picker-date-list --}}
                </div>
            </div>
            <div class="calendar_content">
                {{!-- calendar-core --}}
            </div>
        </div>
    </div>
</div>