<div class="panel gray">
    <div class="panel_cont">
        <p class="text"><span class="color_dark_gray">찾으시는 주소지 또는 건물명을 입력해 주세요.</span> (예 : 강남대로, 한강로2가, 한강대로 100)</p>
        <div class="input_wrap mgt20">
            <input type="text" class="keyword" title="검색어 입력" placeholder="예) 서초동/강남대로/에뛰드">
            <button type="button" class="btn_search"><span class="sr_only">검색</span></button>
            <button class="input_del" style="display: none;"><i class="ico_close_w"></i><span class="sr_only">검색어 삭제</span></button>
        </div>
    </div>
</div>
{{!-- 검색결과 --}}
<div class="address_result">

</div>