<div class="loading" style="min-height:250px;">
	<span style="position:absolute; top:50%; margin:-14px 0 0 -35px;">
		<img src="{{ absolutePath '/images/common/loading.gif' }}" alt="">
	</span>
</div>