<dt class="sr_only">에뛰드픽 상세보기</dt>
<dd class="layer_cont">
	<div class="slide view" data-ix-options="view-length:1; loop:false;">
		<div class="ix-list-viewport">
			<ul class="ix-list-items">
				{{!-- list --}}
			</ul>
		</div>
		<div class="ix-controller">
			<div class="slide_direction">
				<a class="ix-btn-prev" href="#none"><span class="sr_only">Prev</span></a>
				<a class="ix-btn-next" href="#none"><span class="sr_only">Next</span></a>
			</div>
		</div>
	</div>
	<div class="slide thumbnail" data-ix-options="view-length:9; datum-point:-10px;">
		<div class="ix-list-viewport">
			<ul class="ix-list-items">
				{{!-- thumbnail list --}}
				{{#each this.model}}
				<li class="ix-list-item">
					<button type="button"><img src="{{ this.pixlee_cdn_photos.square_medium_url }}" alt=""></button>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</dd>