<html ap:decorate="~{layout/default}">

<body>
        <!-- #ap_container -->
        <div ap:fragment="layout-contents">
        	<!-- page title -->
            <th:block ap:replace="~{common/fragment/contents-page-title}"/>
            <!-- // page title -->
            <!-- page contents -->
            <div class="ap_contents brand">
				<div class="makeup_dream">
					<!-- tab menu wrap -->
					<div class="ui_tab">
						<!-- tab menu -->
						<div class="tab_menu equally">
							<ul>
								<li><a href="#none" th:href="@{/display/makeup_your_dream(displayMenuId=makeup_your_dream)}">메이크업유어드림</a></li>
								<li class="on"><a href="#none" th:href="@{/display/makeup_your_dream_lecture(displayMenuId=makeup_your_dream_lecture)}">청춘강연</a></li>
								<li><a href="#none" th:href="@{/display/makeup_your_dream_apply(displayMenuId=makeup_your_dream_apply)}">청춘강연 신청</a></li>
							</ul>
						</div>
						<!-- tab content -->
						<div class="tab_cont space">
							<h3 class="sr_only">청춘강연</h3>
							<div class="youth_slogan"><img ap:src="@{/images/brand/img_makeup_dream_04.jpg}" alt="청춘강연"></div>
							<div class="inner_contents">
								<div class="youth_title">
									<div class="title_wrap">
										<h4 class="title">에뛰드의 청춘강연 EP.2</h4>
										<p class="text">7월 14일 신촌유플렉스에서 진행된 에뛰드의 청춘강연</p>
									</div>
									<div class="share">
										<button type="button" class="like"><span class="ico_like"></span>2647</button>
										<button class="btn_share"><span class="ico_share"></span><span class="sr_only">공유하기</span></button>
									</div>
								</div>
								<div class="youth_cont">
									<ul class="img_list">
										<li><img ap:src="@{/images/brand/img_youth_01.jpg}" alt="청춘강연 관련 이미지 1"></li>
									</ul>
									<div class="title">
										<p class="text sm">청춘의 오늘보다 강한</p>
										<p class="text lg">내일을 위한 연습곡</p>
									</div>
									<ul class="img_list">
										<li><img ap:src="@{/images/brand/img_youth_02.jpg}" alt="청춘강연 관련 이미지 2"></li>
									</ul>
									<div class="title">
										<p class="text sm">청춘강연에 참석해주시는 자리수마다 기부금을 매칭하여 </p>
										<p class="text lg">DREAM 장학금으로 지원합니다!</p>
									</div>
									<ul class="img_list">
										<li><img ap:src="@{/images/brand/img_youth_03.jpg}" alt="청춘강연 관련 이미지 3"></li>
									</ul>
									<div class="title">
										<p class="text sm">에뛰드의 두 번째 청춘강연의 </p>
										<p class="text lg">생생한 현장을 함께 느껴보세요!</p>
									</div>
								</div>

								<div class="video_wrap">
									<!-- 섬네일 용 이미지 -->
									<button type="button" class="thumbnail"><img alt="" src="/pc/ko/images/brand/img_youth_04.jpg"></button>
									<iframe class="youtube_video" width="1000" height="560" src="https://www.youtube.com/embed/vQVMekQmUC0?enablejsapi=1" frameborder="0" allowfullscreen="" data-vendor="youtube" data-ratio="true" data-mute="false"></iframe>
								</div>

								<div class="youth_list">
									<h3 class="h_title">청춘강연 전체 보기</h3>

									<ul>
										<li>
											<div class="thumb"><img ap:src="@{/images/brand/img_youth_05.jpg}" alt=""></div>
											<div class="info">
												<a href="#">
													<p class="title">Makeup Your Dream 청춘강연 EP.1</p>
													<p class="text">청춘들이 강연을 통해 조언과 응원을 얻을 수 있는 활동</p>
												</a>
												<div class="etc">
													<span class="date">2018.02.05</span>
													<span class="like"><span class="ico_like"></span>2647</span>
												</div>
											</div>
										</li>
										<li>
											<div class="thumb"><img ap:src="@{/images/brand/img_youth_05.jpg}" alt=""></div>
											<div class="info">
												<a href="#">
													<p class="title">Makeup Your Dream 청춘강연 EP.1</p>
													<p class="text">청춘들이 강연을 통해 조언과 응원을 얻을 수 있는 활동</p>
												</a>
												<div class="etc">
													<span class="date">2018.02.05</span>
													<span class="like"><span class="ico_like"></span>2647</span>
												</div>
											</div>
										</li>
										<li>
											<div class="thumb"><img ap:src="@{/images/brand/img_youth_05.jpg}" alt=""></div>
											<div class="info">
												<a href="#">
													<p class="title">Makeup Your Dream 청춘강연 EP.1</p>
													<p class="text">청춘들이 강연을 통해 조언과 응원을 얻을 수 있는 활동</p>
												</a>
												<div class="etc">
													<span class="date">2018.02.05</span>
													<span class="like"><span class="ico_like"></span>2647</span>
												</div>
											</div>
										</li>
										<li>
											<div class="thumb"><img ap:src="@{/images/brand/img_youth_05.jpg}" alt=""></div>
											<div class="info">
												<a href="#">
													<p class="title">Makeup Your Dream 청춘강연 EP.1</p>
													<p class="text">청춘들이 강연을 통해 조언과 응원을 얻을 수 있는 활동</p>
												</a>
												<div class="etc">
													<span class="date">2018.02.05</span>
													<span class="like"><span class="ico_like"></span>2647</span>
												</div>
											</div>
										</li>
									</ul>
								<!-- 
									<div class="pagination">
										<a href="#none" class="navi first">처음</a>
										<a href="#none" class="navi prev">이전</a>
										<a href="#none" class="disabled">1</a>
										<a href="#none">2</a>
										<a href="#none">3</a>
										<span class="current">4</span>
										<a href="#none">5</a>
										<a href="#none">6</a>
										<a href="#none">7</a>
										<a href="#none">8</a>
										<a href="#none">9</a>
										<a href="#none">10</a>
										<a href="#none" class="navi next">다음</a>
										<a href="#none" class="navi last">끝</a>
									</div>
									 //-->
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        	<!-- // page contents -->
        </div><!-- // #ap_container -->

        <!--/* 하단 js등을 실행하는 마지막 영역 */-->
        <th:block ap:fragment="layout-endpoint">
			<script>
				$( '.youtube_video' ).video();
			</script>
        </th:block>
</body>
</html>