<html ap:decorate="~{layout/default}">

<body>
        <!-- #ap_container -->
        <div ap:fragment="layout-contents">
        	<!-- page title -->
            <th:block ap:replace="~{common/fragment/contents-page-title}"/>
            <!-- // page title -->
            <!-- page contents -->
            <div class="ap_contents brand">
				<div class="makeup_dream">
					<!-- tab menu wrap -->
					<div class="ui_tab">
						<!-- tab menu -->
						<div class="tab_menu equally">
							<ul>
								<li><a href="#none" th:href="@{/display/makeup_your_dream(displayMenuId=makeup_your_dream)}">메이크업유어드림</a></li>
								<li><a href="#none" th:href="@{/display/makeup_your_dream_lecture(displayMenuId=makeup_your_dream_lecture)}">청춘강연</a></li>
								<li class="on"><a href="#none" th:href="@{/display/makeup_your_dream_apply(displayMenuId=makeup_your_dream_apply)}">청춘강연 신청</a></li>
							</ul>
						</div>
						<!-- tab content -->
						<div class="tab_cont space">
							<h3 class="sr_only">청춘강연 신청</h3>
							<div class="youth_slogan"><img ap:src="@{/images/brand/img_makeup_dream_04.jpg}" alt="청춘강연"></div>
							<div class="inner_contents">
								<div class="youth_cont">
									<div class="title">
										<p class="text lg">지금 신청하세요!</p>
										<p class="text sm">다음 ‘청춘강연’의 주인공은 바로 당신!</p>
									</div>
									<ul class="img_list">
										<li><img ap:src="@{/images/brand/img_youth_06.jpg}" alt="청춘강연 관련 이미지 1"></li>
									</ul>
									<div class="title">
										<p class="text lg">청춘아, 우리 드림멘토 만나러 가자!</p>
										<p class="text sm">미래에 대한 두려움으로 불안한 당신!<br>
											드림 멘토에게 조언과 응원을 얻을 수 있는 청춘 강연에 초대합니다</p>
									</div>
									<div class="youth_event_info">
										<ul>
											<li>
												<b>행사장소</b>
												<span>신촌 유플렉스 12F 제이드홀</span>
											</li>
											<li>
												<b>행사 일시</b>
												<span>2017년 7월 14일(금) 14:00~16:00</span>
											</li>
											<li>
												<b>신청 방법  </b>
												<span>신촌 유플렉스 12F 제이드홀</span>
											</li>
											<li>
												<b>신청 기간  </b>
												<span>2017년 6월 26일(월)~7월 10일(월) </span>
											</li>
											<li>
												<b>초대 인원  </b>
												<span>300명</span>
											</li>
											<li>
												<b>당첨 발표</b>
												<span>드림멘토 강연&다양한 이벤트 (월컴키트, 럭키드로우, SNS 이벤트 등)</span>
											</li>
											<li>
												<b>참여 비용</b>
												<span>무료</span>
											</li>
										</ul>
									</div>
									<p class="bullet_dot mgt30">청춘 강연에 참석해주시는 자리수마다 기부금을 매칭하여 청춘이 꿈을 이룰 수 있는 <em>‘DREAM장학금’</em>으로 지원될 예정입니다.</p>
								</div>

								<div class="page_btns">
									<button class="btn_lg_primary" type="button"  id="btn_lectter_request">신청하기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        	<!-- // page contents -->
        </div><!-- // #ap_container -->

        <!--/* 하단 js등을 실행하는 마지막 영역 */-->
        <th:block ap:fragment="layout-endpoint">
			
			<script th:inline="javascript">
				$('#btn_lectter_request').off('click').on('click', function(e) {
					
					location.href="/display/makeup_your_dream_reserve_regist";
					
				});
			</script>
</th:block>
</body>
</html>