{{#each this}}
	{{#xif this.prodFlagCode '==' 'icon_reco_new'}}		<span class="prd_cate_item typ1">신상품</span>		{{/xif}}
	{{#xif this.prodFlagCode '==' 'icon_pr_prod'}}		<span class="prd_cate_item typ3">이벤트</span>		{{/xif}}
	{{#xif this.prodFlagCode '==' 'icon_reco_md'}}		<span class="prd_cate_item typ4">MD추천</span>		{{/xif}}
	{{#xif this.prodFlagCode '==' 'icon_reco_online'}}	<span class="prd_cate_item typ4">온라인전용</span>	{{/xif}}
	{{#xif this.prodFlagCode '==' 'icon_reco_best_w'}}	<span class="prd_cate_item typ5">베스트</span>		{{/xif}}
{{/each}}