<p class="text_center font_lg color_dark_gray">
	비회원 구매 시, 뷰티 포인트 사용/적립 멤버십 할인,<br>
	행사 및 쿠폰 혜택 적용 등<br>다양한 혜택을 받으실 수 없습니다.<br>
	회원가입 후 다양한 혜택을 누리세요~!
</p>
<div class="non_member_btn">
	<button class="btn_lg_primary btn_login" type="button">로그인</button>
	<div class="page_btns">
		<button class="btn_lg_form btn_none_member_order" type="button">비회원 주문</button>
		<a class="btn_lg_bordered" href="/customer/signup">회원가입</a>
	</div>
</div>