<th:block layout:fragment="prodType">
	<!-- 그룹상품 : 묶음선택상품, 묶음고정상품 -->
	<th:block th:if="${#lists.size(storePickupOnlineProdEx.cartProdExList) > 0}" th:each="cartProdEx : ${storePickupOnlineProdEx.cartProdExList}">
		<div class="cart_item_box type2" th:if="${#lists.size(cartProdEx.cartBulkIncludedProdExList) > 0}">
			<div class="cart_name_wrap">
				<span class="check_wrap">
					<input type="checkbox" name="takeoutChkBox" th:id="'takeoutChkBox' + ${cartStorePickupOnlineProdExCnt.count}" th:value="${cartEx.cartSn} + ',' + ${cartProdEx.cartProdSn}" th:checked="${storePickupOnlineProdEx.selectYn == 'Y'}">
					<label th:for="'takeoutChkBox' + ${cartStorePickupOnlineProdExCnt.count}">체크</label>
				</span>
				<img th:if="${storePickupOnlineProdEx.repOnlineProdImgEx != null}" th:src="${storePickupOnlineProdEx.repOnlineProdImgEx.imgUrl}" class="thm_cart_item">
				<img th:if="${storePickupOnlineProdEx.repOnlineProdImgEx == null}" ap:src="@{/images/cart/no_img.png}" class="thm_cart_item">
				<div class="cart_table_cell">
					<span class="cart_item_name" th:text="${storePickupOnlineProdEx.onlineProdName}">섀도우week 싱글섀도우 2+1</span>
				</div>
				<button type="button" class="btn_cart_item_del" th:onclick="|removeCartProd(this,'${cartEx.cartSn}','${cartProdEx.cartProdSn}')|"><span class="sr_only">없애기</span></button>
			</div>
			<div class="cart_item_info">
				<input type="hidden" name="takeoutPrdSn" th:value="${cartProdEx.prodEx.prodSn}"/>
				<input type="hidden" name="cartProdSn" th:value="${cartProdEx.cartProdSn}"/>
				<input type="hidden" name="cartProdExList" th:value="${cartProdExList}"/>
				<input type="hidden" th:name="'takeoutPrdInfo_' + ${storePickupOnlineProdEx.onlineProdSn}" th:value="${cartEx.cartSn} + ',' + ${cartProdEx.cartProdSn}"/>
				<input type="hidden" th:name="'saleDisplayStatus_' + ${cartProdEx.prodEx.prodSn}" th:value="${cartProdEx.prodEx.saleDisplayStatus}"/>
				<input type="hidden" th:name="'prodInvtExInfo_' + ${storePickupOnlineProdEx.onlineProdSn}" th:value="${cartProdEx.prodEx.prodSn} + ',' + ${cartProdEx.cartProdQty}"/>
				<!--상품수량버튼 제어-->
				<th:block ap:replace="~{cart/fragment/spinner-button-info}"/>
				<!--// 상품수량버튼 제어-->
				<span class="cart_price" th:if="${cartProdEx.prodEx.saleDisplayStatus == 'OnSale'}">
					<span class="left_num">
						<del class="num"
							 th:if="${cartProdEx.calculationResultYn == 'Y'
							 and cartProdEx.calculationResultProduct.productSaleAmountInfo != null
							 and cartProdEx.calculationResultProduct.productSaleAmountInfo.standardCurrency.amount != cartProdEx.calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount}"
								 th:text="${#IntegUtil.toCommaNumber(cartProdEx.calculationResultProduct.productSaleAmountInfo.standardCurrency.amount)} + '원'">
						</del>
						<!--<span>원</span>-->
					</span>
					<span class="right_num">
						<strong class="num"
								th:if="${cartProdEx.calculationResultYn == 'Y' and storePickupOnlineProdEx.finalOnlineSalesAmountInfo != null}"
								th:text="${#IntegUtil.toCommaNumber(storePickupOnlineProdEx.finalOnlineSalesAmountInfo.standardCurrency.amount)}+'원'">0</strong>
						<strong class="num"
								th:if="${cartProdEx.calculationResultYn == 'N' and cartProdEx.prodEx.salePrice != null}"
								th:text="${#IntegUtil.toCommaNumber(cartProdEx.prodEx.salePrice  * cartProdEx.cartProdQty)}+'원'">
						</strong>
						<!--<span>원</span>-->
					</span>
				</span>
				<span class="cart_price" th:if="${cartProdEx.prodEx.saleDisplayStatus == 'OutOfStock' && prodTypecode != 'Presale'}">
					<span class="text_sold_out" >[일시품절]</span>
				</span>
				<span class="cart_price" th:if="${cartProdEx.prodEx.saleDisplayStatus == 'Exhaustion' && prodTypecode == 'Presale'}">
					<span class="text_sold_out" >[예약판매수량소진]</span>
				</span>
			</div>

			<!--단위상품-->
			<div class="cart_item_scroll type3">
				<input type="hidden" name="takeoutPrdSn" th:value="${cartProdEx.prodEx.prodSn}"/>
				<div class="cart_item_info" th:each="bulkDcProdSelectProdEx : ${cartProdEx.cartBulkIncludedProdExList}">
					<!--<img th:if="${bulkDcProdSelectProdEx.includeProdEx.repProdImgEx != null}" th:src="${bulkDcProdSelectProdEx.includeProdEx.repProdImgEx.imgUrl}" class="thm_cart_item">
					<img th:if="${bulkDcProdSelectProdEx.includeProdEx.repProdImgEx == null}" ap:src="@{/images/cart/no_img.png}" class="thm_cart_item">-->
					<span class="cart_option_name" th:text="${bulkDcProdSelectProdEx.includeProdEx.prodName}">새틴 핏 아이즈</span>
					<!--<span class="cart_option_name_sub" th:if="${bulkDcProdSelectProdEx.includeProdEx.var1Val != null}" th:text="${bulkDcProdSelectProdEx.includeProdEx.var1Val}">BR402 커피 인 코냑</span>-->
					<span class="prd_num" th:text="${bulkDcProdSelectProdEx.includedProdQty}+'개'">0</span>
				</div>
			</div>
		</div>
	</th:block>

</th:block>