{{#each this.data}}
<li>
	<a href="#none">
		<span class="round">
			{{!-- this.thumbnail_url 은 이미지가 누락되는 경우가 많아 square_medium_url 사용 --}}
			<img src="{{ this.pixlee_cdn_photos.square_medium_url }}" alt="{{ decodeURIComponent this.alt_text }}" />
		</span>
		<span>{{ this.user_name }}</span>
	</a>
</li>
{{/each}}