<html ap:decorate="~{layout/layout-order-only}">

<body>
<!-- #ap_container -->
<div ap:fragment="layout-contents">
	<!-- page contents -->
	<div class="ap_contents">

		<th:block th:if="${ordEx != null}">
			<div class="section order_complete">
				<p class="text"><em>주문이 완료되었습니다</em></p>
				<dl>
					<dt>주문번호</dt>
					<dd><a href="#none" class="none_num" th:text="${ordEx.ordNo}">0000000000</a></dd>
				</dl>
			</div>
			<div class="section transparent gray_box">
				<ul class="list">
					<li>결제완료 이후에 주문 및 배송에 관한 확인은 마이파우치 &gt; 주문배송조회
						에서 확인하실 수 있습니다.</li>
					<li>기타 주문상품의 교환/반품/환불에 대한 신청이나 문의는 고객센터 1:1 문
						의, 또는 주문배송조회에서 처리 가능합니다.</li>
					<li>주문접수 이후에는 상품 변경이 불가합니다. 부득이 상품 변경이 필요하신
						경우에는 해당 주문건을 취소하신 후에 다시 주문해주시기 바랍니다.</li>
				</ul>
			</div>

			<!--주문상품확인-->
			<th:block ap:replace="~{order/fragment/order-complete/order-complete-01-product-info}"/>
			<!--사은품 확인-->
			<th:block ap:replace="~{order/fragment/order-complete/order-complete-02-freegift-info}"/>
			<!--포장/쇼핑백 추가신청-->
			<th:block ap:replace="~{order/fragment/order-complete/order-complete-04-packing-info}"/>
			<!--배송정보입력-->
			<th:block ap:replace="~{order/fragment/order-complete/order-complete-03-ship-address-info}"/>
			<!--결제수단 선택-->
			<th:block ap:replace="~{order/fragment/order-complete/order-complete-05-pay-method-info}"/>
			<!--최종 결제금액-->
			<th:block ap:replace="~{order/fragment/order-complete/order-complete-06-final-pay-amount-info}"/>
		</th:block>

		<div class="section transparent btn_area">
			<a href="/my/page/onlineOrderShipping" class="btn_h50_wh round">주문배송조회</a>
			<a href="/main" class="btn_h50_pp mgt8 round">쇼핑계속하기</a>
		</div>

	</div>
	<!-- // page contents -->
</div>
<!-- // #ap_container -->

<!--/* 하단 js등을 실행하는 마지막 영역 */-->
<th:block ap:fragment="layout-endpoint">
	<script ap:src="@{/handlebars-templates/compiled/order/complete-final-pay-method.js}"></script> 		<!-- 결제수단 영역 -->
	<script ap:src="@{/handlebars-templates/compiled/order/final-price-amt-pcur.js}"></script> 			<!-- 최종 결제금액 영역 -->

	<script th:inline="javascript">
	$( document ).ready(function() {
		//주문완료 화면 타이틀 지정
		$(".page_title").text("주문완료");
	});
	</script>
</th:block>
</body>
</html>