<!--/* 이벤트 페이지 타이틀 : 공유하기 좋아요 버튼의 경우 */-->
<div class="page_title_area side_util">

	<div class="btns" style="display:none">
		<button type="button" class="btn_share"><i class="ico_share"></i><span class="sr_only">공유하기</span></button>
		<button type="button" class="btn_toggle"><i class="ico_heart"></i><span class="sr_only">좋아요</span></button>
	</div>
	<a href="#none" class="btn_share_txt" style="display:none">공유하기</a>
	<a href="#none" class="btn_list" style="display:none"><span>당첨자 발표</span><i class="ico_arr"></i></a>
	
	<!--/* 메뉴 레이어가 안나올 경우 제목 텍스트 */-->
<!-- 	<h2>
		<th:block th:if="${article != null}">
			<span th:text="${article.articleTitle}">페이지 제목</span>
		</th:block>
		<th:block th:unless="${article != null}">
			<span th:text="${planDisplay.planDisplayTitle}">페이지 제목</span>
		</th:block>
	</h2> -->
</div>