<!--/* 이벤트 페이지 타이틀 : 공유하기 좋아요 버튼의 경우 */-->
<div class="page_title_area side_util">
	<div class="btns">
		<button type="button" class="btn_share"><i class="ico_share"></i><span class="sr_only">공유하기</span></button>
		<button type="button" class="btn_toggle"><i class="ico_heart"></i><span class="sr_only">좋아요</span></button>
	</div>
	<!--/* 메뉴 레이어가 안나올 경우 제목 텍스트 */-->
	<h2><span>페이지 제목</span></h2>
</div>
<!--/* 이벤트 페이지 타이틀 : 당첨자 발표의 경우 */-->
<div class="page_title_area side_util">
	<a href="#none" class="btn_list"><span>당첨자 발표</span><i class="ico_arr"></i></a>

	<!--/* 메뉴 레이어가 안나올 경우 제목 텍스트 */-->
	<h2><span>페이지 제목</span></h2>
</div>

<!--/* 공유하기 */-->
<div class="page_title_area side_util">
	<a href="#none" class="btn_share_txt">공유하기</a>
	<h2><span>페이지 제목</span></h2>
</div>
