<div class="footer_menu">
	<a href="#none">로그인</a>
	<!--<a href="#none">로그아웃</a>-->
	<a href="/cs/customerCenter">고객센터</a>
	<a href="/my/page/employee">임직원서비스</a><!-- 2018-08-20 추가 -->
</div>
<div class="btn_company"><a href="javascript:;" onclick="$(this).toggleClass('on'); $('.company_info').slideToggle();">(주)아모레퍼시픽 사업자 정보</a></div>
<div class="company_info">
	<p class="text">
		(주)아모레퍼시픽 대표이사 : 안세홍<br>
		전자메일주소 : <a href="mailto:apmall_support@amorepacificmall.com" class="f_mail">apmall_support@amorepacificmall.com</a><br>
		서울특별시 용산구 한강대로 100(한강로2가)
	</p>
	<p class="text">
		호스팅제공자 : (주)아모레퍼시픽 / 사업자등록번호 : <a href="#none" class="b_num">106-86-43373</a><br>
		통신판매업신고번호 : 서울용산-1308호(서울 용산구청),<br>
		건강기능식품판매업 영업신고증 제8호
	</p>
	<p class="text phone_num">
		배송, 사이트 관련 문의 고객센터 <a href="tel:080-030-5454">080-030-5454</a> (수신자요금부담)<br>
		평일 09:00~18:00 / 점심 12:00~13:00 (토,일,공휴일 휴무)
	</p>
	<p class="text phone_num">
		제품, 트러블 관련 문의 고객센터 <a href="tel:080-023-5454">080-023-5454</a> (수신자요금부담)<br>
		평일 09:00~18:00 / 점심 12:00~13:00 (토,일,공휴일 휴무)
	</p>
	<p class="real_time_cs"><a href="#none" class="link">실시간 고객상담</a></p>
</div>
<p class="text off_txt"><strong class="txt_tit01">소비자피해보상보험 SGI 서울보증</strong><br>고객님은 안전거래를 위해 현금 결제시 저희 쇼핑몰에서 가입한<br>소비자피해보상보험 서비스를 이용하실 수 있습니다.<br>보상대상 : 미배송/반품,환불거부/쇼핑몰 부도</p>
<p class="f_safe_lg"><a href="https://mall.sgic.co.kr/csh/iutf/sh/shop/CSHINFO004VM0.mvc?tm=3&q_sk=2&q_sv=1068643373" class="link" target="_blank" title="새창"><span>SGI 서울보증 서비스 가입 확인</span></a></p>
<ul class="links">
	<li><a href="#none">이용약관</a></li>
	<li><a href="https://www.beautypoint.co.kr/content/beautypoint/ko-kr/footer/privacy/personal.html" target="_blank" title="새창"><strong>개인정보처리방침</strong></a></li><!-- 2018-08-20 수정 -->
	<li><a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1068643373&apv_perm_no=" target="_blank" title="새창">사업자정보확인</a></li>
</ul>
<p class="copyright">© AMOREPACIFIC CORPORATION. ALL RIGHTS RESERVED</p>