<!--/* 메인 헤더 */-->
<div class="header_common">
	<div class="clear"> <!-- 스크롤시 fixed -->
		<div>
			<h1 class="logo"><a href="#none"><img ap:src="@{/images/common/h1_logo.png}" alt="APmall"></a></h1>
			<button class="btn_menu"><i class="ico_menu_w"></i><span class="sr_only">전체 메뉴</span></button>
		</div>
		<div class="float_right">
			<a href="#none" class="btn_cart">
				<i class="ico_cart"></i>
				<span class="sr_only">장바구니</span>
				<span class="num">99</span>
			</a>
		</div>
	</div>
	<!--/* 좌측 메뉴 카테고리 */-->
	<th:block ap:replace="~{common/fragment/menu-category}"/>
	<!--/* 스크롤시 감추는 영역 */-->
	<fieldset class="search_form">
		<legend class="sr_only">검색</legend>
		<div class="wrap pd010">
			<input type="text" title="검색어 입력" value="블랙쿠션">
			<button type="button" class="btn_del" style="display: block"><i class="ico_close_s_w"></i><span class="sr_only">검색어 삭제</span></button>
		</div>
	</fieldset>
</div>