<div class="page_title_area fixed transparent"><!--/* 스크롤시 transparent 클래스 삭제 */-->
	<h1><span>상품상세</span></h1>
	<!--/* 뒤로가기 버튼이 나올 경우 */-->
	<button class="btn_previous" type="button"><i class="ico_back"></i><span class="sr_only">이전 페이지</span></button>
	<div class="btns">
		<button type="button" class="btn_search"><i class="ico_search"></i><span class="sr_only">검색</span></button>
		<a href="/cart/cartList" class="btn_cart"><i class="ico_cart"></i><span class="sr_only">장바구니 담기</span></a>
	</div>
</div>

<!-- 2018-08-30 장바구니 toast 메시지 추가 : 헤더에 공통으로 적용 필요 -->
<div class="toast_cart_msg" style="display:none;"><a href="/cart/cartList">담은 상품 보러가기</a></div>