<div class="menu_category"> <!--/* 오픈시 open */-->
	
	<!--  로그인 전 - start -->
	<div class="category_header">
		<div class="login_before">
			<a href="javascript:;" class="btn_bd_round01">로그인</a>
			<a href="javascript:;" class="btn_bd_round01">회원가입</a>
		</div>
		
		<button class="btn_chat"><i class="ico_chat"></i><span class="sr_only">챗봇</span></button>
		<button class="btn_close"><i class="ico_close_w"></i><span class="sr_only">카테고리 메뉴 닫기</span></button>
	</div>
	<!-- 로그인 전 - end -->
	
	<!-- 로그인 후 - start -->
	<div class="category_header" style="display:none"><!-- 개발시 스타일 삭제요청 : 프론트 확인용 -->
		<div class="welcome">
			<span class="name"><strong>아모레퍼시픽아모레퍼시픽</strong><span>님</span></span><span class="eng grade">welcome</span>
		</div>
		
		<button class="btn_chat"><i class="ico_chat"></i><span class="sr_only">챗봇</span></button>
		<button class="btn_close"><i class="ico_close_w"></i><span class="sr_only">카테고리 메뉴 닫기</span></button>
		
	</div>
	<!-- 로그인 후 - end -->
	
	<!-- cate_cont01 -->
	<div class="cate_cont01">
		<!-- 로그인 후 노출 : 뷰티포인트 -->
		<div class="section beauty_point" style="display:none"><!-- 개발시 스타일 삭제요청 : 프론트 확인용 -->
			<dl>
				<dt><a href="javascript:;"><span>뷰티포인트</span> <i class="ico_arr"></i></a></dt>
				<dd>
					<strong class="num"><em>3,306</em> P</strong>
				</dd>
			</dl>
		</div>
		
		<!-- 바로가기 메뉴 -->
		<div class="section quick_menu">
			<ul class="menu_list col_04">
				<li><a href="javascript:;"><i class="ico_pouch"></i><span>마이파우치</span></a></li>
				<li><a href="javascript:;"><i class="ico_order"></i><span>주문/배송조회</span></a></li>
				<li><a href="javascript:;"><i class="ico_coupon"></i><span>나의 쿠폰</span></a></li>
				<li><a href="javascript:;"><i class="ico_good"></i><span>좋아요</span></a></li>
				<li><a href="javascript:;"><i class="ico_pay"></i><span>ONE pay 카드</span></a></li>
				<li><a href="javascript:;"><i class="ico_addr"></i><span>배송지관리</span></a></li>
				<li><a href="javascript:;"><i class="ico_gift"></i><span>나의기프트카드</span></a></li>
				<li><a href="javascript:;"><i class="ico_cs"></i><span>고객센터</span></a></li>
			</ul>
		</div>
		
		<!-- 카테고리 -->
		<div class="section cate01">
			<dl class="cate_depth1">
				<dt class="c_tit_16">카테고리</dt>
				<dd>
					<ul class="c_menu_list c_tab">
						<li>
							<a href="#depth2_1">
								<img alt="" ap:src="@{/images/common/img_category_thumb_01.png}">
								<span>스킨케어</span>
							</a>
						</li>
						<li>
							<a href="#depth2_2">
								<img alt="" ap:src="@{/images/common/img_category_thumb_02.png}">
								<span>메이크업</span>
							</a>
						</li>
						<li class="row2">
							<a href="#depth2_3">
								<img alt="" ap:src="@{/images/common/img_category_thumb_03.png}">
								<span>네일&amp;향수</span>
							</a>
							
						</li>
						<li>
							<a href="#depth2_4">
								<img alt="" ap:src="@{/images/common/img_category_thumb_04.png}">
								<span>데일리뷰티</span>
							</a>
						</li>
					</ul>
				</dd>
			</dl>
			
			<!--  depth 2 -->
			<div class="cate_depth2">
				<!-- 스킨케어 -->
				<div id="depth2_1" style="display: none">
					<ul class="category_list">
						<li><a href="javascript:;">전체(360)</a></li>
						<li><a href="javascript:;">클렌징(100)</a></li>
						<li><a href="javascript:;">모이스처라이징(10)</a></li>
						<li><a href="javascript:;">스페셜케어(100)</a></li>
						<li><a href="javascript:;">선케어(100)</a></li>
						<li><a href="javascript:;">세트(10)</a></li>
					</ul>
				</div>
				
				<!-- 메이크럽 -->
				<div id="depth2_2" style="display: none">
					<ul class="category_list">
						<li><a href="javascript:;">전체(360)</a></li>
						<li><a href="javascript:;">페이스(100)</a></li>
						<li><a href="javascript:;">립(10)</a></li>
						<li><a href="javascript:;">아이(100)</a></li>
						<li><a href="javascript:;">치크(100)</a></li>
						<li><a href="javascript:;">키트 &amp; 팔레트(10)</a></li>
					</ul>
				</div>
				
				<!-- 네일&향수 -->
				<div id="depth2_3" style="display: none">
					<ul class="category_list">
						<li><a href="javascript:;">전체(360)</a></li>
						<li><a href="javascript:;">네일(100)</a></li>
						<li><a href="javascript:;">향수(100)</a></li>
						<li><a href="javascript:;">&nbsp;</a></li>
					</ul>
				</div>
				
				<!-- 데일리뷰티 -->
				<div id="depth2_4" style="display: none">
					<ul class="category_list">
						<li><a href="javascript:;">전체(360)</a></li>
						<li><a href="javascript:;">바디(100)</a></li>
						<li><a href="javascript:;">구강(10)</a></li>
						<li><a href="javascript:;">헤어(100)</a></li>
					</ul>
				</div>
						
			</div>
			<!-- //cate_depth2 -->
			
			<dl class="cate_depth1">
				<dd>
					<ul class="c_menu_list c_tab">
						<li>
							<a href="#depth2_5">
								<img alt="" ap:src="@{/images/common/img_category_thumb_05.png}">
								<span>소품&amp;도구</span>
							</a>
						</li>
						<li>
							<a href="#depth2_6">
								<img alt="" ap:src="@{/images/common/img_category_thumb_06.png}">
								<span>뷰티푸드</span>
							</a>
						</li>
						<li>
							<a href="#depth2_7">
								<img alt="" ap:src="@{/images/common/img_category_thumb_07.png}">
								<span>옴므</span>
							</a>
						</li>
						<li>
							<a href="#depth2_8">
								<img alt="" ap:src="@{/images/common/img_category_thumb_08.png}">
								<span>베이비</span>
							</a>
						</li>
					</ul>
				</dd>
			</dl>
			
			<!--  depth 2 -->
			<div class="cate_depth2">
				<!-- 소품&도구 -->
				<div id="depth2_5" style="display: none">
					<ul class="category_list">
						<li><a href="javascript:;">전체(360)</a></li>
						<li><a href="javascript:;">스킨 &amp; 메이크업(100)</a></li>
						<li><a href="javascript:;">바디 &amp; 헤어(10)</a></li>
						<li><a href="javascript:;">미용기기(100)</a></li>
						<li><a href="javascript:;">캔들 &amp; 디퓨저(10)</a></li>
						<li><a href="javascript:;">&nbsp;</a></li>
					</ul>
				</div>	
				
				<!-- 뷰티푸드 -->
				<div id="depth2_6" style="display: none">
					<ul class="category_list">
						<li><a href="javascript:;">전체(360)</a></li>
						<li><a href="javascript:;">뷰티푸드(100)</a></li>
						<li><a href="javascript:;">차(TEA)(10)</a></li>
						<li><a href="javascript:;">&nbsp;</a></li>
					</ul>
				</div>	
				
				<!-- 옴므 -->
				<div id="depth2_7" style="display: none">
					<ul class="category_list">
						<li><a href="javascript:;">전체(360)</a></li>
						<li><a href="javascript:;">클렌져(100)</a></li>
						<li><a href="javascript:;">스킨 &amp; 로션(10)</a></li>
						<li><a href="javascript:;">에센스 &amp; 크림(10)</a></li>
						<li><a href="javascript:;">팩 &amp; 마스크(10)</a></li>
						<li><a href="javascript:;">썬 &amp; BB크림(10)</a></li>
						<li><a href="javascript:;">쉐이빙(10)</a></li>
						<li><a href="javascript:;">바디케어(10)</a></li>
						<li><a href="javascript:;">헤어케어(10)</a></li>
						<li><a href="javascript:;">메이크업(10)</a></li>
					</ul>
				</div>	
				<!-- 베이비 -->
				<div id="depth2_8" style="display: none">
					<ul class="category_list">
						<li><a href="javascript:;">전체(360)</a></li>
						<li><a href="javascript:;">베이비(100)</a></li>
					</ul>
				</div>			
			</div>
			<!-- cate_depth2 -->
		</div>
		
		<script>
		</script>
		
		<!--/* 브랜드 */-->
		<div class="section c_brand">
			<dl>
				<dt class="c_tit_16">브랜드</dt>
				<dd>
					<div class="ui_toggle_contents brand_toggle">
						<ul class="c_brand_list">
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
						</ul>
						<button type="button" class="toggle_btn view">브랜드 더보기 <i class="ico_down"></i></button>
						<button type="button" class="toggle_btn close">닫기 <i class="ico_up"></i></button>
					</div>
				</dd>
			</dl>
		</div>
		
		<!-- 전체서비스  -->
		<div class="section all_service">
			<h2 class="h_tit01">전체서비스</h2>
			<ul class="c_service_list service_menu">
				<li><a href="javascript:;"><i class="icon"><img src="/mo/ko/images/common/ico_all_service01.png" alt=""></i><span class="txt">플러스멤버십</span></a></li>
				<li><a href="javascript:;"><i class="icon"><img src="/mo/ko/images/common/ico_all_service02.png" alt=""></i><span class="txt">출석체크</span></a></li>
				<li><a href="javascript:;"><i class="icon"><img src="/mo/ko/images/common/ico_all_service03.png" alt=""></i><span class="txt">이벤트</span></a></li>
				<li><a href="javascript:;"><i class="icon"><img src="/mo/ko/images/common/ico_all_service04.png" alt=""></i><span class="txt">매거진</span></a></li>
			</ul>
			
			<h3 class="h_tit02">쇼핑 찬스</h3>
			<ul class="more_c_list">
				<li><a href="javascript:;">On Sale</a></li>
				<li><a href="javascript:;">N+M 행사</a></li>
				<li><a href="javascript:;">스페셜기프트</a></li>
				<li><a href="javascript:;">투데이핫딜</a></li>
			</ul>
			
			<h3 class="h_tit02">이벤트/기획전</h3>
			<ul class="more_c_list">
				<li><a href="javascript:;">진행중인 이벤트</a></li>
				<li><a href="javascript:;">구매금액대 사은품</a></li>
				<li><a href="javascript:;">뷰티테스터</a></li>
				<li><a href="javascript:;">출석체크</a></li>
				<li><a href="javascript:;">쿠션존</a></li>
			</ul>
			
			<h3 class="h_tit02">쿠폰/혜택</h3>
			<ul class="more_c_list">
				<li><a href="javascript:;">쿠폰존</a></li>
				<li><a href="javascript:;">플러스멤버십</a></li>
				<li><a href="javascript:;">VIP 라운지</a></li>
				<li><a href="javascript:;">신규혜택</a></li>
				<li><a href="javascript:;">카드혜택</a></li>
				<li><a href="javascript:;">쇼핑팁</a></li>
			</ul>
		</div>
		<!-- 로그인 전 -->
		<div class="section">
			<button type="button" class="btn_log"><span>로그인</span></button>
		</div>
		
		<!--/* 로그인 후*/-->
		<div class="section" style="display:none"><!-- 개발시 스타일 삭제요청 : 프론트 확인용 -->
			<button type="button" class="btn_log"><span>로그아웃</span><em>honggildong</em></button>
		</div>

		<!-- 쇼핑팁 삭제
		<div class="shopping_tip">
			<span style="display:none"><a href="javascript:;"><i class="ico_cs"></i> <span>고객센터</span></a></span>
			<span style="display:none"><a href="javascript:;"><i class="ico_set"></i> <span>설정</span></a></span>
			<span><a href="javascript:;"><i class="ico_tip"></i> <span>쇼핑팁</span></a></span
		</div>
		-->
	
	</div>
</div>