<div class="menu_category"> <!--/* 오픈시 open */-->
	
	<!--  로그인 전 - start -->
	<div class="category_header" th:if="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}">
		<div class="login_before">
			<a href="/login" class="btn_bd_round01">로그인</a>
			<a href="/customer/signup" class="btn_bd_round01">회원가입</a>
		</div>
		
		<button class="btn_chat"><i class="ico_chat"></i><span class="sr_only">챗봇</span></button>
		<button class="btn_close"><i class="ico_close_w"></i><span class="sr_only">카테고리 메뉴 닫기</span></button>
	</div>
	<!-- 로그인 전 - end -->
	
	<!-- 로그인 후 - start -->
	<div class="category_header" th:unless="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}"><!-- 개발시 스타일 삭제요청 : 프론트 확인용 -->
		<div class="welcome">
			<span class="name"><strong th:text="${session.LOGIN_USER.member.name.name1}">아모레퍼시픽아모레퍼시픽</strong><th:block th:if="${session.LOGIN_USER.member.employeeYn == 'Y'}">(임직원)</th:block><span>님</span></span><span class="eng grade" th:text="${session.LOGIN_USER.member.memberLevelName}">welcome</span>
		</div>
		
		<button class="btn_chat"><i class="ico_chat"></i><span class="sr_only">챗봇</span></button>
		<button class="btn_close"><i class="ico_close_w"></i><span class="sr_only">카테고리 메뉴 닫기</span></button>
		
	</div>
	<!-- 로그인 후 - end -->
	
	<!-- cate_cont01 -->
	<div class="cate_cont01">
		<!-- 로그인 후 노출 : 뷰티포인트 -->
		<div class="section beauty_point" th:unless="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}"><!-- 개발시 스타일 삭제요청 : 프론트 확인용 -->
			<dl>
				<dt><a href="/my/page/info/beautyPoint"><span>뷰티포인트</span> <i class="ico_arr"></i></a></dt>
				<dd>
					<strong class="num"><em th:text="${#IntegUtil.toCommaNumber(#IntegUtil.beautyPoint().remainBeautyPoint)}">3,306</em> P</strong>
					<!-- <strong class="num"><em>3,306</em> P</strong> -->
				</dd>
			</dl>
		</div>
		
		<!-- 바로가기 메뉴 -->
		<div class="section quick_menu">
			<ul class="menu_list col_04">
				<th:block th:if="${not #lists.isEmpty(gnbMap.get('AppH01'))}">
				<th:block th:each="AppHmenu : ${gnbMap.get('AppH01').submenus}">						
						<li th:each="menu : ${AppHmenu.submenus}" th:if="${AppHmenu.displayMenuId == 'AppH0101'}">
							<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'URL'}" th:href="@{'/display/' + ${menu.displayMenuId}(displayMenuId=${menu.displayMenuId})}" th:data="${menu.displayMenuId}">
								<img th:src="${menu.menuTitleImgUrl}" alt="" />
								<span th:text="${menu.menuTitle}">마이파우치</span>
							</a>
							<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'Menu' && menu.displayMenuId != 'AppH010108'}" th:href="@{'/my/page/info/' + ${menu.linkDisplayMenuId}(displayMenuId=${menu.linkDisplayMenuId})}" th:data="${menu.linkDisplayMenuId}">
								<img th:src="${menu.menuTitleImgUrl}" alt="" />
								<span th:text="${menu.menuTitle}">마이파우치</span>
							</a>
							<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'Menu' && menu.displayMenuId == 'AppH010108'}" th:href="@{'/cs/' + ${menu.linkDisplayMenuId}(displayMenuId=${menu.linkDisplayMenuId})}" th:data="${menu.linkDisplayMenuId}">
								<img th:src="${menu.menuTitleImgUrl}" alt="" />
								<span th:text="${menu.menuTitle}">마이파우치</span>
							</a>
						</li>
				</th:block>
				</th:block>

				<!-- 2018-09-18 수정
				<li><a href="javascript:;"><img src="/mo/ko/images/common/img_direct01.png" alt="" /><span>마이파우치</span></a></li>
				<li><a href="javascript:;"><img src="/mo/ko/images/common/img_direct02.png" alt="" /><span>주문/배송조회</span></a></li>
				<li><a href="javascript:;"><img src="/mo/ko/images/common/img_direct03.png" alt="" /><span>나의 쿠폰</span></a></li>
				<li><a href="javascript:;"><img src="/mo/ko/images/common/img_direct04.png" alt="" /><span>좋아요</span></a></li>
				<li><a href="javascript:;"><img src="/mo/ko/images/common/img_direct05.png" alt="" /><span>ONE pay 카드</span></a></li>
				<li><a href="javascript:;"><img src="/mo/ko/images/common/img_direct06.png" alt="" /><span>배송지관리</span></a></li>
				<li><a href="javascript:;"><img src="/mo/ko/images/common/img_direct07.png" alt="" /><span>나의기프트카드</span></a></li>
				<li><a href="javascript:;"><img src="/mo/ko/images/common/img_direct08.png" alt="" /><span>고객센터</span></a></li>
				 // 2018-09-18 수정 -->

			</ul>
		</div>
		
		<!-- 카테고리 -->
		<div class="section cate01" th:if="${not #lists.isEmpty(gnbMap.get('category'))}">
			<th:block th:each="cate, cateIndex : ${gnbMap.get('category').submenus}" th:with="rowNum=${cateIndex.index / 4}" th:if="${cate.displayMenuId != 'CTG009'}">
				<th:block th:if="${cateIndex.index == 0 || cateIndex.index % 4 == 0}">
				<dl class="cate_depth1">
					<dt class="c_tit_16" th:if="${cateIndex.index == 0}">카테고리</dt>
					<dd>
						<ul class="c_menu_list c_tab">
				</th:block>
							<li>
								<a href="" th:href="|#depth${cate.displayMenuId}|">
									<img alt="" th:src="${cate.menuTitleImgUrl}">
									<span th:text="${cate.menuTitle}">스킨케어</span>
								</a>
							</li>
				<th:block th:if="${cateIndex.index % 4 == 3}">
						</ul>
					</dd>
				</dl>
				</th:block>

				<th:block th:if="${cateIndex.index % 4 == 3}">
					<!--  depth 2 -->
					<div class="cate_depth2">
						<th:block th:each="cate2, cateIndex2 : ${gnbMap.get('category').submenus}">
						<!-- <th block th:if="${rowNum}"> -->
						<!-- 스킨케어 -->
						<div th:id="|#depth${cate2.displayMenuId}|" style="display: none"  th:if="${rowNum == cateIndex2.index / 4}">
							<ul class="category_list">
							<th:block th:each="subCate, subCateIndex : ${cate2.submenus}">
								<li><a th:href="@{'/display/category/'+ ${subCate.displayMenuId}(upperMenuId=${cate.displayMenuId})}" th:text="${subCate.menuTitle}">전체(360)</a></li>
							</th:block>
							</ul>
						</div>
						</th:block>
					</div>
				</th:block>

			</th:block>
			
		</div>
		
		<script>
		</script>
		
		<!--/* 브랜드 */-->
		<div class="section c_brand">
			<dl>
				<dt class="c_tit_16">브랜드</dt>
				<dd>
					<div class="ui_toggle_contents brand_toggle">
						<ul class="c_brand_list">
						<th:block th:each="brand, brandIndex : ${gnbMap.get('brandMain').submenus}">
							<li>
								<a href="#" th:href="@{'/brand/' + ${brand.displayMenuId}(displayMenuId=${brand.displayMenuId})}" th:data="${brand.displayMenuId}">
									<img th:src="${brand.menuTitleImgUrl}" th:alt="${brand.menuTitle}">
								</a>
							</li>
						</th:block>
							<!-- <li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand01.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand02.jpg}" alt="{브랜드명}"></a></li>
							<li><a href="javascript:;"><img ap:src="@{/images/dummy/img_c_brand03.jpg}" alt="{브랜드명}"></a></li> -->
						</ul>
						<button type="button" class="toggle_btn view">브랜드 더보기 <i class="ico_down"></i></button>
						<button type="button" class="toggle_btn close">닫기 <i class="ico_up"></i></button>
					</div>
				</dd>
			</dl>
		</div>
		
		<!-- 전체서비스  -->
		<div class="section all_service">
			<h2 class="h_tit01">전체서비스</h2>
			<ul class="c_service_list service_menu">
				<th:block th:if="${not #lists.isEmpty(gnbMap.get('AppH01'))}">
				<th:block th:each="AppHmenu : ${gnbMap.get('AppH01').submenus}">						
					<li th:each="menu : ${AppHmenu.submenus}" th:if="${AppHmenu.displayMenuId == 'AppH0102'}">
						<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'URL'}" th:href="@{'/display/' + ${menu.displayMenuId}(displayMenuId=${menu.displayMenuId})}" th:data="${menu.displayMenuId}">
							<i class="icon">
								<img th:src="${menu.menuTitleImgUrl}" th:alt="${menu.menuTitle}">
							</i>
							<span class="txt" th:text="${menu.menuTitle}">마이파우치</span>
						</a>
						<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'Menu'}" th:href="@{'/display/' + ${menu.linkDisplayMenuId}(displayMenuId=${menu.linkDisplayMenuId})}" th:data="${menu.linkDisplayMenuId}">
							<i class="icon">
								<img th:src="${menu.menuTitleImgUrl}" th:alt="${menu.menuTitle}">
							</i>
							<span class="txt" th:text="${menu.menuTitle}">마이파우치</span>
						</a>
						<!-- <span th:text="${menu.menuTitle}">마이파우치</span> -->
					</li>
				</th:block>
				</th:block>
				<!-- <li><a href="javascript:;"><i class="icon"><img src="/mo/ko/images/common/ico_all_service01.png" alt=""></i><span class="txt">플러스멤버십</span></a></li>
				<li><a href="javascript:;"><i class="icon"><img src="/mo/ko/images/common/ico_all_service02.png" alt=""></i><span class="txt">출석체크</span></a></li>
				<li><a href="javascript:;"><i class="icon"><img src="/mo/ko/images/common/ico_all_service03.png" alt=""></i><span class="txt">이벤트</span></a></li>
				<li><a href="javascript:;"><i class="icon"><img src="/mo/ko/images/common/ico_all_service04.png" alt=""></i><span class="txt">매거진</span></a></li> -->
			</ul>
			
			<h3 class="h_tit02">쇼핑 찬스</h3>
			<ul class="more_c_list">
				<th:block th:if="${not #lists.isEmpty(gnbMap.get('AppH01'))}">
				<th:block th:each="AppHmenu : ${gnbMap.get('AppH01').submenus}">						
						<li th:each="menu : ${AppHmenu.submenus}" th:if="${AppHmenu.displayMenuId == 'AppH0103'}">
						<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'URL'}" th:href="@{'/display/' + ${menu.displayMenuId}(displayMenuId=${menu.displayMenuId})}" th:text="${menu.menuTitle}">On Sale</a>
						<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'Menu'}" th:href="@{'/display/' + ${menu.linkDisplayMenuId}(displayMenuId=${menu.linkDisplayMenuId})}" th:text="${menu.menuTitle}">On Sale</a>
					</li>
				</th:block>
				</th:block>
				<!-- <li><a href="javascript:;">N+M 행사</a></li>
				<li><a href="javascript:;">스페셜기프트</a></li>
				<li><a href="javascript:;">투데이핫딜</a></li> -->
			</ul>
			
			<h3 class="h_tit02">이벤트/기획전</h3>
			<ul class="more_c_list">
				<th:block th:if="${not #lists.isEmpty(gnbMap.get('AppH01'))}">
				<th:block th:each="AppHmenu : ${gnbMap.get('AppH01').submenus}">						
						<li th:each="menu : ${AppHmenu.submenus}" th:if="${AppHmenu.displayMenuId == 'AppH0104'}">
						<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'URL'}" th:href="@{'/display/' + ${menu.displayMenuId}(displayMenuId=${menu.displayMenuId})}" th:text="${menu.menuTitle}">On Sale</a>
						<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'Menu'}" th:href="@{'/display/' + ${menu.linkDisplayMenuId}(displayMenuId=${menu.linkDisplayMenuId})}" th:text="${menu.menuTitle}">On Sale</a>
					</li>
				</th:block>
				</th:block>
				<!-- <li><a href="javascript:;">진행중인 이벤트</a></li>
				<li><a href="javascript:;">구매금액대 사은품</a></li>
				<li><a href="javascript:;">뷰티테스터</a></li>
				<li><a href="javascript:;">출석체크</a></li>
				<li><a href="javascript:;">쿠션존</a></li> -->
			</ul>
			
			<h3 class="h_tit02">쿠폰/혜택</h3>
			<ul class="more_c_list">
				<th:block th:if="${not #lists.isEmpty(gnbMap.get('AppH01'))}">
				<th:block th:each="AppHmenu : ${gnbMap.get('AppH01').submenus}">						
						<li th:each="menu : ${AppHmenu.submenus}" th:if="${AppHmenu.displayMenuId == 'AppH0105'}">
						<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'URL'}" th:href="@{'/display/' + ${menu.displayMenuId}(displayMenuId=${menu.displayMenuId})}" th:text="${menu.menuTitle}">On Sale</a>
						<a href="#" th:if="${menu.linkDisplayMenuTypeCode == 'Menu'}" th:href="@{'/display/' + ${menu.linkDisplayMenuId}(displayMenuId=${menu.linkDisplayMenuId})}" th:text="${menu.menuTitle}">On Sale</a>
					</li>
				</th:block>
				</th:block>
				<!-- <li><a href="javascript:;">쿠폰존</a></li>
				<li><a href="javascript:;">플러스멤버십</a></li>
				<li><a href="javascript:;">VIP 라운지</a></li>
				<li><a href="javascript:;">신규혜택</a></li>
				<li><a href="javascript:;">카드혜택</a></li>
				<li><a href="javascript:;">쇼핑팁</a></li> -->
			</ul>
		</div>
		<!-- 로그인 전 -->
		<div class="section">
			<button type="button" onclick="location.href='/login'" th:if="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}" class="btn_log"><span>로그인</span></button>
		</div>
		
		<!--/* 로그인 후*/-->
		<div class="section" th:unless="${session.LOGIN_USER == null || session.LOGIN_USER.member == null}"><!-- 개발시 스타일 삭제요청 : 프론트 확인용 -->
			<button type="button" onclick="logout()" class="btn_log"><span>로그아웃</span><em th:text="${session.LOGIN_USER.member.name.name1}">honggildong</em><th:block th:if="${session.LOGIN_USER.member.employeeYn == 'Y'}">(임직원)</th:block></button>
		</div>

		<!-- 쇼핑팁 삭제
		<div class="shopping_tip">
			<span style="display:none"><a href="javascript:;"><i class="ico_cs"></i> <span>고객센터</span></a></span>
			<span style="display:none"><a href="javascript:;"><i class="ico_set"></i> <span>설정</span></a></span>
			<span><a href="javascript:;"><i class="ico_tip"></i> <span>쇼핑팁</span></a></span
		</div>
		-->
	
	</div>
</div>