<!-- 대/중/소카테고리 타이틀 : 토글버튼 있음-->
<div class="page_title_new">
	<h2><a href="javascript:;" class="btn_toggle"><span>페이지 제목</span></a></h2>
</div>

<!-- 대카테고리 썸네일 리스트 4단 -->
<div class="menu_layer big_thumb">
	<ul class="sub_cate_list">
		<li>
			<a href="javascript:;" class="on">
				<img alt="" src="/mo/ko/images/common/img_category_thumb_01.png">
				<span>스킨케어</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img alt="" src="/mo/ko/images/common/img_category_thumb_02.png">
				<span>메이크업</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img alt="" src="/mo/ko/images/common/img_category_thumb_03.png">
				<span>네일&amp;향수</span>
			</a>

		</li>
		<li>
			<a href="javascript:;">
				<img alt="" src="/mo/ko/images/common/img_category_thumb_04.png">
				<span>데일리뷰티</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img alt="" src="/mo/ko/images/common/img_category_thumb_05.png">
				<span>소품&amp;도구</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img alt="" src="/mo/ko/images/common/img_category_thumb_06.png">
				<span>뷰티푸드</span>
			</a>
		</li>
		<li>
			<a href="#depth2_3">
				<img alt="" src="/mo/ko/images/common/img_category_thumb_07.png">
				<span>옴므</span>
			</a>

		</li>
		<li>
			<a href="javascript:;">
				<img alt="" src="/mo/ko/images/common/img_category_thumb_08.png">
				<span>베이비</span>
			</a>
		</li>
	</ul>
</div>


<!-- 대카테고리 썸네일 리스트 1단 -->
<div class="menu_layer one_depth">
	<ul class="">
		<li>
			<a href="javascript:;">menu1</a>
		</li>
		<li>
			<a href="javascript:;">menu2</a>
		</li>
		<li>
			<a href="javascript:;">menu3</a>
		</li>
	</ul>
</div>

<!-- 카테고리 딤드 -->
<div class="cate_dimmed"></div>

<script>
	/* 이미지 카테고리 메뉴 클릭시 on/off */
	$(".sub_cate_list li > a").on('click', function(){
		if($(this).hasClass('on')){
			$(this).removeClass('on');

		}else{
			$(this).addClass('on');
			$(this).parent('li').siblings().children().removeClass("on");
		}
	});

	/* 페이지  제목 클릭시 토글 : 메뉴레이어 show/hide */
	$(".page_title_new .btn_toggle").on('click', function(){

		if($(".ap_contents").hasClass("title_two_depth") && !$(this).hasClass('on')){
			$(this).addClass('on');
			$(".menu_layer.big_thumb").hide();
			$(".menu_layer.one_depth").show();
			$(".cate_dimmed").show();
		} else if (!$(".ap_contents").hasClass("title_two_depth")  && !$(this).hasClass('on') ){
			$(this).addClass('on');
			$(".menu_layer.big_thumb").show();
			$(".menu_layer.one_depth").hide();
			$(".cate_dimmed").show();
		} else {
			$(this).removeClass('on');
			$(".big_thumb").hide();
			$(".menu_layer.one_depth").hide();
			$(".cate_dimmed").hide();
		}

	});



</script>
<!-- // 대카테고리 썸네일 리스트 4단 -->

<!-- 토글버튼 없음!!!! -->
<div class="page_title_new" style="display:none">
	<h2><a href="javascript:;"><span>페이지 제목</span></a></h2>
</div>


<!--/*  메뉴 레이어가 안나올 경우 */-->
<div class="page_title_new" style="display: none;">
	<!--/* 공유하기 버튼이 나오는 경우 */-->
	<button type="button" class="btn_share">공유하기</button>
	<!--/* 버튼 클릭시 on toggle */-->
	<h2>페이지 제목</h2>
</div>

<!--/* 메뉴 레이어 1단 : 텍스트 형 */-->
<div class="menu_layer" style="display: none;">
	<ul>
		<li><a href="#none"><span></span>메뉴1</a></li>
		<li><a href="#none">메뉴2</a></li>
		<li><a href="#none">메뉴3</a></li>
		<li><a href="#none">메뉴4</a></li>
		<li><a href="#none">메뉴5</a></li>
	</ul>
</div>
