<div class="gnb_menu"> <!--/* 스크롤시 fixed */-->
	<ul>
		<li>
			<a href="#none" th:href="@{/main}" th:class="${#lists.isEmpty(displayMenuId)} ? 'on' : ''">홈</a>
		</li>
		<th:block th:each="menu : ${gnbMap.get('main').submenus}" th:if="${not #lists.isEmpty(gnbMap.get('main'))}">
			<th:block th:if="${menu.displayMenuId} == 'issue'">
				<th:block th:each="subMenu : ${menu.submenus}">
					<li><a href="#" th:href="@{'/display/' + ${subMenu.displayMenuId}(displayMenuId=${subMenu.displayMenuId})}" th:text="${subMenu.menuTitle}"  
						th:class="${displayMenuId == subMenu.displayMenuId} ? 'on' : ''" th:data="${subMenu.displayMenuId}">GNBs</a>
					</li>
				</th:block>
			</th:block>
			<li th:if="${menu.displayMenuId != 'Main' && menu.displayMenuId != 'issue' && menu.displayMenuId != 'pacificShop'}"><a href="#" th:href="@{'/display/' + ${menu.displayMenuId}(displayMenuId=${menu.displayMenuId})}" th:text="${menu.menuTitle}"  
					th:class="${displayMenuId == menu.displayMenuId} ? 'on' : ''" th:data="${menu.displayMenuId}">GNBs</a>
			</li>
			<th:block th:if="${menu.displayMenuId == 'pacificShop'}">
				<th:block th:if="${(session.LOGIN_USER != null && session.LOGIN_USER.member != null) && session.LOGIN_USER.member.employeeYn == 'Y'}">
					<li><a href="#" th:href="@{'/display/' + ${menu.displayMenuId}(displayMenuId=${menu.displayMenuId})}" th:text="${menu.menuTitle}"  
						th:class="${displayMenuId == menu.displayMenuId} ? 'on' : ''">GNBs</a>
					</li>
				</th:block>
			</th:block>
		</th:block> 
		<!--/*
		<li><a href="#none" class="on">홈</a></li>  선택시 on 클래스
		<li><a href="#none" class="updated">이슈</a></li> updated 에 on 이 붙을 경우 순서 updated on 순 
		<li><a href="#none">매거진</a></li>
		<li><a href="#none">랭킹</a></li>
		<li><a href="#none">리뷰</a></li>
		<li><a href="#none">이벤트</a></li>
		<li><a href="#none">브랜드</a></li>
		<li><a href="#none">쿠폰/혜택</a></li>
		<li><a href="#none">플러스 멤버십</a></li>
		*/-->
	</ul>
</div>