<span class="select_wrap">
	<select name="" title="">
		{{#each this.submenus}}
			<option value="{{ this.displayMenuId }}" {{#xif @index '==' ../selectedIndex}}selected{{/xif}}>{{ this.menuTitle }}</option>
		{{/each}}
	</select>
</span>