{{#each this.list}}
	<li class="ix-list-item">
		<div class="brand_box">
			<strong class="sr_only">HERA</strong>
			<div class="brand_visual">
				<a href="#none">
					<img src="/pc/ko/images/dummy/img_brand_thumb_02.jpg" alt="">
				</a>
			</div>
			<div class="tags_box">
				<ul class="list_tags">
					<li><a href="#none" class="hash_tags_md">#쥬스</a></li>
					<li><a href="#none" class="hash_tags_md">#바</a></li>
				</ul>
				<ul class="list_tags">
					<li><a href="#none" class="hash_tags_md">#프래그런스</a></li>
					<li><a href="#none" class="hash_tags_md">#티컬렉션</a></li>
				</ul>
			</div>
		</div>
	</li>
{{/each}}