<dt class="layer_title">테이크아웃 매장 정보</dt>
<dd class="layer_cont"><!--/* 20180511 : 지도와 슬라이드 위치변경 */-->
	<div class="store_map">
		<div class="map_area"></div>
		<div class="info">
			<dl>
				<dt>{{this.data.storeName}}</dt>
				<dd><span class="color_gray">{{this.data.address.address1}}</span><br>{{phoneNumberFormat this.data.phoneNo1.phoneNo}}</dd>
			</dl>
		</div>
	</div>
	<div class="slide" data-ix-options="view-length:1;">
		<div class="ix-list-viewport">
			<ul class="ix-list-items">
				{{#each storeImgUrlList}}
					<li class="ix-list-item">
						<a href="#none">
							<img src="{{this}}" alt="COLOR FACTORY 단 하나뿐인 컬러를 만들어 주는 컬러 팩토리">
						</a>
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="ix-controller round_box">
			<div class="paging"><b class="current"></b> / <span class="total"></span></div>
			<div class="slide_direction">
				<a class="ix-btn-prev" href="#none"><span class="sr_only">Prev</span></a>
				<a class="ix-btn-next" href="#none"><span class="sr_only">Next</span></a>
			</div>
		</div>
	</div>
</dd>
<button class="layer_close" type="button">레이어 닫기</button>