<dl th:if="${memberSn > 0}">
	<dt class="on">
		<div class="title">
			<span class="check_wrap">
				<input type="checkbox" id="takeoutPrdCheck" name="takeoutPrdCheck">
				<label for="takeoutPrdCheck"><b>테이크아웃 상품 (<strong id="takeoutPrdCnt">0</strong>개)</b></label>
			</span>
			<div class="ui_tooltip take_out">
				<button type="button" class="btn_tooltip">툴팁보기</button>
				<span class="arr"></span>
				<div class="layer_tooltip">
					<dl>
						<dt>테이크아웃</dt>
						<dd>
							<ul class="list_bullet_dot">
								<li>테이크아웃 매장 운영시간: 오전 11시 ~ 오후 9시</li>
								<li>테이크아웃 서비스는 온라인 주문 후 매장을 직접 방문하여 수령하는 서비스입니다.</li>
								<li>미수령시 주문은 자동 취소됩니다. <br>(결제완료 후 2일 후 자동취소)</li>
								<li>테이크아웃 상품의 교환/반품은 수령매장에서만 가능합니다.</li>
								<li>테이크아웃 주문은 매장에서 상품 준비가 완료되면 SMS를 발송하며 수신한 SMS 내 주문번호나 주문내역의 바코드를 수령매장에 제시하면 상품을 찾을 수 있습니다.</li>
							</ul>
							<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<button type="button"><span class="sr_only">더보기</span></button>
	</dt>
	<dd>
		<div class="cont">
			<div class="take_out_store" id="storeSelectInfo">
			</div>
			<div id="allStoreProd">
			</div>
			<!--<div class="panel notice" >
				<i class="ico"></i>
				<p class="text color_gray">현재 테이크아웃 장바구니가 비어있습니다.</p>
			</div>-->
			<!--<div class="panel notice" th:if="${ #lists.size(cartEx.cartStorePickupOnlineProdExList) == 0 &&
												#lists.size(cartEx.cartStorePickupMembershipPointExchOnlineProdExList) == 0 &&
												#lists.size(cartEx.cartStorePickupActivityPointExchOnlineProdExList) == 0  &&
												#lists.size(cartEx.cartStorePickupMNPromoExList) == 0 &&
												#lists.size(cartEx.cartStorePickupSameTimePurPromoExList) == 0 }">
				<i class="ico"></i>
				<p class="text color_gray">현재 테이크아웃 장바구니가 비어있습니다.</p>
			</div>-->
		</div>
	</dd>
</dl>
