{{#if this.articleList.length}}
	{{#each this.articleList}}
		<li>
			<a href="{{ articleDetailPath this.articleSn }}">
				<span class="thumb video"><img src="{{ absolutePath this.bannerImgM1 }}" alt=""></span>
				<p class="text">
					{{ this.articleTitle }}
				</p>
			</a>
		</li>
	{{/each}}
{{else}}

{{/if}}