<dl id="amtPcur">
	<script th:inline="javascript">
		$( document ).ready(function() {
			amtPcurInit();
			$('.spinner_increase').attr('disabled', true);
		});

		//결제금액 영역 그리기
		function amtPcurInit() {
			var ordHistEx = /*[[${ordEx.ordHistEx}]]*/ null, // 최종결제금액
				ordAmtMap = /*[[${ordAmtMap}]]*/ null,
				ordCntMap = /*[[${ordCntMap}]]*/ null,
				depositAvailAmt = /*[[${ordEx.depositAvailAmt}]]*/ 0,
				isApMember = /*[[${isApMember}]]*/ null;

			/**
			 * 총결제금액
			 * @type {*|String}
			 */
			var html = AP.common.getTemplate( 'order.final-price-amt-pcur', {
				ordHistEx : ordHistEx,
				ordAmtMap : ordAmtMap,
				ordCntMap : ordCntMap,
				isApMember : isApMember
			});
			$('#amtPcur').html(html);
			$("[name=finalPamtPcur]").val(ordHistEx.finalPamtPcur);

			if (isApMember) {
				$("[name=depositAvailAmt]").val(depositAvailAmt);
				//$("[name=beauty_point]").prop('max', data.membershipAvailPoint);
			}

			$( '.ui_tooltip' ).tooltip();
			$("#orderPayment").html($B.string.numberFormat(ordHistEx.finalPamtPcur)+'원 결제하기');
		}

		//결제금액 영역 그리기(ajax)
		function amtPcurInitAjax(data, initLoading) {
			/**
			 * 총결제금액
			 * @type {*|String}
			 */
			var html = AP.common.getTemplate('order.final-price-amt-pcur', {
				ordHistEx: data.ordHistEx,
				ordAmtMap: data.ordAmtMap,
				ordCntMap: data.ordCntMap,
				isApMember: data.isApMember
			});
			$('#amtPcur').html(html);
			$("[name=finalPamtPcur]").val(data.ordHistEx.finalPamtPcur);

			if (isApMember) {
				$("[name=depositAvailAmt]").val(data.depositAvailAmt);
				//$("[name=beauty_point]").prop('max', data.membershipAvailPoint);
			}

			$('#amtPriceTab').addClass("on");
			$( '.ui_accordion' ).accordion('clear').accordion();
			//$('#amtPriceTab > button').trigger("click");
			//if ('initLoading' != initLoading) {
			//	$('html, body').animate({scrollTop: $("#amtPcur").offset().top-50}, 1000);
			//}
			$( '.ui_tooltip' ).tooltip();
			$("#orderPayment").html($B.string.numberFormat(data.ordHistEx.finalPamtPcur) + '원 결제하기');
		}
	</script>
</dl>