<!--/* 배송정보 입력 */-->
<dl th:if="${apMember != null}">
	<dt class="on">
		<span>배송정보 입력</span>
		<button type="button"><span class="sr_only">닫기</span></button>
	</dt>
	<dd>
		<div class="cont delivery_info">

			<!--/* 주문자 정보 */-->
			<div class="title_area">
				<h4 class="h_title sub">주문고객정보</h4>
			</div>
			<div class="panel bordered gray">
				<div class="panel_cont ui_table">
					<dl>
						<dt><b>이름</b></dt>
						<dd th:text="${apMember.name.name1}">홍길동</dd>
					</dl>
					<dl>
						<dt><b>휴대폰번호</b></dt>
						<dd th:text="${#IntegUtil.hyphenPhoneNumber(apMember.phoneNo1.phoneNo)}">010-0000-0000</dd>
					</dl>
					<dl>
						<dt><b>이메일</b> (<em>필수</em>)</dt>
						<dd>
							<div class="input_wrap w70p">
								<input type="text" name="purchaserEmailAddress" title="이메일" th:value="${apMember.emailAddress}" required="required" data-msg-required="이메일을 입력하세요.">
							</div>
						</dd>
					</dl>
				</div>
			</div>
			<br>
			<p class="text_notice light">주문관련 e-Mail과 SMS가 발송됩니다.</p>

			<!--/* 배송정보 */-->
			<div class="title_area">
				<input type="hidden" id="memberSn" name="memberSn" th:value="${memberSn != null} ? ${memberSn} : ''" />
				<h4 class="h_title sub">배송정보</h4>
				<div class="relative mgt20">
					<div>
						<span class="check_wrap"><input type="radio" name="delivery" id="delivery1" value="01" th:onclick="|shipInfo('SHIP')|" checked=""><label for="delivery1">일반택배</label></span>
						<span class="check_wrap"><input type="radio" name="delivery" id="delivery2" value="02" th:onclick="|shipInfo('STORE')|"><label for="delivery2">편의점 배송받기</label></span>
						<input type="hidden" name="shipType" value="SHIP"/>
					</div>

					<!--/* 일반택배일때만 */-->
					<div class="date_btn_set" id="delivery1_address_layer">
						<span><input type="radio" name="address" id="address01_1" th:checked="${#lists.size(ordShipAddressExList) > 0 ? 'true' : 'false'}" th:onclick="|shipChoice('LATELY')|" value="01"><label for="address01_1">최근배송지</label></span>
						<span><input type="radio" name="address" id="address01_2" th:checked="${#lists.size(ordShipAddressExList) == 0 ? 'true' : 'false'}" th:onclick="|shipChoice('NOMAL')|" value="02"><label for="address01_2">기본배송지</label></span>
						<span><input type="radio" name="address" id="address01_3" th:checked="${#lists.size(ordShipAddressExList) == 0 && #lists.size(shipAddressList) == 0 ? 'true' : 'false'}" th:onclick="|shipChoice('NEW')|" value="03"><label for="address01_3">새로입력</label></span>
					</div>
				</div>
			</div>

			<!--/* 일반택배 */-->
			<div class="delivery_service" id="delivery1_layer">

				<!--/* 최근배송지 */-->
				<div class="recent_address" id="address01_1_layer">
					<div class="panel bordered gray">
						<div class="panel_cont ui_table">
							<th:block th:if="${#lists.size(ordShipAddressExList) > 0 }" th:each="ordShipAddressExInfo : ${ordShipAddressExList}">
							<dl>
								<dt><b>이름</b></dt>
								<dd th:if="${ordShipAddressExInfo.recipientName != null or ordShipAddressExInfo.recipientName.name1 != null}"
									th:text="${ordShipAddressExInfo.recipientName.name1}">홍길동</dd>
							</dl>
							<dl>
								<dt><b>주소</b></dt>
								<dd th:if="${ordShipAddressExInfo.recipientAddress != null or ordShipAddressExInfo.recipientAddress.address1 != null}"
									th:text="'(' + ${ordShipAddressExInfo.recipientAddress.zipCode} + ') '+ ${ordShipAddressExInfo.recipientAddress.address1} + ${ordShipAddressExInfo.recipientAddress.address2}">(12345) 서울시 서울동 서울로 1234 1234</dd>
							</dl>
							<dl>
								<dt><b>휴대폰번호</b></dt>
								<dd th:if="${ordShipAddressExInfo.recipientPhoneNo1 != null or ordShipAddressExInfo.recipientPhoneNo1.phoneNo != null}"
									th:text="${ordShipAddressExInfo.recipientPhoneNo1.phoneNo}">010-0000-0000</dd>
							</dl>
							<span class="check_wrap basic">
								<input type="checkbox" id="latelyRepShipAddress" name="latelyRepShipAddressYn" th:onclick="|setRepShipAddress(this,'latelyRepShipAddress')|" value="N"><label for="latelyRepShipAddress">기본배송지로 설정</label>
							</span>
							<input type="hidden" id="recipientName" th:value="${ordShipAddressExInfo.recipientName.name1}">
							<input type="hidden" id="recipientPhoneNo" th:value="${ordShipAddressExInfo.recipientPhoneNo1.phoneNo}">
							<input type="hidden" id="recipientEmailAddress" th:value="${ordShipAddressExInfo.recipientEmailAddress}">
							<input type="hidden" id="recipientZipCode" th:value="${ordShipAddressExInfo.recipientAddress.zipCode}">
							<input type="hidden" id="recipientAddress1" th:value="${ordShipAddressExInfo.recipientAddress.address1}">
							<input type="hidden" id="recipientAddress2" th:value="${ordShipAddressExInfo.recipientAddress.address2}">
							</th:block>
							<dl th:if="${#lists.size(ordShipAddressExList) == 0 }">
								<dt></dt>
								<dd>최근배송지 정보가 존재하지 않습니다.</dd>
							</dl>
						</div>
					</div>
					<fieldset class="form mgt20">
						<th:block th:if="${#lists.size(ordShipAddressExList) > 0 and #lists.size(ordEx.shipMsgList) > 0}">
						<legend class="sr_only">배송시 요청사항 선택</legend>
						<div class="ui_table">
							<dl>
								<dt><b>배송시 요청사항 선택</b></dt>
								<dd>
									<div class="select_wrap w100p">
										<select name="selectShipMsg" title="배송시 요청사항을 선택" tabindex="-1">
											<option value="">배송시 요청사항을 선택해주세요.</option>
											<option th:each="shipMsg : ${ordEx.shipMsgList}" th:value="${shipMsg}" th:text="${shipMsg}">직접 입력</option>
										</select>
									</div>
									<div class="input_wrap w100p">
										<input type="text" name="shipMsg" maxlength="80" placeholder="80자 이내로 작성해주세요.">
									</div>
								</dd>
							</dl>
						</div>
						</th:block>
					</fieldset>
				</div>

				<!--/* 기본배송지 */-->
				<div class="basic_address" id="address01_2_layer" style="display: none">
					<div class="panel bordered gray">
						<div class="panel_cont ui_table" th:if="${#lists.size(shipAddressList) > 0 }" th:each="shipAddressInfo : ${shipAddressList}">
							<dl>
								<dt><b>이름</b></dt>
								<dd th:text="${shipAddressInfo.addresseeName.name1}">홍길동</dd>
							</dl>
							<dl>
								<dt><b>주소</b></dt>
								<dd th:if="${shipAddressInfo.addresseeAddress.address1 != null}"
									th:text="'(' + ${shipAddressInfo.addresseeAddress.zipCode} + ') '+ ${shipAddressInfo.addresseeAddress.address1} + ${shipAddressInfo.addresseeAddress.address2} ">(531575) 서울시 서울동 서울로 777 888 123
								</dd>
							</dl>
							<dl>
								<dt><b>휴대폰번호</b></dt>
								<dd th:text="${shipAddressInfo.phoneNo1.phoneNo}">010-0000-0000</dd>
							</dl>
							<input type="hidden" id="addressName" th:value="${shipAddressInfo.addresseeName.name1}">
							<input type="hidden" id="addressPhoneNo" th:value="${shipAddressInfo.phoneNo1.phoneNo}">
							<input type="hidden" id="addressZipCode" th:value="${shipAddressInfo.addresseeAddress.zipCode}">
							<input type="hidden" id="addressAddress1" th:value="${shipAddressInfo.addresseeAddress.address1}">
							<input type="hidden" id="addressAddress2" th:value="${shipAddressInfo.addresseeAddress.address2}">
						</div>
						<div class="panel_cont ui_table" th:if="${#lists.size(shipAddressList) == 0 }">
							<dl>
								<dt></dt>
								<dd>기본배송지 정보가 존재하지 않습니다.</dd>
							</dl>
						</div>
					</div>
					<fieldset class="form mgt20">
						<th:block th:if="${#lists.size(shipAddressList) > 0 and #lists.size(ordEx.shipMsgList) > 0}">
						<legend class="sr_only">배송시 요청사항 선택</legend>
						<div class="ui_table">
							<dl>
								<dt><b>배송시 요청사항 선택</b></dt>
								<dd>
									<div class="select_wrap w100p">
										<select name="selectShipMsg" title="배송시 요청사항을 선택" tabindex="-1">
											<option value="">배송시 요청사항을 선택해주세요.</option>
											<option th:each="shipMsg : ${ordEx.shipMsgList}" th:value="${shipMsg}" th:text="${shipMsg}">직접 입력</option>
										</select>
									</div>
									<div class="input_wrap w100p">
										<input type="text" name="shipMsg" title="배송시 요청사항 직접 입력" maxlength="80" placeholder="80자 이내로 작성해주세요.">
									</div>
								</dd>
							</dl>
						</div>
						</th:block>
					</fieldset>
				</div>

				<!--/*  새로 입력 */-->
				<fieldset class="form">
				<legend class="sr_only">배송 정보 입력</legend>
					<div class="ui_table" id="address01_3_01_layer" style="display: none">
						<dl>
							<dt><label for="userName"><b>이름</b></label></dt>
							<dd>
								<div class="input_wrap w100p"><input type="text" id="userName" name="userName" placeholder="이름을 입력해 주세요." required="required" data-msg-required="받으시는 분의 이름을 입력하세요."></div>
							</dd>
						</dl>
						<dl>
							<dt><label for="userPhoneNo"><b>휴대폰번호</b></label></dt>
							<dd>
								<div class="input_wrap w100p"><input type="text" id="userPhoneNo" name="userPhoneNo" placeholder="‘-’없이 숫자만 입력" required="required" data-msg-required="받으시는 분의 휴대폰 번호를 입력하세요."></div>
							</dd>
						</dl>
						<dl>
							<dt><b>주소</b></dt>
							<dd class="ui_find_addresses">
								<div class="w100p input_btn_wrap">
									<div class="input_wrap">
										<input type="text" id="delivery_area" name="deliveryArea" class="address_keyword" title="지역명 입력" placeholder="주소지 또는 건물명" required="required" data-msg-required="받으시는 분의 주소를 입력하세요.">
									</div>
									<button type="button" class="btn_md_form btn_address_find">찾기</button>
								</div>
								<div class="input_group w100p">
									<span class="input_wrap w25p"><input type="text" name="userPostCode" class="post_code" title="우편번호 입력" placeholder="우편번호" readonly=""></span>
									<span class="gap">&nbsp;</span>
									<span class="input_wrap"><input type="text" name="userAddress1" class="address_first" title="기본주소 입력" placeholder="기본주소" readonly=""></span>
								</div>
								<div class="input_wrap w100p"><input type="text" name="userAddress2" class="address_last" title="상세주소 입력" placeholder="상세주소를 입력해주세요." required="required" data-msg-required="받으시는 분의 주소를 입력하세요."></div>
								<p class="text_notice light w100p">찾으시는 주소지 또는 건물명을 입력해주세요. <br>(예:강남대로, 한강로2가, 한강대로 100)</p>
							</dd>
						</dl>
						<dl>
							<dt><b>배송시 요청사항 선택</b></dt>
							<dd>
								<div class="select_wrap w100p">
									<select name="selectShipMsg" title="배송시 요청사항을 선택" tabindex="-1">
										<option value="">배송시 요청사항을 선택해주세요.</option>
										<option th:each="shipMsg : ${ordEx.shipMsgList}" th:value="${shipMsg}" th:text="${shipMsg}">직접 입력</option>
									</select>
								</div>
								<div class="input_wrap w100p">
									<input type="text" name="shipMsg" title="배송시 요청사항 직접 입력" maxlength="80" placeholder="80자 이내로 작성해주세요.">
								</div>
							</dd>
						</dl>
						<span class="check_wrap basic">
							<input type="checkbox" id="newRepShipAddress" name="newRepShipAddressYn" th:onclick="|setRepShipAddress(this, 'newRepShipAddress')|" value="N"><label for="newRepShipAddress">기본배송지로 설정</label>
						</span>
					</div>
				</fieldset>
			</div>

			<!--/* 편의점 택배 */-->
			<div class="convenience_delivery_service" id="delivery2_layer" style="display: none">
				<!--/* 편의점 찾기 */-->
				<div class="table_layout convenience_store">
					<div><button type="button" name="convenience" id="cu" value="cu" th:onclick="|storeSearch('CU','${storePcUrl}')|">CU 편의점 찾기</button></div>
					<div><button type="button" name="convenience" id="gs" value="gs" th:onclick="|storeSearch('GS','${storePcUrl}')|">GS 편의점 찾기</button></div>
				</div>
				<!--/* 편의점 정보 */-->
				<div class="panel bordered gray mgt60">
					<div class="panel_cont ui_table">
						<dl>
							<dt><b>지점명</b></dt>
							<dd id="storeShopNmDisp"></dd>
						</dl>
						<dl>
							<dt><b>연락처</b></dt>
							<dd id="storeTelnoDisp"></dd>
						</dl>
						<input type="hidden" id="cStoreName" name="cStoreName">
						<input type="hidden" id="cStorePhoneNo" name="cStorePhoneNo">
						<input type="hidden" id="cStoreHqCode" name="cStoreHqCode">
						<input type="hidden" id="cStoreCenterCode" name="cStoreCenterCode">
						<input type="hidden" id="cStoreCenterName" name="cStoreCenterName">
						<input type="hidden" id="cStoreStoreCode" name="cStoreStoreCode">
						<input type="hidden" id="cStoreCompany" name="cStoreCompany">
						<input type="hidden" id="cStoreDockNo" name="cStoreDockNo">
						<input type="hidden" id="cStoreAddressZipCode" name="cStoreAddressZipCode">
						<input type="hidden" id="cStoreAddressAddress1" name="cStoreAddressAddress1">
						<input type="hidden" id="cStoreAddressAddress2" name="cStoreAddressAddress2">
						<input type="hidden" id="cStoreArrivalAreaCode" name="cStoreArrivalAreaCode">
						<input type="hidden" id="cStoreArrivalAreaBarcode" name="cStoreArrivalAreaBarcode">
						<input type="hidden" id="cStoreDongNmCode" name="cStoreDongNmCode">
						<input type="hidden" id="cStoreArrivalDongNm" name="cStoreArrivalDongNm">
					</div>
				</div>
				<!--/* 받으실분 정보 */-->
				<div class="relative title_area">
					<h4 class="h_title sub">받으실 분</h4>
					<div class="date_btn_set">
						<span><input type="radio" name="address2" id="address2_1" value="01" th:onclick="|orderMemberChoice('MEMBER')|" checked><label for="address2_1">주문자와 동일</label></span>
						<span><input type="radio" name="address2" id="address2_2" value="02" th:onclick="|orderMemberChoice('NEW')|"><label for="address2_2">새로입력</label></span>
					</div>
				</div>
				<!--/* 주문자와 동일 */-->
				<div class="basic_receive" id="address2_1_layer">
					<div class="panel bordered gray">
						<div class="panel_cont ui_table">
							<dl>
								<dt><b>이름</b></dt>
								<dd th:text="${apMember.name.name1}">홍길동</dd>
								<input type="hidden" id="name01" name="cStoreRecipientName" th:value="${apMember.name.name1}">
							</dl>
							<dl>
								<dt><b>연락처</b></dt>
								<dd th:text="${#IntegUtil.hyphenPhoneNumber(apMember.phoneNo1.phoneNo)}">010-0000-0000</dd>
								<input type="hidden" id="phone01" name="cStoreRecipientPhoneNo" th:value="${apMember.phoneNo1.phoneNo}">

							</dl>
						</div>
					</div>
					<p class="text_notice light mgt20">배송 물품이 편의점 도착시, 도착 안내 SMS가 발송 됩니다.</p>
				</div>
				<!--/* 편의점택배 받으실분 새로입력 */-->
				<fieldset class="form">
					<legend class="sr_only">받으실분 정보 입력</legend>
					<div class="ui_table" id="address2_2_01_layer" style="display: none">
						<dl>
							<dt><label for="name02"><b>이름</b></label></dt>
							<dd>
								<div class="input_wrap w100p"><input type="text" id="name02" name="name02" placeholder="이름을 입력해 주세요." required="required" data-msg-required="받으시는 분의 이름을 입력하세요."></div>
							</dd>
						</dl>
						<dl>
							<dt><label for="phone02"><b>휴대폰번호</b></label></dt>
							<dd>
								<div class="input_wrap w100p"><input type="text" id="phone02" name="phone02" placeholder="‘-’없이 숫자만 입력" required="required" data-msg-required="받으시는 분의 휴대폰 번호를 입력하세요."></div>
								<p class="text_notice light w100p" id="address2_2_02_layer" style="display: none">배송 물품이 편의점 도착 시, 도착 안내 SMS가 발송됩니다.</p>
							</dd>
						</dl>
					</div>
				</fieldset>
			</div>
		</div>
	</dd>
	<!--스크립트 정의-->
	<script th:inline="javascript">
		shipAddressInit();

		function shipAddressInit(){

			var shipAddressList = /*[[${shipAddressList}]]*/ '0';			// 기본배송지
			var ordShipAddressExList = /*[[${ordShipAddressExList}]]*/ '0';	// 최근배송지

			/* 기본배송지*/
			if(shipAddressList.length > 0){
				setShipAddress("NOMAL");
			}
			/* 최근배송지(Default) */
			if(ordShipAddressExList.length > 0){
				setShipAddress("LATELY");
			}
			/* 새로입력 */
			if(ordShipAddressExList.length == 0 && shipAddressList.length == 0){
				setShipAddress("NEW");
			}
		}

		/* 배송지 선택구분 */
		function shipChoice(shipChoiceType){
			if(shipChoiceType == 'LATELY' ) {
				// 최근배송지
				setShipAddress("LATELY");
			} else if(shipChoiceType == 'NOMAL' ) {
				// 기본배송지
				setShipAddress("NOMAL");
			} else {
				// 새로입력
				setShipAddress("NEW");
			}
		}

		// 배송지정보 공통
		function setShipAddress(AddressType){
			$('input[name=address]').prop('checked', false);

			/* 최근배송지 */
			if(AddressType == 'LATELY' ) {
				$('input[name=addressType]').attr('value','LATELY');

				$('#address01_1').prop('checked', true);
				$('#address01_1_layer').show();
				$('#address01_2_layer').hide();
				$('#address01_3_01_layer').hide();
				$('#address01_3_02_layer').hide();
				$('#repShipAddressLayer').show(); // 기본배송지 설정

				// 결제정보
				$('input[name=buyerName]').attr('value',$('#recipientName').val());
				$('input[name=mobile]').attr('value',$('#recipientPhoneNo').val());
				$('input[name=email]').attr('value',$('#recipientEmailAddress').val());

				// 배송정보 입력
				// if($('#recipientZipCode').val() == undefined && $('#recipientAddress1').val() == undefined && $('#recipientAddress2').val() == undefined){
				// 	$('#checkedAddress').empty();
				// }else{
				// 	$('#checkedAddress').html( '(' + $('#recipientZipCode').val() + ') ' + $('#recipientAddress1').val() + ' ' + $('#recipientAddress2').val() );
				// }

				// 배송정보
				$('input[name=recipientName]').attr('value',$('#recipientName').val());
				$('input[name=recipientPhoneNo]').attr('value',$('#recipientPhoneNo').val());
				$('input[name=recipientEmailAddress]').attr('value',$('#recipientEmailAddress').val());

				$('input[name=recipientZipCode]').attr('value',$('#recipientZipCode').val());
				$('input[name=recipientAddress1]').attr('value',$('#recipientAddress1').val());
				$('input[name=recipientAddress2]').attr('value',$('#recipientAddress2').val());

				// 새로입력정보 초기화
				// $('input[name=userName]').val('');
				// $('input[name=userPhoneNo]').val('');
				// $('input[name=userPostCode]').val('');
				// $('input[name=deliveryArea]').val('');
				// $('input[name=userAddress1]').val('');
				// $('input[name=userAddress2]').val('');

			/* 기본배송지 */
			} else if(AddressType == 'NOMAL' ) {
				$('input[name=addressType]').attr('value','NOMAL');

				$('#address01_2').prop('checked', true);
				$('#address01_1_layer').hide();
				$('#address01_2_layer').show();
				$('#address01_3_01_layer').hide();
				$('#address01_3_02_layer').hide();
				$('#repShipAddressLayer').hide(); // 기본배송지 설정

				// 결제정보
				$('input[name=buyerName]').attr('value',$('#addressName').val());
				$('input[name=mobile]').attr('value',$('#addressPhoneNo').val());
				$('input[name=email]').attr('value','');

				// 배송정보 입력
				// $('#checkedAddress').html( '(' + $('#addressZipCode').val() + ') ' + $('#addressAddress1').val() + ' ' + $('#addressAddress2').val() );

				// 배송정보
				$('input[name=recipientName]').attr('value',$('#addressName').val());
				$('input[name=recipientPhoneNo]').attr('value',$('#addressPhoneNo').val());
				$('input[name=recipientEmailAddress]').val(null);

				$('input[name=recipientZipCode]').attr('value',$('#addressZipCode').val());
				$('input[name=recipientAddress1]').attr('value',$('#addressAddress1').val());
				$('input[name=recipientAddress2]').attr('value',$('#addressAddress2').val());

				// 새로입력정보 초기화
				// $('input[name=userName]').val('');
				// $('input[name=userPhoneNo]').val('');
				// $('input[name=userPostCode]').val('');
				// $('input[name=deliveryArea]').val('');
				// $('input[name=userAddress1]').val('');
				// $('input[name=userAddress2]').val('');

			/* 새로입력 */
			} else {
				$('input[name=addressType]').attr('value','NEW');

				$('#address01_3').prop('checked', true);
				$('#address01_1_layer').hide();
				$('#address01_2_layer').hide();
				$('#address01_3_01_layer').show();
				$('#address01_3_02_layer').show();
				$('#repShipAddressLayer').show(); // 기본배송지 설정

				// 결제정보
				$('input[name=buyerName]').attr('value', $('#userName').val());
				$('input[name=mobile]').attr('value', $('#userPhoneNo').val());
				$('input[name=email]').attr('value', '');

				// 배송정보 입력
				// $('#checkedAddress').empty();

				// 배송정보
				$('input[name=recipientName]').val('');
				$('input[name=recipientPhoneNo]').val('');
				$('input[name=recipientZipCode]').val('');
				$('input[name=recipientAddress1]').val('');
				$('input[name=recipientAddress2]').val('');
				$('input[name=recipientEmailAddress]').val('');
			}
		}

		/* 배송정보 선택구분(일반택배/편의점배송) */
		function shipInfo(shipType){
			if(shipType == 'SHIP' ) {
				$('#delivery1_address_layer').show(); // 일반택배
				$('#delivery1_layer').show();
				$('#delivery2_layer').hide();
				$('input[name=shipType]').val('SHIP');
			} else if(shipType == 'STORE' ) {
				$('#delivery1_address_layer').hide(); // 편의점
				$('#delivery1_layer').hide();
				$('#delivery2_layer').show();
				$('input[name=shipType]').val('STORE');
				$('input[name=addressStoreType]').attr('value','MEMBER');
			}
		}

		/* 추가정보입력 구분선택(주문자와동일/새로입력) */
		function orderMemberChoice(choiceType){
			if(choiceType == 'MEMBER' ) {
				$('#address2_1_layer').show();
				$('#address2_2_01_layer').hide();
				$('#address2_2_02_layer').hide();
				$('input[name=addressStoreType]').attr('value','MEMBER');
			} else if(choiceType == 'NEW' ) {
				$('#address2_1_layer').hide();
				$('#address2_2_01_layer').show();
				$('#address2_2_02_layer').show();
				$('input[name=addressStoreType]').attr('value','NEW');
			}

			$('#name02').blur(function(){
				$('#name01').val($('#name02').val());
			});

			$('#phone02').blur(function(){
				$('#phone01').val($('#phone02').val());
			});
		}

		/* 배송메세지 설정 */
		$('[name=selectShipMsg]').on('change', function(e){
			var selectedVal = $(this).val();
			//console.log("selectedVal : " + selectedVal);
			var obj = $(this).parents('.ui_table').find('[name=shipMsg]');
			obj.focus();
			if(!selectedVal){
				obj.val("");
			}else{
				obj.val(selectedVal);
			}
		});

		/* 편의점 찾기 */
		function storeSearch(storeType, storePcUrl){ //id,UID
			var id = "etude";
			if('GS' == storeType) {
				window.open("http://was.cvsnet.co.kr/GIS/chzero/cvsnet_shop_dt.jsp?id=" + id + "&UID=" + storePcUrl + "/order/orderStore", "storeMap", "width=1000,height=650,resizable=no,scrollbars=no");
			} else if('CU' == storeType) {
				window.open("http://www.cupost.co.kr/GIS/chzero/cupost_shop_dt.jsp?id=" + id + "&UID=" + storePcUrl + "/order/orderStore", "storeMap", "width=1000,height=650,resizable=no,scrollbars=no");
			}
		}

		/* 기본배송지로 설정 */
		function setRepShipAddress(obj, repShipAddress) {
			if ($(obj).is(':checked')) {
				if('newRepShipAddress' == repShipAddress){
					//새로입력 -> 기본배송지로 설정
					$('[name=newRepShipAddressYn]').attr('value','Y');
				}else{
					//최근배송지 -> 기본배송지로 설정
					$('[name=latelyRepShipAddressYn]').attr('value','Y');
				}
			}
		}

	</script>
</dl>