<!--/* 주문사은품 */-->
<dl id="ordUnit" th:if="${#lists.size(ordUnitAwardOrdPromoExList) > 0}">
	<dt id="ordUnitAcc">
		<span>보너스 혜택</span>
		<button type="button"><span class="sr_only">닫기</span></button>
	</dt>

	<script th:inline="javascript">
		$( document ).ready(function() {
			ordUnitInit();

			//주문증정 '전제직급'시 화면 자동체크하기 때문에 별도 계산
			changeOrdUnit('initLoading');
		});

		function ordUnitInit() {
			var ordUnitAwardOrdPromoExList = /*[[${ordUnitAwardOrdPromoExList}]]*/ null; //주문사은품 목록

			if (ordUnitAwardOrdPromoExList.length > 0) {
				var html = AP.common.getTemplate('order.order-unit-award-info', {
					list: ordUnitAwardOrdPromoExList
				});
				$('#ordUnit dd').remove();
				$('#ordUnit').append(html);
			} else {
				$('#ordUnit').remove();
			}

			//첫구매 영역
			$('[name^=firstPur_]').on('change', function () {
				if ($(this).prop('checked')) {
					if ($(this).data('methodCode') == 'Select') {
						var type = $(this).data('type');
						$('[name=firstPur_' + $(this).data('promosn') + ']').each(function (item) {
							if (type != $(this).data('type')) {
								$(this).attr("checked", false);
							}
						});
					}
				}
				changeOrdUnit();
			});

			//주문단위 증정 Tab
			$('[name=freebies]').on('change', function () {
				if ($(this).prop('checked')) {
					$('.notFirstPur').hide();
					$('.' + this.id).show();
				}
			});

			//주문단위 증정 영역
			$('[name^=ordUnitAward_]').on('change', function () {
				if ($(this).prop('checked')) {
					if ($(this).data('methodCode') == 'Select') {
						var type = $(this).data('type');
						$('[name=ordUnitAward_' + $(this).data('promosn') + ']').each(function (item) {
							if (type != $(this).data('type')) {
								$(this).attr("checked", false);
							}
						});
					}
				}
				changeOrdUnit();
			});

			//선택취소
			$('#cancelBtn').off('click').on('click', function () {
				if ($('[name^=ordUnitAward_]:checked').length > 0) {
					$('[name^=ordUnitAward_]').each(function (item) {
						$(this).attr("checked", false);
					});
					changeOrdUnit();
				}
			});
		}

		var xhr;
		function changeOrdUnit(initLoading) {
			var ordUnitAwardSnArr = [],
				awardSelectQtyArr = [];

			$('[name^=firstPur_]:checked').each(function () {
				ordUnitAwardSnArr.push(this.id);
				awardSelectQtyArr.push(this.dataset.qty);
			});

			$('[name^=ordUnitAward_]:checked').each(function () {
				ordUnitAwardSnArr.push(this.id);
				awardSelectQtyArr.push(this.dataset.qty);
			});

			if (ordUnitAwardSnArr != null && ordUnitAwardSnArr.length > 0) {
				jQuery.ajaxSettings.traditional = true;
			}

			if (xhr != null) {
				xhr.abort();
			}

			if (('initLoading' == initLoading && ordUnitAwardSnArr.length > 0 && awardSelectQtyArr.length > 0)
				|| 'initLoading' != initLoading) {

				xhr = AP.api.ordReceptChangeOrdUnit({}, {
					ordSn : ordSn,
					ordUnitAwardSnArr : ordUnitAwardSnArr,
					awardSelectQtyArr : awardSelectQtyArr,
					membershipSn : $('[name=beauty_point]').length > 0 ? $('[name=beauty_point]').data().membershipsn : null
				}).done(function(data){
					if (data.ordHistEx != null){

						amtPcurInitAjax(data, initLoading);

						var isApMember = /*[[${isApMember}]]*/ null;
						if (isApMember && 'initLoading' != initLoading) {
							if ($('[name="depositPrice"]').length > 0 && $('[name="depositPrice"]').val() != ""
								|| $('[name="beauty_point"]').length > 0 && $('[name="beauty_point"]').val() != "") {
								AP.modal.alert('포장/쇼핑백 추가로 인해 포인트 및 예치금 사용이 초기화됩니다.');
								$('[name="depositPrice"]').val('');
								$('[name="beauty_point"]').val('');
							}
						}
					}
				}).fail(function (e) {
					if (e.errorCode == "EAPI001") {
						AP.modal.alert(e.responseJSON.errorData.message);
					}
				}).always(function () {
					$('#orderLoading').hide();
					jQuery.ajaxSettings.traditional = true;
				});
			}
		}
	</script>
</dl>