<!--/* 주문상품 확인 */-->
<dl>
	<dt>
		<span>주문상품 확인 (<em th:text="${ordCntMap.get('totalOrdOnlineProdCnt')}">00</em>개)</span>
		<button type="button"><span class="sr_only">닫기</span></button>
	</dt>
	<dd>
		<div class="cont">
			<th:block th:if="${ordCntMap.get('shipOrdOnlineProdSumCnt') > 0}">
				<h4 class="h_title sub">온라인 쇼핑상품 (<em th:text="${ordCntMap.get('shipOrdOnlineProdSumCnt')}">00</em>개)</h4>

				<!--/* 일단상품 */-->
				<th:block th:if="${#lists.size(shippingOrdOnlineProdList) > 0}">
					<div class="item_wrap" th:each="ordOnlineProd : ${shippingOrdOnlineProdList}">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-ordonlineprod-info}"/>
					</div>
				</th:block>
				<!--/* 묶음판매상품 */-->
				<th:block th:if="${#lists.size(shippingBulkDcList) > 0}">
					<th:block th:each="bulkDcOnlineProd : ${shippingBulkDcList}">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-bulkdc-info}"/>
					</th:block>
				</th:block>
				<!--/* M+N프로모션 */-->
				<th:block th:if="${#lists.size(shippingMNPromoList) > 0}">
					<th:block th:each="mPlusNPromo : ${shippingMNPromoList}">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-mnpromo-info}"/>
					</th:block>
				</th:block>
				<!--/* 동시구매프로모션 */-->
				<th:block th:if="${#lists.size(shippingSameTimePurPromoList) > 0}">
					<th:block th:each="sameTimePromo : ${shippingSameTimePurPromoList}">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-sametimepromo-info}"/>
					</th:block>
				</th:block>
				<!--/* 뷰티포인트 */-->
				<th:block th:if="${#lists.size(shippingOrdOnlineBeautyPointProdList) > 0}">
					<div class="item_wrap" th:each="ordOnlineProd : ${shippingOrdOnlineBeautyPointProdList}" th:with="memberShip='P'">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-ordonlineprod-info}"/>
					</div>
				</th:block>
				<!--/* 활동포인트 */-->
				<th:block th:if="${#lists.size(shippingOrdOnlineActivityPointProdList) > 0}">
					<div class="item_wrap" th:each="ordOnlineProd : ${shippingOrdOnlineActivityPointProdList}" th:with="memberShip='A'">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-ordonlineprod-info}"/>
					</div>
				</th:block>
			</th:block>

			<!--테이크아웃쇼핑상품-->
			<th:block th:if="${ordCntMap.get('storeOrdOnlineProdSumCnt') > 0 and isApMember}">
				<h4 class="h_title sub">테이크아웃 상품 (<em th:text="${ordCntMap.get('storeOrdOnlineProdSumCnt')}">00</em>개)</h4>
				<!--/* 일단상품 */-->
				<th:block th:if="${#lists.size(storePickupOrdOnlineProdList) > 0}">
					<div class="item_wrap" th:each="ordOnlineProd : ${storePickupOrdOnlineProdList}">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-ordonlineprod-info}"/>
					</div>
				</th:block>
				<!--/* M+N프로모션 */-->
				<th:block th:if="${#lists.size(storePickupMNPromoList) > 0}">
					<th:block th:each="mPlusNPromo : ${storePickupMNPromoList}">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-mnpromo-info}"/>
					</th:block>
				</th:block>
				<!--/* 동시구매프로모션 */-->
				<th:block th:if="${#lists.size(storePickupSameTimePurPromoList) > 0}">
					<th:block th:each="sameTimePromo : ${storePickupSameTimePurPromoList}">
						<th:block ap:replace="~{order/fragment/order-reception-product/order-sametimepromo-info}"/>
					</th:block>
				</th:block>
			</th:block>
			<!--테이크아웃쇼핑상품-->
		</div>
	</dd>
</dl>
<!--//주문상품확인-->