<th:block th:each="ordOtfEx : ${ordOtfExList}">
	<dl id="box" th:if="${#lists.size(ordOtfEx.possibleGiftPackingExList) > 0}">
		<dt>
			<span>포장/쇼핑백 추가신청</span>
			<button type="button"><span class="sr_only">닫기</span></button>
		</dt>

		<script th:inline="javascript">
			$( document ).ready(function() {
				boxInit();
				$( '.ui_spinner' ).spinner();
				$( '.ui_tooltip' ).tooltip();

				$('.spinner_increase').attr('disabled', true);
			});

			//포장/쇼핑백 화면 그리기
			function boxInit() {
				var ordOtfExList = /*[[${ordOtfExList}]]*/ null;	// 주문배송지시
				var finalPamtPcur = /*[[${ordEx.ordHistEx.finalPamtPcur}]]*/ '0'; // 최종결제금액
				if (ordOtfExList != null && ordOtfExList.length > 0) {
					var html = AP.common.getTemplate( 'order.gift-packing-qty-info', {
						list: ordOtfExList
						, finalPamtPcur: finalPamtPcur
					});
					$('#box dd').remove();
					$('#box').append(html);
				} else {
					$('#box').remove();
				}
			}

			/* 포장/쇼핑백 체크시 */
			function boxFlserview(obj, coSn, giftPackingSn, giftPackingFee){
				var id = obj.id;
				if(obj.checked == true) {
					$('[data-flag=' + id + ']').prop('disabled', false);
				}else{
					$('[data-flag=' + id + ']').prop('disabled', true);
					$('#' + id + '_cnt').val(0);
					$('#' + id + '_sum').text(' 추가 0원');
					boxBagQtyChange(coSn, giftPackingSn, 0);
				}
			}

			/* 포장/쇼핑백 수량변경 */
			function boxQtyOperate(obj, coSn, giftPackingSn, giftPackingFee, giftPackingName, operator) {
				var id = obj.dataset.flag;
				if ($('#' + id).prop('checked') == false) {
					AP.modal.alert(giftPackingName + "추가 체크박스를 체크해 주세요.");
				} else {
					var totSum = 0,
						cnt = 0;
					if ("+" == operator) {
						cnt = (parseInt($('#' + id + '_cnt').val()) + 1);
						totSum = cnt * parseInt(giftPackingFee);
					} else {
						cnt = (parseInt($('#' + id + '_cnt').val()) - 1);
						totSum = cnt * parseInt(giftPackingFee);
					}
					$('#' + id + '_sum').text(' 추가 ' + $B.string.numberFormat(totSum) + '원');
					boxBagQtyChange(coSn, giftPackingSn, cnt);
				}

			}

			/* 포장/쇼핑백 금액 계산 */
			var ordSn = /*[[${ordEx.ordSn}]]*/ '0';
			var p_xhr;
			function boxBagQtyChange(coSn, giftPackingSn, cnt) {

				if (p_xhr != null) {
					p_xhr.abort();
				}

				$('#packingLoading').show();

				p_xhr = AP.api.ordReceptChangeBag({}, {
					ordSn: ordSn,
					coSn : coSn,
					giftPackingSn : giftPackingSn,
					giftPackingQty : cnt,
					membershipSn : $('[name=beauty_point]').data().membershipsn
				}).done(function (data) {
					if (data.ordHistEx != null){

						/**
						 * 총결제금액
						 * @type {*|String}
						 */
						var html = AP.common.getTemplate( 'order.final-price-amt-pcur', {
							ordHistEx : data.ordHistEx,
							ordAmtMap : data.ordAmtMap,
							ordCntMap : data.ordCntMap,
							isApMember : data.isApMember
						});
						$('#amtPcur').html(html);
						$("[name=finalPamtPcur]").val(data.ordHistEx.finalPamtPcur);
						$("[name=depositAvailAmt]").val(data.depositAvailAmt);
						$("#orderPayment").html($B.string.numberFormat(data.ordHistEx.finalPamtPcur)+'원 결제하기');

						$('#amtPriceTab > button').trigger("click");
						//$('html, body').animate({scrollTop: $("#amtPcur").offset().top-50}, 1000);

						if ($('[name="depositPrice"]').val() != "" || $('[name="beauty_point"]').val() != "") {
							AP.modal.alert('포장/쇼핑백 추가로 인해 포인트 및 예치금 사용이 초기화됩니다.');
							$('[name="depositPrice"]').val('');
							$('[name="beauty_point"]').val('');
						}
					}
				}).fail(function (xhr) {
					//실패
					console.log(xhr.errorMessage);
				}).always(function () {
					$('#packingLoading').hide();
				});
			}
		</script>
	</dl>
</th:block>
