<!--/* 주문사은품 */-->
<th:block th:if="${apMember}">
<dl id="ordUnit" th:if="${#lists.size(ordUnitAwardOrdPromoExList) > 0}">
	<dt>
		<span>보너스 혜택</span>
		<button type="button"><span class="sr_only">닫기</span></button>
	</dt>

	<script th:inline="javascript">
		$( document ).ready(function() {
			ordUnitInit();

			//tab click event
			$('[name=freebies]').off('click').on('click', function() {
				if ($(this).prop('checked')) {
					$('[class^=freebies]').hide();
					$('.'+this.id).show();
				}
			});
		});

		function ordUnitInit() {
			var ordUnitAwardOrdPromoExList = /*[[${ordUnitAwardOrdPromoExList}]]*/ null; //주문사은품 목록

			if (ordUnitAwardOrdPromoExList.length > 0) {
				var html = AP.common.getTemplate( 'order.order-unit-award-info', {
					list: ordUnitAwardOrdPromoExList
				});
				$('#ordUnit dd').remove();
				$('#ordUnit').append(html);
			} else {
				$('#ordUnit').remove();
			}
		}
	</script>
</dl>
</th:block>