<dl>
	<dt class="on">
		<span>결제수단 선택</span>
		<button type="button"><span class="sr_only">닫기</span></button>
	</dt>
	<dd>
		<div class="cont payment">
			<!--/* 기타 결제 수단 */-->
			<div class="panel bordered other_payments">
				<div class="panel_cont">
					<dl>
						<dt><b>모바일 상품권</b></dt>
						<dd>
							<span class="price"><strong>0</strong>원</span>
							<button type="button" class="btn_sm_neutral" id="b_mobileGift">등록/사용</button>
						</dd>
					</dl>
					<dl th:if="${memberSn > 0 and ordEx.depositAvailAmt > 0}">
						<input type="hidden" name="depositAvailAmt" th:value="${ordEx.depositAvailAmt}">
						<dt><b>예치금</b></dt>
						<dd>
							<span class="input_wrap" id="depositPriceCheck" style="display: none">
								<input type="number" id="depositPrice" name="depositPrice" value="" title="사용할 예치금 입력">
							</span>
							/ <span id="totDepositPrice" th:text="${#IntegUtil.toCommaNumber(session.LOGIN_USER.member.remainDeposit)}">0</span>원
							<button type="button" class="btn_sm_neutral" id="b_deposit" style="display: none">모두 사용</button>
						</dd>
					</dl>
					<dl th:unless="${memberSn > 0}">
						<input type="hidden" name="depositPrice" value="0" placeholder="숫자입력">
					</dl>
				</div>
			</div>

			<!--/* 최종 결제 수단 선택*/-->
			<ul class="table_layout payment_method mgt40">
				<!--결제수단 목록-->
				<th:block ap:replace="~{order/fragment/order-reception-payment/order-payment-method-info}"/>
			</ul>
			<div class="check_wrap mgt20"><input type="checkbox" id="nextPayUseYn" name="nextPayUseYn"><label for="nextPayUseYn">선택한 결제 수단을 다음에도 사용</label></div>

			<!--/* 신용카드 선택 */-->
			<fieldset class="form mgt20">
				<legend class="sr_only">신용카드 정보</legend>
				<div class="ui_table" id="choose_payment_01" style="display: none" th:if="${#lists.size(payMethodResult.payMethodExList) > 0}">
					<dl>
						<dt><label for="cardCo">신용카드사 선택</label></dt>
						<dd>
							<div class="select_wrap w100p">
								<select name="cardCo" id="cardCo" title="신용카드사 선택" required="required" data-msg-required="신용카드사를 선택해주세요.">
									<option value="">신용카드사 선택</option>
									<th:block th:each="payMethod : ${payMethodResult.payMethodExList}" th:if="${payMethod.creditcardCoMgmtYn == 'Y'}">
										<option th:each="option : ${payMethod.creditcardCoExList}" th:id="${option.creditcardCoSn}" th:value="${option.creditcardCoCode}" th:text="${option.creditCardName}"></option>
									</th:block>
								</select>
							</div>
						</dd>
					</dl>
				</div>
			</fieldset>

			<!--/* 현금영수증 신청 */-->
			<fieldset class="form mgt20">
				<legend class="sr_only">현금영수증 신청 정보</legend>
				<div class="ui_table" id="choose_payment_02" style="display: none">
					<dl>
						<dt><label for="receipt">현금영수증 신청</label></dt>
						<dd>
							<div class="date_btn_set">
								<span><input type="radio" name="receipt" id="receipt1" th:onclick="|setCash('x')|" checked><label for="receipt1">신청안함</label></span>
								<span><input type="radio" name="receipt" id="receipt2" th:onclick="|setCash('0')|" value="0"><label for="receipt2">개인 소득공제용</label></span>
								<span><input type="radio" name="receipt" id="receipt3" th:onclick="|setCash('1')|" value="1"><label for="receipt3">사업자 증빙용</label></span>
							</div>
							<!--/* 개인 소득공제용, 사업자 증빙용 */-->
							<div class="input_wrap w100p" id="reg_num" style="display: none">
								<input type="text" id="receipt" name="receipt" required="required" data-msg-required="휴대폰번호 10자리(11자리) 또는 현금 영수증 카드번호 18자리를 입력하세요.">
							</div>
						</dd>
					</dl>
				</div>
			</fieldset>

			<!--결제수단 별 유의사항-->
			<th:block ap:replace="~{order/fragment/order-reception-payment/order-payment-notice-info}"/>
		</div>
	</dd>
	<!--스크립트 정의-->
	<script th:inline="javascript">
		/*$('[name=payMethod]').on('click', function(e){
			var openSeller = $(this);
			var classValue = openSeller.attr('class');
			if(classValue){
				openSeller.addClass(' on');
			}else{
				openSeller.removeClass(' on');
			}
		});*/

		$( document ).ready(function() {
			depositPriceInit();
		});

		/* 선택한 결제 수단을 다음에도 사용 */
		$('[name=nextPayUseYn]').on('click', function(e){
			var payMethod = $('[name="payMethod"]').val();
			if(payMethod == null || payMethod == '') {
				AP.modal.alert("결제수단을 선택해 주세요.");
				$('[name=nextPayUseYn]:checked').prop('checked', false);
				$("[name=nextPayUseYn]").attr("value","N");
			}
			if($(this).is(":checked")) {
				$('[name=nextPayUseYn]:checked').prop('checked', true);
				$("[name=nextPayUseYn]").attr("value","Y");
			}else{
				$('[name=nextPayUseYn]:checked').prop('checked', false);
				$("[name=nextPayUseYn]").attr("value","N");
			}
		});

		/* 모바일 상품권 등록/사용하기 */
		$("#b_mobileGift").on('click', function(e){
			AP.modal.alert("준비중입니다.");
			/*var modal = AP.modal.full({
				title: '모바일 상품권 등록/사용하기',
				contents: {
					templateKey: 'order.fullpage-mobile-gift-card',
					templateModel: {}
				},
				containerClass: 'mobile_gift_card'
			}).addListener( 'modal-before-close', function (e) {
				//tab
				modal.getElement().find( '.ui_tab' ).tabs( 'clear' );

				console.log( e.closeType ); //confirm, cancel, close
			}).addListener( 'modal-close', function (e) {
				console.log( e.closeType ); //confirm, cancel, close
			});
			//tab
			modal.getElement().find( '.ui_tab' ).tabs();*/
		});

		/* 예치금 모두사용하기 */
		$("#b_deposit").on('click', function(e){
			var depositAvailAmt =  $('[name="depositAvailAmt"]').val();		// 예치금 사용가능한 금액
			var finalPamtPcur = $('[name="finalPamtPcurPrice"]').val();		// 최종결제금액
			if(depositAvailAmt > 0){
				// 예치금 > 결제금액
				if(depositAvailAmt > finalPamtPcur){
					$('[name="depositPrice"]').val(finalPamtPcur);
				}else if(depositAvailAmt <= finalPamtPcur){
					$('[name="depositPrice"]').val(depositAvailAmt);
				}
			}
			var payMethod = $('[name="payMethod"]').val();
			if(payMethod == null || payMethod == '') {
				$('[name="payMethod"]').attr('checked', false);

				$('[name=nextPayUseYn]:checked').prop('checked', false);
				$("[name=nextPayUseYn]").attr("value","N");
			}
		});

		$('[name="depositPrice"]').on('blur', function(e){
			var totDepositPrice = parseInt($(this).val());							// 입력한 사용가능금액
			var finalPamtPcur = parseInt($('[name="finalPamtPcurPrice"]').val());	// 최종결제금액
			if(totDepositPrice > 0){
				// 예치금 > 결제금액
				if(totDepositPrice > finalPamtPcur){
					AP.modal.alert("예치금 사용금액이 최종결제금액보다 크므로 사용할수 없습니다.");
					$(this).val(finalPamtPcur);
				}else if(totDepositPrice <= finalPamtPcur){
					$(this).val(totDepositPrice);
				}
			} else {
				AP.modal.alert("금액 정확히 입력해주세요.");
				$(this).val('');
			}
			var payMethod = $('[name="payMethod"]').val();
			if(payMethod == null || payMethod == '') {
				$('[name="payMethod"]').attr('checked', false);
			}
		});

		// 예치금 사용 화면제어
		function depositPriceInit() {
			var depositAvailAmt =  parseInt($('[name="depositAvailAmt"]').val());
			if(depositAvailAmt > 0){
				// input, button show!
				$('[id="depositPriceCheck"]').show();
				$('[id="b_deposit"]').show();
			}else{
				// input, button hide!
				$('[id="depositPriceCheck"]').hide();
				$('[id="b_deposit"]').hide();
			}
		}

		/* 결제수단 선택에 따른 UI */
		function setPayment(obj, payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode) {

			if(payMethod == 'WPAY' && goPayMethod == ''){ // 원터치 간편결제
				if ($('#w_pay').hasClass('on')) {
					$('#w_pay').removeClass('on');
					$('input[name=payMethod]').attr("value", '');
				} else {
					$('[name=payMethod]').removeClass('on');
					$('#w_pay').addClass('on');

					isWpayMember(obj, payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);	//wpay 회원가입 여부 체크
				}

				/* var payMethod = $('[name="payMethod"]').val();
				if(payMethod == null || payMethod == '') {
					$('[name="payMethod"]').attr('checked', false);
				} */

				/*AP.modal.confirm( 'WPAY 회원가입이 필요합니다. 회원가입하시겠습니까?' ).addListener( 'modal-close', function (e) {
					if(e.closeType == 'confirm'){// WPAY 회원가입 요청
						//getWPayMemReqCall();
					}
				});
				$("#choose_payment_01").hide();
				$("#choose_payment_02").hide();
				$('input[name=goPayMethod]').val('');
				$("select[name=cardCo]").prop('selectedIndex',0); // 콤보박스 초기화
				$('#checkedPayMethod').html($(obj).attr('title')); // 결제수단 선택

				// 현금영수증신청 디폴드 설정
				setCash('x');

				// 결제수단 별 유의사항
				$("#payment_info_01").show();
				$("#payment_info_02").hide();
				$("#payment_info_03").hide();
				$("#payment_info_04").hide();
				$("#payment_info_05").hide();

				// 결제수단 세팅
				$('input[name=payMethod]').attr("value", payMethod);
				$('input[name=payMethodSn]').attr("value", payMethodSn);
				$('input[name=payServiceCode]').attr("value", payServiceCode);
				$('input[name=payMethodCode]').attr("value", payMethodCode);*/
			}
			else if(payMethod == 'wcard' && goPayMethod == ''){ // 신용카드
				if ($('#credit').hasClass('on')) {
					$('#credit').removeClass('on');

					$("#choose_payment_01").hide();

					$('input[name=payMethod]').attr("value", '');
				} else {
					$('[name=payMethod]').removeClass('on');
					$('#credit').addClass('on');

					$("#choose_payment_01").show();
					$("#choose_payment_02").hide();
					$('input[name=goPayMethod]').val('');
					$('#checkedPayMethod').html($(obj).attr('title'));	// 결제수단 선택

					// 현금영수증신청 디폴드 설정
					setCash('x');

					// 결제수단 유의사항
					paymentNoticeClose();

					// 결제수단 세팅
					$('input[name=payMethod]').attr("value", payMethod);
					$('input[name=payMethodSn]').attr("value", payMethodSn);
					$('input[name=payServiceCode]').attr("value", payServiceCode);
					$('input[name=payMethodCode]').attr("value", payMethodCode);
				}
			}
			else if(payMethod == 'wcard' && goPayMethod == 'onlypayco'){ // 신용카드(페이코결제)
				if ($('#payco').hasClass('on')) {
					$('#payco').removeClass('on');

					$('input[name=payMethod]').attr("value", '');
				} else {
					$('[name=payMethod]').removeClass('on');
					$('#payco').addClass('on');

					$("#choose_payment_01").hide();
					$("#choose_payment_02").hide();
					$('input[name=goPayMethod]').attr('value',goPayMethod);
					$("select[name=cardCo]").prop('selectedIndex',0);	// 콤보박스 초기화
					$('#checkedPayMethod').html($(obj).attr('title'));	// 결제수단 선택

					// 현금영수증신청 디폴드 설정
					setCash('x');

					// 결제수단 유의사항
					paymentNoticeClose();

					// 결제수단 세팅
					$('input[name=payMethod]').attr("value", payMethod);
					$('input[name=payMethodSn]').attr("value", payMethodSn);
					$('input[name=payServiceCode]').attr("value", payServiceCode);
					$('input[name=payMethodCode]').attr("value", payMethodCode);
				}
			}
			else if(payMethod == 'wcard' && goPayMethod == 'onlykakaopay'){ // 신용카드(카카오페이)
				if ($('#kakao_pay').hasClass('on')) {
					$('#kakao_pay').removeClass('on');

					$("#payment_info_03").hide();

					$('input[name=payMethod]').attr("value", '');
				} else {
					$('[name=payMethod]').removeClass('on');

					$('#kakao_pay').addClass('on');

					$("#choose_payment_01").hide();
					$("#choose_payment_02").hide();
					$('input[name=goPayMethod]').attr('value',goPayMethod);
					$("select[name=cardCo]").prop('selectedIndex',0);	// 콤보박스 초기화
					$('#checkedPayMethod').html($(obj).attr('title'));	// 결제수단 선택

					// 현금영수증신청 디폴드 설정
					setCash('x');

					// 결제수단 별 유의사항
					$("#payment_info_01").hide();
					$("#payment_info_02").hide();
					$("#payment_info_03").show();
					$("#payment_info_04").hide();
					$("#payment_info_05").hide();

					// 결제수단 세팅
					$('input[name=payMethod]').attr("value", payMethod);
					$('input[name=payMethodSn]').attr("value", payMethodSn);
					$('input[name=payServiceCode]').attr("value", payServiceCode);
					$('input[name=payMethodCode]').attr("value", payMethodCode);
				}
			}
			else if(payMethod == 'NAVERPAY' && goPayMethod == ''){ // 네이버 페이
				if ($('#n_pay').hasClass('on')) {
					$('#n_pay').removeClass('on');

					$("#payment_info_02").hide();

					$('input[name=payMethod]').attr("value", '');
				} else {
					$('[name=payMethod]').removeClass('on');

					$('#n_pay').addClass('on');

					$("#choose_payment_01").hide();
					$("#choose_payment_02").hide();
					$('input[name=goPayMethod]').val('');
					$("select[name=cardCo]").prop('selectedIndex',0);	// 콤보박스 초기화
					$('#checkedPayMethod').html($(obj).attr('title'));	// 결제수단 선택

					// 현금영수증신청 디폴드 설정
					setCash('x');

					// 결제수단 별 유의사항
					$("#payment_info_01").hide();
					$("#payment_info_02").show();
					$("#payment_info_03").hide();
					$("#payment_info_04").hide();
					$("#payment_info_05").hide();

					// 결제수단 세팅
					$('input[name=payMethod]').attr("value", payMethod);
					$('input[name=payMethodSn]').attr("value", payMethodSn);
					$('input[name=payServiceCode]').attr("value", payServiceCode);
					$('input[name=payMethodCode]').attr("value", payMethodCode);
				}
			}
			else if(payMethod == 'mobile' && goPayMethod == ''){ // 모바일결제(휴대폰 결제)
				if ($('#phone').hasClass('on')) {
					$('#phone').removeClass('on');

					$("#payment_info_04").hide();

					$('input[name=payMethod]').attr("value", '');
				} else {
					$('[name=payMethod]').removeClass('on');

					$('#phone').addClass('on');

					$("#choose_payment_01").hide();
					$("#choose_payment_02").hide();
					$('input[name=goPayMethod]').val('');
					$("select[name=cardCo]").prop('selectedIndex',0);	// 콤보박스 초기화
					$('#checkedPayMethod').html($(obj).attr('title'));	// 결제수단 선택

					// 현금영수증신청 디폴드 설정
					setCash('x');

					// 결제수단 별 유의사항
					$("#payment_info_01").hide();
					$("#payment_info_02").hide();
					$("#payment_info_03").hide();
					$("#payment_info_04").show();
					$("#payment_info_05").hide();

					// 결제수단 세팅
					$('input[name=payMethod]').attr("value", payMethod);
					$('input[name=payMethodSn]').attr("value", payMethodSn);
					$('input[name=payServiceCode]').attr("value", payServiceCode);
					$('input[name=payMethodCode]').attr("value", payMethodCode);
				}
			}
			else if(payMethod == 'bank' && goPayMethod == ''){ // 실시간 계좌이체
				if ($('#account_transfer').hasClass('on')) {
					$('#account_transfer').removeClass('on');

					$("#choose_payment_02").hide();

					$('input[name=payMethod]').attr("value", '');
				} else {
					$('[name=payMethod]').removeClass('on');

					$('#account_transfer').addClass('on');

					//AP.modal.alert("준비중입니다.");
					/*var payMethod = $('[name="payMethod"]').val();
                    if(payMethod == null || payMethod == '') {
                        $('[name="payMethod"]').attr('checked', false);
                    }*/
					$("#choose_payment_01").hide();
					$("#choose_payment_02").show();
					$('input[name=goPayMethod]').val('');
					$("select[name=cardCo]").prop('selectedIndex',0);	// 콤보박스 초기화
					$('#checkedPayMethod').html($(obj).attr('title'));	// 결제수단 선택

					// 결제수단 유의사항
					paymentNoticeClose();

					// 결제수단 세팅
					$('input[name=payMethod]').attr("value", payMethod);
					$('input[name=payMethodSn]').attr("value", payMethodSn);
					$('input[name=payServiceCode]').attr("value", payServiceCode);
					$('input[name=payMethodCode]').attr("value", payMethodCode);
				}
			}
			else if(payMethod == 'vbank' && goPayMethod == ''){ // 가상계좌(무통장 입금)
				if ($('#remit_bank').hasClass('on')) {
					$('#remit_bank').removeClass('on');

					$("#choose_payment_02").hide();
					
					$("#payment_info_05").hide();

					$('input[name=payMethod]').attr("value", '');
				} else {
					$('[name=payMethod]').removeClass('on');

					$('#remit_bank').addClass('on');

					//AP.modal.alert("준비중입니다.");
					/*var payMethod = $('[name="payMethod"]').val();
                    if(payMethod == null || payMethod == '') {
                        $('[name="payMethod"]').attr('checked', false);
                    }*/
					$("#choose_payment_01").hide();
					$("#choose_payment_02").show();
					$('input[name=goPayMethod]').val('');
					$("select[name=cardCo]").prop('selectedIndex',0);	// 콤보박스 초기화
					$('#checkedPayMethod').html($(obj).attr('title'));	// 결제수단 선택

					// 결제수단 별 유의사항
					$("#payment_info_01").hide();
					$("#payment_info_02").hide();
					$("#payment_info_03").hide();
					$("#payment_info_04").hide();
					$("#payment_info_05").show();

					// 결제수단 세팅
					$('input[name=payMethod]').attr("value", payMethod);
					$('input[name=payMethodSn]').attr("value", payMethodSn);
					$('input[name=payServiceCode]').attr("value", payServiceCode);
					$('input[name=payMethodCode]').attr("value", payMethodCode);
				}
			}
		}

		/* 현금영수증 발급신청 구분 */
		function setCash(type) {
			if (type == "x"){
				$("#reg_num").hide();
				$("#receipt1").attr("checked", true);
			} else if (type == "0"){
				$("#reg_num").show();
				$("#receipt").attr("placeholder","휴대폰번호 혹은 카드번호 숫자만 입력");
				$("#receipt").attr("required","required");
				$("#receipt").attr("data-msg-required","휴대폰번호 10자리(11자리) 또는 현금 영수증 카드번호 18자리를 입력하세요.");
				$("#receipt").focus();
			} else if (type == "1"){
				$("#reg_num").show();
				$("#receipt").attr("placeholder", "사업자등록번호 숫자만 입력");
				$("#receipt").attr("required","required");
				$("#receipt").attr("data-msg-required","사업자등록번호를 입력하세요.");
				$("#receipt").focus();
			}
		}

		/* 결제수단 별 유의사항 설정 */
		function paymentNoticeClose() {
			$("#payment_info_01").hide();
			$("#payment_info_02").hide();
			$("#payment_info_03").hide();
			$("#payment_info_04").hide();
			$("#payment_info_05").hide();
		}

		/*wpay 가입여부 확인*/
		function isWpayMember(obj, payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode){

			AP.api.getMemberWPayInfo({}, {

			}).done(function (data) {
				if (data.result != "success"){

					AP.modal.confirm( 'WPAY 회원가입이 필요합니다. 회원가입하시겠습니까?' ).addListener( 'modal-close', function (e) {
						if(e.closeType == 'confirm'){// WPAY 회원가입 요청
							getWPayMemReqCall();
						}else{
							$('#w_pay').removeClass('on');
							$('input[name=payMethod]').attr("value", '');
						}
					});
				} else {
					setViewWpay(obj, payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
				}
			}).fail(function (e) {
				AP.modal.alert("[ajax.fail]실패");
			}).always(function () {
			});
		}

		/*wpay 회원가입 페이지 호출*/
		var wpayRegistPopup;
		function getWPayMemReqCall() {

			wpayRegistPopup = window.open('about:blank','wpayRegistPopup','width=850 height=750 menubar=no status=no');
			var $form = $("form[name='orderForm']");

			$form.attr("method", "post");
			$form.attr("action", "/payment/wpayRegist");
			$form.attr("target", "wpayRegistPopup");
			$form.submit();

		}

		/*wpay 회원인 경우 ui 처리*/
		function setViewWpay(obj, payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode){

			$("#choose_payment_01").hide();
			$("#choose_payment_02").hide();
			$('input[name=goPayMethod]').val('');
			$("select[name=cardCo]").prop('selectedIndex',0); // 콤보박스 초기화
			$('#checkedPayMethod').html($(obj).attr('title')); // 결제수단 선택

			// 현금영수증신청 디폴드 설정
			setCash('x');

			// 결제수단 별 유의사항
			$("#payment_info_01").show();
			$("#payment_info_02").hide();
			$("#payment_info_03").hide();
			$("#payment_info_04").hide();
			$("#payment_info_05").hide();

			// 결제수단 세팅
			$('input[name=payMethod]').attr("value", payMethod);
			$('input[name=payMethodSn]').attr("value", payMethodSn);
			$('input[name=payServiceCode]').attr("value", payServiceCode);
			$('input[name=payMethodCode]').attr("value", payMethodCode);
		}
		
		/*회원가입결과 메세지 출력*/
		function wpayMemberRegResultMsg(msg) {
			AP.modal.alert(msg);
		}
	</script>
</dl>