		<div class="slide page-slide" data-ix-options="auto-play:true; paging:true; view-length:1;">
      		<div class="ix-list-viewport">
      			<ul class="ix-list-items">
      			{{#each this.list}}
                  <li class="ix-list-item">
                  <a href="/display/event_detail?planDisplaySn={{this.planDisplaySn}}"><img src="{{this.bannerImgP1}}" alt="{{this.planDisplayTitle}}"></a>                    
                  </li>
                {{/each}}
      			</ul>
      		</div>
      		<div class="ix-controller white_overlay">
      			<div class="paging"><strong class="current"></strong> / <span class="total"></span></div>
      		</div>
      	</div>