		<dl class="brand_info">
          <dt>
            <a href="#none"><img alt="" src="/mo/ko/images/dummy/img_brand_01.png" class="brand"><span>헤라</span> <i class="ico_arr"></i></a>
            <!--/* 좋아요 */-->
            <button type="button" class="btn_toggle" onclick="$(this).toggleClass('on'); $(this).find('i').toggleClass('on')"><i class="ico_heart_s"></i><span class="sr_only">좋아요</span></button>
          </dt>
          <dd>
            <div class="tags scrollable_x">
              <a href="javascript:;">#루즈홀릭</a>
              <a href="javascript:;">#에이지어웨이</a>
              <a href="javascript:;">#서울리스타</a>
              <a href="javascript:;">#루즈홀릭</a>
              <a href="javascript:;">#에이지어웨이</a>
              <a href="javascript:;">#서울리스타</a>
            </div>
          </dd>
        </dl>