<!--원터치 간편결제-->
<div class="panel gray mgt20" id="payment_info_01" style="display: none">
	<div class="panel_cont">
		<dl class="dl_cont">
			<dt><b>유의사항</b></dt>
			<dd>
				<ul class="list_bullet_dot">
					<li>원터치 간편 결제는 신용카드를 한 번 등록 후 별도의 등록/인증 절차 없이 간편하게 결제할 수 있는 결제 시스템입니다.</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>

<!--네이버페이-->
<div class="panel gray mgt20" id="payment_info_02" style="display: none">
	<div class="panel_cont">
		<dl class="dl_cont">
			<dt><b>유의사항</b></dt>
			<dd>
				<ul class="list_bullet_dot">
					<li>주문 변경 시 카드사 혜택 및 할부 적용 여부는 해당 카드사 정책에 따라 변경될 수 있습니다.</li>
					<li>네이버페이는 네이버ID로 별도 앱 설치 없이 신용카드 또는 은행계좌 정보를 등록하여 네이버페이 비밀번호로 결제할 수 있는 간편결제 서비스입니다.</li>
					<li>결제 가능한 신용카드 : 신한, 삼성, 현대, BC, 국민, 하나, 롯데, NH농협, 씨티</li>
					<li>결제 가능한 은행 : NH농협, 국민, 신한, 우리, 기업, SC제일, 부산, 경남, 수협, 우체국</li>
					<li>네이버페이 카드 간편결제는 네이버페이에서 제공하는 카드사 별 무이자, 청구할인 혜택을 받을 수 있습니다.</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>

<!--카카오페이-->
<div class="panel gray mgt20" id="payment_info_03" style="display: none">
	<div class="panel_cont">
		<dl class="dl_cont">
			<dt><b>유의사항</b></dt>
			<dd>
				<ul class="list_bullet_dot">
					<li>카카오톡에서 신용/체크카드 연결하고, 결제도 지문으로 쉽고 편리하게 이용하세요!</li>
					<li>본인명의 스마트폰에서 본인명의 카드 등록 후 사용 가능(카드등록 : 카카오톡 > 더보기 > 카카오페이 > 카드)</li>
					<li>30만원 이상 결제, ARS 추가 인증 필요</li>
					<li>이용가능 카드사 : 모든 국내 신용/체크카드</li>
					<li>카카오페이는 무이자할부 및 제휴카드 혜택 내용과 관계가 없으며, 자세한 사항은 카카오페이 공지사항에서 확인하실 수 있습니다. </li>
				</ul>
			</dd>
		</dl>
	</div>
</div>

<!--휴대폰 결제-->
<div class="panel gray mgt20" id="payment_info_04" style="display: none">
	<div class="panel_cont">
		<dl class="dl_cont">
			<dt><b>유의사항</b></dt>
			<dd>
				<ul class="list_bullet_dot">
					<li>결제금액은 다음 달 휴대폰 요금에 합산하여 청구됩니다.</li>
					<li>휴대폰 소액결제 금액은 통신사 별로 한도 금액 내에 결제하셔야 합니다.</li>
					<li>결제 당월에만 휴대폰결제로 취소가 가능하며, 익월에 주문취소시 휴대폰 요금은 청구 되고 회원님께서 지정한 은행계좌 혹은 예치금으로 환불되오니 유의하시기 바랍니다.</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>

<!--무통장 입금-->
<div class="panel gray mgt20" id="payment_info_05" style="display: none">
	<div class="panel_cont">
		<dl class="dl_cont">
			<dt><b>유의사항</b></dt>
			<dd>
				<ul class="list_bullet_dot">
					<li>무통장 입금은 인터넷뱅킹, 텔레뱅킹, 은행창구를 이용해 주세요.</li>
					<li>무통장 입금은 ATM 사용이 불가합니다.</li>
					<li>무통장 입금의 경우 주문접수 후 입금이 되지 않고 주문일 포함 2일이 지나면 자동 취소됩니다.</li>
					<li>현금영수증은 마이에뛰드>증빙서류 발급에서 신청 가능합니다.</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>