<th:block layout:fragment="pearl-list">

	<ul th:if="${not #lists.isEmpty(activityPointInfo.histories)}" class="pbody pearl-table">
		<li th:each="item : ${activityPointInfo.histories}" class="point-item">
			<div class="table_layout">
				<div>
					<p class="date" th:text="${#dates.format(item.pointHistOccurDt, 'yyyy.MM.dd')}">2018.01.24</p>
					<p class="h_title" th:text="${#IntegUtil.codeMan(0, item.pointHistOccurTypeCode)}">SNS연동 진주알</p>
				</div>
				<div th:if="${item.pointHistTypeCode == 'Saving' || item.pointHistTypeCode == 'UseCancel'}">( <em>+</em> ) <span th:text="${#IntegUtil.toCommaNumber(item.point)}">100</span></div>
				<div th:unless="${item.pointHistTypeCode == 'Saving' || item.pointHistTypeCode == 'UseCancel'}">( <em>-</em> ) <span th:text="${#IntegUtil.toCommaNumber(item.point * -1)}">100</span></div>
			</div>
		</li>
	</ul>
</th:block>