<!-- 포장 서비스 -->
<div class="ui_accordion ＠accordion-apply">
	<dl>
		<dt><b class="title">포장서비스 <!-- span>신청안함</span --> <span>2개 신청</span></b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="true" style="display: none;">

			<div class="ui_tooltip ＠tooltip-apply">
				<button type="button" class="btn_tooltip"><b>2</b>개 상품을 무료로 신청할 수 있습니다 <span>자세히</span></button>
				<div class="layer_tooltip">
					<dl>
						<dt>포장 서비스 안내</dt>
						<dd>
							<p class="text">
								고객님의 구매등급에 따라 주문건당 무료포장 서비스를 이용하실 수 있습니다.<br>
								<span>홍길동</span>님은 <b>VVIP</b> 고객으로, <b>1</b>개 상품 신청할 수 있습니다.<br>
								포장이 어려운 상품은 선택 목록에서 자동 제외됩니다<br>
								포장 서비스 이용 주문이 많을 경우, 배송이 지연될 수 있습니다.
							</p>
							<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
						</dd>
					</dl>
				</div>
			</div>
			<div class="product_slide_new gift_wrapping">
				<ul class="three_half check">
					<li>
						<div class="check_wrap">
							<span class="chk_round_h24"><input type="checkbox" name="" id="product_item1" checked=""></span>
							<label for="product_item1">
										<span class="product_visual">
											<img alt="" src="/mo/ko/images/dummy/img_thumb_sm1.jpg">
										</span>
								<span class="product_info">
											<span class="brand">헤라</span>
											<span class="product_name">브랜드명 제품명 최대 두줄 브랜드명 제품명 최대 두줄</span>
										</span>
							</label>
						</div>
					</li>
					<li>
						<div class="check_wrap">
							<span class="chk_round_h24"><input type="checkbox" name="" id="product_item2"></span>
							<label for="product_item2">
										<span class="product_visual">
											<img alt="" src="/mo/ko/images/dummy/img_thumb_sm2.jpg">
										</span>
								<span class="product_info">
											<span class="brand">라네즈</span>
											<span class="product_name">인텐시브오일 120ml</span>
										</span>
							</label>
						</div>
					</li>
					<li>
						<div class="check_wrap">
							<span class="chk_round_h24"><input type="checkbox" name="" id="product_item3"></span>
							<label for="product_item3">
										<span class="product_visual">
											<img alt="" src="/mo/ko/images/dummy/img_thumb_sm3.jpg">
										</span>
								<span class="product_info">
											<span class="brand">헤라</span>
											<span class="product_name">브랜드명 제품명 최대 두줄</span>
										</span>
							</label>
						</div>
					</li>
					<li>
						<div class="check_wrap">
							<span class="chk_round_h24"><input type="checkbox" name="" id="product_item4"></span>
							<label for="product_item4">
										<span class="product_visual">
											<img alt="" src="/mo/ko/images/dummy/img_thumb_sm1.jpg">
										</span>
								<span class="product_info">
											<span class="brand">헤라</span>
											<span class="product_name">브랜드명 제품명 최대 두줄</span>
										</span>
							</label>
						</div>
					</li>
				</ul>
			</div>
		</dd>
	</dl>
</div>