<!-- 포장 서비스 (회원만 가능한 서비스) -->
<div id="selectPackingInfo" class="ui_accordion" th:if="${apMember != null}">
	<dl>
		<dt><b class="title">포장서비스 <!-- span>신청안함</span --> <span name="giftPackingSelCnt"></span></b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="true" style="display: none;">

			<div class="ui_tooltip">
				<button type="button" class="btn_tooltip">
					<b name="giftPackingApplyCnt"></b>개 상품을 무료로 신청할 수 있습니다 <span>자세히</span>
				</button>
				<div class="layer_tooltip">
					<dl>
						<dt>포장 서비스 안내</dt>
						<dd>
							<p class="text">
								고객님의 구매등급에 따라 주문건당 무료포장 서비스를 이용하실 수 있습니다.<br>
								<span th:text="${apMember.name.name1}"></span>님은 <b th:text="${ordEx.memberLevelName}"></b> 고객으로, <b name="giftPackingApplyCnt"></b>개 상품 신청할 수 있습니다.<br>
								포장이 어려운 상품은 선택 목록에서 자동 제외됩니다<br>
								포장 서비스 이용 주문이 많을 경우, 배송이 지연될 수 있습니다.
							</p>
							<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
						</dd>
					</dl>
				</div>
			</div>
			<div class="product_slide_new gift_wrapping">
				<ul class="three_half check">
					<th:block th:each="ordOtfEx: ${ordOtfExList}">
						<th:block th:each="ordHistProdEx: ${ordOtfEx.ordHistProdExList}">
							<th:block th:each="giftPackingEx, iterStat: ${ordHistProdEx.ordProdEx.possibleGiftPackingExList}">
								<li>
									<div class="check_wrap">
										<span class="chk_round_h24">
											<input type="checkbox" name="giftPackingCheck" th:id="|${'product_item' + iterStat.index}|"
												   th:onclick="|selectPackingClick('${ordOtfEx.coSn}' , '${ordHistProdEx.ordHistProdSn}', '${giftPackingEx.giftPackingSn}', 1, this.checked)|">
										</span>
										<label th:for="|${'product_item' + iterStat.index}|" >
											<span class="product_visual">
												<th:block th:each="giftImgUrl, iterStat : ${giftPackingEx.giftPackingImgUrlList}">
													<img th:src="${giftImgUrl}" th:if="${iterStat.first}">
												</th:block>
											</span>
											<span class="product_info">
												<span class="brand" th:text="${ordHistProdEx.ordProdEx.onlineProdNameBlang}">헤라</span>
												<span class="product_name" th:text="${ordHistProdEx.ordProdEx.prodNameBlang}">제품명 최대 두줄</span>
											</span>
										</label>
									</div>
								</li>
							</th:block>
						</th:block>
					</th:block>
				</ul>
			</div>
		</dd>
	</dl>
</div>
<script th:inline="javascript">

	$(function(){
		var giftPackingSelCnt = 0;
		var memberLevelOrder = /*[[${ordEx.memberLevelOrder}]]*/ 0;

		//선택할 수 있는 갯수가 없을 경우 전체 레이어를 숨긴다.
		if( memberLevelOrder == 0 ) {
			$("#selectPackingInfo").hide();
		}

		changeProdSelCnt();

		if(memberLevelOrder == 1 || memberLevelOrder == 2){
			$("[name=giftPackingApplyCnt]").html("1")
		}else if(memberLevelOrder == 3 || memberLevelOrder == 4){
			$("[name=giftPackingApplyCnt]").html("2")
		}else{
			$("[name=giftPackingApplyCnt]").html("0")
		}

		$("input[name=giftPackingCheck]").on("click", function(){
			var checkCnt = $("input[name=giftPackingCheck]:checked").length;
			if(memberLevelOrder == 1 || memberLevelOrder == 2){
				if(checkCnt > 1){
					$(this).prop('checked', false);
					AP.modal.alert("총 1개 선택이 가능합니다.");
				}
			}else if(memberLevelOrder == 3 || memberLevelOrder == 4){
				if(checkCnt > 2){
					$(this).prop('checked', false);
					AP.modal.alert("총 2개 선택이 가능합니다.");
				}
			}else{
				$(this).prop('checked', false);
				AP.modal.alert("선택할 수 없는 등급입니다.");
			}

			changeProdSelCnt();
		});

		function changeProdSelCnt(){
			giftPackingSelCnt = $("input[name=giftPackingCheck]:checked").length;
			$("[name=giftPackingSelCnt]").html(giftPackingSelCnt + "개 신청");
		}

	});

	//선택된 포장상품 이벤트
	function selectPackingClick(coSn, ordHistProdSn, giftPackingSn, giftPackingQty, checked) {

		var ordSn = /*[[${ordEx.ordSn}]]*/ '0';
		var newPackingObj = {};
		newPackingObj.ordHistProdSn = ordHistProdSn;
		newPackingObj.giftPackingSn = giftPackingSn;
		newPackingObj.giftPackingQty = giftPackingQty;

		//기존 리스트에 있는지를 검사한다.
		var isAdded = false;
		var addedIndex = -1;
		var checkedGiftPackingList = ordReceptChangeDTO.prodGiftPackingSelectList;

		for(var i=0; i<checkedGiftPackingList.length; i++) {
			var giftPacking = checkedGiftPackingList[i];
			if(giftPacking.giftPackingSn == newPackingObj.giftPackingSn) {
				isAdded = true;
				addedIndex = i;
			}
		}

		if(!isAdded && checked) {
			//기존 리스트에 없으면 추가하기
			ordReceptChangeDTO.prodGiftPackingSelectList.push( newPackingObj );
		} else if(isAdded && !checked) {
			//기존 리스트에서 삭제한다.
			ordReceptChangeDTO.prodGiftPackingSelectList.splice(addedIndex, 1);
		}

	};
</script>