<!--배송정보입력-->
<div class="ui_accordion delivery ＠accordion-apply" th:if="${apMember == null}">
	<dl>
		<dt><b class="title">주문/배송 정보</b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="true" style="display: none;">
			<div class="section delivery_info">

				<dl>
					<dt class="title">주문고객 정보</dt>
					<dd class="cont">

						<fieldset class="form">
							<legend class="sr_only">주문자 정보 입력</legend>
							<div class="input_wrap"><span class="input_h48_gray"><input type="text" placeholder="주문고객 이름을 입력해주세요"></span></div>
							<div class="input_group mgt8">
								<div class="select_wrap">
											<span class="select_h48_gray">
												<select name="" title="통신사 선택">
													<option value="">선택</option>
													<option value="">SK 알뜰폰</option>
													<option value="">LG U+ 알뜰폰</option>
												</select>
											</span>
								</div>
								<div class="sel_space01"></div>
								<div class="input_wrap">
									<span class="input_h48_gray"><input type="text" placeholder="휴대폰 번호"></span>
								</div>
							</div>
							<div class="input_wrap mgt8"><span class="input_h48_gray"><input type="text" placeholder="이메일 주소를 입력해주세요"></span></div>
							<div class="chk_wrap mgt25">
								<span class="chk_round_h24"><input type="checkbox" name="chk11" id="address_info"><label for="address_info">주문고객 정보와 배송지가 같습니다.</label></span>
							</div>
						</fieldset>
					</dd>
				</dl>

				<dl>
					<dt class="title">배송지 정보</dt>
					<dd>

						<a href="#none" class="btn_go on"><span>새로운 배송지를 추가해주세요</span><i class="ico_navi next"></i></a> <!--이메일까지 입력한후 스타일 class에 on추가 -->
					</dd>
				</dl>
			</div>
		</dd>
		<dd class="reverse" aria-hidden="false" style="display: block;">

			<div class="section customer_info">
				<p class="text"><span class="name">홍길동</span><a href="#none" class="none_num"><span class="phone_number">010-9924-3505</span></a><em class="flag purple">기본배송지</em></p>
				<p class="text ellipsis">주소영역, 우편번호 비노출, 주소지 노출 한줄 넘어가면 말줄임</p>
			</div>
		</dd>
	</dl>
</div>


<div class="ui_accordion delivery ＠accordion-apply" th:if="${apMember == null}">
	<dl>
		<dt><b class="title">주문/배송 정보</b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="true" style="display: none;">
			<div class="section delivery_info">

				<dl>
					<dt class="title">주문고객 정보
						<button type="button" class="btn_modify">수정</button>
					</dt>
					<dd>

						<div class="customer_info">
							<p class="text"><span class="name">홍길동</span> <span class="phone_number">010-9924-3505</span></p>
							<p class="text">bykim300@gmail.com</p>
						</div>

					</dd>
				</dl>

				<dl>
					<dt class="title">배송지 정보</dt>
					<dd class="ui_toggle_contents ＠toggle-contents-apply">

						<ul class="address_list" style="display: block;">
							<li>
								<button type="button">
									<span class="name">홍길동</span><span class="phone_number">010-9924-3505</span> <em class="flag blue">본사수령</em>
									<span class="block address">(15051) 서울특별시 용산구 한강대로 100</span>
								</button>
							</li>
							<li class="selected">
								<button type="button">
									<span class="name">홍길동</span><span class="phone_number">010-9924-3505</span> <em class="flag purple">기본배송지</em>
									<span class="block address">(10071) 성남시 분당구 수내로 38 두산위브센티움 1동 </span>
								</button>

								<div class="check_set">
									<span class="chk_round_h24"><input type="checkbox" name="chk" id="default" disabled=""><label for="default">기본배송지 설정</label></span>
									<!-- 군부대 배송 삭제 (180823)
                                    <span class="chk_round_h24"><input type="checkbox" name="chk" id="army"><label for="army">군부대 배송</label></span>
                                    -->
								</div>
							</li>
							<li>
								<button type="button">
									<span class="name">홍길동</span><span class="phone_number">010-9924-3505</span>
									<span class="block address">(10071) 성남시 분당구 수내로 38 두산위브센티움 1동 두줄 넘어갈 경우, 세줄 넘어갈 경우 줄바꿈</span>
								</button>
							</li>
							<li>
								<button type="button">
									<span class="name">홍길동</span><span class="phone_number">010-9924-3505</span>
									<span class="block address">(10071) 성남시 분당구 수내로 38 두산위브센티움 1동 두줄 넘어갈 경우, 세줄 넘어갈 경우 줄바꿈</span>
								</button>
							</li>
						</ul>
						<button type="button" class="btn_md_more w100p toggle_btn"><span>최근배송지 더보기</span> <i class="ico_down"></i></button>
						<a href="#none" class="btn_go"><span>새로입력</span><i class="ico_navi next"></i></a>
					</dd>
				</dl>
			</div>
		</dd>
		<dd class="reverse" aria-hidden="false" style="display: block;">

			<div class="section pd_md customer_info">
				<p class="text"><span class="name">홍길동</span><a href="#none" class="none_num"><span class="phone_number">010-9924-3505</span></a><em class="flag purple">기본배송지</em></p>
				<p class="text ellipsis">주소영역, 우편번호 비노출, 주소지 노출 한줄 넘어가면 말줄임</p>
			</div>
		</dd>
	</dl>
</div>


<div class="ui_accordion delivery_order ＠accordion-apply" th:if="${apMember == null}">
	<dl>
		<dt class=""><b class="title">배송요청사항 <span>부재시 핸드폰으로 연락 바랍니다</span></b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="true" style="display: none;">
			<fieldset class="section">
				<legend class="sr_only">배송요청사항 선택</legend>
				<div class="rdo_wrap type_vertical">
					<span class="rdo_h30"><input type="radio" name="request" id="request1" checked="checked"><label for="request1">부재시 경비실에 맡겨주세요</label></span>
					<span class="rdo_h30"><input type="radio" name="request" id="request2"><label for="request2">빠른 배송 부탁드립니다.</label></span>
					<span class="rdo_h30"><input type="radio" name="request" id="request3">	<label for="request3">부재시 핸드폰으로 연락 바랍니다.</label></span>
					<span class="rdo_h30"><input type="radio" name="request" id="request4">	<label for="request4">배송전 연락 바랍니다.</label></span>
					<span class="rdo_h30"><input type="radio" name="request" id="request5" class="textbox">	<label for="request5">직접입력<em>본사 수령시 행낭 문서실에 배송됩니다</em></label></span>
				</div>
				<div class="input_wrap">
					<span class="input_h48_gray"><input type="text" placeholder="배송요청사항을 입력해주세요"></span>
					<!--임직원 본사수령일경우-->
					<!-- <span class="input_h48_gray"><input type="text" placeholder="팀명, 층수, 코어 기입"></span> -->
				</div>
			</fieldset>
		</dd>
	</dl>
</div>
<!--//배송정보입력-->