<!--/* 쿠폰/포인트 사용 */-->
<div class="ui_accordion use_area ＠accordion-apply">
	<dl>
		<dt><b class="title">쿠폰/포인트 사용 <span class="save"><em>13,000원 할인</em></span><span>15,000P 사용</span></b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="true" style="display: none;">
			<div class="use_benefit">

				<dl>
					<dt><span class="title">쿠폰할인</span><a href="javascript:;" class="btn_h32_gradient">쿠폰변경</a></dt>
					<dd class="price"><b>-13,000</b>원</dd>

					<dd class="details">
						<dl>
							<dt>회원등급쿠폰 (~07월 31일)</dt>
							<dd>-10,000원</dd>
						</dl>
						<dl>
							<dt>리리코스 마린에너지 쿠폰(~08월 15일)</dt>
							<dd>-3,000원</dd>
						</dl>
					</dd>
				</dl>

				<div class="ui_accordion ＠accordion-apply">
					<dl>
						<dt><span class="title">더 자세한 쿠폰할인 안내</span> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt> <!--문구수정(180823)-->
						<dd aria-hidden="true" style="display: none;">
							<div class="section bg_gray">
								<dl class="dl_cont">
									<dt>쿠폰안내</dt>
									<dd>
										<ul class="list">
											<li>보유한 쿠폰의 사용조건은 상이하며, 자세한 내용은 [마이파우치 - 쿠폰 - 쿠폰안내]에서 확인하실 수 있습니다.</li>
											<li>일부 브랜드 또는 상품은 쿠폰 적용 대상에서 제외될 수 있습니다.</li>
											<li>할인 쿠폰 사용시 할인액을 제외한 결제금액을 기준으로 뷰티포인트가 적립됩니다.</li>
											<li>부분취소/환불시 주문 단위로 적용된 쿠폰은 복원되지 않습니다.</li>
											<li>사용한 쿠폰의 유효기간이 만료된 후에는 해당 쿠폰이 복원되지 않습니다.</li>
										</ul>
									</dd>
								</dl>
							</div>
						</dd>
					</dl>
				</div>

				<dl>
					<dt><span class="title">기프트카드</span><a href="javascript:;" class="btn_h32_gradient">카드변경</a></dt>
					<dd class="price"><b>-5,000</b>원</dd>

					<dd class="details">
						<dl>
							<dt>기프트카드 15,000원</dt>
							<dd>-3,000원</dd>
						</dl>
						<dl>
							<dt>기프트카드 2,000원</dt>
							<dd>-2,000원</dd>
						</dl>
					</dd>
				</dl>

				<div class="ui_accordion ＠accordion-apply">
					<dl>
						<dt><span class="title">기프트카드를 바로 등록하고 사용할수 있습니다</span> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
						<dd aria-hidden="true" style="display: none;">
							<div class="section pd_md bg_gray">
								<dl class="dl_cont">
									<dt>기프트카드 사용 안내</dt>
									<dd>
										<ul class="list">
											<li>보유하고 계신 기프트카드의 일부 또는 전액을 결제금액에서 차감하여 사용이 가능합니다.</li>
											<li>기프트카드의 남은 잔액은 유효기간 내에 사용 가능합니다.</li>
											<li>기프트카드는 타인에게 양도가 불가합니다. </li>
											<li>기프트카드 사용 주문건의 취소/반품/환불시 사용된 금액은 처리 완료시점에 자동 복구됩니다.</li>
											<li>기프트카드 사용 및 환불 문의는 고객센터를 이용해주시기 바랍니다.</li>
										</ul>
									</dd>
								</dl>
							</div>
						</dd>
					</dl>
				</div>

				<dl>
					<dt><span class="title">예치금</span><a href="javascript:;" class="btn_h32_gradient">사용취소</a></dt>
					<dd>
						<div class="price">-<input type="text" title="예치금 금액 입력" value="10000">원</div>
						<p class="text font_sm">보유 70,000원</p>
					</dd>
				</dl>

				<div class="ui_accordion ＠accordion-apply">
					<dl>
						<dt><span class="title">더 자세한 예치금 안내</span> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
						<dd aria-hidden="true" style="display: none;">
							<div class="section pd_md bg_gray">
								<dl class="dl_cont">
									<dt>예치금 사용 안내</dt>
									<dd>
										<ul class="list">
											<li>보유하고 계신 예치금의 일부 또는 전액을 결제금액에서 차감하여 사용이 가능합니다.</li>
											<li>예치금 사용 주문건의 취소/반품/환불시 사용된 금액은 처리 완료시점에 자동 복구됩니다.</li>
										</ul>
									</dd>
								</dl>
							</div>
						</dd>
					</dl>
				</div>

				<dl>
					<dt><span class="title">뷰티포인트</span><a href="javascript:;" class="btn_h32_gradient">사용취소</a></dt>
					<dd>
						<div class="price">-<input type="text" title="뷰티포인트 입력">P</div>
						<p class="text font_sm">보유 70,000P</p>
					</dd>
				</dl>

				<div class="ui_accordion ＠accordion-apply">
					<dl>
						<dt><span class="title">포인트 사용시 스페셜기프트가 증정되지 않습니다</span> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
						<dd aria-hidden="true" style="display: none;">
							<div class="section pd_md bg_gray">
								<dl class="dl_cont">
									<dt>뷰티포인트 사용안내</dt>
									<dd>
										<ul class="list">
											<li>보유하고 계신 뷰티포인트를 10P 단위로 결제금액에서 차감하여 사용이 가능합니다. (일부 상품 제외)</li>
											<li>배송비는 뷰티포인트로 결제하실 수 없습니다.</li>
											<li>뷰티포인트 사용시 스페셜 기프트는 증정되지 않습니다. </li>
											<li>뷰티포인트 사용금액을 제외한 최종 결제금액 기준으로 구매금액대 사은품이 증정됩니다</li>
											<li>2개 이상의 상품 구매시, 최종 결제금액 비중으로 포인트 사용분이 자동으로 배분되어 결제됩니다.</li>
											<li>뷰티포인트 전용 상품 구매시, 전용 상품에 포인트가 먼저 전액 적용되고 남은 상품에 포인트가 배분됩니다.</li>
											<li>뷰티포인트 사용 주문건의 취소/반품/환불시 사용된 포인트는 처리 완료시점에 자동 복구됩니다.</li>
										</ul>
									</dd>
								</dl>
							</div>
						</dd>
					</dl>
				</div>

				<dl>
					<dt><span class="title">P 포인트</span><a href="javascript:;" class="btn_h32_gradient">모두사용</a></dt>
					<dd>
						<div class="price">-<input type="text" title="P 포인트 입력">P</div>
						<p class="text font_sm">보유 50,000P</p>
					</dd>
				</dl>

				<div class="ui_accordion ＠accordion-apply">
					<dl>
						<dt><span class="title">더 자세한 P 포인트 안내</span> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
						<dd aria-hidden="true" style="display: none;">
							<div class="section pd_md bg_gray">
								<dl class="dl_cont">
									<dt>P포인트 사용안내</dt>
									<dd>
										<ul class="list">
											<li>보유하고 계신 P포인트를 결제금액에서 차감하여 사용이 가능합니다.</li>
											<li>P포인트는 ‘임직원 할인(30%)’이 적용된 상품에만 적용할 수 있습니다. </li>
											<li>P포인트 적용시 상품 정상가격의 50%까지 포인트 차감할인이 가능합니다.</li>
											<li>P포인트 사용 주문건의 취소/반품/환불시 사용된 포인트는 처리 완료시점에 자동 복구됩니다.</li>
											<li>P포인트는 당해 1월 1일부터 12월 31일까지 사용 가능하며, 다음 해 이월은 불가능합니다.</li>
										</ul>
									</dd>
								</dl>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</dd>
	</dl>
</div>
<!--/* 쿠폰/포인트 사용 */-->