<!--결제수단 선택-->
<div class="ui_accordion mgt10">
	<dl>
		<dt class="on"><b class="title">결제 수단 선택 <span>ONE pay 결제</span></b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="false" style="display: block;">
			<ul class="payment_list">
				<th:block th:each="payMethod : ${payMethodResult.payMethodExList}">
					<li  th:if="${apMember != null and payMethod.payServiceCode == 'inicis-pg' and payMethod.payMethodCode == 'wpay'}" >
						<!-- 간편결제 ONE Pay -->
						<span class="rdo_h30">
							<input type="radio" name="rdoPayMethod" id="w_pay"  value="WPAY"
								   th:onclick="|setPayment(this,'WPAY','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
							<label for="w_pay" class="one_pay"><img alt="one pay" src="/mo/ko/images/order/img_one_pay.png"><em>간편한 원클릭 결제</em></label>
						</span>
					</li>
					<li th:if="${payMethod.payServiceCode == 'inicis-pg' and payMethod.payMethodCode == 'credit-card'}" class="credit">
						<!-- 신용카드 결제 -->
						<span class="rdo_h30">
							<input type="radio" name="rdoPayMethod" id="credit"
								   th:onclick="|setPayment(this,'wcard','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
							<label for="credit" class="credit">신용카드 결제</label>
						</span>
						<ul class="card_list col_04">
							<th:block th:each="creditcardCo : ${payMethod.creditcardCoExList}">
								<li th:if="${creditcardCo.creditcardCoCode == '04'}">
									<div class="card"><input type="radio" name="credit" id="credit1" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit1"><img alt="" src="/mo/ko/images/order/img_card_01.jpg"><span>현대카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '06'}">
									<div class="card"><input type="radio" name="credit" id="credit2" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit2"><img alt="" src="/mo/ko/images/order/img_card_02.jpg"><span>KB국민카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '11'}">
									<div class="card"><input type="radio" name="credit" id="credit3" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit3"><img alt="" src="/mo/ko/images/order/img_card_03.jpg"><span>비씨카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '12'}">
									<div class="card"><input type="radio" name="credit" id="credit4" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit4"><img alt="" src="/mo/ko/images/order/img_card_04.jpg"><span>삼성카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '03'}">
									<div class="card"><input type="radio" name="credit" id="credit5" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit5"><img alt="" src="/mo/ko/images/order/img_card_05.jpg"><span>롯데카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '44'}">
									<div class="card"><input type="radio" name="credit" id="credit6" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit6"><img alt="" src="/mo/ko/images/order/img_card_06.jpg"><span>우리카드<br>(구.평화VISA)</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '34'}">
									<div class="card"><input type="radio" name="credit" id="credit7" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit7"><img alt="" src="/mo/ko/images/order/img_card_07.jpg"><span>하나카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '14'}">
									<div class="card"><input type="radio" name="credit" id="credit8" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit8"><img alt="" src="/mo/ko/images/order/img_card_08.jpg"><span>신한카드<br>(구.LG카드포함)</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '41'}">
									<div class="card"><input type="radio" name="credit" id="credit9" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit9"><img alt="" src="/mo/ko/images/order/img_card_09.jpg"><span>농협카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '43'}">
									<div class="card"><input type="radio" name="credit" id="credit10" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit10"><img alt="" src="/mo/ko/images/order/img_card_10.jpg"><span>씨티카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '01'}">
									<div class="card"><input type="radio" name="credit" id="credit11" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit11"><img alt="" src="/mo/ko/images/order/img_card_11.jpg"><span>외환카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '55'}">
									<div class="card"><input type="radio" name="credit" id="credit12" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit12"><img alt="" src="/mo/ko/images/order/img_card_12.jpg"><span>카카오뱅크</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '71'}">
									<div class="card"><input type="radio" name="credit" id="credit13" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit13"><img alt="" src="/mo/ko/images/order/img_card_13.jpg"><span>우체국체크</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '32'}">
									<div class="card"><input type="radio" name="credit" id="credit14" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit14"><img alt="" src="/mo/ko/images/order/img_card_14.jpg"><span>광주카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '33'}">
									<div class="card"><input type="radio" name="credit" id="credit14_1" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit14_1"><img alt="" src="/mo/ko/images/order/img_card_14.jpg"><span>전북카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '51'}">
									<div class="card"><input type="radio" name="credit" id="credit15" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit15"><img alt="" src="/mo/ko/images/order/img_card_15.jpg"><span>수협카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '52'}">
									<div class="card"><input type="radio" name="credit" id="credit20" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit20"><img alt="" src="/mo/ko/images/order/img_card_08.jpg"><span>제주카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '95'}">
									<div class="card"><input type="radio" name="credit" id="credit16" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit16"><img alt="" src="/mo/ko/images/order/img_card_16.jpg"><span>저축은행체크</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '48'}">
									<div class="card"><input type="radio" name="credit" id="credit17" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit17"><img alt="" src="/mo/ko/images/order/img_card_17.jpg"><span>신협체크</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == 'HD'}">
									<div class="card"><input type="radio" name="credit" id="credit18" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit18"><img alt="" src="/mo/ko/images/order/img_card_18.jpg"><span>KDB산업체크</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == '54'}">
									<div class="card"><input type="radio" name="credit" id="credit19" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit19"><img alt="" src="/mo/ko/images/order/img_card_19.jpg"><span>MG새마을금고<br>체크</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == 'HD'}">
									<div class="card"><input type="radio" name="credit" id="credit21" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit21"><img alt="" src="/mo/ko/images/order/img_card_05.jpg"><span>아모레퍼시픽<br>롯데체크카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == 'HD'}">
									<div class="card"><input type="radio" name="credit" id="credit22" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit22"><img alt="" src="/mo/ko/images/order/img_card_05.jpg"><span>아모레퍼시픽<br>롯데카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == 'HD'}">
									<div class="card"><input type="radio" name="credit" id="credit23" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit23"><img alt="" src="/mo/ko/images/order/img_card_08.jpg"><span>아모레퍼시픽<br>신한카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == 'HD'}">
									<div class="card"><input type="radio" name="credit" id="credit24" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit24"><img alt="" src="/mo/ko/images/order/img_card_04.jpg"><span>아모레퍼시픽<br>삼성카드</span></label></div>
								</li>
								<li th:if="${creditcardCo.creditcardCoCode == 'HD'}">
									<div class="card"><input type="radio" name="credit" id="credit25" th:onclick="|setCreditcardInfo('${creditcardCo.creditcardCoCode}', '${creditcardCo.creditcardCoSn}')|"><label for="credit25"><img alt="" src="/mo/ko/images/order/img_card_02.jpg"><span>아모레퍼시픽<br>KB카드</span></label></div>
								</li>
							</th:block>
						</ul>
					</li>
				</th:block>

					<!-- 다른 결제 수단 Start -->
					<li class="other">
						<span class="rdo_h30">
							<input type="radio" name="rdoPayMethod" id="pay3" onclick="setPayment(this,'other','','','','');">
							<label for="pay3" class="other">다른 결제 수단</label>
						</span>
						<ul class="card_list col_04">
							<th:block th:each="payMethod : ${payMethodResult.payMethodExList}">
								<li th:if="${payMethod.payServiceCode == 'naver-pg' and payMethod.payMethodCode == 'naverpay'}">
									<div class="card">
										<input type="radio" name="other" id="n_pay"
											   th:onclick="|setPayment(this,'NAVERPAY','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
										<label for="n_pay" class="naver_pay"><img alt="" src="/mo/ko/images/order/img_other_01.jpg"><span>네이버페이</span></label>
									</div>
								</li>
								<li th:if="${payMethod.payServiceCode == 'inicis-pg' and payMethod.payMethodCode == 'payco'}">
									<div class="card">
										<input type="radio" name="other" id="payco"
											   th:onclick="|setPayment(this,'wcard','onlypayco','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
										<label for="payco"><img alt="" src="/mo/ko/images/order/img_other_02.jpg"><span>페이코</span></label>
									</div>
								</li>
								<li th:if="${payMethod.payServiceCode == 'inicis-pg' and payMethod.payMethodCode == 'virtual-account'}">
									<div class="card">
										<input type="radio" name="other" id="remit_bank"
											   th:onclick="|setPayment(this,'vbank','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
										<label for="remit_bank" class="cash"><img alt="" src="/mo/ko/images/order/img_other_04.jpg"><span>무통장입금<br>(가상계좌)</span></label>
									</div>
								</li>
								<li th:if="${payMethod.payServiceCode == 'inicis-pg' and payMethod.payMethodCode == 'bank-ac-transfer'}">
									<div class="card">
										<input type="radio" name="other" id="account_transfer"
											   th:onclick="|setPayment(this,'bank','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
										<label for="account_transfer" class="real_time"><img alt="" src="/mo/ko/images/order/img_other_05.jpg"><span>실시간<br>계좌이체</span></label>
									</div>
								</li>
								<li th:if="${payMethod.payServiceCode == 'inicis-pg' and payMethod.payMethodCode == 'mobile-phone-pay'}">
									<div class="card">
										<input type="radio" name="other" id="phone"
											   th:onclick="|setPayment(this,'mobile','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
										<label for="phone" class="phone"><img alt="" src="/mo/ko/images/order/img_other_06.jpg"><span>휴대폰결제</span></label>
									</div>
								</li>
								<li th:if="${payMethod.payServiceCode == 'eximpay' and payMethod.payMethodCode == 'eximpay'}">
									<div class="card">
										<input type="radio" name="other" id="ximpay"
											   th:onclick="|setPayment(this,'globalCreditCard','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
										<label for="ximpay"><img alt="" src="/mo/ko/images/order/img_other_07.jpg"><span>Global Credit<br>Card</span></label>
									</div>
								</li>
								<li th:if="${payMethod.payServiceCode == 'paypal' and payMethod.payMethodCode == 'pay-pal'}">
									<div class="card">
										<input type="radio" name="other" id="paypal"
											   th:onclick="|setPayment(this,'paypal','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
										<label for="paypal"><img alt="" src="/mo/ko/images/order/img_other_08.jpg"><span>PayPal</span></label>
									</div>
								</li>
								<li th:if="${payMethod.payServiceCode == 'salaryMinus' and payMethod.payMethodCode == 'salary-minus'}">
									<div class="card">
										<input type="radio" name="other" id="salaryMinus"
											   th:onclick="|setPayment(this,'salaryMinus','','${payMethod.payMethodSn}','${payMethod.payServiceCode}','${payMethod.payMethodCode}')|">
										<label for="salaryMinus"><img alt="" src="/mo/ko/images/order/img_other_04.jpg"><span>급여차감</span></label>
									</div>
								</li>
							</th:block>
						</ul>
						<div class="other_noty_area">
							<div class="naver_pay">
								<!-- 네이버페이 선택시 -->
								<p class="txt_tel">
									네이버ID로 별도 앱 설치없이 신용카드 또는 은행계좌 정보를 등록하여 네이버페이 비밀번호로 결제할 수 있는 간편결제 서비스입니다.<br>
									네이버페이에서 제공하는 카드사별 무이자, 청구할인 혜택을 받을 수 있습니다. 주문 변경 시 카드사별 혜택 및 할부 적용여부는 해당 카드사 정책에 따라 변경될 수 있습니다.<br>
									결제 가능한 신용카드: 신한, 삼성, 현대, BC, 국민, 하나, 롯데, NH농협, 씨티<br>
									결제 가능한 은행: NH농협, 국민, 신한, 우리, 기업, SC제일, 부산, 경남, 수협, 우체국, 미래에셋대우, 대구, 광주, 전북, 제주, 새마을금고
								</p>
							</div>
							<div class="cash">
								<!-- 무통장 입금 선택시 -->
								<fieldset class="form pay_form">
									<legend class="sr_only">무통장 입금 정보입력</legend>
									<dl class="ui_table">
										<dt>입금기한</dt>
										<dd>2018년 01월 01일</dd>
									</dl>
									<dl class="ui_table">
										<dt>입금은행</dt>
										<dd>
											<div class="select_wrap">
												<span class="select_h48_gray">
													<select name="select01" title="입금은행 선택">
														<option value="val01">입금은행을 선택해주세요</option>
													</select>
												</span>
											</div>
										</dd>
									</dl>
									<dl class="ui_table">
										<dt class="align_t">현금영수증</dt>
										<dd>
											<div class="rdo_wrap">
												<span class="rdo_h30"><input type="radio" name="receipt" id="receipt1" th:onclick="|setCash('0')|" checked="checked" value="0"><label for="receipt1">개인</label></span>
												<span class="rdo_h30"><input type="radio" name="receipt" id="receipt2" th:onclick="|setCash('1')|" value="1"><label for="receipt2">사업자</label></span>
											</div>
											<span class="input_h48_gray"><input type="text" name="receipt" title="휴대전화번호 또는 사업자 등록번호 입력" placeholder="휴대전화 또는 사업자 등록번호 입력"></span>
										</dd>
									</dl>
									<th:block th:if="${isApMember}">
										<span class="chk_round_h24"><input type="checkbox" id="receipt_info"><label for="receipt_info">현재 현금영수증 정보 저장</label></span>
									</th:block>

									<!-- 서울보증보험 신청여부 영역 추가 (180824) -->
									<div class="insurance_wrap">
										<dl class="ui_table">
											<dt style="font-size: 14px;">서울보증보험<br>신청여부</dt>
											<dd>
												<div class="rdo_wrap">
													<span class="rdo_h30"><input type="radio" name="insurance" id="insurance1" checked="checked"><label for="insurance1">네</label></span>
													<span class="rdo_h30"><input type="radio" name="insurance" id="insurance2"><label for="insurance2">아니오</label></span>
												</div>
											</dd>
										</dl>
										<span class="chk_round_h24"><input type="checkbox" id="agree_email"><label for="agree_email">개인정보제공 및 보험증권 이메일 수신 동의</label></span>
										<span class="chk_round_h24"><input type="checkbox" id="agree_sms"><label for="agree_sms">개인정보제공 및 보험증권 SMS 수신 동의</label></span>

										<div class="birth_area">
											<span class="input_h48_gray"><input type="text" title="생년월일6자리(ex.980905)" placeholder="생년월일6자리(ex.980905)"></span>
											<div class="check_btn_set">
												<span><input type="radio" name="gender" id="gender1" checked=""><label for="gender1">여자</label></span>
												<span><input type="radio" name="gender" id="gender2"><label for="gender2">남자</label></span>
											</div>
										</div>
										<ul class="list">
											<li><a href="#">정보제공 안내</a></li>
											<li>
												고객님은 안전거래를 위해 현금 등으로 5만원 이상 결제시 저희
												쇼핑몰에서 가입한 구매안전서비스 소비자 피해보상 보험서비스
												를 이용하실 수 있습니다
											</li>
											<li>[보상대상] 미배송, 반품/환불거부/쇼핑몰 부도</li>
											<li>
												구매안전서비스를 통하여 주문하시고 서울보증보험에서 발급하는
												보험계약 체감내역서를 반드시 확인하시기 바랍니다
											</li>
										</ul>
									</div>
									<!--// 서울보증보험 신청여부 영역 추가 (180824) -->
								</fieldset>
								<p class="txt_tel">
									무통장입금은 인터넷뱅킹, 텔레뱅킹, 은행창구를 이용해 주세요.(ATM 사용은 불가합니다.)<br>
									주문접수 후 입금되지 않고 주문일 포함 7일이 지나면 주문은 자동 취소됩니다.
								</p>
							</div>
							<div class="phone">
								<!-- 휴대폰 선택시 -->
								<p class="txt_tel">
									결제금액은 다음 달 휴대폰 요금에 합산하여 청구됩니다.<br>
									통신사별로 한도 금액 내에서만 결제할 수 있습니다.<br>
									휴대폰결제 최소는 결제 당월에만 가능하며, 익월 취소 시 휴대폰요금은 청구되고 고객님이 지정한 은행계좌 혹은 예치금으로 환불됩니다.
								</p>
							</div>
							<!-- 실시간계좌이체일경우 서울보증보험 영역 추가 (180824) -->
							<div class="real_time">
								<div class="insurance_wrap">
									<dl class="ui_table">
										<dt>서울보증보험<br>신청여부</dt>
										<dd>
											<div class="rdo_wrap">
												<span class="rdo_h30"><input type="radio" name="insurance_2" id="insurance_2_1" checked="checked"><label for="insurance_2_1">네</label></span>
												<span class="rdo_h30"><input type="radio" name="insurance_2" id="insurance_2_2"><label for="insurance_2_2">아니오</label></span>
											</div>
										</dd>
									</dl>
									<span class="chk_round_h24"><input type="checkbox" id="agree_email2"><label for="agree_email2">개인정보제공 및 보험증권 이메일 수신 동의</label></span>
									<span class="chk_round_h24"><input type="checkbox" id="agree_sms2"><label for="agree_sms2">개인정보제공 및 보험증권 SMS 수신 동의</label></span>

									<div class="birth_area">
										<span class="input_h48_gray"><input type="text" title="생년월일6자리(ex.980905)" placeholder="생년월일6자리(ex.980905)"></span>
										<div class="check_btn_set">
											<span><input type="radio" name="gender_2" id="gender_2_1" checked=""><label for="gender_2_1">여자</label></span>
											<span><input type="radio" name="gender_2" id="gender_2_2"><label for="gender_2_2">남자</label></span>
										</div>
									</div>
									<ul class="list">
										<li><a href="#">정보제공 안내</a></li>
										<li>
											고객님은 안전거래를 위해 현금 등으로 5만원 이상 결제시 저희
											쇼핑몰에서 가입한 구매안전서비스 소비자 피해보상 보험서비스
											를 이용하실 수 있습니다
										</li>
										<li>[보상대상] 미배송, 반품/환불거부/쇼핑몰 부도</li>
										<li>
											구매안전서비스를 통하여 주문하시고 서울보증보험에서 발급하는
											보험계약 체감내역서를 반드시 확인하시기 바랍니다
										</li>
									</ul>
								</div>
							</div>
							<!--// 실시간계좌이체일경우 서울보증보험 영역 추가 (180824)  -->
						</div>
					</li>
					<!-- 다른 결제 수단 End -->
			</ul>
		</dd>
	</dl>
</div>
<!--결제수단 선택-->


<script th:inline="javascript">

	$( document ).ready(function() {
		defaultPayMethodInit();
	});

	//지난번 사용했던 결제 수단 선택하기
	function defaultPayMethodInit(){
		var nextUsePayMethodCode = /*[[${ordEx.nextUsePayMethodCode}]]*/ null;

		if (nextUsePayMethodCode) {
			var clicked = true; // 2018-09-10 추가
			switch (nextUsePayMethodCode) {
				case 'wpay':
					<!--원터치 간편결제-->
					$('#w_pay').trigger("click");
					break;
				case 'naverpay':
					<!--네이버페이-->
					$('#pay3').trigger("click");
					$('#n_pay').trigger("click");
					break;
				case 'payco':
					<!--페이코-->
					$('#pay3').trigger("click");
					$('#payco').trigger("click");
					break;
				case 'kakaopay':
					<!--카카오페이-->
					$('#pay3').trigger("click");
					$('#kakao_pay').trigger("click");
					break;
				case 'paypal':
					<!--Paypal-->
					$('#pay3').trigger("click");
					$('#paypal').trigger("click");
					break;
				case 'credit-card':
					<!--신용카드-->
					$('#credit').trigger("click");
					break;
				case 'bank-ac-transfer':
					<!--실시간계좌이체-->
					$('#credit').trigger("click");
					$('#account_transfer').trigger("click");
					break;
				case 'virtual-account':
					<!--가상계좌-->
					$('#credit').trigger("click");
					$('#remit_bank').trigger("click");
					break;
				case 'mobile-phone-pay':
					<!--휴대폰결제-->
					$('#credit').trigger("click");
					$('#phone').trigger("click");
					break;
				default:
					clicked = false; // 2018-09-10 추가
					break;
			}
			// 2018-09-10 추가
			if(clicked){
				$('[name=nextPayUseYn]').trigger("click");
			}
		}
	};

	//결제 수단 선택 상태값
	$('input:radio[name="rdoPayMethod"]').change(function() {
		$('.other_noty_area > div').hide();
		$('.payment_list').find('.card_list').hide();
		$('.card_list .card').find('input').prop('checked',false);
		if (!$(this).next().hasClass('one_pay')) {
			$(this).closest('li').find('.card_list').show();
		}
	});

	//다른결제수단 선택시 레이어 노출
	$('input:radio[name="other"]').change(function() {
		var class_name = $(this).next().attr('class');
		$('.other_noty_area > div').hide();
		if ($(this).next().hasClass(class_name)) {
			$(this).closest('.card_list').next('.other_noty_area').find('.'+class_name).show();
		}
	});

	/* 선택한 결제 수단을 다음에도 사용 */
	$('[name=nextPayUseYn]').on('click', function(e){
		if($(this).is(":checked")) {
			var selectedPaymethod = $('input:radio[name="rdoPayMethod"]:checked').val();
			if (selectedPaymethod == null || selectedPaymethod == '') {
				AP.modal.alert("결제수단을 선택해 주세요.");
				$('[name=nextPayUseYn]:checked').prop('checked', false);
				$('[name=nextPayUseYn]').attr("value", "N");
			} else {
				$('[name=nextPayUseYn]:checked').prop('checked', true);
				$('[name=nextPayUseYn]').attr("value","Y");
			}
		}else{
			$('[name=nextPayUseYn]:checked').prop('checked', false);
			$('[name=nextPayUseYn]').attr("value","N");
		}
	});

	/* 결제수단 선택에 따른 UI */
	function setPayment(obj, payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode) {

		if(payMethod == 'WPAY' && goPayMethod == ''){ // 원터치 간편결제
			isWpayMember(obj, payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);	//wpay 회원가입 여부 체크
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'wcard' && goPayMethod == ''){ // 신용카드
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'wcard' && goPayMethod == 'onlypayco'){ // 신용카드(페이코결제)
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'wcard' && goPayMethod == 'onlykakaopay'){ // 신용카드(카카오페이)
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'NAVERPAY' && goPayMethod == ''){ // 네이버 페이
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'mobile' && goPayMethod == ''){ // 모바일결제(휴대폰 결제)
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'bank' && goPayMethod == ''){ // 실시간 계좌이체
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'vbank' && goPayMethod == ''){ // 가상계좌(무통장 입금)
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'globalCreditCard' && goPayMethod == ''){ // 해외 신용카드 결제
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'paypal' && goPayMethod == ''){ // 페이팔
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else if(payMethod == 'salaryMinus' && goPayMethod == ''){ // 급여차감
			//결제수단 선택된 값 셋팅
			setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode);
		}
		else {
			//결제수단 선택된 값 셋팅
			setPaymentInput('', '', '', '', '');
			setCreditcardInfo('', '');
		}

	};

	/* 결제수단 선택된 값 셋팅 */
	function setPaymentInput(payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode) {
		$('input:hidden[name=payMethod]').val(payMethod);
		$('input:hidden[name=goPayMethod]').val(goPayMethod);
		$('input:hidden[name=payMethodSn]').val(payMethodSn);
		$('input:hidden[name=payServiceCode]').val(payServiceCode);
		$('input:hidden[name=payMethodCode]').val(payMethodCode);
	};

	/* 신용카드 선택 정보 저장 */
	function setCreditcardInfo(cardCo, creditcardCoSn) {
		$('input:hidden[name=cardCo]').attr("value", cardCo);
		$('input:hidden[name=creditcardCoSn]').attr("value", creditcardCoSn);
	};

	/* 현금영수증 발급신청 구분 */
	function setCash(type) {
		if (type == "x"){
			$("#reg_num").hide();
			$("#receipt1").attr("checked", true);
			//validation
			$("#receipt").prop("required", false);
		} else if (type == "0"){
			$("#reg_num").show();
			$("#receipt").attr("placeholder","휴대폰번호 혹은 카드번호 숫자만 입력");
			$("#receipt").attr("required","required");
			$("#receipt").attr("data-msg-required","휴대폰번호 10자리(11자리) 또는 현금 영수증 카드번호 18자리를 입력하세요.");
			$("#receipt").focus();
		} else if (type == "1"){
			$("#reg_num").show();
			$("#receipt").attr("placeholder", "사업자등록번호 숫자만 입력");
			$("#receipt").attr("required","required");
			$("#receipt").attr("data-msg-required","사업자등록번호를 입력하세요.");
			$("#receipt").focus();
		}
	};

	/*wpay 가입여부 확인*/
	function isWpayMember(obj, payMethod, goPayMethod, payMethodSn, payServiceCode, payMethodCode){

		AP.api.getMemberWPayInfo({}, {

		}).done(function (data) {
			if (data.result != "success"){

				AP.modal.confirm( 'WPAY 회원가입이 필요합니다. 회원가입하시겠습니까?' ).addListener( 'modal-close', function (e) {
					if(e.closeType == 'confirm'){// WPAY 회원가입 요청
						getWPayMemReqCall();
					}
				});
			} else {
				//WPAY 회원일 경우

			}
		}).fail(function (e) {
			AP.modal.alert("[ajax.fail]실패");
		}).always(function () {
		});
	};

	/*wpay 회원가입 페이지 호출*/
	var wpayRegistPopup;
	function getWPayMemReqCall() {

		wpayRegistPopup = window.open('about:blank','wpayRegistPopup');
		var $form = $("form[name='orderForm']");

		$form.attr("method", "post");
		$form.attr("action", "/payment/wpayRegist");
		$form.attr("target", "wpayRegistPopup");
		$form.submit();

	};

</script>