{{!--
	ch.Etude 관련 상품 목록 
--}}
{{!--  섬네일 용 이미지  --}}
<button type="button" class="thumbnail">
	<img alt="" src="{{this.videoImgDescM}}" data-src="{{this.videoImgDescM}}">
</button>
		{{!-- src속성값의 ?enablejsapi=1 는 필수 --}}
	<iframe class="youtube_video" width="800" height="450" src="{{youtubePath this.articleVideoUrl}}" frameborder="0" allowfullscreen="" data-vendor="youtube" data-ratio="true" data-mute="false">
</iframe>


	


