{{!--
	ch.Etude 관련 상품 목록 
--}}

<button type="button" class="thumbnail">
	{{#if this.videoImgDescM}}
		<img src="{{this.videoImgDescM}}" data-src="{{this.videoImgDescM}}">
	{{/if}}
</button>
<iframe class="youtube_video" width="800" height="450" src="{{youtubePath this.articleVideoUrl}}" frameborder="0" allowfullscreen="" data-vendor="youtube" data-ratio="true" data-mute="false">
</iframe>


	


