{{!--
	Looks 
--}}
<div class="ix-list-viewport">
	<ul class="ix-list-items">
		{{#each this.articleList}}
			<li class="ix-list-item">
				<a href="{{ articleDetailPath this.articleSn }}">
					<span class="lazy_load_wrap"><img src="" data-src="{{ this.bannerImgM1 }}" alt="" class="lazy_load"></span>
					<span class="item_title">{{ this.articleTitle }}</span>
					<span class="tag">{{ toTagshape this.snsHashTag }}</span>
				</a>
			</li>
		{{/each}}
	</ul>
</div>


