{{!--
	신상품
--}}
<div class="ix-list-viewport">
	<ul class="ix-list-items">
		{{#each this.list}}
			<li class="ix-list-item">
				<a href="{{ productDetailPath this.onlineProdSn }}">
					<span class="lazy_load_wrap"><img src="" data-src="{{ this.onlineProdImages.0.imgUrl }}" alt="" class="lazy_load"></span>
					<span class="item_title">{{ this.onlineProdName }}</span>
					<span class="price"><b>{{ numberFormat this.onlineProdPriceSummary.minOnlineSalePrice }}</b> 원</span>
				</a>
			</li>
		{{/each}}
	</ul>
</div>