{{#each this.data}}
	<li class="ix-list-item">
		<a href="#none">
			<span class="lazy_load_wrap">
				{{!-- this.thumbnail_url 은 이미지가 누락되는 경우가 많아 square_medium_url 사용 --}}
				<img src="" data-src="{{ this.pixlee_cdn_photos.square_medium_url }}" alt="{{ decodeURIComponent this.alt_text }}" class="lazy_load">
			</span>
			<span class="user_id">{{ this.user_name }}</span>
		</a>
	</li>
{{/each}}