{{#each list}}
	<li class="gift">
		<div class="gift_box">
			<p class="mark">5만원이상 10만원미만 구매고객</p>
			<div class="visual_section">
				<img src="" data-src="/pc/ko/images/dummy/gift.jpg" alt="3만원이상 5만원미만 구매고객 사은품" class="lazy_load">
			</div>
			<div class="info_section">
				<p class="name ellipsis">제목 1줄입니다. 길이테스트 제목 1줄입니다. 길이테스트 제목 1줄입니다. 길이테스트 제목 1줄입니다. 길이테스트 제목 1줄입니다. 길이테스트</p>
				<p class="summary">사은품 내용 자동으로 영역이 늘어납니다. 가장 높이가 큰 li 기준으로 아래 스크립트를 통해 높이가 자동으로 변경됨</p>
			</div>
		</div>
	</li>
{{/each}}