<div class="coupon_order">
	<div class="coupon_wrap">
		<div class="info">
			<div class="flag_wrap">
				<span class="flag">온라인 전용</span>
				<button type="button" class="btn_del" name="removeCoupon" data-sn="{{coupon.memberKeepingCouponSn}}"><span class="sr_only">삭제</span></button> <!-- //삭제 -->
			</div>
			<span class="coupon_name">{{ coupon.couponName }}</span>
			<div class="price_wrap">
				{{{ couponBenefitTypeCodeSwitchWithRemove coupon }}}
			</div><!-- //price_wrap -->
		</div><!-- //info -->
	</div><!-- //coupon_wrap -->
</div>