<span class="tag"><input type="radio" name="hash" id="filter1" value="" checked><label for="filter1">전체</label></span>
{{#each this}}
<span class="tag"><input type="radio" name="hash" id="hash{{ @index }}" value="{{ this.tag }}"><label for="hash{{ @index }}">#{{ this.tag }}</label></span>
{{/each}}