{{#if this.articleList.length}}
	{{#each this.articleList}}
		<li>
			<a href="{{ articleDetailPath this.articleSn }}">
				<span class="img"><img src="{{ absolutePath this.bannerImgM1 }}" alt=""></span>
				<span class="info">
					{{!--<span class="state live">LIVE</span>--}}
					<span class="subj">{{ this.articleTitle }}</span>
				</span>
			</a>
		</li>
	{{/each}}
{{else}}
	<div class="panel notice">
		<i class="ico"></i>
		<p class="text color_gray">결과가 없습니다.</p>
	</div>
{{/if}}