{{#each this.menus}}
	{{#xif this.prodCount '>' 0}}
		<li class="ix-list-item">
			<a href="javascript:;" data-display-menu-id="{{ this.displayMenuId }}">
				<img src="{{this.fileUrl}}" alt="{{ this.menuTitle }}">
				<span>{{ this.menuTitle }}</span>
			</a>
		</li>
	{{/xif}}
{{/each}}