<div class="modal_popup layer_popup js_open {{ this.containerClass }}" style="display:block">
    <div class="layer_dimmed"></div>
    <div class="layer_wrap {{ getModalSizeClassName this.sizeType }}" tabindex="0" style="display:block">
        <dl class="layer" >
            {{!-- contents --}}
            {{{ include this.templateKey this.templateModel }}}
        </dl>
        <button class="layer_close" type="button">레이어 닫기</button>
    </div>
</div>