<div class="slide" data-ix-options="view-length:1; loop:false;">
	<div class="ix-list-viewport">
		<ul class="ix-list-items">
			{{!-- list --}}
		</ul>
	</div>
</div>
{{!-- navi button --}}
<div class="btn_navi">
	<button class="prev" type="button">이전페이지</button>
	<button class="next" type="button">다음페이지</button>
</div>