<dl class="layer">
	<dt class="layer_title">테이크아웃 매장 정보</dt>
	<dd class="layer_cont">
		<div class="map_area" style="height:202px;"></div>
		<div class="panel none_bdr">
			<h3 class="h_title cont"><strong>명동 FSS점(플래그십스토어)</strong></h3>

			<div class="store_addr_wrap">
				<span>서울 중구 명동 1가 64-2</span>
				<a href="tel:02-3789-5463">02-3789-5463</a>
			</div>
		</div>

		<div class="slide map_store_sld" data-ix-options="view-length:1;">
			<div class="ix-list-viewport">
				<ul class="ix-list-items">
					<li class="ix-list-item">
						<a href="#none">
							<img alt="" src="/mo/ko/images/dummy/img_take_out_slide_thm.jpg">
						</a>
					</li>
					<li class="ix-list-item">
						<a href="#none">
							<img alt="" src="/mo/ko/images/dummy/img_take_out_slide_thm.jpg">
						</a>
					</li>
					<li class="ix-list-item">
						<a href="#none">
							<img alt="" src="/mo/ko/images/dummy/img_take_out_slide_thm.jpg">
						</a>
					</li>
					<li class="ix-list-item">
						<a href="#none">
							<img alt="" src="/mo/ko/images/dummy/img_take_out_slide_thm.jpg">
						</a>
					</li>
				</ul>
			</div>
			<div class="ix-controller">
				<ul class="ix-thumbs">
					<li class="ix-thumb"><button type="button" class="ix-btn"><!--ix-index-->번째 배너</button></li>
				</ul>
			</div>
		</div>

	</dd>
</dl>