<dl class="layer">
	<dt class="layer_title">테이크아웃 주문 수령시<br>스위티에게 보여주세요.</dt>
	<dd class="layer_cont info_change">
		<div class="text align_center take_out_barcode_wrap">
			<img src="{{url}}">
			<p class="text font_xxl"><b>{{ordNo}}</b></p>
			</p>
		</div>
	</dd>
</dl>
<button class="layer_close" type="button">레이어 닫기</button>