<dt><strong>환불 수단</strong></dt>
<dd>
	<!--/* 예치금 환불 */-->
	<div class="panel gray">
		<dl class="table_layout">
			<dt><b>예치금/상품권</b></dt><!--20180626 : 1차오픈 제외로 '선불카드'문구 삭제-->
			<dd class="align_right"><strong class="num">20,000</strong>원</dd>
		</dl>
		<!--/* 예치금 환불 */-->
		<dl class="table_layout">
			<dt>예치금</dt>
			<dd class="align_right"><span class="num">20,000</span>원</dd>
		</dl>
		<!--/* 모바일상품권 환불
		<dl class="table_layout">
			<dt>모바일상품권명</dt>
			<dd class="align_right"><span class="num">20,000</span>원<br>123456789123</dd>
		</dl>
		 */-->
		<!--/* 선불카드 환불
		<dl class="table_layout">
			<dt>선불카드</dt>
			<dd class="align_right"><span class="num">20,000</span>원<br>123456789123</dd>
		</dl>
		 */-->
		<!--/* 모바일상품권+선불카드+예치금 환불
		<dl class="table_layout">
			<dt>모바일상품권명</dt>
			<dd class="align_right"><span class="num">20,000</span>원<br>123456789123</dd>
		</dl>
		<dl class="table_layout">
			<dt>선불카드</dt>
			<dd class="align_right"><span class="num">20,000</span>원<br>123456789123</dd>
		</dl>
		<dl class="table_layout">
			<dt>예치금</dt>
			<dd class="align_right"><span class="num">20,000</span>원</dd>
		</dl>
		 */-->
		<hr class="div dotted">
		<!--/* 신용카드 결제 환불 */-->
		<dl class="table_layout">
			<dt><b>신용카드 결제</b></dt>
			<dd class="align_right"><strong class="num">900,000</strong>원</dd>
		</dl>
		<dl class="table_layout">
			<dt>결제정보</dt>
			<dd class="align_right w70p">KB국민카드(123456******1234)<br>
				승인취소</dd>
		</dl>
		<!--/*휴대폰 결제 환불
		<dl class="table_layout">
			<dt><b>휴대폰 결제</b></dt>
			<dd class="align_right"><strong class="num">900,000</strong>원</dd>
		</dl>
		<dl class="table_layout">
			<dt>결제정보</dt>
			<dd class="align_right w70p">010-1234-5678<br>
				승인취소</dd>
		</dl>
		 */-->
		<!--/* [S] 무통장, 계좌이체 결제 환불
		<dl class="table_layout">
			<dt><b>예치금</b></dt>
			<dd class="align_right"><strong class="num">900,000</strong>원</dd>
		</dl>
		<p class="bullet_dot">무통장, 계좌이체 결제의 환불은 예치금으로 환불 받으실 수 있습니다. 예치금 환불 완료 후 받으신 예치금은 <em>‘마이 에뛰드 > 나의 지갑 관리 > 예치금 관리＇</em>에서 확인할 수 있으며 계좌를 등록하시면본인 계좌로 환불 받으실 수 있습니다.</p>
		 */-->
	</div>
</dd>
<!--/* [S]추가배송비 발생 시에만 노출 */-->
<dt><strong>배송비 추가 결제</strong></dt>
<dd>
	<div class="panel gray">
		<p class="lh">취소 후 <em>최종 결제금액이 10,000원 미만인 경우 배송비 결제</em>가 필요합니다.</p>
		<hr class="div dotted">
		<dl class="table_layout">
			<dt><b>추가배송비</b></dt>
			<dd class="align_right"><strong class="num">2,500</strong>원</dd>
		</dl>
		<hr class="div dotted">
		<!--/* [S]추가배송비 결제 전 */-->
		<dl class="table_layout">
			<dt class="w20p"><b>결제수단</b></dt>
			<dd class="align_right">
				<fieldset class="form">
					<legend class="sr_only">결제수단 선택</legend>
					<div class="check_set">
						<span class="check_wrap"><input type="radio" name="radio" id="radio1" checked=""><label for="radio1">신용카드</label></span>
						<span class="check_wrap"><input type="radio" name="radio" id="radio2"><label for="radio2">휴대폰 결제</label></span>
					</div>
				</fieldset>
			</dd>
		</dl>
		<button class="btn_md_primary w100p mgt20" type="button">배송비 결제</button>
		<!--/* [E]추가배송비 결제 전 */-->

		<!--/* [S]추가배송비 결제 후 : 신용카드결제
		<dl class="table_layout">
			<dt class="w20p"><b>결제정보</b></dt>
			<dd class="align_right">
				KB국민카드(123456******1234)<br>
				일시불<br>
				2018-09-12  18:02:34
			</dd>
		</dl>
		*/-->
		<!--/* [S]추가배송비 결제 후 : 휴대폰 결제
		<dl class="table_layout">
			<dt class="w20p"><b>결제정보</b></dt>
			<dd class="align_right">
				010-1234-5678<br>
				2018-09-12  18:02:34
			</dd>
		</dl>
		 */-->
		<!--/* [S]추가배송비 결제 후 : Pink Love 무료 반품 서비스
		<dl class="table_layout">
			<dt class="w20p"><b>결제정보</b></dt>
			<dd class="align_right"><em>Pink Love</em> 무료 반품 서비스 이용</dd>
		</dl>
		*/-->
	</div>
</dd>