{{#if (eq this.type 'online')}}
	<button type="button" class="btn_md_bordered w100p">2018년 7월 30일 이전 주문현황 보기 </button>
	<div class="panel gray">
		<ul class="list_bullet_dot">
			<li>주문접수, 결제완료 단계에서는 같은 가격 내의 상품 옵션 변경만 가능하며 주문내역 변경은 주문 취소 후 재 결제 바랍니다.</li>
			<li>배송준비중, 배송중 단계에서는 주문내역 변경, 취소, 배송지 정보 변경이 진행되지 않습니다.</li>
			<li>테이크아웃 주문은 매장에서 상품 준비가 완료되면 SMS를 발송 하며 수신한 SMS 내 주문번호를 수령 매장에 제시하면 상품을 찾 을 수 있습니다.</li>
			<li>수령확인 후 반품 및 교환이 가능합니다.<br><a href="/cs/faq">교환/반품FAQ 바로가기 ▶</a></li>
			<li>취소/반품/교환은 주문 상세 화면에서 가능합니다.</li>
			<li>구매 상품에 리뷰를 작성하면 진주알이 적립됩니다. (배송완료 후 30일 이내 작성)</li>
		</ul>
	</div>

	<a href="tel:080-022-2285" class="btn_md_neutral btn_call mgt25"><i class="ico_tel"></i> 제품 및 매장 문의 080-022-2285</a>
	<p class="align_center lh2 mgt15">평일 09:00 ~ 18:00 (점심시간 12:00 ~ 13:00)<br>토 / 일 / 공휴일 휴무</p>
{{/if}}

{{#if (eq this.type 'store')}}
	<button type="button" class="btn_md_bordered w100p">2018년 7월 30일 이전 주문현황 보기 </button>
	<div class="panel gray">
		<ul class="list_bullet_dot">
			<li>교환 및 반품 문의는 구입하신 매장으로 연락 주세요.</li>
			<li>구매 상품에 리뷰를 작성하면 진주알이 적립됩니다.<br>(배송완료 후 30일 이내 작성)</li>
		</ul>
	</div>
	<a href="tel:080-022-2285" class="btn_md_neutral btn_call mgt25"><i class="ico_tel"></i> 제품 및 매장 문의 080-022-2285</a>
	<p class="align_center lh2 mgt15">평일 09:00 ~ 18:00 (점심시간 12:00 ~ 13:00)<br>토 / 일 / 공휴일 휴무</p>
{{/if}}


{{#if (eq this.type 'returnExchange')}}
	<button type="button" class="btn_md_bordered w100p">2018년 7월 30일 이전 주문내역 보기 </button>
	<div class="panel mgt10">
		<ul class="list_bullet_dot">
			<li>
				수령확인 후 반품 및 교환이 가능합니다.<br>
				<a href="/cs/faq" class="arr_right">교환/반품FAQ 바로가기</a>
			</li>
			<li>취소/반품/교환은 주문 상세 화면에서 가능합니다.</li>
		</ul>
	</div>
{{/if}}

{{#if (eq this.type 'cashReceipts')}}
	<button type="button" class="btn_md_bordered w100p">2018년 7월 30일 이전 발급내역 보기 </button>
{{/if}}