@charset "utf-8";

body { background-color: #fff; font-family: Dotum, '돋움', AppleGothic, Lucida Grande, Verdana, Arial, Tahoma, sans-serif; font-size: 12px; color: #333 }
* { padding: 0px; margin: 0px; border: 0 }
li { list-style: none }
img { vertical-align: top; width: 100% }
a { text-decoration: none }
::-webkit-scrollbar { width: 0px; height: 0px; border-radius: -50%; }

#wrap { position: relative; width: 100% }
#top { position: absolute; top: 0px }
#top.fixed { position: fixed }
#top.fixed .fixedMenu { display: block }
#top .fixedMenu{ position: absolute; bottom: 0; display: none }

#bottom { position: fixed; z-index: 1; bottom: -30%; transition: 0.3s }
#bottom.open{ bottom: 0%; transition: 0.3s }
#bottom .btn{ position: absolute; width: 18%; height: 28%; bottom: 0px; }
#bottom .top{ position: absolute; width: 18%; height: 28%; top: 30%; right: 0px }

#aside { position: fixed; z-index: 20; left: 0%; top: 0; width: 100%; height: 100%; overflow: auto; display: none }
#aside .bg { position: fixed; background-color: #000; width: 100%; height: 100%; opacity: 0; }
#aside .menu { position: relative; left: -100%; width: 86.7%; top: 0px }
#aside .menu .close { position: fixed; top: 0px; right: 0px; width: 14% }
#aside .menu .menu { display: inline-block; position: absolute; width: 24%; height: 10%; top:29% }

#search { position: fixed; z-index: 100; left: 0%; top: 0; width: 100%; height: 100%; overflow: auto; display: none }
#search .close { position: absolute; top: 0; right: 0; width: 15%; height: 7% }
#search .result { position: relative; top: 0 }
#search .result img { position: absolute; top: 0; left: 0 }
#search .result a { display: block }
#search .menu { position: absolute; width: 100%; height: 40px }
#search .menu a { width: 100%; height: 40px; display: block }

.sub1 { position: relative }
.sub1_top { position: relative; top: 0px; z-index: 10 }
.sub1_filter { position: relative; top: 0px; z-index: 10 }
.sub1_filter.fixed { position: fixed; top: 0px }
.sub1_bottom { position: absolute; top: 0px; z-index: 0 }

.detail.content { margin-top: -122px}