            <!-- 동시구매프로모션 -->
            <div class="promotion" >
				<!--/* Title */-->
				<div class="item_wrap order_type">
					<div class="item_info">
						<div class="item_name2">
							<strong th:text="${sameTimePromo.promoName}">[EVENT] 동시구매</strong>
						</div>
						<div class="price">
							<th:block th:if="${#lists.size(sameTimePromo.ordOnlineProdFoList) > 0}">
								<span class="strong"><b th:text="${sameTimePromo.ordOnlineProdFoList[0].ordQtySum}">1</b>세트</span> /
								<span class="strong"><b th:text="${#IntegUtil.toCommaNumber(#aggregates.sum(sameTimePromo.ordOnlineProdFoList.![finalOnlineSaleAmtPcurSum]))}">999,000</b>원</span>
							</th:block>
						</div>
					</div>
				</div>

                <!--/* 상품들 */-->
                <th:block th:if="${#lists.size(sameTimePromo.ordOnlineProdFoList) > 0}">
					<th:block th:each="ordOnlineProd, iter : ${sameTimePromo.ordOnlineProdFoList}">
						<div class="item_wrap" th:classappend="${!iter.first} ? 'plus' : ''">

							<div class="item_info" >
								<!--결제 히든값-->
								<input type="hidden" name="onlinePordSn" th:value="${ordOnlineProd.onlineProdCode}"/>
								<input type="hidden" name="prodName" th:value="${ordOnlineProd.onlineProdName}"/>
								<input type="hidden" name="prodQty" th:value="${ordOnlineProd.ordQtySum}"/>
								<!--//결제 히든값-->
								<input type="hidden" id="ordHistProdCnt" name="ordHistProdCnt" th:value="${#lists.size(ordOnlineProd.ordHistProdList)}"/>

								<!--/* 상품 이미지 */-->
								<div class="item_thumb">
									<th:block th:if="${ordOnlineProd.prodImgUrl != null}"><img class="thm_cart_item" th:src="${ordOnlineProd.prodImgUrl}"></th:block>
									<th:block th:unless="${ordOnlineProd.prodImgUrl != null}"><img class="thm_cart_item" th:src="${ordOnlineProd.onlineProdImgUrl}"></th:block>
								</div>
								<!--/* 상품명 */-->
								<div class="item_name">
									<span class="title" th:text="${ordOnlineProd.onlineProdName}">애니 쿠편 올데이 퍼펙트 리필 SPF50+/PA+++</span>
									<th:block th:if="${ordOnlineProd.singleProdYn != 'Y'}">
										<p class="opt">옵션 :
											<th:block th:each="ordHistProd, iterStat : ${ordOnlineProd.ordHistProdList}"
													  th:text="!${iterStat.last} ? ${ordHistProd.ordProdEx.prodNameBlang} + ' / ' : ${ordHistProd.ordProdEx.prodNameBlang}"
											></th:block>
										</p>
									</th:block>
								</div>
								<!--/* 포인트 및 가격 */-->
								<div class="price">
									<!--/* 상품 수량 */-->
									<span class="strong">
										<b th:text="${ordOnlineProd.ordQtySum > 0 ? ordOnlineProd.ordQtySum : '0'}">0</b>개
									</span>
								</div>
							</div>

						</div>
					</th:block>
                </th:block>
            </div>




