            <!-- 뷰티포인트상품 -->
            <div class="promotion" >
				<div class="clear promotion_header">
					<strong>뷰티포인트 교환상품</strong>
				</div>
                <!--/* 상품들 */-->
                <th:block th:if="${#lists.size(beautyPoint.ordOnlineProdFoList) > 0}">
					<div class="item_wrap" th:each="ordOnlineProd : ${shippingOrdOnlineBeautyPointProdList}">
                        <th:block ap:replace="~{order/fragment/order-reception-product/order-ordonlineprod-info}"/>
                  </div>
                </th:block>
            </div>
        