{{#each this.storeExList}}
	<a href="#none" class="panel store {{#if (findInObject this.storeEventExList 'foStoreEventCode' 'Color Finder')}}color_find_service{{/if}}">
		<span class="store_wrap">
			<span class="store_title" data-store-sn="{{ this.storeSn }}">{{ this.storeName }}</span>
		</span>
		<span class="store_info">
			<span class="store_addr none_bdr">
				{{ this.address.address1 }}, {{ this.address.address2 }}
			</span>
		</span>
	</a>
{{/each}}