            <!-- 동시구매프로모션 -->
			<div class="cart_item_box_wrap type4 ">
				<div class="cart_item_box">
					<div class="top_tit_wrap order_type">
						<h3><th:block th:text="${sameTimePromo.promoName}">동시구매 프로모션명</th:block></h3>
						<div class="price">
							<span class="quantity"><th:block th:text="${sameTimePromo.ordQtySum > 0 ? sameTimePromo.ordQtySum + '개' : '0개'}">3개</th:block></span> /
							<strong class="eng"><th:block th:text="${#IntegUtil.toCommaNumber(sameTimePromo.totalFinalOnlineSaleAmount)}">30,000</th:block><em>원</em></strong>
						</div>
					</div>
				</div>
				<th:block th:if="${#lists.size(sameTimePromo.ordOnlineProdFoList) > 0}">
					<th:block th:if="${sameTimePromo.singleProdYn != 'Y'}">
						<th:block th:each="ordOnlineProd, iter : ${sameTimePromo.ordOnlineProdFoList}">
							<div class="cart_item_box" th:classappend="${!iter.first} ? 'ico_plus' : ''">
								<div class="cart_name_wrap order_type">
									<div class="thumb">
										<th:block th:if="${ordOnlineProd.prodImgUrl != null}"><img th:src="${ordOnlineProd.prodImgUrl}"></th:block>
										<th:block th:unless="${ordOnlineProd.prodImgUrl != null}"><img th:src="${ordOnlineProd.onlineProdImgUrl}"></th:block>
									</div>
									<div class="info">
										<p class="name"><th:block th:text="${ordOnlineProd.onlineProdName}">RD302 말린딸기시럽</th:block><th:block th:text="(${ordOnlineProd.ordQtySum} + 개)">1개</th:block></p>
									</div>
								</div>
							</div>
						</th:block>
					</th:block>
				</th:block>
			</div>