<!--최종 결제금액-->
<div class="ui_accordion payment_detail mgt10" id="amtPcur">
	<script th:inline="javascript">
		$( document ).ready(function() {
			amtPcurInit();
		});

		//결제금액 영역 그리기
		function amtPcurInit() {
			var ordHistEx = /*[[${ordEx.ordHistEx}]]*/ null, // 최종결제금액
				ordOtfExList = /*[[${ordOtfExList}]]*/ null,
				ordAmtMap = /*[[${ordAmtMap}]]*/ null,
				ordCntMap = /*[[${ordCntMap}]]*/ null,
				otfTotalAmtMap = /*[[${otfTotalAmtMap}]]*/ null,
				depositAvailAmt = /*[[${ordEx.depositAvailAmt}]]*/ 0,
				isApMember = /*[[${isApMember}]]*/ null;

			/**
			 * 총결제금액
			 * @type {*|String}
			 */
			var html = AP.common.getTemplate( 'order.final-price-amt-pcur', {
				ordHistEx : ordHistEx,
				ordOtfExList : ordOtfExList,
				ordAmtMap : ordAmtMap,
				ordCntMap : ordCntMap,
				otfTotalAmtMap : otfTotalAmtMap,
				isComplete : true,
				isApMember : isApMember
			});
			$('#amtPcur').html(html);
			$("[name=finalPamtPcur]").val(ordHistEx.finalPamtPcur); 	//최종결제금액
			$("[name=depositAvailAmt]").val(depositAvailAmt); 		//예치금
			$("#orderPayment").html($B.string.numberFormat(ordHistEx.finalPamtPcur)+'원 결제하기');
		}
	</script>
</div>
<!--최종 결제금액-->
