<th:block th:if="${ordOtfExList != null and #lists.size(ordOtfExList) > 0}">
	<th:block th:each="ordOtfEx : ${ordOtfExList}">
		<th:block th:if="${#lists.size(ordOtfEx.ordOtfGiftPackingExList) > 0}">
			<!--포장/쇼핑백 추가신청-->
			<div class="ui_accordion mgt10">
				<dl>
					<dt>
						<b class="title">포장서비스
							<th:block th:each="ordOtfEx : ${ordOtfExList}">
								<th:block th:if="${#lists.size(ordOtfEx.ordOtfGiftPackingExList) > 0}">
									<span><th:block th:text="${#lists.size(ordOtfEx.ordOtfGiftPackingExList)}">0</th:block>개 신청</span>
								</th:block>
								<th:block th:unless="${#lists.size(ordOtfEx.ordOtfGiftPackingExList) > 0}">
									<span>신청안함</span>
								</th:block>
							</th:block>
						</b>
						<button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button>
					</dt>
					<th:block th:each="ordOtfEx : ${ordOtfExList}">
						<th:block th:if="${#lists.size(ordOtfEx.ordOtfGiftPackingExList) > 0}">
							<dd>
								<div class="product_slide_new">
									<ul class="three_half">
										<li th:each="giftPackingEx : ${ordOtfEx.ordOtfGiftPackingExList}">
											<label>
												<span class="product_visual">
													<th:block th:each="giftImgUrl, iterStat : ${giftPackingEx.giftPackingImgUrlList}">
														<img th:src="${giftImgUrl}" th:if="${iterStat.first}">
													</th:block>
												</span>
												<span class="product_info">
													<span class="brand" th:text="${ordHistProdEx.ordProdEx.onlineProdNameBlang}">헤라</span>
													<span class="product_name" th:text="${ordHistProdEx.ordProdEx.prodNameBlang}">제품명 최대 두줄</span>
												</span>
											</label>
										</li>
									</ul>
								</div>
							</dd>
						</th:block>
					</th:block>
				</dl>
			</div>
			<!--포장/쇼핑백 추가신청-->
		</th:block>
	</th:block>
</th:block>