<!--결제수단-->
<dl class="payment" th:if="${ordPayExList != null and #lists.size(ordPayExList) > 0 }">
	<dt id="paymentArea">
		<div class="title"><b>결제수단</b></div>
		<button type="button"><span class="sr_only">더보기</span></button>
	</dt>

	<script th:inline="javascript">
		$( document ).ready(function() {
			ordUnitInit();
		});

		function ordUnitInit() {
			var ordPayEx = /*[[${ordPayExList}]]*/ null;

			if (ordPayEx.length > 0) {
				var html = AP.common.getTemplate('order.complete-final-price-amt', {
					pgList: ordPayEx
				});
				$('#paymentArea').after(html);
			}
		}
	</script>
</dl>
<!--결제수단-->