<!--배송정보입력-->
<dl class="delivery">
	<dt class="on">
		<div class="title"><b>배송정보 입력</b></div>
		<button type="button"><span class="sr_only">더보기</span></button>
	</dt>
	<dd class="panel">
		<ul class="info_list" th:if="${#lists.size(ordEx.ordShipAddressExList) > 0 }" th:each="ordShipAddressExInfo : ${ordEx.ordShipAddressExList}">
			<th:block th:if="${ordShipAddressExInfo.shipAddressTypeCode == 'ShipAddressInput'}">
				<li th:text="${ordShipAddressExInfo.recipientName.name1} + ' / ' + ${ordShipAddressExInfo.recipientPhoneNo1.phoneNo}">김이름 / 010-0000-0000</li>
				<li th:text="'(' + ${ordShipAddressExInfo.recipientAddress.zipCode} + ') ' + ${ordShipAddressExInfo.recipientAddress.address1} + ' ' + ${ordShipAddressExInfo.recipientAddress.address2}">서울시 서울동 서울로 777 888 123</li>
				<th:block th:if="${#lists.size(ordShipAddressExInfo.ordOtfExList) > 0}" th:each="ordOtfEx : ${ordShipAddressExInfo.ordOtfExList}">
					<th:block th:if="${ordOtfEx.shipMsg != null and ordOtfEx.shipMsg != ''}">
						<li><th:block th:text="${ordOtfEx.shipMsg}">부재시 경비실에 맡겨주세요.</th:block></li>
					</th:block>
				</th:block>
			</th:block>
			<th:block th:if="${ordShipAddressExInfo.shipAddressTypeCode == 'CStoreSelect'}">
				<li th:text="${ordShipAddressExInfo.recipientName.name1} + ' / ' + ${ordShipAddressExInfo.recipientPhoneNo1.phoneNo}">김이름 / 010-0000-0000</li>
				<li th:text="${ordShipAddressExInfo.cStoreName} + ' / ' + ${ordShipAddressExInfo.cStorePhoneNo.phoneNo}">본점 / 0211111111</li>
			</th:block>
		</ul>
	</dd>
</dl>
<!--//배송정보입력-->
