<!--포장/쇼핑백 추가신청-->
<!--<th:block th:each="ordOtfEx : ${ordOtfExList}">
<dl class="package" th:if="${#lists.size(ordOtfEx.possibleGiftPackingExList) > 0}">
	<dt>
		<div class="title"><b>포장/쇼핑백 추가신청</b></div>
		<button type="button"><span class="sr_only">더보기</span></button>
	</dt>
	<dd class="panel" th:each="giftPackingEx : ${ordOtfEx.possibleGiftPackingExList}">
		<input type="hidden" name="giftPackingSn" th:value="${giftPackingEx.giftPackingSn}"/>	&lt;!&ndash;선물포장일련번호&ndash;&gt;
		<input type="hidden" name="giftPackingFee" th:value="${giftPackingEx.giftPackingFee}"/>	&lt;!&ndash;선물포장비&ndash;&gt;
		<fieldset class="form">
			<legend class="sr_only">포장/쇼핑백 추가신청 항목</legend>
			<div class="clear" th:if="${giftPackingEx.payYn == 'Y' and giftPackingEx.freeConditionYn == 'N'}">
				<div>
					<span th:if="${giftPackingEx.qtySelectPossibleYn == 'N'}" th:text="${giftPackingEx.giftPackingName}">포장박스 추가</span>
					<div class="ui_tooltip take_out">
						<button type="button" class="btn_tooltip">툴팁보기</button>
						<span class="arr"></span>
						<div class="layer_tooltip">
							<dl>
								<dt>포장박스 추가</dt>
								<dd>
									<ul class="list_bullet_dot">
										<li th:text="${giftPackingEx.foGuide}">포장박스 신청시 개당 1,000원이 추가 됩니다.</li>
									</ul>
									<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
								</dd>
							</dl>
						</div>
					</div>
					<span class="price"><strong class="eng" id="totBoxSum">3,000</strong> 원</span>
				</div>
				&lt;!&ndash; data-min="최소수치" data-max="최대수치" data-step="한번에 증가되는 수치" data-disabled="비활성화" &ndash;&gt;
				<span class="ui_spinner small" data-min="1" data-max="20" data-step="2" data-disabled="false">
					<button class="spinner_decrease" type="button" title="제품 수량 감소" disabled=""><img alt="제품 수량 감소" src="/mo/ko/images/common/ico_minus1.gif"></button>
					<input class="spinner_input" type="text" title="선택품목갯수" id="" value="3" name="">
					<button class="spinner_increase" type="button" title="제품 수량 증가" disabled=""><img alt="제품 수량 증가" src="/mo/ko/images/common/icon_plus1.gif"></button>
				</span>
			</div>
		</fieldset>

		<div class="panel_cont no_padding" th:if="${giftPackingEx.payYn == 'N' and giftPackingEx.freeConditionYn == 'Y'}">
			<span th:if="${giftPackingEx.qtySelectPossibleYn == 'N'}" th:text="${giftPackingEx.giftPackingName}">쇼핑백 추가 <span class="color_light_gray">(3만원 이상 주문시 무료)</span></span>
			<div class="ui_tooltip take_out">
				<button type="button" class="btn_tooltip">툴팁보기</button>
				<span class="arr"></span>
				<div class="layer_tooltip">
					<dl>
						<dt>쇼핑백 추가</dt>
						<dd>
							<ul class="list_bullet_dot">
								<li th:text="${giftPackingEx.foGuide}">3만원이상 주문시 무료로 선택할 수 있습니다.</li>
							</ul>
							<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</dd>
</dl>
</th:block>-->
<!--포장/쇼핑백 추가신청-->