<!--사은품 확인-->
<dl class="freebies" th:if="${ordHistPromoExList != null and #lists.size(ordHistPromoExList) > 0 }">
	<dt>
		<div class="title"><b>보너스 혜택</b></div>
		<button type="button"><span class="sr_only">더보기</span></button>
	</dt>
	<dd class="panel">
		<fieldset class="form">
			<ul class="freebies_list">
				<th:block th:each="ordHistPromoEx : ${ordHistPromoExList}">
					<th:block th:if="${ordHistPromoEx.awardTgtCode == 'Prod' or ordHistPromoEx.awardTgtCode == 'SpPrice'}">
						<li>
					<span class="check_wrap">
						<span class="thumb"><img th:src="${ordHistPromoEx.ordPromoOrdUnitAwardEx.ordProdEx.prodImgUrl}" alt=""></span>
						<span class="text" th:text="'['+${ordHistPromoEx.promoNameBlang}+']'">[사은품]</span>
						<span class="text" th:text="${ordHistPromoEx.ordPromoOrdUnitAwardEx.ordProdEx.prodNameBlang} + ${ordHistPromoEx.ordPromoOrdUnitAwardEx.awardUnitQty} + '개'">몬스터 미셀라 클렌징워커 25ml 1개</span>
					</span>
						</li>
					</th:block>
					<th:block th:if="${ordHistPromoEx.awardTgtCode == 'Point'}">
						<li>
					<span class="check_wrap">
						<th:block th:if="${ordHistPromoEx.pointTypeCode == 'MembershipPoint'}">
							<span class="img"><img ap:src="@{/images/cart/ico_beautypoint.png}" alt=""></span>
						</th:block>
						<th:block th:if="${ordHistPromoEx.pointTypeCode == 'ActivityPoint'}">
							<span class="img"><img ap:src="@{/images/cart/ico_beautypoint.png}" alt=""></span>
						</th:block>
						<span class="tag" th:text="'['+${ordHistPromoEx.promoNameBlang}+']'"></span>
						<th:block th:if="${ordHistPromoEx.pointTypeCode == 'MembershipPoint'}">
							<span class="title">뷰티포인트 <th:block th:text="${ordHistPromoEx.savingPoint}">2000</th:block>P</span>
						</th:block>
						<th:block th:if="${ordHistPromoEx.pointTypeCode == 'ActivityPoint'}">
							<span class="title">진주알 <th:block th:text="${ordHistPromoEx.savingPoint}">2000</th:block>알</span>
						</th:block>
					</span>
						</li>
					</th:block>
					<th:block th:if="${ordHistPromoEx.awardTgtCode == 'Coupon'}">
				<span class="check_wrap">
					<span class="tag" th:text="'['+${ordHistPromoEx.promoNameBlang}+']'"></span>
					<span class="title" th:text="${ordHistPromoEx.couponSn}">쿠폰</span>
				</span>
					</th:block>
					<th:block th:if="${ordHistPromoEx.awardTgtCode == 'Giftcard'}">
				<span class="check_wrap">
					<span class="tag" th:text="'['+${ordHistPromoEx.promoNameBlang}+']'"></span>
					<span class="title">Giftcard</span>
				</span>
					</th:block>
				</th:block>
			</ul>
		</fieldset>
	</dd>
</dl>
<!--사은품 확인-->