<!--사은품 확인-->
<dl class="freebies">
	<dt>
		<div class="title"><b>보너스 혜택</b></div>
		<button type="button"><span class="sr_only">더보기</span></button>
	</dt>
	<dd class="panel">
		<div class="freebies_result">
			<span class="thumb"><img ap:src="@{/images/dummy/cart_freebies_img1.jpg}" alt=""></span>
			<h3 class="h_title cont"><strong>첫 구매 사은품</strong></h3>
			<span class="text">뷰티포인트 2000P</span>
		</div>

		<hr class="div m25">

		<ul class="freebies_list">
			<li>
				<div class="item">
					<div class="thumb"><img alt="" ap:src="@{/images/dummy/cart_freebies_img5.jpg}"></div>
					<div class="item_info list">
						<div class="prd_name">
							<h3 class="h_title cont"><strong>사은품</strong></h3>
							<p class="name"><사은품> 레드 에너지 스킨케어 4종 키트 1개 </p>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="item">
					<div class="thumb"><img alt="" ap:src="@{/images/dummy/cart_freebies_img5.jpg}"></div>
					<div class="item_info list">
						<div class="prd_name">
							<h3 class="h_title cont"><strong>사은품</strong></h3>
							<p class="name"><사은품> 레드 에너지 스킨케어 4종 키트 1개 </p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<!-- 사은품이 한개일때 class 'single' 추가 -->
		<ul class="freebies_list single">
			<li>
				<div class="item">
					<div class="thumb"><img alt="" ap:src="@{/images/dummy/cart_freebies_img5.jpg}"></div>
					<div class="item_info list">
						<div class="prd_name">
							<h3 class="h_title cont"><strong>사은품</strong></h3>
							<p class="name"><사은품> 레드 에너지 스킨케어 4종 키트 1개 </p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<!--//사은품이 한개일때-->
	</dd>
</dl>
<!--사은품 확인-->