@charset "UTF-8";

/* 뷰티테스터 */

/* tab */
.beauty_tester_wrap .tab_menu>ul>li button {width: 100%;}
.beauty_tester_wrap .tab_menu.equally>ul>li {padding: 0; border-bottom: 0;}

/* tab 진행중 */
.event_list .info_txt_box {padding: 16px 16px 25px; line-height: 1.2;}
.event_list .info_txt_box .tag_box {display: inline-block; padding: 0 6px; height: 20px; line-height: 20px; font-size: 11px; color: #fff;}
.event_list .info_txt_box .tag_box.bg_skyblue {background-color: #1fb3f1;}
.event_list .info_txt_box .tag_box.bg_orange {background-color: #f15a1f;}

.event_list .info_txt_box .title {margin-top: 12px; font-size: 16px; color: #222222; font-weight: bold;}
.event_list .info_txt_box .sub_txt {margin-top: 7px; font-size: 14px; color: #999999;}
.event_list .info_txt_box .date {margin-top: 5px; font-size: 14px; color: #999999;}
.event_list .info_txt_box .point_purple {color: #782fff; font-weight: bold;}

/* tab 베스트 리뷰 */
.beauty_tester_wrap .title_box {position: relative; padding: 22px 16px; border-bottom: 1px solid #f2f2f2;}
.beauty_tester_wrap .title_box .title {font-size: 16px; color: #484848;}

.beauty_tester_wrap .title_box .util {position: absolute; right: 16px; top: 22px;}
.beauty_tester_wrap .title_box .util:after {content: ""; display: block; clear: both;}
.beauty_tester_wrap .title_box .util li {float: left; position: relative; padding-left: 15px; margin-left: 15px;}
.beauty_tester_wrap .title_box .util li a {display: inline-block; font-size: 15px; color: #999999;}
.beauty_tester_wrap .title_box .util li.on a {color: #782fff; font-weight: bold;}
.beauty_tester_wrap .title_box .util li:before {content: ""; position: absolute; left: 0; top: 0; width: 1px; height: 13px; background-color: #cdcdcd;}
.beauty_tester_wrap .title_box .util li:first-child {padding-left: 0; margin-left: 0;}
.beauty_tester_wrap .title_box .util li:first-child:before {display: none;}

/* 신청하기 */
.beauty_tester_wrap .section.top {margin-top: 0;}
.course_wrap {padding: 25px 0; line-height: 1;}
.course_wrap .cont_top {padding: 0 16px;}
.course_wrap .tiile {font-size: 17px; color: #222222; font-weight: bold;}
.course_wrap .sub_txt {padding-top: 13px; color: #484848;}
.course_wrap .apply {padding-top: 10px; color: #222222;}
.course_wrap .apply .point_purple {color: #782fff; font-weight: bold;}

.course_list_wrap {max-width: 375px; margin: 0 auto;}
.course_list {margin: 35px 0 0;}
.course_list.step01 {background: url("/mo/ko/images/display/img_course_01.jpg") 50% 25px no-repeat;  background-size: 315px 34px;}
.course_list.step02 {background: url("/mo/ko/images/display/img_course_02.jpg") 50% 25px no-repeat;  background-size: 308px 34px;}
.course_list.step03 {background: url("/mo/ko/images/display/img_course_03.jpg") 50% 25px no-repeat;  background-size: 308px 34px;}
.course_list.step04 {background: url("/mo/ko/images/display/img_course_04.jpg") 50% 25px no-repeat;  background-size: 315px 34px;}
.course_list:after {content: ""; display: block; clear: both;}
.course_list li {float: left; width: 25%; color: #b9b9b9; text-align: center;}
.course_list li:nth-child(1) .date {margin-left: -9px;}
.course_list li:nth-child(4) {margin-top: -7px;}

.course_list li .date {padding-top: 55px;}
.course_list li .date .align_right {display: inline-block; text-align: right;}
.course_list li:nth-child(4) .date {padding-top: 48px; margin-left: 9px;}

.course_list li.on .title {color: #222222;}
.course_list li.on .date {color: #782fff;}

