@charset "UTF-8";

/* 뷰티테스터 */

/* tab */
.beauty_tester_wrap .tab_menu>ul>li button {width: 100%;}
.beauty_tester_wrap .tab_menu.equally>ul>li {padding: 0; border-bottom: 0;}

/* tab 진행중 */
.event_list .info_txt_box {padding: 16px 16px 25px; line-height: 1.2;}
.event_list .info_txt_box .tag_box {display: inline-block; padding: 0 6px; height: 20px; line-height: 20px; font-size: 11px; color: #fff;}
.event_list .info_txt_box .tag_box.bg_skyblue {background-color: #1fb3f1;}
.event_list .info_txt_box .tag_box.bg_orange {background-color: #f15a1f;}

.event_list .info_txt_box .title {margin-top: 12px; font-size: 16px; color: #222222; font-weight: bold;}
.event_list .info_txt_box .sub_txt {margin-top: 7px; font-size: 14px; color: #999999;}
.event_list .info_txt_box .date {margin-top: 5px; font-size: 14px; color: #999999;}
.event_list .info_txt_box .point_purple {color: #782fff; font-weight: bold;}

/* tab 베스트 리뷰 */
.beauty_tester_wrap .title_box {position: relative; padding: 22px 16px; border-bottom: 1px solid #f2f2f2;}
.beauty_tester_wrap .title_box .title {font-size: 16px; color: #484848;}

.beauty_tester_wrap .title_box .util {position: absolute; right: 16px; top: 22px;}
.beauty_tester_wrap .title_box .util:after {content: ""; display: block; clear: both;}
.beauty_tester_wrap .title_box .util li {float: left; position: relative; padding-left: 15px; margin-left: 15px;}
.beauty_tester_wrap .title_box .util li a {display: inline-block; font-size: 15px; color: #999999;}
.beauty_tester_wrap .title_box .util li.on a {color: #782fff; font-weight: bold;}
.beauty_tester_wrap .title_box .util li:before {content: ""; position: absolute; left: 0; top: 0; width: 1px; height: 13px; background-color: #cdcdcd;}
.beauty_tester_wrap .title_box .util li:first-child {padding-left: 0; margin-left: 0;}
.beauty_tester_wrap .title_box .util li:first-child:before {display: none;}

.beauty_tester_wrap .best_cont {padding: 0 16px 9px;}

/* 별점 */
.rating_one .star_one {display: inline-block; width: 11px; height: 11px;}
.rating_one .star_one img {width: 11px; height: 11px;}
.rating_one .count {margin-left: 3px; font-size: 15px; vertical-align: middle;}

.beauty_tester_wrap .realtime_review .review_list .review_info {padding: 18px 12px;}
.beauty_tester_wrap .realtime_review .review_list .review_info .text {margin: 10px 0; font-size: 14px; overflow: hidden; display: -webkit-box; white-space: normal; word-break: break-all; -webkit-line-clamp: 5; -webkit-box-orient: vertical; line-height: 1.2;}

.beauty_tester_wrap .realtime_review .review_list .product_info {padding: 6px 4px; width: 100%; table-layout: fixed;}
.beauty_tester_wrap .realtime_review .review_list .product_info .img_product {display: table-cell; width: 35px; height: 35px; vertical-align: middle;}
.beauty_tester_wrap .realtime_review .review_list .product_info .img_product img {display: block;}
.beauty_tester_wrap .realtime_review .review_list .product_info .product_name_wrap {margin-left: 5px; display: table-cell; vertical-align: middle; font-size: 11px; color: #484848;}
.beauty_tester_wrap .realtime_review .review_list .product_info .product_name_wrap li {margin-right: 3px; overflow: hidden; display: -webkit-box; white-space: normal; word-break: break-all; -webkit-line-clamp: 1; -webkit-box-orient: vertical; line-height: 1.2;}
.beauty_tester_wrap .realtime_review .review_list .product_info .product_name_wrap li:first-child {margin-top: 0;}

.beauty_tester_wrap .review_list  .beauty_tester {position: relative;}
.beauty_tester_wrap .review_list  .beauty_tester > img {}

.beauty_tester_wrap .beauty_tester .info{position:absolute; bottom:0; left:0; right:0; padding: 20px 15px; white-space: normal; z-index: 2;}
.beauty_tester_wrap .beauty_tester .info>*{display:block; color:#fff; line-height: 1.3;}
.beauty_tester_wrap .beauty_tester .info b {color:#fff; font-size: 15px;}
.beauty_tester_wrap .beauty_tester .info .grade {margin-bottom: 5px;}
.beauty_tester_wrap .beauty_tester .info b.title {overflow: hidden; display: -webkit-box; max-height: 35px; white-space: normal; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.beauty_tester_wrap .beauty_tester .info .ico_star_s_w {margin-top: -4px; background-position: -160px -115px;}
.beauty_tester_wrap .beauty_tester .bg_gradient {background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%); display: inline-block; width: 100%; height: 120px; position: absolute; left: 0; bottom: 0; z-index: 1;}

/* 신청하기 */
.beauty_tester_wrap .section.top {margin-top: 0;}
.course_wrap {padding: 25px 0 50px; line-height: 1;}
.course_wrap .cont_top {padding: 0 16px;}
.course_wrap .tiile {font-size: 17px; color: #222222; font-weight: bold;}
.course_wrap .sub_txt {padding-top: 13px; color: #484848;}
.course_wrap .apply {padding-top: 10px; color: #222222;}
.course_wrap .apply .point_purple {color: #782fff; font-weight: bold;}

.course_list_wrap {max-width: 375px; margin: 0 auto;}
.course_list {margin: 35px 0 0;}
.course_list.step01 {background: url("/mo/ko/images/display/img_course_01.jpg") 50% 25px no-repeat;  background-size: 315px 34px;}
.course_list.step02 {background: url("/mo/ko/images/display/img_course_02.jpg") 50% 25px no-repeat;  background-size: 308px 34px;}
.course_list.step03 {background: url("/mo/ko/images/display/img_course_03.jpg") 50% 25px no-repeat;  background-size: 308px 34px;}
.course_list.step04 {background: url("/mo/ko/images/display/img_course_04.jpg") 50% 25px no-repeat;  background-size: 315px 34px;}
.course_list:after {content: ""; display: block; clear: both;}
.course_list li {float: left; width: 25%; color: #b9b9b9; text-align: center;}
.course_list li:nth-child(1) .date {margin-left: -11px;}
.course_list li:nth-child(4) {margin-top: -7px; padding-left: 2px;}

.course_list li .date {padding-top: 55px;}
.course_list li .date .align_right {display: inline-block; text-align: right;}
.course_list li:nth-child(4) .date {padding-top: 48px; margin-left: 9px;}

.course_list li.on .title {color: #222222;}
.course_list li.on .date {color: #782fff;}

/* tab 신청하기 */

.mission_wrap {padding: 35px 16px; line-height: 1.5; border: 1px solid #f2f2f2;}
.mission_wrap .inbox {padding: 30px 25px;}
.mission_wrap .inbox:first-child {padding-top: 0; border-bottom: 1px solid #f2f2f2;}
.mission_wrap .inbox:nth-child(2) {padding-bottom: 0;}
.mission_wrap .inbox .title {font-size: 16px; font-weight: bold;}
.mission_wrap .inbox .txt p {margin-top: 18px; color: #484848;}
.mission_wrap .inbox .txt p:first-child {margin-top: 22px;}

.mission_notice {padding: 30px 16px 28px; background-color: #5b5b5b;}
.mission_notice .title {font-size: 15px; color: #fff; font-weight: bold;}
.mission_notice .txt {margin-top: 20px; font-size: 13px; color: #dadada;}
.mission_notice .txt li {margin-top: 12px; padding-left: 12px; line-height: 1.5; background: url("/mo/ko/images/common/dot_gray.gif") 0 7px no-repeat; background-size: 2px 2px;}

.mission_guide {padding: 35px 16px 40px;}
.mission_guide .txt {padding-left: 25px;}
.mission_guide .txt li {margin-top: 15px; color: #484848; line-height: 1.5;}
.mission_guide .txt li:first-child {margin-top: 0;}
.mission_guide .btn_h45_pp {margin-top: 28px;}

/* tab 신청자 */
.beauty_tester_wrap .ui_tab {margin-top: 9px;}
.beauty_tester_wrap .ui_tab .tab_cont:first-child {background-color: #fff;}

.beauty_tester_wrap .review .review_header>span + span:not(.rating):before {left: -10px; top: 2px;}

.beauty_tester_wrap .review .cont .text {overflow: hidden; display: -webkit-box; max-height: 71px; white-space: normal; word-break: break-all; -webkit-line-clamp: 4; -webkit-box-orient: vertical; line-height: 1.2;}
.beauty_tester_wrap .review .cont.open .text {overflow: auto; display: block; max-height: 100%; white-space: normal; word-break: break-all; -webkit-line-clamp: inherit; -webkit-box-orient: vertical; line-height: 1.2;}

.beauty_tester_wrap .review .cont .read_more {display: inline-block; margin-top: 13px;}
.beauty_tester_wrap .review .cont .more_view.close {display: none; font-size: 14px; color: #a3a3a3;}
.beauty_tester_wrap .review .cont.open .read_more {display: none;}
.beauty_tester_wrap .review .cont.open .more_view.close {display: block; margin-top: 13px;}
.beauty_tester_wrap .review .cont .ico_down {padding-right: 15px; width: 15px; height: 8px; background: url("/mo/ko/images/common/ico_arrow_down_16.png") 0 0 no-repeat; background-size: 15px 8px;}
.beauty_tester_wrap .review .cont .ico_up {padding-right: 15px; width: 15px; height: 8px; background: url("/mo/ko/images/common/ico_arrow_up_16.png") 0 0 no-repeat; background-size: 15px 8px;}

.applicant_wrap .read_more,
.applicant_wrap	.more_view {display: inline-block;}
.applicant_wrap .link {display: inline-block; margin-top: 15px; font-size: 14px; color: #999999; word-break:break-all;}

.beauty_tester_wrap .review .bottom {margin-top: 22px;}
.beauty_tester_wrap .review .bottom:after {content: ""; display: block; clear: both;}
.beauty_tester_wrap .review .bottom .date {float: left; padding-top: 9px;}
.beauty_tester_wrap .review .bottom .btn_wrap {float: right;}
.beauty_tester_wrap .review .bottom .btn_sm_bordered {display: inline-block; padding: 0 10px; height: 28px; line-height: 28px; font-size: 13px; color: #222222; border: 1px solid #eaeaea; border-radius: 3px;}

.applicant_wrap.none {display: none; padding: 85px 16px; background-color: #f2f2f2;}
.applicant_wrap.none .txt {padding-bottom: 25px; font-size: 16px; color: #484848; text-align: center;}

/* 상세 정보 */
.beauty_tester_wrap .detail_info .cont{position:relative; overflow:hidden; height:70vw;}
.beauty_tester_wrap .detail_info .cont:after{content:''; position:absolute; bottom:0; left:0; right:0; height: 30%; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}
.beauty_tester_wrap .detail_info>dd + dd{border-top:1px solid #f2f2f2;}
.beauty_tester_wrap .detail_info .toggle_btn{width: 100%; height: 60px; position: relative; font-size: 16px; color: #484848}
.beauty_tester_wrap .detail_info .toggle_btn:after{content: ''; position: absolute; top: -151px; left: 0; height:150px; width: 100%; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}
.beauty_tester_wrap .detail_info.on .toggle_btn:after {display: none;}
.beauty_tester_wrap .detail_info .toggle_btn i{margin-left: 5px;}
.beauty_tester_wrap .detail_info .toggle_btn.close{display:none;}
.beauty_tester_wrap .detail_info.on .cont{overflow: visible; height: auto;}
.beauty_tester_wrap .detail_info.on .cont:after{display:none;}
.beauty_tester_wrap .detail_info.on .toggle_btn.view{display:none;}
.beauty_tester_wrap .detail_info.on .toggle_btn.close{display:block;}

/* 테스터 발표 */
.prize_wrap {padding: 30px 16px;}
.prize_guide {margin-bottom: 20px;}
.prize_guide li {font-size: 14px; color: #222; text-align: center; line-height: 1.5;}
.prize_guide li:first-child {font-size: 17px; margin-bottom: 13px;}
.prize_guide li strong {font-weight: bold;}

/* 당첨자 명단 */
.prize_list {padding: 25px 16px; height: 274px; overflow:hidden;}
.prize_list_wrap.open .prize_list {height: auto;}
.prize_list li {margin-top: 20px; font-size: 12px; color: #999999;}
.prize_list li:first-child {margin-top: 0;}
.prize_list li span {display: block; font-size: 15px; color: #222; margin-bottom: 2px;}

.prize_list_wrap button {display: block; width: 100%; height: 60px; line-height: 60px; font-size: 16px; color: #484848; background-size: border-box; border-top: 1px solid #f2f2f2;}
.prize_list_wrap button i {margin-left: 4px;}
.prize_list_wrap button .ico_down {width: 18px; height: 10px; background: url("/mo/ko/images/common/ico_arrow.png") 0 0 no-repeat; background-size: 18px 10px;}
.prize_list_wrap button .ico_up {width: 18px; height: 10px; background: url("/mo/ko/images/common/ico_arrow_up.png") 0 0 no-repeat; background-size: 18px 10px;}

.prize_list_wrap .btn_close {display: none;} 
.prize_list_wrap.open .btn_open {display: none;} 
.prize_list_wrap.open .btn_close {display: block;} 

/* 등록된 리뷰 */
.prize_review .best_cont .review_none_txt {padding: 72px 16px; font-size: 16px; color: #484848; text-align: center;}
.prize_review .best_cont {padding: 6px 16px 16px;}

/* 뷰티테스터 리뷰 상세 */
.review.tester_review_wrap .review_header {border-bottom: 1px solid #f2f2f2;}
.review.tester_review_wrap .review_cont {padding: 0 0 50px 0;}
.review.tester_review_wrap .review_cont .title_box {padding: 0 16px; line-height: 1.2;}
.review.tester_review_wrap .review_cont .title_box .title {margin-top: 30px; font-size: 18px; color: #222222; font-weight: bold;}

.tester_review_wrap .product_name {margin: 10px 0 30px 0; height: 28px; line-height: 28px; font-size: 15px; color: #782fff;}
.tester_review_wrap .product_name .ico_arr  {display: inline-block; width: 10px; height: 28px; background: url("/mo/ko/images/common/ico_title_arrow.png") 0 center no-repeat; background-size: 10px 18px;}

.tester_review_wrap .cont .inbox:first-child {margin-top: 0;}
.tester_review_wrap .cont .inbox {margin-top: 50px;}
.tester_review_wrap .cont .inbox p {margin-top: 8px; padding: 0 16px; line-height: 1.5;}
.tester_review_wrap .cont .inbox p:last-child {padding-bottom: 25px;}
.tester_review_wrap .cont .inbox img + p {padding-top: 25px; margin-top: 0;}

.tester_review_wrap .type_04 .img_fl:after {content: ""; display: block; clear: both;}
.tester_review_wrap .type_04 .img_fl li {float: left; display: block; width: 49.5%; margin-left: 1%;}
.tester_review_wrap .type_04 .img_fl li:first-child {margin-left: 0;}
.tester_review_wrap .type_04 .img_fl +p {padding-top: 25px; margin-top: 0;}

.fix_bottom_wrap {position: fixed; left: 0; bottom: 0; width: 100%; height: auto;}
.fix_bottom_wrap .fix_bottom {padding: 0 16px; height: 47px; line-height: 47px; position: relative;}
.fix_bottom_wrap .fix_bottom:after {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 47px; background-color: #000; opacity:0.2;}
.fix_bottom_wrap .inbox {position: relative; z-index: 30;}
.fix_bottom_wrap .inbox:after {content: ""; display: block; clear: both;}
.fix_bottom_wrap .inbox a {color: #fff;}
.fix_bottom_wrap .inbox .share_area {float: left; display: inline-block;}
.fix_bottom_wrap .inbox .share_area img {width: 20px; height: 20px;}
.fix_bottom_wrap .inbox .recommend_area {float: right; display: inline-block;}
.fix_bottom_wrap .inbox .recommend_area img {width: 19px; height: 17px; margin-right: 8px;}
.fix_bottom_wrap .inbox .recommend_area .num {margin-left: 6px; color: #fff; font-weight: bold;}
