@charset "UTF-8";

/* 게시물 검색 */
.board_search .select_wrap{width:100px; height:40px;}
.board_search .select_wrap>select{border-color: #b5b5b5;}
.board_search .input_wrap>input{height:40px; border-color:#b5b5b5;}
.board_search .input_group>*:last-child{width:50px;}
.board_search .select_wrap,
.board_search select,
.board_search input,
.board_search button{border-radius:5px;}
.board_search button{min-width:inherit !important; font-size: 14px !important;}

/* 공지사항 */
.board_list{border-bottom:1px solid #d9d9d9;}
.board_list>li{padding:12px 10px; line-height: 1.5;}
.board_list>li + li{border-top:1px solid #d9d9d9;}
.board_list>li small{display:inline-block; font-size: 12px; letter-spacing: -0.5px; font-family: "Roboto"; line-height: 1;}
.board_list>li small + small{margin-left: 5px; padding-left: 5px; border-left: 1px solid #d2d2d2;}
.board_list>li a{display:block;}
.board_list>li a small{display:inline; font-size: 14px;}

[class*="board"] .new{position:relative; display:inline-block; overflow: hidden; width:16px; height:0; padding-top:16px; margin-top: -3px; background: #782fff; color: #fff; border-radius: 50%; vertical-align: middle;}
[class*="board"] .new:before{content:'N'; position:absolute; top:2px; left:4px; line-height: 13px; font-size: 11px; font-family: 'Roboto';}

/* board view */
.board_view .board_title{background: #f5f5f5;}
.board_view .board_title{padding:4px 10px 13px; background: #f5f5f5; font-weight:bold; font-size: 12px; color:#888; border-bottom:1px solid #d9d9d9;}
.board_view .board_title>small{font-size: 12px;}
.board_view .board_title>b{display:block; margin: 3px 0 5px; font-size: 15px; line-height: 1.5;}
.board_view .board_title span{display:inline-block;}
.board_view .board_title span + span{position:relative; margin-left:10px; padding-left:10px;}
.board_view .board_title span + span:before{content:''; position:absolute; top:50%; left:0; width: 1px;height: 10px; margin-top: -5px; background: #d5d5d5;}
.board_view .attached{padding:10px; background:#f5f5f5; border-bottom:1px solid #d9d9d9;}
.board_view .attached>*{position:relative; display:block; font-family: 'Roboto'; font-size: 11px; line-height: 14px;}
.board_view .attached>*:before{content:''; display:inline-block; width:14px; height:14px; margin-right:10px; background:url(/mo/ko/images/common/ico.png) no-repeat -120px -110px; -webkit-background-size: 200px;background-size: 200px; vertical-align: middle;}
.board_view .attached>* + *{margin-top: 5px;}
.board_view .cont{padding: 10px; font-size: 13px; line-height: 1.5;}
.board_view .attached_img{margin: 5px 0;}
.board_view .attached_img >img{display:block;}
.board_view .attached_img >img + img{margin-top: 10px;}
.board_view .btns{padding:10px 0 20px;text-align:center;}
.board_view .prev_next{border-top:1px solid #d9d9d9;}
.board_view .prev_next>li{padding: 10px;border-bottom:1px solid #d9d9d9;}
.board_view .prev_next>li:after{content:''; display: block; clear: both;}
.board_view .prev_next>li>*{float:left; font-size: 13px;}
.board_view .prev_next>li>span:first-child{height:25px; padding: 5px 10px; margin-right: 10px; border: 1px solid #b5b5b5; font-size: 12px; color:#888;}
.board_view .prev_next>li>a{overflow:hidden; width:calc(100% - 60px); white-space: nowrap; -ms-text-overflow: ellipsis;text-overflow: ellipsis; line-height: 25px;}

/* faq */
.faq.ui_accordion{font-size: 14px; border-bottom:1px solid #d9d9d9;}
.faq.ui_accordion>dl + dl>dt{border-top:1px solid #d9d9d9;}
.faq.ui_accordion>dl>dt .title{overflow:visible; font-size: 14px; white-space: normal;}
.faq.ui_accordion>dl>dt.on .title{font-weight: bold;}
.faq.ui_accordion>dl>dd{border-bottom:0;}
.faq.ui_accordion small{display:block;}
.faq.ui_accordion .cont{background: #f2f2f2;}