@charset "UTF-8";
.fwb{font-weight:bold !important;}
.mt10{margin-top:10px !important;}
.bod_top{border-top: 1px solid #d9d9d9 !important;}


/* 고객센터 overview */
.cs_overview .tab_menu ul>li{padding:0;}
.cs_overview .tab_menu>ul>li button{width:100%;}
.cs_overview .tab_menu ul>li>*:after{ transition:none;}
.cs_overview .cs_info_wrap {padding: 20px 10px; box-sizing:border-box; overflow:hidden;}
.cs_overview .cs_info + .cs_info{margin-top: 8px;}
.cs_overview .cs_info>*{width:calc(50% - 4px); border:1px solid #b5b5b5; border-radius:3px;}
.cs_overview .cs_info:after{display: block;content: '';clear: both;}
.cs_overview .cs_info>a{float:left; display:block; padding: 17px 0; background: #fff; text-align: center;}
.cs_overview .cs_info>a:first-child{margin-right:8px;}
.cs_overview .cs_info>dl{padding: 15px 20px; font-size: 13px; line-height: 1.3; background: #fff; float:left;}
.cs_overview .cs_info>dl:first-child{margin-right:8px;}
.cs_overview .cs_info>dl>dt{padding-bottom: 10px; color:#888;}
.cs_overview .cs_info>dl .tel{display:block; font-size: 18px; line-height: 18px; font-weight: bold;}
.cs_overview .cs_info>dl dl{margin-top: 10px; font-size: 11px; }
.cs_overview .cs_info>dl .list_bullet_dash{line-height: 1.2;}
.cs_overview .cs_info>dl .list_bullet_dash>li{margin-top: 3px;}
.cs_overview .cs_info>dl small{font-size: 11px !important; color:#888888;}

.cs_overview .cs_info a>span{display:block;}
.cs_overview .cs_info a span.txt_col_888{color:#888888;}
.cs_overview .cs_info [class*="ico"]{width:55px; height:55px; background:url(/mo/ko/images/cs/ico_cs.png) no-repeat; background-size: 55px;}
.cs_overview .cs_info .ico_chat{background-position: 0 -55px;}
.cs_overview .ui_tab .faq,
.cs_overview .ui_tab .board_list{border-top:1px solid #d9d9d9; border-bottom:0;}

.cs_overview .view_btn{overflow:hidden;box-sizing:border-box; text-align:right; padding:10px;}
.cs_overview .view_btn a {/*color:#999999;*/font-size:13px;}
.cs_overview .board_list>li a small{color:#888888;}

.cs_overview .faq.ui_accordion small{color:#888888; margin-top:10px;}
.cs_overview .faq.ui_accordion button{display: block;width:100%;position: inherit; text-align:left;} 
.cs_overview .faq.ui_accordion>dl>dt{padding:12px 10px;}
.cs_overview .faq.ui_accordion>dl>dd .cont{margin-left:20px;padding:0 10px 12px 10px; background:#fff;}
.cs_overview .faq.ui_accordion>dl>dd .cont .text{word-break:break-all;word-wrap:break-word;font-size:13px;line-height: 1.3;}
.txt_answer{display: inline-block;color:#782fff;font-size: 14px;font-weight: bold; margin-right:5px;}


/* 고객센터 ap_cs list*/
.ap_cs .input_group{padding:10px 10px;box-sizing: border-box; position:relative;}
.ap_cs .ui_select{display:table-cell;vertical-align: middle;width:90px;box-sizing: border-box;}
.ap_cs .ui_select>button{ font-size:12px !important; height:30px;border-radius:3px; padding: 4px 14px 6px 14px; background:#fff;border: 1px solid #b5b5b5;color: #999999;width:90px;}
.ap_cs .ui_select>button:after{right:10px;}
.ap_cs .board_search .input_group>*:last-child{width:auto;}
.ap_cs .board_search .wrap {height: 30px;padding: 6px 5px 6px 14px;margin-left: 4px;margin-right:55px;background: #fff;border-radius: 3px;border:1px solid #b5b5b5;}
.ap_cs .board_search .wrap input{width:100%;font-size:12px;color:#999999; border: 0; }
.ap_cs .board_search .wrap button{font-size: 13px !important;width:50px;display:inline-block; position:absolute; right:10px; top:10px;}
.ap_cs .btn_h30_search{display: block;width: 100%;height: 30px;background: #333333;border: 1px solid #333333;color: #fff;line-height: 10px;text-align: center;font-weight: bold;}
.ap_cs .board_list>li a small{color:#888888;}
.ap_cs .board_list>li .text{color:#888888; font-size:11px; margin-top:10px;}
.ap_cs .btn_lg_more.w100p{display: block;margin: 0;padding: 10px;width: 100%;text-align: center; border-top: 1px solid #000000;font-size: 12px;color: #222222;background:#f7f7f7; margin-top:-1px;}
.ap_cs .btn_lg_more.w100p .ico_down{width: 10px;height: 7px;margin-right:4px;background: url(/mo/ko/images/common/ico.png) no-repeat -55px -50px;background-size: 200px;}
.ap_cs .section.notice .font_lg{font-size:25px; line-height:30px; color:#dddddd;}

/* 고객센터 ap_cs view*/
.ap_cs .board_view .board_title>b{color:#121212;}
.btns .btn_sm_bordered{display: inline-block;border:1px solid #4a4a4a; border-radius:3px;padding:7px 10px; }
.btns .btn_sm_bordered span{margin-left:5px; font-size:13px; color:#4a4a4a;}
.ap_cs .board_view .prev_next>li>span:first-child{border-radius: 3px;}
.ap_cs .board_view .prev_next>li>a{color:#121212;}


/* 고객센터 ap_cs faq*/
.ap_cs.faq_wrap .sort_btn_set {overflow:hidden; box-sizing:border-box; padding:15px 10px; margin-top:-10px;}
.ap_cs.faq_wrap .sort_btn_set li {width:calc((100% - 14px)/3);float: left; margin-top: 10px;margin-right:7px; }
.ap_cs.faq_wrap .sort_btn_set li:nth-child(3n+0){margin-right:0;}
.ap_cs.faq_wrap .sort_btn_set li .check_wrap{position:relative; display:table; width: 100%;}
.ap_cs.faq_wrap .sort_btn_set input{position:absolute; z-index: -1;}
.ap_cs.faq_wrap .sort_btn_set label{display:table-cell; height:40px; margin:0 2px 2px 0; padding:0; font-size: 12px;border:1px solid #b5b5b5; background: #fff; text-align: center; white-space: nowrap; border-radius:3px;vertical-align:middle}
.ap_cs.faq_wrap .sort_btn_set label span{display:inline-block; width: 100%; white-space: nowrap;}
.ap_cs.faq_wrap .sort_btn_set input:checked + label{border-color: #782fff;}
.ap_cs.faq_wrap .input_group{border-top:1px solid #cbcbcb;}
/*.ap_cs.faq_wrap .faq.ui_accordion small{color:#888888; margin-top:10px;}
.ap_cs.faq_wrap .faq.ui_accordion button{display: block;width:100%;position: inherit; text-align:left;} 
.ap_cs.faq_wrap .faq.ui_accordion>dl>dt{padding:12px 10px;}
.ap_cs.faq_wrap .faq.ui_accordion>dl>dd .cont{margin-left:20px;padding:0 10px 12px 10px; background:#fff;}
.ap_cs.faq_wrap .faq.ui_accordion>dl>dd .cont .text{word-break:break-all;word-wrap:break-word; font-size:13px;}*/
.faq_div{font-size: 14px;border-bottom: 1px solid #d9d9d9;}
.faq_div dl dt{position: relative;overflow: hidden;padding: 12px 10px;background: #fff;line-height: 1.5;}
.faq_div dl dt button {display: block;width: 100%;position: inherit;text-align: left;}
.faq_div dl dt.question.on button{font-weight:bold;}
.faq_div dl dt .title{overflow: visible;font-size: 14px;white-space: normal;display: block;width: 100%;color: #222;text-overflow: ellipsis;}
.faq_div dl + dl>dt {border-top: 1px solid #d9d9d9;}
.faq_div dl dt small{color: #888888;margin-top: 10px;display: block;}
.faq_div dl dd .cont {margin-left: 20px;padding: 0 10px 12px 10px;background: #fff;}
.faq_div dl dd .cont .text {word-break: break-all;word-wrap: break-word;font-size: 13px; line-height:1.3;}
.faq_div dd{display:none;}
.faq_div dd.open{display:block;} 


/* 1:1 문의 */
.inquiry_wrap .section{overflow:hidden; padding:20px 12px;}
.inquiry_wrap .select_wrap{margin-bottom:10px;}

.btn_h54_bl{display: block;width: 100%;height: 54px;background: #333333;border: 1px solid #333333;color: #fff;font-size: 15px;line-height: 54px;text-align: center;font-weight: bold;border-radius: 3px;}
.btn_h40_bl{display: block;width: 100%;height: 40px;background: #333333;border: 1px solid #333333;color: #fff;font-size: 15px;line-height: 40px;text-align: center;font-weight: bold;border-radius: 3px;}
.inquiry_wrap .form_btns .btn_h50_pp{border-radius: 3px;}


.inquiry_wrap .input_wrap{margin-top:20px;}
.inquiry_wrap .textarea{margin:10px 0;}
.inquiry_wrap .text_notice:before{top:0;}
.inquiry_wrap .chk_wrap{margin-top:10px;}

.inquiry_wrap .attached{position:relative; overflow:hidden; width:100%;}
.inquiry_wrap .attached p{display:block; width:100%; padding-right:15px; font-size: 13px;}
.inquiry_wrap .attached .ui_close{position:absolute; top:3px; right:0; width:11px; padding-top: 11px; background-position:-22px -65px;}

.inquiry_wrap .textarea>textarea{height: 240px;color:#222; font-size: 15px; overflow: auto; font-family: 'Roboto', "Apple SD Gothic Neo", "Droid Sans", "Hevetica";}
.inquiry_wrap .textarea>textarea::-webkit-input-placeholder {color:#888; font-size: 15px; line-height: 20px;}
.ui_input_images .attach{width:100%; margin:10px 0;}
.ui_input_images .attach:after{content:''; display:block; clear:both;}
.ui_input_images ul.attach>*{float:left; position:relative; width:calc((100% - 40px)/5)}
.ui_input_images .attach>*+*{margin-left:10px;}
.ui_input_images .attach>*+*+*+*+*+*{margin-top:10px;}
.ui_input_images .attach>*:nth-child(5n+1){margin-left:0;}
.ui_input_images .attach .btn_del{display:block;position:absolute; top:3px; right:3px; width:15px; height:15px; padding:0; margin-top: 0; background:#666; border-radius:50%;}
.ui_input_images .attach .btn_del:before,
.ui_input_images .attach .btn_del:after{content:''; position:absolute; top:46%; left:3px; width:10px; height:1px; background:#fff;}
.ui_input_images .attach .btn_del:before{transform:rotate(45deg);}
.ui_input_images .attach .btn_del:after{transform:rotate(135deg);}

/* 신고하기 */
/* .report_form .report_title{position:relative; padding:0 0 15px; font-size: 13px;}
.report_form .report_title>dl>*{display:inline;}
.report_form .report_title>dl + dl{margin-top: 12px;}
.report_form .check_list{position:relative; padding:7px 0 15px; margin-bottom: 20px;}
.report_form .report_title:after,
.report_form .check_list:after{content:''; position:absolute; bottom:0; left:-16px; right:-16px; height: 1px; background: #dbdbdb;}
.report_form .check_list>li + li{margin-top: 15px;}
.report_form .check_wrap>input[type="radio"]+label{min-height:30px; line-height: 30px; font-size: 14px;}
.report_form .check_wrap>input[type="radio"]+label:before{width: 30px; height: 30px; background: #eaeaea; -webkit-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1);}
.report_form .check_wrap>input[type="radio"]+label:after{top:8px; left:8px; width: 14px; height: 14px; border-radius: 50%; background:#eaeaea;}
.report_form .check_wrap>input[type="radio"]:checked+label:after{background:#782fff;}
.report_form .textarea{height: 175px; margin-top: 14px; font-size: 13px;}
.report_form .form_btns>*{border-radius: 5px;} */

.ap_terms .h_title{text-align: center;}
.ap_terms .h_title + .dl_cont{margin-top: 15px;}
.ap_terms .dl_cont>dt{padding-bottom: 15px;}
.ap_terms .dl_cont + .dl_cont{margin-top: 30px;}

/*주문선택*/
.ly_inquiry .layer{padding:20px;  overflow:hidden; overflow-y:auto;-webkit-overflow-scrolling:touch; max-height:380px;}
.ly_inquiry .layer_cont{padding:0;}
.ly_inquiry .layer_title {height: 35px;font-size: 15px;line-height: 20px;font-weight: bold;text-align: center;border-bottom: 1px solid #ccc; padding:0;}
.ly_inquiry .text_center{text-align:center; font-size:13px; padding:20px 0;}
.ly_inquiry .page_btns{margin-top:30px; text-align:center;}
.btn_md_neutral:disabled{color:#fff; background-color:#d9d9d9; border-color:#d9d9d9;}
.btn_md_neutral{overflow:hidden; display:block; width:100%;vertical-align: middle; text-align: center; font-weight:500;font-size:15px; height:40px;color:#fff; background:#333;}

.ly_inquiry .page_btns{margin-top:15px; text-align:center;}
.ly_inquiry .btn_lg_more.w100p{display: block; height:50px;margin: 0;padding: 10px;width: 100%;text-align: center;font-size: 12px;color: #333333;background:#ebebeb; margin-top:-1px;}
.ly_inquiry .btn_lg_more.w100p em{color:#782fff; font-weight:bold;}
.ly_inquiry .layer_close {position: absolute;top: -25px;right: -2px;z-index: 2;width: 20px;height: 20px;border-radius: 50%; background:none;}
.ly_inquiry .ico_close_w {display: inline-block;min-height: inherit !important;padding: 0 !important;vertical-align: middle;background: url(/mo/ko/images/member/ico_member.png) no-repeat;background-size: 100px;width: 20px;height: 20px;background-position: -25px -55px;}