@charset "UTF-8";

/* 고객센터 overview */

.cs_overview .cs_info + .cs_info{margin-top: 8px;}
.cs_overview .cs_info>*{width:calc(50% - 4px); border:1px solid #b5b5b5; border-radius:5px;}
.cs_overview .cs_info>a{display:block; padding: 17px 0; background: #fff; text-align: center;}
.cs_overview .cs_info>dl{padding: 10px 15px; font-size: 13px; line-height: 1.3; background: #fff;}
.cs_overview .cs_info>dl>dt{padding-bottom: 10px; color:#888;}
.cs_overview .cs_info>dl .tel{display:block; font-size: 18px; line-height: 18px; font-weight: bold;}
.cs_overview .cs_info>dl dl{margin-top: 10px; font-size: 11px; }
.cs_overview .cs_info>dl .list_bullet_dash{line-height: 1.2;}
.cs_overview .cs_info>dl .list_bullet_dash>li{margin-top: 3px;}
.cs_overview .cs_info>dl small{font-size: 11px !important;}
.cs_overview .cs_info a>span{display:block;}
.cs_overview .cs_info [class*="ico"]{width:55px; height:55px; background:url(/mo/ko/images/cs/ico_cs.png) no-repeat; background-size: 55px;}
.cs_overview .cs_info .ico_chat{background-position: 0 -55px;}
.cs_overview .ui_tab .faq,
.cs_overview .ui_tab .board_list{border-top:1px solid #d9d9d9; border-bottom:0;}
.ap_cs .sort_btn_set{display:block; width:auto; height:auto; margin: -4px;}
.ap_cs .sort_btn_set .check_wrap{display:block; margin: 5px;}
.ap_cs .sort_btn_set .check_wrap>label{display:block; height:40px; padding: 0; font-size: 11px; border:1px solid #b5b5b5; background: #fff; text-align: center; white-space: nowrap; border-radius:5px;}
.ap_cs .sort_btn_set .check_wrap>label:before{position:static; display: inline-block; width: 0;height: 100%;vertical-align: middle;}
.ap_cs .sort_btn_set .check_wrap>label:after{display:none;}
.ap_cs .sort_btn_set .check_wrap>input:checked + label{background: #b5b5b5; color:#fff; border-color: #b5b5b5;}
.ap_cs .section.transparent + .section.transparent{border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9}

/* 1:1 문의 */
.inquiry .attached{position:relative; overflow:hidden; width:100%;}
.inquiry .attached p{display:block; width:100%; padding-right:15px; font-size: 13px;}
.inquiry .attached .ui_close{position:absolute; top:3px; right:0; width:11px; padding-top: 11px; background-position:-22px -65px;}
.inquiry .textarea>textarea{height: 240px;}
.ui_input_images .attach{width:100%; margin:10px 0;}
.ui_input_images .attach:after{content:''; display:block; clear:both;}
.ui_input_images ul.attach>*{float:left; position:relative; width:calc((100% - 40px)/5)}
.ui_input_images .attach>*+*{margin-left:10px;}
.ui_input_images .attach>*+*+*+*+*+*{margin-top:10px;}
.ui_input_images .attach>*:nth-child(5n+1){margin-left:0;}
.ui_input_images .attach .btn_del{display:block;position:absolute; top:3px; right:3px; width:15px; height:15px; padding:0; margin-top: 0; background:#666; border-radius:50%;}
.ui_input_images .attach .btn_del:before,
.ui_input_images .attach .btn_del:after{content:''; position:absolute; top:46%; left:3px; width:10px; height:1px; background:#fff;}
.ui_input_images .attach .btn_del:before{transform:rotate(45deg);}
.ui_input_images .attach .btn_del:after{transform:rotate(135deg);}

/* 신고하기 */
.report_form .report_title{position:relative; padding:0 0 15px; font-size: 13px;}
.report_form .report_title>dl>*{display:inline;}
.report_form .report_title>dl + dl{margin-top: 12px;}
.report_form .check_list{position:relative; padding:7px 0 15px; margin-bottom: 20px;}
.report_form .report_title:after,
.report_form .check_list:after{content:''; position:absolute; bottom:0; left:-16px; right:-16px; height: 1px; background: #dbdbdb;}
.report_form .check_list>li + li{margin-top: 15px;}
.report_form .check_wrap>input[type="radio"]+label{min-height:30px; line-height: 30px; font-size: 14px;}
.report_form .check_wrap>input[type="radio"]+label:before{width: 30px; height: 30px; background: #eaeaea; -webkit-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1);}
.report_form .check_wrap>input[type="radio"]+label:after{top:8px; left:8px; width: 14px; height: 14px; border-radius: 50%; background:#eaeaea;}
.report_form .check_wrap>input[type="radio"]:checked+label:after{background:#782fff;}
.report_form .textarea{height: 175px; margin-top: 14px; font-size: 13px;}
.report_form .form_btns>*{border-radius: 5px;}

.ap_terms .h_title{text-align: center; letter-spacing:-1px;}
.ap_terms .h_title + .dl_cont{margin-top: 15px;}
.ap_terms .dl_cont>dt{padding-bottom: 15px;}
.ap_terms .dl_cont + .dl_cont{margin-top: 30px;}