@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url(common.css);
@import url(ui.css);
@import url(board.css);
@import url(layout.css);
@import url(layer.css);
@import url(member.css); /* 회원관련 */
@import url(cs.css); /* 고객센터 관련 */
@import url(mypage.css); /* 마이페이지 관련 */
@import url(search.css); /* 검색 관련 */
@import url(product.css); /* 상품 상세 */
@import url(product_review.css); /* 상세 리뷰 */
@import url(order.css); /* 장바구니,주문결제 */
@import url(event.css); /* 이벤트 */
@import url(benefit.css); /* 쿠폰/혜택 */
@import url(display.css); /* 전시관련 */
@import url(display_magazine.css); /* 전시_매거진 */
/* 임시 css 파일 작업 완료 후 해당 css 파일로 내용 복사하고 파일은 삭제 */



/* 모바일 가이드용 실 적용시 삭제 */
::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-thumb { background: #a9a9a9; opacity:0;}

.product_slide::-webkit-scrollbar,
.scrollable_x::-webkit-scrollbar{height:0;}