@charset "UTF-8"; 

/* 브랜드 overview */
.h_tit01 {height:50px; padding:16px; background:#fff; color:#000; font-size:19px; line-height:19px}
.h_tit03 {height:48px; padding:19px 14px 11px 14px; font-size:16px; line-height:16px}

.brand_overview .h_tit01 {font-weight:normal}
/* 관심브랜드 로그인 전 */
.login_before01 {padding:18px 0; border-top:1px solid #ececec; text-align:center}
.login_before_txt {color:#000; font-size:16px}
.btn_log_wrap {margin:9px 16px 0 16px}
.btn_h50_login {display: block; width: 100%; height: 50px; padding:16px 0 14px 0; background: #ebe4ff; color: #000; font-size: 15px; line-height:16px; text-align: center; font-weight: bold; border-radius:3px}

/* 관심브랜드 > 로그인 후 관심브랜드 O*/
.login_after_yes {border-top:1px solid #ececce}
.login_after_yes ul {overflow-x:auto; overflow-y:hidden;  white-space:nowrap; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
.login_after_yes ul::-webkit-scrollbar {width: 0; height: 0; background-color: transparent}
.login_after_yes ul li {display:inline-block; width:78px; padding:14px 0 16px 0;}
.login_after_yes ul li a {display:block;  text-align:center}
.login_after_yes ul li a img {width:50px; height:50px}
.login_after_yes ul li a .b_name {display:block; overflow:hidden; margin-top:7px; max-width:100%; color:#666; font-size:13px; white-space:nowrap; text-overflow:ellipsis;}

/* 관심브랜드 > 로그인 후 관심브랜드 X */
.login_after_no {padding:33px 0; border-top:1px solid #ececec; text-align:center}
.login_after_txt01 {color:#000; font-size:17px}
.login_after_txt01 span {color:#7052ce}
.login_after_txt02 {margin-top:10px; color:#999; font-size:17px}

/* 리미티드 에디션 : 상품 슬라이드 */
.add_new_type.center_slide {background-size:cover}
.center_slide .display_prd_slide .slide_title {display:table; width:100%; height:87px; padding:0;}
.center_slide .display_prd_slide .slide_title a {padding:0;}
.center_slide .display_prd_slide .slide_title a.prd_h_tit {display:table-cell; padding:0 18px; vertical-align:middle}
.prd_h_tit strong {display:block; color:#000; font-size:30px; line-height:30px; font-weight:normal}
.prd_h_tit .sub_txt01 {display:block; margin-top:7px; font-size:15px}

.prd_swipe_one.product_list_new {white-space:nowrap}
.prd_swipe_one.product_list_new li {display:inline-block; margin-top:0}
.prd_swipe_one .product_one_view > a .product_visual_new {width:140px; height:140px;}
.prd_swipe_one .product_one_view > a .product_info_new {height:auto; padding:10px 12px 10px 12px}
.prd_swipe_one .product_one_view > a .product_info_new .prd_brand {display:block; margin-bottom:4px; color:#000; font-size:15px}
.prd_swipe_one .product_one_view > a .product_info_new .price_wrap {margin-top:4px}

/* 브랜드 공통 카드 */
.brand_info{position:relative;}
.brand_info>dt{padding: 10px 16px; font-size: 16px;}
.brand_info>dt>a{display:block;}
.brand_info>dt>a>i{margin: -2px 0 0 5px;}
.brand_info .brand{width:37px; height:37px; margin-right: 10px;}
.brand_info .tags{height: 30px; padding:0 17px; margin-top: 5px; white-space: nowrap;}
.brand_info .tags>*{display:inline-block; padding: 0 8px;}
.brand_info * + .tags{margin-top: 15px;}
.brand_info .btn_toggle{position:absolute; top:20px; right:16px;}
.brand_info .product_slide{padding-left: 16px;}

.brand_new01 .brand_info > dt {padding:0}
.brand_new01 .brand_info > dt > a {padding:10px 16px}
.brand_new01 .brand_info .tags {margin-top:0; height:45px}
.brand_new01 .brand_info .tags a {display:inline-block; color:#000; height:45px;  padding:16px 0; margin-right:27px; font-size:14px; line-height:15px; letter-spacing:-0.07em}
.brand_new01 .brand_info .tags a:last-child {margin-right:0}

.display_brand_list01 {overflow:hidden}
.display_brand_list01 ul {overflow-x:auto; white-space:nowrap; -webkit-overflow-scrolling: touch; overflow-scrolling: touch}
.display_brand_list01 ul::-webkit-scrollbar {width: 0; height: 0; background-color: transparent}
.display_brand_list01 ul li {display:inline-block}
.display_brand_list01 ul li a {display:block; width:190px; height:190px; margin-right:10px; background:#f6f6f6;  text-align:center}
.display_brand_list01 ul li:first-child a {margin-left:15px}
.display_brand_list01 ul li a img {width:190px}

/* 브랜드 상세 */
.brand_detail .brand_visual{position:relative; color:#fff;}
.brand_visual .brand_logo{position:absolute; top:11.5vw; left:27px; width: 36vw;}
.brand_visual .tags{position:absolute; top:33vw; left:24px; z-index: 1;}
.brand_visual .tags>*{display:inline-block; padding: 6px; margin-top:3px; background:rgba(255,255,255,0.15);}
.brand_visual .brand_event{position: absolute; bottom:0; left:0; width: 100%; padding: 7vw 27px; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);}
.brand_visual .brand_event>dt{width: 60px; height: 22px; padding:4px 0 8px 0; text-align: center; border:1px solid #a1988e; border-radius: 15px; font-size: 14px}
.brand_visual .brand_event a{overflow:hidden; position:relative; display:block; margin-top:10px; color:#fff; font-size: 17px; line-height:17px; white-space: nowrap; text-overflow: ellipsis;}
.brand_visual .brand_event .new{color:#ffea00; font-size: 11px; margin-left: 5px; font-weight: bold;}
.brand_visual .brand_event .date{display:block; margin-top: 10px; font-size: 13px}
.brand_visual .tags> a {color:#fff}

.brand_visual .like_area {position: absolute; top:17px; right:13px; text-align:center}
.brand_visual .like_num {display:block; margin-top:5px; color:#fff; font-size:13px; font-weight:bold}

.brand_visual .brand_event .txt_new01 {overflow:hidden}
.brand_visual .brand_event .txt_new01 a {float:left; max-width:90%}
.brand_visual .brand_event .txt_new01 .new  {display:block; float:left; margin-top:12px}

.brand_category .login_after_yes ul li  {padding:10px 0 15px 0}
.brand_category .login_after_yes ul li a .img_wrap {display:inline-block; width:50px; height:50px}
.brand_category .login_after_yes ul li a img {width:auto;}
.brand_category .login_after_yes ul li a .b_name {color:#222; font-size:15px}

.shopping_seggest .h_title {font-weight:normal}
.shopping_seggest .swipe_wrap {margin-top:20px}

/* 브랜드 스토리 */
.brand_story {position:relative}
.brand_story a {display:block}
.brand_txt01 {overflow:hidden; position:absolute; bottom:29.5%;  max-width:100%; padding:0 5.9%; color:#fff; font-size:18px; line-height:18px; white-space: nowrap; text-overflow: ellipsis; text-align:center}

/* 투데이 핫딜 */

.product .d_day,
.hot_deal .product .count{position:absolute; top:10px; left:10px; z-index: 1; height: 18px; padding:0 15px; border:1px solid #000; font-size: 10px; text-align: center; border-radius:9px; line-height: 18px; background: #fff;}
.hotdeal_timer{padding: 19px 20px; background: #fff;}
.hotdeal_timer i{margin:0 5px 0 0;}
.hotdeal_timer.ui_remain_timer span {font-size:20px; font-weight:bold; vertical-align:middle}

.hot_deal .product_one_view > a .product_info_new {height:auto}
.badge_hot_deal  {display:inline-block; position:absolute; top:20px; left:20px; height:18px; padding:4px 14px; background:#fff; color:#222; font-size:9px; border:1px solid #222; border-radius:15px; line-height:9px; z-index:15}
.d_day_com {display:inline-block; position:absolute; top:11px; left:11px; height:18px; padding:0 14px; background:#fff; color:#222; border:1px solid #222; border-radius:15px; font-size:12px; line-height:16px; z-index:15}
.badge_comming {display:inline-block; height:18px; padding:3px 4px 4px 4px; background:#ccc; color:#fff; font-size:10px}

.tit_f_20 {padding:20px 16px 11px 16px; color:#000; font-size:20px;}

/* 리뷰 overview */
.ap_review{}
.ap_review .mgt0{margin-top:0 !important;}
.ap_review .h_title{color:#222;}
.review_visual{position:relative;}
.review_visual>div:not(.ui_tooltip){position:absolute; top:0; left:0; bottom:0; width: 100%; padding-bottom: 44px; background:rgba(0, 0, 0, 0.4);}
.review_visual .ui_table{height:100%; padding-top: 17px; text-align: center; color:#fff;}
.review_visual .ui_table a{display:block; margin-bottom: 10px; font-size: 15px; color:#fff;}
.review_visual .ui_table .text{font-size:14px; line-height:20px;}
.review_visual .ui_table .bg{background:#782fff;}
.review_visual .ui_tooltip{position:absolute; top:auto; left:0; bottom:0; width: 100%;}
.review_visual .ui_tooltip>button{position:relative; width: 100%; height: 44px; padding:0 50px 0 16px; text-align:left; border-top:1px solid rgba(255,255,255,0.2); font-size: 12px; color:#fff; letter-spacing: 0;}
.review_visual .ui_table b,
.review_visual .ui_tooltip>button b{color:#fff;}
.review_visual .ui_tooltip>button span{position:absolute; top:50%; right:16px; width: 50px; margin-top: -12px; border:1px solid #ccc; border-radius: 11px; line-height: 20px; font-size: 11px; text-align: center;}
.review_visual .layer_tooltip{margin-top: -5px;}
.review_visual .layer_tooltip dd{padding:14px 35px 14px 0; }
.review_visual .layer_tooltip dd .text{font-size:13px; line-height:17px; color:#484848;}
.review_visual .layer_tooltip dd .point01{color:#782fff;}
.review_slide{margin-top: 16px !important;padding-bottom: 25px;}
.review_slide .three_half>li{width: 100px; margin-right: 10px;}
.review_slide a{display:block;}
.review_slide .rank{display:block; padding-left: 3px; margin-bottom:2px;}
.review_slide .review_product{overflow:hidden; position: relative; width: 100px; height: 100px; border-radius: 15px;}
.review_slide .review_product:before{content:''; position:absolute; top:50%; bottom:0; left:0; right:0; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);}
.review_slide .product_info{position: absolute; left:10px; bottom:8px; right:10px; color:#fff; font-weight: 500; font-size: 13px;}
.review_slide .product_info>*{overflow:hidden; display:block; line-height: 1.3; white-space: nowrap; text-overflow: ellipsis}
.review_slide .reviewer{overflow:hidden; display:block; margin-top: 10px; font-size: 13px; color:#484848; white-space: nowrap; text-overflow:ellipsis;}
.realtime_wrap {padding:0 16px 16px 16px;}
.realtime_wrap .realtime_review .h_title{padding-left:0;}
.realtime_wrap .realtime_review .review_list .review_info .text{margin: 10px 0;font-size: 14px; overflow: hidden; display: -webkit-box;white-space: normal;word-break: break-all;-webkit-line-clamp: 5;-webkit-box-orient: vertical; line-height: 1.3;}
.realtime_wrap .realtime_review .review_list .beauty_tester .info {position: absolute;bottom: 0;left: 0;right: 0;padding: 20px 15px; white-space: normal;z-index: 2;}
.realtime_wrap .realtime_review .review_list .beauty_tester b.title{overflow: hidden;display: -webkit-box;max-height: 35px;white-space: normal;word-break: break-all;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.3; margin-top:5px;font-size:15px;}
.realtime_wrap .realtime_review .review_list .product_name_wrap { margin-left: 5px;display: table-cell;vertical-align: middle;font-size: 11px;color: #484848;}
.realtime_wrap .realtime_review .review_list .product_name_wrap li {margin-right: 3px;overflow: hidden;display: -webkit-box;white-space: normal;word-break: break-all;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height: 1.2;}
.realtime_wrap .realtime_review .review_list .product_name_wrap li:first-child {margin-top: 0;}
.realtime_wrap .realtime_review .review_list .product_info {padding: 6px 4px;width: 100%;table-layout: fixed;}
.realtime_wrap .realtime_review .review_list .product_info .img_product {display: table-cell;width: 35px;height: 35px;vertical-align: middle;}
.realtime_wrap .realtime_review .review_list .product_info .img_product img{display:block;}

.realtime_review .visual{position:relative; margin-top: 18px;}
.realtime_review .visual>dl{position:absolute; top:50%; left:0; width: 100%; text-align: center; transform: translateY(-50%); color: #fff; font-weight: 100;}
.realtime_review .visual .num{font-size: 22px; margin-top: 6px;}
.realtime_review .review_list{margin-left: -10px;}
.realtime_review .review_list:after{content:''; display: block; clear: both;}
.realtime_review .review_list>li{float:left; width: calc(50% - 10px); margin:10px 0 0 10px; }
.realtime_review .review_list .review_info{border:1px solid #f2f2f2; padding:12px 12px 18px; font-size: 12px;}
.realtime_review .review_list img + .review_info{border-top:0;}
.realtime_review .review_list .review_info .text{margin: 5px 0;color:#666; letter-spacing: ;}
.realtime_review .review_list .review_info .reviewer{color:#999;}
.realtime_review .review_list .product_info{border:1px solid #f2f2f2; border-top:0; padding:6px 8px;}
.realtime_review .review_list .product_info>img{width: 35px; height: 35px;}
.realtime_review .review_list .product_info>span{display:inline-block; width:calc(100% - 40px); vertical-align: middle; font-size: 11px; color:#484848;}
.realtime_review .review_list .beauty_tester{position:relative;}
.realtime_review .review_list .beauty_tester:before{content:''; position:absolute; top:50%; bottom:0; left:0; right:0; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);}
.realtime_review .review_list .beauty_tester .flag{position:absolute; top:0; left:0; padding: 0 5px; height: 20px; color:#fff; font-size: 12px; line-height: 20px; background:rgba(0, 0, 0, 0.3);}
.realtime_review .review_list .beauty_tester .review_info{position:absolute; bottom:0; left:0; border:0; padding:12px 12px 5px;}
.realtime_review .review_list .beauty_tester .info b{color:#fff;}
/*.realtime_review .review_list .beauty_tester .review_info .text{font-size: 15px;}*/

.realtime_review .review_list .beauty_tester .review_info b{color:#fff;}
.realtime_review .review_list .beauty_tester .review_info .text{font-size: 15px;}

.realtime_review .review_list .rating .count{vertical-align: middle;}

/* 뷰티테스터 리뷰 */
.beauty_tester_review .layer_cont{position:absolute; top:0; left:0; bottom:0; right:0; background:rgba(0,0,0,0.5);}
.beauty_tester_review .slide,
.beauty_tester_review .ix-list-viewport{position: absolute;top:0; left:0; width: 100%; height: 100%;}
.beauty_tester_review .ix-list-items,
.beauty_tester_review .ix-list-item{position:relative; height:100%;}
.beauty_tester_review .ix-list-item{background: #fff;}
.landscape .beauty_tester_review .ix-list-items{overflow:auto;}
.landscape .beauty_tester_review .ix-list-item{height:300%;}
.beauty_tester_review .ix-list-item{padding-bottom: 49px;}
.beauty_tester_review .ix-controller{position: absolute; bottom:0; left:0; width: 100%; height: 49px; padding: 7px 40px 0; color:#666; background: #f2f2f2; transition:.4s}
.beauty_tester_review .slide .paging{display:inline-block; width: auto; padding-top: 10px; font-weight:normal;}
.beauty_tester_review .slide_direction .disabled{background: transparent; opacity:.3;}
.beauty_tester_review .slide_direction>[class^="ix-btn"]{position:absolute; top:14px; width: 20px; height: 20px; background:url(/mo/ko/images/display/btn_slide_navi.png) no-repeat; -webkit-background-size: 40px;background-size: 40px;}
.beauty_tester_review .ix-btn-prev{left:10px;}
.beauty_tester_review .ix-btn-next{left:80px; background-position: -20px 0 !important;}
.beauty_tester_review .ix-controller.white{background:rgba(0,0,0,0.2); color:#fff;}
.beauty_tester_review .ix-controller.white b{color:#fff;}
.beauty_tester_review .white .ix-btn-prev{background-position: 0  -20px !important;}
.beauty_tester_review .white .ix-btn-next{background-position: -20px -20px !important;}
.beauty_tester_review .btn_good{position:absolute; top:13px; right:16px; outline: none;}
.beauty_tester_review .btn_good .ico_thumb{width: 25px; height: 25px; margin-top: -2px; background:url(/mo/ko/images/common/ico_review.png) no-repeat; -webkit-background-size: 25px;background-size: 25px;}
.beauty_tester_review .btn_good.on .ico_thumb{background-position: 0 -25px !important;}
.beauty_tester_review .white .btn_good .ico_thumb{background-position: 0 -50px;}
.beauty_tester_review .type_full{background-size:cover; background-position: 50% 50%; color:#fff;}
.beauty_tester_review .type_full b{color:#fff;}
.beauty_tester_review .type_full>img{position:absolute; top:0; left:0; bottom:0; right:0; opacity:0;}
.type_full .review_info{position:absolute; bottom:49px; left:25px; right:25px; z-index: 2; padding-bottom: 59px; line-height: 1.4;}
.type_full .review_info>* + *{margin-top: 8px;}
.type_full .review_info .review_title{font-size: 22px; letter-spacing: -1px; font-weight: bold;}
.type_full .review_info .product_name{display:inline-block; font-size: 15px; font-weight: 300;}
.type_full .review_info .product_name i{opacity:.3;}
.type_full .review_info .editor_info{font-size: 13px; font-weight: 300;}
.type_full .review_info .editor_info>*{display:inline-block; padding-right: 10px;}
.type_full .review_info .editor_info>* + *:not(.date){position:relative; padding-left: 10px;}
.type_full .review_info .editor_info>* + *:not(.date):before{content:''; position:absolute; top:20%; left:0; bottom:20%; width: 1px; background:rgba(255,255,255,0.5);}
.beauty_tester_review .img{position:relative; overflow:hidden; max-height:100%;}
.beauty_tester_review .img>img{position:absolute; top:50%; left:50%; transform: translate(-50%, -50%)}
.beauty_tester_review .text{overflow:auto; padding:24px 25px; font-size: 16px; letter-spacing: -1px; color:#646464;}
.beauty_tester_review .type_vertical .img{position:absolute; top:0; left:0; right:0; bottom:195px}
.beauty_tester_review .type_vertical .text{position:absolute; bottom:49px; left:0; right:0; height:145px;}
.beauty_tester_review .type_landscape .img{position:absolute; bottom:40%; left:0; right:0; height: 61.335vw; }
.beauty_tester_review .type_landscape .text{position:absolute; top:60%; bottom:49px; left:0; right:0;}
.beauty_tester_review .type_full{padding-bottom: 0;}
.beauty_tester_review .type_full .img{height:100%;}
.beauty_tester_review .type_full .text{position:absolute; bottom:47px; left: 0; right: 0; z-index: 2; color:#fff;}
.beauty_tester_review .type_divide_horizontal{padding-bottom: 0;}
.beauty_tester_review .type_divide_horizontal .img{height:calc(50% - 1px);}
.beauty_tester_review .type_divide_horizontal .img + .img{margin-top: 2px;}
.beauty_tester_review .type_divide_horizontal .text{position:absolute; bottom:47px; left: 0; right: 0; z-index: 1; color:#fff;}
.beauty_tester_review .type_divide_vertical .img{position:absolute; left:0; bottom:40%; width:calc(50% - 1px); height: 77.335vw; margin-top: 27vw;}
.beauty_tester_review .type_divide_vertical .img>img{width: auto; height: 100%;}
.beauty_tester_review .type_divide_vertical .img + .img{left:auto; right:0;}
.beauty_tester_review .type_divide_vertical .text{position:absolute; bottom:49px; left:0; right:0; top:60%}
.beauty_tester_review .popup{position:fixed; top:50%; left:50%; transform: translate(-50%, -50%);}
.beauty_tester_review .btn_edit{position:absolute; top:8px; right:50px; z-index: 3; display:inline-block !important; height: 33px; padding: 2px 10px 0; color:#fff; font-size: 15px; border:1px solid #fff; border-radius: 5px;}
.type_vertical .img:before,
.type_landscape .img:before,
.type_divide_vertical .img:before{content:''; position:absolute; top:0; left:0; right:0; bottom:0; z-index: 1; background:rgba(0, 0, 0, 0.05);}

.type_divide_horizontal .img:before,
.type_full:before{content:''; position:absolute; top:0; left:0; right:0; bottom:0; z-index: 1; background:rgba(0, 0, 0, 0.2);}
.type_divide_horizontal .img:after,
.type_full:after{content:''; position:absolute; top:50%; left:0; right:0; bottom:0; z-index: 1; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);}

/* 쇼핑 팁 */
.shopping_tip .tab_cont>div{position:relative;}
.shopping_tip .btn{position: absolute;	bottom: 5.3%; left: 27%; width: 46%; height: 7%;}
.shopping_tip .banner_list>li + li{border-top:1px solid #d1d1d1;}

/* 이슈 */
.display_issue a {position:relative; display:block}
.display_issue a .lazy_load_wrap {height:124.26vw}
.display_issue .banner_info {position:absolute; bottom:16.5%;  width:100%; text-align:center; z-index:10}
.display_issue .banner_info .copy {position:relative; color:#fff; font-size:30px; padding-bottom:15px; line-height:40px}
.display_issue .banner_info .copy:after {display:block; content:""; position:absolute; bottom:0; left:50%; margin-left:-10px; width:20px; height:1px; background:#8b8c91}
.display_issue .banner_info .text{margin-top:20px; color:#fff; font-size:16px; line-height:20px}
.display_issue .banner_info.type_b {left:0; bottom:8.4%; text-align:left}
.display_issue .banner_info.type_b .copy {font-size:36px; text-decoration:underline}
.display_issue .banner_info.type_b .copy:after {display:none}
.display_issue .banner_info.type_b .text {margin-top:0}

.display_issue .copy span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap; letter-spacing:-0.07em}
.display_issue .text span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap; letter-spacing:-0.05em}

/* 동영상 썸네일 */
.y_video_wrap .video_wrap iframe {display:none}
.y_video_wrap .video_thumb_area a {position:relative; display:block}
.y_video_wrap .video_thumb_area  .btn_video_thumb {position:absolute; right:17px; bottom:17px; width:45px; height:45px}

/* 구매금액대별 사은품 */
.freebied_product {background:#fff}
.freebies_product .product_visual {width:190px; height:190px; margin:0 auto}
.freebies_area {padding:14px 16px 8px 16px}
.freebies_area .prd_name {overflow:hidden; color:#222; font-size:16px; line-height:16px; text-overflow:ellipsis; white-space:nowrap}
.freebies_area .option_name {margin-top:13px; color:#656565; font-size:12px}
.freebies_area .option_name > li  {margin-top:4px}
.freebies_area .option_name li ul {margin-top:2px}
.freebies_area .option_name li ul li {line-height:18px}

/* 쿠션존 */
.cushion .tit_f_20 .update {margin-left:13px; color:#888; font-size:16px; font-weight:normal}
.cushion .swipe_wrap {margin-top:9px; background:#f2f2f2}
.cushion .product_list_new.wide_swipe {overflow-y:hidden}

/* 쿠폰/혜택  */
.coup_log_before  {padding:20px 0; border-bottom:1px solid #d1d1d6; text-align:center}
.coup_log_before .text {color:#000; font-size:12px}
.coup_log_before .text em {color:#782fff; font-style:normal}
.coup_log_before .btn_log_before01 {padding:10px 26% 0 26%}
.coup_log_before .btn_log_before01 .btn_h50_pp {line-height:15px}

.coup_list01 {background:none}
.coup_list01 .tit_f_20 {padding:20px 16px}

.benefit_coup_area {overflow:hidden; width:330px; margin:0 auto; padding-bottom:18px}
.coup_detail {position:relative; float:left; width:223px; height:131px;  padding:17px 0 0 37px; background:url("/mo/ko/images/common/bg_coup_benefit01.png") no-repeat 0 0; background-size:223px 131px}
.coup_detail .coup_name {overflow:hidden; padding-right:20px; color:#000; font-size:15px; text-overflow:ellipsis; white-space:nowrap}
.coup_detail .dis_price {color:#000; font-size:50px; line-height:67px}
.coup_detail .dis_price em {font-size:15px}
.coup_detail .coup_benefit_txt01 {position:absolute; bottom:18px; color:#777; font-size:13px}
.coup_down01 {float:left}
.coup_down01 a {display:block; width:96px; height:131px; margin-left:10px; background:url("/mo/ko/images/common/btn_coup_benefit01.png") no-repeat 0 0; background-size:96px 131px; text-indent:-9999px}

.plus_member .coup_detail {background:url("/mo/ko/images/common/bg_coup_plust01.png") no-repeat 0 0; background-size:223px 131px}
.plus_member .coup_detail .coup_name {margin-left:48px; color:#fff; font-size:14px}
.plus_member .coup_detail .coup_benefit_txt01 {color:#a394df}
.plus_member .coup_detail .dis_price {color:#fff}

.benefit_coup_area.tool_tip {position:relative; padding-bottom:25px}
.benefit_coup_area.tool_tip .coup_use_info {position:absolute; bottom:0; right:0; color:#979797; font-size:13px}
.benefit_coup_area.tool_tip .coup_use_info a {display:inline-block; width:14px; height:14px}
.benefit_coup_area.tool_tip .coup_use_info a img {vertical-align:top}

.grade_benefit {position:relative}
.grade_benefit .join_plus {position:absolute; left:33.1%; bottom:13.2%; width:67.1%; height:11.7%}
.grade_benefit .view_benefit {position:absolute; right:5.2%; bottom:4.8%; width:33.2%; height:5.7%}

.vip_lounge .title_area {padding:30px 0; text-align:center}
.vip_lounge .title_area .v_title {color:#000; font-size:20px; line-height:20px; font-weight:normal}
.vip_lounge .title_area .text {margin-top:10px; color:#000; font-size:14px}
.vip_lounge .slide {position:relative}
.vip_lounge .slide .ix-controller {position:absolute; left:0; bottom:0; width:100%}
.vip_lounge .slide .ix-thumbs {padding:23px 0}
.vip_lounge .slide .ix-thumbs .ix-thumb.active .ix-btn {background:#fff}

.vip_lounge .btn_vip_apply {background:#fff; padding:20px 0; text-align:center}
.vip_lounge .btn_vip_apply a {display:inline-block; width:165px; height:45px}

.notice_area01 {padding:0 20px 10px 20px}
.coupon_benefit .notice_area01 {background:#fff}
.notice_area01 .noti_tit01 {color:#000; font-size:16px; font-weight:bold; text-align:center}
.notice_area01 .noti_tit01 .ico_notice {width:15px; height:15px}
.bullet_list01 {margin-top:20px}
.bullet_list01 li {padding-left:6px; margin-bottom:4px; background:url("/mo/ko/images/common/bg_bullet_list01.png") no-repeat 0 5px; background-size:1px; color:#888; font-size:11px; line-height:16px}
.bullet_list01 li span {color:#000}

.bnn_area01 a {display:block; border-bottom:1px solid #d1d1d6}

/* 출석 체크 */
.attendance_benefit {background:#fff}
.attendance_benefit li {border-bottom:1px solid #efefef}
.attendance_benefit li:last-child {border-bottom:0}
.attendance_benefit li a {display:block; padding:25px 30px}
.attendance_benefit li .a_tit {display:block; font-size:13px}
.attendance_benefit li .a_tit em {display:block; margin-bottom:7px; color:#782fff; font-size: 13px;}
.attendance_benefit li .a_tit strong {display:inline-block; margin-right:4px; color:#111; font-size:21px; line-height:21px; vertical-align:middle}
.attendance_benefit .text {overflow:hidden; margin-top:13px; text-overflow:ellipsis; color:#888; font-size:13px; white-space: nowrap}
.attendance_benefit .text span {color:#000}

.attendance_calendar{background: #fff; border-bottom:1px solid #d1d1d6; }
.attendance_calendar .month_select{position:relative; height: 46px; padding: 0 36px; background: #782fff; text-align: center;}
.attendance_calendar .month_select .btn{position:absolute; top:5px; width: 36px; height: 36px;}
.attendance_calendar .month_select .btn:disabled{background:transparent !important;}
.attendance_calendar .month_select .btn:after{content:''; display:inline-block; width: 5px; height: 8px; -webkit-background-size: 5px;background-size: 5px;}
.attendance_calendar .month_select .btn.prev{left:0;}
.attendance_calendar .month_select .btn.prev:after{background-image:url(/mo/ko/images/display/btn_month_prev.png);}
.attendance_calendar .month_select .btn.next{right:0;}
.attendance_calendar .month_select .btn.next:after{background-image:url(/mo/ko/images/display/btn_month_next.png);}
.attendance_calendar .month_select .current_month{color:#fff; font-size: 17px; line-height: 46px;}
.attendance_calendar .attendance_graph{position:relative; height:55px;background:#f2f2f2;padding:0 13px 0 17px;}
.attendance_calendar .attendance_graph .graph{position:relative;top:26px;margin-right:33%;padding:0;}
.attendance_calendar .attendance_graph .graph .bar{width:100%;height:6px;border-radius:3px;box-shadow:inset 0 1px 3px rgba(217,217,217,.8);background-color:#fff;}
.attendance_calendar .attendance_graph .current{position:absolute;top:0;left:0;width:50%;height:6px;border-radius:3px 0 0 3px;background-color:#7052ce;box-shadow:inset 0 1px 3px rgba(95,70,175,1);}
.attendance_calendar .attendance_graph .percent{position:absolute; top:21px; right:13px; font-size:15px; color:#782fff}
.attendance_calendar .attendance_graph .percent .tl{display:inline-block; color:#888; font-size:10px; vertical-align:middle}
.attendance_calendar .attendance_graph .percent em {display:inline-block; font-size:19px}

.attendance_calendar .calendar_area{position:relative;}
.attendance_calendar table{width: 100%; table-layout:fixed}
.attendance_calendar th{height: 34px; background: #f2f2f2; border-bottom:1px solid #e5e7e8; color:#5d5d5d; font-weight: bold; font-size: 11px;}
.attendance_calendar .sun {color:#ed0606}
.attendance_calendar .sat {color:#0a1087}
.attendance_calendar td{height: 62px; padding: 4px; border-bottom:1px solid #e5e7e8; vertical-align: top;}
.attendance_calendar td.today{background: #f2f2f2;}
.attendance_calendar .date{display:inline-block; width: 21px; height: 21px; margin-bottom: 5px; font-size: 12px; color:#555; border-radius: 50%; text-align: center; line-height: 22px;}
.attendance_calendar td.checked .date{background: #782fff; color:#fff}
.attendance_calendar td .brand{border:1px solid #ccc; background: #fff;}
.attendance_calendar td .brand>img{transform:scale(1.2)}
.attendance_calendar .btn_attendance {padding: 21px 0 41px 0; text-align:center}
.attendance_calendar .btn_attendance a {display:inline-block; width:165px; height:45px;}

.today_brand_coupon{padding: 45px 0 35px;}
.today_brand_coupon .tit {color:#4e4c4c; font-size:16px; font-weight:normal; text-align:center}
.today_brand_coupon .tit span {display:block; margin-top:10px; color:#111; font-size:35px; line-height:35px; letter-spacing:-0.05em}
.today_brand_coupon .tit span em {color:#782fff; letter-spacing:-0.05em}
.today_brand_coupon .today_txt {margin-top:20px; text-align:center}
.today_brand_coupon .today_txt a {display:inline-block; padding-right:13px; background:url("/mo/ko/images/common/ico_h8_arrow.png") no-repeat 100% 50%; background-size:5px 8px; color:#4e4c4c; font-size:12px}
.brand_coupon_list {margin-top:33px; padding:0 30px 10px 30px;}
.brand_coupon_list>ul{overflow:hidden; }
.brand_coupon_list li{float:left; margin-right: 4px;}
.brand_coupon_list .btn_brand_coupon{position:relative; display:block;}
.brand_coupon_list .btn_brand_coupon>img{position:relative; z-index: 1;}
.brand_coupon_list .brand_coupon>img{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
.brand_coupon_list .brand_coupon{
	position:absolute;left:0;top:0; width: 100%; height: 100%; z-index:-1; margin: 0;  border-radius: 5px;
	-webkit-box-shadow: 2px 0 5px rgba(0,0,0,0.2);
	box-shadow: 2px 0 5px rgba(0,0,0,0.2);
-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition: 1.5s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1.5s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1.5s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1.5s;
	-ms-transform-style: preserve-3d;
	transition:1.5s;
	transform-style:preserve-3d}
.brand_coupon_list .brand_coupon{ -webkit-transform: rotateY(0);
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-o-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
	transform: rotateY(0)}
.brand_coupon_list .on .brand_coupon{ z-index:1; -webkit-transform: rotateY(360deg); border:1px solid #f2f2f2;
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	transform: rotateY(360deg)}
.brand_coupon_list .btn_brand_coupon>img{
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition: 1.5s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1.5s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1.5s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1.5s;
	-ms-transform-style: preserve-3d;
	transition:1.5s;
	transform-style:preserve-3d}
.brand_coupon_list .btn_brand_coupon>img{ -webkit-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	transform: rotateY(0deg)}
.brand_coupon_list .on .btn_brand_coupon>img{ -webkit-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg)}
.brand_coupon{padding: 15px 0 10px; text-align: center;}
.brand_coupon>span{display:inline-block; width: 225px; height: 35px; line-height: 35px; color: #4e4c4c; background-color: #e9edf0; border: 1px solid #e1e1e1; border-radius:18px; font-size: 13px;}

.attendance_notice {padding-top:25px; background:#fff}

/* 고객 등급별 혜택 */
.custom_level_area {margin:20px; padding-left:44px; height:40px;}
.custom_level_area.welcome {background:url("/mo/ko/images/my/ico_grade.png") no-repeat 0 0; background-size:40px 200px}
.custom_level_area.vip {background:url("/mo/ko/images/my/ico_grade.png") no-repeat 0 -40px; background-size:40px 200px}
.custom_level_area.vip_plus {background:url("/mo/ko/images/my/ico_grade.png") no-repeat 0 -120px; background-size:40px 200px}
.custom_level_area.vvip {background:url("/mo/ko/images/my/ico_grade.png") no-repeat 0 -80px; background-size:40px 200px}
.custom_level_area.vvip_plus {background:url("/mo/ko/images/my/ico_grade.png") no-repeat 0 -160px; background-size:40px 200px}
.custom_level_area span {display:block; margin-left:3px; padding:12px 0; color:#000; font-size:12px}
.custom_level_area.welcome span strong {color:#34b4b9; font-weight:normal}
.custom_level_area.vip span strong {color:#fd653c; font-weight:normal}
.custom_level_area.vvip span strong {color:#b73aff; font-weight:normal}
.custom_level_area.vip_plus span strong {color:#ffc000; font-weight:normal}
.custom_level_area.vvip_plus span strong {color:#ffc000; font-weight:normal}
.benefit_img_area {border-top:1px solid #e6e6e6}
.benefit_img_area a {display:block}

/* 쿠폰/혜택 로그인 후 */
.coup_log_after {padding:15px 0 10px 0; border-bottom:1px solid #d1d1d6; text-align:center}
.coup_log_after .custom_level_area {display:inline-block; margin:0}
.coup_log_after .custom_level_area span {font-size:16px}

.coup_down_num {padding:25px 0; text-align:center}
.coup_down_num p {color:#000; font-size:19px; line-height:19px}
.coup_down_num p span {color:#782fff}
.coup_down_num a {display:inline-block; margin-top:10px; padding-right:10px; color:#782fff; background:url("/mo/ko/images/common/ico_h9_pp.png") no-repeat 100% 2px; background-size:5px 9px}

.down_ok .coup_detail {padding-top:15px}
.down_ok .coup_detail .dis_price {font-weight:normal; line-height:60px}
.down_ok .coup_detail .coup_benefit_txt01 {bottom:12px}
.down_ok .coup_detail .coup_benefit_txt01 span {display:block; margin-top:3px}
.down_ok .coup_detail .coup_benefit_txt01 span em {color:#782fff}

.rounge_benefit01 {padding:20px 0; background:#fff; border-bottom:1px solid #d1d1d6; text-align:center}
.rounge_benefit01 .tit {color:#000; font-size:16px}
.rounge_benefit01 .txt {margin-top:9px; color:#999; font-size:14px}

/* 레이어팝업*/
.layer_popup.layer_attendance .layer_cont {padding-bottom: 10px}
.layer_popup.layer_attendance .layer_cont .text {font-size: 15px; color:#000; line-height: 20px}
.layer_popup.layer_attendance .layer_cont .product_list .product:first-child {margin-top: 0}
.layer_popup.layer_attendance .layer_cont .product_list .product .product_visual {width: 90px}
.layer_popup.layer_attendance .layer_cont .product_list .product .product_info {padding:0 0 0 8px}
.layer_popup.layer_attendance .layer_cont .product_list .product .product_info .product_name {line-height: 18px; margin-top: 5px}
.layer_popup.layer_attendance .layer_cont .product_list .product .product_info .product_area {margin-top: 7px;}
.layer_popup.layer_attendance .coupon_list > li {padding:20px 0; border-top:1px solid #f3f3f3}
.layer_popup.layer_attendance .coupon_list li:first-child {border-top: 0; padding-top: 0}
.layer_popup.layer_attendance .coupon_list .title {padding-bottom:20px; font-size: 15px; color:#222; font-weight: bold;}
.layer_popup.layer_attendance .coupon_list .text {font-size: 14px}
.layer_popup.layer_attendance .btn_default_modal_confirm {color:#782fff; font-size: 16px}

/* 출석체크 완료 팝업 */
.layer_attendance .product_list {margin-top:30px}
.layer_attendance .product_visual{width: 80px !important; vertical-align:top}
.layer_attendance .product_info{padding-right: 0 !important; font-size: 12px;}
.layer_attendance .product_info .price {font-size:13px}
.layer_attendance .product_info .price strong {font-size:14px}
.layer_attendance .product_info .dis_price {margin-left:7px; color:#888; font-size:12px}
.layer_attendance .product_info .dis_price del {font-size:13px}
.layer_attendance .product_info .link {display:inline-block; margin-left:9px; color:#782fff; font-size:11px}
.layer_attendance .product_info .link:after{content:''; display: inline-block; width: 0; height: 0; margin-left:4px; border: 4px solid transparent; border-left-color:#782fff; vertical-align: middle;}
.layer_attendance .coupon{width: 168px; height: 98px; padding: 23px 0 0 30px; margin:20px auto 0;}
.layer_attendance .coupon>dt{font-size: 12px;}
.layer_attendance .coupon .cont {margin-top:12px}
.layer_attendance .coupon .cont strong{font-size: 40px; font-weight:normal }
.layer_attendance .coupon .cont .unit {font-size:15px; vertical-align:baseline}
.layer_attendance .b_point01 {color:#782fff}

/* 출석체크 달성 팝업 */
.layer_attendance_sec.system_alert .layer_wrap {left:5%; right:5%}
.layer_attendance_sec.system_alert .layer_title {display:none}
.layer_attendance_sec.system_alert .layer {background:0}
.layer_attendance_sec.system_alert .layer_cont {padding:0}
.layer_attendance_sec .b_point_log01 {width:112px; height:112px; margin:0 auto 24px auto}
.layer_attendance_sec .text {color:#fff; font-size:16px; line-height:30px; text-align:center}
.layer_attendance_sec .layer_btns {display:none}



.three_slide {padding:0 30px; }
.three_slide .brand_coupon_list {padding:0}
.three_slide.slide {position:relative; margin-bottom:30px; padding:0 20px}
.three_slide.slide .ix-list-viewport {overflow:hidden}
.three_slide.slide .ix-list-items {position:relative; left:0; top:0; width:100%; height:100%;}
.three_slide.slide .ix-list-items .ix-list-item {float:left; width:32.1333%;  text-align:center; margin:0 0.6%;}

/* 슬라이드 방향 버튼 */
.today_brand_coupon .slide .slide_direction .ix-btn-prev {display:block; width:20px; height:20px; position:absolute; top:50%; left:0; margin-top:-10px; border-radius:100% 0 0 100%; text-align:center}
.today_brand_coupon .slide .slide_direction .ix-btn-prev img {width:5px; height:10px;}
.today_brand_coupon .slide .slide_direction .ix-btn-next {display:block; width:20px; height:20px; position:absolute; top:50%; right:0;  margin-top:-10px; border-radius:0 100% 100% 0; text-align:center}
.today_brand_coupon .slide .slide_direction .ix-btn-next img {width:5px; height:10px}

/* 신규혜택 */
.new_benefit .bnn_area01 {margin-top:25px}
.img_info01 .section {border-bottom:1px solid #d1d1d6}
.mid_tit {padding:33px 0 23px 0; color:#939597; font-size:29px; text-align:center; line-height:39px; font-weight:normal; letter-spacing:-0.05em}
.new_num {position:absolute; top:10px; left:10px; color:#000; font-size:19px; z-index:20}

/* 플러스 멤버십 */
.plus_tit01 {padding:30px 0; color:#000; font-size:14px; text-align:center; font-weight:normal}
.plus_tit02 {padding:20px; color:#000; font-size:20px; line-height:20px}
.plus_tit01 strong {display:block; margin-bottom:10px; font-size:20px; line-height:20px; font-weight:normal}
.attendance_notice {background:#fff}
.attendance_notice.plus .noti_tit01 {text-align:left}

.plus_membership .slide{position:relative; border-bottom:1px solid #d1d1d1}
.plus_membership .slide .ix-controller{position: absolute; left: 0; right: 0; bottom: 67px;}
.plus_membership .slide .ix-btn{background-color: #fff; opacity:.5;}
.plus_membership .slide .active .ix-btn{background-color: #fff !important; opacity:1;}
.plus_membership .slide .btn_join_membership{position: absolute; width: 165px;left: 50%; margin-left: -82.5px; bottom: 15px;}

.plus_mem_info01 > div {position:relative; border-top:10px solid #f2f2f2; border-bottom:1px solid #d1d1d1}
.plus_mem_info01 > div:first-child {border-top:0}
.plus_mem_info01 .btn_join {display:block; position:absolute; left:5.1%; bottom:7.1%; width:26.8%; height:10.9%}

.membership_info {padding:29px 15px 52px 15px}
.membership_info .m_level {color:#222; font-size:13px}
.membership_info .m_txt01 {color:#222; font-size:13px; line-height:17px}
.membership_info .m_txt02 {color:#878787; font-size:13px}

.membership_info .ui_table{padding: 0 24px; text-align: center; white-space: nowrap;}
.membership_info .ui_table .space{width:30px;}
.membership_info .ui_table .ico_oper{width: 30px; height: 30px; opacity:.2;}
.membership_info .ui_table .ico_oper:before{height:2px}
.membership_info .ui_table .ico_oper:after{width: 2px; margin-left: -1px;}
.membership_info .ui_table:nth-child(2)>*:not(.space){padding:18px 16px 10px 16px;}
.membership_info .ui_table img{margin-bottom: 10px;}

.ap_policy_area {padding:0 15px 37px 15px; background:#fff}
.mem_tit {color:#000; font-size:19px; line-height:19px; font-weight:bold}
.policy_wrap {margin-top:23px; height:105px; padding:0 3px 10px 3px; background:#ebebeb}
.policy_wrap .policy .title {margin:21px 0 2px 0; color:#3262b7; font-size:12px}
.policy_wrap .policy .list_bullet_num li {padding-left:26px; color:#666; font-size:12px; line-height:17px; text-indent:-13px}
.policy_wrap .policy .list_bullet_num .num {padding-right:5px}

.ap_policy_area .chk_h28 {display:block; margin-top:12px}

.benefit_num {padding:0 15px; background:#fff}
.benefit_num .mem_tit {margin-bottom:23px}
.benefit_num dl.ui_table {padding:16px 0 22px 0; border-top:1px solid #ebebeb}
.benefit_num dl.ui_table dt {width:112px; color:#000; font-size:17px}
.benefit_num .benefit_text01 {margin-top:6px; color:#000; font-size:13px; line-height:16px}
.benefit_num .ui_table .input_h48_gray input{height:32px; padding: 14px 15px 16px 15px; font-size:15px}

.plus_membership .ui_accordion>dl>dt {border-bottom:1px solid #f2f2f2;}
.plus_membership .txt01 {padding:20px 0 18px 0; color:#000; font-size:13px; line-height:15px}

/* 금액 계산 */
.plus_membership .product_price{padding: 10px 16px 0;}
.plus_membership .product_price dl:after{content:''; display: block; clear: both;}
.plus_membership .product_price dl>dt{float:left; color:#000; font-size:16px}
.plus_membership .product_price dl>dd{float:right; color:#000; font-size:16px}
.plus_membership .product_price dl>dd strong {font-size:17px; font-weight:normal}
.plus_membership .product_price dl>dd.details{width: 100%;}
.plus_membership .product_price dl{position:relative; padding-left: 16px; margin-top: 10px; font-size: 13px; color:#999;}
.plus_membership .product_price>dl.total{height: 60px; margin: 10px 0 0 0; padding: 22px 0; font-size: 20px; border-top:1px solid #f2f2f2; color:#782fff; box-sizing: border-box;}
.plus_membership .product_price>dl.total em {color:#782fff; font-size:20px}
.plus_membership .product_price>dl.total strong {font-weight:normal}
.plus_membership .product_price>dl.total .price{font-size: 16px; color:#782fff}
.plus_membership .product_price>dl.total .price em strong {font-size:20px}
.plus_membership .product_price>dl.add_point *{color:#4f94c0;}
.plus_membership .product_price .my_point{color:#8ebad3; font-size: 11px; padding-left: 3px}
.plus_membership .product_price .my_point i{margin-top: -2px;}
.plus_membership .product_price>dl.total:only-child{margin-top: -10px; border-top:0;}
.plus_membership .product_price{padding-top: 0;}
.plus_membership .product_price>dl.shipping_costs{padding-top: 0;}

.plus_membership .last .product_price {padding:6px 16px}
.plus_membership .last .product_price>dl{padding: 12px 0; margin-top:0}
.plus_membership .last .product_price>dl.total {padding:23px 0}

.plus_membership .order_area .product_price .ui_tooltip {margin-top: 12px;}
.plus_membership .order_area .product_price .ui_tooltip .add_point {color:#4f94c0}
.plus_membership .order_area .product_price .ui_tooltip .btn_tooltip {padding: 0; height: inherit;}
.plus_membership .order_area .product_price .ui_tooltip .btn_tooltip span {right: -55px; top: -14px;}
.plus_membership .order_area .product_price .ui_tooltip .layer_tooltip dt {width: 100%}

/* 결제 수단 선택 */
.plus_membership .payment_list{padding:0 16px;}
.plus_membership .payment_list>li{position:relative; padding:16px 0;}
.plus_membership .payment_list .one_pay img{width: 82px;}
.plus_membership .payment_list .one_pay em{padding-left: 7px; font-size: 12px;}
.plus_membership .card_slide{padding-top: 16px; margin: 0 -16px;}
.plus_membership .card_slide .ix-list-item{padding: 0 60px;}
.plus_membership .card_slide .credit_card{position:relative;}
.plus_membership .card_slide .credit_card>input{position:absolute; z-index: -1;}
.plus_membership .card_slide .credit_card>label{position:relative; display:block;}
.plus_membership .card_slide .credit_card>input:checked + label:after{content:''; position:absolute; top:20px; right:20px; width: 21px; height: 14px; background:url(/mo/ko/images/common/ico.png) no-repeat -135px 0; -webkit-background-size: 200px;background-size: 200px;}
.plus_membership .card_slide .card_info{position:absolute; top:30%; left:0; right:0; padding: 16px; text-align: left;}
.plus_membership .card_slide .card_info>*{display:block; line-height: 1.5; font-size: 13px;}
.plus_membership .card_slide .card_info .card_name{font-size: 17px;}
.plus_membership .payment_list>li + li{border-top: 1px solid #f2f2f2;}
/* .plus_membership .card_list{margin: 16px -16px 0;} */
.plus_membership .card_list {overflow: hidden; display: none; padding-top: 16px; margin:-10px -16px 0 -16px;}
.plus_membership .card_list li {width: 25%; float: left; margin-top: 10px;}
.plus_membership .card_list .card{position:relative; display:table; width: 100%;}
.plus_membership .card_list .card img{width: auto; max-width: 100%;}
.plus_membership .card_list .card input{position:absolute; z-index: -1;}
.plus_membership .card_list .card label{display:table-cell; height: 80px; border:1px solid #fff; font-size: 13px; text-align: center; color:#999; vertical-align:middle}
.plus_membership .card_list .card label span{display:inline-block; width: 100%; white-space: nowrap; letter-spacing: -1px;}
.plus_membership .card_list .card input:checked + label{border-color: #782fff;}
.plus_membership .purchase_btns{padding: 9px 7px 0;}
.plus_membership .purchase_btns>*{border-radius: 4px; font-size: 15px; font-weight: bold;}
.plus_membership .pay_form{display:none; margin-top: 10px;}
.plus_membership .pay_form .ui_table{min-height: 50px; padding:8px 0;}
.plus_membership .pay_form .ui_table:nth-child(4){min-height: 62px;}
.plus_membership .pay_form .ui_table + .ui_table{margin-top: 0;}
.plus_membership .pay_form .ui_table>*{min-height: 50px; font-size: 15px;}
.plus_membership .pay_form .ui_table>dt{width:85px; line-height:18px; }
.plus_membership .pay_form .ui_table:last-child>dt{vertical-align: top; line-height: 30px;}
.plus_membership .pay_form .ui_table:last-child {margin-top: 8px;}
.plus_membership .pay_form .ui_table:last-child>dd .input_h48_gray {display: block; margin:12px 0 15px}
.plus_membership .pay_form .ui_table>dd .rdo_wrap > span {width: 85px; margin-left:15px; margin-right: 0}
.plus_membership .pay_form .ui_table>dd .rdo_wrap > span:first-child {margin-left:0}

.plus_membership .payment_list .cont_phone {margin-top: 18px}
.plus_membership .payment_list .cont_phone p{line-height: 21px; color: #484848;   font-size: 14px;}
.plus_membership .payment_list .cont_phone p em{color:#782fff}

.plus_membership .ui_accordion>dl>dt .title>span{display:inline-block; padding-left: 6px; font-size: 14px; color:#484848; font-weight: normal; line-height: 1;}

.plus_membership .agree_area .color_light_gray {line-height:18px} 
.plus_membership .order_layer {position:static; background:0}
.plus_membership .use_benefit .price input {font-size:15px}


/* .membership_layer .policy_wrap{height: 90px; margin: 20px 0 10px; background: #f2f2f2; padding:10px 8px;}
.membership_layer .policy .title{font-size:11px; font-weight: bold; color: #3262b7;}
.membership_layer .policy ul{font-size:11px; margin-top: 5px;}
.membership_layer .policy>* + .title{margin-top: 10px;}
.membership_layer .phone_info .ui_table dt{width: 80px;}
.membership_layer .phone_info .ui_table + p{padding-left:80px;}
.membership_layer .input_point{width: 80px; height: 30px; border: 1px solid #ccc;}
.membership_layer .final{font-size: 17px;}
.membership_layer .final dl + dl{margin-top: 20px;}
.membership_layer .final .total{padding-top: 20px; border-top: 1px solid #000; font-size: 20px; font-weight: bold;}
.membership_layer .payment_list{padding: 0 !important; margin: -20px 0 -16px;}
.membership_layer .page_btns{padding: 7px;}
.membership_layer .page_btns>button{width: 100%; height: 46px; font-size: 15px; border-radius:5px;} */


/*메이크업서비스*/
.make_service{background:#e9edf0;}
.make_service .mt0{margin-top:0 !important;}
.make_service .gift_area{overflow:hidden;box-sizing:border-box; padding:41px 15px 25px 15px; text-align:center;}
.make_service .select_h48_gray:after{content: ''; width: 0;height: 0;margin-top: -3px;background: none;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #a1a1a1;position: absolute;top: 50%;right: 16px;}
.gift_area img{width:170px; height:100px;}
.gift_area .gift_tit{color:#000000; font-size:28px; height:28px; line-height:28px;}
.gift_area .gift_txt{color:#333333; font-size:14px; line-height:20px; letter-spacing:-1px; margin:15px 0 20px 0;}
.request_wrap{position: relative;box-sizing:border-box; padding-top:40px;;}
.request_service .request_tit{color:#000000; font-size:28px; height:28px; line-height:28px; text-align:center;}
.request_service .request_txt{color:#333333; font-size:14px; line-height:20px; letter-spacing:-1px; margin:15px 0 20px 0; text-align:center;}
.request_service .point01{color:#782fff;}
.request_service .ui_accordion dt{background:#333333;}
.request_service .ui_accordion dt .num1{color:#cccccc;}
.request_service .ui_accordion dt button span{color:#fff; font-size:14px;}
.request_service .title:not(p):before{content:''; position:absolute; top:50%; right: 12px; width: 11px; height: 19px; margin-top: -9px; background: url(/mo/ko/images/common/ico_arr_aside2.png) no-repeat 0 0; -webkit-background-size: 11px 19px;  background-size: 11px 19px;transition:.3s;}
.request_service .ui_accordion dt>button.title:before{transform:rotate(90deg); right: 16px;}
.request_service .ui_accordion dt.on>button.title:before{transform:rotate(-90deg);}
.half {overflow:hidden; box-sizing:border-box;}
.half .select_wrap .select_h48_gray{float:left; width:50%;}


.make_service .step02{overflow:hidden; margin-top:40px; background:#fff;}
.make_service .step02 .month_select{background:#fff;}
.make_service .step02 .attendance_calendar .month_select .current_month{color:#363636; font-size:20px;}
.make_service .step02 .attendance_calendar td{vertical-align: middle;text-align: center; border-bottom:none;}
.make_service .step02 .attendance_calendar .date{width:42px;height:42px; line-height:42px;}
.make_service .step02 .attendance_calendar .sat .date{color:#0066cc;}
.make_service .step02 .attendance_calendar .sun .date{color:#ed0606;}
.make_service .step02 .attendance_calendar .before_day .date{color:#d7d7d7;}
.make_service .step02 .attendance_calendar .today {background:none;}
.make_service .step02 .attendance_calendar .today .date{border:1px solid #cdcdcd;}
.make_service .step02 .attendance_calendar .no_checked .date {background:#d7d7d7; color:#fff;}
.attendance_calendar.type02 .month_select .btn:after{width: 8px;height: 15px; background-size: 8px 15px;}
.attendance_calendar.type02 .month_select .btn.prev:after{background-image: url(/mo/ko/images/display/btn_month_prev_make.png);}
.attendance_calendar.type02 .month_select .btn.next:after {background-image: url(/mo/ko/images/display/btn_month_next_make.png);}

.make_service .step02 .calendar_info{overflow:hidden; text-align:left; padding:30px 15px 33px 15px;}
.make_service .step02 .calendar_info .info_txt:before{display:inline-block; content:""; width: 16px;height: 16px;border-radius: 100%; background:#7052ce; margin-right:10px;vertical-align: middle;}
.make_service .step02 .calendar_info .color_grey.info_txt:before{background:#d7d7d7;}
.make_service .step02 .calendar_info .color_white.info_txt:before{background:#fff; border:1px solid #d4d4d4;}
.make_service .step02 .calendar_info .info_txt{color:#363636; font-size:14px; margin-right:20px;}

.make_service .step02 .time_wrap{overflow: hidden; box-sizing:border-box;border-top:1px solid #eeeeee;}
.make_service .step02 .time_list:after {content:''; clear:both; display:block;}
.make_service .step02 .time_list li{float:left;width:25%;height:40px;border-right:1px solid #eeeeee; border-bottom:1px solid #eeeeee;}
.make_service .step02 .time_list li:nth-child(4n){border-right:0;}
.make_service .step02 .time_list li a{display:block;width:100%;height:40px;box-sizing:border-box;text-align:center;}
.make_service .step02 .time_list li.on a{border:1px solid #782fff; height:40px;}
.make_service .step02 .time_list li.on a .time{color:#782fff;}
.make_service .step02 .time_list li .time{width:100%;height:40px;line-height:40px;font-weight:normal; font-size:13px; color:#666666;}

.make_service .step03{overflow:hidden; margin-top:40px; background:#fff;}
.make_service .step03 .data_table th{text-align:left; color:#333333; font-size:13px;}
.make_service .step03 .data_table th, .step03 .data_table td{padding:8px 10px;}
.make_service .step03 .input_h48_gray input{height:28px; border:none; font-size:13px;}

.notice_wrap{overflow:hidden; background:#333333;}
.notice_wrap .notice_area01{padding:37px 20px 37px 20px}
.notice_wrap .notice_area01 .noti_tit01 .ico_notice{background: url(/mo/ko/images/display/notic_ico_img.png) no-repeat;width:17px; height:17px; background-size: 17px 17px;}
.notice_wrap .notice_area01 .noti_tit01{text-align:left; color:#fff;}
.notice_wrap .bullet_list01 li{font-size:13px; color:#ffffff; background:none;position:relative;}
.notice_wrap .bullet_list01 li:before{content:""; display:inline-block; position:absolute; top:5px; left:0;width:3px; height:3px; background:#959595;}

.make_service .btn_attendance{padding: 30px 0 40px 0;text-align: center; font-size:15px;}
.make_service .btn_attendance a{display: inline-block;width: 165px;height: 45px;}

/*임직원 서비스 혜택 안내*/
.staff_shop{}
.staff_shop .tab_menu ul>li>*{padding:0 5px;}

/* Beauty Video  */
.y_text_wrap a {display:block; padding:68px 0 73px 0; text-align:center}
.y_text_wrap .banner_info .copy {position:relative; font-size:30px; padding-bottom:15px; color:#fff; line-height:40px}
.y_text_wrap .banner_info .copy:after {display:block; content:""; position:absolute; bottom:0; left:50%; margin-left:-10px; width:20px; height:1px; background:#3d4450}
.y_text_wrap .banner_info .copy span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap; letter-spacing:-0.07em}
.y_text_wrap .banner_info .text {margin-top:20px; color:#fff; font-size:15px; line-height:20px}
.y_text_wrap .banner_info .text span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap; letter-spacing:-0.05em}
