@charset "UTF-8";

.event_list>li{position:relative; margin-top: 9px; background: #fff;}
.event_list>li>a{display:block;}
.event_list .lazy_load_wrap{padding-top: 50.67%;}
.event_list .event_info{height: 70px; padding: 15px 40px 0 16px; line-height: 1.5;}
.event_list .btn_toggle{position:absolute; bottom:14px; right:16px;}

.ap_event_detail .tab_menu>ul>li>*{overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.ap_event_detail .tab_cont>.h_title{height: 42px; padding: 0 14px; margin-top: 8px;}
.ap_event_detail .tab_cont>.h_title:before {content: '';display: inline-block;width: 0;height: 105%;vertical-align: middle;}

.ap_event_detail .event_list{margin:23px -16px 0}
.ap_event_detail .event_list>li+li{margin-top: 0;}