@charset "UTF-8";

.event_list>li{position:relative; margin-top: 9px; background: #fff;}
.event_list>li>a{display:block; font-size: 16px; color: #000;}
.event_list .lazy_load_wrap{padding-top: 50.67%;}
.event_list .event_info{height: 70px; padding: 15px 50px 0 16px; line-height: 1.5;}
.event_list .event_title {}
.event_list .btn_toggle{position:absolute; bottom:11px; right:16px;}
.event_list .count {display: block; font-size: 16px;}

/* 셀렉박스 */
.ui_select_box {padding: 23px 19px; background-color: #fff;}
.ap_event_detail .ui_select {background-color: #fff;}
.ap_event_detail .ui_select li a {font-size: 15px; color: #888; border-top: 1px solid #ebebeb; background-color: #fff;}
.ap_event_detail .ui_select li:first-child a {border-top: 0; color: #000; font-weight: bold;}
.ap_event_detail .ui_select .select_options li>* {padding: 0;}

.ui_select_box.fixed {position:fixed; top:52px; left:0; width:100%; z-index:30}

/*  타이틀 */
.ap_contents.ap_event_detail .h_title {margin-top: 0;}

/* tab */
.ap_contents.ap_event_detail .ui_tab {margin-top: 9px;}

.ap_event_detail .tab_menu>ul>li>*{overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.ap_event_detail .tab_cont>.h_title{height: 42px; padding: 0 14px; margin-top: 8px;}
.ap_event_detail .tab_cont>.h_title:before {content: '';display: inline-block;width: 0;height: 105%;vertical-align: middle;}

.ap_event_detail .event_list {margin:23px -16px 0}
.ap_event_detail .event_list>li+li{margin-top: 0;}

