@charset "UTF-8";

.event_list>li{position:relative; margin-top: 9px; background: #fff;}
.event_list>li>a{display:block; font-size: 16px; color: #000;}
.event_list .lazy_load_wrap{padding-top: 50.67%;}
.event_list .event_info{height: 70px; padding: 15px 50px 0 16px; line-height: 1.5;}
.event_list .event_title {}
.event_list .btn_toggle{position:absolute; bottom:11px; right:16px;}
.event_list .count {display: block; font-size: 16px;}

/* 셀렉박스 */
.ui_select_box {padding: 23px 19px; background-color: #fff;}
.ui_select_box.fixed {position:fixed; top:52px; left:0; width:100%; z-index:30}
.ap_event_detail .ui_select {background-color: #fff;}
.ap_event_detail .ui_select li a {padding: 0 10px !important; font-size: 15px; color: #888; border-top: 1px solid #ebebeb; background-color: #fff;}
.ap_event_detail .ui_select li:first-child a {border-top: 0; color: #000; font-weight: bold;}
.ap_event_detail .ui_select .select_options li>* {padding: 0;}

/*  타이틀 */
.ap_contents.ap_event_detail .h_title {margin-top: 0;}
.ap_contents.ap_event_detail .h_title.fz19 {padding: 25px 16px; font-size: 19px;}

/* tab */
.ap_contents.ap_event_detail .ui_tab {margin-top: 9px;}

.ap_event_detail .tab_menu>ul>li>*{overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.ap_event_detail .tab_cont>.h_title{height: 42px; padding: 0 14px; margin-top: 8px;}
.ap_event_detail .tab_cont>.h_title:before {content: '';display: inline-block;width: 0;height: 105%;vertical-align: middle;}

.ap_event_detail .tab_menu>ul>li button {width: 100%;}
.ap_event_detail .tab_menu.equally>ul>li {padding: 0; border-bottom: 0;}

/* event_list */
.ap_event_detail .event_list {margin:0 -16px 0}
.ap_event_detail .event_list li {margin-top: 0;}

/* 댓글 */
.ap_event_detail .comment_area .pd_md {padding: 20px 16px 0;}

/* 더보기 */
.ap_event_detail .btn_lg_more.w100p {display: block; padding: 24px 0; font-size: 16px; font-weight: bold; text-align: center;}
.ap_event_detail .btn_lg_more.w100p i {width: 8px; height: 14px; background: url("/mo/ko/images/common/ico_arrow_black.png") 0 0 no-repeat; background-size: 8px 14px;}

/* 동영상 */
.event_visual .video_box {padding: 0 15px; padding-bottom: 30px;}
.event_visual .video_box p {padding-top: 40px; line-height: 1.2;}
.event_visual .video_box .y_video_wrap {padding-top: 25px;}

/* 간격 */
.ap_event_detail .product_list_new {margin-bottom: 9px;}
.ap_event_detail .product_list_new + .tit_f_20 {margin-top: -9px;}