@charset "UTF-8";

.direct_menu_wrap {padding:18px 8px; background:#fff}
.direct_menu_wrap .direct_menu01:first-child {margin-bottom:20px}
.direct_menu01 {overflow:hidden}
.direct_menu01 li {float:left; width:20%; text-align:center}
.direct_menu01 li a {display:block}
.direct_menu01 li a img {display:block; width:55px; margin:0 auto}
.direct_menu01 li a span {overflow:hidden; display:inline-block; position:relative; width:70px; height:24px; padding-top:10px; color:#000; font-size:13px;}
.direct_menu01 li a span.updated:after {display:block; content:' '; position:absolute; top:6px; right:4px; width:4px; height:4px; background:#782fff; border-radius:50%}

.log_before {padding:23px 16px; background:#fff}
.log_before .btn_h50_pp {margin-top:12px}
.log_txt01 {color:#000; font-size:16px; line-height:16px}
.log_txt02 a {display:inline-block; margin-top:22px; color:#782fff; font-size:16px; line-height:16px}
.log_txt02 a .ico_arr_p {margin-top:-1px}

.log_after .welcome_text {padding:20px 16px; background:#f2f2f2; color:#000; font-size:20px; line-height:20px}
.log_after .log_point_area {padding:22px 16px 20px 16px; background:#fff}
.log_after .log_point_area .text01 {color:#000; font-size:19px; line-height:19px}
.log_after .log_point_area .text02 {margin:15px 0 0 2px; color:#000; font-size:19px}

/* 쿠폰 영역 */
.coupon_txt_tit01 {position:relative; padding:24px 0 18px 16px; color:#000; font-size:19px}
.coupon_txt_tit01 a {display:block; position:absolute; top:4px; right:0; width:42px; height:54px; background:url("/mo/ko/images/common/ico_main_arrow01.png") no-repeat 50% 50%; background-size:9px 18px; text-indent:-9999px}

.m_coup_list01 {padding:4px 0 16px 0}
.m_coup_list01 ul {overflow-x:auto; white-space:nowrap; -webkit-overflow-scrolling: touch; overflow-scrolling: touch}
.m_coup_list01 ul::-webkit-scrollbar {width:0; height:0; background-color:transparent}
.m_coup_list01 ul li {display:inline-block; margin-right:10px}
.m_coup_list01 ul li:first-child {margin-left:16px}
.m_coup_list01 .down_ok .coup_detail {width:251px; height:147px; padding:17px 0 0 41px; background:url("/mo/ko/images/common/bg_coup_benefit02.png") no-repeat 0 0; background-size:251px 147px}
.m_coup_list01 .down_ok .coup_detail .dis_price {font-size:57px; line-height:70px}
.m_coup_list01 .down_ok .coup_detail .dis_price em {font-size:30px}
.m_coup_list01 .benefit_coup_area {width:auto; padding-bottom:0}

.dis_possible_prd {text-align:center}
.dis_possible_prd a {display:inline-block; margin-top:15px; padding-right:14px; color:#000; background:url("/mo/ko/images/common/ico_main_arrow02.png") no-repeat 100% 50%; background-size:7px 12px;  font-size:15px;}

/* 최근 본 상품 */
.recently_prd01 .product_new > a {overflow:hidden; height:279px}
.recently_prd01 .list_more_new01 a {display:block; padding-top:135px; width:152px; text-align:center}

/* .btn_login{height:45px; background-color:#ebe4ff; font-size: 16px;}
.welcome_text *{display:inline-block; vertical-align: middle;}
.welcome_text>*{position:relative; max-width:100%; margin-top: -9px; padding:0 20px 0 85px;}
.welcome_text>*>span:nth-child(1){position:absolute; top:3px; left:0;}
.welcome_text>*>span:nth-child(3){position:absolute; top:3px; right:0;}
.welcome_text>*>span.ellipsis{width:100%;}
.main_contents .quick_menu{padding:5px;}
.main_contents .quick_menu ul>li:after{display:none;}
.main_contents .quick_menu a>*:first-child{margin-bottom: 8px;}
.main_contents .quick_menu .updated span{position:relative; display:inline-block; vertical-align: top;}
.main_contents .quick_menu .updated span:not(.icon):after{content:''; position:absolute; top:-3px; right:-7px; width:5px; height:5px; border-radius: 50%; background:#782fff;}

.coupon_slide>ul{margin:0 -16px; padding-left:16px; white-space: nowrap;}
.coupon_slide>ul>li{display:inline-block; width:251px; margin-right:11px;}
.coupon_slide .coupon + a{display:block; margin-top:8px; padding-top:5px; text-align:center; line-height:1.2;}
.coupon_slide .coupon + a.disabled{background-color:transparent; color:#000; opacity:.3;}
.coupon_slide .coupon + a .ico_arr{opacity:.6;}
.coupon_slide .coupon .cont b{font-size: 38px; padding: 5px 0;} */