@charset "UTF-8";

/*메인 only*/

.btn_login{height:45px; background-color:#ebe4ff; font-size: 16px;}
.welcome_text *{display:inline-block; vertical-align: middle;}
.welcome_text>*{position:relative; max-width:100%; margin-top: -9px; padding:0 20px 0 85px;}
.welcome_text>*>span:nth-child(1){position:absolute; top:3px; left:0;}
.welcome_text>*>span:nth-child(3){position:absolute; top:3px; right:0;}
.welcome_text>*>span.ellipsis{width:100%;}
.main_contents .quick_menu{padding:5px;}
.main_contents .quick_menu ul>li:after{display:none;}
.main_contents .quick_menu a>*:first-child{margin-bottom: 8px;}
.main_contents .quick_menu .updated span{position:relative; display:inline-block; vertical-align: top;}
.main_contents .quick_menu .updated span:not(.icon):after{content:''; position:absolute; top:-3px; right:-7px; width:5px; height:5px; border-radius: 50%; background:#782fff;}

.coupon_slide>ul{margin:0 -16px; padding-left:16px; white-space: nowrap;}
.coupon_slide>ul>li{display:inline-block; width:251px; margin-right:11px;}
.coupon_slide .coupon + a{display:block; margin-top:8px; padding-top:5px; text-align:center; line-height:1.2;}
.coupon_slide .coupon + a.disabled{background-color:transparent; color:#000; opacity:.3;}
.coupon_slide .coupon + a .ico_arr{opacity:.6;}
.coupon_slide .coupon .cont b{font-size: 38px; padding: 5px 0;}