@charset "UTF-8";

.direct_menu_wrap {padding:18px 8px; background:#fff}
.direct_menu_wrap .direct_menu01:first-child {margin-bottom:20px}
.direct_menu01 {overflow:hidden}
.direct_menu01 li {float:left; width:20%; text-align:center}
.direct_menu01 li a {display:block}
.direct_menu01 li a img {display:block; width:55px; margin:0 auto}
.direct_menu01 li a span {overflow:hidden; display:inline-block; position:relative; width:70px; height:24px; padding-top:10px; color:#000; font-size:13px;}
.direct_menu01 li a span.updated:after {display:block; content:' '; position:absolute; top:6px; right:4px; width:4px; height:4px; background:#782fff; border-radius:50%}

.log_before {padding:23px 16px; background:#fff}
.log_before .btn_h50_pp {margin-top:12px; background:#ebe4ff; color:#000; border:1px solid #ebe4ff}
.log_txt01 {color:#000; font-size:16px; line-height:16px}
.log_txt02 a {display:inline-block; margin-top:22px; color:#782fff; font-size:16px; line-height:16px}
.log_txt02 a .ico_arr_p {margin-top:-1px}

.log_after .welcome_text {padding:20px 16px; background:#f2f2f2; color:#000; font-size:20px; line-height:20px}
.log_after .log_point_area {padding:22px 16px 20px 16px; background:#fff}
.log_after .log_point_area .text01 {color:#000; font-size:19px; line-height:19px}
.log_after .log_point_area .text02 {margin:15px 0 0 2px; color:#000; font-size:19px}

/* 쿠폰 영역 */
.coupon_txt_tit01 a {position:relative; display:block; padding:24px 0 18px 16px; color:#000; font-size:19px; font-weight:normal}
.coupon_txt_tit01 span {display:block; position:absolute; top:4px; right:0; width:42px; height:54px; background:url("/mo/ko/images/common/ico_main_arrow01.png") no-repeat 50% 50%; background-size:9px 18px; text-indent:-9999px; z-index:15}

.m_coup_list01 {padding-top:4px}
.m_coup_list01 ul {overflow-x:auto; overflow-y:hidden; white-space:nowrap; -webkit-overflow-scrolling: touch; overflow-scrolling: touch}
.m_coup_list01 ul::-webkit-scrollbar {width:0; height:0; background-color:transparent}
.m_coup_list01 ul li {display:inline-block; margin-right:10px}
.m_coup_list01 ul li:first-child {margin-left:16px}
.m_coup_list01 .down_ok .coup_detail {width:251px; height:147px; padding:17px 0 0 41px; background:url("/mo/ko/images/common/bg_coup_benefit02.png") no-repeat 0 0; background-size:251px 147px}
.m_coup_list01 .down_ok .coup_detail .dis_price {font-size:57px; line-height:70px}
.m_coup_list01 .down_ok .coup_detail .dis_price em {font-size:30px}
.m_coup_list01 .benefit_coup_area {width:auto; padding-bottom:0}

.dis_possible_prd {text-align:center}
.dis_possible_prd a {display:inline-block; padding:15px 14px 15px 0; padding-right:14px; color:#000; background:url("/mo/ko/images/common/ico_main_arrow02.png") no-repeat 100% 50%; background-size:7px 12px;  font-size:15px;}

/* 최근 본 상품 */
.main_tit01 {overflow:hidden; padding:23px 16px; color:#000; font-size:19px; font-weight:normal}
.recently_prd01 .product_list_new.swipe {overflow-y:hidden}
.recently_prd01 .product_list_new.swipe > li {height:279px; overflow:hidden;}
.recently_prd01 .product_list_new.swipe > li .product_new {width:100%; height:279px; position:relative;}
.recently_prd01 .list_more_new01 {height:279px; line-height:1;}
.recently_prd01 .list_more_new01 a {height:43px; margin:-26px -75px; padding-top:33px; width:150px; background:url("/mo/ko/images/common/ico_recently_more01.png") no-repeat 50% 0; background-size:23px 23px; color:#999; font-size:11px; text-align:center; z-index:5;position:absolute; top:50%; left:50%;}


/* 최근 본 상품 
.main_tit01 {padding:23px 16px; color:#000; font-size:19px; font-weight:normal}
.recently_prd01 .product_new {overflow:hidden; height:100%}
.recently_prd01 .product_list_new.swipe {height:279px; overflow-y:hidden}
.recently_prd01 .list_more_new01 {height:279px}
.recently_prd01 .list_more_new01 a {display:inline-block; height:279px; padding-top:145px; width:150px; background:url("/mo/ko/images/common/ico_recently_more01.png") no-repeat 50% 112px; background-size:23px 23px; color:#999; font-size:11px; text-align:center; z-index:5}
*/
/* basic */
.m_basic a {position:relative; display:block}
.m_basic a .lazy_load_wrap {height:124.26vw; padding-top:0}
.m_basic .brand {position:absolute; top:15px; left:15px; width:55px; height:55px; z-index:15}
.m_basic .banner_info {position:absolute; bottom:13.6%;  width:100%; text-align:left; z-index:10}
.m_basic .banner_info .copy {position:relative; color:#000; font-size:30px; padding-bottom:15px; line-height:37px; letter-spacing:-0.07em}
.m_basic .banner_info .copy span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap}
.m_basic .banner_info .copy:after {display:block; content:""; position:absolute; bottom:0; left:32px; width:20px; height:1px; background:#8b8c91}
.m_basic .banner_info .product_info_new {display:block; margin-top:20px; padding:0 28px; }
.m_basic .banner_info .product_info_new .prd_name {display:block; overflow:hidden; color:#000; font-size:17px; line-height:17px; text-overflow:ellipsis; white-space:nowrap}
.m_basic .banner_info .product_info_new .price_wrap {display:block; margin-top:8px}
.m_basic .banner_info .product_info_new .price_wrap .discount {color:#ff0000; font-size:17px}
.m_basic .banner_info .product_info_new .price_wrap .price {display:inline-block; margin-left:10px; color:#000; font-size:17px}
.m_basic .banner_info .product_info_new .price_wrap .price em {font-size:15px}
.m_basic .banner_info .product_info_new .price_wrap del {display:inline-block; margin-left:6px; color:#6d645c; font-size:17px}
.m_basic .banner_info .product_info_new .price_wrap del em {font-size:15px}
.m_basic .banner_info .product_info_new .product_rating {display:block; margin-top:10px}
.m_basic .banner_info .product_info_new .product_rating .prd_review {position:relative; padding-left:5px; margin-left:5px; font-size:13px}
.m_basic .banner_info .product_info_new .product_rating .prd_review:before {display:block; content:' '; position:absolute; top:50%; left:0; margin-top:-5px; height:10px; border-left:1px solid #b7b7b7;}
.product_new > a .product_info_new .tags {display:block; margin-top:9px}

.m_basic.color_white .banner_info,
.m_basic.color_white .banner_info .copy,
.m_basic.color_white .banner_info .product_info_new .prd_name,
.m_basic.color_white .banner_info .product_info_new .price_wrap .price,
.m_basic.color_white .banner_info .product_info_new .price_wrap .discount,
.m_basic.color_white .banner_info .product_info_new .product_rating .prd_review {color:#fff;}
.m_basic.color_white .banner_info .product_info_new .product_rating .prd_review:before {border-color:#fff; opacity:0.5;}
.m_basic.color_white .banner_info .copy:after {background:#fff; opacity:0.5;}
.m_basic.color_white .banner_info .product_info_new .price_wrap del{color:#fff; opacity:0.5;}
.m_basic.color_white [class*="mark_star_"] { background-image: url(/mo/ko/images/common/ico_star_w.png);}

/* Beauty Contents + img */
.beauty_cont01 > a {position:relative; display:block; z-index:1}
.beauty_cont01 > a .lazy_load_wrap {height:68.53vw; padding-top:0}
.beauty_cont01 .banner_info {position:absolute; top:25.4%; width:100%; text-align:left; z-index:10}
.beauty_cont01 .banner_info .copy {position:relative; color:#000; font-size:30px; padding-bottom:15px; line-height:40px}
.beauty_cont01 .banner_info .copy span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap; letter-spacing:-0.07em}
.beauty_cont01 .banner_info .copy:after {display:block; content:""; position:absolute; bottom:0; left:30px; width:20px; height:1px; background:#8b8c91}
.beauty_cont01 .banner_info .text{margin-top:20px; color:#000; font-size:16px; line-height:20px}
.beauty_cont01 .banner_info .text span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap; letter-spacing:-0.05em}

.beauty_cont01.color_white .banner_info .copy {color:#fff;}
.beauty_cont01.color_white .banner_info .copy:after {background:#fff; opacity:0.5;}
.beauty_cont01.color_white .banner_info .text{color:#fff;}


.picks_tit01 {padding:16px; color:#000; font-size:16px}
.picks_list01 {overflow:hidden; padding:16px 0 31px 0}
.picks_list01 ul {overflow-x:auto; overflow-y:hidden; white-space:nowrap; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
.picks_list01 ul::-webkit-scrollbar {width: 0; height: 0; background-color: transparent}
.picks_list01 ul li {display:inline-block}
.picks_list01 ul li a {display:block; margin:0 10px}
.picks_list01 ul li a .prd_img {display:block; width:80px; height:80px}
.picks_list01 ul li:first-child a {margin-left:16px}
.picks_list01 ul li .prd_info {display:block; margin-top:16px}
.picks_list01 ul li .prd_info .prd_name {overflow:hidden; color:#000; font-size:13px; text-overflow:ellipsis; white-space:nowrap}
.picks_list01 ul li .prd_info .prd_price {display:block; margin-top:5px; color:#000; font-size:13px}

/* 실시간 인기 쿠션 */
.verti_tit {padding:20px 30px; color:#222; font-size:16px; font-weight:normal}
.verti_tit span {margin-left:8px; color:#b2b2b2; font-size:11px}
.vertical_slide ul li a {overflow:hidden; display:block; padding:0 30px}
.vertical_slide ul li a .product_visual {float:left; width:80px; height:80px}
.vertical_slide ul li a .product_info {float:left; margin-left:16px}
.vertical_slide ul li a .product_info .num {display:block; color:#222; font-size:16px;}
.vertical_slide ul li a .product_info .prd_name {overflow:hidden; display:block; margin-top:6px; color:#222; font-size:16px; font-weight:normal; text-overflow:ellipsis; white-space:nowrap}
.vertical_slide ul li a .product_info .exp {overflow:hidden; display:block; margin-top:8px; color:#222; font-size:13px; line-height:17px; display: -webkit-box; max-height:34px; white-space:normal; word-break: break-all; -webkit-line-clamp:2; -webkit-box-orient: vertical;}
.v_slide_new .vertical_slide .ix-list-viewport {height:320px}

.main_v_slide {position:relative}
.main_v_slide a {display:block}
.main_v_slide a .v_slide_txt {position:absolute; top:33.4%; left:5.6%;}
.main_v_slide a .v_slide_txt p {color:#000; font-size:30px; line-height:30px; letter-spacing:-0.05em}
.main_v_slide a .v_slide_txt p:last-child {margin-top:8px}

/* 실시간 이슈 상품 */
.real_time_prd .tit_f_20 {font-weight:normal}
/* Beauty Video  */
.y_text_wrap a {display:block; padding:68px 0 73px 0; text-align:center}
.y_text_wrap .banner_info .copy {position:relative; font-size:30px; padding-bottom:15px; color:#000; line-height:40px}
.y_text_wrap .banner_info .copy:after {display:block; content:""; position:absolute; bottom:0; left:50%; margin-left:-10px; width:20px; height:1px; background:#8b8c91}
.y_text_wrap .banner_info .copy span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap; letter-spacing:-0.07em}
.y_text_wrap .banner_info .text {margin-top:20px; color:#000; font-size:15px; line-height:20px}
.y_text_wrap .banner_info .text span {overflow:hidden; display:block; padding:0 28px; text-overflow:ellipsis; white-space:nowrap; letter-spacing:-0.05em}

.color_white .y_text_wrap .banner_info .copy {color:#fff;}
.color_white .y_text_wrap .banner_info .copy:after {background:#fff; opacity:0.5;}
.color_white .y_text_wrap .banner_info .text {color:#fff;}

.m_time_wrap {padding:8px 0 0 4px}
.m_time_wrap .hotdeal_timer {background:0; padding:0}
.m_time_wrap .hotdeal_timer span {color:#000; font-size:15px; font-weight:normal}

/* 투데이 핫딜 */
.today_other {position:absolute; top:12px; left:10px; color:#000; font-size:13px}

/* 스페셜 기프트 */
.product_one_view.thumb.new_type .prd_all_wrap {position:relative; width:100%; padding-left:120px; height:120px}
.product_one_view.thumb.new_type .prd_all_wrap .product_visual_new {position:absolute; top:0; left:0; display:block; width:120px; height:120px}
.product_one_view.thumb.new_type .product_info_new {padding:0; height:120px; padding-top:23px}
.product_one_view.thumb.new_type .product_info_new .brand_name {font-size:15px}
.product_one_view.thumb.new_type .product_info_new .prd_name {overflow:hidden; display:-webkit-box; max-height:40px; margin-top:4px; color:#222; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-break:break-all; white-space:normal; font-size:15px; line-height:16px}
.product_one_view.thumb.new_type .product_info_new .price_wrap {margin:7px 0 0 -2px}
.product_one_view.thumb.new_type .one_thumb_wrap {width:100%; padding-bottom:9px; text-align:center}
.product_one_view.thumb.new_type .one_thumb_list01 {padding:0; overflow:hidden}
.product_one_view.thumb.new_type .one_thumb_list01 .img_thumb01 {margin:0 5.5px}

/* 구매금액대별 사은품 */
.prd_swipe_one .product_one_view.price_prd01 > a .product_info_new .prd_brand {margin-bottom:8px; font-weight:bold}
.price_prd01 .p_type {display:block; margin-bottom:7px; color:#000; font-size:15px; font-weight:bold}

/* 메인 - 진행중인 이벤트 레이어 팝업 */
.m_evt_area div a {display:block; border-top:1px solid #fff}
.m_evt_area div:first-child a {border-top:0}

.recently_prd01.swipe_wrap {height:279px;}