@charset "UTF-8";

/* 마이파우치 주문 */
.my_order_list .select_type01_new {border-left: 0;}
.my_order_list .sort_filter .sort {width: 37%;}

.my_order_list .select_wrap select {display:inline-block; width:100%; padding:0 15px 0 0; height:40px; background:url("/mo/ko/images/my/select_arrow_20.png") 94% 50% no-repeat; background-size:10px 5px; color:#222; border:0; font-size:13px; text-indent:0; vertical-align:baseline}

.my_order_list .serach_wrap .btn_search,
.my_order_list .serach_wrap .btn_close {display: block; height: 40px; line-height: 40px; background-color: #fff;}
.my_order_list .serach_wrap .btn_close {display: none;}

.my_order_list .sort_filter .search_form {display: none; z-index: 10; height: 55px;}
.my_order_list .sort_filter .search_form input {font-size: 14px;}

.my_order_list .order_title small {font-size: 12px; color: #999999;}
.my_order_list .order_title em {color: #782fff;}

/* 주문 리스트 */
.my_order_list .order{padding: 0 16px 16px;}
.my_order_list .order_title{}
.my_order_list .order_title>a{position:relative; display:block; height: 46px; padding-top: 16px; border-bottom:1px solid #f2f2f2;}
.my_order_list .order_title .date{margin-right: 10px;}
.my_order_list .order_title em{position:absolute; top:16px; right:0;}
.my_order_list .product_list{margin-top: 18px;}
.my_order_list .product{display:table; width: 100%; table-layout: fixed;}
.my_order_list .product>*{display:table-cell; vertical-align: middle;}
.my_order_list .product .product_visual{width: 90px !important;}
.my_order_list .product .price_area{margin-top: 8px;}
.my_order_list .product .price_area span + span {position:relative; margin-left: 5px; padding-left: 8px;}
.my_order_list .product .price_area span + span:before{content:''; position:absolute; top:2px; bottom:2px; left:0; width: 1px; background: #b7b7b7;}
.my_order_list .product .btn_border_round{display:inline-block !important; height: 22px; margin-top: 10px; padding: 0 10px; font-size: 11px;}
.my_order_list .order_btns{margin-top: 25px;}
.my_order_list .order_btns>*{position:relative; border-radius: 5px; font-size: 15px; color:#222; border-color: #eaeaea;}
.my_order_list .order_btns>* i{position:absolute; top:50%; right:11px; transform:translateY(-50%)}
.my_order_list .order_btns.col_03>*{width:calc((100% - 10px) / 3 ); min-width: inherit;}
.my_order_list .order_btns + .order_btns{margin-top:8px;}

.my_order_list .order .ico_arr_p {height: 13px;}
.my_order_list .product_list_order {padding: 0;}
.my_order_list .product_list_order li {padding-bottom: 0; border-top: 0; position: relative;}
.my_order_list .product_list_order li.product_order .price_area {margin-top: 10px; padding-bottom: 35px;}
.my_order_list .product_list_order li.product_order .price_area .price,
.my_order_list .product_list_order li.product_order .price_area .amount {font-size: 14px; color: #4e4e4e;}
.my_order_list .product_list_order li.product_order .price_area .price {position: relative; margin-right: 5px;}
.my_order_list .product_list_order li.product_order .price_area .price:after {content: ""; position: absolute; right: 0; top: 50%; width: 1px; height: 10px; background-color: #b7b7b7; margin-top: -5px;}
.my_order_list .product_list_order li.product_order .btn_border_round {position: absolute; left: 99px; bottom: 15px; width: auto; padding: 0 10px; height: 20px; line-height: 20px; font-size: 11px; color: #000;}

.my_order_list .btn_col2_area {overflow: hidden; position: inherit; left: inherit;border: inherit;}
.my_order_list .btn_col2_area li:first-child {padding-right: 5px;}

.my_order_list .only_btn {padding: 16px;}

/* 주문/배송조회 상세 */
.my_order_detail .ap_order{margin-top: 9px; padding-bottom: 0;}
.my_order_summary dl + dl,
.my_order_detail .order_info dl + dl{border-top: 1px solid #f2f2f2;}
.layer_popup .ap_order{padding-bottom: 0;}

/* 주문 상세 */
.my_order_summary{padding: 0 16px;}
.my_order_summary>dl:after{content:''; display: block; clear: both;}
.my_order_summary>dl dt {float: left; height: 48px; line-height: 48px;}
.my_order_summary>dl dd {float: right; height: 48px; line-height: 48px; color: #782fff;}
.my_order_summary>dl dd.num a {color: #782fff;}

.my_order_detail .ui_accordion>dl>dt .title{padding: 5px 0;}
.my_order_detail .ui_accordion>dl>dd{background: #fff; border-top:1px solid #f2f2f2;}
.my_order_detail .order_info {font-size: 15px;}
.my_order_detail .order_info.ui_accordion>dl>dd {padding: 0 16px;}
.my_order_detail .order_info>dl>dd>*{padding: 20px 0;}
.my_order_detail .order_info .text_wrap {margin-top: 20px; line-height: 1.2;}
.my_order_detail .order_info .text_wrap .text {margin-top: 10px;}
.my_order_detail .order_info .text_wrap .text:first-child {margin-top: 0;}
.my_order_detail .order_info .relative {position: relative;}
.my_order_detail .btn_address_change {position:absolute; top:16px; right:0; font-size: 13px;}
.my_order_detail .btn_address_change .ico_navi.next {margin: 0 0 0 5px; height: 20px;}
.my_order_detail .event_product_wrap .h_title {padding-bottom: 0;}

.my_order_detail .layer_tooltip dt{padding:16px 0 15px; font-size: 14px; color:#484848}
.my_order_detail .layer_tooltip dd {padding:19px 0 18px; color:#484848; letter-spacing: -1px; line-height: 18px}
.layer_tooltip dd .text {margin-top: 4px;}
.layer_tooltip dd .text:first-child {margin-top: 0}

.my_order_detail .gift_wrapping_text {margin: 20px 0; font-size: 15px;}

.ap_order .product_slide_new.gift_wrapping .three_half {padding: 0;}

.my_order_detail .payment_info .h_title{padding-bottom: 20px;	font-size: 16px; font-weight: 600;}
.my_order_detail .payment_info dd dl{padding: 0 16px 25px;}
.my_order_detail .payment_info dd dt{position:relative;}
.my_order_detail .payment_info dd dd{position:relative; color:#484848; margin-top: 8px; padding: 0;}
.my_order_detail .payment_info span{display:inline-block; line-height: 1.2;}
.my_order_detail .payment_info span.account{letter-spacing: -1px}
.my_order_detail .payment_info span + span{position:relative; margin-left: 10px; padding-left: 10px;}
.my_order_detail .payment_info span + span:before{content:''; position:absolute; top:2px; left:0; width: 1px; height:12px; background: #cdcdcd;}
.my_order_detail .payment_info .title{position:absolute; top:0; left:0;}
.my_order_detail .payment_info .title + span{display:block; margin-left: 85px;}
.my_order_detail [class^="btn_lg"]{position:relative; font-size: 15px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.my_order_detail [class^="btn_lg"] i{position: absolute; top:50%; right:10px; transform: translateY(-50%)}
.my_order_detail .page_btns{margin: 9px;}
.my_order_detail .page_btns.col_03>*{width:calc((100% - 10px) / 3 ); min-width: inherit;}
.my_order_detail .page_btns + .page_btns{padding-top: 0;}
.my_order_detail .page_btns .btn_h50_wh + .btn_h50_pp {margin-top: 9px;}
.my_order_detail .page_btns .btn_h50_pp {position: relative; line-height: 15px;}
.my_order_detail .page_btns .ico_arr_w {position: absolute; right: 10px; top: 50%; margin-top: -9px;}

.my_order_detail .btn_col2_area {overflow: hidden; position: inherit; left: inherit;border: inherit; width: auto;}
.my_order_detail .btn_col2_area li:first-child {padding-right: 5px;}

.my_order_detail .section .list {padding: 0 16px;}
.my_order_detail .section:last-child .list {margin: 30px 0}
.my_order_detail .section .list li {color: #999;}
.my_order_detail .section .list li .underline {border-bottom: 1px solid #a9a9a9;}

/* 주문 취소 */
.my_order_chages .ui_accordion .title {font-size: 16px; color: #782fff;}
.my_order_chages .check_btn_set {background-color: #fff;}
.my_order_chages .check_btn_set.inline{display:block !important; height: auto; margin: 12px -2px 0; padding: 0 16px; white-space: normal;}
.my_order_chages .check_btn_set.inline>*{margin: 0 2px 7px;}

.my_order_chages .write_box {padding: 0 16px 25px; margin-top: 15px;}
.write_box .btn_write {position:relative; display: block; width: 100%; padding-right: 15px; font-size: 15px; text-align: left; line-height: 1.4 !important; color:#484848;}
.write_box .btn_write {font-size: 16px; color: #782fff;}
.write_box .btn_write i {position:absolute; top:50%; right:0; margin:-9px 0 0; opacity:.3}
.write_box .btn_write .text.notice {display: block; margin-top: 10px; font-size: 13px; color: #999999;}

.my_order_chages .float_area {overflow: hidden; padding:18px 16px;}
.my_order_chages .float_area .f_left {float: left;}
.my_order_chages .float_area .f_right {float: right;}

.my_order_chages .payment_info .title{padding-bottom: 25px; color:#999; font-size: 15px;}
.my_order_chages .payment_info dd{font-size: 17px;}
.my_order_chages .payment_info dd + dd{margin-top: 23px;}
.my_order_chages .payment_info span{display:inline-block; line-height: 1.2; letter-spacing: -1px}
.my_order_chages .payment_info span.account{letter-spacing: -1px}
.my_order_chages .payment_info span + span{position:relative; margin-left: 10px; padding-left: 10px;}
.my_order_chages .payment_info span:not(.hidden) + span:before{content:''; position:absolute; top:4px; left:0; width: 1px; height:13px; background: #cdcdcd;}
.my_order_chages .payment_info span.hidden{visibility: hidden;}

.my_order_chages .event_product_wrap {background-color: #fff;}
.my_order_chages .event_product_wrap .h_title{margin:0 16px; padding: 16px 0 0 0; font-size: 13px; border-top:1px solid #f2f2f2;}
.my_order_chages .product_list_order + .event_product_wrap .h_title {border-top:1px solid #f2f2f2;}
.my_order_chages .event_product_wrap .h_title .flag{display: inline-block;	height: 22px; padding: 0 10px; margin-right: 7px; line-height: 20px; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 11px; font-size: 11px; vertical-align: middle;}
.my_order_chages .event_product_wrap .product_order + .product_order {border-top: 0 !important; padding-top: 9px}
.my_order_chages .event_product_wrap .product_order{min-height: inherit;}

.my_order_chages .notice_list {padding: 24px 16px 85px; background-color: transparent;}
.my_order_chages .notice_list li {margin-top: 22px; color: #b3b3b3; line-height: 20px;}
.my_order_chages .notice_list li:first-child {margin-top: 0;}

/* 반품 */
.goods_amount {position: relative;}
.goods_amount .ui_spinner {position: absolute; left: 122px; top: 0; z-index: 5;}
.goods_amount .price {position:relative; display:block; height: 32px; font-size: 15px; padding-top: 15px; text-align: right;}
.goods_amount .price {font-size: 13px; padding-top: 18px; color:#484848}
.goods_amount .price del {position:absolute; top:2px; right:0; font-size: 11px;}

/* 교환 */
.my_order_chages .order_layer {z-index: 110;}
.goods_amount .btn_order_edit {margin: 11px 0 0 122px;}

/* 사유 팝업 */
.review_write_form {position: relative;}
.review_write_form .layer_cont{height: 100%;}
.review_write_form .textarea {padding: 20px 16px; height: 100%; background-color: #fff;}
.review_write_form .textarea textarea {border: 0; padding: 0; height: 200px;}
.review_write_form .textarea textarea::-webkit-input-placeholder {color: #b3b3b3;}
.review_write_form .textarea textarea::-moz-placeholder {color: #b3b3b3;}
.review_write_form .textarea textarea:-ms-input-placeholder {color: #b3b3b3;}
.review_write_form .textarea textarea:-moz-placeholder {color: #b3b3b3;}
.review_write_form .text_limit{font-size: 16px; color:#b3b3b3; text-align: right;}
.review_write_form .btn_submit {position: absolute; right: 0; top: 0; z-index: 150; width: 50px; height: 50px; font-size: 17px; color: #999999; font-weight: 400;}
.review_write_form .btn_back {position: absolute; left: 0; top: 0; z-index: 150; width: 50px; height: 50px;}