@charset "UTF-8";

/* 마이파우치 주문 */
.my_order_list .select_type01_new {border-left: 0;}
.my_order_list .sort_filter .sort {width: 37%;}

.my_order_list .select_wrap select {display:inline-block; width:100%; padding:0 15px 0 0; height:40px; background:url("/mo/ko/images/my/select_arrow_20.png") 94% 50% no-repeat; background-size:10px 5px; color:#222; border:0; font-size:13px; text-indent:0; vertical-align:baseline}

.my_order_list .serach_wrap .btn_search, 
.my_order_list .serach_wrap .btn_close {display: block; height: 40px; line-height: 40px; background-color: #fff;}
.my_order_list .serach_wrap .btn_close {display: none;}
	
.my_order_list .sort_filter .search_form {display: none; z-index: 10; height: 55px;}
.my_order_list .sort_filter .search_form input {font-size: 14px;}

.my_order_list .order_title small {font-size: 12px; color: #999999;}
.my_order_list .order_title em {color: #782fff;}