@charset "UTF-8";

.my_page .btn_h46_bk,
.ui_find_addresses .btn>button {font-weight: normal}
/* 마이 파우치(overview) */
.my_pouch .section.pd_md {padding:30px 18px;}

.my_pouch small{font-size: 12px; font-weight:bold; color:#ccc; vertical-align: top}
.my_pouch .h_title{position:relative; display:inline-block; padding: 0 5px; margin-bottom: 18px; font-size: 24px;}
.my_pouch .h_title:before{content:''; position:absolute; bottom:-2px; left:0; right:0; z-index: 0; height: 6px; background: #dfe4f8;}
.my_pouch .h_title>span{position: relative; z-index: 1;}
	.btn_gray_round{padding:0 10px;height: 22px; background: #ebebeb; color:#222; line-height: 22px; font-size: 10px; text-align: center; border-radius:11px; font-weight: bold;}
.link_list{padding:0 8px}
.link_list>li>a{position: relative; display:block; height:58px; padding:22px 25px 0 8px; font-size: 15px;}
.link_list>li>a>*:first-child{float:left; font-weight: bold; color:#000; font-size: 16px}
.link_list>li>a>* + *{float:right}
.link_list>li>a>b.num { font-weight: bold; color:#000; font-size: 16px}
.link_list small {font-size: 13px; padding-left: 5px}
.link_list>li>a:after{content:''; position: absolute; top:50%; right:8px; width:8px; height:14px; margin-top: -7px; background: url(/mo/ko/images/my/ico_box_arr.png) no-repeat; background-size: 8px;}
.link_list>li + li:before{content:''; display: block; height:1px; background: #efefef;}


.my_pouch .membership{position: relative; padding:27px 0 27px  95px;}
.my_pouch .membership .welcome_text{margin-bottom: 10px; font-size: 19px; letter-spacing: -1px; font-weight: normal;line-height: 22px; word-break: keep-all;}
.my_pouch .membership .welcome_text em {color:#782fff}
.my_pouch .membership p + p{margin-top: 2px;}
.my_pouch .membership:before{content: ''; position:absolute; top:23px; left:28px; width:40px; height:40px;background:url(/mo/ko/images/my/ico_grade.png) no-repeat; background-size: 40px;}
.my_pouch .membership.vip:before{background-position: 0 -40px;}
.my_pouch .membership.vvip:before{background-position: 0 -80px;}
.my_pouch .membership.vip_plus:before{background-position: 0 -120px;}
.my_pouch .membership.vvip_plus:before{background-position: 0 -160px;}
.my_pouch .membership .btn_gray_round{position: absolute; left:20px;/*bottom:26px;*/ top: 70px}
.my_pouch .membership p.text {margin-top: 15px; line-height: 19px}


.my_order{text-align: center;}
.my_order button small + i{margin-top: 0; opacity:.3;}
.my_order .process{width:calc(100% + 16px); margin: 20px -8px 0;}
.my_order .process a{display: block; font-size: 15px; text-align: center;}
.my_order .process .num{font-size: 28px; font-weight: 300; color:#782fff}
.my_order .process span{display: block; margin-top: 10px; font-size: 14px; color:#000; }
.my_order .process>li+li{position: relative;}
.my_order .process>li+li:before{content: ''; position: absolute; top: 0; left:-3px; width:8px; height:14px; background: url(/mo/ko/images/my/ico_box_arr.png) no-repeat; background-size: 8px;}
.my_order .more>* + *{margin-top: 0;}

.my_p_point{text-align: center;}
.my_p_point [class^="ico_"]{display:block; width: 35px; height: 35px; margin: 0 auto 10px; background:url(/mo/ko/images/my/ico_my_point.png) no-repeat; -webkit-background-size: 35px;background-size: 35px;}
.my_p_point .ico_p1{background-position: 0 0;}
.my_p_point .ico_p2{background-position: 0 -35px;}
.my_p_point .ico_p3{background-position: 0 -70px;}
.my_p_point .ui_table>li{text-align: center;}
.my_p_point .ui_table>li + li{position:relative;}
.my_p_point .ui_table>li + li:before{content:''; position:absolute; top: 16px; height: 25px; left:0; width: 1px; background: #ccc;}
.my_p_point .num{display:block; margin-top: 8px; font-size: 16px; font-weight: bold; color: #000}

.my_pouch .link_list [class^="ico_"]{float:left; width:21px; height:20px; margin-right: 20px; background:url(/mo/ko/images/my/ico_my.png) no-repeat; background-size: 21px;}
.my_pouch .ico_order{background-position: 0 0 !important;}
	.ico_addr2{background-position: 0 -20px !important;}
	.ico_card{background-position: 0 -40px !important;}
	.ico_coin{background-position: 0 -60px !important;}
	.ico_alram{background-position: 0 -80px !important;}
.my_pouch .ico_good{background-position: 0 -100px !important;}
	.ico_counsel{background-position: 0 -120px !important;}
	.ico_member{background-position: 0 -140px !important;}
.my_pouch .link_list [class^="ico_"] + span{float:left; height: 20px; line-height: 20px; font-size: 15px; color:#000; }
.my_pouch .link_list.icon >li>a{padding-top: 20px}
.my_pouch .link_list.icon >li>a:after{display: none;}
.my_pouch .link_list.icon >li.open>a:after {display: block;}

.link_list .order_list{display:none; margin:0 -8px; background-color:#fafafa}
.order_list{padding: 0 8px; background: #fafafa; border-top: 1px solid #efefef; }
.order_list>li>a{display: block; padding: 15px 8px; line-height: 1.5; font-size:15px !important;}
.order_list>li + li{border-top:1px solid #e4e4e4;}
.order_list .order_num{color:#888;}
.order_list .order_status{margin:2px 0; overflow: hidden;}
.order_list .order_status,
.order_list .price {color:#000}
.order_list .order_status>.ellipsis{width:calc(100% - 95px);display: inline-block; vertical-align: top}
.order_list .order_status>.ellipsis + span {float: right;}

.delivery_infomation{position:relative; max-width: 360px; margin: 0 auto; padding: 56px 0 50px 60px; background: #fff;}
.delivery_infomation:before{content:''; position:absolute; top: 59px; left:33px; bottom:96px; width:2px; background: #eee;}
.delivery_infomation dl{position:relative;}
.delivery_infomation dl:before{content:''; position:absolute; top:0; left:-33px; width: 15px; height: 15px; border:2px solid #eee; border-radius: 50%; background: #fff;}
.delivery_infomation dt{padding-bottom: 15px;}
.delivery_infomation dd{font-size: 15px; letter-spacing: -1px; color:#999;}
.delivery_infomation dl + dl{margin-top: 60px;}

@media screen and (max-width:360px){
	.delivery_infomation{padding-left:40px;}
	.delivery_infomation:before{left:20px;}
	.delivery_infomation dl:before{left:-27px;}
}
/* 고객 등급별 혜택 레이어*/
.layer_popup .my_pouch .section{margin-bottom: -20px;}
.layer_popup .my_pouch .membership{padding-left: 50px;}
.layer_popup .my_pouch .membership:before{left:0; margin-top: -20px;}

/* 좋아요 */
.ap_good .tab_menu ul>li>button {padding:0}
.ap_good .btn_toggle .count{display:block; margin:5px 0 0;}
.ap_good .timeline>dl{position:relative; margin-top: 9px; padding: 10px 16px; background: #fff;}
.ap_good .timeline>dl:before{content:''; position:absolute; top:15px; left:35px; bottom:0; width: 2px; background: #efefef;}
.ap_good .timeline dt{position:relative; z-index: 1; display:inline-block; padding-bottom: 8px;}
.ap_good .timeline dt>*{display:inline-block; vertical-align: middle;}
.ap_good .timeline dt>*:first-child{width: 40px; height: 40px; margin-right: 7px; border-radius: 50%; background: #d1d1d1; color:#fff !important; text-align: center; line-height: 40px; font-size: 11px;}
.ap_good .timeline dt>em:first-child{background: #782fff;}
.ap_good .timeline dt .date{font-size: 19px; color:#000}
	.timeline .timeline_list{padding-left: 35px;}
		.timeline_list li{position:relative; width: 100%; display: table; padding:15px 35px 15px 90px;}
		.timeline_list li:before{content:''; position:absolute; top:27px; left:-20px; width: 9px; height: 9px; border-radius:50%; background: #d1d1d1;}
		.today dd li:before{background-color: #782fff;}
		.timeline_list li + li {border-top: 1px solid #ebebeb;}
		.timeline_list .info{display:table-cell; height: 80px; vertical-align: middle; line-height: 1.3; font-size: 16px;}
		.timeline_list .info .time{display:block; color:#888888; font-size: 15px;}
		.timeline_list .thumb{position:absolute; top:15px; left:0; display:inline-block; overflow: hidden; width: 80px; height: 80px; border-radius: 50%;}
		.timeline_list .event .thumb>img{position:absolute; top:0; right:0; width: auto; height:100%}
		.timeline_list .ui_close{position:absolute; top:15px; right:0; width: 20px; height: 20px; opacity:.3; padding-top: 0;}

.ap_good .product_list_new .product_new {position: relative;}
.ap_good .product_list_new .product_new .btn_add_cart {width: 40px; height: 40px; position: absolute; left: 100px; top: 100px; background-color: transparent}

.ap_good .no_data{margin-top:9px;padding: 100px 0 130px; text-align: center; color:#999; background-color:#fff}
.ap_good .no_data .copy{margin: 10px 0; padding: 0 20px;font-size: 24px; text-align: center; color:#000; line-height: 30px}
.ap_good .no_data .copy>*>*{vertical-align: top;}
.ap_good .no_data .copy>*:first-child{position:relative; display:inline-block; max-width:100%; padding-right:134px;}
.ap_good .no_data .copy .name{display:inline-block; max-width: 100%;}
.ap_good .no_data .copy .etc{position:absolute; top:0; right:0;}
.ap_good .no_data .ico_heart{width: 51px; height: 44px; background-position: -105px -45px;}
.ap_good .no_data .copy+.text {line-height: 19px; color:#888}

/* 나의 리뷰 */
.my_review .section {padding:28px 16px}
.my_review .section .text_center {font-size: 16px;}
.my_review .section:first-child {padding:28px 27px; text-align: center; line-height: 20px}
.my_review .section .text {font-size: 14px; color:#999; line-height: 20px}
.my_review .section .text b {display: inline-block; margin-bottom: 5px;font-size: 15px; color:#222; line-height: 22px;}

.my_review .tab_menu {margin-top: 0 !important}
.my_review .product_list .product{display:table; width: 100%;}
.my_review .product_list .product>*{display:table-cell; vertical-align: middle;}

.my_page .review_writable .product_info>* + * {margin-top: 0}
.my_page .review_writable{margin-top: 9px;}
.my_page .review_writable>li:after{display:none;}
.my_page .review_writable>li>a,
.my_page .review_writable .product_info{padding-right: 0 !important;}
.my_page .review_writable .btn_border_round{display:inline-block; padding: 0 15px; border-radius: 5px; border-color: #eaeaea; height: 40px;color:#222; line-height: 40px}
.my_page .review_writable small{font-size: 14px; font-weight: normal; color:#999; padding: 10px 0 12px}
.my_page .review_list .review{padding: 18px 16px; font-size: 14px;}
.my_page .review_list .review .rating .count {font-size: 15px }
.my_page .review_list .review>dt{padding-bottom: 15px;}
.my_page .review_list .review>dt>span{display:inline-block; vertical-align: middle; color:#999;}
.my_page .review_list .thumb{width: 40px; height: 40px;}
.my_page .review_list .thumb + .product_name{width: calc(100% - 50px); padding: 0; margin: 0;}
.my_page .review_list .review .text{margin: 14px 0 15px; color:#646464;overflow: hidden;text-overflow: ellipsis;display: block; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;line-height: 20px;height: 40px;}
.my_page .review_list .review .ui_attach li a {display: inline-block; z-index: 100}
.my_page .ui_attach>li.attached:first-child:before {display: none;}
.my_page .review_list .review .ui_attach>li:first-child a:before {content: '대표'; position: absolute; top: 0; right: 0; bottom: 0; left: 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: rgba(0, 0, 0, 0.5); text-align: center; color: #fff; line-height: 85px;}

.my_page .review_list .review .bottom{overflow:hidden;border-top:0; padding:0; margin:0; height:auto;}
.my_page .review_list .review .btn_area {float: right;}
.my_page .review_list .review .bottom div>* + * {margin-left: 2px;}
.my_page .review_list .review .btn_border_round {display: inline-block; border-radius: 5px; border-color: #eaeaea; height: 40px; color:#222; padding:0 15px;}
.my_page .review_list .ui_attach{margin:15px -16px 0; padding: 0 16px;}
.my_page .review_list .flag{display:inline-block; height: 20px; padding: 0 5px; margin-right:5px;background: #1fb3f1; color:#fff; vertical-align: top; line-height: 20px; font-size: 11px;}
.my_page .review .date {font-size: 14px; float: left; line-height: 40px; padding-top: 0}

.pop_review .section {padding:25px 15px; line-height: 19px}
.pop_review .review_writable .product_info>* + * {margin-top: 0}
.pop_review .review_writable .product_info .rating {margin-top: 8px}
.pop_review .review_writable .product .product_visual {width: 80px}
.pop_review .review_writable .product {padding:17px 16px 17px 10px;}
.pop_review .review_writable .product_info {position: relative;}
.pop_review .review_writable .product_info:before {content: ''; position: absolute; top: 50%; right: 0; width: 11px; height: 19px; margin-top: -9px; background: url(/mo/ko/images/common/ico_arr_aside2.png) no-repeat 0 0; -webkit-background-size: 11px 19px; background-size: 11px 19px;}

.pop_review .review_writable .product_info .product_name {max-height: 23px;-webkit-line-clamp:1 }

/*리뷰작성 display.css에서 가져옴*/
.review_write{position:relative; height:calc(100% - 9px); padding-bottom: 120px}
.review_write.step1{padding-top: 27px; text-align: center; min-height: inherit !important;}
.review_write.step1 .thumb{width: 115px; height: 115px; margin:0 auto 27px;}
.review_write.step1 dt{font-size: 15px; color:#333; line-height: 1.5;}
.review_write.step1 dt>*{display:block; line-height: 19px}
.review_write.step1 .review_copy{margin: 27px 0 15px;padding:0 10px;font-size: 22px; color:#222}
.review_write.step1 .text.notice{width: 100%; color:#999; font-size: 14px; line-height: 21px}
.review_write.step1 .review_summary {padding-bottom: 90px}
.review_write.step1 .review_summary .review_copy:before{left: -10px}
.review_write.step1  .review_summary .review_copy:after {left: inherit; right: -10px;}
.review_write.step1 .review_summary .rating {display: block;}
.review_write.step1 .align_center {margin-top: 23px}
.review_write.step1 .align_center button {font-size: 16px; color:#ccc}
.review_write.step1 .align_center .btn_skip .ico_navi {margin-top: -1px; opacity: .2;}
.review_write.step1 .align_center .btn_next {color:#782fff}
.review_write.step1 .align_center .btn_next .ico_navi_p {margin-top: -1px}
.review_write .review_product_summary>dt{padding-bottom:10px; font-size: 15px; color:#999;}
.review_write .ui_accordion{background: #fff;}
.review_write .ui_accordion>dl>dt{padding: 18px 40px 18px 16px;}
.review_write .ui_accordion>dl>dt.on{height:auto; color:#782fff;}
.review_write .photo_upload>dl>dt.on .title{color:#782fff;}
.review_write .ui_accordion dt .ico_navi{transform: rotate(-90deg); opacity:.3;}
.review_write .ui_accordion dt.on .ico_navi{transform: rotate(90deg)}
.review_write .ui_accordion .cont{padding: 0 16px 20px;}
.review_write .review_grade dt{padding-bottom: 13px; font-size: 15px; color:#222;}
.review_write .review_grade dl + dl{margin-top: 30px; }
.check_btn_set.inline{white-space: nowrap; height: inherit;}
.check_btn_set.inline>span{display:inline-block;}
.check_btn_set.inline label{height: 38px; line-height: 36px; padding: 0 10px; border-left-width:1px; border-radius: 9px; font-size: 15px; color:#484848;}
.check_btn_set.inline label:before{display:none;}
.check_btn_set.inline>* + * input:checked + label:before{display:none;}
.check_btn_set.inline span + span{margin-left: 7px;}
.review_write .ui_attach{margin:0 -16px; padding:27px 16px 0 16px;}
.review_write .ui_accordion .ui_attach{padding:10px 16px;}
.review_write .btn_skip{color:#999;}
.review_write .btn_skip .ico_navi{opacity:.3;}
.review_write .btn_write{position:relative; width: 100%; padding-right: 17px; font-size: 15px; text-align: left; line-height: 1.4 !important; color:#484848;}
.review_write .btn_write em{font-size: 16px;}
.review_write .btn_write i{position:absolute; top:50%; right:0; margin:-9px 0 0; opacity:.3}
.review_write .btn_write + p.text{margin-top: 10px;}
.review_write .text.notice{font-size: 13px; color:#999;}
.review_guide{position:absolute; bottom:16px; width: 100%; height: 52px; white-space: nowrap;}
.review_guide .ix-list-viewport{height: 52px;}
.review_guide .ix-list-items{position:relative; width: 100%; height: 52px;}
.review_guide .ix-list-item{padding:1px 0 1px 16px; background: #fff;}
.review_guide .bubble{position:relative; display:inline-block; height: 50px; padding: 18px 30px 0; background: #13c0dc; border-radius: 25px; color:#fff;}
.review_guide .bubble:before{content:''; position:absolute; bottom:0; left:0; width: 27px; height: 7px; background:url(/mo/ko/images/display/bg_review_guide.png) no-repeat; -webkit-background-size: 100%;background-size: 100%;}
@media screen and (max-width:320px){
	.review_write.step1{padding-top: 40px;height: inherit; }
	.review_write.step1 .text.notice{font-size: 13px;}
	.check_btn_set.inline{}
	.check_btn_set.inline span + span{margin-left: 0px;}
	.check_btn_set.inline label{font-size: 13px;}
	.review_guide .bubble{padding: 18px 20px 0;}

}
.review_write.step2 {height: auto; padding-bottom: 0; position: static}
.review_write.step2 .review_product_summary {line-height: 22px}
.review_write.step2 .section {padding:25px 16px 30px 16px}
.review_write.step2 .section.photo_upload > dl > dt {padding-bottom: 0}
.review_write.step2 .section > dl > dt {padding-bottom: 27px}
.review_write.step2 .section:first-child > dl > dt {padding-bottom: 10px}
.review_write.step2 .section dt .title {font-size: 16px;}
.review_write.step2 .section:first-child {padding:22px 16px 19px 16px}
.review_write.step2 .section.review + .cheak_area {padding:42px 16px 15px 16px}
.review_write.step2 .section.review + .cheak_area label {font-size: 14px; color:#999; margin-left: 40px}
.review_write.step2 .section.review + .cheak_area .chk_h28 {position: relative;}
.review_write.step2 .section.review + .cheak_area .chk_h28 input {position: absolute;left: 0; top:8px}
.review_write.step2 .section.review + .cheak_area .chk_h28 + a {display: inline-block;color:#666; margin:7px 0 0 40px}
.review_write.step2 .rating .text {font-size: 17px; vertical-align: middle; margin-left: 5px}
.review_write.step2  .ui_attach .ico_oper.plus {margin:0 auto; opacity: 1}
.review_write.step2  .ui_attach .ico_oper.plus + span {display: inline-block;margin-top: 7px}
.review_write.step2  [class*="ico_oper"]:after,
.review_write.step2 [class*="ico_oper"]:before {background:#999}
.review_write.step2 .photo_upload .color_light_gray {color:#b3b3b3; line-height: 20px; margin-top: 15px}
.review_write.step2 .photo_upload .color_light_gray .color_gray {color:#666}

.review_write.step2 .review dt {overflow: hidden;}
.review_write.step2 .review dt .count {float: right; color:#ccc}
.review_write.step2 .review dt .text_count {margin-right: 1px}
.review_write.step2 .review dt .text_count.on {color:#782fff}
.review_write.step2 .review textarea{width: 100%; height: 227px; border:0; color:#222; font-size: 15px; overflow: auto; font-family: 'Roboto', "Apple SD Gothic Neo", "Droid Sans", "Hevetica";}
.review_write.step2 .review textarea:focus {outline: 0}
.review_write.step2 .review textarea::-webkit-input-placeholder {color:#b3b3b3; font-size: 13px; line-height: 20px;}
.review_write.step2 .review + .section {padding:41px 0 15px 16px; background-color: transparent}
.review_write.step2 .review + .section .chk_wrap .chk_h28{overflow: hidden;}
.review_write.step2 .review + .section .chk_wrap .chk_h28 > * {float: left;}
.review_write.step2 .review + .section .chk_wrap .chk_h28 input {margin-top:4px}
.review_write.step2 .review + .section .chk_wrap .chk_h28.f_mid label {display: block;font-size: 14px; color:#999; }
.review_write.step2 .review + .section .chk_wrap .chk_h28 a {display: inline-block;color:#666; margin-top: 8px;}
.review_write.step2 .layer_btns button:disabled{background-color:#ccc !important}

.term_of_use.review .depth2 li {text-indent:-15px; margin-left: 17px}

/* 교환/반품 */
.return_info .ui_accordion>dl>dt .title{padding: 5px 0;}
	.return_product .product_name,
	.return_product .option_name,
	.return_product .price{overflow:hidden; display:block; color:#999; white-space: nowrap; text-overflow: ellipsis; font-size: 15px;}
	.return_product ul{padding: 0 16px;}
	.return_product li{margin-top: 0; padding: 16px 0; border-top:1px solid #f2f2f2; line-height: 1.5;}
.return_info .product_slide{padding: 0 16px 16px; background: #fff;}
.return_info .product{margin-top: 0;}
.return_info .three_half .product_info{font-size: 12px !important;}
.return_info .three_half .product_visual{width: 54px;}
.return_info .customer_info{padding: 0 16px 16px;}
.return_info .customer_info .btn_go{position:static; margin-top: 10px;}
.return_info .address_list{position:relative; overflow: hidden; display:block; max-height: 300px; padding: 0 16px;}
.return_info .address_list:after{content:''; position:absolute; bottom:0; left: 0; height: 40%; width: 100%; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}
.return_info .on .address_list{overflow:visible; max-height:inherit;}
.return_info .on .address_list:after{display:none;}
.return_info .address_list>li{padding: 16px; margin-top: 6px; border:1px solid #eaeaea; border-radius:5px; font-size: 14px;}
.return_info .address_list>li>button{width: 100%; text-align: left;}
.return_info .address_list + button{margin:0 !important}
.return_info .check_btn_set.inline{display:block !important; height: auto; margin: -7px -2px; padding: 0 16px 16px; white-space: normal;}
.return_info .check_btn_set.inline>*{margin:7px 2px;}
.return_info .btn_write{position:relative; width: 100%; padding-right: 15px; font-size: 15px; text-align: left; line-height: 1.4 !important; color:#484848;}
.return_info .btn_write em{font-size: 16px;}
.return_info .btn_write i{position:absolute; top:50%; right:0; margin:-9px 0 0; opacity:.3}
.return_info .btn_write + p.text{margin-top: 10px;}
.return_info .text.notice{font-size: 13px; color:#999;}

/* 배송지 입력/변경 */
.address_form .ui_table>dt{width: 90px;font-size: 17px; line-height: 19px}
.address_form .ui_table.type2>dt {vertical-align: top; padding-top: 12px}
.address_form .sel_space01{position: relative;}
.address_form .sel_space01:before {content: '';width: 6px; height: 1px; background-color:#ebebeb; position: absolute; left: 50%; top:50%; margin-left: -3px;}

/* 내 쿠폰 */
.my_coupon .section {padding:15px 16px;}
.coupon_form .title{padding:15px 0; font-size: 24px; color:#000; text-align: center; line-height: 20px;}
.coupon_form .input_group {position: relative;}
.coupon_form .input_group .input_h48_gray input {padding-right: 65px;}
.coupon_form .input_group .btn{width: 65px; height: 48px;position: absolute; right: 0; top: 1px}
.coupon_form .btn>button{padding: 0;}
.my_coupon .ui_accordion{border:1px solid #d9d9d9; border-top:0;}
.my_coupon .ui_accordion>dl>dt {padding:17px 40px 15px 20px; }
.my_coupon .ui_accordion>dl>dt .title {font-size: 15px;}
.my_coupon .ui_accordion>dl>dt>button .ico_navi{width: 18px; height: 11px; background: url(/mo/ko/images/my/ico_coupon_arrow.png) no-repeat; background-size: 18px 11px; transform: none; opacity: 1;transform: rotate(180deg);}
.my_coupon .ui_accordion>dl>dt em {color:#782fff}
.my_coupon .ui_accordion>dl>dt.on>button .ico_navi {transform: rotate(0);}
.my_coupon .ui_accordion>dl>dt{background: #ebebeb; border-top:1px solid #d9d9d9;}
.my_coupon .ui_accordion>dl>dd{margin-top: 0 !important; border-top:1px solid #d9d9d9; }
.my_coupon .ui_accordion>dl>dd .coupon_info {padding:21px; border-top: 1px solid #d9d9d9;}
.my_coupon .ui_accordion>dl>dd .coupon_info:first-child {border-top: 0}
.my_coupon .ui_accordion>dl>dd .coupon_info em {color:#782fff}
.my_coupon .coupon_info dd {position: relative;}
.my_coupon .coupon_info>dt{padding-bottom: 15px; font-size: 16px; line-height: 21px;}
.my_coupon .coupon_area {width: 113px; text-align: center;}
.my_coupon .coupon_area  .btn_gray_round {width: 54px; padding: 0}
.my_coupon .coupon_area .coupon{display: table;}
.my_coupon .coupon_area .coupon .inner {display: table-cell; vertical-align: middle; padding-top: 4px}
.my_coupon .coupon_cont {position: absolute;left: 127px; right: 0; top: 0; }
.my_coupon .coupon_info ul{letter-spacing:-0.5px; line-height: 1.3;}
.my_coupon .coupon_info li{padding: 7px 0;}
.my_coupon .coupon_info li:first-child {padding-top: 3px}
.my_coupon .coupon_info li + li{border-top: 1px solid #f3f3f3;}
.my_coupon .coupon_info li>* + *{color:#999}
.my_coupon .coupon{width: 108px; height: 60px; padding: 0; margin:0 auto 8px; background: #fff;}
.my_coupon .coupon>*{display:block; width: 100%; text-align: center;}
.my_coupon .coupon .num{font-size: 20px;}
.my_coupon .coupon small{font-size: 10px; color:#999; padding-top: 3px; display: block;}
.my_coupon .coupon:before {width: 5px}

/*마이페이지 레이어팝업*/
.layer_popup .mypage .layer_cont {padding-bottom: 14px}
.layer_popup .mypage .layer_cont .text {font-size: 15px; color:#000; line-height: 20px}
.layer_popup .mypage .layer_cont .product_list .product:first-child {margin-top: 0}
.layer_popup .mypage .layer_cont .product_list .product .product_visual {width: 90px}
.layer_popup .mypage .layer_cont .product_list .product .product_info {padding:0 0 0 8px}
.layer_popup .mypage .layer_cont .product_list .product .product_info .product_name {line-height: 18px; margin-top: 7px}
.layer_popup .mypage .layer_cont .product_list .product .product_info .product_area {margin-top: 7px;}
.layer_popup .mypage .coupon_list > li {padding:20px 0; border-top:1px solid #f3f3f3}
.layer_popup .mypage .coupon_list li:first-child {border-top: 0; padding-top: 0}
.layer_popup .mypage .coupon_list .title {padding-bottom:20px; font-size: 15px; color:#222; font-weight: bold;}
.layer_popup .mypage .coupon_list .text {font-size: 14px}
.layer_popup .mypage .btn_default_modal_confirm {color:#782fff; font-size: 16px; vertical-align: baseline;}

/* 뷰티 포인트 */
.my_beauty_point{}
.my_beauty_point .ui_table>table {display: inherit;}
.my_beauty_point .section {padding:16px 16px 0 16px;}
.my_beauty_point .btn_area {width: 167px; margin:15px auto; text-align: center}
/* .my_beauty_point .btn_area button {padding: 0 20px} */
.my_beauty_point .select_wrap {margin-bottom: 15px}
.my_beauty_point .select_wrap select {color:#999}
.my_pouch .section.banner>a{display: none;}
.point_summary{border:1px solid #d9d9d9;}
.point_summary em{color:#782fff}
.point_summary>dt{height: 52px; padding: 18px 0 0 19px; border-bottom:1px solid #d9d9d9; font-size: 15px; font-weight: bold; background: #ebebeb;}
.point_summary>dd{padding: 19px; text-align: center;}
.point_summary .ui_table dt{padding-bottom: 15px; font-size: 11px; font-weight: bold; border-bottom:1px solid #f3f3f3; color:#333}
.point_summary .data_table {border-top: 0}
.point_summary .ui_table th {font-size: 11px; color:#333; padding-top: 0}
.point_summary .ui_table td {padding:15px 0; font-weight: normal; border-bottom: 0; padding-bottom: 0}
.point_summary .ui_table td .font_xl {font-size: 18px}
.point_summary .data_table th,
.point_summary .data_table td {border-left: 0;}
.point_summary .ui_table .font_lg {display: block;font-size: 16px; color:#000; }
.point_summary .ui_table small{color:#999; display: block; font-size: 10px}
.point_summary .ui_table small .color_black {font-weight: bold;}
.point_summary .btn_gray_round{display:inline-block !important; width: auto; height: 30px; padding:0 15px; border-radius: 15px;font-size: 11px; color:#000; line-height: 30px}
.my_page .btn_lg_more {padding:22px 0; width: 100%; text-align: center; }
.my_page .data_table.th_gray th {font-size: 11px; color:#333}
.my_page .data_table.th_gray td {font-size: 14px; text-align: center}
.my_page .btn_lg_more .ico_down {width: 10px;height: 19px;background-position:-15px -20px; opacity: .3; transform: rotate(-90deg); margin-top: 0; margin-left: 10px}


.beautypoint_info {}
.beautypoint_info .section {padding:0 16px 35px 16px;}
.beautypoint_info .dl_cont dt {padding:31px 0 20px; font-size:16px; color:#000 }
.beautypoint_info .dl_cont dd p.text {font-size: 14px; line-height: 20px; color:#999}
.beautypoint_info .dl_cont + .dl_cont {margin-top:6px }
.beautypoint_info .data_table.th_gray td {text-align: center; color:#999; font-size: 12px;}
.beautypoint_info .data_table.th_gray td:last-child {text-align: left; padding-right: 0; letter-spacing: -1px}
.beautypoint_info .section.transparent {padding: 0}
.beautypoint_info .section .list li {font-size: 12px; line-height: 16px; color:#888; margin-top: 10px; }
.beautypoint_info .section .h_title + .list {padding-top: 16px}
.beautypoint_info .section .list_title {font-size: 13px}
.beautypoint_info .section .list li:first-child {margin-top: 0}
/* 기프트 카드 */
.my_giftcard .no_data {margin-bottom: -16px !important}
.my_giftcard .section {padding: 15px 16px;}
.my_giftcard .select_wrap select {color:#999}
.my_giftcard .ui_table table {display: inherit;}
.my_giftcard .ui_table table td span.font_xl {color:#000}
.my_giftcard .tab_contents>.select_wrap{margin: 15px 0;}
.my_page .tab_menu{margin-top: 5px}
.my_page .tab_menu button {padding: 0; width: 100%; font-size: 15px; color:#999}
.my_page .tab_menu ul>li.on>* {color:#782fff}
.my_page .tab_menu.equally>ul>li {padding:0; border-bottom: 0}
.giftcard_info{border:1px solid #d9d9d9;}
.giftcard_info dd .ui_table {font-size: 15px;}
.giftcard_info dd .color_light_gray dt,
.giftcard_info dd .color_light_gray dd {font-size: 13px}
.giftcard_info + .giftcard_info{border-top: 0;}
.giftcard_info .title{position: relative; height: 45px; padding:16px 19px 0; background: #ebebeb; font-size: 15px}
.giftcard_info .title small{position: absolute; top:50%; right:19px; transform:translateY(-50%); font-size: 11px; color:#999}
.giftcard_info>dd{padding: 19px;}
.giftcard_info .clear{line-height: 28px; overflow: hidden;}
.giftcard_info .clear .price {width: 70%; float: left;}
.giftcard_info .clear .align_right {float: right;}
.giftcard_info .clear .align_right dt {text-align: right;}
.giftcard_info .clear + *{position:relative; margin-top: 13px; padding-top: 13px; border-top:1px solid #f3f3f3; line-height: 23px;}
.giftcard_info .clear + *>.b_num{position:absolute; top:13px; right:0; font-size: 12px}
.giftcard_info .ui_table>dt{width: 90px;}
/* 결과 없음*/
.my_page .no_data{position:relative; height: 350px; margin: 0 -16px; background-color:#fff}
.my_page .no_data>b{position:absolute; top:50%; left:0; width: 100%; font-size: 24px; color: #ddd; text-align: center; transform:translateY(-50%); line-height: 30px;}

/* 배송지 관리 */
.my_address{}
.my_address .section:nth-child(2) {padding:15px 16px}
.my_address .address_summary{padding: 30px 0;text-align: center;}
.my_address .address_summary .btn_h46_bk {display: inline-block;}
.my_address .address_summary .copy em {color:#782fff}
.my_address .address_summary .copy{font-size: 24px; line-height: 32px;}
.my_address .address_summary .copy + p{margin-top: 15px;}
.my_address .address_summary [class^="btn_"]{min-width: inherit; width:112px; padding: 0; margin-top: 20px;}

.my_address .address_info{position:relative; border:1px solid #d9d9d9;}
.my_address .address_info + .address_info{border-top: 0;}
.my_address .address_info .title{height: 45px; padding:14px 19px 0; background: #ebebeb; font-size: 15px}
.my_address .address_info .title em {color:#782fff}
.my_address .address_info>dd{padding: 0 19px;}
.my_address .address_info .btns{position:absolute; top:0; right:13px;}
.my_address .address_info .btns>*{width: 30px; height: 45px;}
.my_address .address_info .ui_table>*{padding: 13px 0; line-height: 21px;}
.my_address .address_info .ui_table>dt{width: 90px;}
.my_address .address_info .ui_table.address>dt {vertical-align: top; padding-top: 13px}
.my_address .address_info .ui_table + .ui_table{border-top:1px solid #f3f3f3;}
.delivery_form {padding:15px 16px 0 16px}
.delivery_form .ui_table {margin-bottom: 8px}
.delivery_form .chk_wrap {margin-top: 17px}
.delivery_form .chk_h28 label {font-size: 17px;}

/* ONE pay 카드관리 */
.onepay_area {padding:30px 16px; background:#fff; text-align:center}
.onepay_area .one_title {color:#000; font-size:24px; font-weight:normal; line-height:24px}
.onepay_area .text {margin-top:16px; color:#000; font-size:16px; line-height:16px}
.card_add_onepay a {display:block; margin:20px auto 0 auto; padding-top:108px; width:249px; height:163px; background:#e6e6e6 url("/mo/ko/images/common/img_onepay_add.png") no-repeat 50% 40px; background-size:55px; color:#010101; border-radius:10px; font-size:16px}
.one_txt_area {margin:30px 16px 0 16px}
.one_txt_area .one_txt_tit {color:#000; font-size:13px}
.one_txt_area ul {margin-top:16px}
.one_txt_area ul li {margin-bottom:15px; color:#888; font-size:12px; line-height:17px}

/* .one_pay{}
	.card_registration{text-align: center; font-size: 16px;}
	.card_registration .h_title{font-size: 24px;}
	.btn_add_card{width: 250px; height: 163px; border-radius: 7px; background: #e6e6e6;}
	.btn_add_card i{width: 50px; height: 50px;}
	.btn_add_card span{display:block; margin-top: 14px;}
.one_pay .ui_accordion{padding: 0 16px; background: #fff;}
.one_pay .ui_accordion>dl>dt{padding:13px  0; margin-right: -16px; border-bottom: 1px solid #ebebeb;}
.one_pay .ui_accordion>dl>dt .title{padding:5px  0;}
.one_pay .card_number{height: 55px; font-size: 15px;}
.one_pay .card_number:after{content:''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.one_pay .card_number + .btns>button{width: 40px; height: 55px; text-align: right;}
.one_pay .card_info{margin-top: 10px; font-size: 15px;}
.one_pay .card_info dt{color:#999}
.one_pay .card_info .input_wrap>input{height: 35px; padding: 0; border:0; border-bottom:1px solid #f1f1f1;}
.one_pay .card_info .input_wrap>input:focus{border-bottom-color: #000;}
.one_pay .card_info .input_wrap .btn_del{right:0; font-size: 14px;}
.one_pay .card_info dl + dl{padding: 33px 0;}
.one_pay .card_info .check_wrap{margin-top: 12px; min-width: 110px;}
.one_pay .check_wrap>input:checked + label:before{background: #000;}
카드 등록
.one_pay .layer_cont .card_info{padding: 0 16px; font-size: 16px;}
.one_pay .layer_cont .card_info>dl{padding: 33px 0;}
.one_pay .layer_cont .card_info>dl + dl{border-top:1px solid #ebebeb;}
.one_pay .layer_cont .card_info dt{color:#000}
.one_pay .layer_cont .card_info .input_wrap>input{height: 39px; border-bottom-color: #ccc;}
.one_pay .layer_cont .card_info .check_wrap>label{font-size: 16px;}
.one_pay .layer_cont .card_info .text{margin-top: 10px; font-size: 13px;} */

/* 예치금/계좌관리 */
.deposit_summary{padding: 30px 16px;}
.deposit_summary .h_title,
.deposit_summary .price{font-size: 24px; text-align: center; line-height: 24px}
.deposit_summary .h_title{padding-top: 0}
.deposit_summary .price{padding: 10px 0 20px; color:#782fff;}
.deposit_summary .text {line-height: 21px; margin-top: 10px}

.my_deposit .ui_tab{margin-top: 9px;}
.my_deposit .ui_tab .tab_cont .section {padding:0 16px}
.my_deposit .ui_tab .tab_cont .sr_only + .section{margin-top: 0}
.my_deposit .tab_menu{padding: 15px 16px;}
.my_deposit .ui_multiple_date_picker .clear{padding: 0 0 0 16px; overflow: hidden;}
.my_deposit .ui_multiple_date_picker .clear>*{height: 46px; line-height: 46px}
.my_deposit .ui_multiple_date_picker .clear .date_info_area {float: left;}
.my_deposit .ui_multiple_date_picker .clear .date_info_area + .select_type02_new {float: right;}
/* .my_deposit .ui_multiple_date_picker .clear>*:before{content:''; display: inline-block; width: 0; height: 100%; vertical-align: middle;} */
.my_deposit .date_info_area{font-size: 12px; color:#999; }
.my_deposit .data_table + .input_wrap{margin-top:-1px;}
.my_deposit .data_table td:nth-child(2) {padding:12px 0}
.select_type02_new {height:40px; background:#fff;}
.select_type02_new select {display:inline-block; width:100%; text-align: right; padding:0 25px 0 0; height:40px; background:url("/mo/ko/images/my/select_arrow.png") no-repeat 90% 50%; background-size:7px 5px; color:#222; border:0; font-size:13px; text-indent:0; vertical-align:baseline}
.select_type02_new.disabled select {opacity: .4;color:#9e9e9e}
.my_deposit .btn_col2_area {overflow: hidden; position: inherit; left: inherit;border: inherit;}
.my_deposit .btn_col2_area li:first-child {padding-right: 2px;}
.my_deposit .btn_col2_area li:last-child {padding-left: 2px}
.my_deposit .balance {padding-bottom: 25px !important}
.my_deposit .balance .balance_area {padding:20px 10px 20px 16px}
.my_deposit .balance .balance_area p:last-child {margin-top:5px;}
.my_deposit .balance + .section {padding-top: 15px !important}
.my_deposit .balance .no_data {height:148px; }


.account_registration .copy{padding: 75px 0; font-size: 22px; text-align: center; color:#000;line-height: 30px;}
.account_registration .copy>span{display:inline-block; position:relative;}
.account_registration .copy>span:before,
.account_registration .copy>span:after{content:''; position:absolute; top:9px; left:-25px; width: 14px; height: 11px; background:url(/mo/ko/images/common/ico.png) no-repeat -135px -200px; -webkit-background-size: 200px;background-size: 200px;}
.account_registration .copy>span:after{left:auto; right:-26px; background-position: -135px -212px;}
.account_registration .section {padding:0 16px 30px 16px}
.account_registration .ui_table{margin-bottom: 10px}
.account_registration .ui_table>dt{width: 90px; font-size: 17px; }
.account_registration  p.text.font_xs{ font-size: 12px; line-height: 17px;}
.account_registration .ui_table + p.text {margin-top:20px }
.account_registration  p.text + .text {margin-top: 5px}
.account_registration .form_btns{margin-top: 85px;}

.inquiry .section {padding:16px}
.inquiry .section .list li {color:#999}
.inquiry .section .no_data {background-color: transparent; margin:0}
.inquiry .section:first-child [class^="btn_"] {width: 114px; display: inline-block;}
.inquiry .section:first-child {padding:0 0 30px 0; text-align: center;}
.inquiry .section:first-child .list{padding-bottom: 10px}
.inquiry .section .list li {font-size: 13px; line-height: 21px; margin-top: 5px; text-align: left;}
.my_inquiry{border:1px solid #d9d9d9; border-top:0;}
.my_inquiry>dl>dt{background: #ebebeb; border-top:1px solid #d9d9d9;}
.my_inquiry>dl>dt .title em {color:#782fff}
.my_inquiry>dl>dd{margin-top: 0 !important; border-top:1px solid #d9d9d9;}
.my_inquiry>dl>dd .answer p.text {font-size: 14px; line-height: 19px;}
.inquiry_list>dl{padding: 18px 21px 0;}
.inquiry_list>dl+dl{border-top:1px solid #d9d9d9;}
.inquiry_list>dl>dt{padding: 0 0 18px;}
.inquiry_list>dl>dt>button{position:static; width: 100%; margin-bottom: 8px; font-size: 16px; line-height: 21px; text-align: left;}
.inquiry_list>dl>dt .clear{position:relative; display:block;}
.inquiry_list>dl>dt small{display:block; font-size: 12px; color:#999}
.inquiry_list>dl>dt small + small{font-size: 10px}
.inquiry_list>dl>dt small + button{margin-top:10px; }
.inquiry_list>dl>dt .status{position:absolute; bottom:0; right:0;}
.inquiry_list>dl>dt .status.unread{opacity:.3;font-weight: bold;}
.inquiry_list>dl>dt .status i{margin-top: -3px;}
.inquiry_list>dl>dd{padding-bottom: 18px; border-top:1px solid #f3f3f3;}
.inquiry_list dd>dl{padding-top: 15px; color:#999}
.inquiry_list .question>dt,
.inquiry_list .answer>dt{width: 55px; height: 22px; margin-bottom: 10px; border:1px solid #333; border-radius:22px; text-align: center; font-size: 10px; line-height: 20px; letter-spacing: -1px; color:#333}
.inquiry_list .attached>img{margin-bottom: 8px;}
.inquiry_list .question p.text {font-size: 14px; line-height: 19px;}

.evaluation .rdo_wrap{padding: 13px 0; text-align: center;}
.evaluation .rdo_wrap>span {width:50%;margin-right: 0; /*padding-left: 10px;*/ box-sizing: border-box;}

.evaluation textarea{border-radius:5px;}

/*메시지 보관함*/
.ap_message .section {padding:0 16px;}
.ap_message .msg_list li{padding:21px 0; border-top}

.ap_message .no_data.message {position: relative; padding:220px 0 160px 0;background-color: #fff; margin: 0}
.ap_message p.noty {padding: 20px 29px; font-size: 13px; color:#999; letter-spacing: -1px; line-height: 19px}
.ap_message p.noty span {color:#333}
.ap_message .no_data.message p {font-size:16px; color:#bbb; text-align: center;}
.ap_message .no_data.message p:before {content:''; position:absolute; top:160px; left:50%; margin-left: -28px;width: 57px; height: 50px; background:url(/mo/ko/images/my/no_message.png) no-repeat center top; -webkit-background-size: 57px 50px;background-size: 57px 50px;}


/*마이페이지 주문취소*/
.my_cancel_app .h_title {font-weight: bold; color:#000}
.my_cancel_app .payment_info dt.h_title {padding-bottom: 25px}
.my_cancel_app .ap_order .h_title{padding-bottom: 8px}
.my_cancel_app .event_product_wrap .h_title {font-weight: normal; padding-left: 0}
.my_order_summary>dl dd.cont {position: relative;clear: both;float: none;display: block; height: 48px;line-height:20px; padding:3px 25px 20px 0; overflow: hidden;color: #888; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; }
.my_order_summary>dl dd.cont button{position: absolute; top: 3px; right: 0; bottom: 0;  width: 20px; height: 20px; transform: rotate(-90deg); opacity: .3;}
.my_order_summary>dl dd.cont.on button {transform: rotate(90deg); opacity: .2}
.my_order_summary>dl dd.cont.on {overflow: inherit; height: 100%; white-space: inherit;}
.my_order_summary>dl dd.cont>button [class^="ico_"] {transition: .3s;}
.my_order_detail .payment_info span + span.refund_price {color:#782fff}
.my_order_detail .payment_info .explain {margin-left: 0; padding-left: 16px; margin-top: 10px; font-size: 14px; color:#888}
.my_order_detail .payment_info .explain:before {content: ''; position: absolute; top: 2px; left: 0; width: 9px; height: 9px; border-left:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5; background-color:inherit}
.my_order_detail .payment_info .btn_refund_account {margin: 10px 0 3px}
.my_order_detail .payment_info .block {display: block; line-height: 22px}

.my_cancel_app .delivery .h_title {padding-bottom: 25px}
.my_cancel_app .delivery dd {padding: 0 16px}
.my_cancel_app .delivery dd .payment_list {padding: 0}

.my_cancel_app .delivery dd .title,
.my_cancel_app .delivery dd .price {display:inline-block; padding:17px 0}
.my_cancel_app .delivery dd .price {float: right; font-weight: bold}

.my_cancel_app .delivery dd.ap_order {overflow: hidden; margin-top: 6px; padding-bottom: 13px; border-top:1px solid #f2f2f2}
.my_cancel_app .delivery dd.ap_order >p {padding-top: 23px; padding-bottom: 5px; font-size: 14px; color:#484848}
.my_cancel_app .ap_order .payment_list>li {padding:11px 0;}
.my_cancel_app .ap_order .payment_list>li + li {border-top: 0}

.my_cancel_app .notice_list,
.my_order_detail .notice_list {padding: 24px 16px 50px; background-color: transparent;}
.my_cancel_app .notice_list li,
.my_order_detail .notice_list li {margin-top: 22px; color: #b3b3b3; line-height: 20px;}
.my_cancel_app .notice_list li:first-child,
.my_order_detail .notice_list li:first-child {margin-top: 0 !important;}

.my_cancel_app .notice_list.type2 li,
.my_order_detail .notice_list.type2 li  {font-size: 12px; line-height: 16px; margin-top: 13px}
.my_cancel_app .my_order_detail.type2 .payment_info dd dl {padding-bottom: 0}
.my_cancel_app .payment_info dd .notice {padding: 24px 16px 24px 16px;font-size: 13px; color:#888; line-height: 20px; word-break: keep-all;}
.my_cancel_app .ui_accordion.type2>dl>dt {padding:18px 16px 18px 16px;}
.my_cancel_app .ui_accordion>dl>dd {padding-bottom: 24px;}
.my_cancel_app .ui_accordion>dl>dt>button .ico_navi {opacity: .2}
.my_cancel_app .order_area .customer_info .text:first-child {font-weight: bold}

.my_cancel_app .ap_order .delivery_info {position: relative}
.my_cancel_app .delivery .delivery_info dd {padding:0}
.my_cancel_app .ap_order .address_list {padding:0 0 25px 0}
.my_cancel_app .ap_order .btn_go {top: 18px;right: 0}
.my_cancel_app  .ap_order .ui_accordion>dl>dd {padding-bottom: 0}
