@charset "UTF-8";


/* 마이 파우치(overview) */
.my_pouch .section.pd_md {padding:30px 18px;}

.my_pouch small{font-size: 12px; font-weight:bold; color:#ccc; vertical-align: top}
.my_pouch .h_title{position:relative; display:inline-block; padding: 0 5px; margin-bottom: 18px; font-size: 24px;}
.my_pouch .h_title:before{content:''; position:absolute; bottom:-5px; left:0; right:0; z-index: 0; height: 6px; background: #dfe4f8;}
.my_pouch .h_title>span{position: relative; z-index: 1;}
	.btn_gray_round{padding:0 10px;height: 22px; background: #ebebeb; color:#222; line-height: 22px; font-size: 10px; text-align: center; border-radius:11px; font-weight: bold;}
.link_list{padding:0 8px}
.link_list>li>a{position: relative; display:block; height:58px; padding:22px 25px 0 8px; font-size: 15px;}
.link_list>li>a>*:first-child{float:left; font-weight: bold; color:#000; font-size: 16px}
.link_list>li>a>* + *{float:right}
.link_list>li>a>b.num { font-weight: bold; color:#000; font-size: 16px}
.link_list small {font-size: 13px}
.link_list>li>a:after{content:''; position: absolute; top:50%; right:8px; width:8px; height:14px; margin-top: -7px; background: url(/mo/ko/images/my/ico_box_arr.png) no-repeat; background-size: 8px;}
.link_list>li + li:before{content:''; display: block; height:1px; background: #efefef;}


.my_pouch .membership{position: relative; padding:27px 0 27px  95px;}
.my_pouch .membership .welcome_text{margin-bottom: 10px; font-size: 19px; letter-spacing: -1px; font-weight: normal;}
.my_pouch .membership .welcome_text em {color:#782fff}
.my_pouch .membership p + p{margin-top: 2px;}
.my_pouch .membership:before{content: ''; position:absolute; top:23px; left:28px; width:40px; height:40px;background:url(/mo/ko/images/my/ico_grade.png) no-repeat; background-size: 40px;}
.my_pouch .membership.vip:before{background-position: 0 -40px;}
.my_pouch .membership.vvip:before{background-position: 0 -80px;}
.my_pouch .membership.vip_plus:before{background-position: 0 -120px;}
.my_pouch .membership.vvip_plus:before{background-position: 0 -160px;}
.my_pouch .membership .btn_gray_round{position: absolute; left:20px;bottom:26px;}
.my_pouch .membership p.text {margin-top: 15px; line-height: 19px}


.my_order{text-align: center;}
.my_order button small + i{margin-top: 0; opacity:.3;}
.my_order .process{width:calc(100% + 16px); margin: 20px -8px 0;}
.my_order .process a{display: block; font-size: 15px; text-align: center;}
.my_order .process .num{font-size: 28px; font-weight: 300; color:#782fff}
.my_order .process span{display: block; margin-top: 10px; font-size: 14px; color:#000; }
.my_order .process>li+li{position: relative;}
.my_order .process>li+li:before{content: ''; position: absolute; top: 0; left:-3px; width:8px; height:14px; background: url(/mo/ko/images/my/ico_box_arr.png) no-repeat; background-size: 8px;}
.my_order .more>* + *{margin-top: 0;}

.my_p_point{text-align: center;}
.my_p_point [class^="ico_"]{display:block; width: 35px; height: 35px; margin: 0 auto 10px; background:url(/mo/ko/images/my/ico_my_point.png) no-repeat; -webkit-background-size: 35px;background-size: 35px;}
.my_p_point .ico_p1{background-position: 0 0;}
.my_p_point .ico_p2{background-position: 0 -35px;}
.my_p_point .ico_p3{background-position: 0 -70px;}
.my_p_point .ui_table>li{text-align: center;}
.my_p_point .ui_table>li + li{position:relative;}
.my_p_point .ui_table>li + li:before{content:''; position:absolute; top: 16px; height: 25px; left:0; width: 1px; background: #ccc;}
.my_p_point .num{display:block; margin-top: 8px; font-size: 16px; font-weight: bold; color: #000}

.my_pouch .link_list [class^="ico_"]{float:left; width:21px; height:20px; margin-right: 20px; background:url(/mo/ko/images/my/ico_my.png) no-repeat; background-size: 21px;}
.my_pouch .ico_order{background-position: 0 0 !important;}
	.ico_addr2{background-position: 0 -20px !important;}
	.ico_card{background-position: 0 -40px !important;}
	.ico_coin{background-position: 0 -60px !important;}
	.ico_alram{background-position: 0 -80px !important;}
.my_pouch .ico_good{background-position: 0 -100px !important;}
	.ico_counsel{background-position: 0 -120px !important;}
	.ico_member{background-position: 0 -140px !important;}
.my_pouch .link_list [class^="ico_"] + span{float:left; height: 20px; line-height: 20px; font-size: 15px; color:#000; font-weight: bold;}
.my_pouch .link_list.icon >li>a{padding-top: 20px}
.my_pouch .link_list.icon >li>a:after{display: none;}
.my_pouch .link_list.icon >li.open>a:after {display: block;}

.link_list .order_list{display:none; margin:0 -8px; background-color:#fafafa}
.order_list{padding: 0 8px; background: #fafafa; border-top: 1px solid #efefef; }
.order_list>li>a{display: block; padding: 15px 5px 15px 8px; line-height: 1.5; font-size:15px !important;}
.order_list>li + li{border-top:1px solid #e4e4e4;}
.order_list .order_num{color:#888;}
.order_list .order_status{margin:2px 0}
.order_list .order_status,
.order_list .price {color:#000}
.order_list .order_status>.ellipsis{width:calc(100% - 80px);display: inline-block; vertical-align: top}

.delivery_infomation{position:relative; max-width: 360px; margin: 0 auto; padding: 56px 0 50px 60px; background: #fff;}
.delivery_infomation:before{content:''; position:absolute; top: 59px; left:33px; bottom:96px; width:2px; background: #eee;}
.delivery_infomation dl{position:relative;}
.delivery_infomation dl:before{content:''; position:absolute; top:0; left:-33px; width: 15px; height: 15px; border:2px solid #eee; border-radius: 50%; background: #fff;}
.delivery_infomation dt{padding-bottom: 15px;}
.delivery_infomation dd{font-size: 15px; letter-spacing: -1px; color:#999;}
.delivery_infomation dl + dl{margin-top: 60px;}

@media screen and (max-width:360px){
	.delivery_infomation{padding-left:40px;}
	.delivery_infomation:before{left:20px;}
	.delivery_infomation dl:before{left:-27px;}
}
/* 고객 등급별 혜택 레이어*/
.layer_popup .my_pouch .section{margin-bottom: -20px;}
.layer_popup .my_pouch .membership{padding-left: 50px;}
.layer_popup .my_pouch .membership:before{left:0; margin-top: -20px;}

/* 좋아요 */
.ap_good .btn_toggle .count{display:block; margin:5px 0 0;}
.ap_good .timeline>dl{position:relative; margin-top: 9px; padding: 10px 16px; background: #fff;}
.ap_good .timeline>dl:before{content:''; position:absolute; top:15px; left:35px; bottom:0; width: 2px; background: #efefef;}
.ap_good .timeline dt{position:relative; z-index: 1; display:inline-block; padding-bottom: 8px;}
.ap_good .timeline dt>*{display:inline-block; vertical-align: middle;}
.ap_good .timeline dt>*:first-child{width: 40px; height: 40px; margin-right: 7px; border-radius: 50%; background: #d1d1d1; color:#fff !important; text-align: center; line-height: 40px; font-size: 11px;}
.ap_good .timeline dt>em:first-child{background: #782fff;}
.ap_good .timeline dt .date{font-size: 19px;}
	.timeline .timeline_list{padding-left: 35px;}
		.timeline_list li{position:relative; width: 100%; display: table; padding:15px 35px 15px 90px;}
		.timeline_list li:before{content:''; position:absolute; top:27px; left:-20px; width: 9px; height: 9px; border-radius:50%; background: #d1d1d1;}
		.timeline_list .today dd li:before{background: #782fff;}
		.timeline_list li + li {border-top: 1px solid #ebebeb;}
		.timeline_list .info{display:table-cell; height: 80px; vertical-align: middle; line-height: 1.3;}
		.timeline_list .info .time{display:block; color:#888888;}
		.timeline_list .thumb{position:absolute; top:15px; left:0; display:inline-block; overflow: hidden; width: 80px; height: 80px; border-radius: 50%;}
		.timeline_list .event .thumb>img{position:absolute; top:0; right:0; width: auto; height:100%}
		.timeline_list .ui_close{position:absolute; top:15px; right:15px; width: 20px; height: 20px; opacity:.3; padding-top: 0;}

.ap_good .no_data{padding: 80px 0; text-align: center; color:#999;}
.ap_good .no_data .copy{margin: 10px 0; padding: 0 20px;font-size: 24px; text-align: center; color:#000;}
.ap_good .no_data .copy>*>*{vertical-align: top;}
.ap_good .no_data .copy>*:first-child{position:relative; display:inline-block; max-width:100%; padding-right:150px;}
.ap_good .no_data .copy .name{display:inline-block; max-width: 100%;}
.ap_good .no_data .copy .etc{position:absolute; top:0; right:0;}
.ap_good .no_data .copy .etc{position:absolute; top:0; right:0;}
.ap_good .no_data .ico_heart{width: 51px; height: 44px; background-position: -105px -45px;}

/* 나의 리뷰 */
.my_page .review_writable{margin-top: 9px;}
.my_page .review_writable>li:after{display:none;}
.my_page .review_writable>li>a,
.my_page .review_writable .product_info{padding-right: 0 !important;}
.my_page .review_writable .btn_border_round{display:inline-block; border-radius: 5px; border-color: #eaeaea;}
.my_page .review_writable small{font-size: 14px; font-weight: normal;}
.my_page .review_list .review{padding: 18px 16px; font-size: 14px;}
.my_page .review_list .review>dt{padding-bottom: 15px;}
.my_page .review_list .review>dt>span{display:inline-block; vertical-align: middle; color:#999;}
.my_page .review_list .thumb{width: 40px; height: 40px;}
.my_page .review_list .thumb + .product_name{width: calc(100% - 50px); padding: 0; margin: 0;}
.my_page .review_list .review .text{height: 3em; margin: 10px 0 15px;}
.my_page .review_list .review .bottom{border-top:0; padding:0; margin:0; height:auto;}
.my_page .review_list .review .bottom div>* + * {margin-left: 2px;}
.my_page .review_list .ui_attach{margin:10px -16px 0; padding: 0 16px;}
.my_page .review_list .flag{display:inline-block; height: 20px; padding: 0 5px; background: #1fb3f1; color:#fff; vertical-align: top; line-height: 20px; font-size: 11px;}

/* 주문/배송조회 목록 */
.my_order_list .order{padding: 0 16px 16px;}
.my_order_list .order_title{}
.my_order_list .order_title>a{position:relative; display:block; height: 46px; padding-top: 16px; border-bottom:1px solid #f2f2f2;}
.my_order_list .order_title .date{margin-right: 10px;}
.my_order_list .order_title em{position:absolute; top:16px; right:0;}
.my_order_list .product_list{margin-top: 18px;}
.my_order_list .product{display:table; width: 100%; table-layout: fixed;}
.my_order_list .product>*{display:table-cell; vertical-align: middle;}
.my_order_list .product .product_visual{width: 90px !important;}
.my_order_list .product .price_area{margin-top: 8px;}
.my_order_list .product .price_area span + span {position:relative; margin-left: 5px; padding-left: 8px;}
.my_order_list .product .price_area span + span:before{content:''; position:absolute; top:2px; bottom:2px; left:0; width: 1px; background: #b7b7b7;}
.my_order_list .product .btn_border_round{display:inline-block !important; height: 22px; margin-top: 10px; padding: 0 10px; font-size: 11px;}
.my_order_list .order_btns{margin-top: 25px;}
.my_order_list .order_btns>*{position:relative; border-radius: 5px; font-size: 15px; color:#222; border-color: #eaeaea;}
.my_order_list .order_btns>* i{position:absolute; top:50%; right:11px; transform:translateY(-50%)}
.my_order_list .order_btns.col_03>*{width:calc((100% - 10px) / 3 ); min-width: inherit;}
.my_order_list .order_btns + .order_btns{margin-top:8px;}
/* 주문/배송조회 상세 */
.my_order_detail .ap_order{margin-top: 9px; padding-bottom: 0;}
.my_order_summary dl + dl,
.my_order_detail .order_info dl + dl{border-top: 1px solid #f2f2f2;}
.layer_popup .ap_order{padding-bottom: 0;}
/* 주문 상세 */
.my_order_summary{margin: -20px 0;}
.my_order_summary>dl:after{content:''; display: block; clear: both;}
.my_order_summary>dl>*{height: 48px;}
.my_order_summary>dl>*:after{content:''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.my_order_detail .ui_accordion>dl>dt .title{padding: 5px 0;}
.my_order_detail>.ui_accordion>dl>dd{padding: 0 16px;background: #fff; border-top:1px solid #f2f2f2;}
.my_order_detail .order_info>dl>dd>*{padding: 20px 0;}
.my_order_detail .btn_address_change{position:absolute; top:16px; right:0;}
.my_order_detail .h_title{padding-bottom: 20px;	font-size: 16px; font-weight: 600;}
.my_order_detail .payment_info dd dt{position:relative;}
.my_order_detail .payment_info dd dd{position:relative; color:#484848; margin-top: 8px;}
.my_order_detail .payment_info span{display:inline-block; line-height: 1.2;}
.my_order_detail .payment_info span.account{letter-spacing: -1px}
.my_order_detail .payment_info span + span{position:relative; margin-left: 10px; padding-left: 10px;}
.my_order_detail .payment_info span + span:before{content:''; position:absolute; top:1px; left:0; width: 1px; height:12px; background: #cdcdcd;}
.my_order_detail .payment_info .title{position:absolute; top:0; left:0; width: 85px;}
.my_order_detail .payment_info .title + span{display:block; margin-left: 95px;}
.my_order_detail [class^="btn_lg"]{position:relative; font-size: 15px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.my_order_detail [class^="btn_lg"] i{position: absolute; top:50%; right:10px; transform: translateY(-50%)}
.my_order_detail .page_btns{padding: 9px;}
.my_order_detail .page_btns.col_03>*{width:calc((100% - 10px) / 3 ); min-width: inherit;}
.my_order_detail .page_btns + .page_btns{padding-top: 0;}

/* 주문취소 */
.order_cancel .payment_info .title{padding-bottom: 25px; color:#999; font-size: 15px;}
.order_cancel .payment_info dd{font-size: 17px;}
.order_cancel .payment_info dd + dd{margin-top: 23px;}
.order_cancel .payment_info span{display:inline-block; line-height: 1.2; letter-spacing: -1px}
.order_cancel .payment_info span.account{letter-spacing: -1px}
.order_cancel .payment_info span + span{position:relative; margin-left: 10px; padding-left: 10px;}
.order_cancel .payment_info span:not(.hidden) + span:before{content:''; position:absolute; top:4px; left:0; width: 1px; height:13px; background: #cdcdcd;}
.order_cancel .payment_info span.hidden{visibility: hidden;}

/* 교환/반품 */
.return_info .ui_accordion>dl>dt .title{padding: 5px 0;}
	.return_product .product_name,
	.return_product .option_name,
	.return_product .price{overflow:hidden; display:block; color:#999; white-space: nowrap; text-overflow: ellipsis; font-size: 15px;}
	.return_product ul{padding: 0 16px;}
	.return_product li{margin-top: 0; padding: 16px 0; border-top:1px solid #f2f2f2; line-height: 1.5;}
.return_info .product_slide{padding: 0 16px 16px; background: #fff;}
.return_info .product{margin-top: 0;}
.return_info .three_half .product_info{font-size: 12px !important;}
.return_info .three_half .product_visual{width: 54px;}
.return_info .customer_info{padding: 0 16px 16px;}
.return_info .customer_info .btn_go{position:static; margin-top: 10px;}
.return_info .address_list{position:relative; overflow: hidden; display:block; max-height: 300px; padding: 0 16px;}
.return_info .address_list:after{content:''; position:absolute; bottom:0; left: 0; height: 40%; width: 100%; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}
.return_info .on .address_list{overflow:visible; max-height:inherit;}
.return_info .on .address_list:after{display:none;}
.return_info .address_list>li{padding: 16px; margin-top: 6px; border:1px solid #eaeaea; border-radius:5px; font-size: 14px;}
.return_info .address_list>li>button{width: 100%; text-align: left;}
.return_info .address_list + button{margin:0 !important}
.return_info .check_btn_set.inline{display:block !important; height: auto; margin: -7px -2px; padding: 0 16px 16px; white-space: normal;}
.return_info .check_btn_set.inline>*{margin:7px 2px;}
.return_info .btn_write{position:relative; width: 100%; padding-right: 15px; font-size: 15px; text-align: left; line-height: 1.4 !important; color:#484848;}
.return_info .btn_write em{font-size: 16px;}
.return_info .btn_write i{position:absolute; top:50%; right:0; margin:-9px 0 0; opacity:.3}
.return_info .btn_write + p.text{margin-top: 10px;}
.return_info .text.notice{font-size: 13px; color:#999;}

/* 배송지 입력/변경 */
.address_form .ui_table>dt{width: 80px;}

/* 내 쿠폰 */
.my_coupon .section {padding:15px 16px;}
.coupon_form .title{padding:15px 0; font-size: 24px; color:#000; text-align: center; line-height: 20px;}
.coupon_form .input_group {position: relative;}
.coupon_form .input_group .input_h48_gray input {padding-right: 65px;}
.coupon_form .input_group .btn{width: 65px; height: 48px;position: absolute; right: 0; top: 1px}
.coupon_form .btn>button{padding: 0;}
.my_coupon .ui_accordion{border:1px solid #d9d9d9; border-top:0;}
.my_coupon .ui_accordion>dl>dt {padding:17px 40px 15px 20px; }
.my_coupon .ui_accordion>dl>dt .title {font-size: 15px;}
.my_coupon .ui_accordion>dl>dt>button .ico_navi{width: 18px; height: 11px; background: url(/mo/ko/images/my/ico_coupon_arrow.png) no-repeat; background-size: 18px 11px; transform: none;}
.my_coupon .ui_accordion>dl>dt em {color:#782fff}
.my_coupon .ui_accordion>dl>dt.on>button .ico_navi {transform: rotate(180deg);}
.my_coupon .ui_accordion>dl>dt{background: #ebebeb; border-top:1px solid #d9d9d9;}
.my_coupon .ui_accordion>dl>dd{margin-top: 0 !important; border-top:1px solid #d9d9d9; }
.my_coupon .ui_accordion>dl>dd .coupon_info {padding:21px; border-top: 1px solid #d9d9d9;}
.my_coupon .ui_accordion>dl>dd .coupon_info:first-child {border-top: 0}
.my_coupon .ui_accordion>dl>dd .coupon_info em {color:#782fff}
.my_coupon .coupon_info dd {position: relative;}
.my_coupon .coupon_info>dt{padding-bottom: 15px; font-size: 16px; line-height: 21px;}
.my_coupon .coupon_area {width: 113px; text-align: center;}
.my_coupon .coupon_area  .btn_gray_round {width: 54px; padding: 0}
.my_coupon .coupon_area .coupon{display: table;}
.my_coupon .coupon_area .coupon .inner {display: table-cell; vertical-align: middle; padding-top: 2px}
.my_coupon .coupon_cont {position: absolute;left: 0; right: 0; top: 0; padding-left:127px; }
.my_coupon .coupon_info ul{letter-spacing:-0.5px; line-height: 1.3;}
.my_coupon .coupon_info li{padding: 7px 0;}
.my_coupon .coupon_info li:first-child {padding-top: 3px}
.my_coupon .coupon_info li + li{border-top: 1px solid #f3f3f3;}
.my_coupon .coupon_info li>* + *{color:#999}
.my_coupon .coupon{width: 108px; height: 60px; padding: 0; margin:0 auto 8px; background: #fff;}
.my_coupon .coupon>*{display:block; width: 100%; text-align: center;}
.my_coupon .coupon .num{font-size: 20px;}
.my_coupon .coupon small{font-size: 10px; color:#999; padding-top: 3px; display: block;}
.my_coupon .coupon:before {width: 5px}

/*마이페이지 레이어팝업*/
.layer_popup .mypage .layer_cont {padding-bottom: 14px}
.layer_popup .mypage .layer_cont .text {font-size: 15px; color:#000; line-height: 20px}
.layer_popup .mypage .layer_cont .product_list .product:first-child {margin-top: 0}
.layer_popup .mypage .layer_cont .product_list .product .product_visual {width: 90px}
.layer_popup .mypage .layer_cont .product_list .product .product_info {padding:0 0 0 8px}
.layer_popup .mypage .layer_cont .product_list .product .product_info .product_name {line-height: 18px; margin-top: 7px}
.layer_popup .mypage .layer_cont .product_list .product .product_info .product_area {margin-top: 7px;}
.layer_popup .mypage .coupon_list > li {padding:20px 0; border-top:1px solid #f3f3f3}
.layer_popup .mypage .coupon_list li:first-child {border-top: 0; padding-top: 0}
.layer_popup .mypage .coupon_list .title {padding-bottom:20px; font-size: 15px; color:#222; font-weight: bold;}
.layer_popup .mypage .coupon_list .text {font-size: 14px}
.layer_popup .mypage .btn_default_modal_confirm {color:#782fff; font-size: 16px}

/* 뷰티 포인트 */
.my_beauty_point{}
.my_beauty_point .section {padding:16px 16px 0 16px;}
.my_beauty_point .btn_area {width: 167px; margin:15px auto; text-align: center}
/* .my_beauty_point .btn_area button {padding: 0 20px} */
.my_beauty_point .select_wrap {margin-bottom: 15px}
.my_beauty_point .select_wrap select {color:#999}
.my_pouch .section.banner>a{display: none;}
.point_summary{border:1px solid #d9d9d9;}
.point_summary em{color:#782fff}
.point_summary>dt{height: 52px; padding: 18px 0 0 19px; border-bottom:1px solid #d9d9d9; font-size: 15px; font-weight: bold; background: #ebebeb;}
.point_summary>dd{padding: 19px; text-align: center;}
.point_summary .ui_table dt{padding-bottom: 15px; font-size: 11px; font-weight: bold; border-bottom:1px solid #f3f3f3; color:#333}
.point_summary .data_table {border-top: 0}
.point_summary .ui_table th {font-size: 11px; color:#333; padding-top: 0}
.point_summary .ui_table td {padding:15px 0; font-weight: normal; border-bottom: 0; padding-bottom: 0}
.point_summary .ui_table td .font_xl {font-size: 18px}
.point_summary .data_table th,
.point_summary .data_table td {border-left: 0;}
.point_summary .ui_table .font_lg {display: block;font-size: 16px; color:#000; }
.point_summary .ui_table small{color:#999; display: block; font-size: 10px}
.point_summary .ui_table small .color_black {font-weight: bold;}
.point_summary .btn_gray_round{display:inline-block !important; width: auto; height: 30px; padding:0 15px; border-radius: 15px;font-size: 11px; color:#000; line-height: 30px}
.my_beauty_point .btn_lg_more {padding:22px 0; width: 100%; text-align: center; }
.my_beauty_point .data_table.th_gray th {font-size: 11px;}
.my_beauty_point .data_table.th_gray td {font-size: 13px; text-align: center}
.my_beauty_point .btn_lg_more .ico_down {width: 10px;height: 19px;background-position:-15px -20px; opacity: .3; transform: rotate(-90deg); margin-top: 0; margin-left: 10px}

.beautypoint_info {padding:0 16px 35px 16px;}
.beautypoint_info .dl_cont dt {padding:31px 0 20px; font-size:16px; color:#000 }
.beautypoint_info .dl_cont dd p.text {font-size: 14px; line-height: 20px; color:#999}
.beautypoint_info .dl_cont + .dl_cont {margin-top:6px }
.beautypoint_info .data_table.th_gray td {text-align: center; color:#999; font-size: 12px;}
.beautypoint_info .data_table.th_gray td:last-child {text-align: left; padding-right: 0; letter-spacing: -1px}
.beautypoint_info  + .section .list li {font-size: 12px; line-height: 16px; color:#888; margin-top: 10px; }
.beautypoint_info  + .section .list li:first-child {margin-top: 0}
/* 기프트 카드 */
.my_giftcard .tab_contents>.select_wrap{margin: 15px 0;}
.giftcard_info{border:1px solid #d9d9d9;}
.giftcard_info + .giftcard_info{border-top: 0;}
.giftcard_info .title{position: relative; height: 40px; padding:12px 19px 0; background: #ebebeb;}
.giftcard_info .title small{position: absolute; top:50%; right:19px; transform:translateY(-50%)}
.giftcard_info>dd{padding: 19px 13px;}
.giftcard_info .clear{line-height: 28px;}
.giftcard_info .clear>*:first-child{width: 70%;}
.giftcard_info .clear + *{position:relative; margin-top: 13px; padding-top: 13px; border-top:1px solid #f3f3f3; line-height: 23px;}
.giftcard_info .clear + *>small{position:absolute; top:13px; right:0;}
.giftcard_info .ui_table>dt{width: 90px;}
/* 결과 없음*/
.my_page .no_data{position:relative; height: 350px;}
.my_page .no_data>b{position:absolute; top:50%; left:0; width: 100%; font-size: 24px; color: #ddd; text-align: center; transform:translateY(-50%); line-height: 30px;}

/* 배송지 관리 */
.my_address{}
.my_address .address_summary{padding: 30px 0;text-align: center;}
.my_address .address_summary .copy{font-size: 24px; line-height: 32px;}
.my_address .address_summary .copy + p{margin-top: 15px;}
.my_address .address_summary [class^="btn_"]{min-width: inherit; width:112px; padding: 0; margin-top: 20px;}

.my_address .address_info{position:relative; border:1px solid #d9d9d9;}
.my_address .address_info + .address_info{border-top: 0;}
.my_address .address_info .title{height: 45px; padding:14px 19px 0; background: #ebebeb;}
.my_address .address_info>dd{padding: 0 19px;}
.my_address .address_info .btns{position:absolute; top:0; right:13px;}
.my_address .address_info .btns>*{width: 30px; height: 45px;}
.my_address .address_info .ui_table>*{padding: 13px 0; line-height: 21px;}
.my_address .address_info .ui_table>dt{width: 90px;}
.my_address .address_info .ui_table + .ui_table{border-top:1px solid #f3f3f3;}

/* one pay */
.one_pay{}
	.card_registration{text-align: center; font-size: 16px;}
	.card_registration .h_title{font-size: 24px;}
	.btn_add_card{width: 250px; height: 163px; border-radius: 7px; background: #e6e6e6;}
	.btn_add_card i{width: 50px; height: 50px;}
	.btn_add_card span{display:block; margin-top: 14px;}
.one_pay .ui_accordion{padding: 0 16px; background: #fff;}
.one_pay .ui_accordion>dl>dt{padding:13px  0; margin-right: -16px; border-bottom: 1px solid #ebebeb;}
.one_pay .ui_accordion>dl>dt .title{padding:5px  0;}
.one_pay .card_number{height: 55px; font-size: 15px;}
.one_pay .card_number:after{content:''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.one_pay .card_number + .btns>button{width: 40px; height: 55px; text-align: right;}
.one_pay .card_info{margin-top: 10px; font-size: 15px;}
.one_pay .card_info dt{color:#999}
.one_pay .card_info .input_wrap>input{height: 35px; padding: 0; border:0; border-bottom:1px solid #f1f1f1;}
.one_pay .card_info .input_wrap>input:focus{border-bottom-color: #000;}
.one_pay .card_info .input_wrap .btn_del{right:0; font-size: 14px;}
.one_pay .card_info dl + dl{padding: 33px 0;}
.one_pay .card_info .check_wrap{margin-top: 12px; min-width: 110px;}
.one_pay .check_wrap>input:checked + label:before{background: #000;}
/* 카드 등록 */
.one_pay .layer_cont .card_info{padding: 0 16px; font-size: 16px;}
.one_pay .layer_cont .card_info>dl{padding: 33px 0;}
.one_pay .layer_cont .card_info>dl + dl{border-top:1px solid #ebebeb;}
.one_pay .layer_cont .card_info dt{color:#000}
.one_pay .layer_cont .card_info .input_wrap>input{height: 39px; border-bottom-color: #ccc;}
.one_pay .layer_cont .card_info .check_wrap>label{font-size: 16px;}
.one_pay .layer_cont .card_info .text{margin-top: 10px; font-size: 13px;}

/* 예치금/계좌관리 */
.deposit_summary{padding: 26px 16px;}
.deposit_summary .h_title,
.deposit_summary .price{font-size: 24px; text-align: center;}
.deposit_summary .price{padding: 10px 0 20px;}

.my_deposit .ui_tab{margin-top: 9px;}
.my_deposit .tab_menu{padding: 0 16px;}
.my_deposit .ui_multiple_date_picker .clear{padding: 0 11px 0 16px;}
.my_deposit .ui_multiple_date_picker .clear>*{height: 46px;}
.my_deposit .ui_multiple_date_picker .clear>*:before{content:''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.my_deposit .date_info_area{font-size: 12px; color:#999; font-weight: bold;}

.my_deposit .data_table + .input_wrap{margin-top:-1px;}

.account_registration .copy{padding: 50px 0; font-size: 22px; text-align: center; color:#000;}
.account_registration .copy>span{display:inline-block; position:relative;}
.account_registration .copy>span:before,
.account_registration .copy>span:after{content:''; position:absolute; top:12px; left:-25px; width: 14px; height: 11px; background:url(/mo/ko/images/common/ico.png) no-repeat -135px -200px; -webkit-background-size: 200px;background-size: 200px;}
.account_registration .copy>span:after{left:auto; right:-26px; background-position: -135px -212px;}
.account_registration .ui_table>dt{width: 90px;}
.account_registration .ui_table + p.text{margin-top: 23px;}
.account_registration .form_btns{margin-top: 85px;}

.my_inquiry{border:1px solid #d9d9d9; border-top:0;}
.my_inquiry>dl>dt{background: #ebebeb; border-top:1px solid #d9d9d9;}
.my_inquiry>dl>dd{margin-top: 0 !important; border-top:1px solid #d9d9d9;}
.inquiry_list>dl{padding: 18px 21px 0;}
.inquiry_list>dl+dl{border-top:1px solid #d9d9d9;}
.inquiry_list>dl>dt{padding: 0 0 18px;}
.inquiry_list>dl>dt>button{position:static; width: 100%; margin-bottom: 8px; font-size: 16px; line-height: 21px; text-align: left;}
.inquiry_list>dl>dt .clear{position:relative; display:block;}
.inquiry_list>dl>dt small{display:block;}
.inquiry_list>dl>dt small + button{margin-top:10px;}
.inquiry_list>dl>dt .status{position:absolute; bottom:0; right:0;}
.inquiry_list>dl>dt .status.unread{opacity:.5;}
.inquiry_list>dl>dt .status i{margin-top: -3px;}
.inquiry_list>dl>dd{padding-bottom: 18px; border-top:1px solid #f3f3f3;}
.inquiry_list dd>dl{padding-top: 15px; color:#999}
.inquiry_list .question>dt,
.inquiry_list .answer>dt{width: 55px; height: 22px; margin-bottom: 10px; border:1px solid #333; border-radius:22px; text-align: center; font-size: 10px; line-height: 22px; letter-spacing: -1px; color:#333}
.inquiry_list .attached>img{margin-bottom: 8px;}
.evaluation .check_list{padding: 13px 0; text-align: center;}
.evaluation .check_list span.check_wrap + span.check_wrap{margin-left:5%;}
/*.evaluation .textarea{height:77px;}*/
.evaluation textarea{border-radius:5px;}
