@charset "UTF-8";

/*공통*/
.none_num {color:#484848 !important}
.flag{display:inline-block; height: 20px; padding: 0 5px;  font-size: 11px; line-height: 18px;vertical-align: middle; font-weight: bold;}
.flag.purple {border: 1px solid #782fff; color:#782fff; margin-left: 12px}
.flag.blue {border:1px solid #2f5bff; color:#2f5bff;}

.mgt8 {margin-top: 8px;}
.mgt10 {margin-top: 10px;}
.mgt20 {margin-top: 20px}
.mgt25 {margin-top: 25px}
.mgt35 {margin-top: 35px}

.font_xs {font-size: 11px;}
.font_sm {font-size: 13px;}

/* 상품 목록 */
.product_list_order{padding:0 16px; background: #fff;}
.product_list_order .check_wrap {position: relative;}
.product_list_order .check_wrap .chk_h23 {position: absolute; left: 0; top: 0; z-index: 5}
.product_list_order .check_wrap>label{display:table; width: 100%; min-height: 23px; padding-left: 23px; line-height: 1; font-size: 14px;}
.product_list_order .check_wrap .product_order>*{display:table-cell; vertical-align: middle;}

.product_list_order .product_order{margin-top: 0; border-top: 1px solid #f2f2f2;padding:17px 0; min-height: 125px; box-sizing: border-box;}
.product_list_order .product_order:first-child{border-top: 0}
.product_list_order .product_order>p.text {margin-bottom: 18px}
.product_list_order .product_order>p.text .color_warning {font-size: 11px}
.product_list_order .product_order>a{display:table; width: 100%;}
.product_list_order .product_order>a>*{display:table-cell; vertical-align: middle;}

.product_list_order .product_order .product_info{padding:0 5px 0 9px;position:relative; color:#222;}
.product_list_order .product_order .product_info>*{display:block;}
.product_list_order .product_order .product_info>* + *{margin-top:6px;}
.product_list_order .product_order .product_info .reservation_txt {font-size: 12px; color:#782fff; margin-bottom: 2px}
.product_list_order .product_order .product_info .reservation_txt span {font-size: 13px; padding-right: 8px}
.product_list_order .product_order .product_info .product_name{overflow:hidden; display: -webkit-box; max-height:36px; white-space:normal; word-break: break-all; -webkit-line-clamp:2; -webkit-box-orient: vertical; line-height:18px;}
.product_list_order .product_order .product_info .option_name{overflow:hidden;display: -webkit-box; white-space:normal; word-break: break-all; -webkit-line-clamp:1; -webkit-box-orient: vertical; line-height:1.3; font-size: 12px; color:#999;}
.product_list_order .product_order .option_name + .option_name{margin-top: 0;}
.product_list_order .product_order .product_od{display:table; width: 100%;}
.product_list_order .product_order .product_od>*{display:table-cell; vertical-align: middle;}

.product_list_order .product_order .product_visual{width: 90px; height: 90px;}
.product_list_order .product_order .product_name{width: 100%;}
.product_list_order .product_order .selected_option_list{padding: 0 10px; margin-top: 9px; border:1px solid #e5e5e5;}
.product_list_order .product_order .selected_option_list>li{padding: 16px 6px;}
.product_list_order .product_order .selected_option_list>li + li{border-top:1px solid #e5e5e5;}
/* .product_list_order .product_order .selected_option .option_name {padding-right: 0} */
.product_list_order .product_order .selected_option .ui_spinner{left:6px; bottom: 16px}
.product_list_order .product_order .selected_option .price>b{font-size: 13px;}
.product_list_order .product_order  .selected_option .ui_close{right:6px; top: 17px}

.product_list_order .product_order .product_info .price_area {font-size: 11px;}
.product_list_order .product_order .product_info .price_area .price {font-size: 12px;padding-right: 5px;}

/*상품 슬라이드*/
.h_title + .product_slide_new{margin-top:20px;}
.product_slide_new{overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling: touch;}
.product_slide_new::-webkit-scrollbar {display: none; width: 0; height: 0; background-color: transparent}
.product_slide_new>dt{position:relative; padding:16px 16px 0 33px; border:0;}
.product_slide_new>dt:before{content:'└ '; position:absolute; top:16px; left:10px; color:#e8e8e8;}
.product_slide_new ul{position:relative; white-space: nowrap;}
.product_slide_new li{position:relative; display:inline-block; margin-right:20px; vertical-align: top;}
.product_slide_new li>a{display:block;}

.product_slide_new .three_half{padding:0 16px; margin-top: 15px;}
.product_slide_new .three_half.check {padding:0; margin-top: 0}
.product_slide_new .three_half.check li {padding-left: 12px;}
.product_slide_new .three_half.check .product_info,
.product_slide_new .three_half.type2 .product_info  {min-height: inherit;}
.product_slide_new .three_half.type2 {margin-top: 0}
.product_slide_new .three_half.check>li .chk_round_h24 {position: absolute; left: 0; top: 0;z-index: 5}
.product_slide_new .three_half>li{width: 90px; margin-right: 10px;}
.product_slide_new .three_half .product_info{display: block; min-height: 78px; padding: 10px 0 0 0;font-size: 12px; color:#484848; box-sizing: border-box;}
.product_slide_new .three_half .product_info .product_name{line-height: 16px; margin-top: 4px}
.product_slide_new .three_half .product_visual{display: inline-block; width: 54px; height: 54px;}

.product_slide_new .product_info{position:relative; color:#222;}
.product_slide_new .product_info>*{display:block;}
.product_slide_new .product_info>* + *{margin-top:4px;}
.product_slide_new .product_info .product_name{overflow:hidden; display: -webkit-box; max-height:40px; white-space:normal; word-break: break-all; -webkit-line-clamp:2; -webkit-box-orient: vertical; line-height:20px;}
.product_slide_new .product_info .price_area {position: absolute; left: 0; bottom: 0}

/* 장바구니 */
.h_title{font-size: 16px; color:#484848; padding-top: 25px; padding-left: 16px;}
.ap_cart .order_layer.open .default_btns {display: none;}
.ap_cart .order_layer.open .selected_option .ui_spinner {left: 16px}
.ap_cart .order_layer.open .order_bottom .btn_lg_neutral {color:#fff}
.ap_cart .order_layer.open .selected_option .price {font-size:15px; color:#222}
.ap_cart em {font-style: normal}
.ap_cart .float_area {overflow: hidden; padding:18px 16px;}
.ap_cart .float_area .f_left {float: left;}
.ap_cart .float_area .f_right {float: right;}
.ap_cart .product_info {position: relative;}
.ap_cart .product_info .product_name {line-height: 20px}
.ap_cart .product_list_order .product_order {border-top: 0}
.ap_cart .selected_option .ui_spinner,
.ap_cart .selected_option .btn_order_edit {z-index: 5; left: 119px; letter-spacing: -1px;}
.ap_cart .selected_option .price {font-size: 13px; padding-top: 18px; color:#484848}
.ap_cart .selected_option.out_of_stock .price {color:#999}

.ap_cart .product_slide {padding-bottom: 23px}
.ap_cart .product_slide ul {margin-left: 0}
.ap_cart .swipe .product_new {margin-bottom: 12px}
.ap_cart .swipe .product_new > a .product_info_new{}
.ap_cart .swipe .product_new > a .product_info_new {height:105px;padding-bottom: 0}
.ap_cart .swipe .product_new > a .product_info_new .product_rating {bottom: 0}
.ap_cart .swipe .btn_cart {display: inline-block;}
/* 장바구니 : 비었을때 */
.ap_cart .empty_cart{padding: 50px 0; text-align: center;}
.ap_cart .empty_cart .text {font-size: 16px; color:#782fff}
.ap_cart .empty_cart .sub_text {font-size: 16px; color:#484848; line-height: 20px;}
.ap_cart .empty_cart .sub_text span {font-size: 14px}
.btn_go_brand {width: 178px; margin:20px auto 0; line-height: 48px; padding:0; border-radius: 4px}
.empty_cart .thumb{overflow:hidden; display:block; position: relative; width: 141px; height: 141px; margin:30px auto 20px; border-radius: 50%}
.empty_cart .thumb>img{position:absolute; top:50%; right:0; width: 263px; transform: translateY(-50%)}
.empty_cart .btn_lg_brand{margin-top: 20px; border:1px solid #782fff; color: #782fff; border-radius: 5px; font-size: 14px;}
/* 장바구니 : 삭제 버튼*/
.ap_cart .btn_product_delete{height: 23px; color:#646464; font-size: 14px;}
.ap_cart .btn_product_delete span {padding-left: 7px;}


/* 장바구니/주문 : 상품 목록 */
.ap_order .product_slide{padding-left: 6px;}
.ap_order .event_product_wrap .h_title{margin:0 16px; padding-top: 16px; font-size: 13px}
.ap_order * + .event_product_wrap .h_title{border-top:1px solid #f2f2f2;}
.ap_order .event_product_wrap .h_title .flag{display: inline-block;	height: 22px; padding: 0 10px; margin-right: 7px; line-height: 20px; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 11px; font-size: 11px; vertical-align: middle;}
.order_area .event_product_wrap .product_order + .product_order {border-top: 0 !important; padding-top: 0}
.order_area .event_product_wrap .product_order{min-height: inherit;}

/* 스페셜 기프트 */
.ap_order .special_gift>dt{padding:7px 0; border:1px solid #f2f2f2;}
.ap_order .special_gift>dt .title{font-size: 16px;}
.ap_order .product_list .color_warning{font-size: 11px; font-weight: 300;}
.ap_order .product_list>li.product + .product{border-top:1px solid #f2f2f2;}
.ap_cart .special_gift{margin: 0 -16px;}
.ap_cart .special_gift .three_half {padding:0 32px;}
.ap_cart .special_gift>dt{position:relative; padding:16px 16px 0 33px; border:0;}
.ap_cart .special_gift>dt:before{content:''; position:absolute; top:13px; left:16px; width: 10px; height: 10px; border-left: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8}
.ap_cart .product_list + .product_label{margin-top: 17px;}
.ap_cart .product_label{overflow: hidden; height: 35px; padding: 7px 16px; line-height: 22px; font-size: 13px; color:#222; box-sizing: border-box;}
.ap_cart .product_label>dt {float: left;}
.ap_cart .product_label>dd{float: right;font-size: 12px;}
.ap_cart .product_label dd>*:first-child{display:inline-block; height: 22px; padding: 0 10px; margin-right: 7px; line-height: 21px; border:1px solid; border-radius: 11px; font-size: 11px;/* vertical-align: middle;*/}
.ap_cart .product_label dd>span{border-color:rgba(0, 0, 0, 0.15) !important;}
.ap_cart .product_label dd>em{border-color:rgba(255, 0, 0, 0.15) !important; color:#f00;}
.ap_cart .beauty_point{background: #d1eef7;}
.ap_cart .beauty_point .ico_p_s{margin-top: -2px;}
.ap_cart .product_label.event{background: #f7f7d1;}
.ap_cart .product_label.event>dt{width:calc(100% - 140px); overflow: hidden; white-space: nowrap; text-overflow:ellipsis}

.ap_order .special_gift .bg_gray {padding:20px 0}
.ap_order .special_gift .bg_gray dt {padding-left: 16px;}
.ap_order .special_gift .bg_gray dd {padding-bottom: 0}
.ap_order .special_gift .bg_gray dd .list{font-size: 12px;  color: #999;   line-height: 1.3;}

/*기프트카드*/
.ap_cart .product_list_order .product_order .gift_card  {margin-top: 15px;position: relative; font-size: 13px; color:#484848; line-height: 23px; padding-left: 60px}
.ap_cart .product_list_order .product_order .gift_card:before {content: ''; position: absolute; top: 0; left: 0; width: 10px; height: 10px; border-left: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8;}
.ap_cart .product_list_order .product_order .gift_card em {font-weight: bold}
.ap_cart .product_list_order .product_order .gift_card .ico_gift{position: absolute; left: 17px; top: 0; width: 36px; height: 23px; background: url(/mo/ko/images/product/ico_gift.png) no-repeat; background-size: 100%;}

/*묶음상품일경우 list*/
.ap_cart .product_list_order .product_order .bunch_list {margin-top: 12px}
.ap_cart .product_list_order .product_order .bunch_list li{position: relative;padding-left: 13px;font-size: 14px; color:#666; line-height: 20px; margin-top: 5px;word-break: keep-all;}
.ap_cart .product_list_order .product_order .bunch_list li:first-child{margin-top: 0}
.ap_cart .product_list_order .product_order .bunch_list li:before{content: ''; position: absolute; top: 0;left: 0; width: 10px; height: 10px; border-left: 1px solid #e5e5e5; border-bottom:1px solid #e5e5e5}
.ap_cart .product_list_order .product_order .bunch_list li .count {padding-left: 7px}

/* 금액 계산 */
.ap_order .product_price{padding: 10px 16px 0;}
.ap_order .product_price>dl{padding: 12px 0}
.ap_order .product_price dl:after{content:''; display: block; clear: both;}
.ap_order .product_price dl>dt{float:left;}
.ap_order .product_price dl>dd{float:right;}
.ap_order .product_price dl>dd.details{width: 100%;}
.ap_order .product_price dl dl{position:relative; padding-left: 16px; margin-top: 10px; font-size: 13px; color:#999;}
.ap_order .product_price dl dl:before{content:''; position:absolute; top:-2px; left:0; width: 10px; height: 10px; border-left: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8}
.ap_order .product_price>dl.total{height: 60px; margin: 10px 0 0 0; padding: 22px 0; font-size: 15px; border-top:1px solid #f2f2f2; color:#782fff; box-sizing: border-box;}
.ap_order .product_price>dl.total .price{font-size: 16px; color:#782fff}
.ap_order .product_price>dl.add_point *{color:#4f94c0;}
.ap_order .product_price .price{font-weight: bold;}
.ap_order .product_price .my_point{color:#8ebad3; font-size: 11px; padding-left: 3px}
.ap_order .product_price .my_point i{margin-top: -2px;}
.ap_order .product_price>dl.total:only-child{margin-top: -10px; border-top:0;}
.ap_cart .product_price{padding-top: 0;}
.ap_cart .product_price>dl{padding: 20px 0;}
.ap_cart .product_price>dl + dl:not(.shipping_costs){border-top:1px solid #f2f2f2;}
.ap_cart .product_price>dl.shipping_costs{padding-top: 0;}
.ap_cart .product_price>dl.total{margin-top: 0;}

.ap_order .order_area .product_price .ui_tooltip {margin-top: 12px;}
.ap_order .order_area .product_price .ui_tooltip .add_point {color:#4f94c0}
.ap_order .order_area .product_price .ui_tooltip .btn_tooltip {padding: 0; height: inherit;}
.ap_order .order_area .product_price .ui_tooltip .btn_tooltip span {right: -55px; top: -14px;}
.ap_order .order_area .product_price .ui_tooltip .layer_tooltip dt {width: 100%}

/* 주문변경 레이어 */
.ap_cart .order_layer .default_btns {overflow: hidden;position: relative;}
/* .ap_cart .order_layer .default_btns>*{width: 50%;} */
.ap_cart .order_layer .default_btns .btn_lg_neutral {width:163px; height: 50px;background-color: #000; color:#fff; float: right; border-radius: 3px; font-size: 15px; font-weight: bold;}
.ap_cart .order_summary{font-size: 13px; position: absolute;	top: 50%;	transform: translateY(-50%);}
.ap_cart .order_summary .price_box {color:#222; }
.ap_cart .order_summary .price{font-size:15px; font-weight: bold;}
.ap_cart .order_summary .point{margin-top: 6px; font-size: 11px; color:#484848;}

/* 주문 */
.ap_order{padding-bottom: 68px;}
.ap_order .btn_go{position:absolute; top:23px; right:16px; color:#999; font-size: 14px;}
.ap_order .btn_go.on {color:#782fff}
.ap_order .btn_go.on i {background-position:-165px -130px; opacity: 1}
.ap_order .btn_go i{margin-top: -2px;opacity:.3; margin-left: 10px}
.ap_order .btn_go.activated{color:#782fff;}
.ap_order .btn_go.activated i{background-position:-165px -130px; opacity:1;}
.ap_order .ap_contents>.ui_accordion:first-child{margin-top: 9px;}
.ap_order .ui_accordion>dl>dt .title{padding: 5px 0;}
.ap_order .ui_accordion>dl>dt .title>span{display:inline-block; padding-left: 6px; font-size: 14px; color:#484848; font-weight: normal; line-height: 1;}
.ap_order .ui_accordion>dl>dt .title>span + span{margin-left: 7px;  border-left:1px solid #999;}
.ap_order .ui_accordion>dl>dd{background: #fff;border-top:1px solid #f2f2f2;}
.ap_order .ui_accordion>dl>dd>p{padding-left: 16px;}

.order_area .delivery>dl>dd {border-top: 0}
.order_area .delivery>dl>dd .delivery_info  dl:first-child .title:before {display: none}
.order_area .delivery dl>dt.on {border-bottom: 1px solid #f2f2f2}
.order_area .delivery .delivery_info dl + dl {border-top: 0}
.order_area .customer_info {margin:0 16px;}
.order_area .customer_info p{margin-top: 11px; color:#484848}
.order_area .customer_info p:first-child {margin-top: 0}
.order_area .customer_info p .name {position: relative;padding-right: 12px; margin-right: 12px}
.order_area .customer_info p .name:before {content: '';width: 1px; height: 13px; background-color:#cdcdcd;position: absolute; right: 0; top:50%; margin-top: -6px;}
.order_area .reverse .customer_info {padding-bottom: 23px}
/* .order_area .product_list .product_name {margin-bottom:6px;}
.order_area .product_list .option_name {width:inherit;font-size: 12px; color:#999}
.order_area .product_list .price_area {margin-top: 10px;font-size: 12px} */

.ap_order .order_area .ui_tooltip .btn_tooltip {padding:0 66px 0 16px; box-sizing: border-box;}
.ap_order .order_area .ui_tooltip .btn_tooltip span {margin-top: -11px}


/* 주문 : 툴팁 */
.ap_order .ui_tooltip .btn_tooltip{position:relative; width: 100%; height: 44px; padding:0 16px; text-align:left; font-size: 15px; letter-spacing: 0;}
.ap_order .ui_tooltip .btn_tooltip span:not(.title){position:absolute; top:50%; right:16px; width: 50px; margin-top: -11px; border:1px solid #ccc; border-radius: 11px; line-height: 20px; font-size: 11px; text-align: center;}
/* .ap_order .layer_tooltip{margin-top: -15px;} */
.order_area .layer_tooltip dt{padding:16px 0 15px; font-size: 14px; color:#484848}
.order_area .layer_tooltip dd {padding:19px 0 18px; color:#484848; letter-spacing: -1px; line-height: 18px}

/* 사은품 선택 */
.ap_order .gift_wrapping{padding: 4px 16px 20px;}
.ap_order .product_slide .check_wrap>label{padding-left: 0; line-height: inherit;}
.ap_order .product_slide .check_wrap>label:before{border-radius:50%;}
.ap_order .product_slide .check_wrap>input[type="checkbox"]:checked + label:before{background-color: #782fff;}
.ap_order .product_slide .check_wrap>label>*{display:block;}
.ap_order .product_slide .three_half .product_info{font-size: 12px;}

/* 배송 정보 */
.ap_order .delivery_info{font-size: 15px;}
.ap_order .delivery_info .customer_info p{color:#999 !important;}
.ap_order .delivery_info .title{padding: 25px 16px; color:#222; position: relative; overflow: hidden;}
.ap_order .delivery_info .title .btn_modify {font-size: 13px; color:#999; float: right;margin-top: -3px}
.ap_order .delivery_info .title:before {content: ''; height: 1px; position: absolute; left: 16px; right: 16px; top: 0; background-color: #f2f2f2}
.ap_order .delivery_info .cont{padding:0 12px}
.ap_order .delivery_info dt:after{content:''; display: block; clear: both;}
.ap_order .delivery_info dl + dl{position:relative; margin-top:20px; border-top:1px solid #f2f2f2;}
/* .ap_order .delivery_info .toggle_btn{margin-bottom: -15px;} */
.ap_order .delivery_info .toggle_btn i.ico_down{margin-top: 0;background: url(/mo/ko/images/common/ico_arrow.png) no-repeat; background-size: 19px 10px; width: 19px; height: 10px; margin-left: 5px;}
.ap_order .address_list{position:relative; overflow: hidden; display:block; max-height: 300px; padding:0 16px 25px 16px}
.ap_order .address_list + .btn_md_more {line-height: 63px; width: 100%; text-align: center;font-size: 15px; color:#484848; padding-top: 5px;}
.ap_order .address_list:after{content:''; position:absolute; bottom:0; left: 0; height: 20%; width: 100%; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}
.ap_order .on .address_list{overflow:visible; max-height:inherit;}
.ap_order .on .address_list:after{display:none;}
.ap_order .address_list>li{padding: 16px; margin-top: 6px; border:1px solid #eaeaea; border-radius:5px; font-size: 14px;}
.ap_order .address_list>li:first-child {margin-top: 0}
.ap_order .address_list>li.selected{border-color:#782fff;}
.ap_order .address_list>li.selected {font-size: 15px}
.ap_order .address_list>li>button{width: 100%; text-align: left;}
.ap_order .address_list>li>button span {font-size: 14px}
.ap_order .address_list>li.selected>button span {font-size: 15px}
.ap_order .address_list>li.selected .check_set {display: block;}
.ap_order .address_list>li>button .name {position: relative;padding-right: 7px; margin-right:7px}
/* .ap_order .address_list>li>button .phone_number {vertical-align: middle;} */
.ap_order .address_list>li>button .name:before {content: ''; width: 1px; height: 13px; background-color: #cdcdcd; position: absolute; right: 0; top: 50%; margin-top: -6px;}
.ap_order .address_list>li>button .address {display: block; margin-top: 3px; line-height: 22px;}
.ap_order .address_list>li>button .flag {vertical-align: top; margin-left: 3px}
.ap_order .address_list .check_set{margin-top: 12px; display: none;}
.ap_order .address_list .check_set span + span {margin-left: 30px}
.ap_order .address_list .check_wrap>label:before{border-radius: 50%;}

.delivery_order dd {padding: 17px 16px;}
.delivery_order dd .rdo_wrap .rdo_h30 {height: 47px; padding:9px 0;}
.delivery_order dd .rdo_wrap + .input_wrap {margin-top: 3px; display: none}
.delivery_order dd .rdo_wrap .rdo_h30 em {font-size: 11px; color:#ff0000; padding-left: 10px; vertical-align: top}
/* 혜택 적용 */
.use_benefit{padding: 0 16px;}
.use_benefit>dl{padding: 12px 0 0 0; font-size: 15px;}
.use_benefit>dl:after{content:''; display: block; clear: both;}
.use_benefit>dl dt{float:left;}
.use_benefit>dl>dt .title{display:inline-block; width: 80px;}
.use_benefit>dl dd{float:right; text-align: right;}
.use_benefit>dl dd.price,
.use_benefit>dl dd .price{font-weight: bold;}
.use_benefit>dl dd .price + .text {font-size: 13px; padding-top:7px}
.use_benefit>dl dd.details{width: 100%; text-align: left;margin-top: 4px}
.use_benefit>dl dl{float:left; position:relative; width: 100%; padding-left: 16px; margin-top: 8px; font-size: 13px; color:#999;}
.use_benefit>dl dl:before{content:'└ '; position:absolute; top:0; left:-6px; color:#e8e8e8;}
.use_benefit>dl.total{margin: 10px -16px 0; padding: 20px 16px; font-size: 15px; border-top:1px solid #f2f2f2;}
.use_benefit>dl.total .price{font-size: 16px;}
.use_benefit .ui_accordion>dl>dt{padding-left: 0; padding-right: 0;}
.use_benefit .ui_accordion .bg_gray {padding:20px 0}
.use_benefit .ui_accordion .bg_gray dt {padding-left: 16px;}
.use_benefit .ui_accordion .bg_gray dd {padding-bottom: 0}
.use_benefit dl + .ui_accordion>dl>dt:not(.on){border-bottom:1px solid #f2f2f2;}
.use_benefit .ui_accordion .title{font-size: 13px; color:#484848;}
.use_benefit .ui_accordion .title + button {right: -14px}
.use_benefit .ui_accordion>dl>dd{margin: 0 -16px;}
.use_benefit .list{font-size: 12px; color:#999; line-height: 1.3;}
.use_benefit [class^="list"] li + li{margin-top: 3px;}
.use_benefit input{width: 90px; height: 32px; margin: 0 3px; padding: 0 10px; border: 1px solid #f2f2f2; font-weight: bold; color:#222; text-align: right;}
/* check list */
.ap_order .check_list>li + li{margin-top: 18px;}
.ap_order .check_list + .input_wrap{margin-top: 18px;}
.ap_order .check_wrap>input[type="radio"]+label{min-height:30px; line-height: 30px}
.ap_order .check_wrap>input[type="radio"]+label:before{width: 30px; height: 30px; background: #eaeaea; -webkit-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1);}
.ap_order .check_wrap>input[type="radio"]+label:after{top:8px; left:8px; width: 14px; height: 14px; border-radius: 50%; background:#eaeaea;}
.ap_order .check_wrap>input[type="radio"]:checked+label:after{background:#782fff;}
/* 주문 : 추가 사은품 */
.ap_order .special_gift .ui_accordion{}
.ap_order .special_gift .layer_tooltip {margin-top: -8px}
.ap_order .special_gift .ui_accordion>dl{position:relative;}
.ap_order .special_gift .ui_accordion>dl + dl:after{content:''; position:absolute; top:0; left:16px; right:16px; height: 1px; background: #f2f2f2;}
.ap_order .special_gift .ui_accordion>dl>dt .title{font-size: 15px;}
.ap_order .special_gift .ui_accordion>dl>dt .text {display: none;}
.ap_order .special_gift .ui_accordion>dl>dt.on .text {display: block;}
.ap_order .special_gift .ui_accordion>dl>dd{border-top:0;}
.ap_order .special_gift .ui_accordion .product_slide{margin: 0 -16px; padding: 0 16px;}
.ap_order .special_gift .ui_accordion .three_half{padding:0 16px 16px;}
.ap_order .special_gift p + .gift_card{margin-top: 16px;}
.ap_order .special_gift .gift_card{padding:0 16px 28px;}
.ap_order .special_gift .gift_card li {position:relative; width: 100%; padding-right:78px; margin-top: 8px;overflow: hidden; white-space: nowrap; text-overflow:ellipsis; font-size: 13px; color:#484848}
.ap_order .special_gift .gift_card li:first-child {margin-top: 0}
.ap_order .special_gift .gift_card li .price {position: absolute; right: 0; top: 0}
/* .ap_order .special_gift .gift_card>li>span:first-child{width: calc(100% - 70px);} */
/* 결제 수단 선택 */
.ap_order .payment_list{padding:0 16px;}
.ap_order .payment_list>li{position:relative; padding:16px 0;}
.ap_order .payment_list .one_pay img{width: 82px;}
.ap_order .payment_list .one_pay em{padding-left: 7px; font-size: 12px;}
.ap_order .card_slide{padding-top: 16px; margin: 0 -16px;}
.ap_order .card_slide .ix-list-item{padding: 0 60px;}
.ap_order .card_slide .credit_card{position:relative;}
.ap_order .card_slide .credit_card>input{position:absolute; z-index: -1;}
.ap_order .card_slide .credit_card>label{position:relative; display:block;}
.ap_order .card_slide .credit_card>input:checked + label:after{content:''; position:absolute; top:20px; right:20px; width: 21px; height: 14px; background:url(/mo/ko/images/common/ico.png) no-repeat -135px 0; -webkit-background-size: 200px;background-size: 200px;}
.ap_order .card_slide .card_info{position:absolute; top:30%; left:0; right:0; padding: 16px; text-align: left;}
.ap_order .card_slide .card_info>*{display:block; line-height: 1.5; font-size: 13px;}
.ap_order .card_slide .card_info .card_name{font-size: 17px;}
.ap_order .payment_list>li + li{border-top: 1px solid #f2f2f2;}
/* .ap_order .card_list{margin: 16px -16px 0;} */
.ap_order .card_list {overflow: hidden; display: none; padding-top: 16px; margin:-10px -16px 0 -16px;}
.ap_order .card_list li {width: 25%; float: left; margin-top: 10px;}
.ap_order .card_list .card{position:relative; display:table; width: 100%;}
.ap_order .card_list .card img{width: auto; max-width: 100%;}
.ap_order .card_list .card input{position:absolute; z-index: -1;}
.ap_order .card_list .card label{display:table-cell; height: 80px; border:1px solid #fff; font-size: 13px; text-align: center; color:#999; vertical-align:middle}
.ap_order .card_list .card label span{display:inline-block; width: 100%; white-space: nowrap; letter-spacing: -1px;}
.ap_order .card_list .card input:checked + label{border-color: #782fff;}
.ap_order .purchase_btns{padding: 9px 7px 0;}
.ap_order .purchase_btns>*{border-radius: 4px; font-size: 15px; font-weight: bold;}

.ap_order .other_noty_area > div {display: none;}
.ap_order .other_noty_area .txt_tel {line-height: 18px; margin-top: 10px}
.ap_order .pay_form{margin-top: 10px;}
.ap_order .ui_table{min-height: 50px; padding:8px 0;}
.ap_order .ui_table:nth-child(4){min-height: 62px;}
.ap_order .ui_table + .ui_table{margin-top: 0;}
.ap_order .ui_table>*{min-height: 50px; font-size: 15px;}
.ap_order .ui_table>dt{width:90px; line-height:18px; }
.ap_order .ui_table>dt.align_t {vertical-align: top;padding-top: 6px}
.ap_order .ui_table>dd{padding-left: 20px}
.ap_order .ui_table>dd .rdo_wrap {margin-bottom: 11px;}
.ap_order .ui_table:last-child>dt{vertical-align: top; line-height: 30px;}
.ap_order .ui_table:last-child {margin-top: 8px;}
.ap_order .ui_table:last-child>dd .input_h48_gray {display: block; margin:12px 0 15px}
.ap_order .ui_table>dd .rdo_wrap > span {width: 85px; margin-left:15px; margin-right: 0}
.ap_order .ui_table>dd .rdo_wrap > span:first-child {margin-left:0}
.ap_order .ui_table + .chk_round_h24 {display: block; margin-top: 8px}

.ap_order .payment_list .cont_phone {margin-top: 18px}
.ap_order .payment_list .cont_phone p{line-height: 21px; color: #484848;   font-size: 14px;}
.ap_order .payment_list .cont_phone p em{color:#782fff}

.agree_area {padding:22px 16px}
.agree_area .chk_wrap .chk_h28 {margin-top: 12px;}
.agree_area .chk_wrap .chk_h28:first-child {margin-top: 0}
.agree_area .text {margin-top: 10px}
.agree_area .text + .text {margin-top: 12px;}

.insurance_wrap {padding-top: 20px; margin-top: 30px; border-top: 1px solid #f2f2f2}
.insurance_wrap .chk_round_h24 {display: inline-block;margin-top: 15px}
.insurance_wrap .birth_area {position: relative;padding-right: 138px; margin-top: 25px}
.insurance_wrap .birth_area .input_h48_gray {width: 100%;}
.insurance_wrap .birth_area .check_btn_set {width: 130px; height: 48px; position: absolute; right: 0; top: 0}
.insurance_wrap .birth_area + .list {padding: 25px 0 15px 0}
.insurance_wrap .birth_area + .list li {position: relative;font-size: 13px; color:#999; line-height: 16px; margin-top: 10px; padding-left: 10px;}
.insurance_wrap .birth_area + .list li:before {content: ''; width: 2px ;height: 2px; background-color:#ccc; position: absolute;left: 0; top: 7px;}
.insurance_wrap .birth_area + .list li:first-child:before {background-color:#ff0000}
.insurance_wrap .birth_area + .list li a {color:#ff0000; position: relative;padding-right: 13px}
.insurance_wrap .birth_area + .list li a:before {content: '';display: block;width: 7px; height: 13px; position: absolute;right: 0; top: 50%; margin-top: -6px;background: url(/mo/ko/images/common/bg_arrow.png) no-repeat 0 0; background-size: 7px 13px;}
.insurance_wrap .birth_area + .list li:first-child {margin-top: 0}

.real_time .insurance_wrap {padding-top: 0; margin-top: 0; border-top: 0;}
.pop_insurance .section {height: 100%; border-top:0 !important}
.pop_insurance .list .dl_cont *{font-size: 14px; color:#222;}
.pop_insurance .list .dl_cont dt {font-weight: bold; margin-bottom: 15px; padding-bottom: 0}
.pop_insurance .list .dl_cont dd {margin-bottom: 26px; line-height: 20px}

/* 배송지 추가 비회원 */
.new_address button{position:relative; width: 100%; text-align: left; font-size: 15px; padding:22px 16px;}
.new_address button:after{content:''; position:absolute; top:50%; right:16px; width: 11px; height: 19px; margin-top: -10px; background:url(/mo/ko/images/common/ico.png) no-repeat -30px -20px; -webkit-background-size: 200px;background-size: 200px; opacity:.3;}
.new_address dd{padding-top: 12px; font-size: 17px;}
.new_address button:disabled{background: transparent !important; color:#999;}
.new_address button:disabled dd{color:#bbb;}
.new_address .current dt{color:#222;}
.new_address .current dd{color:#782fff;}
.new_address .current:after{background-position: -165px -130px; opacity:1;}
.new_address .completed dt{color:#999;}
.new_address .completed dd{color:#222;}
.new_address .section.type2 {padding:22px 16px;}
.new_address .section.type2 .chk_round_h24 input:checked + label {color:#222}
.new_address .section.type2 .chk_round_h24 label {color:#999}

/* .layer_popup.fullpage [class*="fixed"] .layer_cont.type2 {bottom: 0} */
.step1 {}
.search_address .step2 {display: none; padding:0 16px 0 16px;}
.search_address .step2 .count {font-size: 15px; color:#333; font-weight: bold; padding:15px 0 18px}
.search_address .step2 .address_list {display: block;}
.search_address .dl_cont {padding:0 16px}
.search_address .dl_cont dt {font-size: 14px; color:#333; font-weight: bold; padding-bottom:12px;}
.search_address .dl_cont dd p{line-height: 22px}
.search_address .dl_cont.change dt,
.search_address .dl_cont.change dd{color:#999}
.search_address{min-height:calc(100% - 10px);}
.search_address .search_form{padding: 0;  padding:13px 0 16px}
.search_address .search_form .input_wrap .ico_search_p {width:23px;height:23px;background-position:-76px -225px}
.search_address .search_form .input_wrap input{width: 100%; padding-left: 16px; padding-right: 90px;height:42px; font-size: 16px; border-color: transparent;}
.search_address .search_form .input_wrap.search input {color:#782fff}
.search_address .search_form .input_wrap.search .ico_search_p {background-position:-101px -225px}
.search_address .search_form .btn_search{position:absolute; top:50%; right:4px; left: inherit; width: 42px; height: 42px; margin-top: -21px}
.search_address .search_form  .btn_del {display:none; width: 16px; height: 16px; border-radius: 8px; background-color:#ccc;position:absolute; top:50%; right:75px; margin-top: -9px;}
.search_address .search_form .input_wrap input.on + .btn_del {display: block;}
.search_address .input_wrap input::-webkit-input-placeholder {color: #782fff;}
.search_address .input_wrap input::-moz-placeholder {color: #782fff;}
.search_address .input_wrap input:-ms-input-placeholder {color: #782fff;}
.search_address .input_wrap input:-moz-placeholder {color: #782fff;}
.search_address .search_form.focus + .dl_cont{color:#999;}
.search_address .address_list ul{overflow:visible; height: auto;}
.search_address .address_list li{position: relative; border-bottom: 0; padding:24px 25px 24px 0}
.search_address .address_list li .rdo_h30 {position: absolute; right: 0; top:27px;}
.search_address .address_list li label p:last-child {padding-left: 0; font-weight: bold; margin-top: 10px}
.search_address .address_list li + li{border-top: 1px solid #f2f2f2;}
.search_address .address_list p{position: relative;line-height: 20px; padding-left: 50px;}
.search_address .address_list p + p{margin-top: 6px;}
.search_address .flag{position: absolute; left: 0; top: 0; display:inline-block; color:#999; min-width:45px; height: 20px; padding:0 5px; margin-right: 6px; font-size: 11px; line-height: 18px; text-align: center; border:1px solid #ccc; vertical-align: top;}
.address_list .add_input {display:none;margin-top: 22px; margin-right: -25px;}
.address_list .add_input > span {display: block; margin-top: 8px;}
.search_address + .layer_btns{display: none;}
.search_address + .layer_btns.on {display: block;}
.search_address + .layer_btns button{color:#fff; padding:17px 0}

.layer_cont.on .step2 {padding-bottom: 50px;}

.input_form{position:relative; min-height:calc(100% - 9px); padding-top: 25%; text-align: center;}
.input_form p.text{font-size: 15px; padding: 0 40px;}
.input_form p + p{margin-top: 12px;}
.input_form .input_wrap{display:inline-block; max-width:100%; padding: 0 40px; margin-top: 35px; font-size: 22px;}
.input_form .input_wrap .text{position:relative; z-index:1; display:inline-block; max-width:100%; font-size: inherit; text-align: left; line-height: 1.2; }
.input_form .placeholder{position:absolute; top:0; left:40px; color:#999; line-height: 1.2;}

/* 쿠폰/기프트카드 조회/사용*/
.registration_form {position: relative;}
.registration_form .input_wrap{float:left; width:calc(100% - 60px); padding:20px 16px;}
.registration_form .input_wrap>input{width: 100%;height: 30px; padding-left: 0; border:0; font-size: 16px;}
.registration_form .input_wrap input::-webkit-input-placeholder {color: #222;}
.registration_form .input_wrap input::-moz-placeholder {color: #222;}
.registration_form .input_wrap input:-ms-input-placeholder {color: #222;}
.registration_form .input_wrap input:-moz-placeholder {color: #222;}

.registration_form button{position: absolute; right:16px; top:50%; margin-top: -15px; border:1px solid #ebebeb; float:right;font-size: 14px; color:#000; padding: 0 15px; line-height: 28px;}
.benefit_layer .layer_cont.type2 {padding-bottom: 50px}
.benefit_layer .coupon_list>dt{padding: 25px 0; border-bottom: 1px solid #f2f2f2; font-size: 15px; font-weight: 500;}
.benefit_layer .coupon_list>dt em {float: right; color:#782fff; font-weight: bold;}

.benefit_layer .coupon_list {padding:0 16px}
.benefit_layer .coupon_list li{padding: 25px 0; position: relative;}
.benefit_layer .coupon_list li + li{border-top: 1px solid #f2f2f2;}
.benefit_layer .coupon_list .check_wrap>label{display: table; width: 100%;}
.benefit_layer .coupon_list .check_wrap>label:before,
.benefit_layer .coupon_list .check_wrap>label:after{top:50% !important; margin-top: 0 !important; transform:translateY(-50%)}
.benefit_layer .coupon_list .check_wrap>label>span{display: table-cell; vertical-align: middle; font-size: 16px;}
.benefit_layer .coupon_list .check_wrap>label>span:first-child {width: 29px;}
.benefit_layer .coupon_list .check_wrap .cont {padding-left: 13px}
.benefit_layer .coupon_list .check_wrap .text{overflow:hidden; margin-bottom: 10px;display: -webkit-box; max-height:46px; white-space:normal; word-break: break-all; -webkit-line-clamp:2; -webkit-box-orient: vertical; line-height:23px;}
.benefit_layer .coupon_list .check_wrap .date {font-size: 13px; color:#999}
.benefit_layer .coupon_list .check_wrap .price{width: 75px; text-align: right;}
.benefit_layer .section p.text {padding:18px 16px 40px 16px; line-height: 21px; font-size: 13px; color:#999;}
.benefit_layer .no_coupon{height:calc(100%) ;padding-top:85px; text-align: center;}
.benefit_layer .no_coupon .txt {font-size: 16px;}
.benefit_layer .no_coupon p+p{margin-top: 30px;}
.benefit_layer .no_coupon p:last-child {line-height: 20px;}
.benefit_layer .use_card{display:none; border-bottom: 1px solid #782fff;}
.benefit_layer .use_card:after{content:''; display: block; clear:both;}
.benefit_layer .use_card .input_wrap{float:left; width: calc(100% - 75px);}
.benefit_layer .use_card .input_wrap>input{border:0; height: 46px; font-size: 16px;}
.benefit_layer .use_card button{float:right; height: 46px; color:#782fff;}
.benefit_layer .use_card button:disabled{background: transparent; color:#999;}

.use_area .title .save {color:#782fff !important;}
.use_area dd.price{height: 32px;line-height: 32px;}

.input_h48_purple input::-webkit-input-placeholder {color: #bbb;}
.input_h48_purple input::-moz-placeholder {color: #bbb;}
.input_h48_purple input:-ms-input-placeholder {color: #bbb;}
.input_h48_purple input:-moz-placeholder {color: #bbb;}

.benefit_layer .coupon_list .add_input {position: relative; display: none;}
.benefit_layer .coupon_list .add_input input {padding:26px 60px 24px 15px}
.benefit_layer .coupon_list .add_input .txt_small {position: absolute;right: 0; top:50%; margin-top: -5px; color:#bbb;}
.benefit_layer .coupon_list .add_input .txt_small.on {color:#782fff}
/* 주문 완료 */
.order_complete{padding: 50px 0; font-size: 16px; text-align: center;}
.order_complete > .text {color:#782fff}
.order_complete dl {margin-top: 15px;}
.order_complete dl,
.order_complete dl>*{display:inline-block; padding: 0 3px; color:#484848}
.gray_box {padding:25px 16px;}
.gray_box .list {padding: 0}
.gray_box .list li {font-size: 12px; margin-top: 13px;color:#999; line-height: 16px;}
.gray_box .list li:first-child {margin-top: 0}

.ap_order .dl_cont .h_title{padding: 24px 0 24px 16px; font-size: 16px; font-weight: 600;}
.ap_order .dl_cont > dd {padding: 0 16px 20px 16px; }
.ap_order .dl_cont dd.divide{margin-top: 10px; color:#484848; font-size: 14px}
.ap_order .dl_cont dd.divide span:first-child{position: relative; margin-right: 12px; padding-right: 12px}
.ap_order .dl_cont dd.divide span:first-child:before{content: ''; width: 1px; height: 13px; background-color: #cdcdcd; position: absolute; right: 0; top: 50%;  margin-top: -6px;}
.ap_order .btn_area {margin-top: 25px;padding:0 8px}
.ap_order .dl_cont .txt * {line-height: 25px; color:#484848; font-size: 14px}
.ap_order .dl_cont.type2 {overflow: hidden;}

.ap_order .dl_cont.type2 dt{width: 120px; position: absolute; left: 0; top: 0;}

.ap_order .dl_cont.type2 dt,
.ap_order .dl_cont.type2 dd {padding:24px 0 24px 16px}
.ap_order .dl_cont.type2 dd {padding:22px 16px 18px 130px; }
.ap_order .dl_cont.type2 dd span {line-height: 20px}
