@charset "UTF-8";

/* 구매 리뷰 */
.review_summary.section {padding-top: 26px;}
.review_summary{padding: 0 17px 20px; text-align: center; font-size: 15px;}
.review_summary .review_copy{display:inline-block; position:relative; margin: 19px 0 22px 0; font-size: 24px; color:#000; line-height: 1;}
.review_summary .review_copy:before,
.review_summary .review_copy:after{content:''; position:absolute; top:-5px; left:-15px; width: 14px; height: 11px; background:url(/mo/ko/images/common/ico.png) no-repeat -135px -200px; -webkit-background-size: 200px;background-size: 200px;}
.review_summary .review_copy:after{left:auto; background-position: -135px -212px;}
.bold_222 {font-weight: bold; color: #222;}
.btn_border_round {padding: 0 20px 0 17px; height: 38px; line-height: 38px; font-size: 14px; color: #666; border: 1px solid #eaeaea; border-radius: 19px; box-sizing: border-box;}
.review_overview .btn_border_round .ico_down {margin-left: 10px; width: 16px; height: 9px; background: url("/mo/ko/images/common/ico_arrow_down_16.png") 0 0 no-repeat; background-size: 16px 9px;}
.review_overview .btn_border_round .ico_up {margin-left: 10px; width: 16px; height: 9px; background: url("/mo/ko/images/common/ico_arrow_up_16.png") 0 0 no-repeat; background-size: 16px 9px;}
.review_summary .on .graph_detail {padding: 27px 0; margin: 0;}

/* 리뷰 평가 그래프 영역*/
.review_graph{color:#999; margin: 40px 0 28px 0;}
.review_graph>li{display:table; width:100%;}
.review_graph>li + li{margin-top: 15px;}
.review_graph>li>*{display:table-cell; vertical-align: middle; text-align: left;}
.review_graph>li>*.title{width: 54px;}
.review_graph>li>*.exp{width: 110px; color: #222;}
.review_graph>li>* + .exp{padding-left: 10px; color:#484848;}
.review_graph .graph{position:relative; float:left; width:calc(100% - 45px); height: 18px; line-height: 18px;}
.review_graph .graph:before{content:''; position:absolute; top:7px; left:0; width: 100%;  height: 5px; background: #f2f2f2;}
.review_graph .data{float:right; width: 40px; text-align: right; line-height: 18px;}
.review_graph .graph>*{position:absolute; top:7px; left:0; height: 5px; background: #999;}
.review_graph .graph>em{background: #782fff !important;}
.ui_toggle_contents .close,
.ui_toggle_contents.on .view{display:none;}
.ui_toggle_contents.on .close{display:inline-block;}
.graph_detail{display:none;}
.on .graph_detail{display:block; padding: 20px 16px 0; margin:0 -16px 30px; text-align: left; border-top:1px solid #f2f2f2;}
.graph_detail .review_graph>li{margin-top: 10px; text-align: left;}
.graph_detail dl + dl{margin-top: 27px;}
.graph_detail dt{color:#999; font-size: 14px;}
.graph_detail .review_graph {margin: 0;}

/* 베스트 포토리뷰, 뷰티테스터 */
.section.best_photo_review,
.section.beauty_tester {padding: 27px 0 30px;}
.section.best_photo_review .h_title,
.section.beauty_tester .h_title {padding: 0 16px; font-size: 17px; color: #222; line-height: 1;}
.section.best_photo_review .product_slide,
.section.beauty_tester .product_slide {margin-top: 25px; padding-left: 0;}
.section.best_photo_review .product_slide ul,
.section.beauty_tester .product_slide ul {}

.best_photo_review .product_slide .three_half>li {width: 85px; height: 85px; margin-right: 7px;}
.best_photo_review .product_slide .three_half>li:last-child {margin-right: 16px;}

/* 뷰티 테스터 */
.section.beauty_tester .product_slide ul li {margin-right: 7px;}
.review_overview .beauty_tester .product_slide li{min-height:inherit !important;}
.review_overview .beauty_tester .product_slide li>a{position:relative; display:block; overflow:hidden; height: 210px; border-radius: 10px;}
.review_overview .beauty_tester .product_slide li>a .info{position:absolute; bottom:0; left:0; right:0; padding: 20px 15px; white-space: normal; z-index: 2;}
.review_overview .beauty_tester .product_slide li>a .bg_gradient {background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%); display: inline-block; width: 150px; height: 120px; position: absolute; left: 0; bottom: 0; z-index: 1;}
.review_overview .beauty_tester .product_slide li>a .info>*{display:block; color:#fff; line-height: 1.3;}
.review_overview .beauty_tester .product_slide li>a .info b{color:#fff;}
.review_overview .beauty_tester .product_slide li>a .info b.title {overflow: hidden; display: -webkit-box; max-height: 35px; white-space: normal; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.review_overview .beauty_tester .product_slide li>a .info .ico_star_s_w{margin-top: -4px; background-position: -160px -115px;}
.review_overview .beauty_tester .product_slide .btn_view_more{height:210px;}

.review_overview .beauty_tester .product_slide li>a.only_txt {display: table; border: 1px solid #eaeaea;}
.review_overview .beauty_tester .product_slide li>a.only_txt .inbox {display: table-cell; vertical-align: middle; height: 210px; padding: 0 15px;}
.review_overview .beauty_tester .product_slide li>a.only_txt .inbox .text {margin: 10px 0; font-size: 14px; overflow: hidden; display: -webkit-box; white-space: normal; word-break: break-all; -webkit-box-orient: vertical; line-height: 1.3; color: #646464;}
.review_overview .beauty_tester .product_slide li>a.only_txt .inbox .text.line05 {-webkit-line-clamp: 5;} 
.review_overview .beauty_tester .product_slide li>a.only_txt .inbox .text.line02 {-webkit-line-clamp: 2;} 
.review_overview .beauty_tester .product_slide li>a.only_txt .inbox .count {color: #000;}

/* 해쉬 태그 */
.section.hash {padding: 20px 16px;}
.review_overview .tag_group{margin:0 -16px; padding: 0 16px; white-space: nowrap;}
.review_overview .tag_group>*{display: inline-block; height: 38px; padding: 0 15px; border: 1px solid #e4e4e4; font-size: 15px; color: #484848; border-radius: 19px; vertical-align: top;}
.review_overview .tag_group button {margin-left: 8px;}
.review_overview .tag_group button:first-child {margin-left: 0;}
.review_overview .tag_group>a{line-height: 28px;}

/* 리뷰 정렬 */
.review_overview .review_sort>dl>dt{font-size: 15px;}
.review_overview .review_sort .filter {margin-left: 12px; padding-left: 15px; position: relative; color:#999;}
.review_overview .review_sort .filter:first-child {margin-left: 0; padding-left: 0;}
.review_overview .review_sort .filter + .filter:before {content: ""; position: absolute; left: 0; top: 3px; width: 1px; height: 13px; background-color: #cdcdcd;}
.review_overview .review_sort .filter.on {color:#782fff; font-weight: bold;}
.review_overview .review_sort .ico_down {display: inline-block; margin: -2px 0 0 10px; width: 16px; height: 9px; background: url("/mo/ko/images/common/ico_arrow_down_16.png") 0 center no-repeat; background-size: 16px 9px;}
.review_overview .review_sort dt {position: relative;}
.review_overview .review_sort dt button {width: auto; padding-right: 16px; color:#999; font-size: 15px;}

.ap_order .review_sort.ui_accordion>dl>dd {border-top: 0;}
.review_overview .review_sort .btns{padding: 10px 0; border-top:1px solid #f2f2f2; text-align: center; font-size: 0;}
.review_overview .review_sort .btns>*{width:65px; height: 55px; border:1px solid #e4e4e4; border-radius: 10px; color:#999; box-sizing: border-box;}
.review_overview .review_sort .btns button {font-size: 13px; margin-left: 5px;}
.review_overview .review_sort .btns button:first-child {margin-left: 0;}
.review_overview .review_sort .btns button .color_black {font-size: 14px;}
.review_overview .review_sort .btns .ico_star {margin-top: -4px;}

/* 리뷰 목록 */
.review_overview .review .review_header .rating .count {margin-left: 5px;}
.review_overview .review .review_header>span {font-size: 15px; color: #222;}
.review_overview .review .review_header>span + span:not(.rating) {font-size: 13px;}
.review_overview .review .review_header>span + span:not(.rating):before {left: -10px; top: 2px;}
.review_overview .review .product_name {font-size: 15px; color: #782fff;}
.review_overview .review .product_slide {padding-left: 0; margin-top: 20px; margin-left: -16px; margin-right: -16px;}
.review_overview .review .summary {margin: 20px 0;}
.review_overview .review .product_slide .three_half {padding: 0 16px;}
.review_overview .review .product_slide .three_half>li {width: 85px; height: 85px; margin-right: 7px;}
.review_overview .review .product_slide .three_half>li:last-child {margin-right: 16px;}
.review_overview .review .cont .text {overflow: hidden; display: -webkit-box; max-height: 86px; white-space: normal; word-break: break-all; -webkit-line-clamp: 4; -webkit-box-orient: vertical; line-height: 22px;}
.review_overview .review .cont.open .text {overflow: auto; display: block; max-height: 100%; white-space: normal; word-break: break-all; -webkit-line-clamp: inherit; -webkit-box-orient: vertical; line-height: 22px;}

.review_overview .review .cont .read_more {display: inline-block; margin-top: 13px;}
.review_overview .review .cont .more_view.close {display: none; font-size: 14px; color: #a3a3a3;}
.review_overview .review .cont.open .read_more {display: none;}
.review_overview .review .cont.open .more_view.close {display: block; margin-top: 13px;}
.review_overview .review .cont .ico_down {padding-right: 15px; width: 15px; height: 8px; background: url("/mo/ko/images/common/ico_arrow_down_16.png") 0 0 no-repeat; background-size: 15px 8px;}
.review_overview .review .cont .ico_up {padding-right: 15px; width: 15px; height: 8px; background: url("/mo/ko/images/common/ico_arrow_up_16.png") 0 0 no-repeat; background-size: 15px 8px;}

.review_overview .review .btns {margin: 17px 0 14px 0; position: relative;}
.review_overview .review .btns button {line-height: inherit !important;}
.review_overview .review .btns:after {content: ""; display: block; clear: both;}
.review_overview .review .btns>.btn_good span {color: #646464;}
.review_overview .review .btns>.btn_good * + * {margin-left: 20px;}
.review_overview .review .btns [class^="ico_"] + span {position: absolute; left: 30px; top: 50%; margin-top: -8px;}
.review_overview .review .btns [class^="ico_"] + span.sr_only {left: 0; top: 0; margin-top: 0;}
.review_overview .review .btns>.btn_good {float: left;}
.review_overview .review .btns .btn_report {float: right;}
.review_overview .review .bottom {padding: 8px 0; margin: 0;}
.review_overview .review .bottom:after {content: ""; display: block; clear: both;}
.review_overview .review .bottom .date {float: left; padding-top: 9px;}
.review_overview .review .bottom .btn_sm_bordered {float: right; padding: 0 10px; height: 28px; line-height: 28px; font-size: 13px; color: #222222; border: 1px solid #eaeaea; border-radius: 3px;}

/* 베스트 포토 리뷰 */
.ap_contents.review_overview.detail {padding-bottom: 0;}
.review_overview.detail .review {margin-top: 0;}
.review_overview.detail.fix_height .review {position: relative; min-height:660px;}
.review_overview.detail .review .slide_box {padding: 20px 16px 20px;}
.review_overview.detail .review .product_slide {margin-top: 0;}

.review_pos_wrap {position: relative; padding: 10px 0;}
.review_pos_wrap.open {padding-bottom: 0; position: absolute; left: 0; bottom:0; z-index: 100; background-color: #fff;}
.review_pos_wrap .btn_review_more {position: absolute; top: 10px; left: 50%;}
.review_pos_wrap .read_more {display: block;}  
.review_pos_wrap .read_more_close {display: none;}
.review_pos_wrap.open .read_more {display: none;}
.review_pos_wrap.open .read_more_close {display:block ;}
.review_pos_wrap .read_more .ico_up {display: inline-block; width: 15px; height: 8px; background: url("/mo/ko/images/common/ico_arrow_down_16.png") center center no-repeat; background-size: 15px 8px;}
.review_pos_wrap .read_more_close .ico_down {display: inline-block; width: 15px; height: 8px; background: url("/mo/ko/images/common/ico_arrow_up_16.png") center center no-repeat; background-size: 15px 8px;}

.review .review_pos_wrap .product_name {display: none; margin-bottom: 0; height: 28px; line-height: 28px;}
.review .review_pos_wrap.open .product_name {display: block;}
.review_overview.detail .product_name .ellipsis {overflow: hidden; display: -webkit-box; max-height: 35px; white-space: normal; word-break: break-all; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.review_overview.detail .product_name .ico_arr  {display: inline-block; width: 10px; height: 28px; background: url("/mo/ko/images/common/ico_title_arrow.png") 0 center no-repeat; background-size: 10px 18px;}

.review_overview .review_pos_wrap .summary {display: none !important;}
.review_overview .review_pos_wrap.open .summary {display:  table !important;}

.review_overview .review_pos_wrap .cont .text {overflow: hidden; display: -webkit-box; max-height: 80px; white-space: normal; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical; /*line-height: 1.2;*/line-height: 22px;}
.review_overview .review_pos_wrap.open .cont .text {overflow: auto; display: block; max-height: 109px; white-space: normal; word-break: break-all; -webkit-line-clamp: inherit; -webkit-box-orient: vertical; /*line-height: 1.2;*/line-height: 22px;}

.review_pos_wrap .review_help_box {display: none; padding: 7px 16px 8px; color: #646464; border-top: 1px solid #d1d1d6; box-shadow: 0 -5px 5px 0 #e5e5e5;}
.review_pos_wrap.open .review_help_box {display: block;}

.review_pos_wrap .review_help_box:after {content: ""; display: block; clear: both;}
.review_pos_wrap .review_help_box .txt {float: left; line-height: 38px;}
.review_pos_wrap .review_help_box .btn_yes {float: right; display: inline-block; padding: 0 25px; height: 38px; line-height: 38px; font-size: 15px; color: #484848; border: 1px solid #eaeaea; border-radius: 15px; box-sizing: border-box;}

.review_pos_wrap .review_help_box {display: none; padding: 7px 16px 8px; color: #646464; border-top: 1px solid #d1d1d6; box-shadow: 0 -5px 5px 0 #e5e5e5;}
.review_pos_wrap.open .review_help_box {display: block;}

.review_pos_wrap .review_help_box:after {content: ""; display: block; clear: both;}
.review_pos_wrap .review_help_box .txt {float: left; line-height: 38px;}
.review_pos_wrap .review_help_box .btn_yes {float: right; display: inline-block; padding: 0 25px; height: 38px; line-height: 38px; font-size: 15px; color: #484848; border: 1px solid #eaeaea; border-radius: 15px; box-sizing: border-box;}

.review .only_txt_wrap .product_name {margin-bottom: 0; height: 28px; line-height: 28px;}
.review .only_txt_wrap .cont .text {overflow: auto; display: block; max-height: 100%; min-height: 300px; margin: 20px 0; white-space: normal; word-break: break-all; -webkit-line-clamp: inherit; -webkit-box-orient: vertical; line-height: 22px;}

.only_txt_wrap .review_help_box {padding: 7px 16px 8px; color: #646464; border-top: 1px solid #d1d1d6; box-shadow: 0 -5px 5px 0 #e5e5e5;}
.only_txt_wrap .review_help_box:after {content: ""; display: block; clear: both;}
.only_txt_wrap .review_help_box .txt {float: left; line-height: 38px;}
.only_txt_wrap .review_help_box .btn_yes {float: right; display: inline-block; padding: 0 25px; height: 38px; line-height: 38px; font-size: 15px; color: #484848; border: 1px solid #eaeaea; border-radius: 15px; box-sizing: border-box;}

/* 리뷰 슬라이드 */
.thum_big_img_box {width: 100%; height: 400px; line-height: 400px; background-color: #000; text-align: center;}
.thum_big_img_box img {width: auto; height: auto; max-width: 375px; max-height: 400px;}

.thum_img_box .slide.ix-slide-max-apply {position: relative;}
.thum_img_box .ix-controller .slide_direction .ix-btn-prev {position: absolute; left: 7px; top: 50%; display: inline-block; width: 19px; height: 35px; background:url("/mo/ko/images/common/ico_prev_slide_19.png") 0 0 no-repeat; background-size: 19px 35px;}
.thum_img_box .ix-controller .slide_direction .ix-btn-next {position: absolute; right: 7px; top: 50%; display: inline-block; width: 19px; height: 35px; background:url("/mo/ko/images/common/ico_next_slide_19.png") 0 0 no-repeat; background-size: 19px 35px;}

/* 리뷰 리스트 */
.review .icon_arrow .product_name {margin-bottom: 0; height: 28px; line-height: 28px;}
.review_overview .icon_arrow .product_name .ellipsis {overflow: hidden; display: -webkit-box; max-height: 35px; white-space: normal; word-break: break-all; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.review_overview .icon_arrow .product_name .ico_arr  {display: inline-block; width: 10px; height: 28px; background: url("/mo/ko/images/common/ico_title_arrow.png") 0 center no-repeat; background-size: 10px 18px;}
