@charset "UTF-8";

/* 검색 레이어 */
.search_layer .search_form{position:static; height: 52px; padding: 9px 50px 0 8px; background: #782fff;}
.search_layer .search_form>.wrap{position:relative; height: 36px; padding:6px 35px 6px 14px; background: #fff; border-radius: 5px;}
.search_layer .search_form>.wrap input{width: 100%; height: 25px; padding-right:30px; border:0;}
.search_layer .search_form>.wrap .btn_del{right:45px}
.search_layer .auto_complete{display:none; position:absolute; top:52px; left:0; bottom:0; z-index: 1; width: 100%; padding: 0 16px; background: #fff;}
.search_layer .auto_complete .brand_info{padding: 16px 0;}
.search_layer .auto_complete .brand_info dt{position:absolute; top:24px; left:60px}
.search_layer .auto_complete .brand_info a{display:block; padding-top: 20px;}
.search_layer .auto_complete .brand_info .brand{margin-top: -20px;}
.search_layer .auto_complete .brand_info + ul li:first-child{border-top:1px solid #e6e6e6;}
.search_layer .auto_complete .keyword_list{border-bottom:1px solid #e6e6e6}
.keyword_area{padding: 0 16px;}
	.keyword_list{}
	.keyword_list>li{position:relative; height: 49px;}
	.keyword_list>li>*:first-child{overflow:hidden; display:block; height: 100%; padding-right: 40px; font-size: 15px; white-space: nowrap; text-overflow:ellipsis; }
	.keyword_list>li>*:first-child:before{content:''; display: inline-block; width: 0;height: 100%; vertical-align: middle;}
	.keyword_list>li + li{border-top: 1px solid #f2f2f2;}
	.keyword_list>li>* + *{position:absolute; top:50%; right:0; transform: translateY(-50%); color:#222; font-size: 13px;}
	.keyword_list>li>* + *:not(button){width: 30px; text-align: center;}
	.keyword_list .num{display:inline-block; width: 15px; margin-right: 5px; margin-top: -2px; text-align: center; vertical-align: middle;}
.keyword_area .bottom{margin: 0 -16px;padding:14px 16px 13px;text-align: right; border-top: 1px solid #e6e6e6; font-size: 15px; color:#888;}
.keyword_area .no_keyword{position:relative; height: 250px;}
.keyword_area .no_keyword>*{position:absolute; top:50%; left:0; width: 100%; text-align: center; margin-top: -0.5em; color:#888;}

.ap_search .no_result{position:relative; height:290px; background: #fff;}
.ap_search .no_result>*{position:absolute; top:50%; left:0; width: 100%; text-align: center; transform: translateY(-50%)}

/* color curation */
.layer_popup.color_curation{background: #fff;}
.layer_popup.color_curation .layer_title{padding: 10px !important; text-align: left !important;}
.color_curation .layer_title>button{position:relative; height: 30px; padding-right:20px; margin-left: 10px; font-size: 15px; font-weight: normal;}
.color_curation .layer_title>button:after{content:''; position:absolute; top:50%; right:0; width: 0; height: 0; border:5px solid transparent; border-top-color:#000; transform: translateY(-25%)}
.color_curation .layer_title>button + button{margin-left: 30px;}
.color_curation .layer_title .color_chip{width: 15px; height: 15px; margin:-2px 7px 0 0;}
.color_curation .section{padding: 35px 10px 0; margin-top: 0; border-bottom:0; text-align: center;}
.color_curation .h_title + p{margin: 2px 0 15px;}
.color_curation .section ul:after{content:''; display: block; clear: both;}
.color_curation .section li{float:left;}
.color_curation .section li a{display:block;}
.season_issue li{width:calc((100% - 10px) / 3); margin:6px 0 0 5px;}
.season_issue li:first-child{width:calc(100% - ((100% - 10px) / 3) - 5px)}
.season_issue li:nth-child(3n+1){margin-left: 0;}
.pop_color_list li{width:calc((100% - 5px) / 2); margin-top: 5px;}
.pop_color_list li:nth-child(even){margin-left: 5px;}
.ad_color_list ul{margin-left:-10px; margin-right: -10px;}
.ad_color_list li{margin-top: 5px;}
.color_curation .video{position:relative; display:block;}
.color_curation .video:after{content:'';position:absolute;bottom: 4%; right: 4%; width: 14.5%;height: 16%;background:url(/mo/ko/images/common/ico_play.png) no-repeat;background-size:100%;}

.color_curation .filter_layer{display:none; position:fixed; top:50px; left:0; bottom:0; z-index: 1; width: 100%; background:rgba(0, 0, 0, 0.5);}
.filter_layer .color_filter,
.filter_layer .wrap{background:#fff;}
.filter_layer .color_chip{width: 50px; height:54px; padding:0 8px 20px 8px;}
.filter_layer .color_chip + .color_chip{margin-left: 0;}
.filter_layer .color_chip .title{position:absolute; bottom:0; left:0; width: 100%; font-size: 13px; text-align: center; color:#999}
.filter_layer .color_chip :checked + label .title{color:#000;}
.filter_layer .color_chip>input:checked + label:after{top:30%}
.filter_layer .brand_filter{max-width:320px; margin:0 auto; padding: 10px 20px;}
.filter_layer .brand_filter li{padding: 5px 0;}
.filter_layer .brand_filter label{padding-left: 25px; color:#999; font-size: 13px; white-space: nowrap}
.filter_layer .brand_filter .check_wrap label:before{background:transparent;}
.filter_layer .brand_filter .check_wrap>input[type="checkbox"]:checked +label{color:#000}
.filter_layer .brand_filter .check_wrap>input[type="checkbox"]:checked + label:before{background:transparent;}
.filter_layer .brand_filter .check_wrap>input[type="checkbox"]:checked + label:after{background-position: -90px 0;}

.color_curation .result_list:after{content:''; display: block; clear: both;}
.color_curation .result_list li{float:left; width:50%; border-bottom:2px solid #fff;}
.color_curation .result_list li:nth-child(odd){border-right:1px solid #fff;}
.color_curation .result_list li:nth-child(even){border-left:1px solid #fff;}

.color_curation .details{padding: 45px 0; text-align: center;}
.color_curation .details .product_name,
.color_curation .details .option_name{font-size: 19px; color:#888; line-height: 1.5;}
.color_curation .details .option_name{color:#000}
.color_curation .details .functions{padding: 25px 0;}
.color_curation .details .functions * + *{margin-left: 45px;}
.color_curation .details [class^="btn_lg"]{position:relative; width: 70%;}
.color_curation .details [class^="btn_lg"] i{position:absolute; top:50%; right:20px; transform: translateY(-50%)}

@media screen and (max-width: 320px) {
	.color_curation .layer_title>button + button{margin-left: 10px;}
}