<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="tag">
	<script th:if="${session.LOGIN_USER != null && session.LOGIN_USER.member != null}">
		if (pageInfo === undefined) {
		    var pageInfo = {};
		    pageInfo.WARNING_TIME = 60000 * 19;
		}
		$(function() {
		
		    $(document).ready(function() {
				if(!AP.common.getCookie('AUTO_LOGIN')) {
			        pageInfo.warning = setTimeout(warningEndOfSession, pageInfo.WARNING_TIME);
				}
		    })
		
		    function warningEndOfSession() {
		        var warningTime = new Date();
		
		
		        var r = confirm("- 개인정보 보호를 위하여, 로그인 후 20분 동안 서비스 이용이 없을경우 자동으로 로그아웃 처리됩니다.\n" + "- 로그인 시간을 연장하시려면, '확인' 버튼을 클릭하세요.\n" + "- '취소' 버튼을 클릭하면, 로그아웃됩니다.");
		        if (r == true) {
		            var clickTime = new Date();
		            if (clickTime.getTime() - warningTime.getTime() > 60000) {
		                endOfSession();
		                return false;
		            }
		            if (pageInfo.warning != undefined) {
		                clearTimeout(pageInfo.warning);
		            }
		            pageInfo.warning = setTimeout(warningEndOfSession, pageInfo.WARNING_TIME);
		        } else {
		            logout(true);
		        }
		    }
		
		    function endOfSession() {
		        alert("- 로그인 세션이 이미 종료되어, 자동으로 로그아웃 되었습니다.\n" +
		            "- 서비스를 다시 이용하시려면, '로그인' 해주시길 바랍니다.");
		        logout(true);
		    }
		
		    $(document).keyup(function(evt) {
		        if (pageInfo.warning != undefined) {
		            clearTimeout(pageInfo.warning);
		        }
		        pageInfo.warning = setTimeout(warningEndOfSession, pageInfo.WARNING_TIME);
		    });
		});

		var progressHtml = '<div id="progress2" style="top: 0;margin-top: 1050px;left: 0;margin-left: calc(50% - 5px);position: absolute;z-index: 10;opacity: 1;/* display: none; */">' +
		'   <div class="loading_full_order">' +
		'		<div class="icon_large">' +
		'			<img alt="" src="/mo/ko/images/common/img_page_loading.png">' +
		'		</div>' +
		'   </div>' +
	 	'</div>';
	 	
		function leaver() {

			$('body').append(progressHtml);
			$('#progress2').fadeIn(500);
		    $.post('/my/page/leaveId', function(data) {
				$('#progress2').remove();
		        /**
		         * 동적으로 생성된 modal의 Node Element 접근하기
		         * alert, confirm, info 모두 동일
		         */

		        var contents = new Object();
		        contents.contents = data;
		        var modal = AP.modal.full(contents);
		        var $modalEl = modal.getElement(); //jquery object

				var outContent = $(".pointbox_out");
				$("input[type='radio'][name=member_out]").click(function(){
					outContent.hide();
					outContent.eq($("input[type='radio'][name=member_out]").index(this)).show();
				});
				
				$("input[name='reasonCode']").click(function () {
				    $('#cause04 ~ .cause_box').css('display', ($(this).val() === 'C04') ? 'block':'none');
				    $('#cause05 ~ .cause_box').css('display', ($(this).val() === 'C05') ? 'block':'none');
				});		

				$("#closeMember").click(function () {

					if(!$('[name=closeAgree]').prop('checked')) {
						AP.modal.alert( "탈퇴여부에 동의해 주세요." );
						return;
					}

	        		if($("[name=reasonCode]:checked").length == 0) {
		        		AP.modal.alert( "탈퇴사유를 체크 해주세요." );
	        			return;
	        		}
	        		if($("#cause06:checked").length != 0 && $("#desc").val() == '') {
		        		AP.modal.alert( "탈퇴사유를 입력 해주세요." );
	        			return;
	        		}
	        		if(!$("[name=closePassword]").val()) {
		        		AP.modal.alert( "비밀번호를 입력해주세요" );
	        			return;
	        		}
	        		var closedAcDetailReason = $('.check_set input[name=reasonCode]:checked + label input[type=text]').val();
	        		if(!closedAcDetailReason)
	        			closedAcDetailReason = $.map($('.check_set input[name=reasonCode]:checked + label + div input:checkbox:checked + label'), function(n, i){return n.textContent;}).join(', ');
					AP.api.closeMember({}, 
					{
					    reasonCode : $("[name=reasonCode]:checked").val(),
					    closedAcDetailReason : closedAcDetailReason,
					    integrationCloseAcYn : $("[name=integrationCloseAcYn]:checked").val(),
					    closePassword : $("[name=closePassword]").val()
					    	
					}).done(function(data) {
			            location.href = "/customer/leaveComplete";
					}).fail(function(xhr, textStatus, errorThrown) {
						if(xhr.errorCode == 'EAPI001') {
		                    AP.modal.alert("비밀번호가 일치하지 않습니다.");
						} else {
		                    AP.modal.alert(xhr.errorMessage);
						}
					}).always(function() {
		                //성공, 실패
		            });
				});
		        
		    });
		}
		function logout(flag) {

		    if (/Android/i.test(navigator.userAgent)) {
		    	try {
		    		window.webview.mobile('logout');
		    	} catch(e) {
		    	}
		    } else if (/iPhone/i.test(navigator.userAgent)) {
		        window.location = "webview://logout";
		    }
		    $.get("/api/logout", function(data) {
		        if (flag)
		            location.reload();
		    });
		}
	         
	         
	
	</script>
	<script>

		function appToWeb(type, data) {
			var data = JSON.parse(data);
			data["type"] = type;
		    AP.api.appToWeb({}, data).done(function(data) {

		    }).fail(function(xhr, textStatus, errorThrown) {
		    	
		    }).always(function() {
		    });
		}
	
		function post_goto(url, parm, target) {
			  var f = document.createElement('form');
	
			  var objs, value;
			  for (var key in parm) {
			    value = parm[key];
			    objs = document.createElement('input');
			    objs.setAttribute('type', 'hidden');
			    objs.setAttribute('name', key);
			    objs.setAttribute('value', value);
			    f.appendChild(objs);
			  }
			        
			  if (target)
			    f.setAttribute('target', target);
			  
			  f.setAttribute('method', 'post');
			  f.setAttribute('action', url);
			  document.body.appendChild(f);
			  f.submit();
		}
		function login() {
        	post_goto('/login', {'returl':location.href.replace(location.origin, '')});
		}
		function logout() {

		    if (/Android/i.test(navigator.userAgent)) {
		    	try {
		    		window.webview.mobile('logout');
		    	} catch(e) {
		    	}
		    } else if (/iPhone/i.test(navigator.userAgent)) {
		        window.location = "webview://logout";
		    }
		    setTimeout(function() {
		    	location.href="/doLogout";
		    }, 1);
		}
	</script>
</head>
</html>
