<div class="header_common">
	<h1><a href="/main"><img ap:src="@{/images/common/img_logo.gif}" alt="ETUDEHOUSE"></a></h1>
	<fieldset class="search_form"> <!-- 02-21 클래스 수정 -->
		<legend class="sr_only">검색</legend>
		<input type="text" title="검색어 입력" value="더블래스팅 쿠션" readonly>
		<button type="button" class="btn_search"><span class="sr_only">검색</span></button>
	</fieldset>
	<a href="/cart/cartList" class="cart"><span class="sr_only">장바구니</span><span class="count" style="display:none;"></span></a>
</div>
