<th:block ap:fragment="meta-info" th:if="${sns} != null">
	<meta property="og:url" th:content="${sns.url}"/>
	<meta property="og:title" th:content="${sns.title}"/>
	<meta property="og:description" th:content="${sns.description}"/>
	<meta property="og:image" th:content="${sns.image}"/>
</th:block>
<th:block ap:fragment="meta-info" th:if="${seo} != null">
	<meta name="title" th:content="${seo.title}">
	<meta name="description" th:content="${seo.description}">
	<meta name="keywords" th:content="${seo.keyword}">
</th:block>